@import url("../velos.css");


body {
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	/* color: #115283; */
}

a{color:#385874; font-weight:bold;}

TEXTAREA{  -moz-border-radius:5px; -webkit-border-radius: 5px; border: 1px solid #9d9d9d;}
SELECT{  -moz-border-radius:5px; -webkit-border-radius: 4px; border: 1px solid #9d9d9d;}
text {  -moz-border-radius:5px; -webkit-border-radius: 5px; border: 1px solid #9d9d9d;}

input[type=text] { -moz-border-radius:5px; -webkit-border-radius: 5px; border: 1px solid #9d9d9d;}
input[type=password] { -moz-border-radius:5px; -webkit-border-radius: 5px; border: 1px solid #9d9d9d;}

INPUT:focus{background-color: #FFF7DD;}
TEXTAREA:focus{background-color: #FFF7DD;}
SELECT:focus{background-color: #FFF7DD;}

Table.tabBorder{background-color:#5f8aad; margin-left:3px;}

DIV.topline{background-color:#165e95; height:5px; display:block; overflow:hidden;}

/********* Tabs *****************/ 
DIV.popDefault Table.selectedTab,
Table.selectedTab {font-family: Arial, Helvetica,  sans-serif; font-size:12px; padding:0px 0px 0px 0px; margin:0px 0px 0px 3px;  
	background-color: #72a3c2; 
}
DIV.popDefault Table.selectedTab TD,
Table.selectedTab TD {font-weight:bold; padding:9px 5px 6px 5px; margin:0px;
	border-top:1px solid #9d9d9d;
	border-left:1px solid #9d9d9d;
	border-right:1px solid #9d9d9d;
	height:30px;
}
DIV.popDefault Table.selectedTab A,
Table.selectedTab A { color:white;  text-decoration:none; font-size:12px; font-weight:normal;}
DIV.popDefault Table.selectedTab A:hover,
Table.selectedTab A:hover { color:black; text-decoration:none; font-size:12px; font-weight:normal;}

DIV.popDefault Table.unselectedTab,
Table.unselectedTab { font-family: Arial, Helvetica,  sans-serif; font-size:12px; 
	padding:0px 0px 0px 0px; margin:0px 0px 0px 3px;
	background-color: #D7DCE0;
	color:black;
}
DIV.popDefault Table.unselectedTab TD,
Table.unselectedTab TD {
	height:30px;
	padding:9px 5px 6px 5px;
	margin:0px;
	border-top:1px solid #9d9d9d;
	border-left:1px solid #9d9d9d;
	border-right:1px solid #9d9d9d;	
}
/*Table.unselectedTab TD:hover { background: #72a3c2; }*/
DIV.popDefault Table.unselectedTab A,Table.unselectedTab A { color: black;	text-decoration:none;  font-size:12px; font-weight:normal;}
/*Table.unselectedTab A:hover {background: #72a3c2; font-weight:normal;} */

/****** Table Default Bottom  ********/
DIV.tabDefBotN Table {
	border-collapse: collapse;
	background-color: #ffffff;
	padding: 0px;
	margin: 0px;
	color: #115283;
}

DIV.tabDefBotN TH {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-right:1px solid #72A3C2;
	border-top:1px solid #72A3C2;
	border-left:1px solid #72A3C2;
}

DIV.tabDefBotN TR {
	height: 30px;
}

DIV.tabDefBotN TD {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	background-color: #ffffff;
	margin: 0px;
	padding: 0px 0px 0px 5px;
	font-size: 12px;
}

DIV.tabDefBotN TD checkbox {
	float: right;
}

DIV.tabDefBotN TD text,DIV.tabDefBotN TD select {
	border: 1px solid #72A3C2;
	height: 25px;
}

DIV.tabDefBotN TD TEXTAREA {
	border: 1px solid #72A3C2;
}

DIV.tabDefBotN A {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: #385874;
	font-size: 12px;
}

DIV.tabDefBotN  A:hover {
	color: black;
}

DIV.tabDefBotN  BUTTON {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}

.eSign {
	background-color: #9f9e9e;
}

/****  Advance search ******/
Table.basetbl {
	border: 1px solid #72A3C2;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:black;
}
.basetbl TR {
	background-color: #ffffff;
}
Table.basetbl a{color: #385874;} /* #83B2DC was too light*/
.basetbl TH{
	color: black;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	background-repeat:repeat-x;
	border-right:1px solid #72A3C2;
	border-left:1px solid #72A3C2;
	border-top:1px solid #72A3C2;
}
.basetbl p {
	font-family: Arial, Helvetica, sans-serif;
	color: #115283;
	font-size: 16px;
	font-weight: normal;
	margin: 5px 0px 10px 0px;
}

.basetbl TD {
	height: 23px;
	padding: 0px 5px 0px 15px;
}

.basetbl TD text,.basetbl TD select, .basetbl TD textarea {
	border: 1px solid #72A3C2;
}

.basetbl TD button {
	margin: 0px 10px 10px 0px;
}

/*** A/C form Edit ***/
table.outline {
	border: 1px solid #72A3C2;
}

table.appendTR TR {
	border: 1px 0px 1px 1px solid #72A3C2;
	background-color: #ffffff;
	margin-top: 10px;
}

/******* home page form fix **********/
.plainBg {
	background-color: #ffffff;
}

/**** dashboard dynamic table *****/

DIV.chartDisplay {
	height: 235px;
	overflow: auto;
	width: 99%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

DIV.chartDisplay table {
	border: 2px solid #72A3C2;
}

DIV.chartDisplay table TR {
	padding: 0px;
	margin: 0px;
}

/* DIV.chartDisplay{height: 230px; width: 155px; border-left:0px; border-bottom:0px; border-top:0px; border-style: double; overflow:auto;}*/
	/********** Form Default *****************/
DIV.formDefault Table {
	border-collapse: collapse;
	/* background-color: #ffffff; */
}

DIV.formDefault TH {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-right:1px solid #72A3C2;
}

DIV.formDefault{background-color: #ffffff;	}

DIV.formDefault TR {
	
}

DIV.formDefault TD {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 12px;
}

DIV.formDefault A {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

DIV.formDefault  A:hover {
	color: black;
}

DIV.formDefault  BUTTON {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

/*********** Dynamic Form Tables ************/
Table.dynFormTable {
	width: padding : 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #ffffff;
}

Table.dynFormTable TH {	font-family: Arial, Helvetica, sans-serif;	color: white;	font-size: 12px; border-right:1px solid #72A3C2;}
Table.dynFormTable TR {	background-color: #ffffff;}
Table.dynFormTable TD {	height: 23px;	padding: 0px 5px 0px 15px;}
Table.dynFormTable TD text,Table.dynFormTable TD select {	border: 1px solid #72A3C2;}
Table.dynFormTable TD button {	margin: 0px 10px 10px 0px;}

Table.dynFormTable A {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: blue;
	font-weight: bold;
	font-size: 12px;
}

Table.dynFormTable  A:hover {	color: black;}
Table.dynFormTable  BUTTON {	font-family: Arial, Helvetica, sans-serif;	font-size: 9pt;}
Table.dynFormTable label {	font-family: Arial, Helvetica, sans-serif;	color: black;	font-size: 12px;}

/* P.dynSection {font-family: Arial, Helvetica,  sans-serif; color:blue;font-size:9pt;font-weight:bold;} */
P.dynSection {
	font-family: Arial, Helvetica, sans-serif;
	color: #385874;
	font-size: 16px;
	font-weight: normal;
	background-color: #ffffff;
	margin: 2px 0px 5px 10px;
	background-color: #ffffff;
}

/*
Table.dynFormTable TH {
background-color:#003366;
color:white;

} */
	/**************************************************************************
common Themes start
**************************************************************************/
DIV.tableDefault TH {	
	color: #292929;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	border-right:1px solid #72A3C2;
	}

DIV.tableDefault {
	padding: 0%;
	text-align: justify;
	background-color:#ffffff;
	color: #115283;
	position: absolute;
	overflow: auto;
	border-style: none; 
	background-color:#ffffff;
}

DIV.tableDefault A {
	font-family: Arial, Helvetica,sans-serif;
	text-decoration:underline;
	color:#385874;
	font-weight:bold;
	font-size:12px;
}

DIV.tableDefault  A:hover {color:black;}
DIV.tableDefault  BUTTON {font-family:Arial, Helvetica,  sans-serif;font-size:9pt;}
DIV.tableDefault TD {font-family: Arial, Helvetica,  sans-serif; color:black;font-size:12px; background-color:#ffffff;}
DIV.tableDefault TH {font-family: Arial, Helvetica,  sans-serif;font-size:12px; border-right:1px solid #72A3C2;}
DIV.browserDefault TD,DIV.pgbrowse TD {	font-family: Arial, Helvetica, sans-serif;	color:black;	font-size: 12px;}
form {
	/* background-color: #ffffff;*/
	padding: 0px;
	margin: 0px;
	height: auto;
}

.txtInput {	border: 1px solid #72A3C2;}
DIV.browserDefault Table,DIV.pgbrowse Table {border-collapse: collapse;/*	background-color: #ffffff;*/}
DIV.browserDefault TH,DIV.pgbrowse TH {
	color: black;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	background-size: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	border-right:1px solid #72A3C2;
	border-top:1px solid #72A3C2;
	border-left:1px solid #72A3C2;
	/* border:1px solid #CBCBCB; */
}

DIV.browserDefault Table.outline,DIV.pgbrowse Table.outline {	border: 1px solid #72A3C2;}
DIV.browserDefault button {	font-family: Arial, Helvetica, sans-serif;	font-size: 9pt;}

tr.pastSchRow TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
font-style: italic;
padding:0px 0px 0px 5px;
background-color: #D4CCDB;
border-style: groove;
border-style: thin;
}

tr.browserEvenRow {	background-color: #EDF5FF;}
tr.browserEvenRow img{ }

tr.browserEvenRow TD {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 12px;
	border-style: groove;
	border-bottom-width: thin;
	border-top-width: thin;
	border-left-width: thin;
	border-right-width: thin;
	border-color: #EDF5FF;
	/*background-color: #fbec87;*/
	background-color: #EDF5FF;
	padding:0px 0px 0px 5px;
	/* border-left-color:#9D9D9D;
	border-right-color:#9D9D9D;
	border-top-color:#CBCBCB;
	border-bottom-color:#CBCBCB; */
}

tr.browserOddRow {	background-color: #ffffff;}
tr.browserOddRow TD {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 12px;
	border-style: groove;
	border-bottom-width: thin;
	border-top-width: thin;
	border-left-width: thin;
	border-right-width: thin;
	border-color: #72A3C2;
	background-color: #ffffff;
	padding:0px 0px 0px 5px;
	/* border-left-color:#9D9D9D;
	border-right-color:#9D9D9D;
	border-top-color:#CBCBCB;
	border-bottom-color:#CBCBCB; */
}

.searchBg {	
	background-color: #e5e5e5;
	border: 1px solid #a9a9a9;
}

table.esignStyle{background-color:#9D9D9D; border: 1px solid #9D9D9D; margin: 0px 0px 0px 8px; padding:5px 0px 5px 0px;}

.searchBg text,.searchBg select {	border: 1px solid #72A3C2;}
.tmpHeight {	height: 10px;}

/* .borderSet TR TD{border:1px solid #CBCBCB;} */
.labelFont {	color: black;	padding: 0px 0px 0px 5px;}
.rhsFont {	padding: 0px 10px 0px 0px;}
.lhsFont {	padding: 0px 0px 0px 5px;}
.strongFont {	font-weight: bold;}

DIV.browserDefault A,DIV.pgbrowse A {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-left: 5px;
/*	color:#385874; */ 
}

FONT.Green {
	font-family: Arial, Helvetica, sans-serif;
	color: green;
	font-size: 12px;
}

A FONT.Green {
	text-decoration: underline;
}

FONT.Mandatory {	font-family: Arial, Helvetica, sans-serif;	color: red;}
DIV.formBrwDefault TH { /*background-color:#003366;*/
	color: white;
	background-image: url(../../images/mgPanelimages/gradients_default.png);
	border-right:1px solid #72A3C2;
}

DIV.popDefault Table {}
DIV.popDefault TH {
	background-color: #ffffff;
/*	color: white; */
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica,  sans-serif;
	font-size:12px;
	height:30px;
	border-right:1px solid #72A3C2;
}
DIV.popDefault TD {font-family: Arial, Helvetica,  sans-serif; color:black; font-size:12px;}
DIV.popDefault A {
	font-family: Arial, Helvetica,  sans-serif;
	/* font-weight:bold; */
	font-size:12px;
	color:#385874;
}

DIV.popDefault span A{
	font-family: Arial, Helvetica,  sans-serif;	
	font-size:8pt;	
	color:#385874;	
}

DIV.popDefault A:hover {color:black;}
DIV.popDefault BUTTON {font-family:Arial, Helvetica,  sans-serif; font-size:9pt;}
DIV.popDefault HR {color:#000066;}


tr#headSection TD {
	font-family: Arial, Helvetica,  sans-serif;
	color:white;
	font-size:12px;
	font-weight:bold;
	background-color:#72A3C2;
}

tr#tableheading TH {
	color: #292929;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	border-right:1px solid #72A3C2;		
}

DIV#myStudies TH { /*background-color:#003366;*/
	color: white;
	background-image: url(../../images/mgPanelimages/gradients_default.png)
	border-right:1px solid #72A3C2;
}

DIV.browserDefaultPat TH {	background-color: #003366;	color: white; border-right:1px solid #72A3C2;}
TR.popupHeader TH {	
	color: black;
	/*background-image: url(../../images/skin_redmond/bg-tbheading.jpg);*/
	background-color:#;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	border-right:1px solid #72A3C2;
	}
DIV.formWithLinks TH {	background-color: #003366;	color: white; border-right:1px solid #72A3C2;}
DIV.accLinksmgpat TH {	background-color: #003366;	color: white; border-right:1px solid #72A3C2;}
DIV.accLinksmgpat TR {	background-color: #003366;}

/* new 28 */
TD.grayComments {	color: #black;	font-family: Arial, Helvetica, sans-serif;	font-size: 8pt;	}
DIV.tabDefBot TH {	background-color: #5F8AAD;	border-right:1px solid #72A3C2;}
DIV.tabFormBot TH {	background-color: #5F8AAD;	 border-right:1px solid #72A3C2;}
TH.reportHeading {
	color: black;
	/*Modified for Bug#8652 | Date 28 Feb 2012 | By: YPS*/
	/* background-image: url(../../images/skin_redmond/bg-tbheading.jpg);*/
	background-color:#8DA9BF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
}

.headerFormat tr th {
 	background-image: url(../../images/skin_default/bg-tbheading.jpg);
 	background-size: auto 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px; 
	border-top:1px solid #72A3C2;
	border-right:1px solid #72A3C2;
}
TR.reportGraphBar {	color: white;	background-color: #003366;}
DIV.tabDefBotN table.outline {	border: 1px solid #72A3C2;}
DIV.tabDefBotN table.midAlign {	margin: 0px 0px 0px 8px;	background-color: #ffffff;}
DIV.tabDefBotN TH {
	color: black;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	border-right:1px solid #72A3C2;
}

DIV.BrowserBotN TH {
	color: black;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	border-right:1px solid #72A3C2;
	border-left:1px solid #72A3C2;
	border-top:1px solid #72A3C2;
}

DIV.BrowserBotN table.outline{border: 1px solid #72A3C2;}
DIV.BrowserBotN table.midAlign {	margin: 0px 0px 0px 8px;	background-color: #ffffff;}
/* DIV.BrowserBotN table a{color:#385874;}
DIV.BrowserBotN table a:hover{color:#385874;} */
DIV.BrowserTopn table {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 12px;
	border-collapse: collapse;
}

DIV.BrowserTopn TH {
	background-color: #ffffff;
	color: black;
	background-image: url(../../images/mgPanelimages/gradients_default.png);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-right:1px solid #72A3C2;
}

DIV.BrowserTopn TD {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 12px;
}
DIV.BrowserTopn A:hover {
	
}

DIV.BrowserTopn BUTTON {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
DIV.BrowserTopn table text, DIV.BrowserTopn table select{	border: 1px solid #72A3C2;
	height: 25px;}
DIV.BrowserBotN Table {
	border-style: none;
	border-collapse: collapse;
	background-color: #ffffff;
}

DIV.BrowserBotN A {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: #385874;
	/* font-weight: bold; */
	font-size: 12px;
}

/* DIV.BrowserBotN A:hover {
	color: red;
}*/

DIV.BrowserBotN BUTTON {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

DIV.BrowserBotN TD {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 12px;
}

/* .defComments_studysetup {
	font-family: Arial, Helvetica, sans-serif;
	color: #385874;
	font-size: 8pt;
}*/


DIV.BrowserBotN TH {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-right:1px solid #72A3C2;
}
DIV.tabFormTopN table{border:collapse; border:1px solid #72A3C2;}

DIV.tabFormTopN TH {
	color: #292929;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	border-right:1px solid #72A3C2;
}
DIV.tabFormTopN a{color:#385874;}
DIV.tabFormTopN a:hover{color:#385874;}

DIV.tabFormBotN Table {border-collapse: collapse;}

DIV.tabFormBotN A {
	font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	color:#385874;
	font-weight:bold;
	font-size:12px;
}

DIV.tabFormBotN  A:hover {color:black;}

DIV.tabFormBotN  BUTTON {font-family:Arial, Helvetica,  sans-serif;
font-size:9pt;}


/* DIV.tabFormBotN TD {font-family: Arial, Helvetica,  sans-serif; color:#292929; font-size:12px; font-weight:bold;} */ /* changing this due to grid bold in lib>form>search>addfield*/
DIV.tabFormBotN TD {font-family: Arial, Helvetica,  sans-serif; color:black; font-size:12px;}



DIV.tabFormBotN TH {
	color:black;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	height: 30px;
	font-size:12px;
	border-right:1px solid #4297d7;
	border-top:1px solid #72A3C2;
}

DIV.tabFormBotNInv TH {
	color: black;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	border-right:1px solid #72A3C2;
}
DIV.tabFormBotNInv a{color:#115283;}
DIV.tabFormBotNInv a:hover{color:#115283;}

/********** tabdefbot *************/

DIV.tabDefBot TH {font-family:Arial, Helvetica,  sans-serif;font-size:12px; border-right:1px solid #72A3C2;}

DIV.tabFormTop A {
	font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	color:#115283;
	font-weight:bold;
	font-size:12px;
}

DIV.tabFormTop Table {border-style: none;}

DIV.tabFormTop TH {
	background-color:#CFC8FF;
	font-family: Arial, Helvetica,  sans-serif;
	color:black;
	font-size:12px;
	border-right:1px solid #72A3C2;
}

DIV.tabFormTop  A:hover {color:black;}

DIV.tabFormTop TD {font-family: Arial, Helvetica,  sans-serif; color:black; font-size:12px;}

DIV.tabFormTop  BUTTON {font-family:Arial, Helvetica,  sans-serif;font-size:9pt;}

DIV.tabFormBot Table {border-style:none;  border-collapse: collapse;}

DIV.tabFormBot A {
	font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	color:#115283;
	font-weight:bold;
	font-size:12px;
}

DIV.tabFormBot  A:hover {color:black;}

DIV.tabFormBot  BUTTON {font-family: Arial, Helvetica,  sans-serif;font-size:9pt;}

DIV.tabFormBot TD {font-family: Arial, Helvetica,  sans-serif;color:black;font-size:12px;}

DIV.tabFormBot TH {font-family: Arial, Helvetica,  sans-serif;font-size:12px; border-right:1px solid #72A3C2;}




/************ P tag for Section Headings **********/
DIV.tabDefBotN P.sectionHeadings {
	font-family: Arial, Helvetica, sans-serif;
	color: #385874;
	font-size: 16px;
	font-weight: normal;
	background-color: #ffffff;
	margin: 2px 0px 5px 10px;
	background-color: #ffffff;
}

.sectionHeadingsFrm {
	font-family: Arial, Helvetica, sans-serif;
	color: #385874;
	font-size: 16px;
	font-weight: normal;
	padding: 0px 0px 2px 10px;
	background-color: #ffffff;
}

P.sectionHeadings {
	font-family: Arial, Helvetica, sans-serif;
	color: #385874;
	font-size: 16px;
	font-weight: normal;
	margin: 2px 0px 5px 0px;
	background-color: #ffffff;
}

.sectionHeadings {
	font-family: Arial, Helvetica, sans-serif;
	color: #115283;
	font-size: 16px;
	font-weight: normal;
	padding: 2px 0px 5px 0px;
	background-color: #ffffff;
}

P.reportHeadings {
	font-family: Arial, Helvetica,  sans-serif;
	color:#115283;
	font-size:12px;
	font-weight:bold;
	padding:0px 0px 3px 5px;
}

/****************************************/
HR.thickLine {
	height: 3px;
	color: #145C91;
}

.bluehr {
	color: #145C91;
}

.welcome {
	font-size: 12pt;
	font-family: arial;
	color: #115283;
	font-weight: bold
}

table.comPopup TH {
	/*background-color: #003366; */
	color: #292929;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	background-repeat:repeat-x;	
	border-right:1px solid #72A3C2;
}

tr.comPopup TH {
/* 	background-color: #003366;*/
	color: #292929;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	background-repeat:repeat-x;	
	border-right:1px solid #72A3C2;
}

td.tdDefault {
	font-family: Arial, Helvetica,  sans-serif;
	color:black;
	font-size:12px;
	height:20px;
}

/*********** P comments ****************/

P.defComments {
	font-family: Arial, Helvetica, sans-serif;
	color: #385874; 
	font-size: 8pt;
	padding: 0px;
}

P.SectionHeadings {
	font-family: Arial, Helvetica, sans-serif;
/*	color: black; */
	font-size: 16px;
	padding: 0px;
}

.defComments {
	font-family: Arial, Helvetica, sans-serif;
	/* color: #115283;*/
	color: #385874;	
	font-size: 12px;
	padding: 5px 0px 0px 15px;
}

P.defComments_txt {
	font-family: Arial, Helvetica, sans-serif;
	/* color: #115283;*/
	color: #385874;	
	font-size: 8pt;
}

.comments {
	font-family: Arial, Helvetica, sans-serif;
	color: #115283;
	font-size: 12px;
}

#TH_SCH {
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: "Arial, Helvetica,  sans-serif";
	color: black;
	font-size: 12px;
	height: 25px;
}

DIV.formDefault TH {
	background-color: #003366;
	border-right:1px solid #72A3C2;
}

TD.reportName {
	font-family: Arial, Helvetica,  sans-serif;
	color:black;
	font-size:9pt;
	font-weight:bold;
	background-color:#72A3C2;
}
TD.reportData {font-family: Arial, Helvetica,  sans-serif; color:black; font-size:12px;}
.PopupTitle{background-color:#9d9d9d;}



DIV.popDefault table tr th{
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	background-size: auto 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	border-right:1px solid #72A3C2;
	border-left:1px solid #72A3C2;
	color:black;
	border-top:1px solid #72A3C2;
	font-weight:bold;
}
TH.whiteBack {
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	color:black;
}
.scrollTable {
	 color: #000000;
	 font-family: Arial, Helvetica,  sans-serif;
	 text-decoration: none;
}

TR.reportGraphRow {
	font-family: Arial, Helvetica,  sans-serif;
	color:black;
	font-size:12px;
	background-color:#EDF5FF;
}
TR.reportEvenRow {
	font-family:Arial, Helvetica,  sans-serif;
	color:black;
	font-size:12px;
	background-color:#EDF5FF;	
}

TR.reportOddRow {
	font-family:Arial, Helvetica,  sans-serif;
	color:black;
	font-size:12px;
	background-color:#ffffff;	
}

TD.reportGrouping {
	font-family: Arial, Helvetica,  sans-serif;
	font-size:12px;
	font-weight:bold;
}
/******************  YUI  New styles  ********************/
/* .yui-dt table{width:100%; left:30px;}*/
.yui-dt table th{
	color: black;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	background-repeat:repeat-x;	
}
}
Table.patHeader {border-style:none; top:0px;}

Table.patHeader A {font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	font-weight:bold;
	font-size:12px;
}

Table.patHeader A:hover {color:black;}

Table.patHeader TD {font-family: Arial, Helvetica,  sans-serif;
	color:black;
	font-size:12px;
}

TH.headernoColor {font-family: Arial, Helvetica,  sans-serif;
	color:black;
	font-size:12px;
}

UL {
	PADDING: 0px;
	MARGIN: 0px;
}

#nav-one LI {
	PADDING: 0px;
	MARGIN: 0px;
	height: 29px;
	text-align: center;
}

ul.dropmenu {
	position: relative;
	z-index: 999;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 4px;
}

#nav-one {
	width: 100%;
}

.dropmenu ul {
	background-color: #ffffff;
}

.dropmenu ul a {
	color: #FFFFFF;
	border: 1px solid #72A3C2;
	font-size: 12px;
	white-space: nowrap;
	display: block;
}

.dropmenu ul a:hover {
	color: #000000 !important;
	background-color: #F0F0F0;
	background-image: none;
	text-decoration: none;
	font-size: 12px;
	font-weight:bold;
}

.dropmenu ul li {
	border: 0;
	float: none;
}

.dropmenu li span {
	display: block;
	float: right;
	height: 10px;
	width: 10px;
	position: absolute;
	top: 12px;
	right: 10px;
}

.dropmenu li {
	position: relative;
	list-style: none;
	float: left;
	margin: 0px;
	padding: 0px;
	background-color: #72A3c2;
	font-weight:bold;
}

.dropmenu li:hover { background-color: #e5e5e5; color: black;}

.dropmenu li a {
	border-right: solid 1px #72A3C2;
	background-color: #72A3c2;
	color: #FFFFFF;
	/*text-transform: capitalize;*/
	height: 22px;
	z-index: 999;
	padding: 7px 4px 0px 4px;
	display: block;
	cursor: pointer;
	text-decoration: none;
	font-family: inherit;
	font-size: 12px;
	text-align: center;
	font-weight:normal;
}

.dropmenu li a:hover {
	background-color: #e5e5e5;
	color: black;
	/*text-transform: capitalize;*/
	font-weight:bold;
	font-weight:normal;
}

.dropmenu li:hover ul {
	background-color: #D7DCE0;
	color:black;
}

.dropmenu li div {
	background-color: #FFFFFF;
	border: 1px solid #72A3C2;
	padding: 5px 3px 5px 5px;
	display: none;
	position: absolute;
	height: auto;
	font-weight:normal;
}

.dropmenu li div ul {
	paddint: 0px 0px 0px 0px;
	border: none;
	background: none;
	position: relative !important;
}

.dropmenu li div ul li {
	background-color: #ffffff;
	background-image: none;
	margin: 0px;
	color: black;
	font-weight:normal;
}

.dropmenu li div ul li:hover {
	background-color: #ffffff;
	background-image: none;
	color: black;
	margin: 0px;
}

.dropmenu li div ul li a {
	height: 22px;
	padding: 6px 0px 0px 5px;
	margin: 0px 3px 3px 0px;
	width: 98%;
}

.dropmenu li div ul li h2 {
	margin: 0px 3px 0px 0px;
	background-color: #72A3c2;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	/*text-transform: capitalize;*/
	text-align: left;
	font-weight: none;
	height: 29px;
	padding: 7px 0px 0px 5px;
}

.dropmenu li div a {
	border: none;
	text-align: left;
	color: black;
	padding: 0px;
	text-decoration: none;
	background-color: #FFFFFF;
}

.dropmenu li div a:hover {
	color: black;
	font-weight:normal;
}

.dropmenu li div div {
	display: block;
	position: relative;
	background: none;
	border: none;
}

.dropmenu li div div a {
	display: block;
	border: none;
	color: #666;
	text-decoration: underline;
	padding: 0px;
	margin: 0px;
	text-transform: none;
}

.dropmenu li div div a:hover {
	color: #000;
	text-decoration: none;
}

ul.left {
	float: left;
	width: 145px;
}

ul.right {
	float: right;
	width: 145px;
}

li.left {
	float: left;
	width: 145px;
}

li.right {
	float: right;
	width: 145px;
}

.personalize {
	width: 150px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.manage {
	width: 295px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.research {
	width: 150px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.library {
	width: 295px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.inventory {
	width: 140px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.reports {
	width: 140px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.regreporting {
	width: 140px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}
.pfmenu {
	width: 140px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}
/*-----------Right Starts-------------*/
.personalizeRight {
	width: 150px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.manageRight {
	width: 295px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.researchRight {
	width: 150px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.libraryRight {
	width: 300px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.inventoryRight {
	width: 140px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.reportsRight {
	width: 140px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.regreportingRight {
	width: 140px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}
.pfmenuRight {
	width: 140px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}
/*-----------Right Ends-------------*/
.ui-widget-header{
	color: #292929;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;		
}

DIV.tabDefTopN Table {border-style: none;  }
DIV.tabDefTopn TH {
	color: black;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	background-size: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	border-right:1px solid #72A3C2;
	border-top:1px solid #72A3C2;
	border-left:1px solid #72A3C2;
}
DIV.tabDefTopN TD {font-family: Arial, Helvetica,  sans-serif;color:black;font-size:12px;}
DIV.tabDefTopn  A:hover {color:black;}
DIV.tabDefTopN  BUTTON {font-family:Arial, Helvetica,  sans-serif;font-size:9pt;}

/**** cleaned out styles from ns_1024.css and ns_gt1024.css **********/

DIV.popDefault{	border:1px solid #9d9d9d;}
DIV.tabDefBotN{border: 1px solid #72A3C2;} 	
div#header{border-bottom: solid 1px #72A3C2;} 
DIV.BgtTabFormBotN{	border: 1px solid #72A3C2;}
DIV.BgtTabFormN{border: 1px solid #72A3C2;}
DIV.BrowserBotN{border: 1px solid #72A3C2;} 
DIV.tabFormBotN{border: solid 1px #72A3C2;} 	
div#leftcolumn{border-right: solid 1px #72A3C2;} 
DIV.BgtDivBottom{border: 1px solid #72A3C2;}
DIV.tabFormBotNInv{	border: solid 1px #72A3C2;} 
DIV.BrowserBotN_top1{	border: 1px solid #9D9D9D;}

/********** IE color properties ***********/
.searchBg tr{border:1px solid #72A3C2; }
DIV.tabDefBotN TD text, DIV.tabDefBotN TD SELECT{border:1px solid #72A3C2;	} 

tr.browserEvenRow TD {border:1px solid #72A3C2;}
tr.browserOddRow TD {border:1px solid #72A3C2; }

/********* brought from non colored item stylesheets *******************/
DIV.BrowserBotN {background-color: #ffffff;}
DIV.tabDefBotN {background-color:#ffffff;}
DIV.tabFormBotN {	background-color: #ffffff;}
DIV.tabFormBotNInv {background-color: #ffffff;}
.centerme{	margin:auto;	width:70%;	font: normal bold 12px arial;	}

DIV.tabFormTopN {background-color:#ffffff;}
DIV.formDefault_event{background-color: #ffffff;	}

.speca a{color:#385874; font-weight:normal;}
.speca a:hover{color:#385874; font-weight:normal;}

DIV.browserDefault A:hover, DIV.pgbrowse  A:hover {/*color:black; */} /****fixed for the bug 8975 ***/
TH.reportClrHead {
	font-family:Arial, Helvetica,  sans-serif;
	color:black;
	font-size:12px;
	font-weight:bold;
	background-color:#8DA9BF;
} 
.quickLinks_border{
	border:1px solid #72A3C2;

}


.successfulmsg{
	font-family:Arial, Helvetica,  sans-serif;
	color:black;
	font-size:12px;
	font-weight:bold;
	padding:5px 0px 5px 0px;
	background-color:#ebeaea;	
}

.bgcolorFix {background-color:#ffffff;}

.title th{font-weight:bold;}
.ui-widget-header { border: 1px solid #aaaaaa/*{borderColorHeader}*/; background: #cccccc/*{bgColorHeader}*/ /*url(images/ui-bg_highlight-soft_75_cccccc_1x100.png)*/url(../../images/mgPanelimages/nmdb_red.png)/*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/; color: #222222/*{fcHeader}*/; font-weight: bold; }
/*.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #999999/*{borderColorHover}*//*; background: #dadada/*{bgColorHover}*/ /*url(images/ui-bg_glass_75_dadada_1x400.png)/*{bgImgUrlHover}*/ /*50%/*{bgHoverXPos}*//* 50%/*{bgHoverYPos}*/ /*repeat-x/*{bgHoverRepeat}*//*; font-weight: normal/*{fwDefault}*//*; color: #212121/*{fcHover}*//*; }*/
.ui-button .ui-button-text{color:#FFFFFF;}
/*.ui-button{color:#555555; background-color:#f0f0f0;}*/

.ui-button, .ui-state-hover{
	color: #FFFFFF;
	background: none repeat scroll 0 0 #72a3c2;
	border-radius: 3px 3px 3px 3px;
    cursor: pointer;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #4b86b2/*{borderColorHighlight}*/; background: #85b5d9/*{bgColorHighlight}*/ /*url(images/ui-bg_glass_55_fbf9ee_1x400.png)/*{bgImgUrlHighlight}*/ 50%/*{bgHighlightXPos}*/ 50%/*{bgHighlightYPos}*/ repeat-x/*{bgHighlightRepeat}*/; color: white/*{fcHighlight}*/; }
DIV.ui-widget{font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 8pt; background-color:white;}

DIV.tabFormTopN A {
	font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	color:#385874;
	font-weight:bold;
	font-size:12px;
}

table.redmondTxtcolor{color:black;}
td#tdComments {
	font-family: Arial, Helvetica,  sans-serif;
	color:#385874;
	font-size:8pt;
	font-style:italic;
}


.ui-accordion-header, .ui-state-active{background: url(../../images/mgPanelimages/nmdb_red.png);}


/************* from velos.css to make it theme specific ********************************/ 

tr.subCostRow {background-color:#81BEF7;}
tr.subCostRow TD {font-family: Arial, Helvetica,  sans-serif; color:black; font-size:8pt;
margin: 1px;
padding:0px 0px 0px 5px;}
tr.pastSchRow {background-color:#FFCC99;}
tr#browserOddRow {background-color:#ffffff; border: 1px solid #72A3C2;}
tr#browserOddRow TD {font-family: Arial, Helvetica,  sans-serif; color:black; font-size:12px; border: 1px solid #72A3C2;}
tr#browserEvenRow {background-color:#EDF5FF; border: 1px solid #72A3C2;}
tr#browserEvenRow TD {font-family: Arial, Helvetica,  sans-serif; color:black; font-size:12px; border-right: 1px solid #72A3C2;}
tr#browserBoldRow TD {font-family: Arial, Helvetica,  sans-serif; color:black; font-size:12px; font-weight:bold;}

td.normalinfoodd a{color:#385874;}
td.normalinfoeven a{color:#385874;}

.bodyFormat tr td { 
	border-bottom:1px solid #72A3C2;	
	border-left:1px solid #72A3C2;
}


tr.plainRow TD {
	font-family: Arial, Helvetica,  sans-serif;
	color:black;
	font-size:8pt;
	border-bottom:1px solid #72A3C2;	
	border-left:1px solid #72A3C2;
	border-right:1px solid #72A3C2;
}

/*CONTEXT MENU THEME*/

.context-menu-theme-default {
    background-color: #FFFFFF;
    border: 1px outset #72A3c2;
}

.busy, .busy * {  
      cursor: wait !important;  
    }  
.context-menu-theme-default .context-menu-item {
    color: black;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 4px 4px 4px 4px;
    text-align: left;
}
.context-menu-theme-default .context-menu-separator {
    border-bottom: 1px solid #9d9d9d;
    border-top: 1px solid #9d9d9d;
    font-size: 0;
    margin: 4px 2px;
}
.context-menu-theme-default .context-menu-item-disabled {
    color: #808080;
}
.context-menu-theme-default .context-menu-title .context-menu-title-inner{
    background-color: #72a3c2;
    color: #FFFFFF;
    font-size: 11px;
    vertical-align: middle;
    padding: 4px 4px 4px 4px;
}
.context-menu-theme-default .context-menu-item .context-menu-item-inner {
    background: none no-repeat fixed 999px 999px transparent;
}
.context-menu-theme-default .context-menu-item:hover {
    background-color: #72A3c2;
    color: white;
}
.ui-widget-content A {
	color: #385874;
}
ul.ui-widget-header {
	background: none;
	background-color: #72A3c2;
}
ul.ui-widget-header li.ui-tabs-selected  {
	background: none;
	background-color: #d7dce0;
}
ul.ui-widget-header li{
	background: none;
}