/* CSS Document */

		.graph_container .y_axis .y_axis_container .y_axis_text span{ writing-mode: tb-rl; filter: flipV flipH; }
		.graph_container .axis_splitter .axis_splitter_size div { background-color: #ffffff; background-image: none; }
		.graph_container .axis_splitter .axis_splitter_size .out { background-image: none; filter: none; }
		.graph_container .axis_splitter .axis_splitter_size .over { background-image: none; filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#cccccc', startColorstr='#ffffff', gradientType='0'); }
		.graph_container .axis_splitter .axis_splitter_size .down { background-image: none; filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#ffffff', startColorstr='#cccccc', gradientType='0'); }
		.graph_container .axis_splitter .axis_splitter_size div div { background-color: transparent; }
		.graph_about .ok_area button { background-image: none; filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#cccccc', startColorstr='#ffffff', gradientType='0'); }