/******** General Styles ********/
body, p, td, ul, ol, li, H3, H4, H5, H6 {
  line-height: 16px; /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
}
body {
		font-family: Calibri, Verdana, Helvetica, Arial, sans-serif;
		font-size:1.0em;
		background: #ffffff;
		width:900px;
		margin: 0px;
		color: #333333; }
H1 { /*font-family: Georgia, "Times New Roman", serif;*/ margin: 0px; padding-top:10px; padding-bottom:10px;/* font-size: 18px;*/ color: #015293;}
H2 { /*font-family: Georgia, "Times New Roman", serif; */margin: 0px; display:inline; font-weight: bold; /*font-size: 16px;*/ color: #7e4500; }
H3 { /*font-family: Verdana, Arial, Helvetica, sans-serif; */margin: 0px; display:inline; font-weight: bold;/* font-size: 14px;*/ color: #3c5faf;}
H4 { /*font-family: Verdana, Arial, Helvetica, sans-serif;*/ margin: 0px; display:inline; font-weight: bold; /*font-size: 12px;*/ color: #000000; }
 
a { color:#000098; }
a:visited { color:#7e4502; }

hr { color: #bfbfbf; size:1px; }

/** Home Page Left Column HR **/
#homeLeftColumnHR { margin:0px; padding:0px; color:#bfbfbf; }

/** Home Page Right Column HR **/
#homeRightColumnHR { color:#FFFFFF; }

/** top logo cell settings **/
#topLogoCell { background-color:#0063cb ; }

ul { margin-top: 5px; }
ol { margin-top: 5px; }
li { margin-top: 10px; }

/************* content panels **************/
#centerPanel {
  padding: 10px;
  vertical-align:top;
}
.sidePanel {
  background-color: #e9edee;  
  vertical-align:top; 
  padding:10px;
}
.homePageSidePanel {
  vertical-align:top;
  padding:10px;
}
#homePageSpacer {
  background-color: #bfbfbf;
  margin:2px;
}
.sidePanel hr, .homePageSidePanel hr {
   color: #FFFFFF; size:1px;
}
.sidePanel ul, homePageSidePanel ul, .sidePanel ol, homePageSidePanel ol {
  margin: 1px 1px 1px 8px; padding-left: 7px;
}


/********* Navigation **************/
#topNav, .topNav {
  background-color:#3b60af;
  color:#FFFFFF;
 /* font-size: 12px;*/
  text-align:right;
  padding:5px;
}
#topNav a:link, #topNav a:visited, .topNav a:link, .topNav a:visited {
  color:#FFFFFF;
  text-decoration:none;
}

.loginLink {
  font-weight: bold;
  text-decoration: none;
}

/** Main Nav **/
#mainNav {
  background:#2fbfc8 none repeat scroll 0 0;
  color:#FFFFFF;
 /* font-size:11px;*/
  /*font-family: "Franklin Gothic";*/
  text-align:center;
  margin-top:1px;
  margin-bottom:1px;
}
.mainNavCell {
  text-align:center;
  padding-bottom:3px;
  padding-top:2px;
  white-space:nowrap;
  padding-left:3px;
  padding-right:3px;
}
.mainNavSpacer {
  padding-bottom:3px;
  padding-top:2px;
  width:1px;
}
.mainNavCellSelect {
  background-color:#3b60af;
  font-weight:bold;
  text-align:center;
  padding-bottom:3px;
  padding-top:2px;
}
.mainNavCell a, .mainNavCell a:visited, .mainNavCellSelect a, .mainNavCellSelect a:visited {
  color:#FFFFFF;
  text-decoration:none;
}

/* Drop Down Navigation */
#dropmenudiv {
 position:absolute;
 border:1px solid #3b60af;
 border-bottom-width: 0;
/* font:normal 10px Verdana;*/
 line-height:18px;
 z-index:100;
 background-color:#e9edee;
}

#dropmenudiv a {
 display: block;
 border-bottom: 1px solid black;
 padding: 1px 2px 1px 4px;
 text-decoration: none;
 font-weight: normal;
 color:#3b60af;
 line-height:16px;
}
#dropmenudiv a:hover { background: #2fbfc8; color: #ffffff; text-decoration: none; }

/** Left Navigation **/
/*#leftNav { font-size:11px; }*/
#leftNav ul { margin: 5px 5px 0px 5px; list-style-type:none; }
#leftNav li {
 background-image: url("/images/bullet_side_nav.gif");
 background-repeat: no-repeat;
 background-position: 0 .2em;
 padding-left: .8em;
 line-height: 12px;
 margin-bottom: 5px;
 margin-top:1px;
}

#leftNav li ul { margin-top:5px; }
#leftNav a:link, #leftNav a:visited, #leftNav a:active { text-decoration: none; }
#leftNav a:hover { text-decoration: underline; }
#leftNav .sec1 a:link, #leftNav .sec1 a:visited, #leftNav .sec1 a:hover, #leftNav .sec1 a:active { color: #000000; font-weight: normal; }
#leftNav .sec2 a:link, #leftNav .sec2 a:visited, #leftNav .sec2 a:hover, #leftNav .sec2 a:active { color: #9B6400; font-weight: normal; }
#leftNav .sec3 a:link, #leftNav .sec3 a:visited, #leftNav .sec3 a:hover, #leftNav .sec3 a:active { color: #9B6400; font-weight: normal; }
#leftNav .sec4 a:link, #leftNav .sec4 a:visited, #leftNav .sec4 a:hover, #leftNav .sec4 a:active { color: #9B6400; font-weight: normal; }
/* left nav bullet points */
.sec1, #leftNav .sec1, #leftNav li .sec1 { background-image: none; margin-left:0px; }
/* left nav active mouse click */
#leftNav .sec1 a:active, #leftNav .sec2 a:active, #leftNav .sec3 a:active, #leftNav .sec4 a:active { }
/* left nav current page highlight */
#leftNav a.active:link, #leftNav a.active:visited, #leftNav a.active:hover, #leftNav a.active:active { font-weight: bold; }

/** breadcrumb nav **/
#bCrumbNav, #bCrumbNav a, #bCrumbNav a:hover, #bCrumbNav a:visited {
  color: #000098;
  /*font-size:11px;*/
  margin-bottom:10px;
}

/** printer friendly **/
#printPage, #printPage a:link, #printPage a:visited { color:#000100; }

/** on this page nav **/
.onThisPage { border-top:1px #bfbfbf solid; border-bottom:1px #bfbfbf solid;  padding:10px 5px; font-weight: bold; color: #3c5faf; }
.onThisPage a, .onThisPage a:visited { color: #7f4304; font-weight: normal; }

/** return top nav **/
.returnTop, .returnTop a, .returnTop a:visited { color:#0073AE; text-align: right; }
.returnTopArrow { color:#0073AE; }

/** small text for notes, photo captions etc. **/
.small { /*font-size:90%; */}

/** related topics nav **/
#relatedTopics { font-weight: bold; color: #235d0d; }
#relatedTopics li { margin-top:1px; }
#relatedTopics a { font-weight: normal; color: #7f4304; }
#relatedTopicsDiv { color:#bfbfbf; }

/** Content Owner statement **/
#contentOwner     {/* font-size:90%; */}
#contentOwnerDiv  { color:#bfbfbf; }

/** bottom nav **/
.BottomNav { padding:4px; /*font-size:11px;*/ text-align:center; background-color: #dde6ed; }
.BottomNav a, .BottomNav a:visited { color:#000098; }
#copyright { padding:4px; /*font-size:10px;*/ text-align:center; background-color: #dde6ed; }
#copyright a, #copyright a:visited { color:#000098; }

/******* Last Updated Box ********/
#LastUpdated {
  background-color:#2fbfc8;
  color: #FFFFFF;
/*font-size:11px;*/
  text-align: right;
  padding:2px;
}

/* Call to Action Panels */
.cta    { /*font-family: Verdana, Arial, Helvetica, sans-serif; font-size:11px;*/ }
.cta hr { color: #bfbfbf; }
.cta a:link, .cta a:visited  { color: #333333; }

/**** Call out boxes ****/
.call_out   { border-top:1px #7e4502 solid; border-bottom:1px #7e4502 solid; padding:10px 5px; }

/**** Site Map ****/
#siteMap { padding-left:10px; padding-right:10px; }
#siteMap ul { margin-top: 5px; padding-left:10px; margin-left:10px; }
#siteMap li { margin-top: 7px; }

/**** styles for application box outline ****/
.box_top    { background-image:url("/images/BOX/box_top.gif"); background-repeat:repeat-x; }
.box_left   { background-image:url("/images/BOX/box_left.gif"); background-repeat:repeat-y; }
.box_right  { background-image:url("/images/BOX/box_right.gif"); background-repeat:repeat-y; }
.box_bottom { background-image:url("/images/BOX/box_bottom.gif"); background-repeat:repeat-x; }
.appHeaderTitle { color:#FFFFFF; /*font-family: Verdana, Arial, Helvetica, sans-serif; font-size:28px; */line-height:28px; }
.appHeaderBackground 
{
  background-repeat:no-repeat;
  background-color:#3B60AF;
  padding-left:15px; 
  padding-bottom:8px; 
  vertical-align:bottom; 
}

/**** table styles ****/
.table { 
 border-color:#3B60AF;
 border-width:1px;
 border-style:solid;
 border-collapse:collapse;
 /*font-size:90%;*/ 
}
.table td {
 vertical-align:top;
 border-color:#3B60AF;
 border-width:1px;
 border-style:solid;
 padding-top:5px;
 padding-right:5px;
 padding-left:5px;
 padding-bottom:5px; 
 }
 .table th {
 /*font-size:12px;*/
 color:#3B60AF; 
 background-color:#E9EDEE;
 border-color:#3B60AF;
 border-width:1px;
 border-style:solid;
 padding-top:5px;
 padding-right:5px;
 padding-left:5px;
 padding-bottom:5px; 
 }

.row_alt { background-color: #f0F7F7 }
.row_pager, .row_pager td { border-style:none; padding:1px; }

/** other **/
.list_indent { padding-left: 40px; }

.requiredLabel { font-weight:bold; }
.requiredWarn  { color:Red; }
.removeButton  {
   border:1px #000000 solid;
   /*font-size:10px;
   font-family:arial;*/
   font-weight:bold;
   background-color:#990000;
   color:#FFFFFF;
   padding:2px;
   margin:0px 3px;
   vertical-align:middle;
   text-align:left;
   text-decoration:none;
}
.saveButton   {
   border:1px #000000 solid;
  /* font-size:10px;
   font-family:arial;*/
   font-weight:bold;
   background-color:#0063CB;
   color:#FFFFFF;
   padding:2px;
   margin:0px 3px;
   vertical-align:middle;
   text-align:left;
   text-decoration:none;
}
.removeButton a:visited, .saveButton a:visited {
   color:#FFFFFF;
   text-decoration:none;
}


