@import url("../velos.css");

body {
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #83b2dc;
}

a{color:#497296;}

Table.tabBorder{background-color:#cccc31; margin-left:3px;}

DIV.topline{background-color:#7eced5; height:5px; display:block;  overflow:hidden;}

/********* Tabs *****************/ 
 Table.selectedTab {font-family: Arial, Helvetica,  sans-serif; font-size:8pt; padding:0px 0px 0px 0px; margin:0px 0px 0px 3px;  
	background: url(../../images/skin_bethematch/tabhover.jpg) repeat-x scroll 0 0 transparent; 
}
Table.selectedTab TD {font-weight:bold; padding:9px 5px 6px 5px; margin:0px;
	border-top:1px solid #cccc31;
	border-left:1px solid #cccc31;
	border-right:1px solid #cccc31;
	height:30px;
}
Table.selectedTab A { color:white;  text-decoration:none; font-size:12px;}
Table.selectedTab A:hover { color:red;  text-decoration:none; font-size:12px;}

Table.unselectedTab{ border:none; background: url(../../images/skin_bethematch/bg-tbheading.jpg) repeat-x scroll 0 0 transparent; padding:0px 0px 0px 0px; margin:0px 0px 0px 3px;}
Table.unselectedTab TD {
	height:30px;
	padding:9px 5px 6px 5px;
	margin:0px;
	border-top:1px solid #cccc31;
	border-left:1px solid #cccc31;
	border-right:1px solid #cccc31;	
}
/*Table.unselectedTab TD:HOVER { background: url(../../images/skin_bethematch/tabhover.jpg) repeat-x scroll 0 0 transparent;}*/
Table.unselectedTab A {	color: #979616;	text-decoration:none;  font-size:12px;}
/*Table.unselectedTab A:hover {font-size:12px;}*/ 
 




/****** Table Default Bottom  ********/
DIV.tabDefBotN Table {
	border-collapse: collapse;
	background-color: #BEE5E8;
	padding: 0px;
	margin: 0px;
	color: #83b2dc;
}

DIV.tabDefBotN TH {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-right:1px solid #cccc31;
}

DIV.tabDefBotN TR {
	height: 30px;
}

DIV.tabDefBotN TD {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	background-color: #BEE5E8;
	margin: 0px;
	padding: 0px 0px 0px 5px;
	font-size: 12px;
}

DIV.tabDefBotN TD checkbox {
	float: right;
}

DIV.tabDefBotN TD text,DIV.tabDefBotN TD select {
	border: 1px solid #DBDAD9;
	height: 25px;
}

DIV.tabDefBotN TD TEXTAREA {
	border: 1px solid #DBDAD9;
}

DIV.tabDefBotN A {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: #497296;
	font-size: 7pt;
}

DIV.tabDefBotN  A:hover {
	color: red;
}

DIV.tabDefBotN  BUTTON {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.eSign {
	background-color: #BEE5E8;
}

/****  Advance search ******/
Table.basetbl {
	border: 1px solid #DBDAD9;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:black;
background-color: #BEE5E8;	
}

.basetbl TR {
	background-color: #BEE5E8;
}
Table.basetbl a{color:black;}

.basetbl TH{
	color: white;
	/* background-image: url(../../images/skin_bethematch/bg-tbheading.jpg);*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	background-repeat:repeat-x;
	background-color:#7DCFD5;
	border-right:1px solid #cccc31;
}

.basetbl p {
	font-family: Arial, Helvetica, sans-serif;
	color: #83b2dc;
	font-size: 17px;
	font-weight: normal;
	margin: 5px 0px 10px 0px;
}

.basetbl TD {
	height: 23px;
	padding: 0px 5px 0px 15px;
}

.basetbl TD text,.basetbl TD select, .basetbl TD textarea {
	border: 1px solid #DBDAD9;
}

.basetbl TD button {
	margin: 0px 10px 10px 0px;
}

/*** A/C form Edit ***/
table.outline {
	border: 1px solid #DBDAD9;
}

table.appendTR TR {
	border: 1px 0px 1px 1px solid #9D9D9D;
	background-color: #BEE5E8;
	margin-top: 10px;
}

/******* home page form fix **********/
.plainBg {
	background-color: #ffffff;
}

/**** dashboard dynamic table *****/
DIV.chartDisplay {
	height: 235px;
	overflow: auto;
	width: 99%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

DIV.chartDisplay table {
	border: 2px solid #DBDAD9;
}

DIV.chartDisplay table TR {
	padding: 0px;
	margin: 0px;
}

/* DIV.chartDisplay{height: 230px; width: 155px; border-left:0px; border-bottom:0px; border-top:0px; border-style: double; overflow:auto;}*/
	/********** Form Default *****************/
DIV.formDefault Table {
	border-collapse: collapse;
	/* background-color: #ffffff; */ 
}

DIV.formDefault TH {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	border-right:1px solid #cccc31;
}

DIV.formDefault TR {
	
}

DIV.formDefault TD {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 8pt;
}

DIV.formDefault A {
	font-family: Arial, Helvetica, sans-serif;

	font-size: 8pt;
}

DIV.formDefault  A:hover {
	color: red;
}

DIV.formDefault  BUTTON {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

/*********** Dynamic Form Tables ************/
Table.dynFormTable {
	width: padding : 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #BEE5E8;
}

Table.dynFormTable TH {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 9pt;
	border-right:1px solid #cccc31;
}

Table.dynFormTable TR {
	background-color: #BEE5E8;
}

Table.dynFormTable TD {
	height: 23px;
	padding: 0px 5px 0px 15px;
}

Table.dynFormTable TD text,Table.dynFormTable TD select {
	border: 1px solid #DBDAD9;
}

Table.dynFormTable TD button {
	margin: 0px 10px 10px 0px;
}

Table.dynFormTable A {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: blue;
	font-weight: bold;
	font-size: 7pt;
}

Table.dynFormTable  A:hover {
	color: red;
}

Table.dynFormTable  BUTTON {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

Table.dynFormTable label {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 8pt;
}

/* P.dynSection {font-family: Arial, Helvetica,  sans-serif; color:blue;font-size:9pt;font-weight:bold;} */
P.dynSection {
	font-family: Arial, Helvetica, sans-serif;
	color: #83b2dc;
	font-size: 17px;
	font-weight: normal;
	background-color: #BEE5E8;
	margin: 2px 0px 5px 10px;
}

/*
Table.dynFormTable TH {
background-color:#003366;
color:white;

} */
	/**************************************************************************
common Themes start
**************************************************************************/
DIV.tableDefault TH {
	color: #292929;
	/* background-image: url(../../images/skin_bethematch/bg-tbheading.jpg); */\
	background-color:#7DCFD5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	border-right:1px solid #cccc31;
}

DIV.tableDefault {
	padding: 0%;
	text-align: justify;
	background-color:#f7f7f7;
	color: #83b2dc;
	position: absolute;
	overflow: auto;
	border-style: none; 
}

DIV.tableDefault A {
	font-family: Arial, Helvetica,sans-serif;
	text-decoration:underline;
	color:blue;
	font-weight:bold;
	font-size:7pt;
}

DIV.tableDefault  A:hover {color:red;}

DIV.tableDefault  BUTTON {font-family:Arial, Helvetica,  sans-serif;font-size:9pt;}

DIV.tableDefault TD {font-family: Arial, Helvetica,  sans-serif; color:black;font-size:8pt; background-color:#f7f7f7;}

DIV.tableDefault TH {font-family: Arial, Helvetica,  sans-serif;font-size:9pt; border-right:1px solid #cccc31;}



DIV.browserDefault TD,DIV.pgbrowse TD {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 8pt;
}

form {
	/* background-color: #f6f6f6; */
	padding: 0px;
	margin: 0px;
	height: auto;
}

.txtInput {
	border: 1px solid #DBDAD9;
}

DIV.browserDefault Table,DIV.pgbrowse Table {
	border-collapse: collapse;
	/* background-color: #ffffff; */
}

DIV.browserDefault TH,DIV.pgbrowse TH {
	color: white;
	/* background-image: url(../../images/skin_bethematch/bg-tbheading.jpg); */
	background-color:#7DCFD5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	/* border:1px solid #CBCBCB; */
	border-right:1px solid #cccc31;
	border-top:1px solid #cccc31;
}

DIV.browserDefault Table.outline,DIV.pgbrowse Table.outline {
	border: 1px solid #DBDAD9;
}

DIV.browserDefault button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

tr.browserEvenRow {
	background-color: #f1f0ef;
}

tr.browserEvenRow TD {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 12px;
	border-style: groove;
	border-bottom-width: thin;
	border-top-width: thin;
	border-left-width: thin;
	border-right-width: thin;
/*	border-color: #9fd0fc; */
	background-color: #fbec87;
	padding:0px 0px 0px 5px;
	/* border-left-color:#9D9D9D;
	border-right-color:#9D9D9D;
	border-top-color:#CBCBCB;
	border-bottom-color:#CBCBCB; */
}

tr.browserOddRow {
	background-color: #ffffff;
}

tr.browserOddRow TD {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 12px;
	border-style: groove;
	border-bottom-width: thin;
	border-top-width: thin;
	border-left-width: thin;
	border-right-width: thin;
	/* border-color: #9fd0fc; */
	background-color: #ffffff;
	padding:0px 0px 0px 5px;
	/* border-left-color:#9D9D9D;
	border-right-color:#9D9D9D;
	border-top-color:#CBCBCB;
	border-bottom-color:#CBCBCB; */
}

.searchBg {
	background-color: #d4f2f4;
	border: 1px solid #DBDAD9;
}

table.esignStyle{background-color:#BEE5E8; border: 1px solid #9D9D9D; margin: 0px 0px 0px 8px; padding:5px 0px 5px 0px;}

.searchBg text,.searchBg select {
	border: 1px solid #DBDAD9;
}

.tmpHeight {
	height: 10px;
}

/* .borderSet TR TD{border:1px solid #CBCBCB;} */
.labelFont {
	color: black;
	padding: 0px 0px 0px 5px;
}

.rhsFont {
	padding: 0px 10px 0px 0px;
}

.lhsFont {
	padding: 0px 0px 0px 5px;
}

.strongFont {
	font-weight: bold;
}

DIV.browserDefault A,DIV.pgbrowse A {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	padding-left: 5px;
	color:#497296:
}

FONT.Green {
	font-family: Arial, Helvetica, sans-serif;
	color: green;
	font-size: 8pt;
	text-decoration: underline;
}

FONT.Mandatory {
	font-family: Arial, Helvetica, sans-serif;
	color: red;
}

DIV.formBrwDefault TH { /*background-color:#003366;*/
	color: white;
	/* background-image: url(../../images/mgPanelimages/gradients_default.png); */
	background-color:#7DCFD5;
	border-right:1px solid #cccc31;
}

DIV.popDefault Table {}
DIV.popDefault TH {
	background-color: #f7f7f7;
	color: white;
	/* background-image: url(../../images/skin_bethematch/bg-tbheading.jpg); */
	background-color:#7DCFD5;
	font-family: Arial, Helvetica,  sans-serif;
	font-size:12px;
	height:30px;
	font-weight:normal;
	border-right:1px solid #cccc31;
}
DIV.popDefault TD {font-family: Arial, Helvetica,  sans-serif; color:black;font-size:8pt;}
DIV.popDefault A {
	font-family: Arial, Helvetica,  sans-serif;
	/* font-weight:bold; */
	font-size:8pt;	
}

DIV.popDefault span A{
	font-family: Arial, Helvetica,  sans-serif;	
	font-size:8pt;	
	color:#497296;	
}

DIV.popDefault A:hover {color:red;}
DIV.popDefault BUTTON {font-family:Arial, Helvetica,  sans-serif; font-size:9pt;}
DIV.popDefault HR {color:#000066;}

tr#headSection TD {
	font-family: Arial, Helvetica,  sans-serif;
	color:white;
	font-size:8pt;
	font-weight:bold;
	background-color:#7DCFD5;	
}

tr#tableheading TH {
	color: #292929;
	/* background-image: url(../../images/skin_bethematch/bg-tbheading.jpg); */
	background-color:#7DCFD5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	border-right:1px solid #cccc31;		
}

DIV#myStudies TH { /*background-color:#003366;*/
	color: white;
	/* background-image: url(../../images/mgPanelimages/gradients_default.png) */
	background-color:#7DCFD5;
	border-right:1px solid #cccc31;
}

DIV.browserDefaultPat TH {
	background-color: #003366;
	color: white;
	border-right:1px solid #cccc31;
}

TR.popupHeader TH {
	color: black;
	/* background-image: url(../../images/skin_bethematch/bg-tbheading.jpg);*/
	background-color:#7DCFD5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	border-right:1px solid #cccc31;	
}

DIV.formWithLinks TH {
	background-color: #003366;
	color: white;
	border-right:1px solid #cccc31;
}

DIV.accLinksmgpat TH {
	background-color: #003366;
	color: white;
	border-right:1px solid #cccc31;
}

DIV.accLinksmgpat TR {
	background-color: #003366;
}

/* new 28 */
TD.grayComments {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
}

DIV.tabDefBot TH {
	background-color: #7DCFD5;
	color: white;
	border-right:1px solid #cccc31;
}

DIV.tabFormBot TH {
	background-color: #7DCFD5;
	color: white;
	border-right:1px solid #cccc31;
}

TH.reportHeading {
	color: black;
	/* background-image: url(../../images/skin_bethematch/bg-tbheading.jpg); */
	background-color:#7DCFD5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	border-right:1px solid #cccc31;	
}

.headerFormat tr th {
	/* background-image: url(../../images/skin_bethematch/bg-tbheading.jpg);*/
	background-color:#7DCFD5;
	background-size: auto 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px; 
	border-top:1px solid #cccc31;
	border-right:1px solid #cccc31;
}

TR.reportGraphBar {
	color: white;
	background-color: #003366;
}

DIV.tabDefTopn TH {
	background-color: #003366;
	color: white;
	/* background-image: url(../../images/mgPanelimages/gradients_default.png) */
	background-color:#7DCFD5;
	border-right:1px solid #cccc31;
}

DIV.tabDefBotN table.outline {
	border: 1px solid #DBDAD9;
}

DIV.tabDefBotN table.midAlign {
	margin: 0px 0px 0px 8px;
	background-color: #BEE5E8;
}

DIV.tabDefBotN TH {
	color: white;
	/* background-image: url(../../images/skin_bethematch/bg-tbheading.jpg); */
	background-color:#7DCFD5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	border-right:1px solid #cccc31;
}

DIV.BrowserBotN TH {
	color: white;
	/* background-image: url(../../images/skin_bethematch/bg-tbheading.jpg); */
	background-color:#7DCFD5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	border-right:1px solid #cccc31;
	border-top:1px solid #cccc31;
}
DIV.BrowserBotN table.outline{border: 1px solid #9fd0fc;}
DIV.BrowserBotN table.midAlign {
	margin: 0px 0px 0px 8px;
	background-color: #BEE5E8;
}
/* DIV.BrowserBotN table a{color:#497296;}
DIV.BrowserBotN table a:hover{color:#497296;} */
DIV.BrowserTopn table {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 8pt;
	border-collapse: collapse;
}

DIV.BrowserTopn TH {
	background-color: #ffffff;
	color: white;
	/* background-image: url(../../images/mgPanelimages/gradients_default.png); */
	background-color:#7DCFD5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	border-right:1px solid #cccc31;
}

DIV.BrowserTopn TD {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 8pt;
}
DIV.BrowserTopn A:hover {
	/* color: white; */
	color:red;
}

DIV.BrowserTopn BUTTON {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
DIV.BrowserTopn table text, DIV.BrowserTopn table select{	border: 1px solid #DBDAD9;	height: 25px;}
DIV.BrowserBotN Table {
	border-style: none;
	border-collapse: collapse;
	background-color: #BEE5E8;
}

DIV.BrowserBotN A {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: #497296; 
	/* font-weight: bold;*/
	font-size: 12px;
}

/*DIV.BrowserBotN A:hover {
	color: red;
} */

DIV.BrowserBotN BUTTON {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

DIV.BrowserBotN TD {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 8pt;
}

DIV.BrowserBotN TH {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	border-right:1px solid #cccc31;
}
DIV.tabFormTopN table{border:collapse; border:1px solid #9fd0fc;}

DIV.tabFormTopN TH {
	color: #292929;
	/* background-image: url(../../images/skin_bethematch/bg-tbheading.jpg); */
	background-color:#7DCFD5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	border-right:1px solid #cccc31;	
}
DIV.tabFormTopN a{color:#497296;}
DIV.tabFormTopN a:hover{color:#497296;}

DIV.tabFormBotN Table {border-collapse: collapse;}

DIV.tabFormBotN A {
	font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	color:blue;
	font-weight:bold;
	font-size:12px;
}

DIV.tabFormBotN  A:hover {color:red;}

DIV.tabFormBotN  BUTTON {font-family:Arial, Helvetica,  sans-serif; font-size:9pt;}

/* DIV.tabFormBotN TD {font-family: Arial, Helvetica,  sans-serif; color:#292929; font-size:12px; font-weight:bold;} */ /* changing this due to grid bold in lib>form>search>addfield*/
DIV.tabFormBotN TD {font-family: Arial, Helvetica,  sans-serif; color:#292929; font-size:12px;}

DIV.tabFormBotN TH {
	color:#292929;
	/* background-image: url(../../images/skin_bethematch/bg-tbheading.jpg); */
	background-color:#7DCFD5;
	height: 30px;
	border-right:1px solid #cccc31;
	border-top:1px solid #cccc31;
}

DIV.tabFormBotNInv TH {
	color: #292929;
	/* background-image: url(../../images/skin_bethematch/bg-tbheading.jpg); */
	background-color:#7DCFD5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	border-right:1px solid #cccc31;
}
DIV.tabFormBotNInv a{color:#A7001B;}
DIV.tabFormBotNInv a:hover{color:#A7001B;}

/********** tabdefbot *************/

DIV.tabDefBot TH {font-family:Arial, Helvetica,  sans-serif;font-size:9pt; border-right:1px solid #cccc31;}

DIV.tabFormTop A {
	font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	color:#A7001B;
	font-weight:bold;
	font-size:12px;
}

DIV.tabFormTop Table {border-style: none;}

DIV.tabFormTop TH {
	background-color:#CFC8FF;
	font-family: Arial, Helvetica,  sans-serif;
	color:black;
	font-size:9pt;
	border-right:1px solid #cccc31;
}

DIV.tabFormTop  A:hover {color:red;}

DIV.tabFormTop TD {font-family: Arial, Helvetica,  sans-serif; color:black; font-size:8pt;}

DIV.tabFormTop  BUTTON {font-family:Arial, Helvetica,  sans-serif;font-size:9pt;}

DIV.tabFormBot Table {border-style:none;  border-collapse: collapse;}

DIV.tabFormBot A {
	font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	color:#A7001B;
	font-weight:bold;
	font-size:12px;
}

DIV.tabFormBot  A:hover {color:red;}

DIV.tabFormBot  BUTTON {font-family:rial, Helvetica,  sans-serif;font-size:9pt;}

DIV.tabFormBot TD {font-family: Arial, Helvetica,  sans-serif;color:black;font-size:8pt;}

DIV.tabFormBot TH {font-family: Arial, Helvetica,  sans-serif;font-size:9pt; border-right:1px solid #cccc31;}


/************ P tag for Section Headings **********/
DIV.tabDefBotN P.sectionHeadings {
	font-family: Arial, Helvetica, sans-serif;
	color: #497296;
	font-size: 17px;
	font-weight: normal;
	background-color: #BEE5E8;
	margin: 2px 0px 5px 10px;
}

.sectionHeadingsFrm {
	font-family: Arial, Helvetica, sans-serif;
	color: #497296;
	font-size: 17px;
	font-weight: normal;
	padding: 0px 0px 2px 10px;
	background-color: #BEE5E8;
}

P.sectionHeadings {
	font-family: Arial, Helvetica, sans-serif;
	color: #497296;
	font-size: 17px;
	font-weight: normal;
	margin: 2px 0px 5px 0px;
	background-color: #BEE5E8;
}

.sectionHeadings {
	font-family: Arial, Helvetica, sans-serif;
	color: #83b2dc;
	font-size: 17px;
	font-weight: normal;
	padding: 2px 0px 5px 0px;
	background-color: #BEE5E8;
}

P.reportHeadings {
	font-family: Arial, Helvetica,  sans-serif;
	color:#83b2dc;
	font-size:9pt;
	font-weight:bold;
	padding:0px 0px 3px 5px;
}

/****************************************/
HR.thickLine {
	height: 3px;	
	color: #83B2DC;
}

.bluehr {
	color: #83B2DC;
}

.welcome {
	font-size: 12pt;
	font-family: arial;
	color: #83b2dc;
	font-weight: bold
}

table.comPopup TH {
	/*background-color: #003366; */
	color: white;
	/* background-image: url(../../images/skin_bethematch/bg-tbheading.jpg);*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	background-repeat:repeat-x;
	background-color:#7DCFD5;
	border-right:1px solid #cccc31;	
}

tr.comPopup TH {
	/*background-color: #003366; *?
	color: white;
	/* background-image: url(../../images/skin_bethematch/bg-tbheading.jpg);*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	background-repeat:repeat-x;
	background-color:#7DCFD5;
	border-right:1px solid #cccc31;	
}

td.tdDefault {
	font-family: Arial, Helvetica,  sans-serif;
	color:black;
	font-size:8pt;
	height:20px;
}

/*********** P comments ****************/
P.defComments {
	font-family: Arial, Helvetica, sans-serif;
	color: #497296;
	font-size: 8pt;
	padding: 0px;
}

.defComments {
	font-family: Arial, Helvetica, sans-serif;
	color: #83b2dc;
	font-size: 8pt;
	padding: 5px 0px 0px 15px;
}

P.defComments_txt {
	font-family: Arial, Helvetica, sans-serif;
	color: #83b2dc;
	font-size: 8pt;
}

.comments {
	font-family: Arial, Helvetica, sans-serif;
	color: #83b2dc;
	font-size: 8pt;
}

#TH_SCH {
	background-color: #BEE5E8;
	font-family: "Arial, Helvetica,  sans-serif";
	color: white;
	font-size: 13;
	height: "25";
}

DIV.formDefault TH {
	/* background-color: #003366;*/
	border-right:1px solid #cccc31;
}

DIV.formDefault{background-color: #BEE5E8;	}
DIV.formDefault_event{background-color: #ffffff;	}
TD.reportName {
	font-family: Arial, Helvetica,  sans-serif;
	color:black;
	font-size:9pt;
	font-weight:bold;
	background-color:#BEE5E8;
}
.PopupTitle{background-color:#BEE5E8;}

DIV.popDefault table tr th{
	/* background-image: url(../../images/skin_bethematch/bg-tbheading.jpg); */
	background-color:#7DCFD5;
	background-size: auto 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	border-right:1px solid #cccc31;
	border-top:1px solid #cccc31;
	font-weight:bold;	
}
TH.whiteBack {
	/* background-image: url(../../images/skin_bethematch/bg-tbheading.jpg); */
	background-color:#7DCFD5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	color:black;
	border-right:1px solid #cccc31;
}

TR.reportEvenRow {
	font-family:Arial, Helvetica,  sans-serif;
	color:black;
	font-size:8pt;
	background-color:#fbec87;
}

TR.reportOddRow {
	font-family:Arial, Helvetica,  sans-serif;
	color:black;
	font-size:8pt;
	background-color:#ffffff;
}
TR.reportGraphRow {
	font-family: Arial, Helvetica,  sans-serif;
	color:black;
	font-size:8pt;
	background-color:#fbec87;
}
TR.reportGraphBar {font-family: Arial, Helvetica,  sans-serif; font-size:8pt;}
TD.reportGraphRow {
	font-family: Arial, Helvetica,  sans-serif;
	color:black;
	font-size:7pt;
	font-weight:normal;
	background-color:#BEE5E8;
}
TD.reportData {font-family: Arial, Helvetica,  sans-serif; color:black; font-size:12px;}
TD.reportGrouping {
	font-family: Arial, Helvetica,  sans-serif;
	font-size:9pt;
	font-weight:bold;
}

Table.patHeader {border-style:none; top:0px;}

Table.patHeader A {font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	color:blue;
	font-weight:bold;
	font-size:12px;
}

Table.patHeader A:hover {color:red;}

Table.patHeader TD {font-family: Arial, Helvetica,  sans-serif;
	color:black;
	font-size:8pt;
}

TH.headernoColor {font-family: Arial, Helvetica,  sans-serif;
	color:black;
	font-size:9pt;
	border-right:1px solid #cccc31;
}
UL {
	PADDING: 0px;
	MARGIN: 0px;
}

#nav-one LI {
	PADDING: 0px;
	MARGIN: 0px;
	height: 29px;
	text-align: center;
}

ul.dropmenu {
	position: relative;
	z-index: 999;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 4px;
}

#nav-one {
	width: 100%;
}

.dropmenu ul {
	background-color: #ffffff;
}

.dropmenu ul a {
	color: #FFFFFF;
	border: 1px solid #3d5d7c;
	font-size: 12px;
	white-space: nowrap;
	display: block;
}

.dropmenu ul a:hover {
	color: #000000 !important;
	background-color: #F0F0F0;
	background-image: none;
	text-decoration: none;
	font-size: 12px;
}

.dropmenu ul li {
	border: 0;
	float: none;
}

.dropmenu li span {
	display: block;
	float: right;
	height: 10px;
	width: 10px;
	position: absolute;
	top: 12px;
	right: 10px;
}

.dropmenu li {
	position: relative;
	list-style: none;
	float: left;
	margin: 0px;
	padding: 0px;
	background: url(../../images/skin_bethematch/top-links.gif) repeat-x scroll 0 0 transparent;
	font-weight:normal;
}

.dropmenu li:hover { background: url(../../images/skin_bethematch/top-links-hover.gif) repeat-x scroll 0 0;}

.dropmenu li a {
	border-right: solid 1px #56aab2; /* IE -- 	border-right: solid 1px #9fd0fc; */
	color: #274864;
	/*text-transform: capitalize;*/
	height: 22px;
	z-index: 999;
	padding: 7px 4px 0px 4px;
	display: block;
	cursor: pointer;
	text-decoration: none;
	font-family: inherit;
	font-size: 12px;
	text-align: center;
}

.dropmenu li a:hover {
	color: #F0F0F0;
	/*text-transform: capitalize;*/
	/* background: url(../../images/skin_bethematch/top-links-hover.gif) repeat-x scroll 0 0; */
	font-weight:normal;
}

.dropmenu li:hover ul {
	background-color: #F0F0F0;
}

.dropmenu li div {
	background-color: #FFFFFF;
	border: 1px solid #56aab2;
	padding: 5px 3px 5px 5px;
	display: none;
	position: absolute;
	height: auto;
	font-weight:normal;
}

.dropmenu li div ul {
	paddint: 0px 0px 0px 0px;
	border: none;
	background: none;
	position: relative !important;
}

.dropmenu li div ul li {
	background-color: #ffffff;
	background-image: none;
	margin: 0px;
	color: black;
	font-weight:normal;
}

.dropmenu li div ul li:hover {
	background-color: #ffffff;
	background-image: none;
	color: black;
	margin: 0px;
}

.dropmenu li div ul li a {
	height: 22px;
	padding: 6px 0px 0px 5px;
	margin: 0px 3px 3px 0px;
	width: 98%;
}

.dropmenu li div ul li h2 {
	margin: 0px 3px 0px 0px;
	background: url(../../images/skin_bethematch/top-links.gif) repeat-x scroll 0 0 transparent;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	/*text-transform: capitalize;*/
	text-align: left;
	font-weight: none;
	height: 29px;
	padding: 7px 0px 0px 5px;
}

.dropmenu li div a {
	border: none;
	text-align: left;
	color: black;
	padding: 0px;
	text-decoration: none;
	background-color: #FFFFFF;
}

.dropmenu li div a:hover {
	color: black;
	background-color: #bee5e8;
	height:26px;
}

.dropmenu li div div {
	display: block;
	position: relative;
	background: none;
	border: none;
}

.dropmenu li div div a {
	display: block;
	border: none;
	color: #666;
	text-decoration: underline;
	padding: 0px;
	margin: 0px;
	text-transform: none;
}

.dropmenu li div div a:hover {
	color: black;
	text-decoration: none;
}

ul.left {
	float: left;
	width: 145px;
}

ul.right {
	float: right;
	width: 145px;
}

li.left {
	float: left;
	width: 145px;
}

li.right {
	float: right;
	width: 145px;
}

.personalize {
	width: 150px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.manage {
	width: 295px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.research {
	width: 150px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.library {
	width: 295px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.inventory {
	width: 140px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.reports {
	width: 140px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.regreporting {
	width: 140px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}
.pfmenu {
	width: 140px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}
/*-----------Right Starts-------------*/
.personalizeRight {
	width: 150px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.manageRight {
	width: 295px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.researchRight {
	width: 150px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.libraryRight {
	width: 300px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.inventoryRight {
	width: 140px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.reportsRight {
	width: 140px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.regreportingRight {
	width: 140px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}
.pfmenuRight {
	width: 140px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}
/*-----------Right Ends-------------*/
.ui-widget-header{
	color: #292929;
	/* background-image: url(../../images/skin_bethematch/bg-tbheading.jpg); */ 
	background-color:#7DCFD5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;		
}

DIV.tabDefTopN Table {border-style: none; }
DIV.tabDefTopn TH {font-family: Arial, Helvetica,  sans-serif;font-size:9pt; border-right:1px solid #cccc31;}
DIV.tabDefTopN TD {font-family: Arial, Helvetica,  sans-serif;color:black;font-size:8pt;}
DIV.tabDefTopn  A:hover {color:red;}
DIV.tabDefTopN  BUTTON {font-family:Arial, Helvetica,  sans-serif;font-size:9pt;}

/**** cleaned out styles from ns_1024.css and ns_gt1024.css **********/

DIV.popDefault{	border:1px solid #DBDAD9;}
DIV.tabDefBotN{border: 1px solid #DBDAD9;}
div#header{border-bottom: solid 1px #DBDAD9; /* IE -- border-bottom: solid 1px #9fd0fc; */}
DIV.BgtTabFormBotN{	border: 1px solid #DBDAD9; /* IE -- 	border-top: solid 2px #9fd0fc; */}
DIV.BgtTabFormN{border: 1px solid #DBDAD9; /* IE -- 	border-top: solid 2px #9fd0fc; */}
DIV.BrowserBotN{border: 1px solid #DBDAD9; /* IE -- 	border: 1px solid #9fd0fc; */}
DIV.tabFormBotN{border: solid 1px #DBDAD9; /* IE -- 	border-top: solid 2px #9fd0fc; */}
div#leftcolumn{border-right: solid 1px #DBDAD9; /* IE -- border-right: solid 1px #9fd0fc; */}
DIV.BgtDivBottom{border: 1px solid #DBDAD9; /* IE -- border-top: solid 2px #9fd0fc; */}
DIV.tabFormBotNInv{	border: solid 1px #DBDAD9;  /* IE -- 	border: solid 1px #9fd0fc; */}
DIV.BrowserBotN_top1{border: 1px solid #DBDAD9;}


/********** IE color properties ***********/
.searchBg tr{border:1px solid #DBDAD9; }
DIV.tabDefBotN TD text, DIV.tabDefBotN TD SELECT{border:1px solid #DBDAD9;	}

tr.pastSchRow TD {font-family: Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
font-style: italic;
padding:0px 0px 0px 5px;
background-color: #D4CCDB;
border-style: groove;
border-style: thin;
}

tr.browserEvenRow TD {border:1px solid #DBDAD9;}
tr.browserOddRow TD {border:1px solid #DBDAD9; }


 .ui-widget-header { border: 1px solid #DBDAD9; background: #80b2d7 url(../../images/mgPanelimages/nmdb.png) 50% 50% repeat-x; color: #000000;}


/********* brought from non colored item stylesheets *******************/
DIV.BrowserBotN {background-color: #BEE5E8;}
DIV.tabDefBotN {background-color:#BEE5E8;}
DIV.tabFormBotN {	background-color: #BEE5E8;}
DIV.tabFormBotNInv {background-color: #BEE5E8;}
.centerme{	margin:auto;	width:70%;	font: normal bold 12px arial;	}

DIV.tabFormTopN {background-color: #BEE5E8;}

.speca a{color:#497296}
.speca a:hover{color:#497296}

DIV.browserDefault A:hover, DIV.pgbrowse  A:hover {/*color:black; */} /****fixed for the bug 8975 ***/



/************ button styles from garuda skins *********************/
form button, form input[type=button],form input[type=submit] {
	background:#f59421;
	border:1px solid #dbdad9;
	color: #ffffff;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background:#f59421;
	border:1px solid #dbdad9;
	color: #ffffff;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	background-color:#f59421;
}
.button{
	background:#f59421;
	border:1px solid #dbdad9;
	color: #ffffff;
}
form button:hover,form input[type=button]:hover { background-color:#f59421;}
a.actionbutton {
background: transparent url(../../images/actionbuttons/button_right.jpg) no-repeat scroll top right;
color: #333333;
}
a.actionbutton span {
background: transparent url(../../images/actionbuttons/button_left.jpg) no-repeat;
color: #333333;
}

TH.reportClrHead {
	font-family:Arial, Helvetica,  sans-serif;
	color:black;
	font-size:12px;
	font-weight:bold;
	background-color:#7DCFD5;
	border-right:1px solid #cccc31;
} 

.quickLinks_border{
	border:1px solid #cccbcb;
}

.successfulmsg{
	font-family:Arial, Helvetica,  sans-serif;
	color:black;
	font-size:12px;
	font-weight:bold;
	padding:5px 0px 5px 0px;
	background-color:#bee5e8;	
}

tr.browserOddRow TD a{color:#497296;}
tr.browserOddRow TD a:hover{color:#497296;}
tr.browserEvenRow TD a{color:#497296;}
tr.browserEvenRow TD a:hover{color:#497296;}


.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #999999/*{borderColorHover}*/; background: #dadada/*{bgColorHover}*/ url(../../images/mgPanelimages/nmdb.png)/*{bgImgUrlHover}*/ 50%/*{bgHoverXPos}*/ 50%/*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcHover}*/; }
.ui-widget-content .ui-state-focus{background-color:red;}
.ui-button .ui-button-text{color:white;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight,.ui-widget-content .ui-state-active {border: 1px solid #c38841/*{borderColorHighlight}*/; background: #e4cfb6/*{bgColorHighlight}*/ /*url(images/ui-bg_glass_55_fbf9ee_1x400.png)/*{bgImgUrlHighlight}*/ 50%/*{bgHighlightXPos}*/ 50%/*{bgHighlightYPos}*/ repeat-x/*{bgHighlightRepeat}*/; color: black/*{fcHighlight}*/; }
.ui-widget-content { border: 1px solid #aaaaaa/*{borderColorContent}*/; background: #ffffff /*{bgColorContent} url(images/ui-bg_flat_75_ffffff_40x100.png)*/url(../../images/mgPanelimages/nmdb.png)/*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/; color: #222222/*{fcContent}*/; }
DIV.ui-widget{font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 8pt; background-color:white;}


DIV.tabFormTopN A {
	font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	color:#497296;
	font-weight:bold;
	font-size:12px;
}
td#tdComments {
	font-family: Verdana, Arial, Helvetica,  sans-serif;
	color:blue;
	font-size:9pt;
	font-style:italic;
}


/************* from velos.css to make it theme specific ********************************/ 

tr.subCostRow {background-color:#81BEF7;}
tr.subCostRow TD {font-family: Arial, Helvetica,  sans-serif; color:black;font-size:8pt;
margin: 1px;
padding:0px 0px 0px 5px;}
tr.pastSchRow {background-color:#FFCC99;}
tr#browserOddRow {background-color:#ffffff;  border: 1px solid #DBDAD9;}
tr#browserOddRow TD {font-family: Arial, Helvetica,  sans-serif;color:black;font-size:12px;	border: 1px solid #DBDAD9;}
tr#browserEvenRow {background-color:#FBEC87;  border: 1px solid #DBDAD9;}
tr#browserEvenRow TD {font-family: Arial, Helvetica,  sans-serif;color:black;font-size:12px;  border-right: 1px solid #DBDAD9;}
tr#browserBoldRow TD {font-family: Arial, Helvetica,  sans-serif;color:black;font-size:12px;font-weight:bold;}

td.normalinfoodd a{color:#497296;}
td.normalinfoeven a{color:#497296;}.bodyFormat tr td { 
	border-bottom:1px solid #72A3C2;	
	border-left:1px solid #72A3C2;
}

.bodyFormat tr td { 
	border-bottom:1px solid #DBDAD9;	
	border-left:1px solid #DBDAD9;
}