.gdt-header-row {
	font-weight:bold;
	height:21px;
	background-image: url("../../images/skin_default/bg-tbheading.jpg");
	color: black;
	background-size: auto;
	border:1px solid #72A3C2;
}

.gdt-highlighted-row {
	background-color: #edf5ff;
}
