body{margin:0; padding:0; background:url(../images/bg-body.jpg) repeat-x #ECECEC; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#292929;}
h1,h2,h3,h4,h5,h6,p{margin:0; padding:0; font-weight:normal;}
img{border:none; vertical-align:middle;}
.main-wrapper{overflow:hidden; padding:0; position:relative; width:100%; margin:0;}
.wrapper{width:1000px; margin:auto;}
.header-container{width:1000px; margin:5px auto auto auto;}
.logo{ width:150px; height:41px; float:left;}
.welcome{width:150px; float:left; height:21px; font-weight:bold; color:#A7001B; padding:20px 0 0 ;}
.timezone{width:400px; float:left; height:21px; padding:20px 0 0 0; font-size:11px; color:#292929;}
.timezone strong{font-size:11px; color:#A80101; font-weight:normal;}
.top-links{ width:300px; float:left; text-align:right; color:#A7001B; height:21px; padding:20px 0 0 0;}
.top-links a{color:#A7001B; font-weight:bold; text-decoration:none;}
.top-links a:hover{color:#292929; font-weight:bold; text-decoration:underline;}
.clr{clear:both;}
.nav-container{width:100%; background:url(../images/bg-nav.jpg) repeat-x; height:37px; margin:auto;}

.nav-links {
    display: block;
    float: left;
    overflow: hidden;
    width: 100%;
}
ul.menu {
    float: left;
    list-style: none outside none;
    margin: 8px 15px 11px 0px;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
ul.menu a {
    color: #FFFFFF;
    display: block;
    float: left;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}
ul.menu li {
    display: block;
    float: left;
    margin-right: 1px;
    overflow: hidden;
    position: relative;
}
ul.menu .menulink {
    background: url(../images/top-links.gif) repeat scroll 0 0 transparent;
    border: 1px solid #323031;
    height: 14px;
    padding: 3px 7px 3px 8px;
}
ul.menu .menulink:hover, ul.menu .menuhover {
    background: url(../images/top-links-hover.gif) repeat scroll 0 0 transparent;
    border: 1px solid #660202;
}

h1{font-size:16px; color:#000; border-bottom:1px dotted #000; padding:0 0 3px 0; margin:0 0 20px 0;}

.tbbg{border:1px solid #9D9D9D; background:#F1F0EF;}
.input1{ border:1px solid #7F5B5B; padding:2px; width:200px; font-size:12px; color:#292929; margin:0 5px;}
.links{color:#A80101; font-size:12px;}
.links a{color:#A80101; font-size:12px; text-decoration:underline;}
h2{font-size:13px; color:#292929;}

.tb-container{width:900px; margin:auto; margin:20px auto;}
.bg-tbheading{background:url(../images/bg-tbheading.jpg) repeat-x #D9D9D9;}
.tbbg-white{background:#fff;}
.field-text{font-size:12px; color:#292929; padding:0 0 0 10px; border-right:1px solid #CBCBCB;}
.field-text a{font-size:12px; color:#A7001B; text-decoration:underline;}

.footer-container{width:1000px; margin:20px auto;}
.footer{text-align:right; font-size:11px; color:#828282; width:650px; float:left;}
.powered{font-size:11px; color:#828282; width:350px; text-align:right; float:left;}







ul#css3menu1,ul#css3menu1 ul{
	margin:5px 0 0 0; list-style:none;padding:0;}
ul#css3menu1 ul{
	display:none;position:absolute;  background:#fff; top:27px; width:auto; border:1px solid #292929;}
	ul#css3menu1 ul li{
	 background:none;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li:hover{
	position:relative;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:0;}
ul#css3menu1{
	display:block;font-size:0;float:left; margin:0; padding:0;}
ul#css3menu1 li{
	display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1>li,ul#css3menu1 li{
	margin:0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a,ul#css3menu1 a.pressed{
	display:block;vertical-align:middle;text-align:left;text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000;text-shadow:#FFF 0 0 1px;cursor:pointer;}
ul#css3menu1 ul li{
	float:none; line-height:20px; background:none;}
ul#css3menu1 ul a{
	text-align:left;}
ul#css3menu1 li:hover>a{
	}
ul#css3menu1 img{
	border:none;vertical-align:middle;margin-right:10px;}

ul#css3menu1 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu1 a{
	padding:10px;  color:#fff; font-size:12px;  background: url(../images/top-links.gif) repeat scroll 0 0 transparent;
    border: 1px solid #323031;
    height: 17px;
    padding: 5px 7px 3px 8px; margin:5px 0 0 1px;}
	
	ul#css3menu1 a:hover{
	  background: url(../images/top-links-hover.gif) repeat scroll 0 0 transparent;
    border: 1px solid #660202; }
	
ul#css3menu1 li:hover>a,ul#css3menu1 li>a.pressed{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#fff;text-decoration:none;
	}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li>a.pressed{
	background:#292929;font-size:12px; font-family:Arial, Helvetica, sans-serif;color:#fff;text-decoration:none; border:none;}
ul#css3menu1 li ul li a{background:none; border:none; color:#292929; margin:0; padding:5px 10px; line-height:22px;}
ul#css3menu1 li ul li a:hover{background:#292929; border:none; color:#fff; margin:0; line-height:22px; display:block; padding:5px 10px;}
