/*UL {PADDING: 0px; MARGIN: 0px;}
LI {PADDING:0px; MARGIN:0px; height: 29px; text-align:center;}
ul.dropmenu{
	background:#FFFFFF url(../../images/skin_default/bg-nav.jpg) repeat-x scroll 0 0;
	position: relative;
	z-index:999;	
	display:block;
	height: 37px;
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 12px;	
	margin:13px 0px 0px 0px;
	padding:4px 0px 0px 7px;
}
#nav-one{ width: 100%;}
.dropmenu ul{ background-color:#ffffff;}
.dropmenu ul a { color:#FFFFFF;  border: 1px solid #ccc;  font-size:12px;  white-space: nowrap;  display:block;}
.dropmenu ul a:hover {	color:#FFFFFF !important;	background-color: #F0F0F0;	background-image: none;	text-decoration: none;	font-size:12px;}
.dropmenu ul li{ border: 0; float: none;}
.dropmenu li span{	display: block;	float: right;	height: 10px;	width: 10px;	position: absolute;	top: 12px;	right: 10px;}
.dropmenu li{ position: relative;	list-style: none;	float: left;	margin: 0px;	padding: 0px;
	/* background: url(../../images/skin_default/top-links.gif) repeat-x scroll 0 0;*/ display:block;}
/*.dropmenu li:hover{ background: url(../../images/skin_default/top-links-hover.gif) repeat-x scroll 0 0; display:block;}
.dropmenu li a{	
	border-right: solid 1px #ebe9dd;
	color: #F0F0F0;		
	text-transform: capitalize;
	height: 30px;
	z-index:999;
	padding: 7px 15px 0px 15px;
	display: inline;
	cursor:pointer;
	text-decoration: none;
	font-family:inherit;
	font-size: 12px;
	text-align:center;
}
.dropmenu li a:hover { color: #F0F0F0; text-transform: capitalize; background: url(../../images/skin_default/top-links-hover.gif) repeat-x scroll 0 0;}
.dropmenu li:hover ul{ background-color: #F0F0F0;}
.dropmenu li div{ background-color: #FFFFFF; border: 1px solid #ccc; padding: 2px 3px 5px 5px; display: none; position: absolute; height:auto;}
.dropmenu li div ul{ paddint:0px 0px 0px 0px; border: none; background: none; position: relative !important;}
.dropmenu li div ul li{ background-color: #ffffff;	background-image:none;	margin:0px;	color:black; text-align:left;}
.dropmenu li div ul li:hover{ background-color: #ffffff; background-image:none;	color:black;}
.dropmenu li div ul li a{ height:22px; padding:6px 0px 0px 5px; margin:0px 3px 3px 0px; }
.dropmenu li div ul li a:hover{ height:22px; padding:6px 0px 6px 5px; margin:0px 3px 0px 0px; background-image:none;}
.dropmenu li div ul li h2{
	margin: 0px 3px 0px 0px;	
	background: url(../../images/skin_default/top-links.gif) repeat-x scroll 0 0 transparent;
	font-size:12px; 
	font-family:Arial, Helvetica, sans-serif;	
	color:#FFFFFF;
	text-transform:capitalize;
	text-align:left;
	font-weight:none;
	height:29px;
	padding:7px 0px 0px 5px;
}
.dropmenu li div a{	border: none;	text-align:left;	color:black;	padding:0px;	text-decoration:none;	background-color:#FFFFFF;}
.dropmenu li div a:hover{ color:black; background-color:#434343; display:block;}	
.dropmenu li div div{ display: block;	position: relative;	background: none;	border: none;}
.dropmenu li div div a{	display: block;	border: none;	color: #666;	text-decoration: underline;	padding: 0px;	margin: 0px;	text-transform: none;}
.dropmenu li div div a:hover{ color: #000; text-decoration: none;  display:block;}
ul.left{ float: left; width: 145px; }
ul.right{ float: right; width: 145px; }
li.left{ float: left; width: 145px; }
li.right{ float: right; width: 145px;}
.personalize{ width: 155px; margin-top:30px; left:0px; position:absolute;}
.manage{ width: 298px; margin-top:30px; left:0px; position:absolute;}
.research{ width: 155px; margin-top:30px; left:0px; position:absolute;}
.library{ width: 298px; margin-top:30px; left:0px; position:absolute;}
.inventory{	width: 140px; margin-top:30px; left:0px; position:absolute;}
.reports{ width: 140px; margin-top:30px; left:0px; position:absolute;}
*/