@charset "iso-8859-1";


/* MENUS.CSS */

	

DIV#divMenuBar {background-color:#CFC8FF; width:160px;margin-left:25; margin-top:15;border-style:none}
DIV#divMenuBar A:hover { color:red; }

    

/*DIV.clsMenuBarItem { font-weight:bold; cursor:hand; font-size:90%;}*/



DIV.subMenu  {margin-top:-20;margin-left:15;visibility:visible;position:relative;cursor:hand;width:130;height:20;}
DIV.subMenu A { text-decoration:none; color:black; font-size:10; font-family:Verdana, Arial, Helvetica, sans-serif; }
DIV.subMenu A:hover { color:red; }
DIV.clsMenuBarItemPict {background-color:'#CFC8FF';visibility:visible;position:absolute;cursor:hand;font-size:12;font-weight:bold;padding:0px 0px 0px 0px;margin-top:-10;margin-left:-37;}

DIV.clsMenuBarItemPict A:hover { color:red; }
DIV.clsMenuBarItemPictA {background-color:'#CFC8FF';visibility:visible;position:absolute;cursor:hand;font-size:12;font-weight:bold;padding:0px 0px 0px 0px;margin-top:1;margin-left:-37;}

DIV.clsMenuBarItemPictA A:hover { color:red; }


DIV.clsMenuBarItemRightPict { 

	background-color:"#CFC8FF"; 

	visibility:visible;

	position:absolute;cursor:hand;font-size:12;font-weight:bold;height:20px;padding:0px 0px 0px 0px;margin-top: -4;margin-left:42;
}
   

DIV.clsMenuBarItem {margin-top:-20;margin-left:-18;visibility:visible;position:relative;cursor:hand;font-size:12;font-weight:bold;height:20 px;padding:0px 0px 0px 0px;width:130;}

DIV.clsMenuBarItem A { text-decoration:none; color:black; font-weight:bold;font-size:11 ;}

DIV.clsMenuBarItem  A:hover { color:red; }

DIV.clsMenuBarItemA {margin-top:-4;margin-left:-18;visibility:visible;position:relative;cursor:hand;font-size:12;font-weight:bold;height:20 px;padding:0px 0px 0px 0px;width:130;}

DIV.clsMenuBarItemA A { text-decoration:none; color:black; font-weight:bold;font-size:11 ;}

DIV.clsMenuBarItemA  A:hover { color:red; }


DIV.clsMenuBarItemLastPict {margin-top:-15;margin-left:16;position:relative;}

DIV.clsMenuBarItemSelected { 

		margin-top:20 ;margin-left:16;

		 background-color:"#9A99FF"; 

		visibility:visible;width:130;

		 position:relative;cursor:hand;font-size:12;font-weight:bold;height:20px;padding:0px 0px 0px 0px;

}

    



/*#6699CC #00008C moccasin #FFAE5E*/

TABLE#tblMenuBar TD { font-size:60%; color:white; cursor:default; }

TABLE#tblMenuBar TD.clsMenuBarItem { font-weight:bold; cursor:hand; }

	

DIV.clsMenu { 

	font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9; background-color:"#9A99FF"; 

	position:absolute;visibility:hidden; width:160px;height:20; 

}

DIV.clsMenu A { text-decoration:none; color:black; font-size:10; font-family:Verdana, Arial, Helvetica, sans-serif; }

DIV.clsMenu A:hover { color:red; }


BUTTON { font-family:tahoma; font-size:100%; }

    

IMG.pict { visibility:visible;  position:relative; cursor:hand; }
