/******************************************************************************************
*******************************************************************************************
GARUDA STYLES STARTS
*******************************************************************************************
******************************************************************************************/

table.displaycdr thead th {
	 border:1px solid #5d95c1; background-color:#003366;
	 color:white;
}
table.display thead th {
	 border:1px solid #5d95c1;
	 background-color:#003366;
	 color:white;
}
form fieldset {
	border:1px solid #d2d2d2;
}

form fieldset legend {
	color: #002952;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	
}

form button,form input[type=button],form input[type=submit] {
	background:#a4b4c6;
	border:1px solid #a4b4c6;
	color: black;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background:#a4b4c6;
	border:1px solid #a4b4c6;
	color: black;

}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	background:#6a83a1;
}
.button{
	background:#a4b4c6;
	border:1px solid #a4b4c6;
	color: black;
}
form button:hover, form input[type=button]:hover {
	background:#6a83a1;
}
tr.odd {
	background-color: #ececec;
}
tr.even {
	background-color: white;
}
table tbody tr.odd td{
	background-color: #ececec;
}

table tbody tr.even td{
	background-color: white;
}
tr.odd td.sorting_1 {
	background-color: #dbdbdb;
}
tr.even td.sorting_1 {
	background-color: #ececec;
}

.maincontainer{
	background: #f7f7f7;
}
/* Component containers
----------------------------------*/
DIV.ui-widget-content { border: 1px solid #d2d2d2; background: #f7f7f7; color: black; }
DIV.ui-widget-content a { color: #0000ff;   }
DIV.ui-widget-header { border: 1px solid #9d9d9d; background: #f7f7f7 url(../../images/skin_default/bg-tbheading.jpg) 50% 50% repeat-x; color: #384313; padding: 5px 0 0 10px;}
DIV.ui-widget-header .ui-icon {background-image: url(../../images/ui-icons_d8e7f3_256x240.png); }
DIV.ui-datepicker th{background-color:#003366;color:white;}

img {
	width: auto;
	height: auto;
}
.ui-icon {
    height: 16px;
    width: 16px;
}