
@import url("../velos.css");

/**************************************************************************************************
Themes start
**************************************************************************************************/

ul.dropmenu{
	background:#FFFFFF url(../../images/mgPanelimages/gradients_teal.png) repeat-x scroll 0 0;
	
}

LI {
	background:#FFFFFF url(../../images/mgPanelimages/gradients_teal.png) repeat-x scroll 0 0;
}

.dropmenu ul{
	background: #FFFFFF url(../../images/mgPanelimages/gradient_teal.gif) repeat-x scroll 0 0;
	border-bottom: 1px solid #ccc;
}

.dropmenu ul a {
  color:#000000;
  background: #FFFFFF url(../../images/mgPanelimages/gradient.png) repeat-x scroll 0 0;
  border: 1px solid #ccc;
  
}


.dropmenu ul a:hover {
	color:#083e3e !important;
	background-color: #F0F0F0;
	background-image: none;
	
}

.dropmenu li a:hover {
    color: #083e3e;
}

.dropmenu li span{
	background: url(../../images/mgPanelimages/arrow_up.gif) repeat-x scroll 0 0;
	}

.dropmenu li a{
	border-right: solid 1px #083e3e;
	color: #000;
}

.dropmenu li  a:hover span{
	background: url(../../images/mgPanelimages/arrow_hover.gif) repeat-x scroll 0 0;
}

a.selected span{
	background: url(../../images/mgPanelimages/arrow_hover.gif) repeat-x scroll 0 0;
}


.dropmenu li div{
	background: #FFFFFF url(../../images/mgPanelimages/gradient.png) repeat-x scroll 0 0;
	
}

.subheading h2{
	color:#000000;
	border-bottom: 1px solid #ccc;
	background:  url(../../images/mgPanelimages/gradient_teal.png) repeat-x scroll 0 0;

}
.accounts submenu{
	background:#333333;
}


/**************************************************************************
common Themes start
**************************************************************************/

DIV.tableDefault TH {
background-color:#008080; 
color:white;
}

DIV.browserDefault TH, DIV.pgbrowse TH {
background-color:#008080;
color:white;

}

DIV.formBrwDefault TH {
background-color:#008080;
color:white;

}

DIV.popDefault TH {
background-color:#008080;
color:white;
}

DIV.popDefault HR {
color:#008080;}


tr#headSection TD {
background-color:#008080;
color:white;
}

DIV#myStudies TH {
	background-color:#008080;
	color:white;
	
}

Table.selectedTab {
background-color:#008080;
}

Table.selectedTab TR {
background-color:#008080;
}

Table.selectedTab TD {
/*background-color:#008080;*/
}


Table.unselectedTab TR {
background-color:#008080;
}

DIV.browserDefaultPat TH {
background-color:#008080;
color:white;

}

TR.popupHeader TH {
background-color:#008080;
color:white;

}

DIV.formWithLinks TH {
background-color:#008080;
color:white;

}


DIV.accLinksmgpat TH {
background-color:#008080;
color:white;
}


DIV.accLinksmgpat TR {
background-color:#008080;}

Table.dynFormTable TH {
background-color:#008080;
color:white;

}


TD.grayComments {
color:black;
}

DIV.tabDefBot TH {
background-color:#008080;
color:white;
}

DIV.tabFormBot TH {background-color:#008080;
color:white;
}

TH.reportHeading {
color:#FFFFFF;
background-color:#008080;
}


.headerFormat tr th {
 color:#FFFFFF;
 background-color:#008080;
}

TR.reportGraphBar {
color:white;
background-color:#008080;
}


DIV.tabDefTopn TH {background-color:#008080;
color:black;
}

DIV.tabDefBotN TH {background-color:#008080;
color:white;
}

DIV.BrowserTopn TH {background-color:#008080;
color:black;
}

DIV.BrowserBotN TH {background-color: #008080;
color:white;
}


DIV.tabFormTopN TH {background-color:#008080;
color:white;
}

DIV.tabFormBotN TH {background-color:#008080;
color:white;
}

DIV.tabFormBotNInv TH {background-color:#008080;
color:white;
}

/************ P tag for Section Headings **********/
P.sectionHeadings {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size: 9pt;
font-weight:bold;
background-color: #e1dce0;
background-image: url(../../images/mgPanelimages/gradients_teal.png)
}
/****************************************/


