@charset "iso-8859-1";


/* MENUS.CSS */

	

DIV#divMenuBar { background-color:#CFC8FF; width:160px; margin-top:10;height:35;border-style:none}
DIV#divMenuBar A:hover { color:red; }

    

/*DIV.clsMenuBarItem { font-weight:bold; cursor:hand; font-size:90%;}*/



DIV.clsMenuBarItemPict { 

		background-color:"#CFC8FF"; 

		visibility:visible;

		position:relative;cursor:hand;font-size:12;font-weight:bold;height:10px;padding:0px 0px 0px 0px;

}

DIV.clsMenuBarItemPict A:hover { color:red; }


DIV.clsMenuBarItemRightPict { 

	background-color:"#CFC8FF"; 

	visibility:visible;

	position:absolute;cursor:hand;font-size:12;font-weight:bold;height:20px;padding:0px 0px 0px 0px;margin-top: -4;margin-left:42;

}

	

    

DIV.clsMenuBarItem { 

	margin-top:-24;margin-left:16;

	background-color:"#CFC8FF"; 

	visibility:visible;

	position:relative;cursor:hand;font-size:11;font-weight:bold;height:20 px;padding:0px 0px 0px 0px;width:130;

}

DIV.clsMenuBarItem A { text-decoration:none; color:black; font-weight:bold;font-size:11 ;}

DIV.clsMenuBarItem  A:hover { color:red; }



DIV.clsMenuBarItemLastPict {margin-top:-15;margin-left:16;position:relative;}



DIV.clsMenuBarItemSelected { 

		margin-top:20 ;margin-left:16;

		 background-color:"#9A99FF"; 

		visibility:visible;width:130;

		 position:relative;cursor:hand;font-size:12;font-weight:bold;height:20px;padding:0px 0px 0px 0px;

}

    



/*#6699CC #00008C moccasin #FFAE5E*/

TABLE#tblMenuBar TD { font-size:60%; color:white; cursor:default; }

TABLE#tblMenuBar TD.clsMenuBarItem { font-weight:bold; cursor:hand; }

	

DIV.clsMenu { 

	font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9; background-color:"#9A99FF"; 

	position:absolute;visibility:hidden; width:160px;height:20; 

}

DIV.clsMenu A { text-decoration:none; color:black; font-size:10; font-family:Verdana, Arial, Helvetica, sans-serif; }

DIV.clsMenu A:hover { color:red; }



DIV#submenuItem {margin-top:-19;margin-left:30;position:absolute}

	

BUTTON { font-family:tahoma; font-size:100%; }

    

IMG.pict { visibility:visible;  position:relative; cursor:hand; }
