		 <div class="footer" style="border-top: 1px solid #AAAAAA;"><span id="copyright" class="left marginleft20px valign_middle" ><br> Copyright &copy; <a href="http://velos.com" target="_blank">Velos</a>, Inc. </span>
	   	 <span id ="fimg"  class="float_right marginright20px">
	   		 <a href="http://velos.com" target="_blank"><img style="margin-top:-10px;width:32px;height:32px; float:right;" src="images/velos/footer_logo.jpg" alt="Velos" border="0"/></a> 
	   	 </span> 
	   	 
	   	 </div>
	   	 