
<div id="logo_bar_wrapper">
		<div class="logo_Velos"><a href="http://velos.com" target="_blank"><img src="images/velos/velos-logo.gif" height="70" width="90" border="0" /></a></div>
		<!-- <div class="logo_anderson"><a href="http://www.mdanderson.org" target="_blank"><img src="images/client/anderson_logo.jpg" width="103" height="69" border="0" /></a></div> -->
</div>