<div id="crossIndexDiv">
 	<div id="header">
 		<table style="width: 100%;">
 			<tr>
 			<!--Header left Side Content -->
 				<td style="width: 50%;">
 					<table style="width: 100%;">
 						<tr>
 							<td style="width: 10%;">
 								<div>
									<img id="logo" src="images/logo.jpg" />
								</div>
 							</td>
 							<td style="width: 90%;">
	 							<div>
									<h1 id="h1header" class="header" >Patient EMR</h1>
								</div>
 								<div id="small-box">
									Powered by Present Tense
								</div>
 							</td>
 						</tr>
 					</table>
 				</td>
 				<!--Header Right Side Content -->
 				<td style="width: 50%;">
 					 <table style="width: 100%;">
 					 	<tr>
 					 		<td>
 					 			<div style="float: right;" id="welcome_div">
									<span></span>&nbsp;&nbsp;
    							</div>
 					 		</td>
 					 	</tr>
 					 	<tr><td>&nbsp;</td></tr>
 					 	<tr>
 					 		<td>
 					 				<div id="search-box">
 					 							<div id="topsearchDiv">
													<input type="text" id="query" name="query" onkeyup="getDataForText(event)" onblur="cleartext(this)" />
													<img src="images/search.png" onclick="getDataForTypedText()" />
												</div>
									</div>
									<div id="topsearchResult" style="display: none;">
									</div>
 					 		</td>
 					 	</tr>
 					 </table>

 				</td>

 			</tr>
 		</table>
 	</div>
 	<div id="menuShrinkButton" class='menushrink' onclick="crossIndexHomeMenu_showhide()"></div>
 	<div id='dataContent' style="width:100%">
 		<table class="dataContentTable" style="width:100%">
 			<tbody>
 			<tr>
 				<td class="facetContent">
 					<div style="width: 100%;" >
						<ul  id="indexUL">
 						</ul>
 						<br/>
 						<ul  id="facetUL">
 						</ul>
 					</div>
 				</td>
 				<td class="searchValues">
 					<div id="currentSelc">
 					</div>
 					<div id="displayRecHeader">
 						<table style="width: 100%;">
 							<tbody>
 								<tr>
 									<td align="left">
 										<div id="displayRecCount">
 										</div>
 									</td>
 									<td align="right">
 										<div id="crossIndexOptions">
											  <a href="#" onclick='printCrossIndexResults()'>Print</a>&nbsp;&nbsp;|
											  <a href="#" onclick='exportCrossIndexResults()'>Export</a>&nbsp;&nbsp;|
											  <a href="#" onclick='saveCrossIndexSearch();' >Save Search</a>&nbsp;&nbsp;|
											  <a href="#" onclick="openSavedSearch('crossIndex')" >Open Search</a>
        								</div>
 									</td>
 								</tr>
 							</tbody>
 						</table>
 					</div>
 					<div id="resultContentDiv" >
 						<table style="width: 100%;" id="resultTable">
 							<tbody>
 							</tbody>
 						</table>
 					</div>
 					<div id="errorMsgDiv" style="display: none;">
 						<table style="width: 100%;" >
 							<tbody>
 							</tbody>
 						</table>
 					</div>
 					<div id="pagerLayout">
 					    <select id='noOfRows' onchange="clearDefault();loadLuceneData()">
 											<option value="10">Show 10 results per page</option>
 											<option value="25">Show 25 results per page</option>
 											<option value="50">Show 50 results per page</option>
 											<option value="75">Show 75 results per page</option>
 											<option value="100">Show 100 results per page</option>
 						 </select>
 						 <input type="hidden" id='noOfRecords' />
 						<div id="paginator"></div>
 					</div>
 				</td>
 			</tr>
 			</tbody>
 		</table>
 	</div>
<div id="menuFilter" style="display: none;">
<div id="menuFilterContent" >
<div class="menuFilterContentSettings">
<input type="hidden" id="facetname"  />
<ol id="selectedOL" style="display: none;">
</ol>
<input type="text" id="menuFiltertxt"  /><img id="search" src = "images/search_button.gif"></img>&nbsp;&nbsp;<img id="close" src = "images/close.gif"></img>
<div class="intro" id="resultcount"></div>
<div class='lineClear'>&nbsp;</div>
</div>
<div class="alpha-nav">
			<button type="button" onclick="fnGetFacetResult('',this, '', '');" class="active"><div class="linklikeDiv">All</div></button>
			<button type="button" onclick="fnGetFacetResult('A',this, '', '');"><div class="linklikeDiv">A</div></button>
			<button type="button" onclick="fnGetFacetResult('B',this, '', '');"><div class="linklikeDiv">B</div></button>
			<button type="button" onclick="fnGetFacetResult('C',this, '', '');"><div class="linklikeDiv">C</div></button>
			<button type="button" onclick="fnGetFacetResult('D',this, '', '');"><div class="linklikeDiv">D</div></button>
			<button type="button" onclick="fnGetFacetResult('E',this, '', '');"><div class="linklikeDiv">E</div></button>
			<button type="button" onclick="fnGetFacetResult('F',this, '', '');"><div class="linklikeDiv">F</div></button>
			<button type="button" onclick="fnGetFacetResult('G',this, '', '');"><div class="linklikeDiv">G</div></button>
			<button type="button" onclick="fnGetFacetResult('H',this, '', '');"><div class="linklikeDiv">H</div></button>
			<button type="button" onclick="fnGetFacetResult('I',this, '', '');"><div class="linklikeDiv">I</div></button>
			<button type="button" onclick="fnGetFacetResult('J',this, '', '');"><div class="linklikeDiv">J</div></button>
			<button type="button" onclick="fnGetFacetResult('K',this, '', '');"><div class="linklikeDiv">K</div></button>
			<button type="button" onclick="fnGetFacetResult('L',this, '', '');"><div class="linklikeDiv">L</div></button>
			<button type="button" onclick="fnGetFacetResult('M',this, '', '');"><div class="linklikeDiv">M</div></button>
			<button type="button" onclick="fnGetFacetResult('N',this, '', '');"><div class="linklikeDiv">N</div></button>
			<button type="button" onclick="fnGetFacetResult('O',this, '', '');"><div class="linklikeDiv">O</div></button>
			<button type="button" onclick="fnGetFacetResult('P',this, '', '');"><div class="linklikeDiv">P</div></button>
			<button type="button" onclick="fnGetFacetResult('Q',this, '', '');"><div class="linklikeDiv">Q</div></button>
			<button type="button" onclick="fnGetFacetResult('R',this, '', '');"><div class="linklikeDiv">R</div></button>
			<button type="button" onclick="fnGetFacetResult('S',this, '', '');"><div class="linklikeDiv">S</div></button>
			<button type="button" onclick="fnGetFacetResult('T',this, '', '');"><div class="linklikeDiv">T</div></button>
			<button type="button" onclick="fnGetFacetResult('U',this, '', '');"><div class="linklikeDiv">U</div></button>
			<button type="button" onclick="fnGetFacetResult('V',this, '', '');"><div class="linklikeDiv">V</div></button>
			<button type="button" onclick="fnGetFacetResult('W',this, '', '');"><div class="linklikeDiv">W</div></button>
			<button type="button" onclick="fnGetFacetResult('X',this, '', '');"><div class="linklikeDiv">X</div></button>
			<button type="button" onclick="fnGetFacetResult('Y',this, '', '');"><div class="linklikeDiv">Y</div></button>
			<button type="button" onclick="fnGetFacetResult('Z',this, '', '');"><div class="linklikeDiv">Z</div></button>
	</div>
	<div class="cleaner"></div>
	</div>
</div>
<div id="pageSelcDiv" style="display: none;">
	<table style="width: 100%;" class="pageSelcTable">
		<tr>
			<td>Total <span id="totalCrossIndexPages"></span> Page(s)</td>
		</tr>
		<tr>
			<td><b><span id='dialogtitle'></span> Range</b></td>
		</tr>
		<tr>
			<td><label><input type="radio" name="crossIndexpageSelec" checked id="allpages" />&nbsp;All</label></td>
		</tr>
		<tr>
			<td>
				<label><input type="radio" name="crossIndexpageSelec"   />&nbsp;Pages</label>
				&nbsp;&nbsp;&nbsp;From:&nbsp;<input type="text" size="2" id="startPage" />&nbsp;&nbsp;To:&nbsp;<input type="text"  size="2" id="endPage" />
			</td>
		</tr>
	</table>
</div>

 </div>