  <div id="wrap">
 	<div id="header">
 		<table style="width: 100%;">
 			<tr>
 			<!--Header left Side Content -->
 				<td style="width: 50%;">
 					<table style="width: 100%;">
 						<tr>
 							<td style="width: 10%;">
 								<div>
									<img id="logo" src="images/logo.jpg" />
								</div>
 							</td>
 							<td style="width: 90%;">
	 							<div>
									<h1 id="h1header">Patient EMR</h1>
								</div>
 								<div id="small-box">
									Powered by Present Tense
								</div>
 							</td>
 						</tr>
 					</table>
 				</td>
 				<!--Header Right Side Content -->
 				<td style="width: 50%;">
 					 <table style="width: 100%;">
 					 	<tr>
 					 		<td>
 					 			<div style="float: right;" id="welcome_div">
									<span></span>&nbsp;&nbsp;
    							</div>
 					 		</td>
 					 	</tr>
 					 	<tr><td>&nbsp;</td></tr>
 					 	<tr>
 					 		<td>
 					 				<div id="search-box">
 					 							<div id="topsearchDiv">
													<input type="text" id="query" name="query" onkeyup="customKeyUp(this,event)" onfocus="cleartext()" />
													<img src="images/search.png" onclick="customClick(this)" />
												</div>
									</div>
									<div id="topsearchResult" style="display: none;">
									</div>
 					 		</td>
 					 	</tr>
 					 </table>

 				</td>

 			</tr>
 		</table>
 	</div>

	<!-- End of Header -->

 <div id="right">
      <div id="result">
         <div id="filter-box">
         <div class='filterBoxText' >Your Selections:&nbsp;</div>
               	  <ul id="selection" ><li></li></ul>
        </div>
        <div id="navigation">
          <div id="menu">
          <div id="pager-header"></div>
          <a onclick='createChart()'>Chart</a>&nbsp;&nbsp;|
          <a onclick='createPivotTable()'>Summary Table</a>&nbsp;&nbsp;|
          <a onclick='compareDocument()'>Compare</a>&nbsp;&nbsp;|
		  <a onclick='printPage()'>Print</a>&nbsp;&nbsp;|
		  <a onclick='exportExcelData()'>Export</a>&nbsp;&nbsp;|
		  <a onclick='saveSearch();'>Save Search</a>&nbsp;&nbsp;|
		  <a id='savedList' title='Open Search Results' onclick='openSingleIndexSearch()'>Open Search</a>
          <ul id='displayValues'></ul>
          </div>
        </div>

		<div id="result_table">
		<table>
			<tr>
				<td>
					<table id="docs" cellpadding="0" cellspacing="0" border="1">
					</table>
					<div id="result_status"></div>
					<div id="suggDiv" style="display: none;">
						<div class='NoRecordMsg' >No Record(s) Found.</div><br/>
						<div>
						<span style="float: left;">Did you mean:&nbsp;</span>
							<div id="suggLinks"></div>
						</div>
					</div>
				</td>
				<td>
					&nbsp;
				</td>
			</tr>
		</table>
		</div>
		<ul id="pager"></ul>
		<br/>
      </div>
	 <div id="printDiv" style="display: none;">
		<br/><br/><br/>
	</div>

   </div>

<div id="menuShrinkButton" class='menushrink' onclick="facetMenu_showhide()"></div>
<div id='singleIndexDiv'>

</div>


<ul id="menuregion" style="display: none;">

<li>
	<div id="study">
		<ul id="nav">
			<li class="minwidth110"><a href="#" onclick="loadData('PatientEMR')" style="background-color:#5690B6;">Patient EMR</a>
				<ul id="PatientEMRMenuList"></ul>
			</li>
		</ul>
	</div>
</li>

<li>
	<div id="study">
		<ul id="nav">
			<li class="minwidth110"><a href="#" onclick="loadData('study')" style="background-color:#5690B6;">Study</a>
				<ul id="StudyMenuList"></ul>
			</li>
		</ul>
	</div>
</li>

<li>
	<div id="patientStat">
		<ul id="nav">
			<li class="minwidth110"><a href="#" onclick="loadData('patientStat')" >PatientStat</a>
				<ul id="PatientStatMenuList"></ul>
			</li>
		</ul>
	</div>
</li>

<li>
	<div id="patientSchedule">
		<ul id="nav">
			<li class="minwidth110"><a href="#" onclick="loadData('patientSchedule')" >PatientSchedule</a>
				<ul id="PatientScheduleMenuList"></ul>
			</li>
		</ul>
	</div>
</li>

<li>
	<div id="patientQueries">
		<ul id="nav">
			<li class="minwidth110"><a href="#" onclick="loadData('patientQueries')" >PatientQueries</a>
				<ul id="PatientQueriesMenuList"></ul>
			</li>
		</ul>
	</div>
</li>

<li>
	<div id="PatientFacilities">
		<ul id="nav">
			<li class="minwidth110"><a href="#" onclick="loadData('PatientFacilities')" >PatientFacilities</a>
				<ul id="PatientFacilitiesMenuList"></ul>
			</li>
		</ul>
	</div>
</li>

<li>
	<div id="AccrualBySummary">
		<ul id="nav">
			<li class="minwidth110"><a href="#" onclick="loadData('AccrualBySummary')" >AccrualBySummary</a>
				<ul id="AccrualBySummaryMenuList"></ul>
			</li>
		</ul>
	</div>
</li>


<!-- <li>
	<div id="diagnositics">
		<ul id="nav">
			<li class="minwidth110"><a href="#" onclick="loadData('diagnositics')" style="background-color:#5690B6;">Diagnostics</a>
				<ul id="DiagnositicsMenuList"></ul>
			</li>
		</ul>
	</div>
</li>

<li>
	<div id="bone_marrow_biopsy">
		<ul id="nav">
			<li class="minwidth110"><a href="#" onclick="loadData('bone_marrow_biopsy')" >Bone Marrow Biopsy</a>
				<ul id="Bone_marrow_biopsyMenuList"></ul>
			</li>
		</ul>
	</div>
</li> -->
<li></li>
</ul>

 </div>
<div id="printDialog" style="display: none;">
	<table>
		<tr>
			<td><div id="totalPages"></div></td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td><b>Print Range</b></td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td><label><input type="radio" name="pageSelec" id="all" checked="checked" />&nbsp;All</label></td>
		</tr>
		<tr>
			<td>
				<label><input type="radio" name="pageSelec"  id="selPages" />&nbsp;Pages</label>
				&nbsp;&nbsp;&nbsp;From:&nbsp;<input type="text" size="2" id="pageFrom" />&nbsp;&nbsp;To:&nbsp;<input type="text" id="pageTo"  size="2" />
			</td>
		</tr>
	</table>
</div>

<div id="menuFilter" style="display: none;">
<div id="menuFilterContent" >
<div class="menuFilterContentSettings">
<input type="hidden" id="facetname"  />
<ol id="selectedOL" style="display: none;">
</ol>
<input type="text" id="menuFiltertxt"  /><img id="search" src = "images/search_button.gif"></img>&nbsp;&nbsp;<img id="close" src = "images/close.gif"></img>
<div class="intro" id="resultcount"></div>
<div class='lineClear'>&nbsp;</div>
</div>
<div class="alpha-nav">
			<button type="button" onclick="fnGetResult('',this);" class="active"><div class="linklikeDiv">All</div></button>
			<button type="button" onclick="fnGetResult('A',this);"><div class="linklikeDiv">A</div></button>
			<button type="button" onclick="fnGetResult('B',this);"><div class="linklikeDiv">B</div></button>
			<button type="button" onclick="fnGetResult('C',this);"><div class="linklikeDiv">C</div></button>
			<button type="button" onclick="fnGetResult('D',this);"><div class="linklikeDiv">D</div></button>
			<button type="button" onclick="fnGetResult('E',this);"><div class="linklikeDiv">E</div></button>
			<button type="button" onclick="fnGetResult('F',this);"><div class="linklikeDiv">F</div></button>
			<button type="button" onclick="fnGetResult('G',this);"><div class="linklikeDiv">G</div></button>
			<button type="button" onclick="fnGetResult('H',this);"><div class="linklikeDiv">H</div></button>
			<button type="button" onclick="fnGetResult('I',this);"><div class="linklikeDiv">I</div></button>
			<button type="button" onclick="fnGetResult('J',this);"><div class="linklikeDiv">J</div></button>
			<button type="button" onclick="fnGetResult('K',this);"><div class="linklikeDiv">K</div></button>
			<button type="button" onclick="fnGetResult('L',this);"><div class="linklikeDiv">L</div></button>
			<button type="button" onclick="fnGetResult('M',this);"><div class="linklikeDiv">M</div></button>
			<button type="button" onclick="fnGetResult('N',this);"><div class="linklikeDiv">N</div></button>
			<button type="button" onclick="fnGetResult('O',this);"><div class="linklikeDiv">O</div></button>
			<button type="button" onclick="fnGetResult('P',this);"><div class="linklikeDiv">P</div></button>
			<button type="button" onclick="fnGetResult('Q',this);"><div class="linklikeDiv">Q</div></button>
			<button type="button" onclick="fnGetResult('R',this);"><div class="linklikeDiv">R</div></button>
			<button type="button" onclick="fnGetResult('S',this);"><div class="linklikeDiv">S</div></button>
			<button type="button" onclick="fnGetResult('T',this);"><div class="linklikeDiv">T</div></button>
			<button type="button" onclick="fnGetResult('U',this);"><div class="linklikeDiv">U</div></button>
			<button type="button" onclick="fnGetResult('V',this);"><div class="linklikeDiv">V</div></button>
			<button type="button" onclick="fnGetResult('W',this);"><div class="linklikeDiv">W</div></button>
			<button type="button" onclick="fnGetResult('X',this);"><div class="linklikeDiv">X</div></button>
			<button type="button" onclick="fnGetResult('Y',this);"><div class="linklikeDiv">Y</div></button>
			<button type="button" onclick="fnGetResult('Z',this);"><div class="linklikeDiv">Z</div></button>
	</div>
	<div id="menuFilterData"></div>
	</div>
</div>
 <div id="exportDialog" style="display: none;">
	<table>
		<tr>
			<td><div id="exportTotalPages"></div></td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td><b>Export Range</b></td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td><label><input type="radio" name="exportPageSelec" id="exportAll" checked="checked" />&nbsp;All</label></td>
		</tr>
		<tr>
			<td>
				<label><input type="radio" name="exportPageSelec"  id="exportSelPages" />&nbsp;Page(s)</label>
				&nbsp;&nbsp;&nbsp;From:&nbsp;<input type="text" size="2" id="exportPageFrom" />&nbsp;&nbsp;To:&nbsp;<input type="text" id="exportPageTo"  size="2" />
			</td>
		</tr>
	</table>
</div>
<div id='compareDocTableDiv' style="display: none;">
	<table id='compDocTable'>
		<tbody>
		</tbody>
	</table>
	<div id='compareDocTableDialog'>
	</div>
</div>
<div id="pivotDialogDiv" style="display: none;">
<table style="width: 100%">
<tr>
	<td style="width: 80%; text-align: center;">
		<div class="solrpivotDiv">
			<div id="solrpivotDiv">
			</div>
		</div>
	</td>
	<td style="width: 20%">
		<div id="pivotFacetnameDiv">
		</div>
		<div>
			<div id="dropItemRow" class='pivotdropmenu' >
				<div id='centerDiv'><div class='draganddropText' >Drag &amp; Drop Row Here</div></div>
			</div>
			<div id="dropItemColumn" class='pivotdropmenu'>
				<div id='centerDiv'><div class='draganddropText'>Drag &amp; Drop Column Here</div></div>
			</div>
		</div>
	</td>
</tr>
</table>
</div>

<div id="chartDialogDiv" style="display: none;">
<table style="width: 100%">
<tr>
	<td style="width: 80%; vertical-align: top; ">
		<table style="width: 100%">
			<tr>
				<td align="right">
					<ul id="chartUL">
					<li class='chartli chartliLeft activeChartli' onclick="changeChartType(this,'PieChart')" >Pie Chart</li>
					<li class='chartli' onclick="changeChartType(this,'BarChart')" >Bar Chart</li>
					<li class='chartli chartliRight' onclick="changeChartType(this,'LineChart')" >Line Chart</li>
					</ul>
				</td>
				<td align="left">
					<div id="dropFieldForChart" class='chartdropmenu'>
					<div id='centerDiv'><div class='draganddropText'>Drag &amp; Drop a Field Here</div></div>
					</div>
				</td>
			</tr>
		</table>
		<div id="chartCanvasDiv" align="center">
			<canvas id="pieChartcanvas" class="chartCanvas" height="450" width="450" style="display: none;"></canvas>
			<canvas id="barChartcanvas" class="chartCanvas" height="450" width="900" style="display: none;"></canvas>
			<canvas id="lineChartcanvas" class="chartCanvas" height="450" width="900" style="display: none;"></canvas>
		</div>

	</td>
	<td style="width: 20%; vertical-align: top;">
		<div id="chartFacetnameDiv">
		</div>

	</td>
</tr>
</table>
</div>