@import url("../velos.css");

body {
	background-color: #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #696969;	
}

a{color:#3B9EC6; font-weight:bold;}

TEXTAREA{  -moz-border-radius:5px; -webkit-border-radius:5px; border: 1px solid #D3D3D3;}
SELECT{  -moz-border-radius:5px; -webkit-border-radius:4px; border: 1px solid #D3D3D3; height:25px;}
text {  -moz-border-radius:5px; -webkit-border-radius:5px; border: 1px solid #D3D3D3;}

input[type=text] { -moz-border-radius:5px; -webkit-border-radius:5px; border: 1px solid #D3D3D3; height:25px;}
input[type=password] { -moz-border-radius:5px; -webkit-border-radius:5px; border: 1px solid #D3D3D3; height:25px;}

INPUT:focus{background-color: #FFF7DD;}
TEXTAREA:focus{background-color: #FFF7DD;}
SELECT:focus{background-color: #FFF7DD;}


Table.tabBorder{background-color:#3B9EC6; margin-left:3px;}

DIV.topline{background-color:#A80101; height:5px; display:block; overflow:hidden;}

/********* Tabs *****************/ 
DIV.popDefault Table.selectedTab,
Table.selectedTab {font-family: Arial, Helvetica,  sans-serif; font-size:12px; padding:0px 0px 0px 0px; margin:0px 0px 0px 3px;  background-color:#3B9EC6;}
DIV.popDefault Table.selectedTab TD,
Table.selectedTab TD {	
	font-weight:bold; padding:9px 5px 6px 5px; margin:0px;
	border-top:1px solid #9d9d9d;
	border-left:1px solid #9d9d9d;
	border-right:1px solid #9d9d9d;
	height:30px;
}
DIV.popDefault Table.selectedTab A,
Table.selectedTab A { color:#FAFAFA;  text-decoration:none;  font-size:12px; font-weight:normal;}
DIV.popDefault Table.selectedTab A:hover,
Table.selectedTab A:hover { color:#FAFAFA;  text-decoration:none; font-size:12px; font-weight:normal;}

DIV.popDefault Table.unselectedTab,
Table.unselectedTab { border:none; background: #E3E3E3; padding:0px 0px 0px 0px; margin:0px 0px 0px 3px;}
/*Table.unselectedTab:hover {background:none; background-image:none; background-color:#8c8282;  }*/
DIV.popDefault Table.unselectedTab TD,
Table.unselectedTab TD {
	height:30px;
	padding:9px 5px 6px 5px;
	margin:0px;
	border-top:1px solid #9d9d9d;
	border-left:1px solid #9d9d9d;
	border-right:1px solid #9d9d9d;
}
/*Table.unselectedTab TD:hover {background:none; background-image:none;  background-color:#8c8282; }*/
DIV.popDefault Table.unselectedTab A,
Table.unselectedTab A {	color:#696969; text-decoration:none; font-size:12px; font-weight:normal;}
/*Table.unselectedTab A:hover {background:none; background-image:none; background-color:#8c8282; font-weight:normal; }*/

	/****** Table Default Bottom  ********/
DIV.tabDefBotN Table {
	border-collapse: collapse;
	background-color: #FAFAFA;
	padding: 0px;
	margin: 0px;
	color: #696969;
}

DIV.tabDefBotN TH {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-right:1px solid #9d9d9d;
	border-left:1px solid #9d9d9d;
	border-top:1px solid #9d9d9d;
}

DIV.tabDefBotN TR {
	height: 30px;
}

DIV.tabDefBotN TD {
	font-family: Arial, Helvetica, sans-serif;
	color:#696969;
	background-color: #FAFAFA;
	margin: 0px;
	padding: 0px 0px 0px 5px;
	font-size: 12px;
}

DIV.tabDefBotN TD checkbox {
	float: right;
}

DIV.tabDefBotN TD text,DIV.tabDefBotN TD select {
	border: 1px solid #d3d3d3;
	height: 26px;
}

DIV.tabDefBotN TD TEXTAREA {
	border: 1px solid #d3d3d3;
}

DIV.tabDefBotN A {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: #3B9EC6;
	font-size: 11px;
	font-weight:bold;
}

DIV.tabDefBotN  A:hover {
	color:#696969;
}

DIV.tabDefBotN  BUTTON {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.eSign {
	background-color: #9f9e9e;
}

/****  Advance search ******/
Table.basetbl {
	border: 1px solid #9D9D9D;
	padding: 0px 0px 10px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#696969;
}
.basetbl TR {
	background-color: #FAFAFA;		
}
Table.basetbl a{color: #3B9EC6;}
.basetbl TH{
	color:#696969;
	/*background-image: url(../../images/skin_default/bg-tbheading.jpg);*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	background-repeat:repeat-x;
	border-right:1px solid #9d9d9d;
	border-top:1px solid #9d9d9d;
	border-left:1px solid #9d9d9d;
}
.basetbl p {
	font-family: Arial, Helvetica, sans-serif;
	color: #1D536D;
	background-color:#E3E3E3;
	font-size: 13px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
}

.basetbl TD {
	height: 26px;
	padding: 1px 5px 1px 15px;
}


.basetbl TD text,.basetbl TD select{
	border: 1px solid #d3d3d3;
	height:25px;	
}

.basetbl TD button {
	/*margin: 0px 10px 10px 0px;*/
}

/*** A/C form Edit ***/
table.outline {
	border: 1px solid #9D9D9D;
}

table.appendTR TR {
	border: 1px 0px 1px 1px solid #9D9D9D;
	background-color: #FAFAFA;
	margin-top: 10px;
}

/******* home page form fix **********/
.plainBg {
	background-color: #FAFAFA;
}

/**** dashboard dynamic table *****/
DIV.chartDisplay {
	height: 235px;
	overflow: auto;
	width: 99%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

DIV.chartDisplay table {
	border: 2px solid #F1F0EF;
}

DIV.chartDisplay table TR {
	padding: 0px;
	margin: 0px;
}

/* DIV.chartDisplay{height: 230px; width: 155px; border-left:0px; border-bottom:0px; border-top:0px; border-style: double; overflow:auto;}*/
	/********** Form Default *****************/
DIV.formDefault Table {
	border-collapse: collapse;
	/* background-color: #FAFAFA;*/
}

DIV.formDefault TH {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-right:1px solid #9d9d9d;
	border-top:1px solid #9d9d9d;
	border-left:1px solid #9d9d9d;
}

DIV.formDefault{background-color: #FAFAFA;	}

DIV.formDefault TR {
	
}

DIV.formDefault TD {
	font-family: Arial, Helvetica, sans-serif;
	color:#696969;
	font-size: 12px;
}

DIV.formDefault A {
	font-family: Arial, Helvetica, sans-serif;
	/* font-weight: bold;*/
	font-size: 12px;
}

DIV.formDefault  A:hover {
	color:#696969;
}

DIV.formDefault  BUTTON {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

/*********** Dynamic Form Tables ************/
Table.dynFormTable {
	width: padding : 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FAFAFA;
}

Table.dynFormTable TH {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 12px;
	border-right:1px solid #9d9d9d;
}

Table.dynFormTable TR {
	background-color: #FAFAFA;
}

Table.dynFormTable TD {
	height: 23px;
	padding: 0px 5px 0px 15px;
}

Table.dynFormTable TD text,Table.dynFormTable TD select {
	border: 1px solid #ab9492;
	height:25px;
}

Table.dynFormTable TD button {
	margin: 0px 10px 10px 0px;
}

Table.dynFormTable A {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: blue;
	font-weight: bold;
	font-size: 12px;
}

Table.dynFormTable  A:hover {
	color:#696969;
}

Table.dynFormTable  BUTTON {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

Table.dynFormTable label {
	font-family: Arial, Helvetica, sans-serif;
	color:#696969;
	font-size: 12px;
}

/* P.dynSection {font-family: Arial, Helvetica,  sans-serif; color:blue;font-size:9pt;font-weight:bold;} */
P.dynSection {
	font-family: Arial, Helvetica, sans-serif;
	color: #1d536d;
	font-size: 16px;
	font-weight: normal;
	background-color: #FAFAFA;
	margin: 2px 0px 5px 10px;
}

/*
Table.dynFormTable TH {
background-color:#003366;
color:white;

} */
	/**************************************************************************
common Themes start
**************************************************************************/
DIV.tableDefault TH {
	color:#696969;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	background-repeat:repeat-x;
	border-right:1px solid #9d9d9d;
	border-top:1px solid #9d9d9d;
	border-left:1px solid #9d9d9d;
}

DIV.tableDefault {
	padding: 0%;
	text-align: justify;
	background-color:#FAFAFA;
	color:#696969;
	position: absolute;
	overflow: auto;
	border-style: none; 
}

DIV.tableDefault A {
	font-family: Arial, Helvetica,sans-serif;
	text-decoration:underline;
	color:#AA202E;
	font-weight:bold;
	font-size:12px;
}

DIV.tableDefault  A:hover {color:#696969;}

DIV.tableDefault  BUTTON {font-family:Arial, Helvetica,  sans-serif;font-size:9pt;}

DIV.tableDefault TD {font-family: Arial, Helvetica,  sans-serif; color:#696969;font-size:12px; background-color:#FAFAFA;}

DIV.tableDefault TH {font-family: Arial, Helvetica,  sans-serif;font-size:12px; border-right:1px solid #9d9d9d;}



DIV.browserDefault TD,DIV.pgbrowse TD {
	font-family: Arial, Helvetica, sans-serif;
	color:#696969;
	font-size: 12px;
	/*background-color: #FAFAFA;*/
}

form {
	/* background-color: #FAFAFA; */
	padding: 0px;
	margin: 0px;
	height: auto;
}

.txtInput {
	border: 1px solid #AB9492;
}

DIV.browserDefault Table,DIV.pgbrowse Table {
	border-collapse: collapse;
	/* background-color: #FAFAFA; */
}

DIV.browserDefault TH,DIV.pgbrowse TH {
	color:#696969;
	/*background-image: url(../../images/skin_default/bg-tbheading.jpg);*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 30px;
	/* border:1px solid #CBCBCB; */
	border-right:1px solid #9d9d9d;
	border-left:1px solid #9d9d9d;
	border-top:1px solid #9d9d9d;
}

DIV.browserDefault Table.outline,DIV.pgbrowse Table.outline {
	border: 1px solid #9D9D9D;
}

DIV.browserDefault button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

tr.pastSchRow TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
/*font-style: italic;*/
padding:0px 0px 0px 5px;
/*border-color: #9D9D9D;
background-color: #D4CCDB;
border-style: groove;
border-style: thin;*/
}

tr.browserEvenRow {
	/*background-color: #FAFAFA;*/
	background-color: #F2F2F2;
}

tr.browserEvenRow TD {
	font-family: Arial, Helvetica, sans-serif;
	color:#696969;
	font-size: 12px;
	border-style: groove;
	border-bottom-width: thin;
	border-top-width: thin;
	border-left-width: thin;
	border-right-width: thin;
	border-color: #9d9d9d;
	background-color: #F2F2F2;
	padding:5px 5px 5px 5px;
	/* border-left-color:#9D9D9D;
	border-right-color:#9D9D9D;
	border-top-color:#CBCBCB;
	border-bottom-color:#CBCBCB; */
}

tr.browserOddRow {
	/*background-color: #F2F2F2;*/
	background-color: #FAFAFA;
}

tr.browserOddRow TD {
	font-family: Arial, Helvetica, sans-serif;
	color:#696969;
	font-size: 12px;
	border-style: groove;
	border-bottom-width: thin;
	border-top-width: thin;
	border-left-width: thin;
	border-right-width: thin;
	border-color: #9d9d9d;
	background-color: #FAFAFA;
	padding:5px 5px 5px 5px;
	/* border-left-color:#9D9D9D;
	border-right-color:#9D9D9D;
	border-top-color:#CBCBCB;
	border-bottom-color:#CBCBCB; */
}

.searchBg {
	background-color: #E2E2C5;
	border: 1px solid #9D9D9D;
}

table.esignStyle{background-color:#9D9D9D; border: 1px solid #9D9D9D; margin: 0px 0px 0px 8px; padding:5px 0px 5px 0px;}

.searchBg text,.searchBg select {
	border: 1px solid #ab9492;
	height:25px;
}

.tmpHeight {
	height: 10px;
}

/* .borderSet TR TD{border:1px solid #CBCBCB;} */
.labelFont {
	color:#696969;
	padding: 0px 0px 0px 5px;
}

.rhsFont {
	padding: 0px 10px 0px 0px;
}

.lhsFont {
	padding: 0px 0px 0px 5px;
}

.strongFont {
	font-weight: bold;
}

DIV.browserDefault A,DIV.pgbrowse A {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-left: 1px;
	font-weight:normal;
	/* color:#AA202E; */
}

FONT.Green {
	font-family: Arial, Helvetica, sans-serif;
	color: green;
	font-size: 12px;
}

A FONT.Green {
	text-decoration: underline;
}

FONT.Mandatory {
	font-family: Arial, Helvetica, sans-serif;
	color: red;
}

DIV.formBrwDefault TH { /*background-color:#003366;*/
	color: white;
	background-image: url(../../images/mgPanelimages/gradients_default.png);
	border-right:1px solid #9d9d9d;
}

DIV.popDefault Table {}
DIV.popDefault TH {
	background-color: #FAFAFA;
	color:#696969;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica,  sans-serif;
	font-size:12px;
	height:30px;
	font-weight:normal;
	border-right:1px solid #9d9d9d;
}
DIV.popDefault TD {font-family: Arial, Helvetica,  sans-serif; color:#696969;font-size:12px;}
DIV.popDefault A {
	font-family: Arial, Helvetica,  sans-serif;
	/* font-weight:bold; */
	font-size:12px;
}

DIV.popDefault span A{
	font-family: Arial, Helvetica,  sans-serif;	
	font-size:8pt;	
	color:#AA202E;	
}


DIV.popDefault A:hover {color:#696969;}
DIV.popDefault BUTTON {font-family:Arial, Helvetica,  sans-serif; font-size:9pt;}
DIV.popDefault HR {color:#000066;}

tr#headSection TD {
	font-family: Arial, Helvetica,  sans-serif;
	color:white;
	font-size:12px;
	font-weight:bold;
	background-color:#9D9D9D;
}

tr#tableheading TH {
	color: #696969;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	border-right:1px solid #9d9d9d;		
}


DIV#myStudies TH { /*background-color:#003366;*/
	color: white;
	background-image: url(../../images/mgPanelimages/gradients_default.png);
	border-right:1px solid #9d9d9d;
}

DIV.browserDefaultPat TH {
	background-color: #003366;
	color: white;
	border-right:1px solid #9d9d9d;
}

TR.popupHeader TH {
	color:#696969;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	border-right:1px solid #9d9d9d;	
}

DIV.formWithLinks TH {
	background-color: #003366;
	color: white;
	border-right:1px solid #9d9d9d;
}

DIV.accLinksmgpat TH {
	background-color: #003366;
	color: white;
	border-right:1px solid #9d9d9d;
}

DIV.accLinksmgpat TR {
	background-color: #003366;
}

/* new 28 */
TD.grayComments {
	color: #D1D1D1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight:bold;
}

DIV.tabDefBot TH {
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	background-size: auto 100%;
	color: #696969;
	border-right:1px solid #9d9d9d;
	height: 30px;
}

DIV.tabFormBot TH {
	background-color: #AFAFAF; 		
	color: white;
	border-right:1px solid #9d9d9d;
}
TH.reportHeading {
	color:#696969;
	/*Modified for Bug#8652 | Date 28 Feb 2012 | By: YPS*/
	/* background-image: url(../../images/skin_default/bg-tbheading.jpg);*/
	background-color:#E9E9E9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	/*border-right:1px solid #9d9d9d;*/	
}
.headerFormat tr th {
 	/*background-image: url(../../images/skin_default/bg-tbheading.jpg);*/
 	background-color:#696969;
 	color:#fafafa;
 	background-size: auto 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px; 
	border-top:1px solid #9d9d9d;
	border-right:1px solid #9d9d9d;
}

TR.reportGraphBar {
	color: white;
	background-color: #003366;
}

DIV.tabDefTopn TH {
	color:#696969;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	/* border:1px solid #CBCBCB; */
	border-right:1px solid #9d9d9d;
	border-left:1px solid #9d9d9d;
	border-top:1px solid #9d9d9d;
}

DIV.tabDefBotN table.outline {
	border: 1px solid #9D9D9D;
}

DIV.tabDefBotN table.midAlign {
	margin: 0px 0px 0px 8px;
	background-color: #FAFAFA;
}

DIV.tabDefBotN TH {
	color:#696969;
	/*background-image: url(../../images/skin_default/bg-tbheading.jpg);*/
	background-color: #D3D3D3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 30px;
	background-repeat:repeat-x;
	background-position:bottom;
	border-right:1px solid #9d9d9d;	
}

DIV.BrowserBotN TH {
	color:#696969;
	/*background-image: url(../../images/skin_default/bg-tbheading.jpg);*/
	background-color: #D3D3D3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 30px;
	border-right:1px solid #9d9d9d;
	border-left:1px solid #9d9d9d;
	border-top:1px solid #9d9d9d;
}
DIV.BrowserBotN table.outline{border: 1px solid #9D9D9D;}
DIV.BrowserBotN table.midAlign {
	margin: 0px 0px 0px 8px;
	background-color: #FAFAFA;	
}
DIV.BrowserBotN table a{color:#3B9EC6; font-size:11px; font-weight:bold;}
DIV.BrowserBotN table a:hover{color:#696969;}
DIV.BrowserTopn table {
	font-family: Arial, Helvetica, sans-serif;
	color:#696969;
	font-size: 12px;
	border-collapse: collapse;
}

DIV.BrowserTopn TH {
	background-color: #FAFAFA;
	color:#696969;
	background-image: url(../../images/mgPanelimages/gradients_default.png);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-right:1px solid #9d9d9d;
}

DIV.BrowserTopn TD {
	font-family: Arial, Helvetica, sans-serif;
	color:#696969;
	font-size: 12px;
}
DIV.BrowserTopn A:hover {

}

DIV.BrowserTopn BUTTON {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
DIV.BrowserTopn table text, DIV.BrowserTopn table select{	border: 1px solid #ab9492;
	height: 25px;}
DIV.BrowserBotN Table {
	border-style: none;
	border-collapse: collapse;
	background-color: #FAFAFA;	
}

DIV.BrowserBotN A {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: #AA202E; 
 	/* font-weight: bold; */  
	font-size: 12px;
}

/* DIV.BrowserBotN A:hover {
	color: red;
}*/

DIV.BrowserBotN BUTTON {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

DIV.BrowserBotN TD {
	font-family: Arial, Helvetica, sans-serif;
	/* color:#696969; */
	font-size: 12px;
}

DIV.BrowserBotN TH {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-right:1px solid #9d9d9d;
}
DIV.tabFormTopN table{border:collapse; border:1px solid #9d9d9d;}

DIV.tabFormTopN TH {
	font-family: Arial, Helvetica,  sans-serif;
	font-size:12px;
	color:#696969;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	border-right:1px solid #9d9d9d;
}
/* DIV.tabFormTopN a{color:#AA202E;}
DIV.tabFormTopN a:hover{color:#AA202E;} */

DIV.tabFormBotN Table {border-collapse: collapse;}

DIV.tabFormBotN A {
	font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	color:#3B9EC6;
	font-weight:bold;
	font-size:11px;
}

DIV.tabFormBotN  A:hover {color:#696969;}

DIV.tabFormBotN  BUTTON {font-family:Arial, Helvetica,  sans-serif;
font-size:9pt;}


/* DIV.tabFormBotN TD {font-family: Arial, Helvetica,  sans-serif; color:#696969; font-size:12px; font-weight:bold;} */ /* changing this due to grid bold in lib>form>search>addfield*/
DIV.tabFormBotN TD {font-family: Arial, Helvetica,  sans-serif; color:#696969; font-size:12px;}



DIV.tabFormBotN TH {
	color:#fafafa;
	/*background-image: url(../../images/skin_default/bg-tbheading.jpg);*/
	height: 30px;
	border-right:1px solid #9d9d9d;
	border-top:1px solid #9d9d9d;
	Background-color: #696969;
}

DIV.tabFormBotNInv TH {
	color:#696969;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	border-right:1px solid #9d9d9d;
}
DIV.tabFormBotNInv a{color:#AA202E;}
DIV.tabFormBotNInv a:hover{color:#AA202E;}

/********** tabdefbot *************/

DIV.tabDefBot TH {font-family:Arial, Helvetica,  sans-serif;font-size:12px; border-right:1px solid #9d9d9d;}

DIV.tabFormTop A {
	font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	color:#AA202E;
	font-weight:bold;
	font-size:12px;
}

DIV.tabFormTop Table {border-style: none;}

DIV.tabFormTop TH {
	background-color:#CFC8FF;
	font-family: Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:12px;
	border-right:1px solid #9d9d9d;
}

DIV.tabFormTop  A:hover {color:#696969;}

DIV.tabFormTop TD {font-family: Arial, Helvetica,  sans-serif; color:#696969; font-size:12px;}

DIV.tabFormTop  BUTTON {font-family:Arial, Helvetica,  sans-serif;font-size:9pt;}

DIV.tabFormBot Table {border-style:none;  border-collapse: collapse;}

DIV.tabFormBot A {
	font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	color:#3B9EC6;
	font-weight:bold;
	font-size:11px;
}

DIV.tabFormBot  A:hover {color:#696969;}

DIV.tabFormBot  BUTTON {font-family:rial, Helvetica,  sans-serif;font-size:9pt;}

DIV.tabFormBot TD {font-family: Arial, Helvetica,  sans-serif;color:#696969;font-size:12px;}

DIV.tabFormBot TH {font-family: Arial, Helvetica,  sans-serif;font-size:12px; border-right:1px solid #9d9d9d;}




/************ P tag for Section Headings **********/
DIV.tabDefBotN P.sectionHeadings {
	font-family: Arial, Helvetica, sans-serif;
	color: #1D536D;
	font-size: 13px;
	font-weight: bold;
	background-color: #E3E3E3;
	margin: 0px 0px 0px 0px;
}

.sectionHeadingsFrm {
	font-family: Arial, Helvetica, sans-serif;
	color: #1D536D;
	font-size: 13px;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #E3E3E3;
}

P.sectionHeadings {
	font-family: Arial, Helvetica, sans-serif;
	color: #1D536D;
	font-size: 13px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;	
	background-color: #E3E3E3;
}

.sectionHeadings {
	font-family: Arial, Helvetica, sans-serif;
	color: #1D536D;
	font-size: 13px;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #E3E3E3;
}

P.reportHeadings {
	font-family: Arial, Helvetica,  sans-serif;
	color:#1D536D;
	font-size:12px;
	font-weight:bold;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #E3E3E3;
}

/****************************************/
HR.thickLine {
	height: 3px;
	color: #F1F0EF;
}

.bluehr {
	color: #F1F0EF;
}

.welcome {
	font-size: 12pt;
	font-family: arial;
	color: #003366;
	font-weight: bold
}

table.comPopup TH {
/*	background-color: #003366; */
	color: #696969;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	background-repeat:repeat-x;
	border-right:1px solid #9d9d9d;		
}

tr.comPopup TH {
/*	background-color: #003366; */
	color: #696969;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	background-repeat:repeat-x;
	border-right:1px solid #9d9d9d;	
}

td.tdDefault {
	font-family: Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:12px;
	height:20px;
}

/*********** P comments ****************/

P.defComments {
	font-family: Arial, Helvetica, sans-serif;
	color: #1D536D;
	font-size: 8pt;
	padding:0px;
	/*background-color:#FAFAFA;*/
}

.defComments {
	font-family: Arial, Helvetica, sans-serif;
	color: #1D536D;
	font-size: 12px;
	padding: 5px 0px 0px 15px;
}

P.defComments_txt {
	font-family: Arial, Helvetica, sans-serif;
	color: #1D536D;
	font-size: 8pt;
}

.comments {
	font-family: Arial, Helvetica, sans-serif;
	color: #AA202E;
	font-size: 12px;
}

#TH_SCH {
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: "Arial, Helvetica,  sans-serif";
	color: #AA202E;
	font-size: 12px;
	height: 25px;
}

DIV.formDefault TH {
	background-color: #003366;
	border-right:1px solid #9d9d9d;
}
DIV.formDefault_event{background-color: #FAFAFA;	}
TD.reportName {
	font-family: Arial, Helvetica,  sans-serif;
	color:#fafafa;
	font-size:14px;
	font-weight:bold;
	background-color:#3B9EC6;
}
TD.reportData {font-family: Arial, Helvetica,  sans-serif; color:#696969; font-size:12px;}
.PopupTitle{background-color:#9d9d9d;}

DIV.popDefault table tr th{
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
  	background-size: auto 100%;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	border-right:1px solid #9d9d9d;
	border-left:1px solid #9d9d9d;
	border-top:1px solid #9d9d9d;
	font-weight:bold;
}
TH.whiteBack {
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	color:#696969;
	border-right:1px solid #9d9d9d;
	border-top:1px solid #9d9d9d;
	border-left:1px solid #9d9d9d;
}
.scrollTable {
	 color:#696969;
	 font-family: Arial, Helvetica,  sans-serif;
	 text-decoration: none;
}
TR.reportGraphRow {
	font-family: Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:11px;
	background-color:#F2F2F2;
}
TR.reportEvenRow {
	font-family:Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:12px;
	background-color:#F2F2F2;
}

TR.reportOddRow {
	font-family:Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:12px;
	background-color:#FAFAFA;
}
TD.reportGrouping {
	font-family: Arial, Helvetica,  sans-serif;
	font-size:12px;
	font-weight:bold;
}


/******************  YUI  New styles  ********************/
/*.yui-dt table{width:100%; left:30px;}*/
.yui-dt table th{
	color:#696969;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	background-repeat:repeat-x;
	border-right:1px solid #9d9d9d;	
}

Table.patHeader {border-style:none; top:0px;}

Table.patHeader A {font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	font-weight:bold;
	font-size:12px;
}

Table.patHeader A:hover {color:#696969;}

Table.patHeader TD {font-family: Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:12px;
}

TH.headernoColor {font-family: Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:12px;
	border-right:1px solid #9d9d9d;
}

UL {PADDING: 0px; MARGIN: 0px;}
#nav-one LI { PADDING: 0px;	MARGIN: 0px;	height: 29px;	text-align: center;}

ul.dropmenu {
	position: relative;
	z-index: 9999;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 4px;	
}

#nav-one {	width: 100%;}
.dropmenu ul {	background-color: #FAFAFA;}
.dropmenu ul a {	color: #FAFAFA;	border: 1px solid #9d9d9d;	font-size: 12px;	white-space: nowrap;	display: block;}
.dropmenu ul a:hover {	color: #FAFAFA !important;	background-color: #F0F0F0;	background-image: none;	text-decoration: none;	font-size: 12px;}
.dropmenu ul li {	border: 0;	float: none;}
.dropmenu li span {
	display: block;
	float: right;
	height: 10px;
	width: 10px;
	position: absolute;
	top: 12px;
	right: 10px;
}

.dropmenu li {
	position: relative;
	list-style: none;
	float: left;
	margin: 0px;
	padding: 0px;
	background-color: #1C1C1B;
	font-weight:normal;
}

.dropmenu li:hover { background-color:#1C1C1B;}

.dropmenu li a {
	border-right: solid 1px #9d9d9d;
	color: #F0F0F0;
	/*text-transform: capitalize;*/
	height: 22px;
	z-index: 9999;
	padding: 7px 4px 0px 4px;
	display: block;
	cursor: pointer;
	text-decoration: none;
	font-family: inherit;
	font-size: 12px;
	text-align: center;
	font-weight:normal;
}

.dropmenu li a:hover {
	background-color: #3B9EC6;
	color: #F0F0F0;
	/*text-transform: capitalize;*/
	font-weight:bold;
	font-weight:normal;
}

.dropmenu li:hover ul {
	background-color: #F0F0F0;
	color:#696969;
}

.dropmenu li div {
	background-color: #FAFAFA;
	border: 1px solid #9d9d9d;
	padding: 5px 3px 5px 5px;
	display: none;
	position: absolute;
	height: auto;
	font-weight:normal;
}

.dropmenu li div ul {
	paddint: 0px 0px 0px 0px;
	border: none;
	background: none;
	position: relative !important;
}

.dropmenu li div ul li {
	background-color: #FAFAFA;
	background-image: none;
	margin: 0px;
	color:#696969;
	font-weight:normal;
}

.dropmenu li div ul li:hover {
	background-color: #FAFAFA;
	background-image: none;
	color:#696969;
	margin: 0px;
}

.dropmenu li div ul li a {
	height: 22px;
	padding: 6px 0px 0px 5px;
	margin: 0px 3px 3px 0px;
	width: 98%;
}

.dropmenu li div ul li h2 {
	margin: 0px 3px 0px 0px;
	background-color: #8c8282;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FAFAFA;
	/*text-transform: capitalize;*/
	text-align: left;
	font-weight: none;
	height: 29px;
	padding: 7px 0px 0px 5px;
}

.dropmenu li div a {
	border: none;
	text-align: left;
	color:#696969;
	padding: 0px;
	text-decoration: none;
	background-color: #FAFAFA;
	font-weight:normal;
}

.dropmenu li div a:hover {
	background-color:#3B9EC6;
	color:#696969;	
	height:26px;
}

.dropmenu li div div {
	display: block;
	position: relative;
	background: none;
	border: none;	
}

.dropmenu li div div a {
	display: block;
	border: none;
	color: #666;
	text-decoration: underline;
	padding: 0px;
	margin: 0px;
	text-transform: none;
}

.dropmenu li div div a:hover {
	color:#696969;
	text-decoration: none;
}

ul.left {
	float: left;
	width: 145px;
}

ul.right {
	float: right;
	width: 145px;
}

li.left {
	float: left;
	width: 145px;
}

li.right {
	float: right;
	width: 145px;
}

.personalize {
	width: 150px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.manage {
	width: 295px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.research {
	width: 180px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.library {
	width: 295px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.inventory {
	width: 140px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.reports {
	width: 140px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.regreporting {
	width: 140px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}
.pfmenu {
	width: 140px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}
/*-----------Right Starts-------------*/
.personalizeRight {
	width: 150px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.manageRight {
	width: 295px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.researchRight {
	width: 150px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.libraryRight {
	width: 300px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.inventoryRight {
	width: 140px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.reportsRight {
	width: 140px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.regreportingRight {
	width: 140px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}
.pfmenuRight {
	width: 140px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}
/*-----------Right Ends-------------*/
.ui-widget-header{
	color:#696969;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;		
}

DIV.tabDefTopN Table {border-style: none;}
DIV.tabDefTopN TD {font-family: Arial, Helvetica,  sans-serif;color:#696969;font-size:12px;}
DIV.tabDefTopn  A:hover {color:#FAFAFA;}
DIV.tabDefTopn .unselectedTab a:hover{color:#696969;}
DIV.tabDefTopN  BUTTON {font-family:Arial, Helvetica,  sans-serif;font-size:9pt;}

Table.velosTab { border-bottom:5px solid #ccc;}

/**** cleaned out styles from ns_1024.css and ns_gt1024.css **********/

DIV.popDefault{	border:1px solid #9d9d9d;}
DIV.tabDefBotN{border: 1px solid #9D9D9D;} /*	border: 1px solid #808080;*/
div#header{border-bottom: solid 1px #cccccc;} 
DIV.BgtTabFormBotN{	border: 1px solid #9d9d9d;} 
DIV.BgtTabFormN{border: 1px solid #9d9d9d;}
DIV.BrowserBotN{border: 1px solid #9d9d9d;} 	
DIV.tabFormBotN{border: solid 1px #9d9d9d;}
div#leftcolumn{border-right: solid 1px #cccccc;}
DIV.BgtDivBottom{border: 1px solid #9d9d9d;}	
DIV.tabFormBotNInv{	border: solid 1px #9d9d9d;}
DIV.BrowserBotN_top1{	border: 1px solid #9D9D9D;}

/********** IE color properties ***********/
.searchBg tr{border:1px solid #9d9d9d; }
DIV.tabDefBotN TD text, DIV.tabDefBotN TD SELECT{border:1px solid #9d9d9d;	height:25px;}

tr.browserEvenRow TD {border:1px solid #9d9d9d;}
tr.browserOddRow TD {border:1px solid #9d9d9d; }

/********* brought from non colored item stylesheets *******************/
DIV.BrowserBotN {background-color: #FAFAFA;}
DIV.tabDefBotN {background-color:#FAFAFA;}
DIV.tabFormBotN {	background-color: #FAFAFA;}
DIV.tabFormBotNInv {background-color: #FAFAFA;}
.centerme{	margin:auto;	width:70%;	font: normal bold 12px arial;	}

DIV.tabFormTopN {background-color:#FAFAFA;}


.speca a{color:#AA202E; font-weight:normal;}
.speca a:hover{color:#AA202E; font-weight:normal;}

DIV.browserDefault A:hover, DIV.pgbrowse  A:hover {/*color:#696969; */} /****fixed for the bug 8975 ***/
TH.reportClrHead {
	font-family:Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:12px;
	font-weight:bold;
	background-color:#E9E9E9;
	border-right:1px solid #9d9d9d;
} 

.quickLinks_border{
	border:1px solid #9d9d9d;
}


.successfulmsg{
	font-family:Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:12px;
	font-weight:bold;
	padding:5px 0px 5px 0px;
	background-color:#ebeaea;	
}

.bgcolorFix {background-color:#FAFAFA;}
.ui-widget-header { border: 1px solid #aaaaaa/*{borderColorHeader}*/; background: #cccccc/*{bgColorHeader}*/ url(images/ui-bg_highlight-soft_75_cccccc_1x100.png)/*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/; color: #222222/*{fcHeader}*/; font-weight: bold; }

/*.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #999999/*{borderColorHover}*//*; background: #dadada/*{bgColorHover}*/ /*url(images/ui-bg_glass_75_dadada_1x400.png)/*{bgImgUrlHover}*/ /*50%/*{bgHoverXPos}*/ /*50%/*{bgHoverYPos}*/ /*repeat-x/*{bgHoverRepeat}*//*; font-weight: normal/*{fwDefault}*//*; color: #212121/*{fcHover}*//*; }*/
.ui-button .ui-button-text{color: #FAFAFA;}

.ui-button, .ui-state-hover{
	color: #FAFAFA;
	background: none repeat scroll 0 0 #5c5c5c;
	border-radius: 3px 3px 3px 3px;
    cursor: pointer;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #8f8e8e/*{borderColorHighlight}*/; background: #dcdcdc/*{bgColorHighlight}*/ /*url(images/ui-bg_glass_55_fbf9ee_1x400.png)/*{bgImgUrlHighlight}*/ 50%/*{bgHighlightXPos}*/ 50%/*{bgHighlightYPos}*/ repeat-x/*{bgHighlightRepeat}*/; color: #555555/*{fcHighlight}*/; }

DIV.ui-widget{font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 8pt; background-color:white;}

DIV.tabFormTopN A {
	font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	color:#3B9EC6;
	font-weight:bold;
	font-size:11px;
}
td#tdComments {
	font-family: Arial, Helvetica,  sans-serif;
	color:blue;
	font-size:9pt;
	font-style:italic;
}

.ui-accordion-header, .ui-state-active{/*background: url(../../images/mgPanelimages/ui-bg_highlight-soft_75_cccccc_1x100.png);*/background-color:#CCCCCC; font-size:8pt;}

/************* from velos.css to make it theme specific ********************************/ 

tr.subCostRow {background-color:#81BEF7;}
tr.subCostRow TD {font-family: Arial, Helvetica,  sans-serif; color:#696969;font-size:8pt;
margin: 1px;
padding:0px 0px 0px 5px;}
tr.pastSchRow {background-color:#FFCC99;}
tr#browserOddRow {background-color:#FAFAFA; border: 1px solid #9d9d9d;}
tr#browserOddRow TD {font-family: Arial, Helvetica,  sans-serif; color:#696969; font-size:12px; border: 1px solid #9d9d9d;}
tr#browserEvenRow {background-color:#F2F2F2;  border: 1px solid #9d9d9d;}
tr#browserEvenRow TD {font-family: Arial, Helvetica,  sans-serif;color:#696969;font-size:12px; border-right: 1px solid #9d9d9d;}
tr#browserBoldRow TD {font-family: Arial, Helvetica,  sans-serif;color:#696969;font-size:12px;font-weight:bold;}

td.normalinfoodd a{color:#AA202E;}
td.normalinfoeven a{color:#AA202E;}


.bodyFormat tr td { 
	border-bottom:1px solid #9d9d9d;	
	border-left:1px solid #9d9d9d;
}

tr.plainRow TD {
	font-family: Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:8pt;
	border-bottom:1px solid #9d9d9d;	
	border-left:1px solid #9d9d9d;
	border-right:1px solid #9d9d9d;
}


/*CONTEXT MENU THEME*/

.context-menu-theme-default {
    background-color: #FAFAFA;
    border: 1px outset #AA202E;
}

.busy, .busy * {  
      cursor: wait !important;  
    }  
.context-menu-theme-default .context-menu-item {
    color:#696969;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 4px 4px 4px 4px;
    text-align: left;
}
.context-menu-theme-default .context-menu-separator {
    border-bottom: 1px solid #9d9d9d;
    border-top: 1px solid #9d9d9d;
    font-size: 0;
    margin: 4px 2px;
}
.context-menu-theme-default .context-menu-item-disabled {
    color: #808080;
}
.context-menu-theme-default .context-menu-title .context-menu-title-inner{
    background-color: #8c8282;
    color: #FAFAFA;
    font-size: 11px;
    vertical-align: middle;
    padding: 4px 4px 4px 4px;
}
.context-menu-theme-default .context-menu-item .context-menu-item-inner {
    background: none no-repeat fixed 999px 999px transparent;
}
.context-menu-theme-default .context-menu-item:hover {
    background-color: #AA202E;
    color: white;
}
.ui-widget-content A {
	color:#3B9EC6;
	font-size:12px;
	font-weight:normal;
}
ul.ui-widget-header  {
	background: none;
	background-color: #8c8282;
}
ul.ui-widget-header li.ui-tabs-selected  {
	background: none;
	background: url(../../images/skin_default/bg-tbheading.jpg) repeat-x 0px 0px;
}
ul.ui-widget-header li{
	background: none;
}

table.topmenu-custom1 {
	background-color: #1C1C1B;
}
table.current-page-custom1 {
	background-color: #5c5c5c;
}
.menu_bgcolor{background-color:#1c1c1b;}


/*.yui-dt-odd{background-color:#FAFAFA;}
.yui-dt-even{background-color:#F2F2F2;}*/

.quickLinkrowheight{height:40px;}

.stdfldheight{height:50px;}

.trheight p{padding:0 5px 0 0; margin:0; float:left;}
.trheight p a{border:none;}

.trheight1 p{padding:0 5px 0 0; margin:0; float:left;}
.trheight1 p a{border:none;}
.trheight1 p:first-child{width:150px;}

.trheighthme{text-align:center; margin-left:10px;}
.trheighthme p{padding:0 5px 0 5px; margin:0; float:left;}
.trheighthme p a{border:none;}

.textareaheight textarea{}
.textareaheight{height:50px !important;}