
div.title
{
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}
div.link
{
	text-align: center;
	margin-bottom: 20px;
}
div.clear
{
	clear: both;
}
div.exa
{
	background-color: ivory;
	//background: 0; /*for ie*/
	border: 1px solid gray;
	padding: 0 15px;
	margin-bottom: 20px;
}
div.target
{
	margin: 20px 0 0 400px;
	width: 100px;
}
div.target ul
{
	border: 1px solid gray;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: bisque;
}
div.target li
{
	padding-left: 4px;
	cursor: hand;
}
li.simpleon
{
	color: green;
	font-weight: bold;
}
li.simpleoff
{
	color: red;
	font-weight: bold;
}
li.advon
{
	background: url('../../../../../images/tick.png') 0 50%;
	
}

li.advon:hover{background-color:#f7f9fa;color: #e17009;cursor:pointer;}

li.advoff
{
	background: url('../../../../../images/cross.png') 0 50%;
}
li.advoff:hover{background-color:#f7f9fa;color: #e17009;cursor:pointer;}

#targetall
{
	list-style: none;
	background-color: #e0effc;
	color:black;
	cursor: hand;
	overflow: visible;
}
#targetall li
{
	background-repeat: no-repeat;
	padding-left: 20px;
	height: auto;
}
#thSelectColumn div.cmDiv
{
	display: inline;
	background: none;
	border: 0;
}
#thSelectColumn li.main
{
	padding: 0;
	background: none;
	width: 100%;
	text-align: center;
}
#thSelectColumn li.main li
{
	text-align: left;
	padding-right: 2px;
}
#thSelectColumn
{
	padding-right: 2px;
	width: 10px;
}
#ulSelectColumn
{
	vertical-align: middle;
}


#targetall1
{
	list-style: none;
	background-color: #e0effc;
	color:black;
	cursor: hand;
	overflow: visible;
}
#targetall1 li
{
	background-repeat: no-repeat;
	padding-left: 20px;
	height: auto;
}
#thSelectColumn1 div.cmDiv
{
	display: inline;
	background: none;
	border: 0;
}
#thSelectColumn1 li.main
{
	padding: 0;
	background: none;
	width: 100%;
	text-align: center;
}
#thSelectColumn1 li.main li
{
	text-align: left;
	padding-right: 2px;
}
#thSelectColumn1
{
	padding-right: 2px;
	width: 10px;
}
#ulSelectColumn1
{
	vertical-align: middle;
}



#targetall2
{
	list-style: none;
	background-color: #e0effc;
	color:black;
	cursor: hand;
	overflow: visible;
}
#targetall2 li
{
	background-repeat: no-repeat;
	padding-left: 20px;
	height: auto;
}
#thSelectColumn2 div.cmDiv
{
	display: inline;
	background: none;
	border: 0;
}
#thSelectColumn2 li.main
{
	padding: 0;
	background: none;
	width: 100%;
	text-align: center;
}
#thSelectColumn2 li.main li
{
	text-align: left;
	padding-right: 2px;
}
#thSelectColumn2
{
	padding-right: 2px;
	width: 10px;
}
#ulSelectColumn2
{
	vertical-align: middle;
}
/*************/

#targetUl
{
	list-style: none;
	background-color: #e0effc;
	color:black;
	cursor: hand;
	overflow: visible;
}
#targetUl li
{
	background-repeat: no-repeat;
	padding-left: 20px;
	height: auto;
}
#thSelectCol div.cmDiv
{
	display: inline;
	background: none;
	border: 0;
}
#thSelectCol li.main
{
	padding: 0;
	background: none;
	width: 100%;
	text-align: center;
}
#thSelectCol li.main li
{
	text-align: left;
	padding-right: 2px;
}
#thSelectCol
{
	padding-right: 2px;
	width: 10px;
}
#ulSelectCol
{
	vertical-align: middle;
}