#header {
	width: auto; /*needed to keep IE from throwing a horizontal scrollbar in the page */
}
#notification {
     position: absolute;
     z-index: 100;
     overflow: hidden;
}
html, body {
     height:100%;
     overflow: auto;
     width:auto;
}

div#zip {
     width: 100%;
     padding:0;
     margin:0;
     height: 100%;
     overflow: auto;
     position: relative;
}