h1   {font-size: 24pt;
        font-family: "Arial";
        color: #000033;
        font-weight: bold;
        text-align: left;
        }

h2   {font-size: 14pt;
        font-family: "Arial";
        color: #A00000;
        font-weight: bold;
        text-align: left;
        }

h3   {font-size: 12pt;
        font-family: "Arial";
        color: #6774B5;
        font-style: italic;
        font-weight: bold;
        text-align: left;
         }

h4   {font-size: 10.5pt;
        font-family: "Arial";
        color: #2F4F4F;
        font-weight: bold;
        text-align: left;
         }

h5   {font-size: 10pt;
        font-family: "Arial";
        color: #8E94B5;
        font-style: italic;
        font-weight: bold;
        text-align: left;
        }

p     {font-size: 10.0pt;
        font-family: "Arial";
        color: black;
        text-align: left;
        }

li     {font-size: 10.0pt;
        font-family: "Arial";
        color: black;
        text-align: left;
        }

.menu  {font-size: 9.0pt;
        font-family: "Arial";
        color: #CC0000;
        font-weight: bold;
        text-align: left;
        }


.tab   {font-size: 9.0pt;
        font-family: "Arial Black";
        color: #3e1818;
        text-align: left;
        }


.page  {font-size: 9.0pt;
        font-family: "Arial";
        color: #0000FF;
        font-weight: bold;
        text-decoration: underline;
        text-align: left;
        }

.ta      {font-size: 10pt;
         font-family: "Arial";
         color: black;
         text-align: center;
         font-weight: bold;
         }

.note   {font-size: 9pt;
         font-family: "Arial";
         color: black;
         font-style: italic;
         }

A:link  {font-size: 9pt;
         font-family: "Arial";
         color: #009900;
         font-style: italic;
         text-decoration: none;
         }

a:active {color: blue;
         font-size: 125%
         text-decoration: none;
         }

A:visited  {font-size: 10pt;
         font-family: "Arial";
         color: green;
         text-decoration: none;
         }