@charset iso-8859-1;
/* COMMON.CSS */

body { background-color:#f7f7f7;}

DIV.tableDefault {padding: 0%;
text-align: justify;
background-color:#f7f7f7;
color: #000000;
position: absolute;
overflow: auto;}

DIV.tableDefault {border-style: none; background-color:#f7f7f7;}

DIV.tableDefault A {font-family: Verdana, Arial, Helvetica,sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.tableDefault  A:hover {color:red;}

DIV.tableDefault  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tableDefault TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
 background-color:#f7f7f7;}

DIV.tableDefault TH {background-color:#000066; 
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:9pt;}

table.leftPanelVLine {background-color:#6F67FF;}

td.tdDefault {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

td#tdComments {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:9pt;
font-style:italic;}

TD.leftpanel {background-color:#6F67FF;}

/************ P tag for comments  **********/

P.defComments {font-family: Arial, Helvetica,  sans-serif;
color:blue;
font-size:12px;}

.comments {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:8pt;}

/****************************************/

/************ P tag for Section Headings **********/

/*P.sectionHeadings {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size: 9pt;
font-weight:bold;
background-color: #e1dce0;} */

/****************************************/

/************ P tag for Italics comments**********/

P.italicsComments {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:9pt;
font-weight:bold;
font-style:italic;}

/****************************************/

/************ P tag for comments  **********/

P.blackComments {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

/****************************************/

/************ P tag for comments  **********/

P.bigNumbers {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:red;
font-size:9pt;
font-weight:bold}

/****************************************/

/************ P tag for USer Name**********/

P.userName {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:1pt;
font-weight:bold;
text-align:right;
visibility:hidden;}

P.userNameNew {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:8pt;
font-weight:bold;
text-align:right;}

P.plwait {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:red;
font-size:8pt;
font-weight:bold;
text-align:left;}

DIV.plwt {visibility:visible;
margin-left:0px;
position:relative;
margin-top:0;}

/****************************************/

/************ P tag for logout comments**********/

P.logoutComments {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:8pt;
font-weight:bold;
font-style:italic;}

/****************************************/

/************ P tag for Msg Center Heading**********/

P.msgHead {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:8pt;
font-weight:bold;
background-color: #CFC8FF;
text-align:center;
border:solid;
width:550px;}

/****************************************/
form {/*background-color:#f7f7f7; */}

DIV.formDefault Table {border-style: none; background-color:#f7f7f7}

DIV.formDefault TR { background-color:#f7f7f7;}

DIV.formDefault TH {background-color:#CFC8FF;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:9pt;}

DIV.formDefault TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;

font-size:8pt;
}

DIV.formDefault A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.formDefault  A:hover {color:red;}

DIV.formDefault  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

/*****************************************/

FONT.Mandatory {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:red;}

FONT.Red {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:red;
font-size:8pt;
font-weight:bold;}

FONT.Green {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:green;
font-size:7pt;
font-weight:bold;}

FONT.Grey {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:#A4A4A4;}

FONT.Black {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:black;}

INPUT.inpDefault {background-color:white;}

INPUT.inpGrey {background-color:#d1d1d1;}

TEXTAREA.textDefault {background-color:white;}

TEXTAREA.textGrey {background-color:#d1d1d1;}

DIV.browserDefault Table {border-style:none;  border-collapse: collapse;   background-color:#f7f7f7;}

DIV.browserDefault A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.browserDefault  A:hover {color:red;}

DIV.browserDefault  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.browserDefault TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
}

DIV.browserDefault TH {background-color:#000066;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:9pt;
}

tr.browserOddRow {background-color:#FAFAFA;}

tr.browserOddRow TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
border-style:groove;
border-bottom-width:thin;
border-top-width:thin;
border-left-width:thin;
border-right-width:thin;
}

tr.browserEvenRow {background-color:#F2F2F2; 
}

tr.browserEvenRow TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
border-style:groove;
border-bottom-width:thin;
border-top-width:thin;
border-left-width:thin;
border-right-width:thin;
}

tr.pastSchRow {background-color:#FFCC99;
}

tr.pastSchRow TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
}

tr#browserOddRow {background-color:#f7f7f7;
}

tr#browserOddRow TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
}

tr#browserEvenRow {background-color:#d7d7d7;
}

tr#browserEvenRow TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
}

tr#browserBoldRow TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
font-weight:bold;}

/*****************************************/

DIV.formBrwDefault Table {border-style:none;  background-color:#f7f7f7;}

DIV.formBrwDefault A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.formBrwDefault  A:hover {color:red;}

DIV.formBrwDefault  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.formBrwDefault TD {font-family: Verdana, Arial, Helvetica,  sans-serif
color:black;
font-size:8pt;
}

DIV.formBrwDefault TH {background-color:#000066;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:9pt;
}

/***********************************************************/

DIV.popDefault Table {border-style: none;}

DIV.popDefault TH {background-color:#000066;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:9pt;}

DIV.popDefault TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
}

DIV.popDefault A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.popDefault A:hover {color:red;}

DIV.popDefault BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.popDefault HR {color:#000066;}

/*****************************************/

/***************Rows for Message Center***********/

tr#msgcenterOddRow TD {background-color:#f7f7f7;
font-family: Verdana, Arial, Helvetica,  sans-serif;
font-size:8pt;
}

tr#msgcenterEvenRow TD {background-color:#d7d7d7;
font-family: Verdana, Arial, Helvetica,  sans-serif;
font-size:8pt;
}

/**************************************************/

/*****************Heading for a section****************/

tr#headSection TD {background-color:#000066;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:8pt;
font-weight:bold;}

tr#tableheading TH {background-color:#FDF8DF;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:9pt;
}

/**************************************************/

DIV.myLinks TR {background-color:#e1dce0;}

DIV.myLinks TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
border:none;}

DIV.myLinks TH {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size: 9pt;
background-color: #b4b4b4;}

DIV.myLinks A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:7pt;}

DIV.myLinks A:hover {color:red;}

table#linktab {}

table#linktab TD {background-color:#FFFFFF;
border:none;}

;
table#linktab A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:7pt;
font-style:italic;}

table#linktab A:hover {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:red;
font-size:7pt;}

/*****************************************/

DIV.accLinks TR {background-color:#e1dce0;}

DIV.accLinks TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size: 8pt}

DIV.accLinks TH {font-family: Verdana, Arial, Helvetica,  sans-serif;
font-size: 9pt;
background-color: #b4b4b4;}

DIV.accLinks A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:7pt;}

DIV.accLinks A:hover {color:red;}

/*****************************************/

DIV#myStudies A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:black;
font-size:7pt;
}

DIV#myStudies A:hover {color:red;}

DIV#myStudies TH {
	background-color:#000066;
	color:white;
	font-size:9pt;
}

Table.selectedTab {font-family: Verdana, Arial, Helvetica,  sans-serif;
background-color:#000066;
font-size:8pt;
font-weight:bold;}

Table.selectedTab TR {font-family: Verdana, Arial, Helvetica,  sans-serif;
background-color:#000066;
font-size:8pt;
font-weight:bold;}

Table.selectedTab TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
background-color:#000066;
font-size:8pt;
font-weight:bold;}

Table.unselectedTab {font-family: Verdana, Arial, Helvetica,  sans-serif;
background-color:#000033;
font-size:8pt;
font-weight:bold;}

Table.unselectedTab TR {font-family: Verdana, Arial, Helvetica,  sans-serif;
background-color:#000066;
font-size:8pt;
font-weight:bold;}

Table.unselectedTab TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
background-color:#e1dce0;
font-size:8pt;
font-weight:bold;}

Table.selectedTab A {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:#ffffff;
font-size:8pt ;
text-decoration:none}

Table.unselectedTab A {font-family:Verdana, Arial, Helvetica,  sans-serif;
color: #7a7a7a;
font-size:8pt ;
text-decoration:none}

Table.unselectedTab  A:hover {color:red;}

HR.blue {color:#330099;}

P.reportHeadings {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:9pt;
font-weight:bold;}

.numberFonts {font-family: Verdana, Arial, Helvetica,  sans-serif;
font-size:8pt;
font-weight:bold;}

.reportText {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:8pt;
font-weight:bold;
font-style:italic;}

DIV.browserDefaultPat Table {border-style:none;}

DIV.browserDefaultPat A {font-family: Verdana, Arial, Helvetica,sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.browserDefaultPat  A:hover {color:red;}

DIV.browserDefaultPat TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
font-weight:bold;}

DIV.browserDefaultPat TH {background-color:#000066;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:9pt;
}

TR.popupHeader TH {background-color:#000066;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:9pt;
}

DIV.formWithLinks A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:7pt;}

DIV.formWithLinks A:hover {color:red;}

DIV.formWithLinks TH {background-color:#000066;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:9pt;
}

DIV.accLinksmgpat TABLE {
	border : solid;
}

DIV.accLinksmgpat TH {background-color:#000066;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:9pt;
}

DIV.accLinksmgpat TR {background-color:#000066;}

DIV.accLinksmgpat TD {background-color:#f7f7f7;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

DIV.accLinksmgpat A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:7pt;
font-style:italic;}

DIV.accLinksmgpat A:hover {color:red;}

DIV.myLinksmgpat TR {background-color:#CFC8FF;}

DIV.myLinksmgpat TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
border:none;}

DIV.myLinksmgpat A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:7pt;
font-style:italic;}

DIV.myLinksmgpat A:hover {color:red;}

/************ Right align Input text ***************/

INPUT.rightAlign {text-align:right;}

/**************** showing Page numbers in paginated browsers*********/

FONT.pageNumber {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:red;
font-size:8pt;
font-weight:bold;}

/*****************showing Record numbers in paginated browsers**************/

FONT.recNumber {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:#cc6633;
font-size:8pt;
}

/***********Dynamic Forms*************/

Table.dynFormTable {border-style:none;}

Table.dynFormTable A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

Table.dynFormTable  A:hover {color:red;}

Table.dynFormTable  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

Table.dynFormTable label {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
}

Table.dynFormTable TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
}

Table.dynFormTable TH {background-color:#000066;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:9pt;
}

/*Table.dynFormTable P { font-family: arial;color:green;font-size:12; font-weight:bold; }*/

P.dynSection {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:9pt;
font-weight:bold;}

/********************************/

/******************Patient Tabs Header info****************/

Table.patHeader {border-style:none;}

Table.patHeader A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

Table.patHeader A:hover {color:red;}

Table.patHeader TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
font-weight:bold;}

TH.headernoColor {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:9pt;}

/************ P tag for RedMessage **********/

P.redMessage {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:red;
font-size:9pt;
font-weight:bold;}

/****************************************/

/************<PRE> for forms********************/

PRE.dynFormPRE {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

/*<body> tag for forms*/

body#forms {overflow:scroll}

/*for dynamic form reports - plain look*/

tr.plainRow {background-color:#FFFFFF;
}

tr.plainRow TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
}

TH.whiteBack {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:9pt;
font-weight:bold;
background-color:#FFFFFF ;}

/* ************************************************* APPLICATION TABS ********* */

TD.grayComments {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:gray;
font-size:8pt;
font-weight:bold;}

DIV.tabDefTop Table {border-style: none;  background-color:#f7f7f7;}

DIV.tabDefTop TH {background-color:#CFC8FF;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:9pt;}

DIV.tabDefTop TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

DIV.tabDefTop  A:hover {color:red;}

DIV.tabDefTop  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabDefBot Table {border-style:none;  border-collapse: collapse; background-color:#f7f7f7;}

DIV.tabDefBot A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;
}

DIV.tabDefBot  A:hover {color:red;}

DIV.tabDefBot  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabDefBot TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

DIV.tabDefBot TH {background-color:#000066;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:9pt;}

DIV.tabFormTop A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.tabFormTop Table {border-style: none;}

DIV.tabFormTop TH {background-color:#CFC8FF;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:9pt;}

DIV.tabFormTop  A:hover {color:red;}

DIV.tabFormTop TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

DIV.tabFormTop  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabFormBot Table {border-style:none;  border-collapse: collapse;}

DIV.tabFormBot A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.tabFormBot  A:hover {color:red;}

DIV.tabFormBot  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabFormBot TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

DIV.tabFormBot TH {background-color:#000066;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:9pt;}

/************ Reports (new) **********/

TD.reportPanel {font-family: Verdana, Arial, Helvetica,  sans-serif;
color: black;
font-size:8pt;}

TD.reportName {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:9pt;
font-weight:bold;}

TD.reportHeading {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:9pt;
font-weight:bold;}

TH.reportHeading {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:#FFFFFF;
font-size:9pt;
font-weight:bold;
background-color:#000066;
}

TD.reportSubHeading {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
font-weight:bold;}

TD.reportLabel {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
font-weight:bold;}

TD.reportGrouping {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:9pt;
font-weight:bold;}

TD.reportData {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

TD.reportFooter {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:7pt;
font-weight:normal;}

TH.reportClrHead {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:#FFFFFF;
font-size:9pt;
font-weight:bold;
background-color:#009933 ;}

TH.reportLightClrHead {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:#FFFFFF;
font-size:9pt;
font-weight:normal;
background-color:#999999 ;}

TH.reportLightClrHead2 {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:#FFFFFF;
font-size:9pt;
font-weight:bold;
background-color:#999999 ;}

TR.reportEvenRow {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
background-color:#f7f7f7;
}

TR.reportOddRow {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
background-color:#d7d7d7;
}

TR.reportGreyRow {background-color:#d1d1d1;
}

TR.reportWhiteRow {background-color:white;
}

HR.thickLine {height:3px;
color:blue;}

HR.thinLine {height:2px;
color:blue;}



/*****************************************/