/*First chages, Work fine*/

@import url("../velos.css");
body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #696969;
}

a {
    color: #1ab7ea;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    
    text-decoration: underline;
    
}

TEXTAREA{  -moz-border-radius:5px; -webkit-border-radius:5px; border: 1px solid #D3D3D3;}
SELECT{  -moz-border-radius:5px; -webkit-border-radius:4px; border: 1px solid #D3D3D3; height:25px;}
text {  -moz-border-radius:5px; -webkit-border-radius:5px; border: 1px solid #D3D3D3;}

input[type=text] {
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #D3D3D3;
    padding: 6px;
    border-radius: 2px;
	}
input[type=password] { -moz-border-radius:5px; -webkit-border-radius:5px; border: 1px solid #D3D3D3; height:25px;}

INPUT:focus{background-color: #FFF7DD;}
TEXTAREA:focus{background-color: #FFF7DD;}
SELECT:focus{background-color: #FFF7DD;}


Table.tabBorder {
    background-color: transparent;
    margin-left: 3px;
}

DIV.topline{background-color:#A80101; height:5px; display:block; overflow:hidden;}

/********* Tabs *****************/ 
DIV.popDefault Table.unselectedTab A, Table.unselectedTab A {
    color: #666;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
}

DIV.popDefault Table.unselectedTab TD, Table.unselectedTab TD {
    height: 30px;
    padding: 9px 5px 6px 5px;
    margin: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
}

DIV.popDefault Table.unselectedTab, Table.unselectedTab {
    border: none;
    background: transparent;
    padding: 0px 0px 0px 0px;
    margin: 0px 4px 0px 4px;
}


DIV.popDefault Table.selectedTab TD, Table.selectedTab TD {
    font-weight: bold;
    padding: 9px 5px 6px 5px;
    margin: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid #39b54a;
    height: 30px;
}

DIV.popDefault Table.selectedTab A, Table.selectedTab A {
    color: #39b54a;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
}

DIV.popDefault Table.selectedTab, Table.selectedTab {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 4px;
    background-color: transparent;
}

DIV.popDefault Table.selectedTab A:hover, Table.selectedTab A:hover {
    /* color: #FAFAFA; */
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
}


.unselectedTab:hover .unselectedTab a {
    color: #39b54a;
}

.selectedTab:hover .selectedTab a {
    color: #39b54a;
    cursor: default;
}
	/****** Table Default Bottom  ********/
DIV.tabDefBotN Table {
	border-collapse: collapse;
	background-color: #FAFAFA;
	padding: 0px;
	margin: 0px;
	color: #696969;
}

DIV.tabDefBotN TH {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-right:1px solid #9d9d9d;
	border-left:1px solid #9d9d9d;
	border-top:1px solid #9d9d9d;
}

DIV.tabDefBotN TR {
	height: 30px;
}

DIV.tabDefBotN TD {
	font-family: Arial, Helvetica, sans-serif;
	color:#696969;
/* 	background-color: #FAFAFA; */
	margin: 0px;
	/* padding: 0px 0px 0px 5px; */
	font-size: 12px;
}

DIV.tabDefBotN TD checkbox {
	float: right;
}

DIV.tabDefBotN TD text,DIV.tabDefBotN TD select {
	border: 1px solid #d3d3d3;
	height: 26px;
}

DIV.tabDefBotN TD TEXTAREA {
	border: 1px solid #d3d3d3;
}

DIV.tabDefBotN A {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #3B9EC6;
    font-size: 11px;
    font-weight: bold;
}

form[name="advStudysearchpg"]  {
    
    margin: 0px 16px ;
}
DIV.tabDefBotN  A:hover {
	/* color:#ffffff;
	background-color: #1ab7ea; */
	text-decoration: underline;
}

DIV.tabDefBotN  BUTTON {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.eSign {
	background-color: #9f9e9e;
}

/****  Advance search ******/
Table.basetbl:not(.custom-bottom-space) {
    border: none;
    padding: 0px 0px 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #696969;
   /*  margin-bottom: 32px !important; */
}
.basetbl TR {
	background-color: transparent;
}
Table.basetbl a{color: #3B9EC6;}
.basetbl TH{
	color:#696969;
	/*background-image: url(../../images/skin_default/bg-tbheading.jpg);*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	background-repeat:repeat-x;
	border-right:1px solid #9d9d9d;
	border-top:1px solid #9d9d9d;
	border-left:1px solid #9d9d9d;
}
.basetbl p {
	/* font-family: Arial, Helvetica, sans-serif;
    color: #666;
    background-color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    margin: 0px 0px 12px 0px;
    padding: 8px 0; */
}

.basetbl TD {
	height: 26px;
	padding: 1px 5px 1px 15px;
}


.basetbl TD text,.basetbl TD select{
	border: 1px solid #d3d3d3;
	height:25px;	
}

.basetbl TD button {
	/*margin: 0px 10px 10px 0px;*/
}

/* table.basetbl.midalign.outline td{
    padding:4px;

} */
/* table.outline td {
    padding:4px 6px;
} */
table.basetbl.midalign.outline td[colspan="7"] {
 text-align:left;
 font-size:14px;
 padding-bottom:12px;
 padding-left:50px !important;
 
}
/*** A/C form Edit ***/
/*table.outline {
	border: 1px solid #9D9D9D;
}*/

table.appendTR TR {
	border: 1px 0px 1px 1px solid #9D9D9D;
	background-color: #FAFAFA;
	margin-top: 10px;
}

/******* home page form fix **********/
.plainBg {
	background-color: #FAFAFA;
}

/**** dashboard dynamic table *****/
DIV.chartDisplay {
	height: 235px;
	overflow: auto;
	width: 99%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

DIV.chartDisplay table {
	border: 2px solid #F1F0EF;
}

DIV.chartDisplay table TR {
	padding: 0px;
	margin: 0px;
}

/* DIV.chartDisplay{height: 230px; width: 155px; border-left:0px; border-bottom:0px; border-top:0px; border-style: double; overflow:auto;}*/
	/********** Form Default *****************/
DIV.formDefault Table {
	border-collapse: collapse;
	/* background-color: #FAFAFA;*/
}

DIV.formDefault TH {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-right:1px solid #9d9d9d;
	border-top:1px solid #9d9d9d;
	border-left:1px solid #9d9d9d;
}

DIV.formDefault{background-color: #FAFAFA;	}

DIV.formDefault TR {
	
}

DIV.formDefault TD {
	font-family: Arial, Helvetica, sans-serif;
	color:#696969;
	font-size: 12px;
}

DIV.formDefault A {
	/* font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color:#ffffff;
	background-color: #1ab7ea;
	text-decoration:underline; */
}

DIV.formDefault  A:hover {
/*	color:#ffffff;
	background-color: #1ab7ea;
	text-decoration: underline; */
}

DIV.formDefault  BUTTON {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

/*********** Dynamic Form Tables ************/
Table.dynFormTable {
	width: padding : 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FAFAFA;
}

Table.dynFormTable TH {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 12px;
	border-right:1px solid #9d9d9d;
}

Table.dynFormTable TR {
	background-color: #FAFAFA;
}

Table.dynFormTable TD {
	height: 23px;
	padding: 0px 5px 0px 15px;
}

Table.dynFormTable TD text,Table.dynFormTable TD select {
	border: 1px solid #ab9492;
	height:25px;
}

Table.dynFormTable TD button {
	margin: 0px 10px 10px 0px;
}

Table.dynFormTable A {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	background-color: #1ab7ea;
}

Table.dynFormTable  A:hover {
	color:#ffffff;
	background-color: #1ab7ea;
	text-decoration: underline;
}

Table.dynFormTable  BUTTON {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

Table.dynFormTable label {
	font-family: Arial, Helvetica, sans-serif;
	color:#696969;
	font-size: 12px;
}

/* P.dynSection {font-family: Arial, Helvetica,  sans-serif; color:blue;font-size:9pt;font-weight:bold;} */
P.dynSection {
	font-family: Arial, Helvetica, sans-serif;
	color: #1d536d;
	font-size: 16px;
	font-weight: normal;
	background-color: #FAFAFA;
	margin: 2px 0px 5px 10px;
}

/*
Table.dynFormTable TH {
background-color:#003366;
color:white;

} */
	/**************************************************************************
common Themes start
**************************************************************************/
DIV.tableDefault TH {
	color:#696969;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	background-repeat:repeat-x;
	border-right:1px solid #9d9d9d;
	border-top:1px solid #9d9d9d;
	border-left:1px solid #9d9d9d;
}

DIV.tableDefault {
	padding: 0%;
	text-align: justify;
	background-color:#FAFAFA;
	color:#696969;
	position: absolute;
	overflow: auto;
	border-style: none; 
}

DIV.tableDefault A {
	font-family: Arial, Helvetica,sans-serif;
	text-decoration:underline;
	color:#ffffff;
	background-color: #1ab7ea;
	font-weight:bold;
	font-size:12px;
}

DIV.tableDefault  A:hover {
	color:#ffffff;
	background-color: #1ab7ea;
	text-decoration: underline;
}

DIV.tableDefault  BUTTON {font-family:Arial, Helvetica,  sans-serif;font-size:9pt;}

DIV.tableDefault TD {font-family: Arial, Helvetica,  sans-serif; color:#696969;font-size:12px; background-color:#FAFAFA;}

DIV.tableDefault TH {font-family: Arial, Helvetica,  sans-serif;font-size:12px; border-right:1px solid #9d9d9d;}

/*new one from wcg*/
DIV.browserDefault {
    padding: 0px 0px 0px 5px;
    text-align: justify;
    background-color: #fff;
    position: absolute;
    left: 2px;
    width: 99%;
    height: 765px;
    top: 60px;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #A7001B;
    margin-top: 12px;
}

.dt-page-nav {
    z-index: 1000;
    /* margin: 16px 6px 26px 6px;
    border-bottom: 1px solid #ccc; */
    padding-bottom: 8px;
}

.yui-skin-sam .yui-dt table {
    margin: 6px;
    padding: 0;
    font-family: arial;
    font-size: inherit;
    border-collapse: collapse;
    border: none;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.15), 0px 2px 2px rgba(0,0,0,0.05);
}
.yui-skin-sam th.yui-dt-asc, .yui-skin-sam th.yui-dt-desc {
    background: #6a747c;
}


.yui-skin-sam .yui-dt tr.yui-dt-first td {
    border-top: 1px solid #ccc;
}
.yui-skin-sam .yui-dt td {
    margin: 0;
    padding: 0;
    border: none;
    border-right: none;
    text-align: left;
    background: #fff;
}

.d-tbl th a, .d-tbl th{
   /* color:#fff  !important;
    background-color:#6a747c !important;
    font-weight:normal !important; */
        vertical-align: middle !important;
    

}
.d-tbl th,.d-tbl td{
  
    padding:6px !important;

}

.d-tbl td table{
    box-shadow:none !important;
}

form[name="advStudysearchpg"] td {
    
    padding: 12px 0 12px 0;
}



/*study summary page*/

DIV.BrowserBotN table a {
    color: #1ab7ea;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
}

/*DIV.BrowserBotN table a:hover {
    text-decoration: underline;
}*/

element.style {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
    margin: 0 10px;
}


DIV.browserDefault TD, DIV.pgbrowse TD {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    /*  font-size: 14px;
   background-color: #FAFAFA; */
}

form {
	/* background-color: #FAFAFA; */
	padding: 0px;
	margin: 0px;
	height: auto;
}

.txtInput {
	border: 1px solid #AB9492;
}

DIV.browserDefault Table,DIV.pgbrowse Table {
	border-collapse: collapse;
	/* background-color: #FAFAFA; */
}

DIV.browserDefault TH, DIV.pgbrowse TH {
    color: #fff;
    background-image: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 30px;
    border: none;
    border-right: none;
    border-left: none;
    border-top: none;
    background: #87b2d69c;
    font-weight: normal;
}

DIV.browserDefault Table.outline,DIV.pgbrowse Table.outline {
	border: 1px solid #9D9D9D;
}

DIV.browserDefault button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

tr.pastSchRow TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
/*font-style: italic;*/
padding:0px 0px 0px 5px;
/*border-color: #9D9D9D;
background-color: #D4CCDB;
border-style: groove;
border-style: thin;*/
}

tr.browserEvenRow {
    /* background-color: #FAFAFA; */
    background-color: #fff;
}

tr.browserEvenRow TD {
   /* border: none;
    border-bottom: 1px solid #ccc; */
}


tr.browserOddRow TD {
    /*border: none;
    border-bottom: 1px solid #ccc;
     padding-left: 0px !important;*/
}

tr.browserOddRow {
    /* background-color: #F2F2F2; */
    background-color: #fff;
}

tr.browserEvenRow TD {
  /*  font-family: Arial, Helvetica, sans-serif;
    color: #696969;
    font-size: 12px;
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-color: #ccc;
    background-color: #fff;
    padding: 6px; */
}

tr.browserOddRow TD,tr.browserEvenRow TD {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 12px;
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-color: #ccc;
    background-color: #fff;
  padding: 6px;
  border: none;
    border-bottom: 1px solid #ccc;
     padding-left: 0px !important;
}

.searchBg {
	background-color: #eee;
    border: none;
}

.searchBg .ui-button, .searchBg .ui-state-hover {
    color: #fff;
    background: none repeat scroll 0 0 #1ab7ea;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
    margin-left: -48px;
    height: 25px;
    border: 0px;
}

.searchBg a {
    font-size:12px !important;
    float:left;
    position:relative;
    left:-154px;
}

table.esignStyle{background-color:#9D9D9D;  margin: 0px 0px 0px 8px; padding:5px 0px 5px 0px;}

.searchBg text,.searchBg select {
	border: 1px solid #ab9492;
	height:25px;
}

.tmpHeight {
	height: 10px;
}

/* .borderSet TR TD{border:1px solid #CBCBCB;} */
.labelFont {
    color: #106CB7!important;
    font-size: 12px !important;
    text-transform: uppercase;
    padding: 8px 8px 8px 5px;
}
.labelFont a{
    text-transform:capitalize;
}

th.labelFont{
    color: #000 !important;
    text-transform:capitalize;
}

.searchBg .labelFont{
    text-transform:capitalize;
    color:#666 !important;
    padding-left:13px;
    
}
.rhsFont {
	padding: 0px 10px 0px 0px;
}

.lhsFont {
	padding: 0px 0px 0px 5px;
}

.strongFont {
	font-weight: bold;
}

DIV.browserDefault A,DIV.pgbrowse A {
  font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 1px;
    font-weight: normal;
	/* color:#AA202E; */
}
td.grayComments.lhsFont {
    padding-top: 6px;
}

FONT.Green {
 font-family: Arial, Helvetica, sans-serif;
    color: #39b54a;
    font-size: 12px;
}

A FONT.Green {
	text-decoration: underline;
}
div#div3 {
   /* margin: 42px 0 0 0; */
}
DIV.tabFormTopN_PS {
    margin: 20px 0;
    background: transparent;
    overflow: visible;
   top: 75px !important;
}
FONT.Mandatory {
	font-family: Arial, Helvetica, sans-serif;
	color: red;
}

DIV.formBrwDefault TH { /*background-color:#003366;*/
	color: white;
	background-image: url(../../images/mgPanelimages/gradients_default.png);
	border-right:1px solid #9d9d9d;
}

DIV.popDefault Table {}
DIV.popDefault Table tr TH {
	color: #fff;
    background: #6a747c;
    border-collapse: collapse;
    border: none;
	font-family: Arial, Helvetica,  sans-serif;
	font-size:12px;
    padding:12px 6px
	font-weight:normal;
}
DIV.popDefault TD {font-family: Arial, Helvetica,  sans-serif; color:#696969;font-size:12px;}
DIV.popDefault A {
	font-family: Arial, Helvetica,  sans-serif;
	/* font-weight:bold; */
	font-size:12px;
}

DIV.popDefault span A{
	font-family: Arial, Helvetica,  sans-serif;	
	font-size:8pt;	
	/* color:#ffffff; 
    background-color: #1ab7ea;  */
    text-decoration:underline;	
}


DIV.popDefault A:hover {
	color:#ffffff;
	background-color: inherit;
	text-decoration: underline;
}
DIV.popDefault BUTTON {font-family:Arial, Helvetica,  sans-serif; font-size:9pt;}
DIV.popDefault HR {color:#000066;}

tr#headSection TD {
	font-family: Arial, Helvetica,  sans-serif;
	color:white;
	font-size:12px;
	font-weight:bold;
	background-color:#adcae2 !important;
}

tr#tableheading TH {
	color: #696969;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	border-right:1px solid #9d9d9d;		
}


DIV#myStudies TH { /*background-color:#003366;*/
	color: white;
	background-image: url(../../images/mgPanelimages/gradients_default.png);
	border-right:1px solid #9d9d9d;
}

DIV.browserDefaultPat TH {
	background-color: #003366;
	color: white;
	border-right:1px solid #9d9d9d;
}

TR.popupHeader TH {
	color:#696969;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	border-right:1px solid #9d9d9d;	
}

DIV.formWithLinks TH {
	background-color: #003366;
	color: white;
	border-right:1px solid #9d9d9d;
}

DIV.accLinksmgpat TH {
	background-color: #003366;
	color: white;
	border-right:1px solid #9d9d9d;
}

DIV.accLinksmgpat TR {
	background-color: #003366;
}

/* new 28 */
TD.grayComments {
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    padding: 4px 0 0 12px;
}

DIV.tabDefBot TH {
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	background-size: auto 100%;
	color: #696969;
	border-right:1px solid #9d9d9d;
	height: 30px;
}

DIV.tabFormBot TH {
	background-color: #AFAFAF; 		
	color: white;
	border-right:1px solid #9d9d9d;
}
TH.reportHeading {
	color:#696969;
	/*Modified for Bug#8652 | Date 28 Feb 2012 | By: YPS*/
	/* background-image: url(../../images/skin_default/bg-tbheading.jpg);*/
	background-color:#E9E9E9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	/*border-right:1px solid #9d9d9d;*/	
}
.headerFormat tr th {
 	/*background-image: url(../../images/skin_default/bg-tbheading.jpg);*/
 	background-color:#696969;
 	color:#fafafa;
 	background-size: auto 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px; 
	border-top:1px solid #9d9d9d;
	border-right:1px solid #9d9d9d;
}

TR.reportGraphBar {
	color: white;
	background-color: #adcae2;
}

DIV.tabDefTopn TH {
	color:#696969;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	/* border:1px solid #CBCBCB; */
	border-right:1px solid #9d9d9d;
	border-left:1px solid #9d9d9d;
	border-top:1px solid #9d9d9d;
}

DIV.tabDefBotN table.outline {
	border: 1px solid #9D9D9D;
}

DIV.tabDefBotN table.midAlign {
	margin: 0px 0px 0px 8px;
	background-color: #FAFAFA;
}

DIV.tabDefBotN TH {
	color:#696969;
	/*background-image: url(../../images/skin_default/bg-tbheading.jpg);*/
	background-color: #87b2d69c;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 30px;
	background-repeat:repeat-x;
	background-position:bottom;
	border-right:1px solid #9d9d9d;	
}

DIV.BrowserBotN TH {
	color:#696969;
	/*background-image: url(../../images/skin_default/bg-tbheading.jpg);*/
	background-color: #adcae2 !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 30px;
	border-right:1px solid #9d9d9d;
	border-left:1px solid #9d9d9d;
	border-top:1px solid #9d9d9d;
}
/* DIV.BrowserBotN {border: 1px solid #9D9D9D;} */
Table.outline {
    /* border: 1px solid #9D9D9D; */
    border:none !important;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.15), 0px 2px 2px rgba(0,0,0,0.05);
}
table.outline th {
    color: #fff;
    background: #6a747c;
    border-collapse: collapse;
    border: none;
    //padding:4px 6px;
}
DIV.BrowserBotN table.midAlign {
	margin: 0px 0px 0px 8px;
	background-color: #FAFAFA;	
}
/*DIV.BrowserBotN table a{color:#3B9EC6; font-size:11px; font-weight:bold;}*/
DIV.BrowserBotN table a:hover{
	/* color:#ffffff;
	background-color: #1ab7ea; */
	text-decoration: underline;
}
DIV.BrowserTopn table {
	font-family: Arial, Helvetica, sans-serif;
	color:#696969;
	font-size: 12px;
	border-collapse: collapse;
}

DIV.BrowserTopn TH {
	background-color: #FAFAFA;
	color:#696969;
	background-image: url(../../images/mgPanelimages/gradients_default.png);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-right:1px solid #9d9d9d;
}

DIV.BrowserTopn TD {
	font-family: Arial, Helvetica, sans-serif;
	color:#696969;
	font-size: 12px;
}
DIV.BrowserTopn A:hover {
text-decoration: underline;
}

DIV.BrowserTopn BUTTON {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
DIV.BrowserTopn table text, DIV.BrowserTopn table select{	border: 1px solid #ab9492;
	height: 25px;}
DIV.BrowserBotN Table {
	border-style: none;
	border-collapse: collapse;
	/* background-color: #FAFAFA; */
}

DIV.BrowserBotN A {
	    color: #1ab7ea;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
}

/* DIV.BrowserBotN A:hover {
	color: red;
}*/

DIV.BrowserBotN BUTTON {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

DIV.BrowserBotN TD {
	font-family: Arial, Helvetica, sans-serif;
	/* color:#696969; */
	font-size: 12px;
}

DIV.BrowserBotN TH {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-right:1px solid #9d9d9d;
}
DIV.tabFormTopN table{border:collapse; /* border:1px solid #9d9d9d; */}

DIV.tabFormTopN TH {
	font-family: Arial, Helvetica,  sans-serif;
	font-size:12px;
	color:#696969;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	border-right:1px solid #9d9d9d;
}
/* DIV.tabFormTopN a{color:#AA202E;}
DIV.tabFormTopN a:hover{color:#AA202E;} */

DIV.tabFormBotN Table {border-collapse: collapse;}

DIV.tabFormBotN A {
	font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	color:#3B9EC6;
	font-weight:bold;
	font-size:11px;
}

DIV.tabFormBotN  A:hover {
	/* color:#ffffff;
	background-color: #1ab7ea; */
	text-decoration: underline;
}

DIV.tabFormBotN  BUTTON {font-family:Arial, Helvetica,  sans-serif;
font-size:9pt;}


/* DIV.tabFormBotN TD {font-family: Arial, Helvetica,  sans-serif; color:#696969; font-size:12px; font-weight:bold;} */ /* changing this due to grid bold in lib>form>search>addfield*/
DIV.tabFormBotN TD {
	font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 12px;
}



DIV.tabFormBotN TH {
	color:#000;
	/*background-image: url(../../images/skin_default/bg-tbheading.jpg);*/
	height: 30px;
	border-right:1px solid #9d9d9d;
	border-top:1px solid #9d9d9d;
	Background-color: #adcae2;
}

DIV.tabFormBotNInv TH {
	color:#696969;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	border-right:1px solid #9d9d9d;
}
DIV.tabFormBotNInv a{color:#AA202E;}
DIV.tabFormBotNInv a:hover{
	/* color:#ffffff;
	background-color: #1ab7ea; */
	text-decoration: underline;
}

/********** tabdefbot *************/

DIV.tabDefBot TH {font-family:Arial, Helvetica,  sans-serif;font-size:12px; border-right:1px solid #9d9d9d;}

DIV.tabFormTop A {
	font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	color:#AA202E;
	font-weight:bold;
	font-size:12px;
}

DIV.tabFormTop Table {border-style: none;}

DIV.tabFormTop TH {
	background-color:#CFC8FF;
	font-family: Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:12px;
	border-right:1px solid #9d9d9d;
}

DIV.tabFormTop  A:hover {
	color:#ffffff;
	background-color: #1ab7ea;
	text-decoration: underline;
}

DIV.tabFormTop TD {font-family: Arial, Helvetica,  sans-serif; color:#696969; font-size:12px;}

DIV.tabFormTop  BUTTON {font-family:Arial, Helvetica,  sans-serif;font-size:9pt;}

DIV.tabFormBot Table {border-style:none;  border-collapse: collapse;}

DIV.tabFormBot A {
	font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	color:#ffffff; 
    background-color: #1ab7ea; 
	font-weight:bold;
	font-size:11px;
}

DIV.tabFormBot  A:hover {
	color:#ffffff;
	background-color: #1ab7ea;
	text-decoration: underline;
}

DIV.tabFormBot  BUTTON {font-family:rial, Helvetica,  sans-serif;font-size:9pt;}

DIV.tabFormBot TD {font-family: Arial, Helvetica,  sans-serif;color:#696969;font-size:12px;}

DIV.tabFormBot TH {font-family: Arial, Helvetica,  sans-serif;font-size:12px; border-right:1px solid #9d9d9d;}




/************ P tag for Section Headings **********/
DIV.tabDefBotN P.sectionHeadings {
	font-family: Arial, Helvetica, sans-serif;
	color: #1D536D;
	font-size: 13px;
	font-weight: bold;
	background-color: #adcae2;
	margin: 0px 0px 0px 0px;
}

.sectionHeadingsFrm {
	font-family: Arial, Helvetica, sans-serif;
    color: #1D536D;
    font-size: 13px;
    font-weight: bold;
    padding: 0px 0px 0px 6px;
    margin: 0px 0px 0px 0px;
    background-color: transparent;
}

P.sectionHeadings {
	font-family: Arial, Helvetica, sans-serif;
	color: #1D536D;
	font-size: 13px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;	
}

.sectionHeadings {
	font-family: Arial, Helvetica, sans-serif;
	color: #1D536D;
	font-size: 13px;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

P.reportHeadings {
	font-family: Arial, Helvetica,  sans-serif;
	color:#1D536D;
	font-size:12px;
	font-weight:bold;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #E3E3E3;
}

/****************************************/
HR.thickLine {
	height: 3px;
	color: #F1F0EF;
}

.bluehr {
	color: #F1F0EF;
}

.welcome {
	font-size: 12pt;
	font-family: arial;
	color: #003366;
	font-weight: bold
}

table.comPopup TH {
/*	background-color: #003366; */
	color: #696969;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	background-repeat:repeat-x;
	border-right:1px solid #9d9d9d;		
}

tr.comPopup TH {
/*	background-color: #003366; */
	color: #696969;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	background-repeat:repeat-x;
	border-right:1px solid #9d9d9d;	
}

td.tdDefault {
	font-family: Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:12px;
	height:20px;
}

/*********** P comments ****************/





P.defComments_txt {
	font-family: Arial, Helvetica, sans-serif;
	color: #1D536D;
	font-size: 8pt;
}

.comments {
	font-family: Arial, Helvetica, sans-serif;
	color: #AA202E;
	font-size: 12px;
}

#TH_SCH {
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: "Arial, Helvetica,  sans-serif";
	color: #AA202E;
	font-size: 12px;
	height: 25px;
}

DIV.formDefault TH {
	background-color: #003366;
	border-right:1px solid #9d9d9d;
}
DIV.formDefault_event{background-color: #FAFAFA;	}
TD.reportName {
	font-family: Arial, Helvetica,  sans-serif;
	color:#fafafa;
	font-size:14px;
	font-weight:bold;
	background-color:#3B9EC6;
}
TD.reportData {font-family: Arial, Helvetica,  sans-serif; color:#696969; font-size:12px;}
.PopupTitle{background-color:#9d9d9d;}

/*DIV.popDefault table tr th{
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
  	background-size: auto 100%;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	border-right:1px solid #9d9d9d;
	border-left:1px solid #9d9d9d;
	border-top:1px solid #9d9d9d;
	font-weight:bold;
}*
TH.whiteBack {
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	color:#696969;
	border-right:1px solid #9d9d9d;
	border-top:1px solid #9d9d9d;
	border-left:1px solid #9d9d9d;
}
.scrollTable {
	 color:#696969;
	 font-family: Arial, Helvetica,  sans-serif;
	 text-decoration: none;
}
TR.reportGraphRow {
	font-family: Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:11px;
	background-color:#F2F2F2;
}
TR.reportEvenRow {
	font-family:Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:12px;
	background-color:#F2F2F2;
}

TR.reportOddRow {
	font-family:Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:12px;
	background-color:#FAFAFA;
}
TD.reportGrouping {
	font-family: Arial, Helvetica,  sans-serif;
	font-size:12px;
	font-weight:bold;
}


/******************  YUI  New styles  ********************/
/*.yui-dt table{width:100%; left:30px;}*/
.yui-dt table th{
	color:#696969;
	/* background-image: url(../../images/skin_default/bg-tbheading.jpg); */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;	
	background-repeat:repeat-x;
	border-right:1px solid #9d9d9d;	
}

Table.patHeader {border-style:none; top:0px;}

Table.patHeader A {font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	color:#ffffff; 
   background-color: #1ab7ea; 
	font-weight:bold;
	font-size:12px;
}

Table.patHeader A:hover {
	color:#ffffff;
	background-color: #1ab7ea;
	text-decoration: underline;
}

Table.patHeader TD {font-family: Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:12px;
}

TH.headernoColor {font-family: Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:12px;
	border-right:1px solid #9d9d9d;
}

UL {PADDING: 0px; MARGIN: 0px;}
#nav-one LI { PADDING: 0px;	MARGIN: 0px;	height: 29px;	/* text-align: center; */}

ul.dropmenu {
	position: relative;
	z-index: 9999;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 4px;	
}

#nav-one {	width: 100%;}
.dropmenu ul {	background-color: #FAFAFA;}
.dropmenu ul a {	color: #FAFAFA;	border: 1px solid #9d9d9d;	font-size: 12px;	white-space: nowrap;	display: block;}
.dropmenu ul a:hover {	
	color: #ffffff!important;
    background-color: #F0F0F0;
    background-image: none;
    text-decoration: none;
    font-size: 14px;}
.dropmenu ul li {	border: 0;	float: none;}
.dropmenu li k {
	display: block;
	float: right;
	height: 10px;
	width: 10px;
	position: absolute;
	top: 12px;
	right: 10px;
}

.dropmenu li {
	position: relative;
    list-style: none;
    float: left;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    font-weight: normal;
}

.dropmenu li:hover {
    background-color: transparent;
}

.dropmenu li a {
   border-right: none;
    color: #fff;
    /* text-transform: capitalize; */
    height: 22px;
    z-index: 9999;
    padding: 6px 8px 0px 8px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
}

.dropmenu li a:hover {
	background-color: #1ab7ea;
    color: #F0F0F0;
	/*text-transform: capitalize;*/
	font-weight:bold;
	font-weight:normal;
	text-decoration: underline;
}

.dropmenu li:hover ul {
	background-color: #F0F0F0;
	color:#696969;
}

.dropmenu li div {
	background-color: #FAFAFA;
	border: 1px solid #9d9d9d;
	padding: 5px 3px 5px 5px;
	display: none;
	position: absolute;
	height: auto;
	font-weight:normal;
}

.dropmenu li div ul {
	paddint: 0px 0px 0px 0px;
	border: none;
	background: none;
	position: relative !important;
}

.dropmenu li div ul li {
	background-color: #FAFAFA;
	background-image: none;
	margin: 0px;
	color:#696969;
	font-weight:normal;
}

.dropmenu li div ul li:hover {
	background-color: #FAFAFA;
	background-image: none;
	color:#696969;
	margin: 0px;
}

.dropmenu li div ul li a {
	height: 22px;
	padding: 6px 0px 0px 5px;
	margin: 0px 3px 3px 0px;
	width: 98%;
	color:#000000; 
    background-color: #ffffff; 
}

.dropmenu li div ul li h2 {
	margin: 0px 3px 0px 0px;
	background-color: #106CB7;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FAFAFA;
	/*text-transform: capitalize;*/
	text-align: left;
	font-weight: none;
	height: 29px;
	padding: 7px 0px 0px 5px;
}

.dropmenu li div a {
	border: none;
	text-align: left;
	color:#ffffff; 
    background-color: #1ab7ea; 
	padding: 0px;
	text-decoration: none;
	background-color: #FAFAFA;
	font-weight:normal;
}

.dropmenu li div a:hover {
    background-color: #1ab7ea;
    color: #696969;
    height: 26px;
}

.dropmenu li div div {
	display: block;
	position: relative;
	background: none;
	border: none;	
}

.dropmenu li div div a {
	display: block;
	border: none;
	color:#ffffff; 
    background-color: #1ab7ea; 
	text-decoration: underline;
	padding: 0px;
	margin: 0px;
	text-transform: none;
}

.dropmenu li div div a:hover {
	color:#ffffff;
	background-color: #1ab7ea;
	text-decoration: underline;
}

ul.left {
	float: left;
	width: 145px;
}

ul.right {
	float: right;
	width: 145px;
}

li.left {
	float: left;
	width: 145px;
}

li.right {
	float: right;
	width: 145px;
}

.personalize {
	width: 150px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.manage {
	width: 295px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.research {
	width: 180px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.library {
	width: 295px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.inventory {
	width: 140px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.reports {
	width: 140px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}

.regreporting {
	width: 140px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}
.pfmenu {
	width: 140px;
	margin-top: 5px;
	left: 0px;
	position: absolute;
}
/*-----------Right Starts-------------*/
.personalizeRight {
	width: 150px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.manageRight {
	width: 295px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.researchRight {
	width: 150px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.libraryRight {
	width: 300px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.inventoryRight {
	width: 140px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.reportsRight {
	width: 140px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

.regreportingRight {
	width: 140px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}
.pfmenuRight {
	width: 140px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}
/*-----------Right Ends-------------*/


DIV.tabDefTopN Table {border-style: none;}
DIV.tabDefTopN TD {font-family: Arial, Helvetica,  sans-serif;color:#696969;font-size:12px;}
DIV.tabDefTopn  A:hover {
	/* color:#FAFAFA; */
}
DIV.tabDefTopn .unselectedTab a:hover{
color: #39b54a;
}
DIV.tabDefTopN  BUTTON {font-family:Arial, Helvetica,  sans-serif;font-size:9pt;}

Table.velosTab { border-bottom:5px solid #ccc;}

/**** cleaned out styles from ns_1024.css and ns_gt1024.css **********/

DIV.popDefault{	border:1px solid #9d9d9d;}
DIV.tabDefBotN {
    border: 1px solid #39b54a;
}
div#header{border-bottom: solid 1px #cccccc;} 
DIV.BgtTabFormBotN{	border: 1px solid #9d9d9d;} 
DIV.BgtTabFormN{border: 1px solid #9d9d9d;}
/* DIV.BrowserBotN{border: 1px solid #9d9d9d;}  */	
/*DIV.tabFormBotN border: none;}*/
div#leftcolumn{border-right: solid 1px #cccccc;}
DIV.BgtDivBottom{border: 1px solid #9d9d9d;}	
DIV.tabFormBotNInv{	border: solid 1px #9d9d9d;}
DIV.BrowserBotN_top1{	border: 1px solid #9D9D9D;}

/********** IE color properties ***********/
.searchBg tr{border:1px solid #9d9d9d; }
DIV.tabDefBotN TD text, DIV.tabDefBotN TD SELECT{border:1px solid #9d9d9d;	height:25px;}

/*tr.browserEvenRow TD {border:1px solid #9d9d9d; }*/
/*tr.browserOddRow TD {border:1px solid #9d9d9d; }*/

/********* brought from non colored item stylesheets *******************/
DIV.BrowserBotN {background-color: #FAFAFA;}
DIV.tabDefBotN {background-color:#FAFAFA;}
DIV.tabFormBotN {	background-color: #FAFAFA;}
DIV.tabFormBotNInv {background-color: #FAFAFA;}
.centerme{	margin:auto;	width:70%;	font: normal bold 12px arial;	}

DIV.tabFormTopN {background-color:#FAFAFA;}


.speca:not(.custom-not-speca) a{color:#ffffff; background-color: #1ab7ea; text-decoration:underline; font-weight:normal;}
.speca:not(.custom-not-speca) a:hover{
	color:#ffffff;
	background-color: #1ab7ea;
	text-decoration: underline;
}

DIV.browserDefault A:hover, DIV.pgbrowse  A:hover {/*color:#696969; */} /****fixed for the bug 8975 ***/
TH.reportClrHead {
	font-family:Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:12px;
	font-weight:bold;
	background-color:#E9E9E9;
	border-right:1px solid #9d9d9d;
} 

.quickLinks_border{
	border:1px solid #9d9d9d;
}


.successfulmsg{
	font-family:Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:12px;
	font-weight:bold;
	padding:5px 0px 5px 0px;
	background-color:#ebeaea;	
}

.bgcolorFix {background-color:#FAFAFA;}
.ui-widget-header { border: 1px solid #aaaaaa/*{borderColorHeader}*/; background: #cccccc/*{bgColorHeader}*/ url(images/ui-bg_highlight-soft_75_cccccc_1x100.png)/*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/; color: #222222/*{fcHeader}*/; font-weight: bold; }

/*.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #999999/*{borderColorHover}*//*; background: #dadada/*{bgColorHover}*/ /*url(images/ui-bg_glass_75_dadada_1x400.png)/*{bgImgUrlHover}*/ /*50%/*{bgHoverXPos}*/ /*50%/*{bgHoverYPos}*/ /*repeat-x/*{bgHoverRepeat}*//*; font-weight: normal/*{fwDefault}*//*; color: #212121/*{fcHover}*//*; }*/
.ui-button .ui-button-text {
    color: #FAFAFA;
    font-size: 12px;
}

.ui-button, .ui-state-hover {
    color: #fff;
    background: #1ab7ea;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    border: none;
    padding: 1px 12px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #8f8e8e/*{borderColorHighlight}*/; background: #dcdcdc/*{bgColorHighlight}*/ /*url(images/ui-bg_glass_55_fbf9ee_1x400.png)/*{bgImgUrlHighlight}*/ 50%/*{bgHighlightXPos}*/ 50%/*{bgHighlightYPos}*/ repeat-x/*{bgHighlightRepeat}*/; color: #555555/*{fcHighlight}*/; }

DIV.ui-widget{font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 8pt; background-color:white;}

DIV.tabFormTopN A {
	font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	color:#3B9EC6;
	font-weight:bold;
	font-size:11px;
}
td#tdComments {
	font-family: Arial, Helvetica,  sans-serif;
	color:blue;
	font-size:9pt;
	font-style:italic;
}

.ui-accordion-header, .ui-state-active{/*background: url(../../images/mgPanelimages/ui-bg_highlight-soft_75_cccccc_1x100.png);*/background-color:#CCCCCC; font-size:8pt;}

/************* from velos.css to make it theme specific ********************************/ 

tr.subCostRow {background-color:#81BEF7;}
tr.subCostRow TD {font-family: Arial, Helvetica,  sans-serif; color:#696969;font-size:8pt;
margin: 1px;
padding:0px 0px 0px 5px;}
tr.pastSchRow {background-color:#FFCC99;}
tr#browserOddRow {background-color:#FAFAFA; border: 1px solid #9d9d9d;}
tr#browserOddRow TD {font-family: Arial, Helvetica,  sans-serif; color:#696969; font-size:12px; border: 1px solid #9d9d9d;}
tr#browserEvenRow {background-color:#F2F2F2;  border: 1px solid #9d9d9d;}
tr#browserEvenRow TD {font-family: Arial, Helvetica,  sans-serif;color:#696969;font-size:12px; border-right: 1px solid #9d9d9d;}
tr#browserBoldRow TD {font-family: Arial, Helvetica,  sans-serif;color:#696969;font-size:12px;font-weight:bold;}

td.normalinfoodd a{color:#AA202E;}
td.normalinfoeven a{color:#AA202E;}


.bodyFormat tr td { 
	border-bottom:1px solid #9d9d9d;	
	border-left:1px solid #9d9d9d;
}

tr.plainRow TD {
	font-family: Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:8pt;
	border-bottom:1px solid #9d9d9d;	
	border-left:1px solid #9d9d9d;
	border-right:1px solid #9d9d9d;
}


/*CONTEXT MENU THEME*/

.context-menu-theme-default {
    background-color: #FAFAFA;
    border: 1px outset #AA202E;
}

.busy, .busy * {  
      cursor: wait !important;  
    }  
.context-menu-theme-default .context-menu-item {
    color:#696969;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 4px 4px 4px 4px;
    text-align: left;
}
.context-menu-theme-default .context-menu-separator {
    border-bottom: 1px solid #9d9d9d;
    border-top: 1px solid #9d9d9d;
    font-size: 0;
    margin: 4px 2px;
}
.context-menu-theme-default .context-menu-item-disabled {
    color: #808080;
}
.context-menu-theme-default .context-menu-title .context-menu-title-inner{
    background-color: #8c8282;
    color: #FAFAFA;
    font-size: 11px;
    vertical-align: middle;
    padding: 4px 4px 4px 4px;
}
.context-menu-theme-default .context-menu-item .context-menu-item-inner {
    background: none no-repeat fixed 999px 999px transparent;
}
.context-menu-theme-default .context-menu-item:hover {
    background-color: #AA202E;
    color: white;
}
.ui-widget-content A {
    text-decoration:underline;
	font-size:12px;
	font-weight:normal;
}
ul.ui-widget-header  {
	background: none;
	background-color: #8c8282;
}
ul.ui-widget-header li.ui-tabs-selected  {
	background: none;
	background: url(../../images/skin_default/bg-tbheading.jpg) repeat-x 0px 0px;
}
ul.ui-widget-header li{
	background: none;
}

table.topmenu-custom1 {
	background-color: #106CB7;
}
table.current-page-custom1 {
	 background-color: #fff;
}
.menu_bgcolor{background-color: #106CB7;}

.menu_bgcolor TD.grayComments {
    color: #fff;
}


/*.yui-dt-odd{background-color:#FAFAFA;}
.yui-dt-even{background-color:#F2F2F2;}*/

.quickLinkrowheight{height:40px;}

.stdfldheight{height:50px;}

.trheight p{padding:0 5px 0 0; margin:0; float:left;}
.trheight p a{border:none;}

/* .trheight1 p{padding:0 5px 0 0; margin:0; float:left;}*/
.trheight1 p a{border:none;}
/*.trheight1 p:first-child{width:150px;}*/

.trheighthme{/* text-align:center; */ margin-left:10px;}
.trheighthme p{padding:0 5px 0 5px; margin:0; float:left;}
.trheighthme p a{border:none;}

.textareaheight textarea{}
.textareaheight{height:50px !important;}
/*
NEW CSS START 
*/
.dropmenu:after {
    content: "";
    display: block;
    clear: both;
}
.dropmenu li div {
    top: 24px;
}
table.custom-table-heading {
    background: #106cb7;
}
table.outline th {
    color: #101010;
    background: #adcae2 !important;
}
.custom-my-link a i, .custom-quick-link a i {
    color: #1d1b1b !important;
}
li.haschildren:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: -7px;
    top: 13px;
    height: 0px;
    width: 0px;
    border: none;
    border-top: 5px solid #ffffff;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
}
#nav-one>LI {
    margin-right: 14px;
}
.dropmenu li a {
    font-family: 'Open Sans', sans-serif;
}
form#searchstudyform input {
    background: #fdfdfd !important;
    border: 0px;
    padding-left: 13px;
}
li.haschildren:hover .submenu {
    display: block !important;
}
li.haschildren>a:hover {
    background: transparent !important;
}
form#searchstudyform input::placeholder { /* Firefox, Chrome, Opera */ 
    color:#106CB7; 
} 
  
form#searchstudyform input:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
   color:#106CB7;  
} 
  
form#searchstudyform input::-ms-input-placeholder { /* Microsoft Edge */ 
    color:#106CB7; 
} 
span.custom-search {
    position: absolute;
    top: 7px;
        right: 12px;
    font-size: 15px;
}
form#searchstudyform {
    position: relative;
}
.hide-this {
    display: none;
}
ul.custom-right-details li {
    display: inline-block;
    font-size: 13px;
    margin-left: 0px;
    margin-right: 11px;
}
ul.custom-right-details li a {
    color: #fff;
    font-size: 16px;
}
table.outline th {
   /* text-align: left; */
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
}
table.custom-table-heading td {
    padding: 3px 18px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
table.custom-table-heading {
    background: #1ab7ea;
    padding: 10px !important;
}
tr.browserEvenRow td {
   /*  vertical-align: middle;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 0px;
    padding-right: 0px; */
}
.custom-outline tr td:last-child div {
    text-align: left;
}
.custom-my-link a i,.custom-quick-link a i {
    color: #fff;
}
ul.custom-msg li {
    display: inline-block;
    margin-right: 12px;
    font-family: 'Open Sans', sans-serif;
}
.custom-advanceSearch{color: #1ab7ea;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;}
ul.custom-msg a {
    color: #000000;
}
ul.custom-msg li:first-child {
    background: #106cb7;
    color: #fff;
    padding: 2px 8px;
    font-size: 11px;
}
a.account-from {
    background: #106cb7;
    padding: 5px 7px !important;
    color: #fff;
    border-radius: 5px;
}
.custom-what i {
    color: #106cb7;
    font-size: 14px;
}
.reports {
    width: 155px;
    z-index:90;
}
.border {
    margin-top: 20px;
}
.copyright,.suggestion {
    color: #565656;
     position: relative;
}
body, html {
    height: 100%;
}
body, html {
    height: 100%;
}
.custom-login{
	background: url('../images/login-bg.jpg');
}
body.custom-login:after {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #ffffffc2;
    z-index: 91;
}
.border {
    z-index: 99;
    position: relative;
    box-shadow: 0px 1px 15px #ccc;
}
.header {
    z-index: 99;
    position: relative;
}
.footer {
    height: 31px;
}
.browserDefault {
    position: static !important;
    height: 100% !important;
    width: 100% !important;
    padding-left: 0px !important;
}
.topmenu-custom1,.fixed-header {
   /*  position: fixed;
    width: 100%; */
}
.topmenu-custom1{ z-index:99;}
table.fixed-header {
  /*  top: 30px; */
    z-index:90;
    border: 1px solid #ccc;
}
.browserDefault {
    margin-top: 34px !important;
}
.old-menu {
    display: none;
}
.only-wcg-theme {
    display: block;
}
.default-theme{ display:none !important;}

@font-face {
    font-family: 'open_sans_lightregular';
    src: url('../../font/opensans-light-webfont.woff2') format('woff2'),
         url('../../font/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

table.current-page-custom1 {
   /*  margin-top: 31px; */
    background: #87b2d69c;
    width: 100%;
    color: #fff;
}
table.current-page-custom1 td.grayComments.lhsFont {
    padding-top: 5px;
    padding-bottom: 3px;
}
DIV.tabDefBotN P.sectionHeadings {
    padding: 3px;
    line-height: 21px;
    margin-bottom: 10px;
}
div#userDetailsTab1content {
    border-radius: 0px;
    padding-left: 12px;
}
.ui-corner-all {
   /*  padding-left: 10px !important; */
    margin-left: 0px !important;
}
.ui-widget-border {
    border: 0px !important;
}

.ui-corner-all {
    border-radius: 0px !important;
}

.yui-skin-sam .yui-dt table {
    width: 100%;
}
.d-tbl {
    width: 100%  !important;
    margin-left: 0px !important;
}

.searchBg a {
    left: 0px !important;
}
table.searchBg td {
    padding-left: 13px;
}
/*
NEW CSS END 
*/

/*
USER Details 
*/
.user-details-section {
/*     margin-top: 100px; */
    margin-left: 30px;
    margin-right: 30px;
}
.user-details-left-section {
    width:28%;
    float: left;
}
.user-details-section:after {
    content: "";
    display: block;
    clear: both;
}
.user-details-left-section li {
    display: inline-block;
    width: 100%;
}
.user-details-left-section li a {
    display: block;
    padding: 11px 17px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    background: #f00;
    margin-bottom: 12px;
}
li.active-user a,li.deactivated-user a {
    background: #39b54a;
    color: #fff !important;
}
li.active-user a i,li.active-groups a i,li.deactivated-user a i {
    margin-right: 11px;
}
li.active-groups a {
    background: #106cb7;
    color: #fff !important;
}
li.deactivated-user a {
    background: #6b6b6b;
}
DIV.tabDefTopN {
    visibility: visible;
    position: absolute;
    overflow: auto;
    left: 4px;
}
.search-users {
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 0px 11px 2px #ccc;
}
.search-users h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 100;
    color: #106cb7;
    font-size: 16px;
}

.inner-tab-content {
    clear: both;
}
.search-users {
    clear: both;
}
.inner-tab-menu li {
    padding: 5px 4px;
    width: 29%;
    margin-top: 10px;
    float: left;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.inner-tab-menu li:first-child {
    border-left: 1px solid #ccc;
}
DIV.tabDefTopN {
    visibility: visible;
    overflow: inherit !important;
    top: 60px;
    width: inherit;
    left: inherit;
    position: fixed !important;
    width: 100%;
    clear: both;
}
.user-details-Menuleft {
    float: left;
}
.user-details-Menuright {
    float: right;
}
.custom-user-data {
    position: relative !important;
}
table#submitBarTable {
   /* padding-top: 13px;
    margin-top: 100px;
    clear: both;
    margin-bottom: 49px; */
}
DIV.popDefault A:hover {
    color: #171414;
}
.custom-design-form-200 input:not([type="checkbox"]):not([type="radio"]),.custom-design-form-200 select,.custom-design-form-200 textarea {
    width:175px;
    border-radius: 0px !important;
    height: 25px !important;
}
.custom-design-form input:not([type="checkbox"]):not([type="radio"]),.custom-design-form select,.custom-design-form textarea {
    width:175px;
    height: 25px !important;
    margin-bottom: 10px;
}
.custom-design-form input[type="checkbox"] {
    margin: 0px;
    margin-right: 10px;
    margin-left: 10px;
}

table.outline.midAlign.basetbl {
    margin-left: 0px !important;
}
p.defComments b {
    font-weight: normal;
}
.yui-skin-sam th.yui-dt-asc, .yui-skin-sam th.yui-dt-desc {
    background: #6a747c !important;
}
DIV.BrowserBotN {
    width: inherit !important;
    right: 23px;
}
DIV.BrowserBotN_FLsetting_1 {
  /*   top: 106px !important; */
}
div#nav {
    width: 100% !important;
}
.topmenu-custom1, .fixed-header {
    top: 0px;
}
table.outline.custom-design-form td,table.outline.custom-design-form th {
    /*text-align: center; */
}
.custom-tabFormBotNInv {
    margin-top: 167px !important;
}
.custom-midAlign th,.custom-midAlign td {
    /* text-align: center !important; */
}
form#editBoxFldFrm table {
    width: 100% !important;
}
p.sectionHeadings.lhsFont {
    padding-top: 5px;
    padding-bottom: 5px;
}
DIV.BrowserBotN TD {
    vertical-align: top;
}
DIV.BrowserBotN TD {
    padding: 4px 6px;
}
.ui-corner-all.ui-button-text-only {
  /*  margin-left: 23px !important;
    margin-bottom: 24px; */
}
.midAlign td {
  /*  text-align: center; */
}

.custom-searchby td {
    text-align: left;
    margin-bottom: 10px !important;
    font-size: 14px;
    font-weight: normal !important;
    color: #1ab7ea;
    font-family: 'Open Sans', sans-serif;
}
.tabDefTopN {
    height: inherit !important;
}
DIV.tabDefBotN {
    right: 25px;
}
input#eSign {
   /*  margin-top: 10px; */
}
.custom-center-thTd td,.custom-center-thTd tr td:last-child div {
    /* text-align: center !important; */
}
.custom-center-thTd td {
    padding: 0px !important;
    padding-bottom: 4px !important;
    padding-top: 4px !important;
}
.custom-center-thTd {
    border-collapse: collapse;
}
.custom-center-thTd th {
    padding-top: 5px;
    padding-bottom: 5px;
}
ul.custom-msg {
    float: left;
}
DIV.tabDefBotN:not(.custom-top-space) {
    /* top: 88px !important; */
}
input#eSign {
    width: initial;
}
table#submitBarTable td {
    vertical-align: middle;
}
DIV.BrowserBotN_RC_2 {
   /* border: 0px !important; */
}
table.basetbl.outline.midAlign.lhsFont + br {
    display: none !important;
}
html.remove-overflow {
    overflow: auto !important;
}
html.remove-overflow,.remove-overflow body {
    overflow: visible !important;
}
table.outline.midAlign.lhsFont td {
   /*  border-right: 1px solid #ccc; */
}
/*
Global Css 
*/
table th {
    padding-top: 5px;
    padding-bottom: 5px;
}
table {
    border-collapse: collapse;
}

/*
Global Css End 
*/
.custom-center-Align td {
   /* text-align: center; */
    border-right: 1px solid #ccc !important;
}
/*
User Page Design 
*/
div#tabbody1 {
    display: none;
}
.hide-scrolling,.hide-scrolling body{
	    overflow: inherit !important;
	
}
.user-details-right-section {
    float: left;
    max-width: 982px;
}
.top-search-hideforFewMin{ display:none;}
.user-details-rTable thead {
    background: #6b6b6b;
    color: #fff;
}
.user-details-rTable thead th {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
}
table.user-details-rTable {
    table-layout: fixed;
}
.user-details-right-section {
    float: left;
    width: 69%;
    padding-left: 25px;
}
.user-details-right-section div#tabhead {
    border: 1px solid #ccc;
    box-shadow: 0px 5px 10px #ccc;
}
table.user-details-rTable td {
    padding: 8px 19px;
}
.custom-table-heading td:first-child {
    position: relative;
}
.custom-table-heading td:first-child:before {
    background: #efefef;
    border-left: 5px solid #106cb7;
    content: "";
    height: 33px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.custom-table-heading {
    background: #f5f5f5;
    padding: 100px;
    border-bottom: 1px solid #ccc;
}
.custom-table-heading td {
    padding-left: 21px !important;
}
.user-top-option {
    margin-top: -16px;
}
.user-top-option tr td a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100 !important;
    font-size: 13px;
    margin-bottom: 10px !important;
    display: inline-block;
    margin-left: 16px;
}
.user-top-option tr td a i {
    float: left;
    margin-right: 5px;
    font-size: 14px;
}
.user-top-option td {
    text-align: right;
}
.user-details-rTableScroll{
	overflow: auto;
    height: 72%;
}
.user-tab-content{ display:none;}
.user-content-active{ display:block !important}
form#searchstudyform input {
    width: 100%;
}
.user-tab-active {
    background: #39b54a;
    color: #fff;
}
.inner-tab-menu li {
    /* text-align: center; */
}
.user-details-Menuright li {
    display: inline-block;
    font-size: 15px;
    margin-top: 10px;
    margin-right: 13px;
    color: #1ac6f1;
}
.browserDefault1 {
    width: 100%;
}
table.searchBg td a {
    margin-left: 19px;
}
input[type=text] {
    padding: 4px;
    border-radius: 5px !important;
    height: 25px !important;
}

/*
Fix 
*/
DIV.tabFormBotNInv {
    top: 167px !important;
}
body:not(.not-body) {
    overflow: hidden !important;
}
table.basetbl.outline.midAlign1.lhsFont {
    margin-bottom: 0px !important;
}
DIV.tabFormBotN_MI_1:not(.custom-not-top) {
    top: 210px !important;
}
.custom-center-Align tbody.scrollContent {
    height: inherit !important;
}
.browserDefault {
    margin-top: 0px !important;
}
.custom-button,.dt-button,.current {
      color: #fff !important;
    background: #1ab7ea !important;
}
.custom-table-center{  /*text-align:center;*/    /* border: 1px solid #ccc !important; */    table-layout: fixed;}
.custom-table-center td,.custom-table-center th,div#serverpagination_study th,.custom-table-center-last table:last-child td {
   /*   border: 1px solid #ccc !important;
       text-align: center; */
}
.custom-table-center th,div#serverpagination_study th,.custom-table-center-last table:last-child th {
    border: 1px solid #ccc !important;
    background: #adcae2 !important;
    color: #000 !important;
    font-weight: normal;
}
.custom-table-scroll{ overflow:scroll;}
.custom-table-space td {
    padding-top: 5px !important;
    padding-bottom: 0px !important;
}
.custom-select-option select,.custom-select-option input{    width: 100% !important;}
.custom-table-input .netfilter {
    border: 1px solid #ccc !important;
    padding-left: 12px !important;
}
.custom-bottom-space{ margin-bottom:0px !important;}
.custom-table-border td:first-child {
    border-left: 1px solid #ccc !important;
}
.custom-table-border td:last-child {
    border-right: 1px solid #ccc !important;
}
.yui-skin-sam .yui-dt th {
    font-size: 80%;
    background: #D3D3D3;
    border: 1px solid #ccc !important;
    background: #adcae2 !important;
  /*   color: #000 !important; */
    font-weight: normal;
        font-size: 12px;
    margin: 0;
    padding: 0;
    border: none;
    border-right: none;
}
.yui-skin-sam .yui-dt td {
    border-right: none !important;
/*     border-bottom: 1px solid #ccc !important; */
}
.yui-skin-sam tr.yui-dt-odd td.yui-dt-asc, .yui-skin-sam tr.yui-dt-odd td.yui-dt-desc {
    background: #fff !important;
}
.ui-widget-header {
    background: #adcae2 !important;
    	color:#696969;
	background-image: url(../../images/skin_default/bg-tbheading.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;		
}
.custom-table-head th {
    color: #101010 !important;
    background: #adcae2 !important;
}
.basetbl p {
   /*  background-color: #adcae2 !important; */
}
.custom-table-border-bottom tr td {
    border-bottom: 1px solid #ccc;
}
P.sectionHeadings {
    background-color: #adcae2 !important;
}
table.basetbl.midalign.outline {
    width: 100%;
    border: 1px solid #ccc !important;
    box-shadow: none !important;
    background: #fbfbfb;
    padding: 6px 0 12px 0;
}
DIV.tabFormBotN {
    background-color: #fff;
    border: 1px solid #ccc;
    
}
P.defComments:not(.custom-not-defComments) {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 8pt;
    padding: 20px 0px 4px 12px;
    font-size: 12px;
    margin-top: 0px;
    padding-top: 1px;
    padding-bottom: 0px;
    padding-bottom: 10px !important;
}
.defComments:not(.custom-defComments) {
   font-family: Arial, Helvetica, sans-serif;
   color: #666;
   font-size: 8pt;
   padding: 20px 0px 4px 12px;
   text-align: center !important;
}
.ui-accordion-header, .ui-state-active {
    background-color: #adcae2 !important;
    font-size: 8pt;
}
DIV.tabDefBotN>TD {
    border: 0px;
    border-bottom: 1px solid #ccc;
}
.custom-table-design td {
    border-bottom: 1px solid #ccc;
}
.defComments.custom-anchor-color {
    color: #477dbf;
}
.custom-table-border-new {
    border: 1px solid #ccc !important;
}
.custom-table-center th,.custom-successfulmsg,.custom-bg-color,TD.reportName,.defComments:not(.custom-not-defComments),.reportHeading:not(th),TR.reportGreyRow,.searchBg,.dataTable tfoot tr th.reportHeading,.reportHeadings,th.reportHeading,tr.custom-td-color td{
    background: #adcae2 !important;
    color: #000 !important;
}
tr.custom-td-color td {
    vertical-align: middle !important;
}
#formPullDown {
    float: left;
    margin-right: 1%;
}
.custom-table-border-section td{
      border: 0px !important;
    border-bottom: 1px solid #ccc !important;
}
.outline.midAlign.custom-table-center.custom-table-border-section{border: 1px solid #ccc !important;}
.reportborder {
    border: 1px solid #ccc !important;
    border-width: thin !important;
}
.ui-button {
    border: 0px;
}
tr.browserEvenRow,tr.browserEvenRow TD,.reportEvenRow {
    background-color: transparent !important;
}
.normalinfoodd{ 
	border-right:none !important;
    border-bottom: none !important;}
DIV.BrowserBotN_AdQ_1 {
    top: 167px !important;
}
.custom-table-scroll {
    height: 50%;
}  
/* td{vertical-align: middle !important;} */    
td.custom-center-text span {
    display: inline-block;
    text-align: right;
    width: 100%;
    line-height: 26px;
}
tr.custom-bg-color a {
    color: #101010 !important;
}
form#fillform {
    overflow: auto;
}
div#serverpagination_study table td {
    border-bottom: 1px solid #ccc;
}
div#serverpagination_study th,div#serverpagination_study td {
    padding: 2px !important;
}
p.sectionHeadings.custom-not-bg,.custom-not-bg {
    background: transparent !important;
}
.custom-table-border-new{ border-bottom:1px solid #ccc;}
.custom-table-no-border td {
    border: 0px !important;
    border-bottom: 1px solid #ccc !important;
}
.custom-table-no-border{border: 1px solid #ccc !important;}
table.tablebdr.custom-table-center td {
    border: 0px;
    border-bottom: 1px solid #ccc !important;
    background: transparent !important;
}
body.not-body {
    overflow-y: scroll !important;
}
.custom-browserDefault {
       overflow: initial !important;
}
div#repFilter {
    border-right: 1px solid #0d0c0c !important;
}
.dataTable td {
    background: transparent !important;
}
.custom-table-inner-td table td {
    border: 0px;
}
.plainBg {
    background-color: transparent;
}
form#multBoxField table {
    width: 100% !important;
}
form#commentTypeFrm table {
    width: 100%;
}
table.custom-table-border-section td {
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
}
table.custom-table-border-section {
    border: 1px solid #ccc;
}
table.custom-table-border-section {
    width: 576px;
}
table.custom-table-center {
    border-bottom: none !important;
}
td.custom-no-border {
    border: 0px !important;
}
table.custom-table-center td:first-child {
    border-left: 1px solid #ccc;
}
table.custom-table-center td:last-child {
    border-right: 1px solid #ccc;
}
table.custom-table-center tr:last-child td{ border-bottom: 1px solid #ccc;}
p.sectionheadings.custom-sectionheadings {
    background: transparent !important;
}
.user_tab_active {
    background: #39b54a !important;
}
.user-details-left-section a {
    text-decoration: none !important;
}
table.dataTable thead .sorting {
    background: #adcae2 url(../../reportstyle/images/sort_both.png) no-repeat center right !important;
}
table.dataTable thead .sorting_desc {
    background: #adcae2 url(../../reportstyle/images/sort_desc.png) no-repeat center right !important;
}
table.dataTable thead .sorting_asc {
    background: #adcae2 url(../../reportstyle/images/sort_asc.png) no-repeat center right !important;
}
td.reportPanel {
    background-color: rgb(173, 202, 226) !important;
}
table table table th {
    background-color: transparent !important;
}
table.custom-no-underline a {
    background: transparent !important;
}
.custom-transparent {
    background: transparent !important;
}
.custom-td-color-bg tr {
    background: transparent !important;
    border-bottom: 1px solid #ccc;
}
.custom-table-center tr {
    border-bottom: 1px solid #cccc;
}
textarea,input  {
    font-family: arial; font-size:12px !important;
}
.only-wcg-icon {
    display: inline !important;
}
/* .only-not-wcg-icon{ display:none !important;} */
.only-wcg-icon{display:none !important;}
.custom-right-details img {
    width: 14px;
    vertical-align: middle;
    height: inherit !important;
}
.achvMileCnt {
    padding: 5px 7px;
    background: #106cb7;
    color: #fff;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
tbody.yui-dt-data tr {
    border-bottom: 1px solid #ccc;
}
ul.first-of-type {
    background: #fff;
    padding: 8px;
    box-shadow: -1px 2px 10px #ccc;
}
ul.first-of-type li {
    margin-bottom: 1px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
a.custom-advanceSearch {
    text-decoration: none;
}
a.custom-advanceSearch:hover{text-decoration: none;}
a.custom-advanceSearch:hover {
    text-decoration: underline;
}
.user-details-right-section div#serverpagination_user tbody {
    border: 1px solid #ccc;
}
/*
ONLY FOR USER PAGE 
*/
.user-details-right-section div.tabDefBotN{
height:65vh !important;
}
.yuimenu visible ul.first-of-type {
    background: #ebebeb;
    padding: 10px;
}
.yuimenu visible ul.first-of-type li {
    padding-bottom: 7px;
    border-bottom: 1px solid #d0c7c7;
    padding-top: 5px;
}