.gdt-header-row {
	font-weight:bold;
	height:21px;
	background-image: url("../../images/skin_default/bg-tbheading.jpg");
	color: #292929;
	border:0px;
}

.gdt-highlighted-row {
	background-color: #edf5ff;
}
