
body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #696969;
}

a {
    color: #1ab7ea;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    
    text-decoration: underline;
    
}

.ui-button, .ui-state-hover {
    color: #fff;
    background: #1ab7ea;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    border: none;
    padding: 8px 12px;
}
.ui-button .ui-button-text {
    color: #FAFAFA;
    font-size: 14px;
}

.dropmenu li:hover {
    background-color: transparent;
}


.dropmenu li div a:hover {
    background-color: #1ab7ea;
    color: #696969;
    height: 26px;
}
.dropmenu li a:hover {
    background-color: #1ab7ea;
    color: #F0F0F0;
    /* text-transform: capitalize; */
    font-weight: bold;
    font-weight: normal;
}

.dropmenu ul a:hover {
    color: #ffffff!important;
    background-color: #F0F0F0;
    background-image: none;
    text-decoration: none;
    font-size: 14px;
}


table.topmenu-custom1 {
    background-color: #106CB7;
}


.menu_bgcolor {
    background-color: #106CB7;
}


.menu_bgcolor TD.grayComments {
    color: #fff;
}

.dropmenu li {
    position: relative;
    list-style: none;
    float: left;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    font-weight: normal;
}


.dropmenu li a {
    border-right: none;
    color: #fff;
    /* text-transform: capitalize; */
    height: 22px;
    z-index: 9999;
    padding: 6px 8px 0px 8px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
}

input[type=text] {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #D3D3D3;
    height: 25px;
    padding: 6px;
    border-radius: 2px;
}

table.current-page-custom1 {
    background-color: #fff;
}

TD.grayComments {
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    padding: 4px 0 0 12px;
}



DIV.popDefault Table.unselectedTab A, Table.unselectedTab A {
    color: #666;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
}

DIV.popDefault Table.unselectedTab TD, Table.unselectedTab TD {
    height: 30px;
    padding: 9px 5px 6px 5px;
    margin: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
}

DIV.popDefault Table.unselectedTab, Table.unselectedTab {
    border: none;
    background: transparent;
    padding: 0px 0px 0px 0px;
    margin: 0px 4px 0px 4px;
}


DIV.popDefault Table.selectedTab TD, Table.selectedTab TD {
    font-weight: bold;
    padding: 9px 5px 6px 5px;
    margin: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid #39b54a;
    height: 30px;
}

DIV.popDefault Table.selectedTab A, Table.selectedTab A {
    color: #39b54a;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
}

DIV.popDefault Table.selectedTab, Table.selectedTab {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 4px;
    background-color: transparent;
}

DIV.popDefault Table.selectedTab A:hover, Table.selectedTab A:hover {
    /* color: #FAFAFA; */
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
}


.unselectedTab:hover .unselectedTab a {
    color: #39b54a;
}

.selectedTab:hover .selectedTab a {
    color: #39b54a;
    cursor: default;
}

Table.tabBorder {
    background-color: transparent;
    margin-left: 3px;
}

DIV.browserDefault A, DIV.pgbrowse A {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 1px;
    font-weight: normal;
    /* color: #AA202E; */
}

td.grayComments.lhsFont {
    padding-top: 6px;
}

DIV.browserDefault {
    padding: 0px 0px 0px 5px;
    text-align: justify;
    background-color: #fff;
    position: absolute;
    left: 2px;
    width: 99%;
    height: 765px;
    top: 60px;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #A7001B;
    margin-top: 12px;
}

P.defComments {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 8pt;
    padding: 20px 0px 4px 12px;
    /* background-color: #FAFAFA; */
}


/******GRIDS*************/

DIV.browserDefault TH, DIV.pgbrowse TH {
    color: #fff;
    background-image: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 30px;
    border: none;
    border-right: none;
    border-left: none;
    border-top: none;
    background: #6a747c;
    font-weight: normal;
}

tr.browserEvenRow {
    /* background-color: #FAFAFA; */
    background-color: #fff;
}

tr.browserEvenRow TD {
    border: none;
    border-bottom: 1px solid #ccc;
}


tr.browserOddRow TD {
    border: none;
    border-bottom: 1px solid #ccc;
}

tr.browserOddRow {
    /* background-color: #F2F2F2; */
    background-color: #fff;
}

tr.browserEvenRow TD {
    font-family: Arial, Helvetica, sans-serif;
    color: #696969;
    font-size: 12px;
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-color: #ccc;
    background-color: #fff;
    padding: 6px;
}

tr.browserOddRow TD {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 12px;
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-color: #ccc;
    background-color: #fff;
    padding: 6px;
}




/*ADD THIS TO DATA TABLES THAT HAVE NO IDS OR CLASSES*/

element.style {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
    margin: 0 10px;
}



/*Login page*/

body {
    min-height: 75%;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
    background: transparent;
}

.header {
    width: 100%;
    height: 88px;
    border-bottom: none;
    box-shadow: none;
}

.border {
    border-radius: 6px;
    /* border: 2px solid #F0EFEA; */
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    width: 325px;
    height: 200px;
    margin-top: 100px;
    /* box-shadow: 10px 10px 5px #888888; */
    background: #fff;
}

.footer {
    background: transparent;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
}


/*home page*/

.searchBg {
    background-color: #eee;
    border: none;
}


.searchBg .ui-button, .searchBg .ui-state-hover {
    color: #fff;
    background: none repeat scroll 0 0 #1ab7ea;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
    margin-left: -48px;
    height: 25px;
    border: 0px;
}


.searchBg a {
    font-size:12px !important;
    float:left;
    position:relative;
    left:-185px;
    top:2px;
}

.labelFont {
    color: #106CB7!important;
    font-size: 12px !important;
    text-transform: uppercase;
    padding: 8px 8px 8px 5px;
}

DIV.browserDefault TD, DIV.pgbrowse TD {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 14px;
    /* background-color: #FAFAFA; */
}

.labelFont a{
    text-transform:capitalize;
}

th.labelFont{
    color:#fff !important;
    text-transform:capitalize;
}

.searchBg .labelFont{
    text-transform:capitalize;
    color:#666 !important;
    padding-left:32px;
    
}

Table.outline {
    /* border: 1px solid #9D9D9D; */
    border:none !important;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.15), 0px 2px 2px rgba(0,0,0,0.05);
}

FONT.Green {
    font-family: Arial, Helvetica, sans-serif;
    color: #39b54a;
    font-size: 12px;
}

/*Patient Search*/

div#div3 {
    margin: 42px 0 0 0;
}

DIV.tabFormTopN_PS {
       top: 92px;
    margin: 20px 0;
    background: transparent;
    overflow: visible;
}

.basetbl TR {
    background-color: transparent;
}


.basetbl p {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    background-color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    margin: 0px 0px 12px 0px;
    padding: 8px 0;
}

table.basetbl.midalign.outline {
    background: #fbfbfb;
    padding: 6px 0 12px 0;
}


DIV.tabFormBotN {
    background-color: #fff;
}
DIV.tabFormBotN {
    border: none;
}

.dt-page-nav {
    z-index: 1000;
    margin: 16px 6px 26px 6px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.yui-skin-sam .yui-dt table {
    margin: 6px;
    padding: 0;
    font-family: arial;
    font-size: inherit;
    border-collapse: collapse;
    border: none;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.15), 0px 2px 2px rgba(0,0,0,0.05);
}

.d-tbl th a, .d-tbl th{
    color:#fff  !important;
    background-color:#6a747c !important;
    font-weight:normal !important;
    

}
.d-tbl th,.d-tbl td{
  
    padding:6px !important;

}


.yui-skin-sam .yui-dt th {
    font-size: 12px;
    margin: 0;
    padding: 0;
    border: none;
    border-right: none;
}

.yui-skin-sam th.yui-dt-asc, .yui-skin-sam th.yui-dt-desc {
    background: #6a747c;
}


.yui-skin-sam .yui-dt tr.yui-dt-first td {
    border-top: 1px solid #ccc;
}
.yui-skin-sam .yui-dt td {
    margin: 0;
    padding: 0;
    border: none;
    border-right: none;
    text-align: left;
    background: #fff;
}

DIV.tabFormBotN TD {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 12px;
}

.d-tbl td table{
    box-shadow:none !important;
}

table.basetbl.midalign.outline td{
    padding:4px;

}
table.basetbl.midalign.outline td[colspan="7"] {
 text-align:left;
 font-size:14px;
 padding-bottom:12px;
 padding-left:50px !important;
 
}




/*FORM LIBRARY*/

Table.basetbl {
    border: none;
    padding: 0px 0px 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #696969;
    margin-bottom: 32px !important;
}

.sectionHeadingsFrm {
    font-family: Arial, Helvetica, sans-serif;
    color: #1D536D;
    font-size: 13px;
    font-weight: bold;
    padding: 0px 0px 0px 6px;
    margin: 0px 0px 0px 0px;
    background-color: transparent;
}

table.outline th {
    color: #fff;
    background: #6a747c;
    border-collapse: collapse;
    border: none;
    padding:12px 6px
}

table.outline td {
    
    padding:12px 6px
}

DIV.tabDefBotN A:hover {
    text-decoration: underline;
}
DIV.tabDefBotN A {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #3B9EC6;
    font-size: 11px;
    font-weight: bold;
    text-transform: lowercase;
}


/*SPECIFIC STYLES*/

/*search page*/

form[name="advStudysearchpg"] td {
    
    padding: 12px 0 12px 0;
}

form[name="advStudysearchpg"]  {
    
    margin: 0px 16px ;
}


/*study summary page*/

DIV.BrowserBotN table a {
    color: #1ab7ea;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
}

DIV.BrowserBotN table a:hover {
    text-decoration: underline;
}