body { 
	background-color:#f1fafd;
}

#logo_bar_wrapper {		
	background:#f1fafd;
}

#login_box_inner {
	border:1px #b8e5f7 solid;
	background:#d9f1fb;	
	
}

#menu_wrapper {
	background:url(../../images/nav_bg_blue.jpg) repeat-x;

}


.user {
	color:#706e6e;
	border:1px solid #cccccc;
}

.pwd {
	color:#706e6e;
	border:1px solid #cccccc;
}

#footer { 
	background-color:#ebeae5;
}

#navigation_wrapper { 
	background-color:#f1fafd;
}

.copyright {
	color:#706e6e;	
}

.date_text {
	color:#000;
}

.menu_welcome {
	color:#000;
}

.menu_welcome a {
	color:#000;
}

.menu_welcome a : hover{
	color:#dd0125;
}

.menu_table {
	color:#666;
	background:url(../../images/nav_bg_blue.jpg) repeat-x;
	height:45px;
}

.menu_table a {
	color:#333;
	background:url(../../images/nav_bg_blue.jpg) repeat-x;
	height:45px;
}

.menu_welcome p {
	color:#990000;
}

.menu_table a : hover{
	color:#dd0125;
	background:url(../../images/nav_bg_blue.jpg) repeat-x;
	height:45px;
}

.menu_search { 
	background:url(../../images/nav_bg_blue.jpg) repeat-x;
	height:45px;
}

.search { 
	border:2px solid #a29f9f;
}

.border {
	border-bottom:1px solid #999999;
}


#text_wrapper { 
	background-color:#d5eef8;
}

#table_bar_wrapper {
	border:1px solid #999999;
	background-color:#d5eef8;
}


#table_wrapper_1 {	
	border: 1px solid #f2f2f2;
	background-color:#f2f2f2;	
}


#table_1 { 
	border-top:#000000 1px solid;
	border-bottom:#000000 1px 0 1px 1px solid;
	border-left:#000000 1px 0 1px 1px solid;
}

.table_border { 
	background-color:#f2f2f2;
}

.table_border td { 
	border: 1px solid #e0dcdc;
}

.table_border tr.alternate-row {
	background: #ececec;
}

#button_wrapper { 
	background-color:#d5eef8;
}

#left_table_wrapper { 
	background-color:#d5eef8;
}

#right_table_wrapper { 
	background-color:#d5eef8;
}

#middle_line {
	border-left:1px solid #d9d6d6; 	
}

.time_input { 
	border: 1px solid #d9d6d6;
}

.date_input { 
	border: 1px solid #d9d6d6;
}

form select { 
	background-color: #fff;
    border: 1px solid #d9d6d6;
}

#table_container { 
	border:1px solid #b3b3b3;
}

.table_row { 
	background-color:#b1e1f4;
}

.table_row1 { 
	background-color:#FFFFFF;
}

.table_row2 { 
	background-color:#FFFFFF;
}

.table_cell_1 { 
	border:1px solid #b3b3b3;
}

.table_cell_2 { 
	border:1px solid #b3b3b3;
}

.table_cell_3 { 
	border:1px solid #b3b3b3;
}

.table_cell_4 { 
	border:1px solid #b3b3b3;
}

.table_cell_5 { 
	border:1px solid #b3b3b3;
}

#table_container2 { 
	border:1px solid #b3b3b3;
}

.table_row1_1 {
	background-color:#b1e1f4;
}

.table_row1_2 { 
	background-color:#e0f2f9;
}

.table_row1_3 { 
	background-color:#fff;
}

.table_cell1_1 { 
	border:1px solid #b3b3b3;
}

.table_cell1_2 { 
	border:1px solid #b3b3b3;
}

.table_cell1_3 { 
	border:1px solid #b3b3b3;
}

.table_cell1_4 { 
	border:1px solid #b3b3b3;
}

.table_cell1_5 { 
	border:1px solid #b3b3b3;
}

.table_cell1_6 { 
	border:1px solid #b3b3b3;
}

.table_cell1_7 { 
	border:1px solid #b3b3b3;
}

.table_cell1_8 { 
	border:1px solid #b3b3b3;
}

.table_cell2_1 { 
	border:1px solid #b3b3b3;
}

.table_cell2_2 { 
	border:1px solid #b3b3b3;
}

.table_cell2_3 { 
	border:1px solid #b3b3b3;
}

.table_cell2_4 { 
	border:1px solid #b3b3b3;
}

.table_cell2_5 { 
	border:1px solid #b3b3b3;
}

.table_cell2_6 { 
	border:1px solid #b3b3b3;
}

.table_cell2_7 { 
	border:1px solid #b3b3b3;
}

.table_cell2_8 { 
	border:1px solid #b3b3b3;
}

.table_cell3_1 { 
	border:1px solid #b3b3b3;
}

.table_cell3_2 { 
	border:1px solid #b3b3b3;
}

.table_cell3_3 { 
	border:1px solid #b3b3b3;
}

.table_cell3_4 { 
	border:1px solid #b3b3b3;
}

.table_cell3_5 { 
	border:1px solid #b3b3b3;
}

.table_cell3_6 { 
	border:1px solid #b3b3b3;
}

.table_cell3_7 { 
	border:1px solid #b3b3b3;
}

.table_cell3_8 { 
	border:1px solid #b3b3b3;
}


#table_container3 {
	border:1px solid #b3b3b3;
}

.table_row4_1 { 
	background-color:#b1e1f4;
}

.table_row4_2 { 
	background-color:#ffffff;
}

.table_row4_3 { 
	background-color:#e0f2f9;
}

.table_cell4_1 { 
	border:1px solid #b3b3b3;
}

.table_cell4_2 { 
	border:1px solid #b3b3b3;
}

.table_cell4_3 { 
	border:1px solid #b3b3b3;
}

.table_cell4_4 { 
	border:1px solid #b3b3b3;
}

.table_cell4_5 { 
	border:1px solid #b3b3b3;
}

.table_cell4_6 { 
	border:1px solid #b3b3b3;
}

.text_1 {
	color:#000000;
}

.button_1 {
	color:#999999;
}

.title_txt {
	color:#ff0000;
}