@charset iso-8859-1;
/* COMMON.CSS */

body { background-color:#FFFFFF;}

/* DIV.tableDefault {padding: 0%;
text-align: justify;
background-color:#f7f7f7;
color: #000000;
position: absolute;
overflow: auto;}


DIV.tableDefault {
border-style: none; 
background-color:#4297D7;
}


DIV.tableDefault A {font-family: Verdana, Arial, Helvetica,sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.tableDefault  A:hover {color:red;}

DIV.tableDefault  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tableDefault TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
 background-color:#f7f7f7;} */

/* VELOS SKIN */
/* DIV.tableDefault TH {background-color:#000066; 
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:9pt;} */

table.leftPanelVLine {background-color:#6F67FF;}

td.tdDefault {font-family: Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;}

td#tdComments {font-family: Arial, Helvetica,  sans-serif;
color:blue;
font-size:12px;
font-style:italic;}

TD.leftpanel {background-color:#6F67FF;}

/************ P tag for comments  **********/

/* P.defComments {
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:8pt;}

P.defComments_txt {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:8pt;}
*/
/*.comments {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:8pt;}
*/
/****************************************/

/************ P tag for Section Headings **********/

/* P.sectionHeadings {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size: 9pt;
font-weight:bold;
background-color: #e1dce0;} */

/****************************************/

/************ P tag for Italics comments**********/

P.italicsComments {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:12px;
font-weight:bold;
font-style:italic;}

/****************************************/

/************ P tag for comments  **********/

P.blackComments {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;}

/****************************************/

/************ P tag for comments  **********/

P.bigNumbers {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:red;
font-size:12px;
font-weight:bold}

/****************************************/

/************ P tag for USer Name**********/

P.userName {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:1pt;
font-weight:bold;
text-align:right;
visibility:hidden;}

P.userNameNew {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:8pt;
font-weight:bold;
text-align:right;}

P.plwait {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:red;
font-size:8pt;
font-weight:bold;
text-align:left;}

DIV.plwt {visibility:visible;
margin-left:0px;
position:relative;
margin-top:0;}

/****************************************/

/************ P tag for logout comments**********/

P.logoutComments {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:12px;
font-weight:bold;
font-style:italic;}

/****************************************/

/************ P tag for Msg Center Heading**********/

P.msgHead {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:12px;
font-weight:bold;
background-color: #CFC8FF;
text-align:center;
border:solid;
width:550px;}

/****************************************/
form {background-color:#ffffff;}

DIV.formDefault Table {border-style: none; background-color:#FFFFFF;}

DIV.formDefault TR { background-color:#FFFFFF;}

DIV.formDefault TH {background-color:#CFC8FF;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;}

DIV.formDefault TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;

font-size:12px;
}

DIV.formDefault A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:12px;}

DIV.formDefault  A:hover {color:red;}

DIV.formDefault  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

/*****************************************/

FONT.Mandatory {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:red;}

FONT.Red {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:red;
font-size:12px;
font-weight:bold;}

FONT.Green {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:green;
font-size:12px;
font-weight:bold;}

FONT.Grey {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:#A4A4A4;}

FONT.Black {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:black;}

INPUT.inpDefault {background-color:white;}

INPUT.inpGrey {background-color:#d1d1d1;}

TEXTAREA.textDefault {background-color:white;}

TEXTAREA.textGrey {background-color:#d1d1d1;}

DIV .browserDefault .pgbrowse Table {border-style:none;  border-collapse: collapse;   background-color:#f7f7f7;}

DIV .browserDefault .pgbrowse A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:12px;}

DIV .browserDefault .pgbrowse  A:hover {color:red;}

DIV .browserDefault .pgbrowse  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV .browserDefault .pgbrowse TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;
}

/* VELOS SKIN START */
DIV .browserDefault .pgbrowse TH {background-color:#000066;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:12px;
}

tr.browserOddRow {background-color:#f7f7f7;}

tr.browserOddRow TD {
	font-family: Arial, Helvetica,  sans-serif;
	color:black;
	font-size:12px;
	border-style:groove;
	border-bottom-width:thin;
	border-top-width:thin;
	border-left-width:thin;
	border-right-width:thin;
}

tr.browserEvenRow {background-color:#d7d7d7; 
}

tr.browserEvenRow TD {font-family: Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;
border-style:groove;
border-bottom-width:thin;
border-top-width:thin;
border-left-width:thin;
border-right-width:thin;
}

tr.subCostRow {background-color:#81BEF7;
}

tr.stdOfCare {background-color:#FFCC99;
}

tr.stdOfCare td {font-family: Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
margin: 1px;
padding:0px 0px 0px 5px;
}

tr.pastSchRow {background-color:#FFCC99;
}

tr.pastSchRow TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;
font-style: italic;
padding:0px 0px 0px 5px;
border-color: #9D9D9D;
background-color: #D4CCDB;
border-style: groove;
border-style: thin;
}

tr#browserOddRow {background-color:#f7f7f7;
}

tr#browserOddRow TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;
}

tr#browserEvenRow {background-color:#d7d7d7;
}

tr#browserEvenRow TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;
}

tr#browserBoldRow TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;
font-weight:bold;}

/* VELOS SKIN END */


/*****************************************/

DIV.formBrwDefault Table {border-style:none;  background-color:#f7f7f7;}

DIV.formBrwDefault A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:12px;}

DIV.formBrwDefault  A:hover {color:red;}

DIV.formBrwDefault  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.formBrwDefault TD {font-family: Verdana, Arial, Helvetica,  sans-serif
color:black;
font-size:12px;
}

/* VELOS SKIN */
DIV.formBrwDefault TH {background-color:#000066;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:12px;
}

/***********************************************************/

/* DIV.popDefault Table {border-style: none;} */

/* VELOS SKIN */
/* DIV.popDefault TH { */
/* background-color:#000066; */
/* font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:9pt;} */

/* DIV.popDefault TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
}

DIV.popDefault A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.popDefault A:hover {color:red;}

DIV.popDefault BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;} */

/* VELOS SKIN START */
/* DIV.popDefault HR {color:#000066;}*/

/*****************************************/

/***************Rows for Message Center***********/

tr#msgcenterOddRow TD {background-color:#f7f7f7;
font-family: Verdana, Arial, Helvetica,  sans-serif;
font-size:12px;
}

tr#msgcenterEvenRow TD {background-color:#d7d7d7;
font-family: Verdana, Arial, Helvetica,  sans-serif;
font-size:12px;
}
/* VELOS SKIN END */

/**************************************************/

/*****************Heading for a section****************/

/* VELOS SKIN */
/*
tr#headSection TD {
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:8pt;
font-weight:bold;}

tr#tableheading TH {background-color:#FDF8DF;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:9pt;
}
*/
/**************************************************/

DIV.myLinks TR {background-color:#e1dce0;}

DIV.myLinks TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;
border:none;}

DIV.myLinks TH {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size: 12px;
background-color: #b4b4b4;}

DIV.myLinks A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:12px;}

DIV.myLinks A:hover {color:red;}

table#linktab {}

table#linktab TD {background-color:#FFFFFF;
border:none;}

;
table#linktab A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:12px;
font-style:italic;}

table#linktab A:hover {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:red;
font-size:12px;}

/*****************************************/

DIV.accLinks TR {background-color:#e1dce0;}

DIV.accLinks TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size: 12px}

DIV.accLinks TH {font-family: Verdana, Arial, Helvetica,  sans-serif;
font-size: 12px;
background-color: #b4b4b4;}

DIV.accLinks A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:12px;}

DIV.accLinks A:hover {color:red;}

/*****************************************/

DIV#myStudies A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:black;
font-size:12px;
}

DIV#myStudies A:hover {color:red;}

/* VELOS SKIN */
DIV#myStudies TH {
	background-color:#000066;
	color:white;
	font-size:12px;
}

/* VELOS SKIN 
Table.selectedTab {font-family: Verdana, Arial, Helvetica,  sans-serif;
background-color:#000066;
font-size:8pt;
font-weight:bold;}

 Nicholas: Start 
					 
/* Sammi: integrated by Nicholas */
/* VELOS SKIN 
Table.selectedTab TR {font-family: Verdana, Arial, Helvetica,  sans-serif;
background-color:#000066;
font-size:8pt;
font-weight:bold;}


/* Sammi: integrated by Nicholas */
/* VELOS SKIN 
Table.selectedTab TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
/* background-color:#000066; 
font-size:8pt;
font-weight:bold;}

/* Nicholas: End 

Table.unselectedTab {font-family: Verdana, Arial, Helvetica,  sans-serif;
background-color:#000033;
font-size:8pt;
font-weight:bold;}

/* VELOS SKIN 
Table.unselectedTab TR {font-family: Verdana, Arial, Helvetica,  sans-serif;
background-color:#000066;
font-size:8pt;
font-weight:bold;}

Table.unselectedTab TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
background-color:#e1dce0;
font-size:8pt;
font-weight:bold;}

Table.selectedTab A {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:#ffffff;
font-size:8pt ;
text-decoration:none}

Table.unselectedTab A {font-family:Verdana, Arial, Helvetica,  sans-serif;
color: #7a7a7a;
font-size:8pt ;
text-decoration:none}

Table.unselectedTab  A:hover {color:red;} */

HR.blue {color:#330099;}

P.reportHeadings {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:9pt;
font-weight:bold;}

.numberFonts {font-family: Verdana, Arial, Helvetica,  sans-serif;
font-size:12px;
font-weight:bold;}

.reportText {
	font-family:Arial, Helvetica,  sans-serif;
	font-size:12px;
	font-weight:bold;
	font-style:italic;
}

DIV .browserDefault .pgbrowsePat Table {border-style:none;}

DIV .browserDefault .pgbrowsePat A {font-family: Verdana, Arial, Helvetica,sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:12px;}

DIV .browserDefault .pgbrowsePat  A:hover {color:red;}

DIV .browserDefault .pgbrowsePat TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;
font-weight:bold;}

/* VELOS SKIN */
DIV .browserDefault .pgbrowsePat TH {background-color:#000066;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:12px;
}

/* VELOS SKIN */
TR.popupHeader TH {background-color:#000066;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:12px;
}

DIV.formWithLinks A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:12px;}

DIV.formWithLinks A:hover {color:red;}

/* VELOS SKIN */
DIV.formWithLinks TH {background-color:#000066;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:12px;
}

DIV.accLinksmgpat TABLE {
	border : solid;
}

/* VELOS SKIN */
DIV.accLinksmgpat TH {background-color:#000066;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:12px;
}

/* VELOS SKIN */
DIV.accLinksmgpat TR {background-color:#000066;}

DIV.accLinksmgpat TD {background-color:#f7f7f7;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;}

DIV.accLinksmgpat A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:12px;
font-style:italic;}

DIV.accLinksmgpat A:hover {color:red;}

DIV.myLinksmgpat TR {background-color:#CFC8FF;}

DIV.myLinksmgpat TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;
border:none;}

DIV.myLinksmgpat A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:12px;
font-style:italic;}

DIV.myLinksmgpat A:hover {color:red;}

/************ Right align Input text ***************/

INPUT.rightAlign {text-align:right;}

/**************** showing Page numbers in paginated browsers*********/

FONT.pageNumber {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:red;
font-size:12px;
font-weight:bold;}

/*****************showing Record numbers in paginated browsers**************/

FONT.recNumber {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:#cc6633;
font-size:12px;
}

/***********Dynamic Forms*************

Table.dynFormTable {border-style:none;}

Table.dynFormTable A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

Table.dynFormTable  A:hover {color:red;}

Table.dynFormTable  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

Table.dynFormTable label {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
}

Table.dynFormTable TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
}

/* VELOS SKIN *
Table.dynFormTable TH {background-color:#000066;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:9pt;
}

/*Table.dynFormTable P { font-family: arial;color:green;font-size:12; font-weight:bold; 

P.dynSection {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:9pt;
font-weight:bold;} */

/********************************/

/******************Patient Tabs Header info****************/

Table.patHeader {border-style:none;}

Table.patHeader A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:12px;}

Table.patHeader A:hover {color:red;}

Table.patHeader TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;
font-weight:bold;}

TH.headernoColor {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;}

/************ P tag for RedMessage **********/

P.redMessage {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:red;
font-size:12px;
font-weight:bold;}

/****************************************/

/************<PRE> for forms********************/

PRE.dynFormPRE {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;}

/*<body> tag for forms*/

body#forms {
overflow:inherit;
}

/*for dynamic form reports - plain look*/

tr.plainRow {background-color:#FFFFFF;
}

tr.plainRow TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;
}

TH.whiteBack {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;
font-weight:bold;
background-color:#FFFFFF ;}

/* ************************************************* APPLICATION TABS ********* */

/* Nicholas: Start */
/* Sammi: integrated by Nicholas */
/*TD.grayComments {
	color:black;
}*/

/* Nicholas: End */

DIV.tabDefTop Table {border-style: none;  background-color:#f7f7f7;}

DIV.tabDefTop TH {background-color:#CFC8FF;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;}

DIV.tabDefTop TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;}

DIV.tabDefTop  A:hover {color:red;}

DIV.tabDefTop  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabDefBot Table {border-style:none;  border-collapse: collapse; background-color:#f7f7f7;}

DIV.tabDefBot A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:12px;
}

DIV.tabDefBot  A:hover {color:red;}

DIV.tabDefBot  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabDefBot TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;}

/* VELOS SKIN */
DIV.tabDefBot TH {background-color:#000066;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:12px;}

DIV.tabFormTop A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:12px;}

DIV.tabFormTop Table {border-style: none;}

DIV.tabFormTop TH {background-color:#CFC8FF;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;}

DIV.tabFormTop  A:hover {color:red;}

DIV.tabFormTop TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;}

DIV.tabFormTop  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabFormBot Table {border-style:none;  border-collapse: collapse;}

DIV.tabFormBot A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:12px;}

DIV.tabFormBot  A:hover {color:red;}

DIV.tabFormBot  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:12px;}

DIV.tabFormBot TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;}

/* VELOS SKIN */
DIV.tabFormBot TH {background-color:#000066;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:12px;}

/************ Reports (new) **********/

TD.reportPanel {font-family: Verdana, Arial, Helvetica,  sans-serif;
color: black;
font-size:8pt;}

/* TD.reportName {
	font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:9pt;
font-weight:bold;} */

TD.reportHeading {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:9pt;
font-weight:bold;}

/* Nicholas: Start */
/* Sammi: integrated by Nicholas */
/* VELOS SKIN */
/* TH.reportHeading {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:#FFFFFF;
font-size:9pt;
font-weight:bold;
}*/

/* Nicholas: End */

TD.reportSubHeading {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;
font-weight:bold;}

TD.reportLabel {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;
font-weight:bold;}
/*
TD.reportGrouping {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:9pt;
font-weight:bold;}*/

/* TD.reportData {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;} */

TD.reportFooter {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:12px;
font-weight:normal;}

/* TH.reportClrHead {
	font-family: Verdana, Arial, Helvetica,  sans-serif;
color:#FFFFFF;
font-size:9pt;
font-weight:bold;
background-color:#009933 ;} */

TH.reportLightClrHead {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:#FFFFFF;
font-size:12px;
font-weight:normal;
background-color:#999999 ;}

TH.reportLightClrHead2 {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:#FFFFFF;
font-size:12px;
font-weight:bold;
background-color:#999999 ;}

/* VELOS SKIN START */
/*
TR.reportEvenRow {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
background-color:#f7f7f7;
}

TR.reportOddRow {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
background-color:#d7d7d7;
} */
/* VELOS SKIN END */

TR.reportGreyRow {background-color:#d1d1d1;
}

TR.reportWhiteRow {background-color:white;
}

/* Table Body (Scrollable Content) formatting */
.bodyFormat tr {
 font-family: Verdana, Arial, Helvetica,  sans-serif;
 color:black;
 font-size:12px;
}

/*variable width fixed header table END*/

HR.thickLine {
	height:3px;
}

HR.thinLine {height:1px;color:gray;}

table.reportborder {
border-width: 2px 2px 2px 2px;
border-style: groove groove groove groove;
border-color: #ccccff #ccccff #ccccff #ccccff;}

/*
TR.reportGraphRow {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
background-color:#cccccc;
} */

TR.reportGraphBar {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:12px;
background-color:#990000;
}

/*TD.reportGraphRow {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:7pt;
font-weight:normal;}*/

/*****************************************/

div.clSlideMenu{ /* All slideMenu2 DIV elements */
	position:absolute;
	font-family:verdana,arial,helvetica;
	font-size:10px;
	overflow:hidden;
	width:150;
	height:22;
}
a.clA0{ /* All top level links */
	color:#ffffff;
	font-size:10px;
	text-decoration:none;
	font-weight:bold;
}
 
A:hover {color: red; }

a.clA1{ /* All sub level links */
	color:black;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
}
a.clA2{ /* All sub2 level links */
	color:navy;
	text-decoration:none;
}
a.clA3{ /* All sub3 level links */
	color:black;
	text-decoration:none;
}
a.clA4{ /* All sub4 level links */
	color:green;
	text-decoration:none;
}

/* NEEDED STYLES */
div.slideMenuBG{position:absolute; left:0; top:0; z-index:1}
div.slideMenuText{position:absolute; left:6; top:2; z-index:200;}
/* NEEDED ----- This class should be named like this:
	#NAME_OF_YOUR_MENUcont
*/
#slideMenucont{position:absolute;	height:500; width:200; visibility:hidden;}

 
 
 /******************* Common for all the skins across the resolution  (it was inline styles brough from jsp pages 31-01-2012 ***/
 .th_fontStyle {color:white;font-size:12px;}
 
TR.reportOrangeRow {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
background-color:#FFFF99;
}
.showmsgLayer 
 { 
  display:none; 
  position:absolute; 
  top:0px; 
  left:0px; 
  opacity:0.6; 
  filter:alpha(opacity=60); 
  background-color: #000000; 
  z-Index:1000; 
 } 

.hidemsgLayer 
 { 
  position:absolute; 
  top:0px; 
  left:0px; 
  width:330px; 
  height:100px; 
  display:none; 
  z-Index:1001; 
  border:2px solid black; 
  background-color:#FFFFFF; 
  text-align:center; 
  vertical-align:middle; 
  padding:10px; 
 }

