#hd {
    background: #f5f5f5; /* old browsers */
    background: -moz-linear-gradient(top, #dcdbd9 0%, #F6F5F3 100%); /* firefox was...(top, #ddd 0%, #f8f8f8 100%)*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dcdbd9), color-stop(100%,#F6F5F3)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdbd9', endColorstr='#F6F5F3',GradientType=0 ); /* ie */

    border-bottom: 1px solid #dfdfdf;
    *zoom: 1;
    padding: 1em;
}
#hd h1 {
    font-size: 116%;
    font-weight: bold;
    color: #000;
}
#ft {
    font-size: 85%;
    font-style: italic;
}
#play {
    margin-top: .75em;
    zoom: 1;
}
#play:after { display: block; clear: both; visibility: hidden; content: '.'; height: 0;}

.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #FFFFFF;
	position: relative; 
}

* html .ui-autocomplete {
	height: 100px;
}

#feeds {
    min-height: 500px;
    *height: 500px;
    padding: .5em;
    position: relative;

    background: #F9F9FC;/*E6E9F5*/
    border: 1px solid #D4D8EB;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    font-family: 'Arial', 'Helvetica', sans-serif;
    margin: 0.5em 0;
    padding-bottom: 1px;

}

#feeds ul li {
    background-image: url(http://l.yimg.com/a/i/tb/iconsgif/rss_1.gif);
    background-repeat: no-repeat;
    padding-left: 25px;
    margin: 3px;
    cursor: move;
    zoom: 1;
    min-height:18px;
    height: auto;
}

#feeds ul li.gadgetFinancial {
    background-image: url(../../images/jpg/financialGadget.gif);
}

#feeds ul li.gadgetQuickAccess {
    background-image: url(../../images/jpg/action_small.gif);
}

#feeds ul li.gadgetPatSchedules {
    background-image: url(../../images/jpg/Schedule.gif);
}

#feeds ul li.gadgetMyStudies {
    background-image: url(../../images/jpg/study1.gif);
    background-size: 16px 16px;
}

#feeds ul li.gdt-glist-disabled {
    opacity: .5;
    filter: alpha(opacity=50);
    cursor: default;
}

ul.list {
    border: 1px dashed #ccc;
    margin: .5em;
    width: 41%; /* 325px; */
    float: left;
    min-height: 500px;
    *height: 500px;
    zoom: 1;
}
input.gdt-input-text[type="text"] {
	border-radius: 4px 4px 4px 4px;
}
input.gdt-input-password[type="password"] {
	border-radius: 4px 4px 4px 4px;
}
select.gdt-placeholder-select-study {
	border-radius: 4px 4px 4px 4px;
}
/*
.yui3-dd-proxy {
    text-align: left;
    padding-left: 20px;
    padding: 5px;
    margin: 2px;
}

.yui3-dd-proxy li {
    padding-left: 20px;
    padding: 5px;
    margin: 2px;
}
*/
li.moving {
    background: #F9F9FC;/*E6E9F5*/
    border: 1px solid #D4D8EB;
}

div.mod {
    position: relative;
    zoom: 1;

    background: #F9F9FC;/*E6E9F5*/
    border: 1px solid #B3B8CB;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    font-family: 'Arial', 'Helvetica', sans-serif;
    margin: 4px 0;
    padding-bottom: 1px;



}
div.mod div.inner {
    overflow: hidden;
    zoom: 1;
}
div.mod div.inner div.loading {
    background-image: url(progress.gif);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding: 5px 5px 5px 25px;

}

#list0 {
	width: 12%;
}
div.mod div.inner ul li a {
    color: #000;
}
div.mod h2 {
    position: relative;
    zoom: 1;
    cursor: move;
    zoom: 1;

    background: #E5E6F1;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #5E6BA4;
    font-weight: bold;
    font-size: 107.692%;
    margin: 0;
    padding: 4px 7px 5px;


}

div.mod h2 {
    font-weight: bold;
    background-image: url(http://l.yimg.com/a/i/tb/iconsgif/rss_1.gif);
    background-repeat: no-repeat;
    padding-left: 30px;
}

div.mod h2.gadgetFinancial {
    background-image: url(../../images/jpg/financialGadget.gif);
}

div.mod h2.gadgetPatSchedules {
    background-image: url(../../images/jpg/Schedule.gif);
}

div.mod h2.gadgetQuickAccess {
    background-image: url(../../images/jpg/action_small.gif);
}

div.mod h2.gadgetMyStudies {
    background-image: url(../../images/jpg/study1.gif);
}

div.minned h2 {
    border-bottom: 1px solid #ccc;
}

div.maxed h2 {
    border-bottom: 1px solid #ccc;
}

FONT.Mandatory {
	font-family: Arial, Helvetica, sans-serif;
	color: red;
}

div.mod h2 a.close, div.mod h2 a.min, div.mod h2 a.max, div.mod h2 a.setting, div.mod h2 a.help {
    background-color: #F9F9FC;
    border:1px solid #E5E6F1;
    color: #5E6BA4;
    text-align: center;
    display: block;
    height: 16px;
    width: 16px;
    text-decoration: none;
    font-weight: bold;
    right: 4px;
    top: 1px;
    position: absolute;
    font-size: 80%;
    margin: 2px;
    padding: 0;
}
div.mod h2 a.max {
    right: 25px;
}
div.maxed h2 a.max {
    right: 25px;
}
div.mod h2 a.min {
    right: 45px;
}
div.minned h2 a.min {
    right: 45px;
}
div.mod h2 a.help {
    right: 65px;
}
div.mod h2 a.setting {
    right: 85px;
}
div.mod h2 a:hover.close, div.mod h2 a:hover.min {
    border-color: #D4D8EB;
}

/* Below is from reset-fonts-grids.css */

#doc,#doc2,#doc3,#doc4,.yui-t1,.yui-t2,.yui-t3,.yui-t4,.yui-t5,.yui-t6,.yui-t7
	{
	margin: auto;
	text-align: left;
	width: 57.69em;
	*width: 56.25em;
}

#doc2 {
	width: 73.076em;
	*width: 71.25em;
}

#doc3 {
	margin: auto 10px;
	width: auto;
}

#doc4 {
	width: 74.923em;
	*width: 73.05em;
}

div.yui-g div.play {
	margin-top: 0em;
}

.yui-b {
	position: relative;
}

.yui-b {
	_position: static;
}

#yui-main .yui-b {
	position: static;
}

#yui-main,.yui-g .yui-u .yui-g {
	width: 100%;
}

.yui-t1 #yui-main,.yui-t2 #yui-main,.yui-t3 #yui-main {
	float: right;
	margin-left: -25em;
}

.yui-t4 #yui-main,.yui-t5 #yui-main,.yui-t6 #yui-main {
	float: left;
	margin-right: -25em;
}

.yui-t1 .yui-b {
	float: left;
	width: 12.30769em;
	*width: 12.00em;
}

.yui-t1 #yui-main .yui-b {
	margin-left: 13.30769em;
	*margin-left: 13.05em;
}

.yui-t2 .yui-b {
	float: left;
	width: 13.8461em;
	*width: 13.50em;
}

.yui-t2 #yui-main .yui-b {
	margin-left: 14.8461em;
	*margin-left: 14.55em;
}

.yui-t3 .yui-b {
	float: left;
	width: 23.0769em;
	*width: 22.50em;
}

.yui-t3 #yui-main .yui-b {
	margin-left: 24.0769em;
	*margin-left: 23.62em;
}

.yui-t4 .yui-b {
	float: right;
	width: 13.8456em;
	*width: 13.50em;
}

.yui-t4 #yui-main .yui-b {
	margin-right: 14.8456em;
	*margin-right: 14.55em;
}

.yui-t5 .yui-b {
	float: right;
	width: 18.4615em;
	*width: 18.00em;
}

.yui-t5 #yui-main .yui-b {
	margin-right: 19.4615em;
	*margin-right: 19.125em;
}

.yui-t6 .yui-b {
	float: right;
	width: 23.0769em;
	*width: 22.50em;
}

.yui-t6 #yui-main .yui-b {
	margin-right: 24.0769em;
	*margin-right: 23.62em;
}

.yui-t7 #yui-main .yui-b {
	display: block;
	margin: 0 0 1em 0;
}

#yui-main .yui-b {
	float: none;
	width: auto;
}

.yui-gb .yui-u,.yui-g .yui-gb .yui-u,.yui-gb .yui-g,.yui-gb .yui-gb,.yui-gb .yui-gc,.yui-gb .yui-gd,.yui-gb .yui-ge,.yui-gb .yui-gf,.yui-gc .yui-u,.yui-gc .yui-g,.yui-gd .yui-u
	{
	float: left;
}

.yui-g .yui-u,.yui-g .yui-g,.yui-g .yui-gb,.yui-g .yui-gc,.yui-g .yui-gd,.yui-g .yui-ge,.yui-g .yui-gf,.yui-gc .yui-u,.yui-gd .yui-g,.yui-g .yui-gc .yui-u,.yui-ge .yui-u,.yui-ge .yui-g,.yui-gf .yui-g,.yui-gf .yui-u
	{
	float: right;
}

.yui-g div.first,.yui-gb div.first,.yui-gc div.first,.yui-gd div.first,.yui-ge div.first,.yui-gf div.first,.yui-g .yui-gc div.first,.yui-g .yui-ge div.first,.yui-gc div.first div.first
	{
	float: left;
}

.yui-g .yui-u,.yui-g .yui-g,.yui-g .yui-gb,.yui-g .yui-gc,.yui-g .yui-gd,.yui-g .yui-ge,.yui-g .yui-gf
	{
	width: 49.1%;
}

.yui-gb .yui-u,.yui-g .yui-gb .yui-u,.yui-gb .yui-g,.yui-gb .yui-gb,.yui-gb .yui-gc,.yui-gb .yui-gd,.yui-gb .yui-ge,.yui-gb .yui-gf,.yui-gc .yui-u,.yui-gc .yui-g,.yui-gd .yui-u
	{
	width: 32%;
	margin-left: 1.99%;
}

.yui-gb .yui-u {
	*margin-left: 1.9%;
	*width: 31.9%;
}

.yui-gc div.first,.yui-gd .yui-u {
	width: 66%;
}

.yui-gd div.first {
	width: 32%;
}

.yui-ge div.first,.yui-gf .yui-u {
	width: 74.2%;
}

.yui-ge .yui-u,.yui-gf div.first {
	width: 24%;
}

.yui-g .yui-gb div.first,.yui-gb div.first,.yui-gc div.first,.yui-gd div.first
	{
	margin-left: 0;
}

.yui-g .yui-g .yui-u,.yui-gb .yui-g .yui-u,.yui-gc .yui-g .yui-u,.yui-gd .yui-g .yui-u,.yui-ge .yui-g .yui-u,.yui-gf .yui-g .yui-u
	{
	width: 49%;
	*width: 48.1%;
	*margin-left: 0;
}

.yui-g .yui-g .yui-u {
	width: 48.1%;
}

.yui-g .yui-gb div.first,.yui-gb .yui-gb div.first {
	*margin-right: 0;
	*width: 32%;
	_width: 31.7%;
}

.yui-g .yui-gc div.first,.yui-gd .yui-g {
	width: 66%;
}

.yui-gb .yui-g div.first {
	*margin-right: 4%;
	_margin-right: 1.3%;
}

.yui-gb .yui-gc div.first,.yui-gb .yui-gd div.first {
	*margin-right: 0;
}

.yui-gb .yui-gb .yui-u,.yui-gb .yui-gc .yui-u {
	*margin-left: 1.8%;
	_margin-left: 4%;
}

.yui-g .yui-gb .yui-u {
	_margin-left: 1.0%;
}

.yui-gb .yui-gd .yui-u {
	*width: 66%;
	_width: 61.2%;
}

.yui-gb .yui-gd div.first {
	*width: 31%;
	_width: 29.5%;
}

.yui-g .yui-gc .yui-u,.yui-gb .yui-gc .yui-u {
	width: 32%;
	_float: right;
	margin-right: 0;
	_margin-left: 0;
}

.yui-gb .yui-gc div.first {
	width: 66%;
	*float: left;
	*margin-left: 0;
}

.yui-gb .yui-ge .yui-u,.yui-gb .yui-gf .yui-u {
	margin: 0;
}

.yui-gb .yui-gb .yui-u {
	_margin-left: .7%;
}

.yui-gb .yui-g div.first,.yui-gb .yui-gb div.first {
	*margin-left: 0;
}

.yui-gc .yui-g .yui-u,.yui-gd .yui-g .yui-u {
	*width: 48.1%;
	*margin-left: 0;
}

.yui-gb .yui-gd div.first {
	width: 32%;
}

.yui-g .yui-gd div.first {
	_width: 29.9%;
}

.yui-ge .yui-g {
	width: 24%;
}

.yui-gf .yui-g {
	width: 74.2%;
}

.yui-gb .yui-ge div.yui-u,.yui-gb .yui-gf div.yui-u {
	float: right;
}

.yui-gb .yui-ge div.first,.yui-gb .yui-gf div.first {
	float: left;
}

.yui-gb .yui-ge .yui-u,.yui-gb .yui-gf div.first {
	*width: 24%;
	_width: 20%;
}

.yui-gb .yui-ge div.first,.yui-gb .yui-gf .yui-u {
	*width: 73.5%;
	_width: 65.5%;
}

.yui-ge div.first .yui-gd .yui-u {
	width: 65%;
}

.yui-ge div.first .yui-gd div.first {
	width: 32%;
}

#hd:after,#bd:after,#ft:after,.yui-g:after,.yui-gb:after,.yui-gc:after,.yui-gd:after,.yui-ge:after,.yui-gf:after
	{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#hd,#bd,#ft,.yui-g,.yui-gb,.yui-gc,.yui-gd,.yui-ge,.yui-gf {
	zoom: 1;
}

ul.errMsg li {
    color:red;
    list-style-type:none;
    text-align:left; 
}

#tooltip .yui3-widget-bd{
        text-align: left;
        max-width: 15em;
        *width: 10em;
        background-color: #FFF6D5;
        border: solid 1px #aa8;
        padding: 0.2em 0.5em 0.3em;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
        -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    }


.yui3-placeholder-text {
    color:gray;
}
.yui3-panel {
    outline: none;
}
.yui3-panel-content .yui3-widget-hd {
    font-weight: bold;
}
.yui3-panel-content .yui3-widget-bd {
    padding: 15px;
}
.yui3-panel-content label {
    margin-right: 30px;
}
.yui3-panel-content fieldset {
    border: none;
    padding: 0;
}
.yui3-panel-content input[type="text"] {
    border: none;
    border: 1px solid #ccc;
    padding: 3px 7px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 100%;
    width: 200px;
}

div.ui-widget-content {
	font-size:9pt;
}

div.ui-tabs div.ui-tabs-panel {
	padding:2px;	
}

div.velos-yui-dt-container {
	overflow:auto;
	minWidth:80em;
	width:98%;
}

div.yui3-datatable {
	overflow:auto;
	width:97%;
}

div.yui3-datatable-content div.yui-dt {
	overflow:visible;
}

div.yui3-skin-sam div.yui3-datatable-header {
	vertical-align:top;
}

div.ui-gadget {
	font-family: Arial, Helvetica, sans-serif;
}
.gdt-table {
	border:#aaaaaa 1px solid;
	border-radius: 4px;
}
.ui-autocomplete{
	background-color:  #FFFFFF;
}
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }