#fedora-content li p {
	margin: 0.2em;
}

#fedora-content div.table table {
	width: 95%;
	background-color: #DCDCDC; 
	color: #000000;
	border-spacing: 0;
}

#fedora-content div.table table th {
	border: 1px solid #A9A9A9;	
	background-color: #A9A9A9;
	color: #000000;
}

#fedora-content div.table table td {
	border: 1px solid #A9A9A9; 
	background-color: #DCDCDC;
	color: #000000;
	padding: 0.5em;
	margin-bottom: 0.5em;
	margin-top: 2px; 

}

div.note table, div.tip table, div.important table, div.caution table, div.warning table {
	width: 95%;
	border: 2px solid #B0C4DE;
	background-color: #F0F8FF;
	color: #000000;
	/* padding inside table area */
	padding: 0.5em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

/* "Just the FAQs, ma'm." */
.qandaset table {
	border-collapse: collapse;
}
.qandaset {
}
.qandaset tr.question {
}
.qandaset tr.question td {
	font-weight: bold;
	padding: 0 0.5em;
	margin: 0;
}
.qandaset tr.answer td {
	padding: 0 0.5em 1.5em;
	margin: 0;
}
.qandaset tr.question td, .qandaset tr.answer td {
	vertical-align: top;
}
.qandaset strong {
	text-align: right;
}

.article .table table {
	border: 0;
	margin: 0 auto;
	border-collapse: collapse;
}
.article .table table th {
	padding: 5px;
	text-align: center;
}

div.example {
        padding: 10px;
        border: 1px solid #bbb;
        margin: 0.5em 2em;
}

div.navigate {
	font-weight: bold;
	background-color: #F0F8FF;
	color: #000000;
}

tr.even {
	background-color: #B0C4DE;
	color: #000000;
}

th {
	background-color: #5C7099;
	color: #FFFFFF;
}