/* CSS Document */
/*Cibmtr Forms Style Start*/
/* .titlediv{
	position: relative;
	z-index: 100;
	background: #f7f7f7;
	border: 1px solid #d2d2d2;
	padding:10px 0 0 10px;
	-moz-border-radius:5px;
	height:40px;
}
.commonlayout{
	height: 10px;
	width: 96%;
	position: absolute;
} */

.checkboxrequired{
margin-top:-2px;
opacity:0.87;
top:227px;
width:100%;
color:red;
}
.tabs { margin:0; padding:0; list-style:none; overflow:hidden; }
        .tabs li { float:left; display:block; padding:5px; background-color:#bbb; margin-right:5px;}
        .tabs li a { color:#fff; text-decoration:none; }
        .tabs li.current { background-color:#e1e1e1;}
        .tabs li.current a { color:#000; text-decoration:none; }
        .tabs li a.remove { color:#f00; margin-left:10px;}
        .content { background-color:#FFFFFF;}
        .content p { margin: 0; padding:20px 20px 100px 20px;}
        
      
.ctlQuestionAlign{
padding:0 0 0 5%;
width:36%;
}        
#donorScnIm{
    background: none repeat scroll 0 0 #F0F0F0;
    border: 1px solid;
    color: #353635;
    margin-left: 8px;
    padding: 0 2px 2px 1px;
}
.idmReactive{
background-color:red;
}
.idmPending{
background-color:#FFFF00;
}
.errorBorder{
	border:1px solid red !important;
	}
.formErrorConten{
color:red;
}
.buttonActive{
background:	#70B8FF;
border-radius:10px;
}
.lihighlight{
	
	background-color:#eeeeee;
}
.commondivright{
            float:right;
            margin:0%;
            /* min-height:100px; */
            padding:0%;
            width:50%;
            height:100px;
   
 }

.tableOverflowDiv{
overflow-x:auto;
overflow-y:hidden;
}
.mandatory{
 /* background: -moz-linear-gradient(center top , #FFFFFF, #CECECE 50%, #CECECE 75%, #FFFFFF) repeat scroll 0 0 transparent; */
    //border: 1px solid #B2B2B2;
    //border-radius:3px;
    color:#3333;
    cursor: pointer;
    margin-bottom: 2px;
    padding: 1px 2px 0;
    width:5%;
    font-size:1.2em;
    color:red;
  //  margin-left:-5px;;
}
.subspan{
 /* background: -moz-linear-gradient(center top , #FFFFFF, #CECECE 50%, #CECECE 75%, #FFFFFF) repeat scroll 0 0 transparent; */
    border: 1px solid #B2B2B2;
    border-radius:3px;
    color:#3333;
    cursor: pointer;
    margin-bottom: 2px;
    padding: 1px 2px 0;
    width:5%;
    font-size:1.2em;
    color:red;
  //  margin-left:-5px;;
}
.datebox
{
	float: right;
	/*background-color: #2c7ad0;
	border: 1px solid #000000;
	color: #ffffff;*/
	position: relative;
	/*margin: 20px 0 0 20px;*/
}
	.datebox .day
	{
		display: block;
		text-align: center;
		font-size: 10px;
		/*line-height:18px;
		
		font-weight: bold;
		padding: 2px 24px 2px 0;*/
		padding: 1px 19px 0px 52px;
	}
	.datebox .rotate
	{
		display: block;
		writing-mode: tb-rl;
		-webkit-transform: rotate(90deg);	
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		position: absolute;
		right: 0;
		bottom: 0px;
		font-size: 9px;
		padding-top:4px;
	}

	.mainfielddivs{
	height:27em;
	/* height:auto; */
	width:100%;
	background-color:white;
	overflow-y:auto;
	overflow-x:hidden;
	}
 .secondarydivclass{
 background-color:white !important;
 display:none;
 margin-top:2%;
 }




.titleText{
font-weight:bold;
font-size:1.4em;
margin-left:1%;
margin-top:-3%;
}
.formContainer{
max-height: 580px;
min-height:500px;
}
#pagination{
text-align:center;
overflow:auto;
}
#pagination a{
margin-right:0.1em;
font-size:1em;
text-decoration :none;
}
.visible{
 display:block;
}
.link{
padding:1%;
color:#333333;
font-weight:bold;
}
.link:hover {
color:#FF00FF;
}  
a.link.visited{
color:blue !important;
}	
.hideTr{
display:none;
}
.paginationprev{
float:right;
}
.subQuestion{
border:1px solid blue;
border-radius:5px;
padding:3px 14px 0px 11px;
width:75%;
}
.title{
	font-weight:bold;
	font-size:1.2em;
}
.divlength{
margin-left:2%;
}
#formContent{
max-height:450px;
overflow:auto;
}
/*Cibmtr Forms Style end*/
  .titlediv{
					
						margin:0%;
						width:99.5%; 
						height:95px;
						background:#f0f0f0;
						margin-top:-0.7%;
						position: relative;
						/* z-index:1000;  */
		} 
	.divwrapper {
				/* border:1px solid black; */
				/* float:left; */
				margin:0%;
				min-height:100px;
				padding:1%; 
				width:97.5%;
				height:530px;
	}
	.commondivleft{
			float:left;
			margin:0%;
			/* min-height:100px; */
			padding:0%;
			width:50%;
			height:100px;
	
	}
	.leftdiv{
	    	/* border:1px solid black; */
			float:left;
			margin:1%;
			min-height:15em; 
			padding:1%;
			width:16%;
			height:auto;
			background-color:#ffffff;
		
		}
		.rightdiv{
					/* border:1px solid black; */
					float:left;
					margin:1%;
					 min-height:100px; 
					padding:1%;
					width:70%;
					height:auto;
					background-color:white;
		
		}
			.cursoroption{
				cursor:pointer;
			
			}
		 .upperdiv{
					  border:1px solid black; 
						float:left;
						right:0;
						margin:1%;
						min-height:60px; 
						padding:1%;
						width:94%;
						height:70px;
						background-color:#EEEEEE;
						border-radius:3px;
		} 
.finalvalue{
	/* height:20px; */
	margin-bottom:2%;
	padding:4% 1% 1% 1%;
	width:100%;
	}
.tablewapper
{
	  padding:0% 0% 0% 5% ;   
	/* text-align:center; */
	width:23%;
	height:40px;
	word-wrap: break-word;
	
}
.tablewapper1{
	height:40px;
	width:19%;
	padding:0% 1% 0% 1% ; 
	margin-left:4%;
	
	}
.questionsAlign{ 
	padding : 0% 0% 0% 8%;
	width 	: 33%;
	
	}
.addContentTable{
	width:96%;
	height:70%;
	background-color:White;
	border-radius:10px;
	padding:1%;
	}

/* for Apheresis */ 
.ulstyle{
list-style: none;
padding:11%;
/* margin:0%; */
}
.divborder
{
/* border:1px solid silver;  */
border-radius:9px;
-moz-border-radius:9px; /* Firefox 3.6 and earlier */
width:110%;

} 
.listyle
{
/* margin-top:1em; */
line-height:30px;
text-align:center;
}
.floatright_left{
float:left;
/* margin:10px; */
position:relative;
/* padding:5px; */
width:87%;


}
.floatright_right{
float:right;
margin:2%;
/* padding:5px; */ 
width:9%;
position:relative;

}
/* end of  Apheresis */ 
body {
	margin: 0;
	padding:0;
	
	min-width:70%;
}
#barimageTables{
	background: url(../images/barcode.png) no-repeat;
}
#center {
	margin: 0 auto; 
	position: relative; 
	width: 1000px;
}

#header_wrapper {
	width:100%;
	margin:0 auto;
	padding-bottom:10px;
}

#header_inner {
	width:100%;
	margin:0 auto;
}

#content_wrapper {
	width:100%;
	margin:4% auto
}

#content_inner {
	width:98%;
	margin:0px 0px 0px 0px;
}

#footer_wrapper{
	width:100%;
	margin:0 auto;
	background:#ffffff;
}

#footer_inner{
	width:98%;
	margin:0 auto;
}

#doc {
	text-decoration: none; 
}

#add {
	text-decoration: none; 
}

#iti {
	text-decoration: none; 
}

#accession_page {
	width: 600px; 
	border: 2px solid grey;
	border-radius: 10px;
}

#helix {
	float:left;
	height: 12em;
	margin: 50px 0px 0px 157px ; 
	position:absolute;
}

#emp {
	float:right;
	height:5em;
	margin: 328px 192px 192px 104px; 
	position:absolute;
}

.cleaner { clear: both; width: 100%; height: 0px; }

#logo_bar_wrapper {		
	width:58%;
	height:91px;	
	margin:0 220px;
}

#login_box {
	width:100%;
	margin:auto;
}

.logo_Velos {
	float:left;
}

.logo_anderson {
	float:right;
}

#login_bar_wrapper {
	width:374px;
	text-align:center;
	padding:25px 0px 28px 485px;
	margin:0 auto;
}

#modal_bar_wrapper {
	width:592px;
	text-align:center;
	padding:10px 0px 0px 50px;
	margin:0 auto;
}

/*.login_middle_bg {
	padding:0px;
	background: url(../images/others/login_middle_bg.jpg) repeat-y;
	width:483px;
	height:270px;
}

.login_top_bg {
	background:url(../images/others/login_top_bg.jpg) no-repeat;
	height:27px;
	width:483px;
}

.login_bottom_bg {
	background:url(../images/others/login_bottom_bg.jpg) no-repeat;
	height:29px;
	width:483px;
}*/

.username {
	padding:46px 0px 5px 130px;
}

.password {
	padding:10px 0px 5px 130px;	
}

.form_text {
	padding:11px 5px 5px 5px;
	text-align:right;	
}

.signin {
	padding:15px 1px 0px 240px;	
}

.forget {
	padding:10px 0px 0px 214px;	
	color:#A78D84;
}

.version {
	padding:10px 0px 0px 224px;	
	color:#A78D84;
}

.copyright {
	/* padding:158px 0px 0px 65px;	 */
	text-align:center;
	/*float:left;*/
	width:auto;
}

.disclaimer {
	/*float:right;*/	
	width:100%;
	text-align:justify;
}

#footer {
	/*clear:both;
	width:98%;
	bottom:0px;
	position:fixed;
	margin:0 auto;
	border-top:1px solid #838364;
	height:55px;	*/
}

#footer_box {
	width:100%;	
	bottom:0px;
	position:fixed;
	margin:0 auto;
	overflow:auto;	
}

.velos_logo {
	padding:5px 0px 0px 0px;
	float:right;
	width:75px;
}

#navigation_wrapper {
	/* padding:15px 0px 0px 0px; */
	width:100%;
	min-width: 1000px; 
	text-align:center;
	height:40px;
	background-color:#FFFFFF;
}

.date_text {
	float:left;	
	text-align:left;
	padding:5px 0px 10px 8px;	
}

.title_txt {
	float:left;
	text-align:center;
	padding:14px 0px 0px 5px;
	width: 39%;
}

.menu_welcome {
	padding:1% 4% 0% 8%;
	float:right;
	right:0;
	/* width:auto; */
	/* width:35%; */
	text-align:center;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;	
}

.menu_welcome a {
	padding:0px 0px 10px 10px;	
	text-decoration:none;
}

.menu_welcome a:hover {	
	text-decoration:underline;
	color:#FDBC80;
}

#table_bar_wrapper {
	margin:0 auto;
	padding:0px 0px 0px 0px;
	width:100%;
	height:auto;
}

.menu_table {
	padding:20px 10px 0px 7px;	
	float:left;
	width:75%;	
	height:39px;
}

.menu_table a {
	padding:10px 10px 0px 5px;	
	text-decoration:none;	
	width:700px;	
	height:39px;
}

.menu_table a:hover {
	text-decoration:underline;
	width:700px;
	height:39px;
}

.menu_table a:active {
	padding:0px 0px 0px 0px;
	text-decoration:none;
	background-color:#8db1e2;
}


.menu_search {
	float:right;
	padding:20px 0px 0px 0px;
	width:191px;
}

.search {		
	padding:0px 5px 0px 5px;
	height:28px;
	width:141px;
	-moz-border-radius: 4px 4px 4px 4px;
}

#menu_wrapper {
	margin:0 auto;
	padding:0px 0px 0px 0px;
	width:100%;
	height:45px;
	/*background:url("../images/nav_bg.jpg") repeat-x scroll 0 0 transparent;*/
}

#menu_wrapper_box {
	width:960px;
	height:45px;
	margin:0 auto;
}

#text_wrapper {
	margin:0 auto;	
	width: 100%;
	padding:5px 0px 0px 0px;
}

#table_wrapper_1 {
	width:100%;
}

.text_1 {
	float:left;	
	padding:20px 0px 10px 0px;
	margin:0px 0px 0px 35px;
}

.text_inner {
	float:left;
	padding:20px 0px 0px 0px;
	margin:0px 0px 0px 35px;
}

.img_1 {
	float:right;
	padding:0px 5px 0px 0px;
}

#table_inner_wrapper {
	margin:0 auto;
	width:98%;
}

.table_inner_wrapper {
	margin:0 auto;
	width:98%;
}

.next_btn {
	padding:5px 62px 5px 0px;
}

#button_wrapper {
	margin:0 auto;
	height:auto;
	background-color:#E6E6E6;	
	
}


.button_left_bg {
	padding:0px;
	background:url(../images/left_button.jpg) no-repeat;
	width:16px;
	height:66px;
}

.button_center_bg {
	background:url(../images/center_button.jpg) repeat-y;
	height:66px;	
}

.button_right_bg {
	background:url(../images/right_button.jpg) no-repeat;
	height:66px;
	width:16px;
}

#left_table_wrapper {
	width:50%;
	float:left;
	padding:5px 0px 5px 10px;
}

#right_table_wrapper {
	width:48%;
	float:left;	
	padding:5px 5px 5px 0px;
}

/*#middle_line {
	height:80px;
	width:8%;
	float:left;
	padding:50px 0px 0px 0px;
}*/

.left_bar {
	width:400px;
	padding:0px 0px 0px 0px;
	text-align:center;
}

.right_bar {
	width:400px;
	padding:0px 0px 0px 0px;
	text-align:center;
}

.input_date{
	background:url(../images/calendar.jpg) no-repeat;
	width:101px;
	height:25px;
	padding:0px 0px 19px 0px;
}
#barimageTables{
 	/* background:url('../images/icons/barcode.png') no-repeat;  */
	
	}



.input_date p{
	padding:0px 0px 0px 12px;	
}

.input_date img{
	padding:0px 0px 0px 10px;
}

.time_input {
	/*background:url(../images/button3.jpg) no-repeat;*/
	width:85px;
	height:20px;
	border:none;
	padding:3px 0px 0px 5px;
	-moz-border-radius: 4px 4px 4px 4px;
}

.date_input {
	width:205px;
	height:20px;
	border:none;
	padding:3px 0px 0px 5px;
	-moz-border-radius: 4px 4px 4px 4px;	
}

.input_date_txt {
	padding:0px 3px 5px 12px;	
}

.sel_loc {
	width:190px;	
	color: grey; 
}

.sel_prd {
	width:208px;	
	color: grey; 
}

.sel_loc1 {
	width:208px;	
	color: grey; 
}

.sel_process {
	width:190px;	
	color: grey; 
}

.sel_time {
	width:93px;	
	color: grey; 
}

.sel_proposal {
	width:208px;	
	color: grey; 
}

#table_container_input {
	width:94%;
	display: table;	
	margin:0 auto;
}

.table_row_input1 {
	display: table-row;
	width:94%;	
	line-height:25px;
	text-align:left;
}

.table_row_input2 {
	display: table-row;
	width:94%;	
	line-height:18px;
	text-align:left;
}

.table_row_input3 {
	display: table-row;
	width:94%;	
	line-height:17px;
	text-align:left;
}

.table_row_input4 {
	display: table-row;
	width:94%;	
	line-height:23px;
	text-align:left;
}

.table_row_input5 {
	display: table-row;
	width:94%;	
	line-height:23px;
	text-align:left;
}

.table_cell_input2 {
	display:table-cell;
	width:50%;
	margin:5px;	
	margin-left: 15px; 
	text-align:left;
	vertical-align:middle;	
}

.table_cell_input1 {
	display:table-cell;
	width:44%;
	margin:5px;
	margin-left: 15px;
	text-align:left;
	vertical-align:middle;	
	padding:0px 0px 13px 34px;
}


/*****************************************************************************************/
/*login css*/
/*****************************************************************************************/

form fieldset {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	padding:10px;
	width:300px;	
	width:500px;	
}

form fieldset legend {	
	padding:0 5px;	
}
	
form input[type=text], form input[type=email], form input[type=url], form input[type=password] {
	/* width:184px; */
	width:13em;
	border:1px solid #cfcdcd;
	border-radius:4px;
	margin-top:10px;
	padding:5px;
}
form input:focus::-webkit-input-placeholder { color:transparent; }
form input:focus:-moz-placeholder { color:transparent; }
form input[type=text]:focus, form input[type=password]:focus {
	outline: none; 

}
	
form input[type=file] {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius:4px;
	height:30px;
	margin-bottom:5px; 	
	padding:4px 0 1px 5px;	
	width:300px;	
}

#datepicker input {
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px; 
	border-radius:17px;
	height:35px; 
	margin-bottom:5px;
	padding:4px 0 7px 19px;
	width:150px;	
}

/*****************************************************************************************/
/*Barcode css*/
/*****************************************************************************************/

#label_padding{
	padding:1% 0% 0% 2%;
}

#field_padding{
	padding:1% 0% 0% 0%;
}





form label {
/* 	display:block; */
	padding-top:0px;
}

form button, form input[type=button] {	
	/* border: medium none;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;	
	margin: auto;
	padding: 3px 10px;
	height:30px;	  
	border: 1px solid black; */	
	padding:5px 8px;
	margin-right:4px;
	list-style:none;	
	text-align:center;
	border-radius:4px;
	background:#2787c5;
	border:1px solid #1973ad;
	color:#fff;
	/* padding:4px 10px; */
	text-decoration:none;
}

.button {
	/* border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 15px;	
	margin: auto;
	padding: 3px 10px;	
	height:30px; */
	
}

form button:hover, form input[type=button]:hover {
	cursor: pointer;
	background:#1769ad;
	color:#fff;
	border:1px solid #074477;	
} 

form ol li {
  list-style:none;
  line-height: 24px;
}
  
  
  #nav_wrapper {
  	width:98%;
	height:35px;
	margin:0 auto;
  }
  
  #nav_menu_box {
  	width:1335px;
	height:35px;
	margin:0 auto;
  }
  
  .date_msg {
	width:445px;
	height:35px;
	float:left;
  }
  
  .title_msg {
  	float:left;
	width:390px;
	height:35px;
  }
  
  .menu_box {
  	float:left;
	width:490px;
	height:35px;
  }
  
  #nav_menu_wrapper {
  	width:98%;
	height:45px;
	background-color:#fafae0;
  }
  
  #nav_menu_wrapper_box {
  	width:1335px;
	height:45px;
	margin:0 auto;
  }

  .nav_menu_link {
  	float:left;
	width:900px;
	height:45px;
  }
  
  .search_box {
  	float:right;
	width:179px;
	height:45px;
	padding:5px 0px 0px 0px;
  } 
  
  .disclaimer_txt {
  	text-decoration:underline;	
  }
  
#left_inner_wrapper {
	float:left;
	width:30%;
	padding:5px 5px 5px 10px;
}


#left_inner_wrapper_FW {
	float:left;
	width:30%;

}

#middle_inner_wrapper {
	float:left;
	width:30%;
}

#right_inner_wrapper {
	float:left;
	width:48%;
	padding:2px 5px 5px 0px;
}

#middle_line_2 {
	width:3%;	
	height:140px;
	float:left;
}

#button_previous {
	width:65%;
	margin:0 auto;
}

#bottom_menu_wrapper {
	width:94%;
	margin:0 auto;
}

.bottom_menu {
	padding:0px 0px 5px 0px;
}


/*************************************************************/

/*Search*/

#searchbar {
	width: 100px;
	float: left; 
	background: #ededed;
	border: 3px solid #c7c7c7;
	border-radius: 100px; -moz-border-radius: 100px; -webkit-border-radius: 100px;
	color: #898989;
	outline: none; /*Remove Chrome and Safari glows on focus*/
}	
	#searchbar.active {
		background: #ebf3fc;
		border: 3px solid #abd2ff;
	}

#searchbtn {
	width: 25px; height: 52px; float: left; margin: 18px 0 0 -115px;
	background: url(../images/icons/search_txt.png); text-indent: -9999px;
	padding: 0 0 0 25px; /*IE fix*/
	cursor: pointer;
}

#searchbtn:hover {
	background-position: 0 -70px;
}

/* .inputboxSearch {
	-moz-box-sizing: border-box;
    border-radius: 12px 12px 12px 12px;
    height:26px;
    margin-right: 30px;
    padding: 2px 18px 1px 22px;
 	width:180px;

} */

	

.inputboxSearch{
	 height:22px;
	 border: 1px solid #d1d1d1;
     -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    float: right;
    width: 150px;
     -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	margin-right: 12%;
 	 padding: 0px 22px 1px 10px;
 	 top:5%;
}

.inputboxSearch:focus {
    width: 180px;
    }
/*  .changecolor{
	-moz-box-sizing: border-box;
    border-radius: 12px 12px 12px 12px;
    height:23px;
    margin-right: 69px;
    padding: 2px 18px 1px 22px;
    width:180px;
}  */

/* .zoom{
	-moz-box-sizing: border-box;
    border-radius: 12px 12px 12px 12px;
    height:23px;
    margin-right: 69px;
    padding: 2px 18px 1px 22px;
    width:220px;
	}  */

.inputboxSearch:focus {
	outline: none; 
}

.maintenanceScanboxSearch{
	width:200px;
	}

.scanboxSearch {
	background:url('../images/icons/search1.png') no-repeat right center white;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	border-radius:17px;
	height:25px;
	margin-bottom:4px;
	margin-top: 2px; 
	padding:4px 22px 1px 5px;
	width:240px;	
	border:1px solid darkgrey;
	text-align:left;
}


.home_none a {
	text-decoration:none;
}

.dateEntry {
	background:url('../images/icons/date_1.png') no-repeat right center;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius:4px;
	height:25px;
	margin-bottom:5px;
	padding:4px 0px 1px 5px;
	width:195px;	
	border:1px solid #90906e;
}

.input_timeofarrival {
	width:100px;
}






#menu_bg {
	width:100%;
	height:41px;
	background-color:#f2f2c7;
	margin:0 auto;
	text-align:left;
}

/* Blue Menu */
#menu {	
	text-transform: inherit;
	margin: 0px 0;
	padding: 0;
	list-style-type: none;
	background-color: ##f2f2c7;	
	height: 41px;
	border-top: 2px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#menu li {
	float: left;
	margin: 0;		
	list-style:none;		
}

#menu li a {
	text-decoration: none;
	display: block;
	padding: 0 100px;
	line-height: 40px;
	color: #333333;
}

#menu li span {
	text-decoration: none;
	padding: 0px 0px 0px 20px;
	line-height: 0px;
	color: #fff;	
}

#menu li a:hover, #menu li.active a {
	background-color: #cac6ad;
	border-bottom: 1px solid #ccc;
	color: #fff;
}

#menu_wrapper.blue ul {
	border-top: 2px solid #356AA0;
	border-bottom: 2px solid #204061;
	background: #356AA0;
}

#menu_wrapper.blue a {
	color: #fff;
}

#menu_wrapper.blue li a:hover, #menu_wrapper.blue li.active a {
	color: #cdc9c9; 
	background: #3D7BBB; 
	border-bottom: 0px solid #356AA0;
}

#menu_wrapper.blue {
	background: url(images/blue.png) no-repeat right;
}

#menu_wrapper.blue div {
	background: url(images/blue.png) no-repeat left;
}

#productSearch
{
	padding:2px 0px 02px 0px;
	margin-top:3px;
	}
/**table row selected bg color*/
/* .tableRowSelected { color:#FDBC80; } */





/******************************************************************/
/**Floating window css*****/



/*#floating_window_wrapper {
	width:100%;
	background-color:#FFFFFF;
	margin:0 auto;
}

#left_floating_box {
	width:30%;
	margin:0 auto;
	background-color:#FFFFFF;
}

.left_box {
	float:left;
	width:28%;
}

.right_box {
	float:right;
	width:60%;
}

#right_floating_box {
	width:70%;
	margin:0 auto;
	background-color:#FFFFFF;
}


*************** Sub Menu CSS*********************************



*********************************Table Cell Color : Storage Page location status color******************
*/.available { background:white;}
.occupied { background:#C0C0C0;}
.selected { background:#00FFFF;}

.oneCellColor{border-top: 1px #ccc solid; border-left: 1px #ccc solid;border-right: 1px #ccc solid;border-bottom: 1px #ccc solid;}


/***********To dispaly Previous in Portlets******/
.ui-previous { padding:0px 10px 9px 0px;cursor: pointer;cursor: hand; width: 16px; height: 12px; background: url(../images/icons/Previous.png) no-repeat; }


/***********To dispaly Next in Portlets******/
.ui-next { padding:0px 10px 9px 0px;cursor: pointer;cursor: hand; width: 16px; height: 12px; background: url(../images/icons/Next.png) no-repeat; }


/***********To dispaly Notes in Portlets******/
.ui-notes { padding:0px 10px 9px 0px;cursor: pointer;cursor: hand; width: 16px; height: 12px; background: url(../images/icons/edit.png) no-repeat; }

/***********To dispaly info in Portlets******/

.ui-info { padding:0px 18px 9px 0px;cursor: pointer;cursor: hand; width: 16px; height: 12px; background: url(../images/icons/informatio.png) no-repeat; }


/***********To dispaly Plus image in Portlets******/
.ui-addnew { padding:0px 11px 0px 0px;cursor: pointer;cursor: hand; width: 16px; height: 16px; background: url(../images/icons/addnew.jpg) no-repeat; }

/***********To dispaly Reset in Portlets******/
.ui-reset { padding:0px 8px 0px 0px;cursor: pointer;cursor: hand; width: 16px; height: 16px; background: url(../images/icons/refresh.png) no-repeat; }

/***********To dispaly Reset in Portlets******/
.ui-printsmall { padding:0px 8px 0px 0px;cursor: pointer;cursor: hand; width: 16px; height: 16px; background: url(../images/icons/print_small.png) no-repeat; }


/******For make differentiate selected Menu*************/
.selectedMenu {background:white;-moz-border-radius: 5px 5px 5px 5px;}



.topPosition{top:50px;}

/*.forfloat_wind{
	width:100%;
	float:left;
	height:300px;
	position:absolute;

	
	
}

#forfloat_right{
	width:82%;
	margin-top: 5px; 
	position:relative;
	float:right;
	 padding:0% 1% 0% 2%; 
	
}
*/.cursor{cursor: pointer;cursor: hand;}


#menu_nav{
	width:100%;
}

#header{
	width:100%;


}

.subtree_list {
	padding: 0px 0px 0px 7px;
}

/*.spanspace { width: 8px; height: 15px;};

*/.mainDivWidth{margin: 0pt auto; width: 97%;}
label.error
{
/*font-size:0.7em;*/
/*background-color:#FFFFFF;*/
color:#FF0000;
/*padding:1%;	//? Mari Chnages made here for Barcode Error display*/
margin-left:5px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}


/********************************************************/
/* 31-05-2012 */
/********************************************************/

.txt_align_label {
	padding:0px 0px 0px 60px;
}

.table_padding_left {
	padding:5px;
}

.table_padding_right {
	padding:5px;
}


#container_new{
	width:100%;
	margin:0px 0px 0px 0px;

}

#main1{
	height: 76%;
	overflow-y:auto;
	overflow-x:hidden;
}




/********************************************************************************************************************
login style new

********************************************************************************************************************/

.header_wrapper_new{
	width:100%;
	
}

.header_inner_new{
	width:95%;
	margin:0 auto;

	
}

.menu_wrapper_new{
	width:100;
	
}


.menu_inner_new{
	width:95%;
	height:20px;
	background-color:#006699;
	margin:0 auto;
}

.content_wrapper_new{
	width:100%;
}

.content_inner_new{
	width:100%;
	margin:-3% auto;


	
}

.footer_wrapper_new{
	width:100%;
}


.footer_inner_new{
	width:95%;
	margin:0 auto;


}


.cleaner_10 { clear: both; width: 100%; height: 10px; }


.button{
      background: white url(\91images/imagebutton.gif\92) no-repeat top;
      width: 150px;
      height: 40px;
      color:white;
}

.hidden{display:none;}

<!--/*  pin Notifications Style */ -->

.fulldiv{
margin-top:3%;
position:absolute;
width:20%;
z-index:1001;
resize:both;
background:#DBFFF1;
}
#image{
padding-top:5%;
margin-left:40%;
}
#content{
margin-top:0%;
margin-left:2%;
font-size:1.3em;
background:#DBFFF1;
} 
#closeimg{
float:right;
}
#minusimage{
float:right;
}

