#dolphincontainer {       
    text-transform: none;
    width: 90%;
	background-color:#fff;
	top:42px;
	margin: 0 auto;
}
#dolphinnav {
    height: 20px;
    padding: 0 0 0 2px;
}
#dolphinnav ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;

}
#dolphinnav ul li {
    display: block;
    float: left;
    margin: 0 1px;
}
#dolphinnav ul li a {
    color: #333;
    display: block;
    float: left;    
    padding: 0 0 0 11px;
    text-decoration: none;
}
#dolphinnav ul li a span {
    float: left;
    padding: 5px 0 0;
}
#dolphinnav ul li a:hover {
    color: #FF0000;
}
#dolphinnav ul li a:hover span {
    cursor: pointer;
    display: block;
    width: auto;    
	
}
/*#dolphinnav ul li a.current, #dolphinnav ul li a.current:hover {
    color: #333;
}
#dolphinnav ul li a.current span {
    display: block;
    padding: 5px 11px 0 0;
}*/
#dolphin_inner {
    color: white;    
    height: 28px;
    padding: 5px 5px 0;
}
#dolphin_inner a:link, #dolphin_inner a:visited, #dolphin_inner a:active {
    color: #333333;
}
#dolphin_inner a:hover {
    color: yellow;
}
#dolphin_inner ul {
    list-style-type: none;
    margin: 0;
    padding: 5px 0px 0px 0px;
    width: auto;		
}
#dolphin_inner ul li {
    display: block;
    float: left;
    margin: 0 1px;
}
#dolphin_inner ul li a {
    color: #EAF3F8;
    display: block;
    float: left;
    height: 23px;
    padding: 0 0 0 20px;
    text-decoration: none;
}
#dolphin_inner ul li a:hover {
    color: #FF6600;
    text-decoration: underline;
}
.innercontent {
    display: none;
}

.progress-indicator {
   top:0;
   right:0;
   width:100%;
   height:100%;
   position:fixed;
   text-align:center;
   /* IE filter */
   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
   -moz-opacity:0.5;    /* Mozilla extension */
   -khtml-opacity:0.5;  /* Safari/Conqueror extension */
   opacity:0.5; /* CSS3 */
   z-index:1000;
   background-color:white;
   display:none;
 }

 .progress-indicator img {
  /* margin-top:75px;*/
   margin-top: 20%;
 }