@CHARSET "UTF-8";

	.ui-layout-pane { /* all 'panes' */ 
		padding: 10px; 
		background: #FFF; 
		
		}
		.ui-layout-pane-north {
			background:#fff;
			
			
			
			}
			
			
		.ui-layout-pane-south {			
			background:#fff;
		} 
		.ui-layout-pane-west {	
				border:0.1px solid #BBBBBB !important;
				border-radius:5px;		
			/* background:#eaeaea; */
		} 
		.ui-layout-pane-east {	
				border:0.1px solid #BBBBBB !important;
				border-radius:5px;		
			/* 	background:#eaeaea; */
		} 
		.ui-layout-pane-center {
			border-left: 0;
			border-right: 0;
			} 
			.inner-center {
				padding-right: 0px !important; 
				border:0.1px solid #BBBBBB !important;
				border-radius:5px;
			/* 	top:18% !important; */
		} 

		.outer-west ,
		.outer-east {
			background-color: #EEE;
		}
		.middle-west ,
		.middle-east {
			background-color: #F8F8F8;
		}

	.ui-layout-resizer-north { /* all 'resizer-bars' */
				display:none !important; 
		}
	.ui-layout-resizer:hover { /* all 'resizer-bars' */ 
		background:#fff;
		
		}
	.ui-layout-resizer-west {
			/*background-image: linear-gradient(to bottom, #0088CC, #0044CC);*/
			/* background-image: linear-gradient(to bottom, #c0c1c1, #a4a6a5); */
			background-color:#C0C1C1;
			

			
		}
		
	.ui-layout-resizer-west:hover {			
			background-image: linear-gradient(to bottom, #c0c1c1, #a4a6a5);
			
			
		}
		
	.ui-layout-resizer-east {
			/* background-image: linear-gradient(to bottom, #c0c1c1, #a4a6a5); */
			background-color:#C0C1C1;
			
		}
	
	.ui-layout-resizer-east:hover {			
			background-image: linear-gradient(to bottom, #c0c1c1, #a4a6a5);
			
		}


	.ui-layout-toggler { /* all 'toggler-buttons' */ 
		background: #AAA; 
		position:absolute;
		/* top:0 !important;
		right:0 !important;	 */	
		width:15px; 
		} 
		
	.ui-layout-toggler-west-open{
		background:url(../images/go-lt-on.png) no-repeat;
		}
			
			
	.ui-layout-toggler-west-closed{
		background:url(../images/go-rt-on.png) no-repeat;
		
		}
			
	
	.ui-layout-toggler-east-open{
		background:url(../images/go-rt-on.png) no-repeat;
		}
			
			
	.ui-layout-toggler-east-closed{
		background:url(../images/go-lt-on.png) no-repeat;
		}	
		
	
	.ui-layout-toggler-north-open{
		background:url(../images/go-up-on.gif) no-repeat;
		}
			
			
	.ui-layout-toggler-north-closed{
		background:url(../images/go-dwn-on.gif) no-repeat;
		}
	
		.ui-layout-toggler-south-open{
		background:url(../images/go-dwn-on.gif) no-repeat;
		}
			
			
	.ui-layout-toggler-south-closed{
		background:url(../images/go-up-on.gif) no-repeat;
		}	
		
	.ui-layout-toggler:hover { /* all 'toggler-buttons' */ 
		position:fixed;
		/* top:0 !important;
		right:0 !important; */
			
		} 

	.outer-center ,
	.middle-center {
		/* center pane that are 'containers' for a nested layout */ 
		padding: 0; 
		border: 0; 
	} 