@CHARSET "ISO-8859-1";
fieldset {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
   box-sizing: border-box;

    padding: 3px;
    float:left;
    
}

#f1 {
    width: 20%;
    height:200px;
}


#f2 {
    width: 20%;
    height:200px;
    
}
#f3{

width:20%;
 height:200px;

}
 



