body{
	left:20px !important;
	right:20px !important;
	}
.north-height{
		min-height:10%;
		}
	.ui-north-zindex{
	 z-index:601 !important;
	}
	.ui-layout-pane { /* all 'panes' */ 
		padding: 12px; 
		background: #FFF; 
		/* border-top: 1px solid #BBB;
		border-bottom: 1px solid #BBB; */
		}
		.ui-layout-pane-north ,
		.ui-layout-pane-south {
			/* border: 1px solid #BBB; */
		} 
		/* .ui-layout-pane-west {
			border-left: 1px solid #BBB;
		} 
		.ui-layout-pane-east {
			border-right: 1px solid #BBB;
		} */
		.ui-layout-pane-north {
			/*  */
			border-top: 0px ;
			border-bootom: 0px ;
		}  
		.ui-layout-pane-south {
			border-top: 0px ;
			border-bootom: 0px ;
			height:30px !important;
		}
		.ui-layout-pane-center {
			border-left: 0;
			border-right: 0;
			z-index:600 !important;
			} 
			.inner-center {
				/*  border: 1px solid #BBB;  */
			} 

		.outer-west ,
		.outer-east {
			background-color: #ffffff;
		}
		.middle-west ,
		.middle-east {
			background-color: #F8F8F8;
		}

	.ui-layout-resizer { /* all 'resizer-bars' */ 
		 background: #EEEEEE;  
		
		}
		.ui-layout-resizer:hover { /* all 'resizer-bars' */ 
			
			 background-image: linear-gradient(to bottom, #c0c1c1, #a4a6a5)
		}
		.ui-layout-resizer-west {
			/* border-left: 1px solid #BBB; */
		}
		.ui-layout-resizer-east {
			/* border-right: 1px solid #BBB; */
		}

.ui-layout-toggler { /* all 'toggler-buttons' */ 
		background: #AAA; 
		position:absolute;
		/* top:0 !important;
		right:0 !important;	 */	
		width:15px; 
		} 
		
	.ui-layout-toggler-west-open{
		background:url(../images/go-lt-on.gif) no-repeat;
		}
			
			
	.ui-layout-toggler-west-closed{
		background:url(../images/go-rt-on.gif) no-repeat;
		
		}
		.ui-layout-toggler-east-open{
		background:url(../images/go-rt-on.gif) no-repeat;
		}
			
			
	.ui-layout-toggler-east-closed{
		background:url(../images/go-lt-on.gif) no-repeat;
		}	
		.ui-layout-toggler-north-open{
		background:url(../images/go-up-on.gif) no-repeat;
		}
			
			.ui-layout-toggler-north-closed{
		background:url(../images/go-down-on.gif) no-repeat;
		
		}
			
	.ui-layout-toggler-south-open{
		background:url(../images/go-down-on.gif) no-repeat;
		
		}
	  .ui-layout-toggler-south-closed{
		background:url(../images/go-up-on.gif) no-repeat;
		}
			
			
	.centerlayout-marginheight{
	/* margin-top:6px !important; */
	}

	.outer-center ,
	.middle-center {
		/* center pane that are 'containers' for a nested layout */ 
		padding: 0; 
		border: 0; 
	} 

