@CHARSET "ISO-8859-1";
.wmd-input {
    -moz-tab-size: 4;
    box-sizing: border-box;
}
.forheight{
	height:50px;
	
}
.apply{
	background-color:#c0c0c0;
}

#days{
	
	
	display:none;
}
#3rd,#4th{
	
	height:100%;
	
}
 #showarea{
	
	height:300px;
	width:150px;
	
	
} 
