/* CSS Document */

.popborder{
border: 1px solid #cccccc;
}

.popcontent{
color:#000000;
}

.poplink{
color:#666666;
}
.popposition{
position: absolute;
visibility: hidden;
left: 10px;
top: 10px;
width:450px;
z-index: 1;
background-color:#f4f4f4; 
}

.popcornerlefttop{
background-color:transparent;
background-image:url(../images/c_lt.gif);
background-repeat:no-repeat;
height:25px;
width:25px;

}
.popcornertopright{
background-image:url(../images/c_tr.gif);
background-repeat:no-repeat;
height:25px;
width:25px;
}
.popcornerrightbottom{
background-image:url(../images/c_rb.gif);
background-repeat:no-repeat;
height:25px;
width:25px;
}
.popcornerbottomleft{
background-image:url(../images/c_bl.gif);
background-repeat:no-repeat;
height:25px;
width:25px;
}

.poplineleft{
background-image:url(../images/l_l.gif);
background-repeat:repeat-y;
width:25px;

}
.poplinetop{
background-image:url(../images/l_t.gif);
background-repeat:repeat-x;
height:25px;
}
.poplineright{
background-image:url(../images/l_r.gif);
background-repeat:repeat-y;
width:25px;
}
.poplinebottom{
background-image:url(../images/l_b.gif);
background-repeat:repeat-x;
height:25px;
}