	.portletcolumn { width: 45%; height:50%; float: left; padding-bottom: 100px;border:none; }
	.portletcolumn1 { width: 90%; height:50%; float: left; padding-bottom: 100px;border:none; }
	.portletcolumn2 { width: 45%; float: left; padding-bottom: 100px;border:none;}
	.portletcolumn3 { width: 30%; float: left; padding-bottom: 100px;border:none;}
	.portletcolumn4 { width: 20%; float: left; padding-bottom: 100px;border:none;}
	
	.portlethidden{ visibility: hidden; display:none;}
	
	.portlet {width:97.8%;height:auto; margin: 0 0 1em 0; border:1 solid ; float:left;position:relative;}
	.portlet-header { margin: 0.3em; padding:8px 0 8px 10px; position:relative; color:#353635;background-color:#f0f0f0;}
	.portlet-header .ui-icon { float: right;  }
/*	#
	.portlet-content { height:400px; padding: 0.4em; position:relative;overflow:auto;font-size:12px; }
	.portlet-content1 { height:450px; padding: 0.4em; overflow:auto;font-size:12px; }
*/
	.portlet-content {  padding: 0.4em; position:relative;border-style:1px solid #ffffff;
		border-top:solid 2px #EEEEEE;} /* modified by mohan*/
	.portlet-content1 {   height:450px;padding: 0.4em; overflow:auto; }
	.portlet-contentsmall {   height:250px;padding: 0.4em; overflow:auto; }
	.portlet-contentfull{  height:500px;padding: 0.4em; overflow:auto; }
	.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 150px; width: 150px !important; }
	.ui-sortable-placeholder * { visibility: hidden; }
	#resizable { width: 150px; height: 150px; padding: 0.5em; }
	#resizable h3 { text-align: center; margin: 0; }
	.ui-resizable-helper { border: 2px dotted #00F; }
	.portlet-help{text-align: left; vertical-align:top;}
	.portlet-question{text-align: left; vertical-align:top;}
	#mdQuestionnaire{width:80%;overflow:auto;}
	.portlet-width100{width:98%;}
	.portlet-widthfull{width:100%;}
 	.width20{width:20%;};
	.portlet-height30{height:300px;overflow:auto;}
 	.portlet-content#Questionnaire {height:200px;overflow:auto;}
 	.portletborder{border: 1px solid ;}
 	.portlet-width50{width:48%;}
 	.portlet-width75{width:75%;}
 	.portlet-width60{width:60%;}
 	.portlet-width80{width:80%;}
 	
 	.modelDialog{width:100%;height:100%;}
 	.portlet-height50{height:45%;}
 	.portlet-height100{height:90%;overflow:auto;}
 	.portlet-height75{height:50%;max-height:350px;overflow:none;}
 	.portlet-height25{height:25%;}
 	
 		
 	
 	.portlet-content1 ul li{list-style-type: disc ; line-height:20px;}
 	