div.content {
    border: #c4c4c4 solid 1px;
    clear: left;
    padding: 1em;
	background-color:#fff;	
	height:220px;
	
}

div.content.inactive {
	display: none;
}

ol#toc {
    height: 1.6em;
    list-style: none;
    margin: 0;
    padding: 0;
}

ol#toc a {
    background: #c8b99d url(../images/tabs_bg.jpg);
    color: #000;
    display: block;
    float: left;
    height: 2em;
    padding-left: 10px;
    text-decoration: none;
	border-radius:5px 5px 0px 0px;
}

ol#toc a:hover {
    background-color: #eae1d1;
    background-position: 0 -120px;
}

ol#toc a:hover span {
    background-position: 100% -120px;
}

ol#toc li {
    float: left;
    margin: 0 1px 0 0;
}

ol#toc li a.active {
    background-color: #e9e9e9;
    background-position: 0 -60px;
    color: #333;    
}

ol#toc li a.active span {
    background-position: 100% -60px;
}

ol#toc span {
    background: url(../images/tabs_bg.jpg) 100% 0;
    display: block;
    line-height: 2em;
    padding-right: 10px;
}