.workFlowContainer{
background-color:	#FFFFFF;;
border-radius:5px;
margin-top:4px;
}
.initial{
	border-radius: 50%/50%; 
    width: 25px;
    height: 25px;
    background:#FFFF99;
    float:left;
    position:relative;
    top:-9px;
    border:thin solid black;
    margin-left:-1%;
    cursor:pointer;
    }
.processinitial{
	width:60px;
	height:10px;
	background:#C4C6C6;
	float:left;
	position:inherit;
	z-index: 10;
	margin-left:0%;
	   /*  background:url('../images/icons/process.png') no-repeat scroll 10px 9px #00FF00; */
}
.completed{
	border-radius: 50%/50%; 
    width:25px;
    height:25px;
    float:left;
  //  background:#00FF00;
    position:relative;
    top:-9px;
    border:thin solid black;
   /*  margin-left:-1%; */
    background:url('../images/icons/tickg.png') no-repeat scroll 6px 4px #00FF00;
    cursor:pointer;
 }
  .firstProcess{
  margin-left:1%;
  }
.onprogress{
	border-radius: 50%/50%; 
    width:35px;
    height:35px;
    float:left;
   background:yellow;
    position:relative;
    top:-9px;
    border:thin solid black;
    margin-left:-1%;
    // background:url('../images/icons/process_2.gif') no-repeat scroll 10px 9px yellow;
    }
.processstarted{
	width:60px;
	height:10px;
	background:#969696;
	float:left;
	margin-left:0%;
	position:inherit;
	 z-index: 10;
}
.samplet-text{
	padding-top:25px;
	/*width:5%;*/
	}
	/* .workFlow{
	min-height:90px;
	width:80%;
	margin:0 auto;
	padding-top:2%;
	} */
	
.processend{
	width:60px;
	height:10px;
	float:left;
	position:inherit;
	z-index: 10;
	margin-left:0%;
	   /*  background:url('../images/icons/process.png') no-repeat scroll 10px 9px #00FF00; */
}	
	
