/******************************************************************************************
*******************************************************************************************
GARUDA STYLES STARTS
*******************************************************************************************
******************************************************************************************/

table.displaycdr thead th {
	 border:1px solid #5d95c1; background-color:#8ab7da;
	 color:white;
}
table.display thead th {
	 border:1px solid #5d95c1; background-color:#8ab7da;
	 color:white;
}
form fieldset {
	border:1px solid #d2d2d2;
}

form fieldset legend {
	color: #124f7f;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	
}

form button, form input[type=button],form input[type=submit] {
	background:#8db4dc;
	border:1px solid #8db4dc;
	color: black;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background:#8db4dc;
	border:1px solid #8db4dc;
	color: black;

}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	background:#6b9ed1;
}
.button{
	background:#8db4dc;
	border:1px solid #8db4dc;
	color: black;
}
form button:hover, form input[type=button]:hover {
	background-color:#6b9ed1;
}
tr.odd {
	background-color: #ececec;
}
tr.even {
	background-color: white;
}
table tbody tr.odd td{
	background-color: #ececec;
}

table tbody tr.even td{
	background-color: white;
}
tr.odd td.sorting_1 {
	background-color: #dbdbdb;
}
tr.even td.sorting_1 {
	background-color: #ececec;
}

.maincontainer{
	background: #f7f7f7;
}
/* Component containers
----------------------------------*/
DIV.ui-widget-content { border: 1px solid #b7b7b7; background: #f7f7f7; color: black; }
DIV.ui-widget-content a { color: #0000ff;   }
DIV.ui-widget-header { border: 1px solid #1a598b; background: #9999ff url(../../images/mgPanelimages/redmond.png) 50% 50% repeat-x; color: #000000; padding: 5px 0 0 10px;}
DIV.ui-widget-header .ui-icon {background-image: url(../../images/ui-icons_d8e7f3_256x240.png); }
DIV.ui-datepicker th{border:1px solid #5d95c1; background-color:#8ab7da;color:white;}

img {
	width: auto;
	height: auto;
}
.ui-icon {
    height: 16px;
    width: 16px;
}