@charset
iso-8859-1;
/*************************** YUI LOOK AND FEEL ************************/
.tablebdr{border:1px
solid
#7F7F7F;
}
.selectedcol {
	background: #A5A8AB url(../../images/yuilookandfeel/selectedgred.gif)
		repeat-x;
	font: 10px verdana;
	color: #000;
	border-bottom: 1px solid #7F7F7F;
	border-right: 1px solid #CBCBCB;
	cursor: pointer;
}

.normalcol {
	background: #D8D8DA url(../../images/yuilookandfeel/normalgred.gif)
		repeat-x;
	font: 10px verdana;
	color: #000;
	border-bottom: 1px solid #7F7F7F;
	border-right: 1px solid #CBCBCB;
	cursor: pointer;
}

.normalcolNo {
	background: #D8D8DA url(../../images/yuilookandfeel/normalgred.gif)
		repeat-x;
	font: 10px verdana;
	color: #000;
	border-bottom: 1px solid #7F7F7F;
	border-right: 1px solid #CBCBCB;
}

.selectedinfoodd {
	text-align: left;
	background-color: #FAFAFA;
	border-right: 1px solid #CBCBCB;
	border-bottom: 1px solid #CBCBCB;
	font: 10px verdana;
	color: #000;
	margin: 0;
	padding: 4px 10px;
}

.selectedinfoeven {
	text-align: left;
	background-color: #F2F2F2;
	border-right: 1px solid #CBCBCB;
	border-bottom: 1px solid #CBCBCB;
	font: 10px verdana;
	color: #000;
	margin: 0;
	padding: 4px 10px;
}

.normalinfo {
	border-right: 1px solid #CBCBCB;
	font: 10px verdana;
	color: #000;
}

.normalinfoodd {
	text-align: left;
	background-color: #FAFAFA;
	border-right: 1px solid #CBCBCB;
	border-bottom: 1px solid #CBCBCB;
	font: 10px verdana;
	color: #000;
	margin: 0;
	padding: 4px 10px;
}

.normalinfoeven {
	text-align: left;
	background-color: #F2F2F2;
	border-right: 1px solid #CBCBCB;
	border-bottom: 1px solid #CBCBCB;
	font: 10px verdana;
	color: #000;
	margin: 0;
	padding: 4px 10px;
}