@charset "iso-8859-1";

DIV.formDefault {
	padding:0px 0px 0px 5px;
	text-align: justify;	
	/* background-color: #ffffff; */
	color: #000000;
	position: absolute;
	left: 2px;
	width: 99%;
	height: 800px;
	top: 62px;
	overflow: auto;
}
DIV.formDefault_labmodify{ top:62px; }
DIV.formDefault_event {
	padding:0px 0px 0px 5px;
	text-align: justify;
	color: #000000;
	position: absolute;
	left: 2px;
	width: 99%;
	height: 780px;
	top: 62px;
	overflow: auto;
}


/************ APPLICATION BROWSERS **********/
DIV.browserDefault {
	padding: 0px 0px 0px 5px;
	text-align: justify;
	background-color:#ffffff;
	position: absolute;
	left: 2px;
	width: 99%;
	height: 765px;
	top: 60px;
	overflow: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#A7001B;
}
DIV.browserDefault_veloshome{
	padding: 0px 0px 0px 5px;
	text-align: justify;
	background-color:#ffffff;
	position: absolute;
	height: 500px;
	top: 123px;
	overflow: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#A7001B;	
	left:157px; 
	width:87%;
}
DIV.browserDefault_veloshome_newac{height:82%;}

/************NEW PAGINATED BROWSERS **********/
DIV.pgbrowse {
	padding: 0%;
	text-align: justify;
	background-color: #f7f7f7;
	color: #000000;
	position: absolute;
	left: 2px;
	width: 99%;
	height: 575px;
	top: 100px;
	overflow: auto;
}

/***********Page with Form as well as browser*************/
DIV.formBrwDefault {
	visibility: visible;
	position: absolute;
	margin-top: -547px;
	overflow: auto;
	height: 630px;
	width: 956px;
}

/************ APPLICATION POPUP PAGES **********/
DIV.popDefault {
	visibility: visible;
	margin-left: 0px;
	position: absolute;
	height:auto;
	margin-top: 10px;
	width: 96%;
	background-color:#ffffff;
	padding:5px;
}


/********MENU DIV****/
DIV.mainMenu {
	margin-top: -482px;
	margin-left: -3px;
	width: 132px;
	position: absolute;
}

/************ MY LINKS ********** *****/
DIV.myLinks {
	visibility: visible;
	margin-left: 73%;
	position: absolute;
	margin-top: 0px;
	z-index: 2;
	width: 150px;
	background-color: #f7f7f7;
}

/************ Account LINKS ********** *****/
DIV.accLinks {
	visibility: visible;
	position: absolute;
	margin-top: 5px;
	z-index: 2;
	width: 190px;
	background-color: #f7f7f7;
}

/************ MY STUDIES ON HOMEPAGE*************/
DIV#myStudies {
	visibility: visible;
	position: absolute;
	margin-top: -15px;
	z-index: 1;
	overflow: auto;
	width: 99%;
	background-color: #f7f7f7;
	height: 89%;
}

/************ Center watch**********/
IFrame.cw {
	visibility: visible;
	margin-left: -30px;
	position: absolute;
	margin-top: 0;
	overflow: auto;
	height: 350px;
	width: 420px;
	border-style: none;
}

/*************** PATIENT SEARCH IN POPUP MODE*********************/

DIV.browserDefaultPat {
	visibility: visible;
	margin-left: 0;
	position: absolute;
	margin-top: -150px;
	overflow: auto;
	height: 360px;
	width: 600px;
}

/************ FORM WITH LINKS USED IN ADVERSE EVENTS*************/
DIV.formWithLinks {
	visibility: visible;
	margin-left: 0;
	position: absolute;
	margin-top: -20px;
	z-index: 1;
	overflow: hidden;
	width: 700px;
	background-color: #FFFFFF;
}

/************ Account LINKS for Adverse Event ********** *****/
DIV.accLinksmgpat {
	visibility: visible;
	position: relative;
	margin-top: -600px;
	z-index: 2;
	width: 190px;
	background-color: #f7f7f7;
	margin-left: -50px;
	BORDER: DASHED;
	BORDER-WIDTH: 1PX;
}

/************ MY LINKS for adverse event********** *****/
DIV.myLinksmgpat {
	visibility: visible;
	margin-left: 680px;
	position: absolute;
	margin-top: -400px;
	z-index: 2;
	width: 220px;
	background-color: #f7f7f7;
}

div#page {
	width: 100%;
	height: 100%;
}

DIV.tabDefTop {
	visibility: visible;
	left: 12em;
	position: absolute;
	overflow: auto;
	top: 92px;
	height: 92px;
	width: 83%;
	left: 157px;
}

DIV.tabDefBot {
	padding: 0%;
	text-align: justify;
	background-color: #f7f7f7;
	color: #000000;
	position: absolute;
	left: 2px;
	width: 99%;
	height: 500px;
	top: 178px;
	overflow: auto;
	border-top: groove;
	border-bottom: groove;
}
DIV.tabDefBot_spApndx{top:119px;}
DIV.tabFormTop {
	visibility: visible;
	left: 2px;
	position: absolute;
	overflow: auto;
	top: 187px;
	height: 104px;
	width: 83%;
}
DIV.tabFormTop_top1 {
	visibility: visible;
	left: 2px;
	position: absolute;
	overflow: auto;
	top: 121px;
	height: 104px;
	width: 83%;
}
DIV.tabFormBot {
	padding: 0%;
	text-align: justify;
	background-color: #f7f7f7;
	color: #000000;
	position: absolute;
	width: 99%;
	left: 2px;
	height: 416px;
	top: 270px;
	overflow: auto;
	border-top: groove;
	border-bottom: groove;
}

/************ Vs 8 *****/
DIV.tabDefTopN {
	visibility: visible;
	position: absolute;
	overflow: auto;
	top: 60px;
	height: 43px;
	width: 99%;
	left: 4px;
}

DIV.tabDefBotN {
	padding: 0%;
	text-align: justify;
	margin-top: 7px;
	color: #292929;
	position: absolute;
	width: 99%;
	height: 85%;
	top: 94px;
	left: 7px;
	overflow: auto;
	/* background-color:#f7f7f7; bgClrCls */	
}
DIV.tabDefBotN_vhome { left: 157px;}

div#logo { padding: 0%;	color: #ffffff;}
div#logo img {	width: 150px;	height: 29px;}

div#header {
	padding: 0%;
	background-color: #dcdcdc;
	color: #ffffff;	
	height: 90px;
	width: 98%;
}

div#leftcolumn {
	padding: 0%;
	text-align: right;
	background-color: #dcdcdc;
	color: #000000;
	width: 140px;
	height: 100%;	
	position: absolute;
	top: 100px;
}

/*Defined for individual browser*/
div.TableContainer {
	overflow-x: auto;
	overflow-y: hidden;
	width: 98%;
	border: solid 1px;
}

div.TableContainer#INDIDE{
	width: 85%;
	height: 120px; 
}

.scrollContent {
 overflow-x:hidden;
 overflow-y:scroll;
 display:block;
 width:100%;
}

DIV.BgtDivBottom {
	padding: 0%;
	text-align: justify;
	background-color: #ffffff;
	color: #000000;
	position: absolute;
	left: 5px;
	width: 99%;
	height: 75%;
	top: 128px;
	overflow: none;
	left:5px;
}

DIV.BgtTabFormBotN {
	padding: 0%;
	text-align: justify;	
	background-color: #ffffff;
	color: #000000;
	position: absolute;
	width: 99%;
	height: 75%;
	top: 187px;
	left:5px;
	overflow: hidden;
	border-collapse: separate;
}
DIV.BgtTabFormBotN_bgt {
	top: 171px;
}


DIV.BgtTabFormN {
	padding: 0%;
	text-align: justify;
	background-color: #ffffff;
	color: #000000;
	position: absolute;
	left: 2px;
	width: 99%;
	height: 75%;
	top: 145px;
	overflow-x: auto;
	overflow-y: hidden;
	border-collapse: separate;
}

DIV.BgtTabFormN_Managebudgets{top:130px;}

DIV.BgtComb {
	visibility: visible;
	margin-left: 0px;
	position: absolute;
	top: 65px;
	margin-top: -8px;
	width: 98%;
	height: 75%;
	overflow-x: auto;
	overflow-y: hidden;
}

DIV.BgtComb_CombinedBgt {
	top:95px
}

DIV.BgtTopGrey {
	visibility: visible;
	border-collapse: collapse;
	padding: 0%;
	position: absolute;
	background-color: #ffffff;
	overflow: auto;
	top: 5px;
	height: 130px;
	width: 98%;
}
DIV.BgtTopGrey table {
    border: 1px solid #9D9D9D;
}

DIV.BrowserTopN {
	padding:0px;
	visibility: visible;
	position: absolute;
	overflow: auto;
	top: 60px;
	height: 140px;
	width: 100%;
	left: 5px;
	bottom:0px;
}

DIV.BrowserTopN_RR_1 { top:70px; }

DIV.BrowserBotN {
	padding:0px;
	text-align: justify;
	color: #000000;
	position: absolute;
	left: 5px;
	width: 99%;
	height: 84%;
	top: 119px;
	overflow: auto;
}

DIV.BrowserBotN_FLaddfield_1{top:133px;}
DIV.BrowserBotN_FLsetting_1{top:184px;}
DIV.BrowserBotN_CL_1{top:127px; overflow-y:hidden;}
DIV.BrowserBotN_CL_2{top:127px; height:78%;}
DIV.BrowserBotN_FL_1{top:128px; height:82%;}
DIV.BrowserBotN_S_1{top:128px; height:85%;}
DIV.BrowserBotN_S_2{top:143px;}
DIV.BrowserBotN_S_3{top:128px; height:80%;}
DIV.BrowserBotN_S_4{top:103px;}
DIV.BrowserBotN_BGT_1{top:127px;}
DIV.BrowserBotN_MI_4{top: 118px;}
DIV.BrowserBotN_RC_1{top:99px;}
DIV.BrowserBotN_RC_2{top:99px;}
DIV.BrowserBotN_M_1{top:130px;}
DIV.BrowserBotN_M_2{top:128px;}
DIV.BrowserBotN_D_1{top:110px; height:85%;}
DIV.BrowserBotN_AdQ_1{top:120px;}
DIV.BrowserBotN_top1 {top: 118px;}
DIV.BrowserBotN_PD_top1 {top: 146px;}
DIV.BrowserBotN_SiH_1{top: 176;}
DIV.BrowserBotN_RR_1{top:111px;}

DIV.BrowserBotN_Managemilestone{top:177px;}
DIV.tabFormTopN {
	visibility: visible;
	position: absolute;
	overflow: auto;
	top: 97px;
	height: 150px;
	left: 5px;
	width:99%;
	/* background-color:#f7f7f7; */
	color:#A7001B;
}
DIV.tabFormTopN_PA_sub{top:97px;}
DIV.tabFormTopN_PAS{top:98px;}
DIV.tabFormTopN_PS{top: 101px;}

DIV.tabFormBotN {
	padding: 0%;
	text-align: justify;
	/* background-color: #f7f7f7; bgClrCls */	
	color:#A7001B;
	position: relative;
	left: 5px;
	width: 99%;
	height: 67%;
	top: 117px;
	overflow: auto;
	clear:both;
}
DIV.tabFormBotN_2 {
	padding: 0%;
	text-align: justify;	
	color:#A7001B;
	position: relative;
	left: 5px;
	width: 99%;
	height: 45%;
	top: 117px;
	overflow: auto;
	clear:both;
}
DIV.tabFormBotN_PSc_1{height: 65%;}

DIV.tabFormBotN_add {
	padding: 0%;
	text-align: justify;
	background-color: #f7f7f7;
	color:#A7001B;
	position: relative;
	left: 5px;
	width: 99%;
	height: 80%;
	top: 100px;
	overflow: auto;
	clear:both;
}
DIV.tabFormBotN_PA_1{top:152px;}
DIV.tabFormBotN_FRB_1{top:121px;}
DIV.tabFormBotN_PF_1{top:56px;}
DIV.tabFormBotN_PF_2{top:60px;}
DIV.tabFormBotN_FLaddfield_1{top:219px;}
DIV.tabFormBotN_SB_1{top: 166px;}
DIV.tabFormBotN_SB_2{top: 161px; height:72%;}
DIV.tabFormBotN_MI_1{top: 193px;}
DIV.tabFormBotN_MI_2{top: 164px; height:72%;}
DIV.tabFormBotN_MI_3{top: 225px;}
DIV.tabFormBotN_P_1{top: 228px; height:70%;}
DIV.tabFormBotN_P_2{top: 140px; height:74%;}
DIV.tabFormBotN_P_3{top: 96px; height: 80%;}

DIV.tabFormBotNInv {
	padding: 0%;
	text-align: justify;	
/*	background-color: #f7f7f7; bgclrcls*/
	color:#A7001B;
	position: absolute;
	left: 2px;
	width: 99%;
	height: 63%;
	top: 280px;
	overflow: auto;	
}

div.tabFormBotN_adventnew_1{height:75%;}