

table.pie   {width: 300px; height: 200px; border-collapse: collapse; margin-left: 10px; font-size: 1em;}
table.bar   {width: 300px; height: 200px; border-collapse: collapse; margin-left: 10px; font-size: 1em;}


/*body    { font-size: 62.5%; font-family: Verdana, sans-serif; }

td, th  { text-align: center; border: 1px solid #ddd; padding:2px 5px; font-size: 1em; padding: 2px; width: 13%; }
th      { background-color:#f4f4f4; }
caption {margin: 1.5em 0 .5em; font-size: 1.5em; font-weight: bold; }*/


/* Common charts styles */
.visualize { margin: 30px 0 0 20px; }
.visualize { border: 1px solid #888; position: relative; background: #fafafa; }
.visualize canvas { position: relative; float: top }
.visualize ul,.visualize li { margin: 0; padding: 0;}

/* Pie charts legend customizations */
.visualize-pie .visualize-info     { top: 10px; border: 0; right: auto; left: 10px; padding: 0; background: none; }
.visualize-pie .visualize-title    { font-weight: bold;}
.visualize-pie ul.visualize-key li { float: none; }

/* Bar charts legend customizations */
.visualize-bar .visualize-info     { top: 10px; border: 0; right: auto; left: 10px; padding: 0; background: none; }
.visualize-bar .visualize-title    { font-weight: bold; } 
.visualize-bar ul.visualize-key li { float: none; }