	.portletcolumn { width: 45%; height:50%; float: left; padding-bottom: 100px;border:none; }
	.portletcolumn1 { width: 95%; height:50%; float: left; padding-bottom: 100px;border:none; }
	.portletcolumn2 { width: 45%; float: left; padding-bottom: 100px;border:none;}
	.portletcolumn3 { width: 30%; float: left; padding-bottom: 100px;border:none;}
	.portletcolumn4 { width: 20%; float: left; padding-bottom: 100px;border:none;}
	
	.portlethidden{ visibility: hidden; display:none;}
	
	.portlet {width:98%;height:auto; margin: 0 1em 1em 0; border:1 solid ; float:left;position:relative;/*font-size:1em;*/}
	.portlet-header { margin: 0.3em;padding-bottom: 4px; padding-left: 0.2em; position:relative; }
	.portlet-header .ui-icon { float: right;  }
/*	#
	.portlet-content { height:400px; padding: 0.4em; position:relative;overflow:auto;font-size:12px; }
	.portlet-content1 { height:450px; padding: 0.4em; overflow:auto;font-size:12px; }
*/
	.portlet-content {  padding: 0.4em; position:relative;overflow:auto;max-height:85%;
	/*font-size:12px;*/ }
	.portlet-content1 {   height:450px;padding: 0.4em; overflow:auto;
	/*font-size:12px;*/ }
	.portlet-contentsmall {   height:250px;padding: 0.4em; overflow:auto;
	/*font-size:12px;*/ }
	.portlet-contentfull{  height:500px;padding: 0.4em; overflow:auto;
	/*font-size:12px;*/) }
	.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 150px; width: 150px !important; }
	.ui-sortable-placeholder * { visibility: hidden; }
	#resizable { width: 150px; height: 150px; padding: 0.5em; }
	#resizable h3 { text-align: center; margin: 0; }
	.ui-resizable-helper { border: 2px dotted #00F; }
	.portlet-help{text-align: left; vertical-align:top;}
	.portlet-question{text-align: left; vertical-align:top;
	/*font-size:16px;*/
	font-weight:bold;}
	
	.portlet-width100{width:98%;}
	.portlet-widthfull{width:100%;}
 	.width20{width:20%;};
	.portlet-height30{height:300px;overflow:auto;}
 	.portlet-content#Questionnaire {height:200px;overflow:auto;}
 	.portletborder{border: 1px solid ;}
 	.portlet-width50{width:48%;}
 	.portlet-width75{width:75%;}
 	.portlet-width60{width:60%;}
 	.portlet-width80{width:80%;}
 	
 	.modelDialog{width:100%;height:100%;}
 	.portlet-height50{height:45%;}
 	.portlet-height100{height:90%;overflow:auto;}
 	.portlet-height75{height:50%;max-height:350px;overflow:none;}
 	.portlet-height25{height:25%;}
 	
 		
 	
 	.portlet-content1 ul li{list-style-type: disc ; line-height:20px;}
 	