@charset "utf-8";
/* 52framework General StyleSheet - contains styles for all the HTML elements this framework supports */

html, body{
	width:100%;
	height:100%;
	font-family:Avenir LT 45 Book;
	font-size:12px;
	color: #333333;
/*	background: white;*/
}
/*
body, ul#accordion, ul#accordion ul {
	font-family: Calibri, Verdana, Helvetica, Arial, sans-serif;
	font-size:0.9em;
}
*/

/* ** ** Common Addative Classes ** ** */
.left, .float_left  { float:left	}
.right { float:right;	}
.float_right { float:right;}
.clear { clear:both; display:block; overflow:hidden; visibility:hidden; height:0px;}
.hide  { display:none	}

.align_right    { text-align:right;	  }
.align_left     { text-align:left;	  }
.align_center   { text-align:center;  }
.align_justify  { text-align:justify; }

.valign_middle {vertical-align:middle;}
.valign_top {vertical-align:top;}

a {	color:#525252;	}
a:hover, a:focus { text-decoration:underline;}
a:active, a:visited { }

blockquote {
		margin:5px; 
		padding:10px;
		/*font-size:1.50em;*/ 
		color:#999; 
		font-style:italic; 
		line-height:1.3em; 
		width:100%; 
		quotes:none;
	}
	blockquote.left {border-right:1px dashed #ccc; width:35%;} /* float blockquote left, and set width */
	blockquote.right {border-left:1px dashed #ccc; width:35%;} /* float blockquote right and set a width */

/* ** ** Header Styles ** ** *
h1, h2, h3, h4, h5 {margin:0 0 0.5em; line-height:1.1em;}
h1 {	font-size:2.0em;} 
h2 {	font-size:1.75em;} 
h3 {	font-size:1.5em;} 
h4 {	font-size:1.25em;} 
h5 {	font-size:1.0em;} 
h6 {	font-size:0.9em;}*/
h1{font-family:Avenir LT 45 Book;font-size: 20px;}
h2{font-family:Avenir LT 45 Book;font-size: 16px;}
h3{font-family:Avenir LT 45 Book;font-size: 14px;}
/* ** ** ul li's ** ** */
ul li
{
	margin-left:5px;
/*	font-size:0.9em;*/
}

/* ** ** custom select color ** ** */
::selection {
	background: #525252; /* Safari */
	}
::-moz-selection {
	background: #525252; /* Firefox */
	color:#fff;
}
/* ** ** paragraph styling ** ** 
p {margin:0 0 1.52em;}
	p img.left {float:left;margin:1.52em 1.52em 1.52em 0;padding:0;}
	p img.right {float:right;margin:1.52em 0 1.52em 1.52em;}
*/

p { height:30px; font-weight:bold; /*font-size:1em;*/ color: #384313;}
p a, p a:link, p a:visited {color: #384313;}
p a:hover, p a:active {	color: #8ca534; text-decoration:none;}


strong   		{	font-weight:600;}
em, dfn  		{	font-style:italic;}
dfn 	 		{   font-weight:600;}
sup, sub 		{   line-height:0;}
abbr, acronym   {	border-bottom:1px dashed #ccc;}
address 		{	margin:0 0 1.5em;font-style:italic;}
del 			{	color:#666;}
pre, code, tt   {	/*font-size:1em;*/line-height:1.5; display:block;}
code 			{	background-color:#d5d2d8; display:block; padding:0px 2px 4px 26px; background:#fff url(code.jpg) no-repeat left top; line-height:1.67em;}
pre 			{	margin:1.5em 0;white-space:pre;}


.padding10px{ padding:10px;}
.padding20px{ padding:20px;}
.hidden{ visibility:hidden;}
.visible{ visibility:visible;}

.height_buttons_120{ height:120px;}
.overflow{ overflow:auto;}

.margin10px{margin:10px;}
.margin20px{margin:20px;}
.margin1percent{ margin:1%;}
.marginleft20px{ margin-left:20px;}
.marginright20px{ margin-right:20px;}

.widthauto{ width:auto;}
.width98{ width:98%; margin: 0 auto;}
.hightauto{ height:auto;}
.height90{ height:90%;}
.height100{ height:100%;}


/*.font07em{ font-size:0.7em;}
.font08em{ font-size:0.8em;}
.font09em{ font-size:0.9em;}
.font1em{ font-size:1.0em;}
.font11em{ font-size:1.1em;}
.font12em{ font-size:1.2em;}
.font13em{ font-size:1.3em;}
.font14em{ font-size:1.4em;}
.font15em{ font-size:1.5em;}
.font16em{ font-size:1.6em;}
.font17em{ font-size:1.7em;}
.font18em{ font-size:1.8em;}
.font19em{ font-size:1.9em;}
.font20em{ font-size:2.0em;}*/
.paddingleft10{ padding-left:10px;}

.borderred{border: 1px solid red;}
.lineheight24{ line-height:24px;}

.textbox50{ width:50px;}
.txtarea75{ width:75px;}

.fontweightbold{ font-weight:bold;}

.studylist{
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
	overflow:auto;
	/*font-size:1.0em;*/
	line-height:22px;
	}

.clearboth{ clear:both;}

.userselection{/*font-size: 1.0em;*/ margin-right: 50px;text-align: right;}
.zindextop {position:relative;z-index:100;}

label.error
{
color:#FF0000;
/*-moz-border-radius: 4px;
-webkit-border-radius: 4px;*/
font-size:12px;
font-weight:500;
}
span.error
{
font-size:12px;
color:#FF0000;
line-height:15px;
font-weight:500;
}

.ui-datepicker {
 /*       font-family:Calibri, Garamond;
        font-size: 1.0em;  */
        margin-left:10px;
        display: none;
     }


/* css for tooltip*/
.hotspot {cursor:pointer}
#tt {position:absolute; display:block; background:url(../images/tooltip/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(../images/tooltip/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(../images/tooltip/tt_bottom.gif) top right no-repeat; overflow:hidden}     
 
 /* for progress indicator */    
 .progress-indicator {
   top:0;
   right:0;
   width:100%;
   height:100%;
   position:fixed;
   text-align:center;
   /* IE filter */
   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
   -moz-opacity:0.5;    /* Mozilla extension */
   -khtml-opacity:0.5;  /* Safari/Conqueror extension */
   opacity:0.5; /* CSS3 */
   z-index:1000;
   background-color:white;
   display:none;
 }

 .progress-indicator img {
  /* margin-top:75px;*/
   margin-top: 20%;
 }
 
.ui-icon {float:left;}

.lookupmenu {
    left: -5px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -5px;
}
.lookupmenu form input[type="text"]{
	font-family:Avenir LT 45 Book;
	font-size:12px;
}
.Lcolumn{
	width: 49.5%;	
	float: left;
	position: relative;
}
.Rcolumn{
	width: 49.5%;
	float: left;
	margin-left: 1%;
}
.MColumn{
	width: 10px;
	float: left;
	
}
.submenu{
	margin-top: 5px;
}
.dropmenu li a {
    display: block;
    height: 22px;
}
.portlet-content td{
    padding: 5px 0px 5px 5px; 
}
.divmain{
	/*height: 100%;*/
    width: 100%;
}
.highlightCont{
	background-color:#5F4921;
	color: white;
}	
 div#added1Div {
     overflow-x:auto;  
     margin-left:15em;
     overflow-y:hidden;
     border-left: .1em solid #CDCCCB;
        
}
.headcol {
    position:absolute;
    width:15em;
    margin-left:.1em;
    left:0;
    top:auto;
    text-align:center;
    vertical-align:top;
    border-left: .01em solid #CDCCCB;
    border-right: .01em solid #CDCCCB;
    border-top: .1em solid #CDCCCB;/*only relevant for first row*/
	border-bottom-width:0px;
    margin-top:0em; /*compensate for top border*/
}
.headcolCri {
    position:absolute;
    width:15em;
    margin-left:1em; 
    left:0;
    top:auto;
    text-align:center;
    vertical-align:top;
    border-left: 0em solid #CDCCCB; 
    border-right: 0em solid #CDCCCB; 
    border-top:.1em solid #CDCCCB;/*only relevant for first row*/
	border-bottom-width:0px;
    margin-top:0em; /*compensate for top border*/
} 

/*for complete req info*/
#mrqform select{width:auto;}
#nonmemberPdfDiv table{width:auto;}
.tabnormal{background-color:#8db4dc;}
.tabactive{background-color:#6b9ed1;}
#nonmemberPdfDiv td {padding: 5px;border: 1px solid #1A598B;-moz-border-radius: 4px 4px 0 0;cursor: pointer;}
#nonmemberPdfDiv td:hover {background-color: #6b9ed1;}
#nonmemberPdfDiv fieldset {-moz-border-radius: 0 4px 4px 4px;border: 1px solid #1A598B;margin: 0;}
.finalreviewmodel {width: 100%;height: 100%;margin: 0;}  
.finalreview td {padding: 5px;}
.finalreview ul li {list-style: none;padding: 5px;margin-left: 50px;}
.finalreview li {background: none;}
.finalreview form label {height: auto;}
.mainbox{width:100%;margin:0 auto;}
.left_box{width:49%;float:left;border-right:1px solid #000;padding-right:5px;}
.right_box{padding-left:5px;width:49%;float:right;}
.criHighlight{border: 1px solid red;}
form input[type="text"].criHighlight{border: 1px solid red;}

/*End Of complete req info*/

/*Styles for Minimum Criteria*/
#cbuMinimumCriteria #nonmember table{width:auto;}
#cbuMinimumCriteria.tabnormal{background-color:#8db4dc;}
#cbuMinimumCriteria.tabactive{background-color:#6b9ed1;}
#cbuMinimumCriteria #nonmember td {padding: 5px;border: 1px solid #1A598B;-moz-border-radius: 4px 4px 0 0;cursor: pointer;}
#cbuMinimumCriteria #nonmember td:hover {background-color: #6b9ed1;}
#cbuMinimumCriteria #nonmember fieldset {-moz-border-radius: 0 4px 4px 4px;border: 1px solid #1A598B;margin: 0;}
#cbuMinimumCriteria #leftcont input[type='text']{width:50px;}
#cbuMinimumCriteria #leftcont{overflow-y: auto;}
#cbuMinimumCriteria #minicri td{padding:5px 0 5px 0;}
#cbuMinimumCriteria form .notmet{background:#D49DAB;padding: 0px;}
#cbuMinimumCriteria form input[type="text"][disabled="disabled"].notmet{background:#D49DAB;}
#cbuMinimumCriteria .minimumcriteria form label{padding: 1px;}
#cbuMinimumCriteria .breakcheckbox label{white-space: nowrap;}
#cbuMinimumCriteria #leftcont{border-right: 1px solid #333333;}
#cbuMinimumCriteria #MC_divlabParent select{width:auto;}
#cbuMinimumCriteria #MC_divlabParent input{width:auto;}
/*End of Minimum Criteria*/