@charset "utf-8";
/* 52framework grid

16 cols by 60px, with an 10px gutter
inspired by the http://www.1kbgrid.com/

*/

.col {
	margin-left:10px; margin-right:10px;
	display: inline;
	overflow: hidden;
	float: left;
	position: relative;
}

.row{
	/*width:960px;*/
	width:100%;
	margin: 0 auto;
	overflow: hidden;
}
.row .row {
	margin: 0 -10px;
	width: auto;
	display: inline-block;
}

/* Column widths, and element width based on grid 

.col_1, .width_1	 {	width:40px;	 }
.col_2, .width_2 	 {	width:100px; }
.col_3, .width_3 	 {	width:160px; }
.col_4, .width_4 	 {	width:220px; }
.col_5, .width_5	 {	width:280px; }
.col_6, .width_6	 {	width:340px; }
.col_7, .width_7	 {	width:400px; }
.col_8, .width_8	 {	width:460px; }
.col_9, .width_9 	 {	width:520px; }
.col_10, .width_10	 {	width:580px; }
.col_11, .width_11	 {	width:640px; }
.col_12, .width_12	 {	width:700px; }
.col_13, .width_13	 {	width:760px; }
.col_14, .width_14	 {	width:820px; }
.col_15, .width_15	 {	width:880px; }
.col_16, .width_16	 {	width:940px; }
*/


.col_100, .width_100 { width:100%;}
.col_85, .width_85	{ width:85%;}
.col_80, .width_80	{ width:80%;}
.col_75, .width_75	{ width:75%;}
.col_70, .width_70	{ width:70%;}
.col_66, .width_66	{ width:66%;}
.col_65, .width_65	{ width:65%;}
.col_60, .width_60	{ width:60%;}
.col_55, .width_55	{ width:55%;}
.col_50, .width_50	{ width:50%;}
.col_49, .width_49	{ width:49%;}
.col_48, .width_48	{ width:48%;}
.col_47, .width_47	{ width:47%;}
.col_46, .width_46	{ width:46%;}
.col_45, .width_45	{ width:45%;}
.col_40, .width_45	{ width:40%;}
.col_35, .width_35	{ width:35%;}
.col_33, .width_33	{ width:33%;}
.col_32, .width_32	{ width:32%;}
.col_30, .width_30	{ width:30%;}
.col_25, .width_25	{ width:25%;}
.col_20, .width_20	{ width:20%;}
.col_15, .width_15	{ width:15%;}
.col_0, .width_0	{ width:0%;}


.height_100  { height:100%;}
.height_90  { height:90%;}
.height_88  { height:88%;}
.height_80  { height:80%;}
.height_75  { height:75%;}
.height_66  { height:66%;}
.height_50  { height:50%;}
.height_45  { height:45%;}
.height_33  { height:33%;}
.height_30	{ height:30%;}
.height_25	{ height:25%;}
.height_500	{ height:500px;}

