
ul.dropmenu{
	position: relative;
	margin: 0px;
	padding: 1px 0px 0px 0px;
	background:transparent url(../images/gradient.png) repeat-x scroll 0 0;
	display:block;
	height: 35px;
}
.dropmenu li{
	position: relative;
	list-style: none;
	float: left;
	margin: 0px;
	padding: 0px;
	z-index: 2;
}
.dropmenu li a{
	height: 22px;
	padding: 9px 20px 0px 5px;
	display: block;
	cursor: point;
	border-right: solid 1px #CCC;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	
}

.dropmenu ul{
	position: absolute;
	display: none;
	width: 140px;
	padding: 0px;
	margin: 0px;
	border-bottom: 1px solid #ccc;
	background: #FFFFFF url(../images/gradient.png) repeat-x scroll 0 0;
}
.dropmenu ul li{
	border: 0;
	float: none;
}
.dropmenu ul a {
  border: 1px solid #ccc;
  border-bottom: 0;
  white-space: nowrap;
  display:block;
  color: #0657AD;
  text-decoration: none;
  text-transform: none;
  background: #FFFFFF url(../images/gradient.png) repeat-x scroll 0 0;
}

.dropmenu ul a:hover {
	color:#F67A00 !important;
	text-decoration: none;
	background-color: #F0F0F0;
	background-image: none;
}
.dropmenu input[type=text]{
		-moz-border-radius: 4px; 
		-webkit-border-radius: 4px; 
		border-radius:4px; 
		height:25px; 
		margin:3px 0px 0px 10px;
		border:1px solid #ccc;
		padding:0px 0 0px 0px;
		background-color:#dfdfdf;
		color:#333333;
		font-family:Calibri, sans-serif;
		font-size:1em;
		font-weight:normal;
	}

	


