@font-face {
    font-family: 'HelveticaNeueLTStd53Extended';
    src: url('helveticaneueltstd-ex-webfont.eot');
    src: url('helveticaneueltstd-ex-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-ex-webfont.woff') format('woff'),
         url('helveticaneueltstd-ex-webfont.ttf') format('truetype'),
         url('helveticaneueltstd-ex-webfont.svg#HelveticaNeueLTStd53Extended') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'HelveticaNeueLTStd43LtEx';
    src: url('helveticaneueltstd-ltex-webfont.eot');
    src: url('helveticaneueltstd-ltex-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-ltex-webfont.woff') format('woff'),
         url('helveticaneueltstd-ltex-webfont.ttf') format('truetype'),
         url('helveticaneueltstd-ltex-webfont.svg#HelveticaNeueLTStd43LtEx') format('svg');
    font-weight: normal;
    font-style: normal;

}
html {
    overflow-y: scroll;
}
body{margin:0; padding:0; font-family:Avenir,Arial, Helvetica, sans-serif; font-size:14px; color:#000;}
img{border:none; vertical-align:middle; outline:none;}
p,h1,h2,h3,h4,h5,h6{margin:0; padding:0; font-weight:normal;}
.wrapper{width:950px; margin:auto; position:relative;}
.header{width:950px; margin:auto;}
.logo{ width:260px; height:57px; padding: 30px 0 0 0; float:left;vertical-align: middle;}
.welcome{width:600px; float:left; height:37px; vertical-align:bottom; font-family:'HelveticaNeueLTStd43LtEx'; color:#60604b; font-size:24px; padding:79px 0 0 80px;}
.welcome strong{font-family:'HelveticaNeueLTStd53Extended'; color:#60604b;}
.welcome strong font{font-family:'HelveticaNeueLTStd53Extended'; color:#025293;}
.lt-border{width:80%; background:url(../images/bg-top-nav.jpg) repeat-x; height:21px; overflow:hidden; float:left;}
.nav-border{background:url(../images/bg-top-nav.jpg) repeat-x; height:21px; width:760px;float:left; border-right:1px solid #b1afa3;}
.footer-nav-border{width:100%; margin:auto;}
.bg-footer{background:url(../images/bg-top-nav.jpg) repeat-x; height:21px; width:80%; float:right; border-left:1px solid #b1afa3; border-right:1px solid #b1afa3; z-index:-9999px;}

.container{width:950px; margin:auto; }
.left-container{ width:950px; margin:auto;}
.clr{clear:both;}
.lt-btm-border{width:50%;background:url(../images/bg-bottom.jpg) repeat-x #D4CCDB; overflow:hidden;}
.bottom-panel{ width:100%;}
.lt-btm-panel{width:650px; float:left;  background:url(../images/bg-bottom.jpg) repeat-x #D4CCDB; overflow:hidden;}
.curv1{background:url(../images/img-curv1.png) no-repeat top left; height:10px; width:10px;}
.curv2{background:url(../images/img-curv2.png) no-repeat top right; height:10px; width:10px;}
.curv3{background:url(../images/img-curv3.png) no-repeat top left; height:10px; width:10px;}
.curv4{background:url(../images/img-curv4.png) no-repeat top right; height:10px; width:10px;}

.rt-btm-panel{width:271px; float:left; background:#fff;}
.bg-white{background:#fff;}



.single-prod{width:700px; float:left; margin:15px 0 15px 0;}
.single-prod ul{margin:0; padding:0px 0 10px 300px; list-style:none;}
.single-prod ul li{margin:0; padding:0 0 0 15px; background:url(../images/nmdpbullets.jpg) no-repeat left 8px;font-family:Avenir,Arial, Helvetica, sans-serif; font-size:14px; color:#000; line-height:24px;}
.single-prod p{ font-family:Avenir,Arial, Helvetica, sans-serif; font-size:12px; color:#000; padding:0 0px 10px 0; line-height:18px;}
/*
.helix{ width:251px; height:326px; position:absolute; left:605px; top:0; margin:0; padding:180px 0 0 0;  background:url(../images/helix.jpg) bottom no-repeat; z-index:-1000;}
*/

.tbbg{margin:19px 0 0 300px;}
.ques{width:539px; margin:19px auto; padding:0; .margin:17px auto; font-size:12px; color:#000;}
.input1{width:219px; padding:2px;/* border-radius:5px 5px 5px 5px;*/ border:1px solid #dbdad9;}
.copyright{width:33%; position:absolute; float:left; top:404px; left:0; font-size:12px; color:#fff; z-index:999 !important;}
.version{font-size:12px; color:#fff; padding:10px 24px 10px 0; width:210px; float:right; text-align:right;}
.suggestion{ width:98%; text-align:right; color:#fff; font-size:11px; padding:3px 10px 3px 0px;}

@-moz-document url-prefix() {
    .ques {
	     margin: 25px auto;
    }
	.copyright{width:35%; position:absolute; float:left; top:396px; left:0; font-size:12px; color:#fff; z-index:999 !important;}
}

.lt-btm-grey-border{width:50%;background:url(../images/bg-bottom-grey.jpg) repeat-x #adaca0; overflow:hidden;}
.lt-btm-grey-panel{width:560px; float:left;  background:url(../images/bg-bottom-grey.jpg) repeat-x #adaca0; overflow:hidden;}


input{border:none;}
.ui-button{background:#025293; cursor:pointer;  font-family:Avenir,Arial, Helvetica, sans-serif;font-weight:bold;font-size:14px; color:#fff; padding:3px 10px; -moz-border-radius:3px;}

INPUT:focus 
{
background-color: #eeeeee;
}
