
/* root element for tabs  */
.pendingtabs{
	background: #F7F7F7 none repeat scroll 0 0 !important;
	border:1px solid #D2D2D2 !important;
}
.pendingtabsul{
	background:none !important;
	background-image:none !important;
	border:none !important;
}
.pendingtabsdiv,#NA-Cbu-tbl_paginate div,#cordentrytbl_paginate div,#naCBUStatFilter,#cordStatFilter{
	/*background:none !important;
	background-image:none !important;
	*/border:none !important;
}
#cord-entry,#sctod,#formReceived,#advisories{
	border:1px solid #D2D2D2 !important;
}
#cordentrytbl{
	width:100% !important;
}
#not-available-cbu{
	background: #F7F7F7 none repeat scroll 0 0 !important;
	border:1px solid #D2D2D2 !important;
}
#ulSelectColumn2 div,#ulSelectColumn1 div{
	background:none !important;
	border:none !important;
}
#NA-Cbu-tbl_wrapper,#NA-Cbu-tbl_length,#NA-Cbu-tbl_filter,#NA-Cbu-tbl_info,
#cordentrytbl_wrapper,#cordentrytbl_length,#cordentrytbl_filter,#cordentrytbl_info,#fundingtbl_wrapper,#fundingtbl_filter,#fundingrptscheduled_filter{
	background:none !important;
	border:none !important;
}
#cord-entry,#sctod,#formReceived,#not-available-cbu,#funding-guideline,#schedule-funding-report,#funding-report-scheduled,#funding-report-his{
	border:1px solid #D2D2D2 !important;
}
#NA-Cbu-tbl{
	width:100% !important;
}

#funding-guideline div,#schedule-funding-report div,#funding-report-scheduled div,#funding-report-his div{
	border:none !important;
}
#prod-recovery-form{
	background: #F7F7F7 none repeat scroll 0 0 !important;
	border:1px solid #D2D2D2 !important;
}
#funding{
	background: #F7F7F7 none repeat scroll 0 0 !important;
	border:1px solid #D2D2D2 !important;
}

#cordentrytbl_paginate,#NA-Cbu-tbl_paginate{
	background:none !important;
	border:none !important;
}
.grey-style{background:url("./../images/skin_bethematch/bg-tbheading.jpg") repeat-x scroll 0 0 transparent !important; border:1px solid #CCCC31 !important;}
.grey-style a span{color:#979616;}
.grey-style a span:hover{color:red;}
.highlight-tab{ background:url("./../images/skin_bethematch/tabhover.jpg") repeat-x scroll 0 0 transparent !important; border:1px solid #CCCC31 !important; }
.highlight-tab a span{font-weight:bold; color:#ffffff;}
.highlight-tab a span:hover{color:red;}
.highlight-border{border:2px solid #ABA7A7 !important;}
.portletpending {width:auto;height:auto; margin: 0 1em 1em 0; border:1 solid ; float:left;position:relative;/*font-size:1em;*/}
.portletportletpending-content {  padding: 0.4em; position:relative;/*overflow:auto;*/max-height:40%;/*font-size:12px;*/ }
.pending-rightdiv{ width: 98%; /*float: left;padding-right: 5px;*/}
.pending-leftdiv{/*width: 19%;*/ float: right;}
.pending-assingnbar{width:96%; padding-top: 5px;/* padding-left: 19%;*/ float:left; margin:1em !important;}
.pending-maincontainer{background: #f7f7f7;width:100% !important;}
.pendingtable{width:100% !important;overflow-x:scroll;display:table-cell;}

/**********************for mozila*************************/
.activereq-fieldset{height:auto; margin: 0 1em 3em 0; background:#fff;position:relative;width:98.5% !important;display:table-header-group;/*font-size:1em;*/}
.otherreq-fielset{display:table-cell;margin: 0 1em 1em 0; background:#fff;position:relative;}
/**********************for ie*************************/
.activereq-fieldset-ie{height:auto; margin: 0 1em 1em 0; background:#fff;position:relative;width:98% !important;/*font-size:1em;*/}

.filterbutton{
	background:#bee5e8;
	border:1px solid #0073ae;
	color: black;
	font-family:/*Verdana, Arial, Helvetica, sans-serif;*/avenir;
	font-size: 8pt;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 3px 10px;
}
.filterbutton:hover{
	background-color:#7dcfd5;
}

.pending { 
	background:#fff;
	border:1px solid #000000 !important;
	color:#000;
	list-style:none; 
	margin:0 !important; 
	padding:0;
	height:auto;
	width:98%;
	position:relative;
	overflow-x:scroll;
}
.pendingtabs a{
	/*color: #000000 !important;*/
}

.pending #divider ul { 
	background:#fff none repeat scroll 0 0;
	padding: 0.2em !important;
	border:none;
	height:30px;	 
}

.pending  #divider li{ 
	background:#9999FF url(../images/mgPanelimages/nmdb.png) repeat-x scroll 50% 50% !important;
	color:#fff;
	border:1px solid #000000 !important;
	float:left;	 
	text-indent:0;
	padding-bottom:0px;
	margin:0 !important;
	list-style-image:none !important; 
	height:auto;	 
	top:0;	 
}

.pending  #divider li:hover{
	background:#83B2DC none repeat scroll 0 0 !important;
}

.pending   #divider li:visited{
	background:brown none repeat scroll 0 0 !important;
}

.pending   #divider li:active{
	background:#fff none repeat scroll 0 0 !important;
}

.pending a{
	color:#000 !important;
	padding: 0.8em 5em !important;
}

.pending a:hover{
	color:#fff !important;
}


.pending a:active{
	color:#660033 !important;
}

.pending a:selected{
	color:#000066 !important;
}





/* width 1 */
.pendingtabs .w1 			{ background-position: -519px 0; width:134px; }
.pendingtabs .w1:hover 	{ background-position: -519px -31px; }
.pendingtabs .w1.current { background-position: -519px -62px; }

/* width 2 */
.pendingtabs .w2 			{ background-position: -366px -0px; width:154px; }
.pendingtabs .w2:hover 	{ background-position: -366px -31px; }
.pendingtabs .w2.current { background-position: -366px -62px; }


/* width 3 */
.pendingtabs .w3 			{ background-position: -193px -0px; width:174px; }
.pendingtabs .w3:hover 	{ background-position: -193px -31px; }
.pendingtabs .w3.current { background-position: -193px -62px; }

/* width 4 */
.pendingtabs .w4 			{ background-position: -0px -0px; width:194px; }
.pendingtabs .w4:hover 	{ background-position: -0px -31px; }
.pendingtabs .w4.current { background-position: -0px -62px; }


/* initially all panes are hidden */ 
.panes .pane {
	display:none;
}


/* CSS Document */

.orders-landing{
	height:500px;
}
.workflow-landing{
	height:500px;
}
#left{
	width:25% !important;
	float:left;
	/*background:none repeat scroll 0 0 #fff !important;
	border-left:1px solid #cccccc !important;
	border-top:1px solid #cccccc !important;
	border-bottom:1px solid #cccccc !important;
	padding-left:3px;
	padding-right:3px;
	padding-top:10px;
	padding-bottom:3px;
*/}
#right{
	width:45% !important;
	float:right;
	/*background:none repeat scroll 0 0 #fff !important;
	border-right:1px solid #cccccc !important;
	border-top:1px solid #cccccc !important;
	border-bottom:1px solid #cccccc !important;
	padding-left:3px;
	padding-right:3px;
	padding-top:10px;
	padding-bottom:3px;
*/}
#center{
	width:30% !important;
	float:left;
	/*background:none repeat scroll 0 0 #fff !important;
	border-top:1px solid #cccccc !important;
	border-bottom:1px solid #cccccc !important;
	padding-left:3px;
	padding-right:3px;
	padding-top:10px;
	padding-bottom:3px;
*/}

#wrapper-landing{
	width:100% !important;
}

.historycls{
border:1px solid #d2d2d2 !important;
}
.detailhstry{
border:1px solid #d2d2d2 !important;
padding:0px 1px 5px 2px;
overflow-y:scroll;
}
.fdiv{
	width:100%!important;
	vertical-align:top;
	float:right;
}
.sdiv{
	width:100%!important;
	vertical-align:top;
	float:right;
	position:relative;
}
.tdiv{
	width:100%!important;
	vertical-align:top;
	float:right;
}
.workflowtblcls,.ordertblcls{
	overflow-x:auto;
	display:inline !important;
}
.LandingPageHighResolCls{
	display:table;
}
.LandingPageLowResolCls{
	display:table-cell;
}
.landingpage-ieclass{
	overflow-x:scroll;
}
.filterDiv-ie{
	padding-left: 70%;
}
.dateDivClass{
	background: none repeat scroll 0 0 #D2D2D2 !important;
	padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    position: fixed;
    width: 46%;
    z-index: 8;
    border: none !important;
}
div.centered {
    /*background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DDDDDD;*/
    display: block;
    left: 35%;
    position: fixed;
    top: 50%;
    width: 350px;
}
.hide-data{
	display: none;
}
.show-data{
	display: block;
}
.ui-icon-minusthick-lp{
	background-position:-64px -128px;
}
.ui-icon-plusthick-lp{
	background-position:-32px -128px;
}
.ui-icon-minusthick-lp, .ui-icon-plusthick-lp{
	cursor:pointer;
}
#userIdval,#AssignTo1{
width:100%;
}
.searchableSelect{
width:100%;
}
.closeDiv{
	float: right;
	position: relative;
	z-index: 1px;
	border: 1px solid #fff !important;
	top: -5px;
	cursor: pointer;
}
#currentRequestProgressMainDiv{
	overflow: visible !important;
}
#tableLookupTbody td,#ordTbody td{
    padding: 0px 10px !important;
    white-space: nowrap; 
    
}
#ordTbody td{
    padding: 4px 10px !important;
    white-space: nowrap; 
}
#not-available-cbu div{
	background: none repeat-x scroll 0 0 transparent !important;
}
.alignmentClass{
	max-width:90px;
	word-wrap: break-word; 
}