/******************************************************************************************
*******************************************************************************************
GARUDA STYLES STARTS
*******************************************************************************************
*****************************************************************************************/
.maincontainer table{ 
	width:100%;
	border-top:0px;
	border-right:0px;
	border-bottom:0px;
	border-left:0px;
	border-spacing:0px;
	font-family:Avenir LT 45 Book;/*Verdana, Arial, Helvetica, sans-serif, Georgia;*/
	font-size:12px;
}
table.display thead th {
	font-weight: bold;
	cursor: pointer;
	* cursor: hand;
	 height:30px;
	 vertical-align:middle; /*padding:2px;*/
}
table.displaycdr thead th {
	cursor: pointer;
	* cursor: hand;
	 height:30px;
	 font-family:Avenir LT 45 Book;/*Verdana, Arial, Helvetica, sans-serif,Georgia;*/
	 font-size:12px;
	 /*padding: 0 5px 0 5px;*/
}
table.displaycdr td {
	padding: 3px 10px;
	 font-family:Avenir LT 45 Book;/*Verdana, Arial, Helvetica, sans-serif,Georgia;*/
	 font-size:12px

}
.postionth {
	padding: 5px 18px;
    text-align: center;
    vertical-align: middle;
}


form fieldset {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	padding:5px;
}

form fieldset legend {
	font-family:Avenir LT 45 Book;/*Verdana, Arial, Helvetica, sans-serif,Georgia;*/
	font-size:12px;
	font-weight: bold;
	padding:0 5px;
}

form button,input[type=button],input[type=submit],form input[type=file] {
	font-family:/*Verdana, Arial, Helvetica, sans-serif;*/Avenir LT 45 Book;
	font-size: 14px;
	/*-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;*/
	padding: 3px 10px;
	cursor: pointer;
}
form input[type=button]:focus,form input[type=submit]:focus{
	font-family: /*Verdana, Arial, Helvetica, sans-serif;*/Avenir LT 45 Book;
	font-size: 14px;
	/*-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;*/
	padding: 3px 10px;
}

.button{
	font-family:/*Verdana, Arial, Helvetica, sans-serif;*/Avenir LT 45 Book;
	font-size: 14px;
	/*-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;*/
	padding:3px 10px;
	cursor: pointer;
}

.maincontainer{
	font-family:/*Verdana, Arial, Helvetica, sans-serif;*/Avenir LT 45 Book;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom:0px;
    width: 100%;
}

#cbuCharacteristics td{
	padding: 2px 10px 0px 10px;
}
#cbuIds td{
	 padding: 2px 10px 0;
}

/*File upload Starts*/

.fileinputs {
	position: relative;
}
.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
.fileUpload {
	position: relative;
	text-align: justify;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
	margin-left: 5px;
    margin-top: -4px;
}
form .fakefile input[type=text]{
 /*   -moz-border-radius: 4px 4px 4px 4px;*/
    font-weight: normal;
    margin-bottom: 5px;
    padding: 2px;
    width: 75%;
}
/*File upload End*/

/* Component containers
----------------------------------*/
div.ui-widget {font-family: Avenir LT 45 Book;/*Verdana, Arial, Helvetica, sans-serif,Georgia;*/font-size: 12px;}
div.ui-widget input[type=text],div .ui-widget select,div .ui-widget textarea{ font-family:Avenir LT 45 Book;/* Verdana, Arial, Helvetica, sans-serif,avenir;*/ font-size: 12px; }
div.ui-button-text-only .ui-button-text { padding: 3px 10px;}
div.ui-widget button{font-family:Avenir LT 45 Book;/* Verdana, Arial, Helvetica, sans-serif,avenir;*/ font-size: 14px;}
.ui-widget-header {font-weight: bold; font-family:Avenir LT 45 Book; font-size:16px; padding:4px 0 0 0; height:25px; }
div.ui-widget-header {font-weight: bold; font-family:Avenir LT 45 Book; font-size:16px; padding:4px 0 0 0; height:25px; }
.ui-progressbar .ui-progressbar-value {padding:0px}
Div.ui-widget, span .ui-button-text-only{font-family:Avenir LT 45 Book; font-size:14px;}
.ui-widget .ui-widget, span .ui-button-text-only{font-family:Avenir LT 45 Book; font-size:14px;}
/*For DatePicker*/
.ui-datepicker .ui-datepicker-title select {font-size: 12px;margin: 1px 0;}
.ui-datepicker table {font-size: 12px;}
.ui-icon-plusthick,.ui-icon-minusthick,.ui-icon-newwin,.ui-icon-print{cursor: pointer;}
/*To Hide the Done Button from Jquery-datepicker*/
.ui-datepicker-close{ visibility: hidden; }
.ui-datepicker-trigger { position: relative; left: -24px; top: 5px; }
.hasDatepicker{vertical-align: top;}
form input[type=text].hasDatepicker { width:120px !important;}
input.hasDatepicker { height:30px; margin-bottom:5px; border:1px solid #dbdad9; padding:2px;width:85%;color:#333333;font-weight:normal;font-family:Avenir LT 45 Book;font-size:8pt; }
.ui-datepicker-current{	visibility: hidden; }
.ui-datepicker .ui-datepicker-buttonpane button { float:left; }
.ui-datepicker{ z-index: 9999 !important;}
.ui-widget-overlay{position: absolute;top: -20px;overflow: hidden;left: -5px;}
Div.portlet {margin: 0 3pt 5pt 7pt;}
Div.portletstatus{margin-top: 5pt;}
/* Overriding the default css to fix the bug #10223 */
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary{
	font-weight:bold;
	opacity:1;
}	
/* Static Panel*/
.ui-corner-all{border-radius:0px;}
.columnDiv{
	float: left;
	position: relative;
}
.viewcbutoppanel {
	width: 98%;
	position: relative;
	float: left;
	margin: 10px 0 0 10px;
}
/*.divcdrcolumn{
	float: left;
	position: relative;
	width: 100%;
}
*/.viewcbutoppanel table td{
	padding: 3px 3px 3px 5px;
}
DIV.quicklinkpanel{
	width:98%;
	padding:5px 0px;
	margin:5px 0 0 10px;
}
.cbuDetailsDiv .portlet {
	width:100%;
	height:auto;
	margin: 0 1em 1em 0;
	border:1 solid ;
	float:left;position:relative;
	
}
.cbuDetailsDiv{
	width:98%;
	margin:5px 0 0 10px;
}
/* Action Buttons*/
a.actionbutton {
display: block;
float: left;
height: 24px;
margin:5px 6px 0 0;
padding-right: 25px;
text-decoration: none;
font-family: "Avenir LT 45 Book", sans-serif;
font-size:12px;
}
a.actionbutton span {
display: block;
line-height: 22px;
padding: 0 0 5px 12px;
text-decoration: none;
}
a.actionbutton:hover span {
text-decoration:none;
}
.colheading {
	padding-bottom: 2px;
}
.commentbox{
	background: #7dcfd5;
	z-index:9999;
	border: 1px solid #DBDAD9;
	padding: 2px;
	width: auto;
}

form button[disabled],input[type=button][disabled],input[type=submit][disabled]{
	opacity: 0.35;	
}
#overDiv li{
	margin-left: 20px;
}
.ui-progressbar {
	overflow: hidden;
}
.dynamicForm table{
	border: 1px solid #cdcccb;
	border-collapse:collapse; 
}

.dynamicForm .displaycdr td{
	border-left: 1px solid #cdcccb;
	border-right: 1px solid #cdcccb;
	padding: 10px 5px 10px 10px;
}
.childquestions{
	padding-left: 25px;
}

.showchild{
	display: table-row;
}
.hidechild{
	display: none;
}
.tooltipspan
{
    position: absolute;
    z-index: 0;
    display: block;
    top: 0;
    background-color: transparent;
    cursor: text;
    color: gray;
}

.crossDiv{
	position:absolute;
	left:108px !important;
	top:0;
	cursor:pointer;
	float:right;
	display:inline-block;
	
}
.lineDiv{
		display:inline-block !important;
		left:-15px;
}
/*Cord Entry ProgressBar*/
.posrel{
	position: relative;
	z-index: 100;
	padding:10px 0 0 10px;
	-moz-border-radius:5px;
	left:10px;
}
.elv{
	height: 10px;
	width: 96%;
	position: absolute;
}
/*For Tab Pannal*/
.ui-tabs-panel{
	position: relative;
	top: 10px;
}
.ui-tabs {height: auto;}

.ui-tabs .ui-tabs-nav li{background-color: #dbd97b;}

.ui-tabs .ui-tabs-nav li span{color:#6B6933;font-size: 12px;}

.ui-tabs .ui-tabs-nav li.ui-state-hover{background-color: #cccc31;color: #ffffff;}

.ui-tabs .ui-tabs-nav li.ui-state-hover span{color: #ffffff;font-size: 12px;}

.ui-tabs .ui-state-focus{background-color: #cccc31;}

.ui-tabs .ui-tabs-selected.ui-state-active {background-color: #cccc31;}

.ui-tabs .ui-tabs-selected.ui-state-active span{color: #ffffff;font-size: 12px;}

/**********************************For Application Message**********************************/
img{
	border: none;
}
a img{
	border: none;
}