@CHARSET "utf-8";

#jupiterDIV {
	height: 900px;
}

#searchPanelDIV {
	width: 15%;
	float: left;
}

#dashBoardContentDIV {
	float: right;
	width: 84%;
	height: 95%;
}

#dashBoardTypesDIV {
	height: 10%;
	background-color: grey;
	text-align: center;
}

/*
#searchPanelDIV{text-align : center;}
#statusFiltersContentDIV{text-align :left;}
#searchFiltersDIV{text-align :left;}
*/
label { 
	display: inline-flex;
	width: 95%;
	border: 1px;
    border-radius: 5px;
    margin: 1px;
    padding: 1px;
}

div.dataTables_paginate {
	float: left;
	margin: 0;
}

.ui-accordion-header {
	background: #CCCCCC;
	}
.ui-accordion-header.ui-state-active { 
	background: #CCCCCC; 
}
.ui-accordion{
  max-height: 160px;
  overflow: auto;
}
.ui-accordion-content{
	overflow: auto;
}
.BrowserTopN_RR_1{
height: 92%;
}
.SearchFilterHeader{
	background-color:#CCCCCC; height:35px; width: 100%;margin: 0.0em;padding-bottom: 0px; position:relative;
}
.SearchFilterHeader A{
	float: left;
}
.searchFilterDispVal {
    float: left; padding-left: 0.5em; padding-top: 0.5em; padding-right: 33%;
}

/*.select2-container{
    padding: 5px 10px;
    height: 40px;
    width: 132px; 
    //font-size: 1.2em;  
}*/

/*.select2-container .select2-choice .select2-arrow {
    background-image: -khtml-gradient(linear, left top, left bottom, from(#424242), to(#030303));
    background-image: -moz-linear-gradient(top, #424242, #030303);
    background-image: -ms-linear-gradient(top, #424242, #030303);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #424242), color-stop(100%, #030303));
    background-image: -webkit-linear-gradient(top, #424242, #030303);
    background-image: -o-linear-gradient(top, #424242, #030303);
    background-image: linear-gradient(#424242, #030303);
    width: 40px;
    color: #fff;
    font-size: 1.3em;
    padding: 4px 12px;
}*/
.select2-choices {
  min-height: 90px;
  max-height: 200px;
  min-width: 150px;
  overflow-y: auto;
}
ul.select2-results {
 max-height: 200px;
}
Div.dataTables_filter label{
  display: inline;   
}
ul.ColVis_collection  li{
	padding:0px;
	margin:1px;
}