@charset "windows-1252";

A:link    { background: transparent; color: #0000FF;
            text-decoration: underline; }
A:visited { background: transparent; color: #800080;
            text-decoration: underline; }
A:hover   { background: transparent; color: #FF0000;
            text-decoration: underline; }

BODY { COLOR : #000000;
       FONT-FAMILY : Tahoma;
       BACKGROUND : #FFFFFF}

TABLE {border-style: double; border-color: black; border-width: thick;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    FONT-FAMILY: Tahoma}

TABLE.nav {border-style: none; border-width: 0;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    FONT-FAMILY: Tahoma}

TH {COLOR: #000000;
    BACKGROUND: #808080;
    TEXT-ALIGN: left;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    FONT-FAMILY: Tahoma}

TD {COLOR: #000000;
    TEXT-ALIGN: left;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma}

TD.rt {COLOR: #000000;
    TEXT-ALIGN: right;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma}

TD.rtr {COLOR: #FF0000;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: right;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma}

TD.rtb {COLOR: #000080;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: right;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma}

TD.red {COLOR: #FF0000;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma}

TD.blue {COLOR: #000080;
    FONT-WEIGHT: normal;
    TEXT-ALIGN: left;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma}

CENTER.h1 {COLOR: #000000;)
    FONT-WEIGHT: bold;
    FONT-SIZE: 18pt;
    FONT-FAMILY: MS Shell Dlg 2}

CENTER.h2 {COLOR: #000000;)
    FONT-WEIGHT: bold;
    FONT-SIZE: 18pt;
    FONT-FAMILY: MS Shell Dlg 2}

CENTER.h3 {COLOR: #000000;)
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    FONT-FAMILY: MS Shell Dlg 2}

CENTER.h4 {COLOR: #000000;)
    FONT-WEIGHT: bold;
    FONT-SIZE: 18pt;
    FONT-FAMILY: MS Shell Dlg 2}

CENTER.f1 {COLOR: #000000;)
    FONT-WEIGHT: bold;
    FONT-SIZE: 18pt;
    FONT-FAMILY: MS Shell Dlg 2}

CENTER.f2 {COLOR: #000000;)
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    FONT-FAMILY: MS Shell Dlg 2}

CENTER.f3 {COLOR: #000000;)
    FONT-WEIGHT: bold;
    FONT-SIZE: 18pt;
    FONT-FAMILY: MS Shell Dlg 2}

CENTER.f4 {COLOR: #000000;)
    FONT-WEIGHT: bold;
    FONT-SIZE: 18pt;
    FONT-FAMILY: MS Shell Dlg 2}

