<SCRIPT LANGUAGE="JavaScript">
	if (document.layers) { 
		document.write("<Link Rel=STYLESHEET HREF='commonNS.css' type=text/css>");
	}
	if (document.all) { 
		if (screen.width=='800'){
			document.write("<Link Rel=STYLESHEET HREF='common86.css' type=text/css>");
		}
		else {
			document.write("<Link Rel=STYLESHEET HREF='common.css' type=text/css>");
		}
	}	
</SCRIPT>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<form action = "veloshome.jsp" method = "post" name = "main">
<input type="hidden" name="scHeight" value="10">
<input type="hidden" name="scWidth" value="10">
 <P class="logoutComments">Your session has timed out.<br>
      <br>
      <a href="veloshome.jsp" onClick="main.submit()">Click Here</a> to login again.</P>
</form>

<SCRIPT LANGUAGE="JavaScript">
	document.main.scHeight.value = screen.height;
	document.main.scWidth.value = screen.width;
</SCRIPT>
