<div class="headerStyle row"><div id="hleft" class="row headerleft"><img src="images/velos-logo.gif" width="90" height="70" alt="Velos" /></div>


<div id="hmiddle" class="headermiddle">
    <p>

    <h4><label id="userName"><div id="datestr"></div>  </label></h4>   
       
        
   
</div>


<div id="hright" class="headerright"><img src="images/NMDP-logo.jpg" width="65" height="65" alt="National Marrow Donor Program" />
 
 </div>
</div>

<script>


var now = new Date();
var divHtml = "" + now.format("dddd, mmmm dS, yyyy ") + "<span class='jclock'>";
$('#datestr').html(divHtml);

$(function($) {
	  $('.jclock').jclock();
	});

</script>

