<div class="footer"><span id="copyright" class="left marginleft20px valign_middle" ><br> Copyright &copy; <a href="http://velos.com" target="_blank">Velos</a>, Inc. </span>
	   	 <span id ="fimg"  class="hidden float_right marginright20px">
	   		 <a href="http://velos.com" target="_blank"><img style="margin-top:1px;" src="images/velos-footer-logo.gif" alt="Velos"  /></a> 
	   	 </span> </div>
	   	 
 