
<script>
function showHighlight(linkid){
	//alert("highlight");
	$('#mnuHome').removeClass('active');
	$('#cbucall').removeClass('active');
	$('#ordercfg').removeClass('active');
	

	
	$('#'+linkid).addClass('active');
	
	var breadcrumbVal = '&nbsp;&nbsp;<a href="#" onclick="javascript:showHighlight(\'mnuHome\');getHome();" >Home </a>&nbsp;&nbsp;';
	if(linkid == 'cbucall'){
		breadcrumbVal += '&gt;&gt; <a id="cbucall" href="#" onclick="javascript:showHighlight(\'cbucall\');loadPage(\'cbucall\');">CBU</a>';
	}else if(linkid == 'productfullfillment'){
		breadcrumbVal += '&gt;&gt; <a id="productfullfillment" href="#" onclick="javascript:showHighlight(\'productfullfillment\');loadPage(\'productfullfillmenthome\');">Product Fullfilment</a>';
	}else if(linkid == 'ordercfg'){
		breadcrumbVal += '&gt;&gt; <a id="ordercfg" href="#" onclick="javascript:showHighlight(\'ordercfg\');">Order Configuration</a>';
	}
	 
	$('#userSelection').html("");
	$('#breadcrumblink').html(breadcrumbVal);
	
	
}
var now = new Date();

var divHtml = "" + now.format("dddd, mmmm dS, yyyy ") + "<span class='jclock'>";

var lastLog = "" + now.format("dddd, mmmm dS, yyyy h:MM:ss TT");

$('#userName').html("Admin");
$('#datestr').html(divHtml);

$('#lastLog').html(lastLog);

$(function($) {
	  $('.jclock').jclock();
	});
</script>

<div>
	<div>
        <ul id="menu">
            <li id="mnuHome" Class='active' ><a  onclick="javascript:showHighlight('mnuHome');getHome();" href="#">Home</a></li>
        <li id="cbucall" ><a  href="#" onclick="javascript:showHighlight('cbucall');loadPage('cbucall');">CBU Call</a></li>
        <li id="productfullfillment" ><a  href="#" onclick="javascript:showHighlight('productfullfillment');loadPage('productfullfillmenthome');">Product Fullfilment</a></li>
             <li id="ordercfg"><a  href="#" onclick="javascript:showHighlight('ordercfg');">Order Configuration</a></li>
  	                      
        </ul>
        </ul>
	</div>
	<div class="right navright font07em"><span id="datestr"></span></div>
</div>


