	<div>
        <div class="header_left loginInfo">Welcome, <label id="userName" ></label></div>
        <div class="header_middle " class="right ">
         	 <!--	<br>[Current Log in: <span id="datestr"></span> ]
         		<br>[Last Log in: <span id="lastLog"></span> ]
         		--> 
          </div>
          <div class="header_right"><a href="#">Help</a> | <a href="#">FAQ</a> | <a href="#">Support</a> | <a href="login.jsp">Sign out</a></div>
     </div>
		<div class="clear"></div>
	

<script>
var now = new Date();

var divHtml = "" + now.format("dddd, mmmm dS, yyyy ") + "<span class='jclock'>";

var lastLog = "" + now.format("dddd, mmmm dS, yyyy h:MM:ss ");
var userDetails = "Admin " + "[Last Log in: " + lastLog + "]";

$('#userName').html(userDetails);
$('#datestr').html(divHtml);

$('#lastLog').html(lastLog);

$(function($) {
	  $('.jclock').jclock();
	});
</script>

