	
    	<div class="col_100 maincontainer ">
        	<article class="col_100">
            	<p>&nbsp;</p><br>
                <p>&nbsp;</p><br>
                <div class="loginform">
                <form action="#" id="login" class="tabledisplay">
                	<table id="login" width="100%" border="0" cellspacing="0" cellpadding="0" >
                      <tr>
                        <td colspan="2" class="titles">Signin</td>
                      </tr>
                      <tr>
                        <td style="vertical-align:middle" >User Name:</td>
                        <td><input type="text" name="username" class="left" id="username"  required/></td>
                      </tr>
                      <tr>
                        <td style="vertical-align:middle">Password:</td>
                        <td><input type="password" name="password" class="left" id="password"  required/></td>
                      </tr>
                      <tr>
                        <td colspan="2" class="align_center"><button onclick="checkLogin()">Login</button>&nbsp;<button>Reset</button></td>
                      </tr>
                    </table>     
                </form>
                </div>
            </article>
    	</div>
