<script type="text/javascript">
	 $(function() {
	  $("#question").dialog(
	   {autoOpen: false,
		title: 'New Question',
		modal: true, width:550, height:250
	   }
	  );
	  
	 });			
	 function showQuestion(mode,type){
		 
		 var title = 'New Question';
		 if(type=='Edit'){
			 title = 'Edit Question';
		 }
		 $("#question").dialog(
				   {title: title});
		$("#question").dialog(mode);
	 }			

			

	$(function() {
		$( "#datepicker" ).datepicker();
	});	
</script>


<div class="col_100 maincontainer ">
<article class="col_100">
<form id="">
<input type="hidden" value="calllog" id="formname" />

	<div id="quesEditDiv">
    	<div class="col_100 left tabledisplay font1em" id="quesEditDiv1">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="11%">Version Date:</td>
                <td width="89%">05-JUL-2010</td>
              </tr>
              <tr>
                <td>Version No:</td>
                <td>1.1</td>
              </tr>
              <tr>
                <td>Version Comment:</td>
                <td>Corrected spelling mistake</td>
              </tr>
              <tr>
                <td>Active Version</td>
                <td><input name="d" type="checkbox" value="" /></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
		</div>

        <div class="clear">&nbsp;</div>
    
        <div id="quesEditLinks" class="tabledisp">
            <div class="paddingleft10">                    
                <ol class="font11em fontweightbold">
                    <li><a href="#" onclick="showQuestion('open','New');">New Question</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>
                    <li><a href="#" onclick="showQuestion('open','Edit');">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>
                    <li><a href="#">Move Up</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li><a href="#">Move Down</a></li>
                </ol>
            </div>
        
    
            <div id="questionadmin">
                    <table border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <th class="th1" scope="col">&nbsp;</th>
                        <th class="th2" scope="col">Question Label </th>
                        <th class="th3" scope="col">Question Type </th>
                        <th class="th4" scope="col">Sequence</th>
                      </tr>
                      <tr>
                        <td>
                          <input name="radiobutton" type="radio" value="radiobutton" />
                        </td>
                        <td>What is your age?</td>
                        <td>Single Textbox</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td><input name="radiobutton" type="radio" value="radiobutton" /></td>
                        <td>Do you have any medical illnesses?</td>
                        <td>Multiple Choice (Only One Answer)</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td><input name="radiobutton" type="radio" value="radiobutton" /></td>
                        <td>Are you on any medications (3 or more times/week)?</td>
                        <td>Multiple Choice (Only One Answer)</td>
                        <td>3</td>
                      </tr>
                      <tr>
                        <td><input name="radiobutton" type="radio" value="radiobutton" /></td>
                        <td>Are you pregnant or breast feeding?</td>
                        <td>Multiple Choice (Only One Answer)</td>
                        <td>4</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                  </table>
            </div>
        	
	</div>

	
</form>

</article>
</div>



<div id="question" class="tabledisplay font08em">
			<table width="100%">					
			  <tr><td><label>Question Label:</label></td><td><input name="1" type="text" /></td></tr>
			  <tr><td><label>Question Type:</label></td><td><select name="">
			  	<option>Simple Text Box</option>
			    <option>Multiple Choice (Only One Answer)</option>
			    <option>Multiple Choice (Multiple Answers)</option>
			    
			  </select></td></tr>
			 
			  <tr><td><label>Recruiter Hint:</label></td><td><input name="1" type="text" /></td></tr>	
			  <tr><td><label>Include Comment</label></td><td><input name="c" type="checkbox" value="c" /></td></tr>				  
			  <tr><td><label>Comment Label:</label></td><td><input name="1" type="text" /></td></tr>				  
			
			<tr><td colspan="2" align="center"><input type="submit" value="Submit"></td></tr>
		</table>	
</div>	