/**
*Author : Yogesh Kumar
* CSS used for Mega Menu Panel for Firefox browsers for screen width *1024*
* Created on		: 27July2011
* Last Modified on	: 02Aug2011 for Browser Compatibility
* Modified on		: 02Aug2011 for Browser Compatibility
*/

/* body{
	font-family:Calibri, sans-serif;
	} */

/* Nicholas: Start */
/* #nav-one{
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc;
	margin-top:10px;
	margin-left:2px;
	width: 100%;
	
}*/
/* Nicholas: End 
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; 
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;
	
}*/
/* ul.dropmenu{
	position: relative;
	margin: 0px;
	z-index:999;
	padding: 1px 0px 0px 0px;
	display:block;
	height: 35px;
	font-family:inherit;
	font-size: 13px;
}*/
/* .dropmenu li{
	position: relative;
	list-style: none;
	float: left;
	margin: 0px;
	padding: 0px;
}*/

/*
.dropmenu li a{
	height: 22px;
	z-index:999;
	padding: 9px 20px 0px 5px;
	display: block;
	cursor:pointer;
	text-transform: uppercase;
	text-decoration: none;
	font-family:inherit;
	font-size: 13px;
}
*/ 
/* Nicholas: Start */
/* .dropmenu li span{
	display: block;
	float: right;
	height: 10px;
	width: 10px;
	position: absolute;
	top: 12px;
	right: 10px;
} */
/* Nicholas: End */

/* .dropmenu li:hover ul, .dropmenu li:hover div{
	display: block;
}  */
/* .dropmenu ul{
	position: absolute;
	display: none;
	width: 140px;
	padding: 0px;
	margin: 0px;
}*/
/* 
.dropmenu ul li{
	border: 0;
	float: none;
} */
/* Nicholas: Start */
/* .dropmenu ul a {
  font-size:12px;
  border-bottom: 0;
  white-space: nowrap;
  display:block;
  text-decoration: underline;
  text-transform: none;  
} */
/* Nicholas: End */

/* .dropmenu ul a:hover {
	text-decoration: none;
	font-size:12px;
}*/
/* .dropmenu div ul{
	position: relative;
	display: block;
}*/
/* Nicholas: Start */
/* .dropmenu li div{	
	border: 1px solid #ccc;
	padding: 5px;
	display: none;
	position: absolute;
} */
/* Nicholas: End */
/* .dropmenu li div ul{
	border: none;
	background: none;
	position: relative !important;
}*/
/* Nicholas: Start */
/* Nicholas: Introduced this */
/*
.dropmenu li div ul li h2{
	margin:0px 0px 3px 0px;
	padding:0px;
		
} */

/* Nicholas: End */
/* 
.dropmenu li div a{
	border: none;
	border-bottom: 1px solid #ccc;
}
.dropmenu li div div{
	display: block;
	position: relative;
	background: none;
	border: none;
}
.dropmenu li div div a{
	display: block;
	border: none;
	color: #666;
	text-decoration: underline;
	padding: 0px;
	margin: 0px;
	text-transform: none;

}
.dropmenu li div div a:hover{
	color: #000;
	text-decoration: none;

} */
/* ul.left{
	float: left;
	width: 145px;
}
ul.right{
	float: right;
	width: 145px;
}
li.left{
	float: left;
	width: 145px;
}
li.right{
	float: right;
	width: 145px;
} */
/* Nicholas: Start */
/* .subheading h2{
	font-size: 13px;
	padding: 4px 0px 0px 0px;
	display:block;
	height: 25px;
    text-decoration: none; /*YK 24Aug11: Fix for Bug #6811
    text-transform: none;
} */
/*
.personalize{
	width: 150px; margin-top:0px; left:0px; position:absolute;
}

.manage{
	width: 295px; margin-top:5px; left:0px; position:absolute;
}

.research{
	width: 150px; margin-top:5px; left:0px; position:absolute;
}

.library{
	width: 295px; margin-top:5px; left:0px; position:absolute;
}
.inventory{
	width: 140px; margin-top:5px; left:0px; position:absolute;
}
.reports{
	width: 140px; margin-top:5px; left:0px; position:absolute;
} */
/* Nicholas: End */