/******************************************************************************************
*******************************************************************************************
GARUDA STYLES STARTS
*******************************************************************************************
******************************************************************************************/

table.displaycdr thead th {
	 border:1px solid #f54921; background-color:#ede0ab;
	 color:#cc7c1b;
}
table.display thead th {
	 border:1px solid #f54921; background-color:#ede0ab;
	 color:white;
}
form fieldset {
	border:1px solid #d2d2d2;
}

form fieldset legend {
	color: #124f7f;
}

form button, form input[type=button],form input[type=submit] {
	background:#f59421;
	border:1px solid #dbdad9;
	color: #ffffff;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background:#f59421;
	border:1px solid #dbdad9;
	color: #ffffff;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	background-color:#f59421;
}
.button{
	background:#f59421;
	border:1px solid #dbdad9;
	color: #ffffff;
}
form button:hover,form input[type=button]:hover {
	background-color:#f59421;
}
tr.odd {
	background-color: #ececec;
}
tr.even {
	background-color: white;
}
table tbody tr.odd td{
	background-color: #ececec;
}

table tbody tr.even td{
	background-color: white;
}
tr.odd td.sorting_1 {
	background-color: #dbdbdb;
}
tr.even td.sorting_1 {
	background-color: #ececec;
}

.maincontainer{
	background: #f7f7f7;
	color:black;
}
/* Component containers
----------------------------------*/
DIV.ui-widget-content { border: 1px solid #dbdad9; background: #bee5e8; color: black; }
DIV.ui-widget-content a { color: #0000ff;   }
DIV.ui-widget-header { border: 1px solid #dbdad9; background: #7dcfd5; color: #ffffff;text-align: center;}
DIV.ui-widget-header .ui-icon {background-image: url(../../images/ui-icons_d8e7f3_256x240.png); }
DIV.ui-datepicker th{border:1px solid #f54921; background-color:#ede0ab;color:#cc7c1b;}
.ui-icon-report{background-image: url(../../images/file.gif) !important;cursor: pointer;}

/*Static Panel*/
.viewcbutoppanel{
		background: #bee5e8;
		border: 1px solid #dbdad9;
	}
.innerDiv{
		background: #ffffff;
	}
.outterDiv{
		background: #bee5e8;
		padding: 5px;
	}
	
/* Action Buttons*/
a.actionbutton {
background: transparent url(../../images/actionbuttons/button_right.jpg) no-repeat scroll top right;
color: #333333;
}
a.actionbutton span {
background: transparent url(../../images/actionbuttons/button_left.jpg) no-repeat;
color: #333333;
}

/*Static Panel Quick link Panel*/

DIV.quicklinkpanel{
	background:#cdcccb;
	border:1px solid #dbdad9;
	color:#333333;
}

img {
	width: auto;
	height: auto;
}

.ui-icon {
    height: 16px;
    width: 16px;
}