.minwidth110 {
	min-width: 100%;
}

#dnrsrnpopup #nav,#dnrsrnpopup #nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-position: outside;
	position: relative;
	line-height: 1.5em;
	width: 14%;
	/* top: 57px; */
	/*font-size:0.95em;
font-family:Verdana, Arial, Helvetica, sans-serif;*/
}

#dnrsrnpopup #nav a {
	display: block;
	padding: 0px 5px;
	border: 1px solid #dfdfdf;
	color: #333;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	background: #F5F5F5 url(../images/right_arrow.png) no-repeat right;
	min-height: 26px;
	text-align: justify;
}

#dnrsrnpopup #menuScrollup {
	display: block;
	padding: 0px 5px;
	border: 1px solid #dfdfdf;
	color: #333;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	background: #F5F5F5 url(../images/menuScroll_Uparrow.png) no-repeat
		center;
	min-height: 26px;
	text-align: justify;
	width: 12em;
	height: 16px;
}

#dnrsrnpopup #menuScrolldown {
	display: block;
	padding: 0px 5px;
	border: 1px solid #dfdfdf;
	color: #333;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	background: #F5F5F5 url(../images/menuScroll_Downarrow.png) no-repeat
		center;
	min-height: 26px;
	text-align: justify;
	width: 12em;
	height: 16px;
}

#dnrsrnpopup .menushrink {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 105px;
	background-image: url('../images/menu_minus.png');
	filter: alpha(opacity = 30);
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity = 30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}

#dnrsrnpopup .menuexpand {
	width: 16px;
	height: 16px;
	top: 105px;
	position: absolute;
	background-image: url('../images/menu_plus.png');
	filter: alpha(opacity = 30);
	cursor: pointer;
	cursor: hand;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity = 30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}

#dnrsrnpopup #menuShrinkButton:hover { /* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	/* IE 5-7 */
	filter: alpha(opacity = 100);
	/* Netscape */
	-moz-opacity: 1.0;
	/* Safari 1.x */
	-khtml-opacity: 1.0;
	/* Good browsers */
	opacity: 1.0;
}

#dnrsrnpopup .menuInfo {
	height: auto;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #5690b6;
	font-weight: bold;
	font-size: 14px;
	padding: 20px;
	text-align: center;
	width: 200px;
}

#dnrsrnpopup #tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #4297D7;
	background-color: #FFFFFF;
	padding: 2px;
}

#dnrsrnpopup #tooltip h3,#tooltip div {
	color: #222222;
	font-size: 18px;
	margin: 0;
}

#dnrsrnpopup #nav a:hover {
	background-color: #a1d0ef;
	color: #333;
}

#dnrsrnpopup #nav li {
	float: left;
	position: relative;
}

#dnrsrnpopup #nav ul {
	position: absolute;
	display: none;
	width: 12em;
	top: 1.5em;
}

#dnrsrnpopup #nav li ul a {
	width: 12em;
	height: auto;
	float: left;
}

#dnrsrnpopup #nav ul ul {
	width: 12em;
	top: auto;
}

#dnrsrnpopup #nav li ul ul {
	left: 12em;
	margin: 0px 0 0 10px;
	z-index: 1;
}

#dnrsrnpopup #nav li:hover ul ul,#nav li:hover ul ul ul,#nav li:hover ul ul ul ul {
	display: none;
}

#dnrsrnpopup #nav li:hover ul,#nav li li:hover ul,#nav li li li:hover ul,#nav li li li li:hover ul
	{
	display: block;
}

#dnrsrnpopup #nav li ul li ul div li a {
	background-image: none;
	background-color: #FFFFFF;
	border: none;
	width: 400px;
}

#dnrsrnpopup #nav li ul {
	position: absolute;
	left: 100%;
	top: 0px;
}

#dnrsrnpopup #nav li ul li ul div {
	
}

#dnrsrnpopup #List {
	cursor: pointer
}

#dnrsrnpopup .ulContentDiv {
	border-top: 1px solid #5690b6;
	border-right: 1px solid #5690b6;
	border-bottom: 1px solid #5690b6;
	border-left: 1px solid #5690b6;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	min-width: 424px;
	background-color: #FFFFFF;
}

#dnrsrnpopup .menuFilterulContentDiv {
	border: 1px solid #CCCCCC;
	max-height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
	min-width: 470px;
	background-color: #FFFFFF;
}

#dnrsrnpopup .menufacet li {
	min-width: 12em;
}

#dnrsrnpopup li.advon {
	background: url(../images/tick.png) 0 50%;
}

#dnrsrnpopup li.advoff {
	background: url(../images/cross.png) 0 50%;
}

#dnrsrnpopup #docs {
	list-style: none;
	background-color: #eee;
}

#dnrsrnpopup #docs li {
	background-repeat: no-repeat;
}

#thSelectColumn {
	background-color: #5690B6;
	font-weight: bold;
	padding-right: 2px;
	width: 10px;
/*	border-right-color: #FFFFFF;*/
}

#dnrsrnpopup #ulSelectColumn {
	vertical-align: middle;
}

#dnrsrnpopup .filterText {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	height: 25px;
	padding: 4px 0 1px 5px;
	width: 203px;
	font-size: 1.2em;
	background-color: #FFFFFF;
	border: 1px solid #A6C9E2;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}

#dnrsrnpopup .filterSpan {
	border: 2px solid #d1d1d1;
	height: 22px;
	padding-top: 5px;
}

#dnrsrnpopup .filterSpan img {
	cursor: pointer;
}

#dnrsrnpopup #nav li ul li ul div#filterDiv {
	background: #FFFFFF;
	height: 74px;
	border: none;
}

#dnrsrnpopup #singleIndexDiv ul.groupUL li ul div#filterDateDiv {
	background: #FFFFFF;
	width: 200px;
	height: 100px;
	border-top: 1px solid #5690B6;
	border-right: 1px solid #5690B6;
	border-bottom: 1px solid #5690B6;
	border-left: 1px solid #5690B6;
	padding: 5px;
}

#dnrsrnpopup #singleIndexDiv ul.groupUL li ul div#filterDateDiv div {
	padding-top: 8px;
	padding-left: 26px;
}

#dnrsrnpopup #singleIndexDiv ul.groupUL li ul div#filterDateDiv table tr,#singleIndexDiv ul.groupUL li ul div#filterNumberDiv table tr
	{
	line-height: 30px;
}

#dnrsrnpopup .filterSection {
	border: 1px solid #5690B6;
	border-bottom: none;
	max-height: 400px;
	min-width: 424px;
}

#dnrsrnpopup .ulDateContentDiv {
	min-width: 200px;
}

#dnrsrnpopup button{
	padding:5px 8px;
	margin-right:4px;
	list-style:none;	
	text-align:center;
	border-radius:4px;
	background:#2787c5;
	border:1px solid #1973ad;
	color:#fff;
	text-decoration:none;
}

/*Added For Dialog Window*/
#dnrsrnpopup #loginDiv {
	width: 100%;
	height: 100%;
}

#dnrsrnpopup #loginDiv img {
	margin-left: 10px;
	margin-top: 10px;
}

#dnrsrnpopup #loginDiv #popUpDiv {
	padding-top: 7%;
	padding-left: 10%;
	padding-right: 10%;
}

#dnrsrnpopup #loginDiv #dialogContent {
	border: 1px solid;
}

#dnrsrnpopup #loginDiv #loginTable {
	width: 100%;
}

#dnrsrnpopup #loginDiv span {
	font-size: 30px;
}

#dnrsrnpopup #loginDiv #loginTabl td {
	width: 50%;
}

#dnrsrnpopup #loginTable {
	background-color: #DCDCDC;
}

#dnrsrnpopup #loginTable input {
	height: 20px;
	border: 2px solid #5690B6;
}

#dnrsrnpopup #loginButton {
	border: 1px solid #A9A9A9;
	cursor: pointer;
}

#dnrsrnpopup .ui-dialog-title {
	float: none !important;
	display: block;
	text-align: center;
}

#dnrsrnpopup #printDialog button#print {
	background: #F5F5F5 url(../images/print.png) no-repeat right;
	border: 2px solid #D1D1D1;
	cursor: pointer;
}

#dnrsrnpopup #exportDialog button#print {
	background: #F5F5F5 url(../images/export.png) no-repeat right;
	border: 2px solid #D1D1D1;
	cursor: pointer;
}

#dnrsrnpopup #printDialog button#cancel,#exportDialog button#cancel {
	background: #F5F5F5 url(../images/fclose.png) no-repeat right;
	border: 2px solid #D1D1D1;
	cursor: pointer;
}

#dnrsrnpopup #loginTable th {
	background-color: #A9A9A9;
	font-size: 25px;
	height: 40px;
}

#dnrsrnpopup .divMessages {
	text-align: center;
}

#dnrsrnpopup #List {
	cursor: pointer
}

#dnrsrnpopup #menu a {
	cursor: pointer;
	text-decoration: underline;
}

#dnrsrnpopup #singleIndexDiv ul.groupUL li ul div#filterNumberDiv {
	background: #FFFFFF;
	min-width: 355px;
	height: 160px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	padding-top: 5px;
	border: 1px solid #5690B6;
}

#dnrsrnpopup #singleIndexDiv ul.groupUL li ul div#filterNumberDiv div {
	padding-left: 75px;
	padding-top: 5px;
}

#dnrsrnpopup .ulContentDiv label,.ulDateContentDiv label {
	cursor: pointer;
}

#dnrsrnpopup #nav li ul li ul div#filterAgeDiv {
	background: #FFFFFF;
	height: 110px;
	border: none;
	padding-top: 5px;
}

#dnrsrnpopup #nav li ul li ul div#filterAgeDiv div {
	padding-left: 38px;
	padding-top: 8px;
}

#dnrsrnpopup img #go,#search,#close,#print,#cancel {
	cursor: pointer;
}

#dnrsrnpopup #welcome_div a {
	font-size: 16px;
	color: black;
	text-decoration: none;
}

#dnrsrnpopup #welcome_div a:hover {
	text-decoration: underline;
}

#dnrsrnpopup table.printTable {
	font-size: 14px;
	background-color: #f8f8f8;
}

#dnrsrnpopup table.printTable tr.odd {
	background-color: #efefef;
}

#dnrsrnpopup table.printTable td {
	text-align: right;
}

#dnrsrnpopup table.printTable td {
	padding: 5px;
}

#dnrsrnpopup #printDialog label,input[type=radio],#exportDialog label {
	cursor: pointer;
}

#dnrsrnpopup #menuFilterContent {
	background-color: #F0F0F0;
	margin-bottom: 20px;
}

#dnrsrnpopup #nav li ul div.alpha-nav>a {
	background: none;
	float: left;
	height: auto;
	width: auto;
	font-weight: normal;
	padding: 0px;
	text-decoration: underline;
	border: none;
	padding-left: 5px;
	font-size: 14px;
}

#dnrsrnpopup #menuFilterContent div.pagination .clickedbtn {
	background-color: #5690B6;
	color: #FFFFFF;
	font-weight: bold;
}

#dnrsrnpopup #menuFilterContent div.pagination span {
	background: none;
	height: auto;
	width: auto;
	font-size: 14px;
}

#dnrsrnpopup #menuFilterContent div.pagination button {
	background: none;
	background-color: #F6F6F6;
	height: auto;
	width: auto;
	padding: 0px 5px 0px 5px;
	border: 1px solid #C8BBBE;
	padding-left: 5px;
	font-size: 14px;
	font-weight: normal;
	margin-right: 4px;
	cursor: pointer;
	/*     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
 */
}

#dnrsrnpopup #menuFilterContent div.pagination button:hover {
	background-color: #a1d0ef;
	color: #333;
}

#dnrsrnpopup .cleaner {
	clear: both;
	width: 100%;
	height: 0px;
	font-size: 0px;
}

#dnrsrnpopup #menuFiltertxt {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	height: 25px;
	margin-bottom: 5px;
	padding: 4px 0 1px 5px;
	width: 203px;
	font-size: 1.2em;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	margin: 10px;
}

#dnrsrnpopup #topsearchResult {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFFFFF;
	border: 1px solid #A6C9E2;
	height: 300px;
	left: 52%;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 110px;
	width: 48%;
	z-index: 1000;
}

#dnrsrnpopup #topsearchResult li {
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
}

#dnrsrnpopup #topsearchResult ul {
	margin: 5px;
}

#dnrsrnpopup #topsearchResult li:hover {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background-color: #a1d0ef;
}

#dnrsrnpopup .topsearchResultkb {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background-color: #a1d0ef;
}

#dnrsrnpopup .menuhighlight {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background-color: #5690B6;
}

#dnrsrnpopup #listPopUp {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFFFFF;
	border: 1px solid #AAAAAA;
	position: absolute;
	z-index: 1;
	background-color: #FFFFFF;
	min-width: 200px;
	text-align: left;
	padding: 2px;
	right: 0px;
}

#dnrsrnpopup #listPopUp li {
	padding: 10px;
	font-size: 16px;
}

#dnrsrnpopup #listPopUp li img {
	float: right;
	cursor: pointer;
}

#dnrsrnpopup #listPopUp li a {
	text-decoration: none;
	font-size: 18px;
	cursor: pointer;
	color: #333333;
}

#dnrsrnpopup #listPopUp li a:hover {
	text-decoration: underline;
}

#dnrsrnpopup #result_status {
	font-size: 14px;
	font-weight: bold;
	color: red;
}

#dnrsrnpopup .ui-datepicker {
	z-index: 1;
}

#dnrsrnpopup #docs a {
	text-decoration: none;
	color: blue;
	cursor: pointer;
}

#dnrsrnpopup #docs a:hover {
	text-decoration: underline;
}

#dnrsrnpopup button.selection {
	border: none;
	background: transparent;
	font-size: 16px;
	font-weight: bold;
	font-family: Arial,Helvetica,sans-serif;
	padding: 0px;
}

#dnrsrnpopup .ulContentDiv li,.menuFilterulContentDiv li {
	padding: 5px;
}

#dnrsrnpopup .ulContentDiv li:hover {
	background-color: #a1d0ef;
	color: #333333;
}

#dnrsrnpopup #nav li .ulContentDiv li {
	float: none;
}

#dnrsrnpopup li.filterSection:hover {
	background-color: #FFFFFF;
}

#dnrsrnpopup .alpha-nav button {
	border: none;
	background: transparent;
	float: left;
	margin-left: -6px;
	margin-right: -5px;
	cursor: pointer;
	padding: 6px 6px;
}

#dnrsrnpopup .linklikeDiv {
	text-decoration: underline;
	font-size: 14px;
	color: #000000;
	cursor: pointer;
	font-family: Arial,Helvetica,sans-serif;
}

#dnrsrnpopup #nav li .menuFilterulContentDiv li {
	float: none;
}

#dnrsrnpopup #nav li ol li:hover {
	background: none;
}

#dnrsrnpopup .menuFilterulContentDiv li:hover {
	background-color: #a1d0ef;
	color: #333333;
}

#dnrsrnpopup .showallORreset {
	background-color: #FDEBAC;
	border: 1px solid #DB9A44;
	cursor: pointer;
}

#dnrsrnpopup img#search,img#close {
	padding-bottom: 8px;
	vertical-align: middle;
}

#dnrsrnpopup table#docs td:first-child {
	text-align: right;
}

#dnrsrnpopup .savedSearchTable {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	line-height: 2em;
	font-size: 14px;
}

#dnrsrnpopup .savedSearchTable th {
	font-weight: bold;
	border: 1px solid #A6C9E2;
	padding-left: 4px;
}

#dnrsrnpopup .savedSearchTable td {
	border: 1px solid #A6C9E2;
	padding-left: 4px;
}

#dnrsrnpopup .ui-dialog .ui-dialog-buttonpane button {
	background: none repeat-x scroll 50% 50% #5690B6;
	color: #FFFFFF;
	border: 1px solid #5690B6;
}

#dnrsrnpopup .centerAlign {
	padding-left: 0px;
	text-align: center;
}

#dnrsrnpopup #suggDiv span {
	font-size: 20px;
	font-weight: bold;
}

#dnrsrnpopup #suggDiv .NoRecordMsg {
	font-size: 20px;
	font-weight: bold;
	color: red;
}

#dnrsrnpopup #suggLinks a {
	font-size: 20px;
	font-style: italic;
}

#dnrsrnpopup #suggLinks {
	float: right;
}

#dnrsrnpopup .questionMark {
	font-size: 20px;
	color: blue;
	float: right;
}

#dnrsrnpopup .verticalPosition {
	vertical-align: middle;
}

#dnrsrnpopup #compareDocTableDialog table tr td:first-child {
	font-weight: bold;
}

#dnrsrnpopup #compareDocTableDialog table {
	border-collapse: collapse;
	line-height: 2em;
	width: 100%;
}

#dnrsrnpopup #compareDocTableDialog table tr:nth-child(odd) {
	background-color: #E6F3FF;
}

#dnrsrnpopup #compareDocTableDialog table tr:nth-child(even) {
	background-color: #FFFFFF;
}

#dnrsrnpopup #compareDocTableDialog table td,#compareDocTableDialog table th {
	padding-left: 5px;
	border: 1px solid #A6C9E2;
}

#dnrsrnpopup #compareDocTableDialog table tr:first-child td {
	font-weight: bold;
	text-align: center;
	padding-left: 0px;
}

#dnrsrnpopup #compareDocTableDialog button {
	background-color: #5B99C2;
	border: 1px solid #4297D7;
	display: inline-block;
	padding: 4px;
	margin: 4px;
	text-align: center;
	vertical-align: middle;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	color: #FFFFFF;
	white-space: nowrap;
}

#dnrsrnpopup#compareDocTableDialog button:hover {
	color: #333333;
}

#dnrsrnpopup #saveSearchName {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	height: 25px;
	padding: 4px 0 1px 5px;
	width: 300px;
	font-size: 1.2em;
	background-color: #FFFFFF;
	border: 1px solid #D1D1D1;
}

#dnrsrnpopup .saveNameTable textarea {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	width: 300px;
	font-size: 1.2em;
	background-color: #FFFFFF;
	border: 1px solid #D1D1D1;
}

#dnrsrnpopup .saveNameTable tr {
	line-height: 4em;
}

#dnrsrnpopup .saveNameTable {
	width: 100%;
	font-size: 14px;
}

#dnrsrnpopup .saveNameTable tr td:first-child {
	text-align: right;
	font-weight: bold;
	padding-right: 2px;
}
/*CSS for pivot table Start*/
#dnrsrnpopup .pivotmenuTable {
	width: 100%;
}

#dnrsrnpopup .pivotmenuTable tr td {
	padding-left: 5px;
}

#dnrsrnpopup .pivotmenuTable label {
	cursor: pointer;
}

#dnrsrnpopup #pivotFacetnameDiv{
	height: 300px;
	overflow-y: auto;
	width: 300px;
}

#dnrsrnpopup .pivotTable {
	width: 100%;
}

#dnrsrnpopup .pivotTable tr td {
	padding-left: 5px;
	border: 1px solid #A6C9E2;
	font-weight: bold;
}

#dnrsrnpopup #pivotFacetnameDiv,#dnrsrnpopup  #chartFacetnameDiv {
	border: 1px solid #A6C9E2;
}

#dnrsrnpopup table.pivot {
	border-collapse: collapse;
	border: solid 1px #A6C9E2;
	text-align: right;
	width: 100%;
}

#dnrsrnpopup table.pivot th,table.pivot td {
	padding: 5px;
}

#dnrsrnpopup table.pivot tr.head {
	font-weight: bold;
	text-align: center;
}

#dnrsrnpopup table.pivot .total {
	background-color: #DBEEFF;
	white-space: nowrap;
}

#dnrsrnpopup table.pivot tr.total th {
	text-align: left;
}

#dnrsrnpopup table.pivot tr.total td,table.pivot tr.total th {
	border-top: solid 1px #A6C9E2;
}

#dnrsrnpopup table.pivot td.total {
	border-left: solid 1px black;
}

#dnrsrnpopup table.pivot tr.head th.groupby {
	background-color: #DBEEFF;
	font-weight: bold;
}

#dnrsrnpopup table.pivot tr.head th.pivotcol {
	background-color: #DBEEFF;
	border: 1px solid #A6C9E2;
}

#dnrsrnpopup table.pivot th.groupby {
	text-align: left;
	font-weight: normal;
	border: 1px solid #A6C9E2;
}

#dnrsrnpopup table.pivot tr.head th.total {
	border: 1px solid #A6C9E2;
}

#dnrsrnpopup table.pivot td {
	border: 1px solid #A6C9E2;
}

#dnrsrnpopup table.pivot .pivotFirstrow {
	background-color: #DBEEFF;
	text-align: left;
	font-weight: bold;
}

#dnrsrnpopup .pivotmenuli, .chartmenuli {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-khtml-border-radius: 5px;
	background-color: #DBEEFF;
	border: 1px solid #A6C9E2;
	line-height: 1.2em;
	margin: 5px;
	padding: 5px;
	cursor: pointer;
}

#dnrsrnpopup .pivotdropmenu, .chartdropmenu {
	border: 1px solid #4297D7;
	width: 300px;
	min-height: 50px;
	margin-top: 5px;
	height: auto;
}

#dnrsrnpopup .pivotmenuliSelected, .chartmenuliSelected {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-khtml-border-radius: 5px;
	background-color: #5B99C2;
	border: 1px solid #4297D7;
	line-height: 1.2em;
	margin: 5px;
	padding: 5px;
}

#dnrsrnpopup #solrpivotDiv {
	max-width: 1200px;
	text-align: center;
	/*max-width: 630px;*/
	overflow: auto;
	max-height: 450px;
	overflow: auto
}

#dnrsrnpopup .solrpivotDiv {
	width: 100%;
}

#dnrsrnpopup .draganddropText {
	margin-left: 50px;
	margin-top: 15px;
}

#dnrsrnpopup .pivotPrintTable th,.pivotPrintTable .total {
	font-weight: bold;
}

#dnrsrnpopup  .pivotPrintTable .resultcell {
	text-align: right;
	padding: 5px;
}

#dnrsrnpopup .pivotPrintTable .pivotFirstrow {
	font-weight: bold;
	text-align: left;
}
/*CSS for pivot table End*/
#dnrsrnpopup #singleIndexDiv {
	width: 22%;
}

#dnrsrnpopup #singleIndexDiv ul.groupUL {
	width: 100%;
	font-size: 16px;
}

#dnrsrnpopup #singleIndexDiv ul.groupUL li ul {
	left: 100%;
	position: absolute;
	line-height: 1.4em;
	text-align: left;
}

#dnrsrnpopup #singleIndexDiv  ul.groupUL>li {
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topright: 5px;
	background: url("../images/right_arrow.png") no-repeat scroll right
		center #F0F0F0;
	border: 1px solid #EEEEEE;
	color: #222222;
	cursor: pointer;
	display: block;
	line-height: 28px;
	padding-left: 5px;
	text-align: left;
	text-decoration: none;
	position: relative;
}

#dnrsrnpopup #singleIndexDiv  ul.groupUL>li a {
	font-weight: bold;
}

#dnrsrnpopup #singleIndexDiv ul.groupUL li ul {
	background-color: #FFFFFF;
}

#dnrsrnpopup #singleIndexDiv ul.groupUL li a {
	text-decoration: none;
}

#dnrsrnpopup #singleIndexDiv .ui-accordion-content,#indexAccordionDiv .ui-accordion-content
	{
	overflow: visible;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	height: auto;
}

#dnrsrnpopup .ui-accordion .ui-accordion-header .ui-icon {
	left: 0px;
}

#dnrsrnpopup #singleIndexDiv h3.ui-accordion-header,#indexAccordionDiv h3.ui-accordion-header
	{
	padding: 5px;
	color: #222222;
}

#dnrsrnpopup #singleIndexDiv h3.ui-state-default,#indexAccordionDiv h3.ui-state-default
	{
	background-color: #EEEEEE;
}

#dnrsrnpopup #singleIndexDiv h3:hover,#indexAccordionDiv h3:hover {
	background-image: none;
	background-color: #DBEEFF;
	font-weight: bold;
}

#dnrsrnpopup #singleIndexDiv h3.ui-state-focus,#indexAccordionDiv h3.ui-state-focus {
	background-image: none;
}

#dnrsrnpopup #singleIndexDiv h3.ui-state-active,#indexAccordionDiv h3.ui-state-active{
	color: #333333;
	border: 1px solid #CCCCCC;
}

#dnrsrnpopup .tableHeaderText {
	float: left;
}

#dnrsrnpopup .tableHeaderText img {
	vertical-align: middle;
}

#dnrsrnpopup table#docs tr td:first-child {
	text-align: center;
}

#dnrsrnpopup .filterBoxText {
	float: left;
	margin-top: 5px;
}

#dnrsrnpopup #chartUL .activeChartli{
	color: #E17009;
	background-color: #F5F8F9;
	border: 1px solid #79B7E7;
}