TABLE.displaytag {
	padding: 0;
	margin: 1px;
	border: 1px solid #ccc;
	width: 99%;
}

TABLE.displaytag TH {
	background: #fcf1be;
	font: bold 0.7em Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	text-align: center;
	padding: 3px;
	border-bottom: 2px solid #ccc;
}

TABLE.displaytag TD {
	font: normal 0.7em Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	padding: 2px 3px 2px 3px;
	margin: 1px;
}

TABLE.displaytag TD.tableCellError {
	background-color: blue;
	color: red;
	font: bold 0.7em Verdana, Arial, Helvetica, sans-serif;
}

TABLE.displaytag TD img {
	border: 0;
}

TABLE.displaytag TD.rightalign {
	text-align: right;
}

TABLE.displaytag TD.centeralign {
	text-align: center;
}

TABLE.displaytag TR.odd TD {
	background-color: #fff;
}

TABLE.displaytag TR.even TD {
	background-color: #eee;
}

TABLE.displaytag TH.sorted {
	background-color: #f9e375;
}

TABLE.displaytag TH.sorted a,
TABLE.displaytag TH.sortable a {
	display: block;
	background: url(../img/displaytag/arrow_off.png) no-repeat right;
	color: #000;
	text-decoration: none;
}

TABLE.displaytag TH.sorted a:hover,
TABLE.displaytag TH.sortable a:hover {
	color: #f00;
}

TABLE.displaytag TH.order1 a {
	background-image: url(../img/displaytag/arrow_down.png);
}

TABLE.displaytag TH.order2 a {
	background-image: url(../img/displaytag/arrow_up.png);
}
TABLE.displaytag tr.good td {
	color: black;
}

TABLE.displaytag tr.bad td {
	color: #FF6633;
	font-weight: bold;
}
TABLE.displaytag tr.bad A {
	color: #FF6633;
	font-weight: bold;
}
TABLE.displaytag tr.reject A {
	color: red;
	font-weight: bold;
}
TABLE.displaytag tr.reject td {
	color: red;
	font-weight: bold;
}

TABLE.message tr.msg td {
	color: green;
	font-weight: bold;
}

span.pagebanner {
	font: normal 0.7em Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 99%;
	margin-top: 10px;
	margin-bottom: 0px;
	display:block;
	border-bottom: none;
}

span.pagelinks {
	font: normal 0.7em Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 99%;
	display:block;
	border-top: none;
	margin-bottom: 5px;
}

span.pagelinks a {
	color: #00f;
}

span.pagelinks a:hover {
	color: #f00;
}

div.exportlinks {
	font-size: 0.8em;
	padding: 2px 4px 2px 4px;
	margin: 0 0 10px 0;
	width: 99%;
}

span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	cursor: pointer;
}

span.excel {
	background: url(../img/displaytag/ico_file_excel.png) no-repeat;
}
span.csv {
	background: url(../img/displaytag/ico_file_csv.png) no-repeat;
}
span.xml {
	background: url(../img/displaytag/ico_file_xml.png) no-repeat;
}


