
html {
    overflow-y: scroll;
}
body{margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:14px;}
img{border:none; vertical-align:middle; outline:none;}
p,h1,h2,h3,h4,h5,h6{margin:0; padding:0; font-weight:normal;}
.wrapper{width:950px; margin:auto; position:relative;}
.header{width:950px; margin:auto;}
.logo{ width:950px; margin:auto;}
.welcome{width:790px; height:326px; position:absolute; right:0px; top:0; margin:0; padding:77px 0 0 0;font-size:26px;}
.lt-border{width:50%; background:url(../images/bg-top-nav.jpg) repeat-x; height:21px;}
.nav-border{background:url(../images/bg-top-nav.jpg) repeat-x; height:21px; width:950px; margin:auto; border-right:1px solid #b1afa3;}
.footer-nav-border{background:url(../images/bg-top-nav.jpg) repeat-x; height:21px; width:950px; margin:auto;  border-left:1px solid #b1afa3; border-right:1px solid #b1afa3; z-index:-9999px;}


.container{width:950px; margin:auto; }
.left-container{ width:950px; margin:auto;}
.clr{clear:both;}
.lt-btm-border{width:50%;background:url(../images/bg-bottom.jpg) repeat-x #D4CCDB; overflow:hidden;}
.bottom-panel{ width:100%;}
.lt-btm-panel{width:509px; float:left;  background:url(../images/bg-bottom.jpg) repeat-x #D4CCDB; overflow:hidden;}
.curv1{background:url(../images/img-curv1.png) no-repeat top left; height:10px; width:10px;}
.curv2{background:url(../images/img-curv2.png) no-repeat top right; height:10px; width:10px;}
.curv3{background:url(../images/img-curv3.png) no-repeat top left; height:10px; width:10px;}
.curv4{background:url(../images/img-curv4.png) no-repeat top right; height:10px; width:10px;}

.rt-btm-panel{width:271px; float:left; background:#fff;}
.bg-white{background:#fff;}


.button {
		font-size:12px;
		color:#fff;
		text-decoration:none;
		font-weight:bold;
		display:block;
		text-align:center;
		background:#BB1023;
		width:60px;
	}
.single-prod{width:700px; float:left; margin:15px 0 15px 0;}
.single-prod ul{margin:0; padding:0px 0 10px 165px; list-style:none;}
.single-prod ul li{margin:0; padding:0 0 0 15px; background:url(../images/bullets.jpg) no-repeat left 8px;font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; line-height:24px;}
.single-prod p{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; padding:0 0px 10px 0; line-height:18px;}
.helix{ width:251px; height:326px; position:absolute; left:538px; top:0; margin:0; padding:166px 0 0 0; background:url(../images/helix.jpg) bottom no-repeat;}
.tbbg{margin:19px 0 0 165px;}
.ques{width:610px; margin:19px auto; padding:0; .margin:17px auto; font-size:12px; color:#000;}
.login{width:610px; margin:19px auto; padding:0; .margin:17px auto; font-size:14px; color:#000;}
.input1{width:219px; padding:4px;border-radius:5px 5px 5px 5px; border:1px solid #ACAA9E;}
.copyright{font-size:12px; color:#fff;  width:300px; float:left; padding:10px 0;}
.version{font-size:12px; color:#fff; padding:10px 15px 10px 0; width:190px; float:right; text-align:right;}
.suggestion{ width:940px; margin:auto; text-align:right; color:#fff; font-size:11px; padding:3px 10px 3px 0px;}

@-moz-document url-prefix() {
    .ques {
	     margin: 25px auto;
    }
}

.lt-btm-grey-border{width:50%;background:url(../images/bg-bottom-grey.jpg) repeat-x #adaca0; overflow:hidden;}
.lt-btm-grey-panel{width:509px; float:left;  background:url(../images/bg-bottom-grey.jpg) repeat-x #adaca0; overflow:hidden;}
