@charset "iso-8859-1";

/* MENUS.CSS */
   
DIV.clsMenuBarItem {font-family:Arial;visibility:visible;position:absolute;font-size:12pt;font-weight:bold;}

DIV.clsMenu {font-family:Arial;font-size:12pt;visibility:hidden;position:absolute;font-weight:bold;}

DIV.backgrnd {top:0em;background-color:#CFC8FF;visibility:hidden;position:absolute;border:none;height:0em;width:10em;}

DIV.backgrnd1 {top:0em;background-color:#9A99FF;visibility:hidden;position:absolute;border:none;height:0em;width:10em;}
  
