<html>

<head><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">


<title>Velos eResearch</title>

<%@ page import="java.util.*,java.io.*,org.w3c.dom.*,com.velos.eres.service.util.*" %>

<jsp:useBean id="homepage" class="com.velos.eres.service.util.SearchHomepageXml" scope="session" />



<Link Rel=STYLESHEET HREF="common.css" type=text/css>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>

<script>

function openwinflash() {

      window.open("","Information","toolbar=no,scrollbars=yes,resizable=yes,menubar=no,width=600,height=500")

;}

</script>

<SCRIPT LANGUAGE="JScript" SRC="resolution.js"></SCRIPT>
<body>
<table class=tableDefault width="546" cellspacing=0 cellpadding=0>
  <tr> 
    <td id=topleftCurve class=tdDefault width="52"><img src="../images/jpg/top_left_curve.jpg" width="52" 	height="32"></td>
    <td class=tdDefault valign=TOP><img id=topline src="../images/jpg/topline.jpg" width="494" 	height="5" align="top"></td>
  </tr>
</table>
<table class=leftPanelVLine width="22" cellpadding="0" cellspacing="0">
  <tr> 
    <td width="21">&nbsp;</td>
    <td width="1" ><img id=vertline src="../images/jpg/vline.jpg" width="2" height="350"></td>
  </tr>
</table>
<table class=tableDefault width="75%" cellpadding="0" cellspacing="0">
  <tr> 
    <td class=tDDefault > 
      <p align="left"><img id=bottomcurve src="../images/jpg/test.jpg"></p>
    </td>
  </tr>
</table>
<DIV CLASS=topRightPanel id=topRightDiv> 
  <form name="form1" >
    <table width="245" cellpadding="0" cellspacing="0" border=0>
      <tr> 
        <td class=tdDefault width="49" ROWSPAN = 4><img src="../images/jpg/top_right_curve.jpg" 							width="49" height="85"></td>
        <td width="203" VALIGN = TOP><A href="http://www.velos.com"> About us 
          </a> &nbsp; <A href="http://www.velosinc.com/cenpresrel.html"> Press </a> &nbsp; <A href="contactus.jsp"> 
          Contact us </a> &nbsp; <A href="faqs.jsp"> FAQs </a> </td>
      </tr>
      <tr> 
        <td class=tdDefault width=200> <b>Search</b> 
</td>
      </tr>
      <tr> 
        <td class=tdDefault width="200" height="30"> 
          <input type="text" name="search" size = 10 MAXLENGTH = 20>
          &nbsp;&nbsp; 	  	<img src="../images/jpg/Go.gif" align="absmiddle"> </img>
        </td>
      </tr>
      <tr > 
        <td  width="200"> 
          <p><img src="../images/jpg/topline.jpg" width="245" height="7" align="absbottom"></p>
        </td>
      </tr>
    </table>
  </form>
</DIV>
<DIV class="logo" ID=vlogo> 
  <table width="200" border="0">
    <tr> 
      <td><A href="http://www.velos.com"> <img src="../images/jpg/vlogo.jpg" width="189" height="78"></A></td>
    </tr>
  </table>
</DIV>
  <body>



<body id = "home">

<SCRIPT LANGUAGE="JavaScript">
<!--
function OpenCertDetails()
	{
	thewindow = window.open('https://www.thawte.com/cgi/server/certdetails.exe?code=USVELO4', 'anew', config='height=400,width=450,toolbar=no,menubar=no,scrollbars=yes,resizable=no,location=no,directories=no,status=yes');
	}
// -->
</SCRIPT>


<SCRIPT LANGUAGE = "JavaScript">

		// preload images

		var img_velocity = new Image(318,205);

		var img_vision = new Image(318,205);

		var img_value = new Image(318,205);

		img_velocity.src = "../images/jpg/Velos-velocity.jpg";

		img_vision.src = "../images/jpg/Velos-vision.jpg";

		img_value.src = "../images/jpg/Velos-value.jpg";

</SCRIPT>
<DIV class="homeCenter" id="div1" style="border-style:none"> 
  <table class=tableDefault width="69%" cellspacing="0" cellpadding="0">
    <tr> 
      <td width="37%" align=left> 
        <H1> Velos eResearch </H1>
      </td>
    </tr>
    <tr> 
      <td width="37%" align="center"> 
        <H2> Connecting Clinical Researchers Globally, <Br>
          Empowering Them Locally </H2>
		  <P>
		  <H1><Font color=red> The Site is currently down for maintenance. Please visit later.</Font></H1>
      </td>
    </tr>
    <TR> 
      <TD WIDTH = "37%"><IMG SRC = "../images/jpg/Velos-unselected.jpg" NAME = "img_center" WIDTH = 326 HEIGHT = 203 isMap useMap = "#map_center" BORDER = 0></TD>
    </tr>
    <MAP NAME = "map_center"> 

      <AREA COORDS = "2,4,93,97"

		HREF = "#"

		SHAPE = "rect"

		onClick = "return false;"

		onMouseOver = "window.document.img_center.src = img_velocity.src;"

		onMouseOut = "window.document.img_center.src = '../images/jpg/Velos-unselected.jpg';">

      <AREA COORDS = "201,1,316,87"

		HREF = "#"

		SHAPE = "RECT"

		onClick = "return false";

		onMouseOver = "window.document.img_center.src = img_vision.src;"

		onMouseOut = "window.document.img_center.src = '../images/jpg/Velos-unselected.jpg';">

      <AREA COORDS = "74,123,201,204"

		HREF = "#"

		SHAPE = "RECT"

		onClick = "return false";

		onMouseOver = "window.document.img_center.src = img_value.src;"

		onMouseOut = "window.document.img_center.src = '../images/jpg/Velos-unselected.jpg';">
    </MAP>
    <tr> 
      <td width="37%" align="left" > <font face="Vardana,Arial,Helvetica,sans-serif" size=2> 
        <Br>
        Velos eResearch is a complete clinical research management solution designed 
        for the research team that accelerates the clinical study process, is easy 
        to use and produces quality study results </font>
        <br>
        <p align = center> <font face="Vardana,Arial,Helvetica,sans-serif" size=2><B> <A href="veloseresearchflash.htm" target="Information" onClick="openwinflash()">Flash 
          Presentation</A> </B></Font></p>
		 <BR>
        <p class = "defComments" style="color:#666666;" align=center>Best viewed 
          with Internet Explorer 5.5 & above</p>
      </td>
    </tr>
  </table>
  <div> 
    <jsp:include page="bottompanel.htm" flush="true"/>
  </div>
</div>
<form method="post" action="login.jsp">
  <div class=login id="emenu"> 
    <table class=tableDefault width="130" cellpadding="0" cellspacing="0">
      <tr> 
        <td width="109"></td>
        <td width="21" halign = right><img src="../images/jpg/top_login.jpg"></td>
      </tr>
    </table>
    <table width="130" border="0" cellpadding="0" cellspacing="0" >
      <tr > 
        <td width="5"></td>
        <td width="125">User Name</td>
      </tr>
      <tr > 
        <td width="5"></td>
        <td width="125"> 
          <input type="text" name="username" size = 13 MAXLENGTH = 20>
        </td>
      </tr>
      <tr height = 5> 
        <td width="5"></td>
        <td width="125"  align="center"> </td>
      </tr>
      <tr > 
        <td width="5"></td>
        <td width="125" >Password</td>
      </tr>
      <tr > 
        <td width="5"></td>
        <td width="125" > 
          <input type="password" name="password" size = 13 MAXLENGTH = 20>
        </td>
      </tr>
      <tr height = 5> 
        <td width="5"></td>
        <td width="125" > </td>
      </tr>
      <tr>  
        <td width="125" align="center" colspan = 2> 
 	  	<img src="../images/jpg/Login.gif" align="absmiddle"> </img>	
        </td>
      </tr>
      <tr height = 5> 
        <td width="5"></td>
        <td width="125"  align="center"> </td>
      </tr>
      <tr > 
        <td width="5"></td>
        <td width="125"> <font size=1>New User?</font> <U> <Font size=1 color=red> Sign 
          up!</Font></U> </td>
      </tr>
      <tr > 
        <td width="5"></td>
        <td width="125"><U> <Font size=1 color=red> Forgot Password?</Font></U>  
        </td>
      </tr>
    </table>
    <table width="130" cellpadding="0" cellspacing="0" >
      <tr> 
        <td width="109"></td>
        <td width="21" valign = absbottom  align="center"><img src="../images/jpg/bottom_login.jpg"></td>
      </tr>
    </table>
	
 
  <p>&nbsp;</p>

	<P>
	<A href="javascript:OpenCertDetails()">
	<IMG SRC="../images/jpg/stamp.gif" BORDER=0 ALT='Click here for more details'></A>
	</P>
</div>
</form>
</body>



</html>

