<script type="text/javascript" src="js/ddimgtooltip.js"></script>
<link type="text/css" href="css/ddimgtooltip.css" rel="stylesheet" />
<script type="text/javascript" src="js/smartspinner.js"></script>
<link type="text/css" href="css/smartspinner.css" rel="stylesheet" />
<script>
$(document).ready(function() {
	$('#full100spin').spinit();
	$('#partialFull100spin').spinit();
	$('#partialSmall100spin').spinit();
	$('#partialSmallHoriSpin').spinit();
	oTable = $('#accessionTable').dataTable({
		"bJQueryUI": true
	});
	
	$("#barcodeDiv").dialog({
		   autoOpen: false,
		   modal: true,
		   width:600,
		   hieght:600,
		   close: function() {
	    		jQuery("#barcodeDiv").dialog("destroy");
		   }
		});
	hideBarcodes();
	
});
function showBarcode(){
	var checkBx =  document.getElementsByName("check1");
	
	for(var i = 0;i<checkBx.length;i++){
		var id = checkBx[i].id+"a";
		if(checkBx[i].checked){
			$("#"+id).css("display","block");
		}else{
			$("#"+id).css("display","none");
		}
	}
}
function showHideBarcodes(buttonObj){
	if($(buttonObj).val()=="On"){
		$(buttonObj).val("Off");
		hideBarcodes();
	}else{
		$(buttonObj).val("On");
		showBarcode();
	}
}
function hideBarcodes(){
	$("#full100a").css("display","none");
	$("#partialSmallHoria").css("display","none");
	$("#partialSmalla").css("display","none");
	$("#partialFull100a").css("display","none");
}
function loadNextPage(){
	//alert("c");
	$('#processingMain').trigger('click');
	//alert("d");
}
</script>

<div class="cleaner"></div>

<div class="column">
		
		<div  class="portlet">
			<div class="portlet-header notes">Accession Products</div>
			<div class="portlet-content">
	
			<table cellpadding="0" cellspacing="0" border="0" id="accessionTable" class=display>
					<thead>
						<tr>
							<th>Recipient Id</th>
							<th>Recipient Name</th>
							<th>Product Type</th>
							<th>Product Id</th>				
							<th>Processing Facility</th>
							<th>Acquisition Time</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>MDA376548</td>
							<td>Jerry Brown</td>
							<td>HPC-A</td>
							<td>APH4139</td>
							<td>Ahperesis</td>
							<td>10:00 CST</td>
						</tr>
						<tr>
							<td>MDA874620</td>
							<td>Tony Moore</td>
							<td>HPC-A</td>
							<td>APH4923</td>
							<td>Ahperesis</td>
							<td>&nbsp;</td>
						</tr>
					</tbody>
			</table>
	</div>
	</div>
	
		<!-- <div  class="portlet">
			<div class="portlet-header">&nbsp;Product Accession and Assessment</div>
			<div id="button_wrapper"><input class="scanboxSearch" type="text" size="15" value="" name="search" placeholder="Scan Product/Enter ID"/></div>
			<div class="img_1"><a href="#"><img src="images/icons/refresh1.jpg" width="16" height="16" border="0" /></a>&nbsp;<a href="#"><img src="images/icons/edit.png" width="16" height="16" border="0" /></a></div>			
		</div>
	 	-->
	 	<form action="#" id="accessionRecipientForm">
		<div id="button_wrapper" align="center"><input class="scanboxSearch" type="text" size="15" value="" name="search" placeholder="Scan Product Enter Id"/></div>
		<div  class="portlet">
			<div class="portlet-header notes reset printsmall">&nbsp;<i>Recipient Information</i></div>		
			
		<div class="portlet-content">
		<form action="#" id="accessionRecipientForm">
			<div id="table_inner_wrapper">
			<div id="left_table_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1">Recipient MDA ID	:</div>
						<div class="table_cell_input2"><input type="text" id="recipientId" placeholder="Recipient ID"/></div>
					</div>		
					
					<div class="table_row_input2">
						<div class="table_cell_input1">Recipient Name:</div>
						<div class="table_cell_input2"><input type="text" id="recipientName" placeholder="Recipient Name"/></div>
					</div>	
					
					<div class="table_row_input3">
						<div class="table_cell_input1">Other Alias:</div>
						<div class="table_cell_input2"><a id="recipient_y" href="#"><input type="radio" class="" name="yes" id=""></a>Y &nbsp; <input type="radio" class="" name="yes" id="yes"> N</div>
					</div>
					
					<div class="table_row_input4">
						<div class="table_cell_input1">Recipient Weight (kg):</div>
						<div class="table_cell_input2"><input type="text" id="recipientWeight" placeholder="Recipient Weight (kg)"/></div>
					</div>						
				</div>
			</div>
			
			<div id="middle_line"></div>
			
			<div id="right_table_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1">Diagnosis:</div>
						<div class="table_cell_input2"><input type="text" id="diagnosis" placeholder="Diagnosis"/></div>												
					</div>		
					
					<div class="table_row_input2">
						<div class="table_cell_input1">ABO/Rh:</div>
						<div class="table_cell_input2"><select class="sel_process" id="recipientRid" name=""><option>O/Pos</option></select></div>
					</div>
					
					<div class="table_row_input3">
						<div class="table_cell_input1">Planned Protocol:</div>
						<div class="table_cell_input2"><select name="" id="recipientProtocol" class="sel_proposal"><option>Undecided</option></select></div>
					</div>
					
				</div>
				<div class="cleaner"></div>
				
			</div>
		</div>
			</form>
			</div>
			</div>
			
			
			
		<div  class="portlet">
		<div class="portlet-header">&nbsp;<i>Product Information</i></div>
			
		<div class="portlet-content">

		<form action="#" id="login">
			<div id="table_inner_wrapper">
			<div id="left_table_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1">Product CTL ID:</div>
						<div class="table_cell_input2"><input type="text" id="date" placeholder="CTL Product ID"/></div>												
					</div>		
					
					<div class="table_row_input2">
						<div class="table_cell_input1">Other Alias:</div>
						<div class="table_cell_input2"><a id="recipient_y" href="#"><input type="radio" class="" name="yes" id=""></a>Y &nbsp; <input type="radio" class="" name="yes" id="yes"> N</div>
					</div>						
				</div>
			</div>
			
			<div id="middle_line"></div>
			
			<div id="right_table_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1">Product Type:</div>
						<div class="table_cell_input2"><select name="" id="" class="sel_process"><option>ALLO-Related</option><option>ALLO-Nonrelated</option><option>AUTO</option></select></div>												
					</div>		
					
					<div class="table_row_input2">
						<div class="table_cell_input1">Product Source:</div>
						<div class="table_cell_input2"><select name="" id="" class="sel_process"><option>HPC-A</option><option>HPC-M</option><option>HPC-C</option></select></div>
					</div>				
					
				</div>
				<div class="cleaner"></div>
			</div>
			</div>
			</form>
			</div>
			</div>
			
			
		<div  class="portlet">
		<div class="portlet-header">&nbsp;<i>Donor Information</i></div>
			
		<div class="portlet-content">

		<form action="#" id="login">
			<div id="table_inner_wrapper">
			<div id="left_table_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1">Donor MDA ID:</div>
						<div class="table_cell_input2"><input type="text" id="date" placeholder="Donor ID"/></div>												
					</div>							
					
					<div class="table_row_input3">
						<div class="table_cell_input1">Donor Name:</div>
						<div class="table_cell_input2"><input type="text" id="date" placeholder="Donor Name"/></div>
					</div>						
				</div>
			</div>
			
			<div id="middle_line"></div>
			
			<div id="right_table_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1">Other Alias:</div>
						<div class="table_cell_input2"><a id="recipient_y" href="#"><input type="radio" class="" name="yes" id=""></a>Y &nbsp; <input type="radio" class="" name="yes" id="yes"> N</div>																		
					</div>
					<div class="table_row_input2">
						<div class="table_cell_input1">ABO/Rh:</div>
						<div class="table_cell_input2"><select class="sel_process" id="recipientRid" name=""><option>O/Pos</option></select></div>
					</div>
				</div>
				<div class="cleaner"></div>
				
			</div>
			</div>
			</form>
			</div>
			
			</div>
			
			
			
			
		<div  class="portlet">
		<div class="portlet-header">&nbsp;<i>Collection Facility</i></div>
			
		<div class="portlet-content">

		<form action="#" id="login">
			<div id="table_inner_wrapper">
			<div id="left_table_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1">Product Registry:</div>
						<div class="table_cell_input2"><select name="" id="" class="sel_process"><option>NMDP</option></select></div>												
					</div>							
					
					<div class="table_row_input3">
						<div class="table_cell_input1">Beginning Status:</div>
						<div class="table_cell_input2"><select name="" id="" class="sel_process"><option>Fresh</option></select></div>
					</div>	
					<div class="table_row_input3">
						<div class="table_cell_input1">Collection Location:</div>
						<div class="table_cell_input2"><select name="" id="" class="sel_process"><option>MDA Apheresis</option></select></div>
					</div>							
				</div>
			</div>
			
			<div id="middle_line"></div>
			
			<div id="right_table_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1">MUD Coordinator:</div>
						<div class="table_cell_input2"><select name="" id="" class="sel_process"><option>N/A</option></select></div>												
					</div>	
					<div class="table_row_input2">
						<div class="table_cell_input1">MUD Coordinator Contact:</div>
						<div class="table_cell_input2"><select name="" id="" class="sel_process"><option>N/A</option></select></div>												
					</div>
					<div class="table_row_input3">
						<div class="table_cell_input1">MUD Coordinator On Call:</div>
						<div class="table_cell_input2"><input type="text" id="date" placeholder="NMDP Coordinator Call"/></div>												
					</div>
					<div class="table_row_input4">
						<div class="table_cell_input1">MUD Coordinator On call Contact:</div>
						<div class="table_cell_input2"><select name="" id="" class="sel_process"><option>N/A</option></select></div>												
					</div>		
				</div>
				<div class="cleaner"></div>
				
			</div>
		</div>
			</form>
			</div>
			</div>
			
			
			
			
			
		<div  class="portlet">
		<div class="portlet-header">&nbsp;<i>Shipping Information</i></div>
			
		<div class="portlet-content">

		<form action="#" id="login">
			<div id="table_inner_wrapper">
			<div id="left_table_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1">Courier Name:</div>
						<div class="table_cell_input2"><select name="" id="" class="sel_process"><option>FedEx</option></select></div>
					</div>
					<div class="table_row_input2">
						<div class="table_cell_input1"><a id="iti" href="#">Itinerary:</a></div>
						<div class="table_cell_input2"><a id="iti" href="#"><img width="25" height="25" src="images/icons/Black_Paperclip.png"></a></div>												
					</div>							
				</div>
			</div>
			
			<div id="middle_line"></div>
			
			<div id="right_table_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1">Tracking Number:</div>
						<div class="table_cell_input2"><input type="text" id="date" placeholder="Tracking Number"/></div>												
					</div>
					<div class="table_row_input2">
						<div class="table_cell_input1">Final Status:</div>
						<div class="table_cell_input2"><select class="sel_process" id="" name=""><option>Delivered</option></select></div>
					</div>
				</div>
				<div class="cleaner"></div>
				
			</div>
		</div>
			</form>
			</div>
			</div>
			
			
			<div  class="portlet">
		<div class="portlet-header">&nbsp;<i>Accession</i></div>
			
		<div class="portlet-content">

		<form action="#" id="login">
			<div id="table_inner_wrapper">
			<div id="left_table_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1">Date of Arrival:</div>
						<div class="table_cell_input2"><input type="text" id="date" placeholder="Acquisition Date" class="dateEntry"/></div>												
					</div>	
					<div class="table_row_input1">
						<div class="table_cell_input1">Time of Arrival:</div>
						<div class="table_cell_input2"><span type="text" class='jclock' id="arrivalDate" style="width:100px; font-size:1.0em;"></span>&nbsp;<span id="timeZone"></span></div>												
					</div>		
					<div class="table_row_input1">
						<div class="table_cell_input1">Accession Location:</div>
						<div class="table_cell_input2"><select name="" id="" class="sel_process"><option>CORE Lab</option></select></div>												
					</div>	
					
					<div class="table_row_input1">
						<div class="table_cell_input1">Product Appearance OK:</div>
						<div class="table_cell_input2"><input type="radio" id="yes" name="yes" class=""/> Y &nbsp; <input type="radio" id="yes" name="yes" class=""/> N</div>												
					</div>
					
					<div class="table_row_input1">
						<div class="table_cell_input1">Overright Storage:</div>
						<div class="table_cell_input2"><input type="radio" id="yes" name="yes1" class=""/> Y &nbsp; <input type="radio" id="yes" name="yes1" class=""/> N</div>												
					</div>		
					
					<div class="table_row_input1">
						<div class="table_cell_input1">Required Documentation:</div>
						<div class="table_cell_input2"><input type="radio" id="yes" name="yes2" class=""/> Y &nbsp; <input type="radio" id="yes" name="yes2" class=""/> N</div>												
					</div>									
				</div>
			</div>
			
			<div id="middle_line"></div>
			
			<div id="right_table_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1">Complete Label:</div>
						<div class="table_cell_input2"><input type="radio" id="yes" name="yes3" class=""/> Y &nbsp; <input type="radio" id="yes" name="yes3" class=""/> N</div>												
					</div>
					<div class="table_row_input1">
						<div class="table_cell_input1">Additives:</div>
						<div class="table_cell_input2"><input type="radio" id="yes" name="yes4" class=""/> Y &nbsp; <input type="radio" id="yes" name="yes4" class=""/> N</div>												
					</div>
					<div class="table_row_input1">
						<div class="table_cell_input1">Received By:</div>
						<div class="table_cell_input2"><input type="text" id="date" placeholder="Received By"/></div>
					</div>
					<div class="table_row_input1">
						<div class="table_cell_input1">Date of Accession:</div>
						<div class="table_cell_input2"><input type="text" id="date" placeholder="Acquisition Date" class="dateEntry"/></div>												
					</div>	
					<div class="table_row_input1">
						<div class="table_cell_input1">Time of Accession:</div>
						<div class="table_cell_input2"><span type="text" class='jclock' id="arrivalDate" style="width:100px; font-size:1.0em;"></span>&nbsp;<span id="timeZone"></span></div>
					</div>
				</div>
				<div class="cleaner"></div>
				
			</div>
		</div>
			</form>
			</div>
	</div>
		<div class="cleaner"></div>
		<div align="right" style="float:right;">
		<form>
				Next:&nbsp;<select name="" id="" class="sel_process"><option>Self Assign</option><option>Next Product</option><option>Logout</option></select>&nbsp;
				<input type="text" style="width:80px;" size="5" value="" placeholder="e-Sign"/>
				<input type="button" onclick="loadNextPage();" value="Next"/>
				</form>
		</div>
		<!-- <div id="button_next_wrapper" align="right" style="float:right;">	
			<div id="button_next">
				<div class="scroll_text">Next:&nbsp;<select name="" id="" class="sel_process"><option>Self Assign</option><option>Logout</option></select>&nbsp;</div>
				<div class="button_img"><input type="text" style="width:80px;" size="5" value="" placeholder="e-Sign"/>&nbsp;<input type="button" value="Save"/></div>
			</div>
		</div>
		 -->
	</form>
	</div>
<script>
$(function() {
	
	$('.jclock').jclock();
	
	$( ".column" ).sortable({
		connectWith: ".column"
	});

	$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" ).find( ".portlet-header" )
	.addClass( "ui-widget-header ui-corner-all" ).prepend( "<span class='ui-icon ui-icon-minusthick'></span>");
	
	/**For Notes**/
	$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" ).find( ".notes" )
	.append("<span style=\"float:right;\" class='ui-notes'></span>");

	$( ".portlet-header .ui-notes " ).click(function() {
		showNotes('open');
	});
	
	/**For Print**/
		$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" ).find( ".printsmall" )
	.append("<span style=\"float:right;\" class='ui-printsmall'></span>");

	$( ".portlet-header .ui-printsmall " ).click(function() {
		showPopUp('open','barcodeDiv','','700','400');
	});
	
	/**For Refresh**/
	$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" ).find( ".reset" )
	.append("<span style=\"float:right;\" class='ui-reset'></span>");


	$( ".portlet-header .ui-reset " ).click(function() {
		var formName = document.getElementById("accessionRecipientForm");
		clearForm(formName);
	});

	$( ".portlet-header .ui-icon" ).click(function() {
		$( this ).toggleClass( "ui-icon-minusthick" ).toggleClass( "ui-icon-plusthick" );
		$( this ).parents( ".portlet:first" ).find( ".portlet-content" ).toggle();
	});

	$('.searchtable').dataTable({"aaSorting": [[ 1, "asc" ]]});	
	//$('.sortable').columnManager({listTargetID:'sortable', onClass: 'advon', offClass: 'advoff', hideInList: [1,3],
     //   saveState: true, colsHidden: [2,4]});
	//$( ".column" ).disableSelection();
});

var now = new Date();

var divHtml = "" + now.format("dddd, mmmm dS, yyyy ") ;

var lastLog = "" + now.format("h:MM:ss ");

var userDetails = lastLog;


$('#arrivalDate').html(lastLog);



/**************For Time Zone Start****************************/
 var offset = (new Date()).getTimezoneOffset();

 var timezones = {
 '-12': 'PST',
 '-11': 'PST',
 '-10': 'PST',
 '-9': 'CST',
 '-8': 'CST',
 '-7': 'CST',
 '-6': 'CST',
 '-5': 'CST',
 '-4': 'CST',
 '-3.5': 'America/St_Johns',
 '-3': 'America/Argentina/Buenos_Aires',
 '-2': 'Atlantic/Azores',
 '-1': 'Atlantic/Azores',
 '0': 'Europe/London',
 '1': 'Europe/Paris',
 '2': 'Europe/Helsinki',
 '3': 'Europe/Moscow',
 '3.5': 'Asia/Tehran',
 '4': 'Asia/Baku',
 '4.5': 'Asia/Kabul',
 '5': 'Asia/Karachi',
 '5.5': 'IST',
 '6': 'Asia/Colombo',
 '7': 'Asia/Bangkok',
 '8': 'Asia/Singapore',
 '9': 'Asia/Tokyo',
 '9.5': 'Australia/Darwin',
 '10': 'PST',
 '11': 'Asia/Magadan',
 '12': 'Asia/Kamchatka'
};

/*var timezones = {
    '-12': 'Pacific/Kwajalein',
    '-11': 'Pacific/Samoa',
    '-10': 'Pacific/Honolulu',
    '-9': 'America/Juneau',
    '-8': 'America/Los_Angeles',
    '-7': 'America/Denver',
    '-6': 'America/Mexico_City',
    '-5': 'America/New_York',
    '-4': 'America/Caracas',
    '-3.5': 'America/St_Johns',
    '-3': 'America/Argentina/Buenos_Aires',
    '-2': 'Atlantic/Azores',
    '-1': 'Atlantic/Azores',
    '0': 'Europe/London',
    '1': 'Europe/Paris',
    '2': 'Europe/Helsinki',
    '3': 'Europe/Moscow',
    '3.5': 'Asia/Tehran',
    '4': 'Asia/Baku',
    '4.5': 'Asia/Kabul',
    '5': 'Asia/Karachi',
    '5.5': 'Asia/Calcutta',
    '6': 'Asia/Colombo',
    '7': 'Asia/Bangkok',
    '8': 'Asia/Singapore',
    '9': 'Asia/Tokyo',
    '9.5': 'Australia/Darwin',
    '10': 'Pacific/Guam',
    '11': 'Asia/Magadan',
    '12': 'Asia/Kamchatka'
};*/

$("#timeZone").html(timezones[-offset / 60]);

</script>


<div class="column" id="barcodeDiv">		
					<table width="600px" border="0" cellpadding="3" cellspacing="0">
						<tr>
							<td width="250px" align="right"><div><label type="button">Label Display</label></div></td>
							<td width="250px" align="left"><div><input type="button" id="text1" name="text1" onclick="showHideBarcodes(this);" value="On" ></div></td>
					  	</tr>
						<tr>
							<td width="250px">
								<table width="300px" border="0" cellpadding="3" cellspacing="0">
								  <tr>
									<td width="100px" colspan="3" align="center"><div><img src="images/icons/print.png" width="32" height="32" border="0"></div></td>
								  </tr>
								  <tr>
									<td width="20px"><div><input onchange="showBarcode()" type="checkbox" id="full100" name="check1"></div></td>
									<td width="100px"><div><label  rel="imgtip[0]"  type="text" id="text1" name="text1" >Full 100x100mm</label></div></td>
									<td width="50px"><div><input type="text" id="full100spin" class="smartspinner" /></div></td>
								  </tr>
								  <tr>
									<td width="20px"><div><input onchange="showBarcode()" type="checkbox" id="partialFull100" name="check1"></div></td>
									<td width="100px"><div><label rel="imgtip[1]" type="text" id="text1" name="text1">Partial 48x76mm</label></div></td>
									<td width="50px"><div><input type="text" id="partialFull100spin" class="smartspinner" /></div></td>
								  </tr>	
								  <tr>
									<td width="20px"><div><input onchange="showBarcode()" type="checkbox" id="partialSmall" name="check1"></div></td>
									<td width="100px"><div><label rel="imgtip[2]" type="text" id="text1" name="text1">Partial 96x38mm</label></div></td>
									<td width="50px"><div><input type="text" id="partialSmall100spin" class="smartspinner" /></div></td>
								  </tr>
								  <tr>
									<td width="20px"><div><input onchange="showBarcode()" type="checkbox" id="partialSmallHori" name="check1"></div></td>
									<td width="100px"><div><label rel="imgtip[3]" type="text" id="text1" name="text1" >Partial Small</label></div></td>
									<td width="50px"><div><input type="text" id="partialSmallHoriSpin" class="smartspinner" /></div></td>
								  </tr>
								  <tr>
									<td width="20px" colspan="3" align="center"><div><input type="button" value="Cancel"/></div></td>
								  </tr>
								</table>							
							</td>
							<td width="250px">
											<table id="barcodeImageTable">
												<tr>
													<td><div id="full100a"><img src="images/others/Full_Label_V2.png" width="150" height="150" border="0"></div></td>
													<td><div id="partialFull100a"><img src="images/others/Partial_Label_Vertical_v2.png" width="100" height="150" border="0"></div></td>
												</tr>
												<tr>
													<td><div id="partialSmalla"><img src="images/others/Partial_Label_Small_v2.png" width="150" height="100" border="0"></div></td>
													<td><div id="partialSmallHoria"><img src="images/others/Partial_Label_Horizontal_v2.png" width="100" height="100" border="0"></div></td>
												</tr>
											</table>
						</td>					
						</tr>
					</table>
				</div>
		
				