<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/stafaQC.js"></script>
<link type="text/css" href="css/floatmenu.css" rel="stylesheet" />
<script type="text/javascript" src="../pages/js/highcharts.js"></script>

<script>
function nextCryoPrep(){
	var nextToCryo = $("#nextToCryo").val();
    //alert("nextCryoPrep()")
        if(nextToCryo=="Storage")
		{
        	javascript:loadPage('html/stafa/storage_storeProduct.html');
		}
        
        if(nextToCryo=="Production")
		{
			javascript:loadAction('getOriginalProduct.action?newProductId='+productId);
		}
}

//
$(document).ready(function() {
	getProcessingData();
	try{
		//alert(" ready");
	
	oTable = $('#productTable').dataTable({
		"bJQueryUI": true
		//"sPaginationType": "full_numbers"
	});
	
	// check with mari
	/*
	document.getElementById('equipmentsTable_next').setAttribute("onClick","removeTableClass()");
	document.getElementById('equipmentsTable_previous').setAttribute("onClick","removeTableClass()");
	document.getElementById('reagentsTable_next').setAttribute("onClick","removeTableClass()");
	document.getElementById('reagentsTable_previous').setAttribute("onClick","removeTableClass()");
	
	removeTableClass();
	removeTableClassOnChange("equipmentsTable_length");
	removeTableClassOnChange("reagentsTable_length");
	*/
	//calculation
	//alert(" trace 1")
	$("#cryoTV").val($("#tmptv2").val());
	fn_cryoCalculation();
	}catch( err){
		alert(err);
	}
});

function fn_cryoCalculation(){
	//alert(" trace 2")
	var cryoBV = $("#cryoBV").val();
	var x1 = 60;
	var x2=30000;
	var x3 = 35;
	var x4=5;

	if(cryoBV ==60){
		x1=36;
		x2=18000;
		x3=21;
		x4=3;
		
	}
	//alert((Number($("#tmptnc2").val()) + " / " + x2));
	var nob1 = Math.ceil((Number($("#cryoTV").val())/x1 ));
	var nob2 = Math.ceil((Number($("#tmptnc2").val())/x2 ));
	var cyroNob = nob1;
	//alert( nob1 + "<" + nob2);
	if(nob1 < nob2){
		cyroNob = nob2;
	}
	$("#cyroNoB").val(cyroNob);
	
	$("#hsaCell").val( ((cyroNob*x1)-Number($("#cryoTV").val())));
	
	
	var hsan = (cyroNob+2)* x3;
	var dmson = (cyroNob+2)* x4;
	var ffs = hsan + dmson;
	$("#hsan").text(hsan);
	$("#dmson").text(dmson);
	$("#ffs").text(ffs);
	
	//construct product table
	constructProductTable();
	
	
	
}

function constructProductTable(){
	//alert("construct1");
	// clear the table
	$('#productTable tbody').find("tr").each(function(i){
		$("#productTable").dataTable().fnDeleteRow(0);
	});
	


	for(i=0;i<$("#cyroNoB").val();i++){
	
	$('#productTable').dataTable().fnAddData( [
	                              		"BMT123-3-"+ (i+1),
	                              		"100ml",
										$("#tmptnc2").val(),
	                              		"0.1",
	                              		"0.2",
	                              		"",
	                              		$("#tmprbc2").val(),
	                              		'<input type="checkbox" name="" id="">'
	                              		] );
	                              	
	}      
	
	
	//alert("construct2");
	for(i=0;i<$("#referenceVials").val();i++){
		
		$('#productTable').dataTable().fnAddData( [
		                              		"BMT123-3-R"+ (i+1),
		                              		"50ml",
											$("#tmptnc2").val(),
		                              		"0.1",
		                              		"0.2",
		                              		"",
		                              		$("#tmprbc2").val(),
		                              		'<input type="checkbox" name="" id="">'
		                              		] );
		                              	
		}      
	
	//alert(" end of construct table");
	
	
	
}

function removeTableClass(){
	
	$('#equipmentsTable_next').removeClass("ui-state-default");
	$('#equipmentsTable_previous').removeClass("ui-state-default");
	$('#reagentsTable_next').removeClass("ui-state-default");
	$('#reagentsTable_previous').removeClass("ui-state-default");

}

function generateTableFromJsnList(response){
	$.each(response.recipientDonorList, function(i,v) {
		//alert(i+"=-="+v[0]);
		$("#recipientName").html(v[0]);
		$("#recipientId").html(v[1]);
		$("#recipientDiagnosis").html(v[2]);
		$("#recipientAboRh").html(v[3]);
		$("#donorName").html(v[4]);
		$("#donorId").html(v[5]);
		$("#donorAboRh").html(v[6]);
		$("#productId").html(v[7]);
		$("#productType").html(v[9]);
	 	});
}
function getProcessingData(){
	//alert("s");
	var url = "getOriginalProductData";
	var productSearch = $("#productSearch").val();
	//if(e.keyCode==13 && productSearch!=""){
		//alert("s : "+e.keyCode);
		var response = ajaxCall(url,"cryoPreparationForm");
		//alert(response);
		//alert(response.qcList);
		//response = jQuery.parseJSON(response.recipientDonorList);
		//alert(response);	
		//alert(response.returnJsonStr);
		generateTableFromJsnList(response);
	//}
	//response = jQuery.parseJSON(response.recipientDonorList);

}
var chart;
$(document).ready(function() {
	chart = new Highcharts.Chart({
		chart: {
			renderTo: 'container',
			defaultSeriesType: 'scatter',
			margin: [70, 50, 60, 80],
			events: {
				click: function(e) {
					// find the clicked values and the series
					var x = e.xAxis[0].value,
						y = e.yAxis[0].value,
						series = this.series[0];
						
					// Add it
					series.addPoint([x, y]);
	
				}
			}
		},
		title: {
			text: 'Freeze Temperature'
		},
		subtitle: {
			text: ''
		},
		xAxis: {
			title:{
				text:'Time'
			},
			minPadding: 0.2,
			maxPadding: 0.2,
			maxZoom: 2
		},
		yAxis: {
			title: {
				text: 'Temperature'
			},
			minPadding: 0.2,
			maxPadding: 0.2,
			maxZoom: 2,
			plotLines: [{
				value: 0,
				width: 1,
				color: '#808080'
			}]
		},
		legend: {
			enabled: false
		},
		exporting: {
			enabled: false
		},
		plotOptions: {
			series: {
				lineWidth: 1,
				point: {
					events: {
						'click': function() {
							if (this.series.data.length > 1) this.remove();
						}
					}
				}
			}
		},
		series: [{
			data: [[1, 40], [2, 42]]
		}]
	});
	
	
});



</script>

<div class="cleaner"></div>

<!--float window-->

<div id="floatMenu">
<div id="forfloat_wind">
	<div id="box-outer">
		
		<a href="#" style="text-decoration:none" id="blind">&lt;&lt; </a>
			<div id="box">
				<div id="leftnav" >
				
<!-- recipient start-->
				<div  class="portlet">
					<div class="portlet-header notes"><s:hidden id="fkNotesType" value="32"/>Recipient</div>
						<div class="portlet-content">
						<table width="225" border="0">
						  <tr>
							<td width="89">ID:</td>
							<td width="120"><div id="recipientId"></div></td>
						  </tr>
						  <tr>
							<td>Name:</td>
							<td><div id="recipientName"></div></td>
						  </tr>
						  <tr>
							<td>ABO/Rh:</td>
							<td><div id="recipientAboRh"></div></td>
						  </tr>
						  <tr>
							<td>Diagnosis:</td>
							<td><div id="recipientDiagnosis"></div></td>
						  </tr>
						  <tr>
							<td>RID:</td>
							<td><div id="recipientRID"></div></td>
						  </tr>
</table>

					</div>
					</div>
				
<!-- recipient-->


<!-- Product start-->
				<div  class="portlet">
					<div class="portlet-header notes"><s:hidden id="fkNotesType" value="33"/>Product</div>
						<div class="portlet-content">
						<table width="225" border="0">
							<tr>
							<td width="89">ID:</td>
							<td width="120"><div id="productId"></div></td>
						  </tr>
						  <tr>
							<td>Type:</td>
							<td><div id="productType"></div></td>
						  </tr>
						</table>	

					
					</div>
				</div>
				
<!-- Product-->

<!-- Donor start-->
					<div class="portlet">
						<div class="portlet-header notes"><s:hidden id="fkNotesType" value="34"/>Donor</div>
						<div class="portlet-content">
							<table width="225" border="0">
								<tr>
									<td width="89">ID:</td>
									<td width="120"><div id="donorId"></div></td>
								</tr>
								<tr>
									<td>Name:</td>
									<td><div id="donorName"></div></td>
								</tr>
								<tr>
									<td>ABO/Rh:</td>
									<td><div id="donorAboRh"></div></td>
								</tr>
							</table>


						</div>
					</div>

<!-- Donor-->
				
				</div>
				</div>
			
			</div>
		</div>

	

	

</div>
<!--float window end-->

<!--right window start -->	
<div id="forfloat_right">	
	
<form action="#" id="cryoPreparationForm">
<input type="hidden" name="productSearch" id="productSearch" value="BMT4657"/> 
<div class="column">		
		<div  class="portlet">
			<div class="portlet-header notes"><s:hidden id="fkNotesType" value="35"/>Cryo Calculations</div>
			<!--<div id="button_wrapper"><input class="scanboxSearch" type="text" size="25" placeholder="Scan and Enter ID" name="search" /></div>-->
		<div class="portlet-content">
				<div id="table_inner_wrapper">
					<div id="left_table_wrapper">
						<div id="table_container_input">
							<div class="table_row_input1">
								<div class="table_cell_input1">Total Volume (ml):</div>
								<div class="table_cell_input2"><input type="text" id="cryoTV" name="cryoTV"  value="" placeholder="" readonly/></div>												
							</div>		
							
							<div class="table_row_input2">
								<div class="table_cell_input1">Cryo Bag Volume (ml):</div>
								<div class="table_cell_input2"><div class="mainselction"><select name="cryoBV" id="cryoBV" onchange="javascript:fn_cryoCalculation();"><option value="100" >100</option><option value="60">60</option></select></div></div>
							</div>	
							
							<div class="table_row_input3">
								<div class="table_cell_input1">No.of.Bags:</div>
								<div class="table_cell_input2"><input type="text" id="cyroNoB" name="cyroNoB"  value="" placeholder=""/></div>
							</div>						
																
						</div>
					</div>			
					
					<div id="right_table_wrapper">
						<div id="table_container_input">
							<div class="table_row_input1">
								<div class="table_cell_input1">5% HSA Added to cell (ml):</div>
								<div class="table_cell_input2"><input type="text" id="hsaCell" name="hsaCell"  value="" placeholder=""/></div>
							</div>		
							
							<div class="table_row_input1">
								<div class="table_cell_input1">Reference Vials:</div>
								<div class="table_cell_input2"><select name="referenceVials" id="referenceVials" onchange="javascript:constructProductTable();"><option value="1">1</option><option value="2">2</option><option value="3" selected="true">3</option><option value="4">4</option></select>
							</div>												
							</div>	
						
							
						</div>
						
					</div>
				</div>

			
			</div>
		</div>
	</div>
</form>		
	
<div class="cleaner"></div>



<div class="cleaner"></div>
 <div class="column">		
		<div  class="portlet">
			<div class="portlet-header">Product Summary</div>
			<div class="portlet-content">

			<table cellpadding="0" cellspacing="0" border="0" id="productTable" class="display">
					<thead>
						<tr>
							<th>Bag/Vial</th>
							<th>Volume</th>
							<th>TNC/kg</th>
							<th>CD34/kg</th>				
							<th>CD3/kg</th>
							<th>MNC/kg</th>
							<th>RBC/kg</th>
							<th>Stored</th>
						</tr>
					</thead>
					<tbody>
							
					
						
					</tbody>
			</table>
	</div>
	</div>	
</div>



<form action="#" id="login">
<div class="column">		
		<div  class="portlet">
			<div class="portlet-header notes"><s:hidden id="fkNotesType" value="36"/>Freeze Solution Prep</div>
		<div class="portlet-content">
			<div id="table_inner_wrapper">
			<div id="left_inner_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1">HSA Needed (ml):</div>
						<div class="table_cell_input1" id="hsan" name="hsan"></div>
					</div>					
				</div>	
			</div>
			
			<div id="middle_line_2"></div>
			
			<div id="middle_inner_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1">DMSO Needed (ml):</div>
						<div class="table_cell_input1" id="dmson" name="dmson"></div>
					</div>								
				</div>
			</div>
			
			<div id="middle_line_2"></div>
			
			<div id="right_inner_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1">Final Freeze Solution (ml):</div>
						<div class="table_cell_input1" id="ffs" name="ffs"></div>
					</div>									
				</div>
			</div>
		</div>
			
			</div>
		</div>
	</div>
</form>	



<div class="column">		
		<div  class="portlet">
			<div class="portlet-header">Freeze</div><br>
		<div class="portlet-content">
		<form action="#" id="login">
				<div id="table_inner_wrapper">
					<div id="left_table_wrapper">
						<div id="table_container_input">
							<div class="table_row_input1">
								<div class="table_cell_input1">Dummy Bag Test</div>
								<div class="table_cell_input2"><input type="checkbox" name=""></div>
							</div>	
							<div class="table_row_input1">
								<div class="table_cell_input1">CRF Serial #</div>
								<div class="table_cell_input2"><select name="" id="" class="sel_process"><option>abc123</option></select></div>
							</div>	
							<div class="table_row_input1">
								<div class="table_cell_input1">Program</div>
								<div class="table_cell_input2"><select name="" id="" class="sel_process"><option>CTL-F1</option></select></div>
							</div>	
							<div class="table_row_input1">
								<div class="table_cell_input1">Starting Temp.(C)</div>
								<div class="table_cell_input2">25</div>
							</div>
							<div class="table_row_input1">
								<div class="table_cell_input1">Final Temp.(C)</div>
								<div class="table_cell_input2">-85</div>
							</div>
						</div>
						
						

					</div>
						
						
					</div>
					
					<div id="right_table_wrapper">
						
						<div id="table_container_input">
							<div class="table_row_input1">
								<div class="table_cell_input1">
														
								Time : <input type="text" id="time" style="width:100px"/><br/>
								Temp : <input type="text" id="temp" style="width:100px"/><br/>
								<input type="button" value="Update Graph" onclick="generateGraph1();"/>
								</div>
								
				
						<div class="table_cell_input2" align="left"><div id="chart1" style="height:300px; width:400px;"></div></div>
							</div>						
						</div>
						
						
						
					</div>
					
					
				</div>
		   </form>			
			</div>
		</div>
	</div>	
	
<div class="cleaner"></div>

<section>

<div class="cleaner"></div>
		<div align="right" style="float:right;">
		<form>
				Next:&nbsp;&nbsp;<select name="" id="nextToCryo" class="sel_process"><option>Production</option><option>Storage</option></select>&nbsp;&nbsp;
				<input type="text" style="width:80px;" size="5" value="" placeholder="e-Sign"/>&nbsp;&nbsp;
				<input type="button" value="Next" onClick="nextCryoPrep()"/>
		</form>
		</div>
</section>
</div>

<script class="code" type="text/javascript">
var fArray = [];
$(document).ready(function(){
  //alert("s");
	//var a = [8.30,9.00,9.30,10.00]; 
	//var b = [20.23,12.23,15.25,18.96];
	var a = 8.30;
	var b = 30.23;
	var arr = [];
	arr.push(a);
	arr.push(b);
	fArray.push(arr);
	a = 8.40;
	b = 25.23;
	arr = [];
	arr.push(a);
	arr.push(b);
	fArray.push(arr);
	
  generateGraph(fArray);
});

function generateGraph1(){
	var a = $.trim($("#time").val());
	var b = $.trim($("#temp").val());
var arr = [];
arr.push(Number(a));
arr.push(Number(b));
//alert(arr);
fArray.push(arr);
  generateGraph(fArray);
  $("#time").val("");
  $("#temp").val("");
}

function generateGraph(graphData){
//var line1=[[8.30, 20.23],[9.00, 12.23],[9.30, 15.23],[10.00, 18.23]];
$("#chart1").html("");
var line1 = graphData;
  var plot1 = $.jqplot('chart1', [line1], {
      axes:{
        xaxis:{
          tickOptions:{
            formatString:'%.2f'
          } 
        },
        yaxis:{
          tickOptions:{
            formatString:'%.2fC'
            }
        }
      },
      highlighter: {
        show: true,
        sizeAdjust: 7.5
      },
      cursor: {
        show: false
      }
  });
}


</script>
