
<script>
$(document).ready(function() {
//$('#table111').dataTable({"aaSorting": [[ 1, "desc" ]]});
	oTable = $('#equipmentsTable').dataTable({
		"bJQueryUI": true
		//"sPaginationType": "full_numbers"
	});
	oTable = $('#reagentsTable').dataTable({
		"bJQueryUI": true
		//"sPaginationType": "full_numbers"
	});
	
	document.getElementById('equipmentsTable_next').setAttribute("onClick","removeTableClass()");
	document.getElementById('equipmentsTable_previous').setAttribute("onClick","removeTableClass()");
	document.getElementById('reagentsTable_next').setAttribute("onClick","removeTableClass()");
	document.getElementById('reagentsTable_previous').setAttribute("onClick","removeTableClass()");
	
	removeTableClass();
	removeTableClassOnChange("equipmentsTable_length");
	removeTableClassOnChange("reagentsTable_length");
	
});
function removeTableClass(){
	
	$('#equipmentsTable_next').removeClass("ui-state-default");
	$('#equipmentsTable_previous').removeClass("ui-state-default");
	$('#reagentsTable_next').removeClass("ui-state-default");
	$('#reagentsTable_previous').removeClass("ui-state-default");

}

</script>

<div class="cleaner"></div>

<form action="#" id="login">
<div class="column">		
		<div  class="portlet">			
			<div class="img_1"><a href="#"><img src="images/icons/edit.png" width="16" height="16" border="0" /></a></div>
			<div class="portlet-content">
				<div id="floating_window_wrapper">
					<div id="left_floating_box">
						<div class="left_box">
						
							<div class="column">		
								<div  class="portlet">
									<div class="portlet-header">Recipient</div>
											<div class="portlet-content">
						
												<div id="table_container_input">													
													<div class="table_row_input1">
														<div class="table_cell_input1">ID:</div>
														<div class="table_cell_input2"><label>MDA789564</label></div>
													</div>
													<div class="table_row_input1">
														<div class="table_cell_input1">Name:</div>
														<div class="table_cell_input2"><label>John Wilson</label></div>
													</div>
													<div class="table_row_input1">
														<div class="table_cell_input1">ABO/Rh:</div>
														<div class="table_cell_input2"><label>O/Pos</label></div>
													</div>
													<div class="table_row_input1">
														<div class="table_cell_input1">Diagnosis:</div>
														<div class="table_cell_input2"><label>Leukemia</label></div>
													</div>
													<div class="table_row_input1">
														<div class="table_cell_input1">RID:</div>
														<div class="table_cell_input2"><label>ALLO</label></div>
													</div>					
												</div>
											</div>
										</div>
									</div>
								
								
								<div class="column">		
								<div  class="portlet">
									<div class="portlet-header">Donor</div>
											<div class="portlet-content">
						
												<div id="table_container_input">													
													<div class="table_row_input1">
														<div class="table_cell_input1">ID:</div>
														<div class="table_cell_input2"><label>MDA789564</label></div>
													</div>
													<div class="table_row_input1">
														<div class="table_cell_input1">Name:</div>
														<div class="table_cell_input2"><label>John Wilson</label></div>
													</div>
													<div class="table_row_input1">
														<div class="table_cell_input1">ABO/Rh:</div>
														<div class="table_cell_input2"><label>O/Pos</label></div>
													</div>
													<div class="table_row_input1">
														<div class="table_cell_input1">Diagnosis:</div>
														<div class="table_cell_input2"><label>Leukemia</label></div>
													</div>
													<div class="table_row_input1">
														<div class="table_cell_input1">RID:</div>
														<div class="table_cell_input2"><label>ALLO</label></div>
													</div>					
												</div>
											</div>
										</div>
									</div>
								
								
								<div class="column">		
								<div  class="portlet">
									<div class="portlet-header">Program</div>
											<div class="portlet-content">
						
												<div id="table_container_input">													
													<div class="table_row_input1">
														<div class="table_cell_input1">ID:</div>
														<div class="table_cell_input2"><label>MDA789564</label></div>
													</div>
													<div class="table_row_input1">
														<div class="table_cell_input1">Name:</div>
														<div class="table_cell_input2"><label>John Wilson</label></div>
													</div>
													<div class="table_row_input1">
														<div class="table_cell_input1">ABO/Rh:</div>
														<div class="table_cell_input2"><label>O/Pos</label></div>
													</div>
													<div class="table_row_input1">
														<div class="table_cell_input1">Diagnosis:</div>
														<div class="table_cell_input2"><label>Leukemia</label></div>
													</div>
													<div class="table_row_input1">
														<div class="table_cell_input1">RID:</div>
														<div class="table_cell_input2"><label>ALLO</label></div>
													</div>					
												</div>
											</div>
										</div>
									</div>
						</div>
					</div>
					
					<div id="right_floating_box">
						<div class="right_box">
							<div class="column">		
								<div  class="portlet">
									<div class="portlet-header">Products of Infusion</div>
									<div id="button_wrapper">Product Type : &nbsp;&nbsp;HPC-A&nbsp;&nbsp;&nbsp;Release Quantity : &nbsp;&nbsp;2 Bags&nbsp;&nbsp;&nbsp;Total Volume : &nbsp;&nbsp;200 ml&nbsp;&nbsp;&nbsp;</div>
									<div class="portlet-content">
						
									<table cellpadding="0" cellspacing="0" border="0" id="reagentsTable" class="display">
											<thead>
												<tr>
													<th>Bag ID</th>
													<th>Volume</th>				
													<th>TNC/Kg (x10^8/kg)</th>
													<th>CD34/kg (x10^6/kg)</th>
													<th>CD3/kg (x10^6/kg)</th>
													<th>Scan/Enter Id</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>BMT123-3-1</td>
													<td>100ml</td>
													<td>&nbsp;</td>
													<td>&nbsp;</td>
													<td>&nbsp;</td>
													<td><img src="images/icons/accept1.jpg" width="20" height="20" border="0" /></td>
												</tr>
												<tr>
													<td>BMT123-3-2</td>
													<td>100ml</td>
													<td>&nbsp;</td>
													<td>&nbsp;</td>
													<td>&nbsp;</td>
													<td><img src="images/icons/no.jpg" width="20" height="20" border="0" /></td>
												</tr>
											</tbody>
									</table>
							</div>
						</div>
					</div>
					
					
					<div class="column">		
								<div  class="portlet">
									<div class="portlet-header">Products of Infusion</div>
									<div id="button_wrapper">Product Type : &nbsp;&nbsp;HPC-A&nbsp;&nbsp;&nbsp;Release Quantity : &nbsp;&nbsp;2 Bags&nbsp;&nbsp;&nbsp;Total Volume : &nbsp;&nbsp;200 ml&nbsp;&nbsp;&nbsp;</div>
									<div class="portlet-content">
						
									<table cellpadding="0" cellspacing="0" border="0" id="reagentsTable" class="display">
											<thead>
												<tr>
													<th>Bag ID</th>
													<th>Volume</th>				
													<th>TNC/Kg (x10^8/kg)</th>
													<th>CD34/kg (x10^6/kg)</th>
													<th>CD3/kg (x10^6/kg)</th>
													<th>Scan/Enter Id</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>BMT123-3-1</td>
													<td>100ml</td>
													<td>&nbsp;</td>
													<td>&nbsp;</td>
													<td>&nbsp;</td>
													<td><img src="images/icons/accept1.jpg" width="20" height="20" border="0" /></td>
												</tr>
												<tr>
													<td>BMT123-3-2</td>
													<td>100ml</td>
													<td>&nbsp;</td>
													<td>&nbsp;</td>
													<td>&nbsp;</td>
													<td><img src="images/icons/no.jpg" width="20" height="20" border="0" /></td>
												</tr>
											</tbody>
									</table>
							</div>
						</div>
					</div>
					
					
					
					<div class="column">		
								<div  class="portlet">
									<div class="portlet-header">Products of Infusion</div>
									<div id="button_wrapper">Product Type : &nbsp;&nbsp;HPC-A&nbsp;&nbsp;&nbsp;Release Quantity : &nbsp;&nbsp;2 Bags&nbsp;&nbsp;&nbsp;Total Volume : &nbsp;&nbsp;200 ml&nbsp;&nbsp;&nbsp;</div>
									<div class="portlet-content">
						
									<table cellpadding="0" cellspacing="0" border="0" id="reagentsTable" class="display">
											<thead>
												<tr>
													<th>Bag ID</th>
													<th>Volume</th>				
													<th>TNC/Kg (x10^8/kg)</th>
													<th>CD34/kg (x10^6/kg)</th>
													<th>CD3/kg (x10^6/kg)</th>
													<th>Scan/Enter Id</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>BMT123-3-1</td>
													<td>100ml</td>
													<td>&nbsp;</td>
													<td>&nbsp;</td>
													<td>&nbsp;</td>
													<td><img src="images/icons/accept1.jpg" width="20" height="20" border="0" /></td>
												</tr>
												<tr>
													<td>BMT123-3-2</td>
													<td>100ml</td>
													<td>&nbsp;</td>
													<td>&nbsp;</td>
													<td>&nbsp;</td>
													<td><img src="images/icons/no.jpg" width="20" height="20" border="0" /></td>
												</tr>
											</tbody>
									</table>
							</div>
						</div>
					</div>
					
					
					
					
					
					
					
					
				</div>			
			</div>
		</div>
	</div>
</form>	
<div class="cleaner"></div>

<section>

<div class="cleaner"></div>
		<div align="right" style="float:right;">
		<form>
			Next Process:&nbsp;&nbsp;<select name="" id="" class="sel_process"><option>Wash COBE 2991</option><option>Wash Manual</option><option>Infusion</option><option>Culture</option></select>&nbsp;
			<input type="text" style="width:80px;" size="5" value="" placeholder="e-Sign"/>
			<input type="button" value="Next"/>
		</form>
		</div>
		<div class="cleaner"></div>
			<div id="menu_bg">			
			<div>
				<ul id="menu">
					<li class="active"><a href="#">Recipient Information</a><span>|</span></li>
					<li><a href="#">Product Information</a><span>|</span></li>
					<li><a href="#">Donor Information</a><span>|</span></li>
					<li><a href="#">Master Member Index</a><span>|</span></li>				
				</ul>
			</div>
		</div>
		<div class="cleaner"></div>
<script>
$(function() {
	
	$( ".column" ).sortable({
		connectWith: ".column"
	});

	$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" )
		.find( ".portlet-header" )
			.addClass( "ui-widget-header ui-corner-all" )
			.prepend( "<span class='ui-icon ui-icon-minusthick'></span>")
			.end()
		.find( ".portlet-content" );

	$( ".portlet-header .ui-icon" ).click(function() {
		$( this ).toggleClass( "ui-icon-minusthick" ).toggleClass( "ui-icon-plusthick" );
		$( this ).parents( ".portlet:first" ).find( ".portlet-content" ).toggle();
	});

	$('.searchtable').dataTable({"aaSorting": [[ 1, "asc" ]]});
	//$('.sortable').columnManager({listTargetID:'sortable', onClass: 'advon', offClass: 'advoff', hideInList: [1,3],
     //   saveState: true, colsHidden: [2,4]});
	//$( ".column" ).disableSelection();
});

</script>