
<section>

 <div class="cleaner"></div>
 <div class="column">		
		<div  class="portlet">
			<div class="portlet-header notes"><input type="hidden" name="Notes1" id="1"/>Monthly Duty</div>
			<div class="portlet-content">
<table cellpadding="0" cellspacing="0" border="0" id="monthlyDutyTable" class="display">
		<thead>
			 <tr>
				<th colspan="1">Time Frame</th>
				<th colspan="1">Duty</th>
				<th colspan="1">Owner</th>
				<th colspan="1">Status</th>
			</tr> 
			 <tr>
				<th>Time Frame</th>
				<th>Duty</th>
				<th>Owner</th>
				<th>Status</th>
			</tr> 
		</thead>
		<tbody>
			<tr>
				<td>Sep 2-7, 2011</td>
				<td>Retrieve Products from Cryogene</td>
				<td>Tech1</td>
				<td>In Progress</td>
							
			</tr>
			<tr>
				<td>Sep 2-7, 2011</td>
				<td>Data Entry</td>
				<td>Tech1</td>
				<td>In Progress</td>
				
			</tr>
		</tbody>
		</table>

	</div>
	</div>	
<div  class="portlet">
			<div class="portlet-header notes">Daily Assigned Tasks</div>
			<div class="portlet-content">
<table cellpadding="0" cellspacing="0" border="0" id="dailyDutyTable" class="display">
		<thead>
			 <tr>
				<th colspan="1">Recipient Id</th>
				<th colspan="1">Recipient Name</th>
				<th colspan="1">Product Type</th>
				<th colspan="1">Product Id</th>							
				<th colspan="1">Facility</th>
				<th colspan="1">Current Status</th>
				<th colspan="1">Proposed Procedure</th>
				<th colspan="1">Intended Disposition</th>
			</tr> 
		 	<tr>
				<th>Recipient Id</th>
				<th>Recipient Name</th>
				<th>Product Type</th>
				<th>Product Id</th>							
				<th>Facility</th>
				<th>Current Status</th>
				<th>Proposed Procedure</th>
				<th>Intended Disposition</th>
			</tr> 
		</thead>
		<tbody>
			<tr>
				<td>MDA376548</td>
				<td>Shawn Lee </td>
				<td>HPC-M</td>
				<td>BMT139</td>
				<td>CORE Lab </td>
				<td>Cyropreserved</td>
				<td>Vol.Red.</td>
				<td>Release</td>
			</tr>
			<tr>
				<td>MDA890676</td>
				<td>Chris Law </td>
				<td>HPC-M</td>
				<td>BMT432</td>
				<td>GMP </td>
				<td>Cyropreserved</td>
				<td>Plas.Dep.</td>
				<td>Release</td>
			</tr>			
			</tbody>
			</table>
	</div>
	</div>
	
	<div  class="portlet">
			<div class="portlet-header notes">Daily Unassigned Task</div>
			<div class="portlet-content">
<table cellpadding="0" cellspacing="0" border="0" id="unassignedTable" class="display">
		<thead>
			 <tr>
				<th colspan="1">Recipient Id</th>
				<th colspan="1">Recipient Name</th>
				<th colspan="1">Product Type</th>
				<th colspan="1">Product Id</th>							
				<th colspan="1">Facility</th>
				<th colspan="1">Current Status</th>
				<th colspan="1">Proposed Procedure</th>
				<th colspan="1">Intended Disposition</th>
			</tr> 
			<tr>
				<th>Recipient Id</th>
				<th>Recipient Name</th>
				<th>Product Type</th>
				<th>Product Id</th>							
				<th>Facility</th>
				<th>Current Status</th>
				<th>Proposed Procedure</th>
				<th>Intended Disposition</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>MDA376589</td>
				<td>Lary Smith </td>
				<td>HPC-M</td>
				<td>BMT139</td>
				<td>CORE Lab </td>
				<td>Cyropreserved</td>
				<td>N/A</td>
				<td>Release</td>
			</tr>
			<tr>
				<td>MDA890645</td>
				<td>Mary Davis</td>
				<td>HPC-A</td>
				<td>BMT432</td>
				<td>GMP </td>
				<td>Cyropreserved</td>
				<td>Plas.Dep.</td>
				<td>Release</td>
			</tr>
			<tr>
				<td>MDA765894</td>
				<td>Lisa Miller </td>
				<td>HPC-A</td>
				<td>APH123</td>
				<td>GMP </td>
				<td>Collection</td>
				<td>Vol.Red.</td>
				<td>Cyropreserve</td>
			</tr>		
			</tbody>
			</table>
	</div>
	</div>	
		
</div>		

<!-- NEW POP FOR DATAFIELD CONFIG -->

<div id="addDataField" title="addDataField" style="display:none">
<hr>
<form id="addDatafieldForm">
<table border="0">
<tr><td style="font-weight:bold"> Data Field Details</td></tr>
</table>
<table width="90%" bgcolor="white" style="border-radius:10px;margin-left:0%;">
<tr>
	<td> Field Name</td>
	<td><input type="text" id="fieldNameID" name="fieldNameID"/></td>
	<td> Deactivate?</td>
	<td><input name="deActivate" type="Radio" id="Yes"/> Yes <input type="Radio" name="deActivate"  id="No"/> No 
</tr>
<tr>
<td></td>
<td></td>
<td> <img src = "images/icons/addnew.jpg">&nbsp;&nbsp;<img src = "images/icons/mini.png"></td> 
</tr>
<tr>
<td> Modules</td>
<td>
			<table border="1" id="moduleId" class="createchilddisplay" width="115%">
			<thead>
			<tr>
			<th style="width="25%"></th>
			<th style="width="50%"> Module</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td><input type="checkbox" name="moduleName" id="moduleNameId"></td>
			<td>Accession</td>
			</tr>
			</tbody>
			</table>
</td>
</tr>
<tr>
<td></td>
<td></td>
<td> <img src = "images/icons/addnew.jpg">&nbsp;&nbsp;<img src = "images/icons/mini.png"></td> 
</tr>
<tr>
<td>Field Code</td>
<td>
			<table border="1" id="fieldCodeID" class="createchilddisplay" width="115%">
			<thead>
			<tr>
			<th style="width="25%"></th>
			<th style="width="50%"> Code</th>
			<th style="width="50%"> Code Source</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td><input type="checkbox" name="fieldCodeName"></td>
			<td>abc</td>
			<td>Stafa</td>
			</tr>
			</tbody>
			</table>
</td>
</tr>
<tr>
<td></td>
<td></td>
<td> <img src = "images/icons/addnew.jpg">&nbsp;&nbsp;<img src = "images/icons/mini.png"></td> 
</tr>
<tr>
<td>Field ID</td>
<td>
			<table border="1" id="fieldID" class="createchilddisplay" width="115%">
			<thead>
			<tr>
			<th style="width="25%"></th>
			<th style="width="50%"> ID</th>
			<th style="width="50%"> ID Source</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td><input type="checkbox" name="FieldIDName"></td>
			<td>123</td>
			<td>Stafa</td>
			</tr>
			</tbody>
			</table>
</td>
</tr>
<tr>
<td>Field Description</td>
<td> <textarea rows="3" cols="40" id="fielddesc"></textarea></td>
</tr>
<tr>
<td>Field Type</td>
<td> <select id="fieldType"  style=\"width:50%\"><option>Select</option><option>Text</option><option>DropDown</option><option>RadioButton</option><option>CheckBox</option></select></td>
</tr>
<tr>
<td>
</td>
<td align="right" ><input type="button" name="Save" value="Save"/>&nbsp;<input type="button" name="Cancel" value="Cancel"/></td>
</tr>

</table>

</form>
</div>

<!-- END OF DATAFIELD CONFIG -->







<script>
$(document).ready(function(){
  		$(".fulldiv").resizable();
 	 $(".fulldiv").draggable();
	
});
// Pin Notifications
/* var pinoff=true;
var minimise=true;
function minPin(){
	if(minimise){
		$("#content").toggle();
		$("#minusimage").attr("src","images/icons/ic_maximize.png");	
		$("#minusimage").attr("title","Maximize");	
		minimise=false;
	}
	else if(minimise==false){
		$("#content").toggle();
		$("#minusimage").attr("src","images/icons/ic_minimize.png");
		$("#minusimage").attr("title","Minimize");	
		minimise=true;
	}
}
function closepin(){
	
	 $(".fulldiv").hide("scale");
}
function pinit(){
	if(pinoff==false){
		$("#image").css("padding-top","0%");
		$("#imageSpan").append("<span></span>");
		$("div").attr("title","Click the image to Drop");
		$("#image img").attr("src","images/icons/un pin.png");
		$(".fulldiv").draggable();
		$(".fulldiv").draggable("enable");
		pinoff=true;
	}
	else if(pinoff==true){
		
 		$("#image").next('span').remove(); 
		$("#image").css("padding-top","5%");
		$("div").attr("title","Click the image to Drag");
		$("#image img").attr("src","images/icons/pin.png");
		$(".fulldiv").draggable("disable");
		$("#pindiv").removeClass("ui-state-disabled");

		pinoff=false;
	}
} */
//End of pin Notifications
/*var sorter = new TINY.table.sorter("sorter");
sorter.head = "head";
sorter.asc = "asc";
sorter.desc = "desc";
sorter.even = "evenrow";
sorter.odd = "oddrow";
sorter.evensel = "evenselected";
sorter.oddsel = "oddselected";
sorter.paginate = true;
sorter.currentid = "currentpage";
sorter.limitid = "pagelimit";
sorter.init("table",1);
sorter.init("table1",1);
sorter.init("unassignedTable",1);*/
$(function() {
	
	$( ".column" ).sortable({
		connectWith: ".column"
	});

	$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" ).find( ".portlet-header" )
	.addClass( "ui-widget-header ui-corner-all" ).prepend( "<span class='ui-icon ui-icon-minusthick'></span>");
	

	$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" ).find( ".notes" )
	.append("<span style=\"float:right;\" class='ui-notes'></span>");

	$( ".portlet-header .ui-notes " ).click(function() {
		showNotes('open',this);
	});


	$( ".portlet-header .ui-icon" ).click(function() {
		$( this ).toggleClass( "ui-icon-minusthick" ).toggleClass( "ui-icon-plusthick" );
		$( this ).parents( ".portlet:first" ).find( ".portlet-content" ).toggle();
	});

	$('.searchtable').dataTable({"aaSorting": [[ 1, "asc" ]]});	
});

 
</script>
<script>
function hideBarcodes(){
	$("#imgtip0").css("display","none");
	$("#imgtip1").css("display","none");
	$("#imgtip2").css("display","none");
	$("#imgtip3").css("display","none");
}




$(document).ready(function() {

	hideBarcodes();
//$('#table111').dataTable({"aaSorting": [[ 1, "desc" ]]});
	var oTable = $('#unassignedTable').dataTable({
		"bJQueryUI": true
		//"sPaginationType": "full_numbers"
	});
	oTable.thDatasorting('unassignedTable');
	var oTable = $('#monthlyDutyTable').dataTable({
		"bJQueryUI": true
		//"sPaginationType": "full_numbers"
	});
	oTable.thDatasorting('monthlyDutyTable');
	var oTable= $('#dailyDutyTable').dataTable({
		"bJQueryUI": true
		//"sPaginationType": "full_numbers"
	});
	oTable.thDatasorting('dailyDutyTable');
	$('table tr').click(function(){
		  changeClass(this);
		});
	$("select").uniform();
	$.ui.dialog.defaults.bgiframe = true;
});

</script>
  <!-- 
<div style="width:100%;overflow-y:scroll;">
<table cellpadding="0" cellspacing="0" border="0" id="table111" class="display">
		<thead>
			<tr>
				<th>ID</th>
				<th>Product Id</th>
				<th>Product Name</th>
				<th>Recipient Id</th>
				<th>Recipient Name</th>
				<th>Product Type</th>
				<th>Facility</th>
				<th>Current Status</th>
				<th>Proposed Procedure</th>
				<th>Intended Disposition</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>MDA376548</td>
				<td>HPC-A</td>
				<td>MDA376548</td>
				<td>Shawn Lee </td>
				<td>HPC-A</td>
				<td>CORE Lab </td>
				<td>Cyropreserved</td>
				<td>Vol.Red.</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr>
			<tr>
				<td>2</td>
				<td>MDA890676</td>
				<td>HPC-B</td>
				<td>MDA376548</td>
				<td>Chris Law </td>
				<td>HPC-A</td>
				<td>GMP</td>
				<td>Cyropreserved</td>
				<td>Plas.Dep.</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr>
			<tr>
				<td>3</td>
				<td>MDA376548</td>
				<td>HPC-C</td>
				<td>MDA376548</td>
				<td>Lary Smith </td>
				<td>HPC-A</td>
				<td>CORE Lab </td>
				<td>Cyropreserved</td>
				<td>44%</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr>
			<tr>
				<td>4</td>
				<td>MDA890676</td>
				<td>HPC-B</td>
				<td>MDA376548</td>
				<td>Chris Law </td>
				<td>HPC-A</td>
				<td>GMP</td>
				<td>Cyropreserved</td>
				<td>Plas.Dep.</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr>
			<tr>
				<td>3</td>
				<td>MDA376548</td>
				<td>HPC-C</td>
				<td>MDA376548</td>
				<td>Lary Smith </td>
				<td>HPC-A</td>
				<td>CORE Lab </td>
				<td>Cyropreserved</td>
				<td>44%</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr>
			<tr>
				<td>4</td>
				<td>MDA890676</td>
				<td>HPC-B</td>
				<td>MDA376548</td>
				<td>Chris Law </td>
				<td>HPC-A</td>
				<td>GMP</td>
				<td>Cyropreserved</td>
				<td>Plas.Dep.</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr><tr>
				<td>3</td>
				<td>MDA376548</td>
				<td>HPC-C</td>
				<td>MDA376548</td>
				<td>Lary Smith </td>
				<td>HPC-A</td>
				<td>CORE Lab </td>
				<td>Cyropreserved</td>
				<td>44%</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr>
			<tr>
				<td>4</td>
				<td>MDA890676</td>
				<td>HPC-B</td>
				<td>MDA376548</td>
				<td>Chris Law </td>
				<td>HPC-A</td>
				<td>GMP</td>
				<td>Cyropreserved</td>
				<td>Plas.Dep.</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr><tr>
				<td>3</td>
				<td>MDA376548</td>
				<td>HPC-C</td>
				<td>MDA376548</td>
				<td>Lary Smith </td>
				<td>HPC-A</td>
				<td>CORE Lab </td>
				<td>Cyropreserved</td>
				<td>44%</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr>
			<tr>
				<td>4</td>
				<td>MDA890676</td>
				<td>HPC-B</td>
				<td>MDA376548</td>
				<td>Chris Law </td>
				<td>HPC-A</td>
				<td>GMP</td>
				<td>Cyropreserved</td>
				<td>Plas.Dep.</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr><tr>
				<td>3</td>
				<td>MDA376548</td>
				<td>HPC-C</td>
				<td>MDA376548</td>
				<td>Lary Smith </td>
				<td>HPC-A</td>
				<td>CORE Lab </td>
				<td>Cyropreserved</td>
				<td>44%</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr>
			<tr>
				<td>4</td>
				<td>MDA890676</td>
				<td>HPC-B</td>
				<td>MDA376548</td>
				<td>Chris Law </td>
				<td>HPC-A</td>
				<td>GMP</td>
				<td>Cyropreserved</td>
				<td>Plas.Dep.</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr><tr>
				<td>3</td>
				<td>MDA376548</td>
				<td>HPC-C</td>
				<td>MDA376548</td>
				<td>Lary Smith </td>
				<td>HPC-A</td>
				<td>CORE Lab </td>
				<td>Cyropreserved</td>
				<td>44%</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr>
			<tr>
				<td>4</td>
				<td>MDA890676</td>
				<td>HPC-B</td>
				<td>MDA376548</td>
				<td>Chris Law </td>
				<td>HPC-A</td>
				<td>GMP</td>
				<td>Cyropreserved</td>
				<td>Plas.Dep.</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr><tr>
				<td>3</td>
				<td>MDA376548</td>
				<td>HPC-C</td>
				<td>MDA376548</td>
				<td>Lary Smith </td>
				<td>HPC-A</td>
				<td>CORE Lab </td>
				<td>Cyropreserved</td>
				<td>44%</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr>
			<tr>
				<td>4</td>
				<td>MDA890676</td>
				<td>HPC-B</td>
				<td>MDA376548</td>
				<td>Chris Law </td>
				<td>HPC-A</td>
				<td>GMP</td>
				<td>Cyropreserved</td>
				<td>Plas.Dep.</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr><tr>
				<td>3</td>
				<td>MDA376548</td>
				<td>HPC-C</td>
				<td>MDA376548</td>
				<td>Lary Smith </td>
				<td>HPC-A</td>
				<td>CORE Lab </td>
				<td>Cyropreserved</td>
				<td>44%</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr>
			<tr>
				<td>4</td>
				<td>MDA890676</td>
				<td>HPC-B</td>
				<td>MDA376548</td>
				<td>Chris Law </td>
				<td>HPC-A</td>
				<td>GMP</td>
				<td>Cyropreserved</td>
				<td>Plas.Dep.</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr><tr>
				<td>3</td>
				<td>MDA376548</td>
				<td>HPC-C</td>
				<td>MDA376548</td>
				<td>Lary Smith </td>
				<td>HPC-A</td>
				<td>CORE Lab </td>
				<td>Cyropreserved</td>
				<td>44%</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr>
			<tr>
				<td>4</td>
				<td>MDA890676</td>
				<td>HPC-B</td>
				<td>MDA376548</td>
				<td>Chris Law </td>
				<td>HPC-A</td>
				<td>GMP</td>
				<td>Cyropreserved</td>
				<td>Plas.Dep.</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr><tr>
				<td>3</td>
				<td>MDA376548</td>
				<td>HPC-C</td>
				<td>MDA376548</td>
				<td>Lary Smith </td>
				<td>HPC-A</td>
				<td>CORE Lab </td>
				<td>Cyropreserved</td>
				<td>44%</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr>
			<tr>
				<td>4</td>
				<td>MDA890676</td>
				<td>HPC-B</td>
				<td>MDA376548</td>
				<td>Chris Law </td>
				<td>HPC-A</td>
				<td>GMP</td>
				<td>Cyropreserved</td>
				<td>Plas.Dep.</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr><tr>
				<td>3</td>
				<td>MDA376548</td>
				<td>HPC-C</td>
				<td>MDA376548</td>
				<td>Lary Smith </td>
				<td>HPC-A</td>
				<td>CORE Lab </td>
				<td>Cyropreserved</td>
				<td>44%</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr>
			<tr>
				<td>4</td>
				<td>MDA890676</td>
				<td>HPC-B</td>
				<td>MDA376548</td>
				<td>Chris Law </td>
				<td>HPC-A</td>
				<td>GMP</td>
				<td>Cyropreserved</td>
				<td>Plas.Dep.</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr><tr>
				<td>3</td>
				<td>MDA376548</td>
				<td>HPC-C</td>
				<td>MDA376548</td>
				<td>Lary Smith </td>
				<td>HPC-A</td>
				<td>CORE Lab </td>
				<td>Cyropreserved</td>
				<td>44%</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr>
			<tr>
				<td>4</td>
				<td>MDA890676</td>
				<td>HPC-B</td>
				<td>MDA376548</td>
				<td>Chris Law </td>
				<td>HPC-A</td>
				<td>GMP</td>
				<td>Cyropreserved</td>
				<td>Plas.Dep.</td>
				<td>Release</td>
				<td><input type="checkbox" name="" id=""></td>
			</tr>
			
			</tbody>
			</table>
</div>
  -->