<link type="text/css" href="css/floatmenu.css" rel="stylesheet" />
<script>

$(function() {
	$( "#leftnav" ).leftnav();
	$( "#leftnav" ).removeClass('ui-widget ui-helper-reset');
});
   $(document).ready(function() {
	// $('#right_new_wrapper').attr("style", "width: 83%");	
             $('#blind').html("<<");
               var $box = $('#box').wrap('<div id="box-outer"></div>');
               $('#blind').click(function() {
                 $box.blindToggle('fast');
               });
             });



               jQuery.fn.blindToggle = function(speed, easing, callback) {
               var h = this.width() + parseInt(this.css('paddingLeft')) 
+  parseInt(this.css('paddingRight'));
               if(parseInt(this.css('marginLeft'))<0){
			   	   $('#forfloat_right').animate( { width: "79%" }, { queue: false, duration: 200 });	
                   $('#blind').html("<<");
                   return this.animate({marginLeft:0},speed, easing, callback);
                   }
               else{
    			  $( "#forfloat_right" ).animate( { width: "95%" }, { queue: false, duration: 250 });
     
                   $('#blind').html(">>");
                   return this.animate({marginLeft:-h},speed, easing, callback);
				   
                     }
				
             };


$(document).ready(function() {
//$('#table111').dataTable({"aaSorting": [[ 1, "desc" ]]});
	oTable = $('#equipmentsTable').dataTable({
		"bJQueryUI": true
		//"sPaginationType": "full_numbers"
	});
	oTable = $('#reagentsTable').dataTable({
		"bJQueryUI": true
		//"sPaginationType": "full_numbers"
	});
	
	document.getElementById('equipmentsTable_next').setAttribute("onClick","removeTableClass()");
	document.getElementById('equipmentsTable_previous').setAttribute("onClick","removeTableClass()");
	document.getElementById('reagentsTable_next').setAttribute("onClick","removeTableClass()");
	document.getElementById('reagentsTable_previous').setAttribute("onClick","removeTableClass()");
	
	removeTableClass();
	removeTableClassOnChange("equipmentsTable_length");
	removeTableClassOnChange("reagentsTable_length");
	
});




function removeTableClass(){
	
	$('#equipmentsTable_next').removeClass("ui-state-default");
	$('#equipmentsTable_previous').removeClass("ui-state-default");
	$('#reagentsTable_next').removeClass("ui-state-default");
	$('#reagentsTable_previous').removeClass("ui-state-default");

}

</script>

<div class="cleaner"></div>


<!--float window-->

<div id="floatMenu">
<div id="forfloat_wind">
	<div id="box-outer">
		
		<a href="#" style="text-decoration:none" id="blind">&lt;&lt; </a>
			<div id="box">
				<div id="leftnav" >
				
<!-- recipient start-->
				<div  class="portlet">
					<div class="portlet-header notes">Recipient</div>
						<div class="portlet-content">
						<table width="225" border="0">
						  <tr>
							<td width="89">ID:</td>
							<td width="120">MDA789564</td>
						  </tr>
						  <tr>
							<td>Name:</td>
							<td>John Wilson</td>
						  </tr>
						  <tr>
							<td>ABO/Rh:</td>
							<td>O/Pos</td>
						  </tr>
						  <tr>
							<td>Diagnosis:</td>
							<td>Diagnosis:</td>
						  </tr>
						  <tr>
							<td>RID:</td>
							<td>ALLO</td>
						  </tr>
</table>

					</div>
					</div>
				
<!-- recipient-->


<!-- Product start-->
				<div  class="portlet">
					<div class="portlet-header notes">Product</div>
						<div class="portlet-content">
						<table width="225" border="0">
							<tr>
							<td width="89">ID:</td>
							<td width="120">BMT123</td>
						  </tr>
						  <tr>
							<td>Type:</td>
							<td>HPC-A</td>
						  </tr>
						</table>	

					
					</div>
				</div>
				
<!-- Product-->

<!-- Donor start-->
					<div class="portlet">
						<div class="portlet-header notes">Donor</div>
						<div class="portlet-content">
							<table width="225" border="0">
								<tr>
									<td width="89">ID:</td>
									<td width="120">NMDP123</td>
								</tr>
								<tr>
									<td>Name:</td>
									<td>Lisa Miller</td>
								</tr>
								<tr>
									<td>ABO/Rh:</td>
									<td>O/Pos</td>
								</tr>
							</table>


						</div>
					</div>

<!-- Donor-->
				
				</div>
				</div>
			
			</div>
		</div>

	

	

</div>
<!--float window end-->

<!--right window start -->	
<div id="forfloat_right">
	
<div class="column">		
		<div  class="portlet">
			<div class="portlet-header">Processing Station Setup</div><br>
		<div class="portlet-content">
		<form action="#" id="login">
				<div id="table_inner_wrapper">
					<div id="left_table_wrapper">
						<div id="table_container_input">
							<div class="table_row_input1">
								<div class="table_cell_input1">Processing Station:</div>
								<div class="table_cell_input2"><select name="" id="" class="sel_process"><option>Scan Enter Id</option><option>Scan Enter Id</option></select></div>
							</div>	
							<div class="table_row_input1">
								<div class="table_cell_input1">Procedure:</div>
								<div class="table_cell_input2"><select name="" id="" class="sel_process"><option>Vol.Red.</option><option>Vol.Red.</option></select></div>
							</div>				
						</div>
					</div>
					

					
					<div id="right_table_wrapper">
						<div id="table_container_input">
							<div class="table_row_input1">
								<div class="table_cell_input1">Processing Hood:</div>
								<div class="table_cell_input2"><select name="" id="" class="sel_process"><option>Scan Enter Id</option><option>Scan Enter Id</option></select></div>												
							</div>
							<div class="table_row_input1">
								<div class="table_cell_input1">Method:</div>
								<div class="table_cell_input2"><select name="" id="" class="sel_process"><option>COBE 2991</option><option>COBE 2991</option></select></div>
							</div>	
						</div>
					</div>
				</div>
				</form>			
			</div>
		</div>
	</div>	
	
<div class="cleaner"></div>

<form action="#" id="login">
<div class="column">		
		<div  class="portlet">
			<div class="portlet-header notes">QC</div>			
		<div class="portlet-content">
			<div id="table_inner_wrapper">
			<div id="left_table_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1"><input type="checkbox" checked="checked" name="" id="">&nbsp;<a href="#">ABO/Rh</a></div>
						<div class="table_cell_input2"><input type="checkbox" checked="checked" name="" id="">&nbsp;<a href="#">Chimera</a></div>												
					</div>		
					
					<div class="table_row_input2">
						<div class="table_cell_input1"><input type="checkbox" checked="checked" name="" id="">&nbsp;<a href="#">Gram Stain</a></div>
						<div class="table_cell_input2"><input type="checkbox" checked="checked" name="" id="">&nbsp;<a href="#">Immnophenotyping</a></div>
					</div>						
				</div>
			</div>			
			
			<div id="right_table_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1"><input type="checkbox" checked="checked" name="" id="">&nbsp;<a href="#">Differential</a></div>
						<div class="table_cell_input2"><input type="checkbox" checked="checked" name="" id="">&nbsp;<a href="#">Enumeration</a></div>												
					</div>		
					
					<div class="table_row_input2">
						<div class="table_cell_input1"><input type="checkbox" checked="checked" name="" id="">&nbsp;<a href="#">Sterility</a></div>
						<div class="table_cell_input2"><input type="checkbox" checked="checked" name="" id="">&nbsp;<a href="#">Viability</a></div>
					</div>	
					
				</div>			
				
			</div>
		</div>
			
			</div>
		</div>
	</div>
</form>		
	
<section>

 <div class="cleaner"></div>
 <div class="column">		
		<div  class="portlet">
			<div class="portlet-header notes">Reagents, Supplies</div>
			<div class="portlet-content">
			<table cellpadding="0" cellspacing="0" border="0" id="reagentsTable" class="display">
					<thead>
						<tr>
							<th>Reagents and Supplies</th>
							<th>Quantity</th>
							<th>Manufacturer</th>
							<th>Lot#</th>				
							<th>Expiration Date</th>
							<th>Appearance OK</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Blood Culture Bottle-aerobic</td>
							<td>1</td>
							<td>BD</td>
							<td>309602</td>
							<td>Dec 10, 2011</td>
							<td align="center"><input type="radio" id="yes" name="yes" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes" class=""/> N</td>
						</tr>
						<tr>
							<td>Blood Culture Bottle-aerobic</td>
							<td>1</td>
							<td>BD</td>
							<td>4C2405</td>
							<td>Dec 23, 2011</td>
							<td align="center"><input type="radio" id="yes" name="yes1" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes1" class=""/> N</td>
						</tr>
						
						<tr>
							<td>60ml Syringe</td>
							<td>3</td>
							<td>BD</td>
							<td>305198</td>
							<td>Nov 03, 2011</td>
							<td align="center"><input type="radio" id="yes" name="yes2" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes2" class=""/> N</td>
						</tr>
						
						<tr>
							<td>0.9% NaCl</td>
							<td>100 ml</td>
							<td>Baxter</td>
							<td>400987</td>
							<td>Jul 20, 2012</td>
							<td align="center"><input type="radio" id="yes" name="yes3" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes3" class=""/> N</td>
						</tr>
						
						<tr>
							<td>5% HSA</td>
							<td>50 ml</td>
							<td>Baxter</td>
							<td>987067</td>
							<td>Dec 04, 2012</td>
							<td align="center"><input type="radio" id="yes" name="yes4" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes4" class=""/> N</td>
						</tr>
						
						<tr>
							<td>DMSO</td>
							<td>10 ml</td>
							<td>Fisher</td>
							<td>67589</td>
							<td>Nov 09, 2012</td>
							<td align="center"><input type="radio" id="yes" name="yes5" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes5" class=""/> N</td>
						</tr>
						

						<tr>
							<td>3ml Syring</td>
							<td>1</td>
							<td>BD</td>
							<td>34678</td>
							<td>Oct 7, 2013</td>
							<td align="center"><input type="radio" id="yes" name="yes6" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes6" class=""/> N</td>
						</tr>
						<tr>
							<td>16 G Needle</td>
							<td>5</td>
							<td>BD</td>
							<td>675489</td>
							<td>Sep 12, 2012</td>
							<td align="center"><input type="radio" id="yes" name="yes7" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes7" class=""/> N</td>
						</tr>
						<tr>
							<td>Alcohol Prep</td>
							<td>20</td>
							<td>Kendall</td>
							<td>675489</td>
							<td>Aug 22, 2012</td>
							<td align="center"><input type="radio" id="yes" name="yes8" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes8" class=""/> N</td>
						</tr>
						
						<tr>
							<td>Culture Test Tube</td>
							<td>10</td>
							<td>Kendall</td>
							<td>675489</td>
							<td>Aug 22, 2012</td>
							<td align="center"><input type="radio" id="yes" name="yes9" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes9" class=""/> N</td>
						</tr>						
						
					</tbody>
			</table>
	</div>
	</div>	
</div>		
		
</section>	


<section>

 <div class="cleaner"></div>
 <div class="column">		
		<div  class="portlet">
			<div class="portlet-header notes">Equipments</div>
			<div class="portlet-content">
			<table cellpadding="0" cellspacing="0" border="0" id="equipmentsTable" class="display">
					<thead>
						<tr>
							<th>Equipment</th>
							<th>Manufacturer</th>
							<th>Serial#</th>
							<th>Expiration Date</th>				
							<th>Appearance OK</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>COBE 2991 Cell Processor</td>
							<td>BD</td>
							<td>309602</td>
							<td>Dec 10, 2011</td>
							<td align="center"><input type="radio" id="yes" name="yes10" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes10" class=""/> N</td>
						</tr>
						<tr>
							<td>Heat Sealer</td>
							<td>Baxter</td>
							<td>4C2405</td>
							<td>Dec 23, 2011</td>
							<td align="center"><input type="radio" id="yes" name="yes11" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes11" class=""/> N</td>
						</tr>	
						
						<tr>
							<td>Electronic Balance</td>
							<td>BD</td>
							<td>305198</td>
							<td>Nov 03, 2011</td>
							<td align="center"><input type="radio" id="yes" name="yes12" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes12" class=""/> N</td>
						</tr>	
						
						<tr>
							<td>Sterile Connecting Device</td>
							<td>Fisher</td>
							<td>908763</td>
							<td>Jul 20, 2015</td>
							<td align="center"><input type="radio" id="yes" name="yes13" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes13" class=""/> N</td>
						</tr>	
						
											
					</tbody>
			</table>
	</div>
	<div align="right" style="float:right;">
		<form>				
			<input type="text" style="width:80px;" size="5" value="" placeholder="e-Sign"/>
			<input type="button" value="Next"/>
		</form>
		</div>
	</div>	

</div>		
		
</section>	


<div class="cleaner"></div>




<form action="#" id="login">
<div class="column">		
		<div  class="portlet">
			<div class="portlet-header notes">Equipment Setup</div>
		<div class="portlet-content">
			<div id="table_inner_wrapper">
			<div id="left_inner_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1">Program</div>
						<div class="table_cell_input2"><select name="" id="" class="sel_loc"><option>12345</option></select></div>
					</div>					
				</div>	
			</div>
			
			<div id="middle_line_2"></div>
			
			<div id="middle_inner_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1">Speed (rpm):</div>
						<div class="table_cell_input2"><input type="text" id="time" placeholder="3000" maxlength="100"/></div>
					</div>								
				</div>
			</div>
			
			<div id="middle_line_2"></div>
			
			<div id="right_inner_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1">Excess pressure light lit within (sec):</div>
						<div class="table_cell_input2"><input type="text" id="time" placeholder="8" maxlength="100"/></div>
					</div>									
				</div>
			</div>
		</div>
			
			</div>
		</div>
	</div>
</form>	
	<div class="cleaner"></div>
	
<div class="column">		
		<div  class="portlet">
			<div class="portlet-header">Volume Reduction Calculation</div><br>
		<div class="portlet-content">
		<form action="#" id="login">
				<div id="table_inner_wrapper">
					<div id="left_table_wrapper">
						<div id="table_container_input">
							<div class="table_row_input1">
								<div class="table_cell_input1">Max Plasma Vol.Reduced (ml):</div>
								<div class="table_cell_input2"><input type="text" id="time" placeholder="" maxlength="100"/></div>
							</div>
						</div>
					</div>	

					
					<div id="right_table_wrapper">
						<div id="table_container_input">
							<div class="table_row_input1">
								<div class="table_cell_input1">Min Plasma Vol.Reduced (ml):</div>
								<div class="table_cell_input2"><input type="text" id="time" placeholder="" maxlength="100"/></div>												
							</div>						
						</div>
					</div>
				</div>
		   </form>			
			</div>
		</div>
	</div>	
	
<div class="cleaner"></div>

<section>

<div class="cleaner"></div>
		<div align="right" style="float:right;">
		<form>
				Processing Page:&nbsp;&nbsp;<a href="#" id="processing" class="cursor" onclick="javascript:loadPage('html/stafa/processing_pro.html');" >1</a>&nbsp;&nbsp;&nbsp;<a id="processing2" href="#" class="cursor" onclick="javascript:loadPage('html/stafa/processing_pro_2.html');makeSelectedPage();" >2</a>&nbsp;
			<input type="text" style="width:80px;" size="5" value="" placeholder="e-Sign"/>
			<input type="button" value="Next"/>
		</form>
		</div>
		
		<div class="cleaner"></div>
</section>
</div>

<script>
$(function() {	
	
	$( ".column" ).sortable({
		connectWith: ".column"
	});

	$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" ).find( ".portlet-header" )
	.addClass( "ui-widget-header ui-corner-all" ).prepend( "<span class='ui-icon ui-icon-minusthick'></span>");
	
	/**For Notes**/
	$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" ).find( ".notes" )
	.append("<span style=\"float:right;\" class='ui-notes'></span>");

	$( ".portlet-header .ui-notes " ).click(function() {
		showNotes('open');
	});
	/**For Refresh**/
	$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" ).find( ".reset" )
	.append("<span style=\"float:right;\" class='ui-reset'></span>");
	

	$( ".portlet-header .ui-icon" ).click(function() {
		$( this ).toggleClass( "ui-icon-minusthick" ).toggleClass( "ui-icon-plusthick" );
		$( this ).parents( ".portlet:first" ).find( ".portlet-content" ).toggle();
	});

	$('.searchtable').dataTable({"aaSorting": [[ 1, "asc" ]]});	
	//$('.sortable').columnManager({listTargetID:'sortable', onClass: 'advon', offClass: 'advoff', hideInList: [1,3],
     //   saveState: true, colsHidden: [2,4]});
	//$( ".column" ).disableSelection();
});

</script>