<link type="text/css" href="css/floatmenu.css" rel="stylesheet" />
<script>

$(function() {
	$( "#leftnav" ).leftnav();
	$( "#leftnav" ).removeClass('ui-widget ui-helper-reset');
});
   $(document).ready(function() {
	// $('#right_new_wrapper').attr("style", "width: 83%");	
             $('#blind').html("<<");
               var $box = $('#box').wrap('<div id="box-outer"></div>');
               $('#blind').click(function() {
                 $box.blindToggle('fast');
               });
             });



               jQuery.fn.blindToggle = function(speed, easing, callback) {
               var h = this.width() + parseInt(this.css('paddingLeft')) 
+  parseInt(this.css('paddingRight'));
               if(parseInt(this.css('marginLeft'))<0){
			   	   $('#forfloat_right').animate( { width: "79%" }, { queue: false, duration: 200 });	
                   $('#blind').html("<<");
                   return this.animate({marginLeft:0},speed, easing, callback);
                   }
               else{
    			  $( "#forfloat_right" ).animate( { width: "95%" }, { queue: false, duration: 250 });
     
                   $('#blind').html(">>");
                   return this.animate({marginLeft:-h},speed, easing, callback);
				   
                     }
				
             };


$(document).ready(function() {
//$('#table111').dataTable({"aaSorting": [[ 1, "desc" ]]});
	oTable = $('#equipmentsTable').dataTable({
		"bJQueryUI": true
		//"sPaginationType": "full_numbers"
	});
	oTable = $('#reagentsTable').dataTable({
		"bJQueryUI": true
		//"sPaginationType": "full_numbers"
	});
	
	document.getElementById('equipmentsTable_next').setAttribute("onClick","removeTableClass()");
	document.getElementById('equipmentsTable_previous').setAttribute("onClick","removeTableClass()");
	document.getElementById('reagentsTable_next').setAttribute("onClick","removeTableClass()");
	document.getElementById('reagentsTable_previous').setAttribute("onClick","removeTableClass()");
	
	removeTableClass();
	removeTableClassOnChange("equipmentsTable_length");
	removeTableClassOnChange("reagentsTable_length");
	
});




function removeTableClass(){
	
	$('#equipmentsTable_next').removeClass("ui-state-default");
	$('#equipmentsTable_previous').removeClass("ui-state-default");
	$('#reagentsTable_next').removeClass("ui-state-default");
	$('#reagentsTable_previous').removeClass("ui-state-default");

}

</script>

<div class="cleaner"></div>


<!--float window-->

<div id="floatMenu">
<div id="forfloat_wind">
	<div id="box-outer">
		
		<a href="#" style="text-decoration:none" id="blind">&lt;&lt; </a>
			<div id="box">
				<div id="leftnav" >
				
<!-- recipient start-->
				<div  class="portlet">
					<div class="portlet-header notes">Recipient</div>
						<div class="portlet-content">
						<table width="225" border="0">
						  <tr>
							<td width="89">ID:</td>
							<td width="120">MDA789564</td>
						  </tr>
						  <tr>
							<td>Name:</td>
							<td>John Wilson</td>
						  </tr>
						  <tr>
							<td>ABO/Rh:</td>
							<td>O/Pos</td>
						  </tr>
						  <tr>
							<td>Diagnosis:</td>
							<td>Diagnosis:</td>
						  </tr>
						  <tr>
							<td>RID:</td>
							<td>ALLO</td>
						  </tr>
</table>

					</div>
					</div>
				
<!-- recipient-->


<!-- Product start-->
				<div  class="portlet">
					<div class="portlet-header notes">Product</div>
						<div class="portlet-content">
						<table width="225" border="0">
							<tr>
							<td width="89">ID:</td>
							<td width="120">BMT123</td>
						  </tr>
						  <tr>
							<td>Type:</td>
							<td>HPC-A</td>
						  </tr>
						</table>	

					
					</div>
				</div>
				
<!-- Product-->

<!-- Donor start-->
					<div class="portlet">
						<div class="portlet-header notes">Donor</div>
						<div class="portlet-content">
							<table width="225" border="0">
								<tr>
									<td width="89">ID:</td>
									<td width="120">NMDP123</td>
								</tr>
								<tr>
									<td>Name:</td>
									<td>Lisa Miller</td>
								</tr>
								<tr>
									<td>ABO/Rh:</td>
									<td>O/Pos</td>
								</tr>
							</table>


						</div>
					</div>

<!-- Donor-->
				
				</div>
				</div>
			
			</div>
		</div>

	

	

</div>
<!--float window end-->

<!--right window start -->	
<div id="forfloat_right">
	

<div class="cleaner"></div>

<form action="#" id="login">
<div class="column">		
		<div  class="portlet">
			<div class="portlet-header notes">QC</div>			
		<div class="portlet-content">
			<div id="table_inner_wrapper">
			<div id="left_table_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1"><input type="checkbox"  name="ABO" id='ABO'>&nbsp;<a href="#">ABO/Rh</a></div>
						<div class="table_cell_input2"><input type="checkbox"  name="EnumCtl" id="EnumCtl"><a href="#">Enumeration in CTL-1</a></div>												
					</div>		
					
					<div class="table_row_input2">
						<div class="table_cell_input1"><input type="checkbox"  name="Sterlity" id="Sterlity">&nbsp;<a href="#">Sterlity</a></div>
						<div class="table_cell_input2"><input type="checkbox"  name="Flow" id="Flow">&nbsp;<a href="#">Flow</a></div>
						</div>						
				</div>
			</div>			
			
			<div id="right_table_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1"><input type="checkbox"  name="EnumLab" id="EnumLab">&nbsp;<a href="#">Enumeration in Lab Med</a></div>
																		
					</div>		
							
					
				</div>			
				
			</div>
		</div>
			
			</div>
		</div>
	</div>
</form>		
	
<section>

 <div class="cleaner"></div>
 <div class="column">		
		<div  class="portlet">
			<div class="portlet-header notes">Reagents, Supplies</div>
			<div class="portlet-content">
			<table cellpadding="0" cellspacing="0" border="0" id="reagentsTable" class="display">
					<thead>
						<tr>
							<th>Reagents and Supplies</th>
							<th>Quantity</th>
							<th>Manufacturer</th>
							<th>Lot#</th>				
							<th>Expiration Date</th>
							<th>Appearance OK</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>12x75 sterile snap-cap tubes</td>
							<td>2</td>
							<td>Fisher</td>
							<td>14-956-1c</td>
							<td></td>
							<td align="center"><input type="radio" id="yes" name="yes" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes" class=""/> N</td>
						</tr>
						<tr>
							<td>12x75 sterile snap-cap tubes(or equivalent)</td>
							<td>1</td>
							<td>Falcon</td>
							<td>352058</td>
							<td></td>
							<td align="center"><input type="radio" id="yes" name="yes1" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes1" class=""/> N</td>
						</tr>
						
						<tr>
							<td>16 guage needle(or equivalent)</td>
							<td>3</td>
							<td>BD</td>
							<td>305198</td>
							<td></td>
							<td align="center"><input type="radio" id="yes" name="yes2" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes2" class=""/> N</td>
						</tr>
						
						<tr>
							<td>18 guage needle(or equivalent)</td>
							<td>1</td>
							<td>Baxter</td>
							<td>305196</td>
							<td></td>
							<td align="center"><input type="radio" id="yes" name="yes3" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes3" class=""/> N</td>
						</tr>
						
						<tr>
							<td>1mL Syringe (or equivalent)</td>
							<td>1</td>
							<td>BD</td>
							<td>309602</td>
							<td></td>
							<td align="center"><input type="radio" id="yes" name="yes4" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes4" class=""/> N</td>
						</tr>
						
						<tr>
							<td>3mL Syringe (or equivalent)</td>
							<td>3</td>
							<td>BD</td>
							<td>309585</td>
							<td></td>
							<td align="center"><input type="radio" id="yes" name="yes5" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes5" class=""/> N</td>
						</tr>
						

						<tr>
							<td>Alcohol(prep)</td>
							<td>4</td>
							<td>Kendall</td>
							<td>5033,5110,5033</td>
							<td></td>
							<td align="center"><input type="radio" id="yes" name="yes6" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes6" class=""/> N</td>
						</tr>
						<tr>
							<td>BACTEC PLUS ANAEROBIC/F CULTURE Vial</td>
							<td>1</td>
							<td>BD</td>
							<td>4421923</td>
							<td></td>
							<td align="center"><input type="radio" id="yes" name="yes7" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes7" class=""/> N</td>
						</tr>
						<tr>
							<td>BD BACTEC PLUS ANAEROBIC/F CULTURE Vial</td>
							<td>1</td>
							<td>BD</td>
							<td>442192</td>
							<td></td>
							<td align="center"><input type="radio" id="yes" name="yes8" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes8" class=""/> N</td>
						</tr>
						
						<tr>
							<td>Sample site coupler</td>
							<td>1</td>
							<td>Baxter</td>
							<td>4c2405</td>
							<td></td>
							<td align="center"><input type="radio" id="yes" name="yes9" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes9" class=""/> N</td>
						</tr>						
						
					</tbody>
			</table>
	</div>
	</div>	
</div>		
		
</section>	


<section>

 <div class="cleaner"></div>
 <div class="column">		
		<div  class="portlet">
			<div class="portlet-header notes">Equipments</div>
			<div class="portlet-content">
			<table cellpadding="0" cellspacing="0" border="0" id="equipmentsTable" class="display">
					<thead>
						<tr>
							<th>Equipment</th>
							<th>Manufacturer</th>
							<th>Serial#</th>
							<th>Expiration Date</th>				
							<th>Appearance OK</th>
						</tr>
					</thead>
					<tbody>
						
						
						<tr>
							<td>Biological Saftey cabinet</td>
							<td>Fisher</td>
							<td>908763</td>
							<td>Jul 20, 2015</td>
							<td align="center"><input type="radio" id="yes" name="yes13" class=""/> Y &nbsp; <input type="radio" id="No" onClick="confirmIfNo();" name="yes13" class=""/> N</td>
						</tr>	
						
											
					</tbody>
			</table>
	</div>

	</div>	

</div>		
		
</section>	


<div class="cleaner"></div>



<form action="#" id="login">
<div class="column">		
		<div  class="portlet">
			<div class="portlet-header notes">Calculation</div>
			<!--<div id="button_wrapper"><input class="scanboxSearch" type="text" size="25" placeholder="Scan and Enter ID" name="search" /></div>-->
		<div class="portlet-content">
				<div id="table_inner_wrapper">
					<div id="left_table_wrapper">
						<div id="table_container_input">
							<div class="table_row_input1">
								<div class="table_cell_input1">Total Volume (ml):</div>
								<div class="table_cell_input2"><input type="text" id="date" name="date" class="date_input"  value=""/></div>												
							</div>		
							
							<div class="table_row_input2">
								<div class="table_cell_input1">Dilution Factor:</div>
								<div class="table_cell_input2"><input type="text" id="date" name="date" class="date_input"  value=""/></div>
							</div>	
							
							<div class="table_row_input3">
								<div class="table_cell_input1">Recipient Weight (kg):</div>
								<div class="table_cell_input2"><input type="text" id="date" name="date" class="date_input"  value=""/></div>
							</div>
							
							<div class="table_row_input3">
								<div class="table_cell_input1">HCT %:</div>
								<div class="table_cell_input2"><input type="text" id="date" name="date" class="date_input"  value=""/></div>
							</div>												
						</div>
					</div>			
					
					<div id="right_inner_wrapper">
						<div id="table_container_input">
							<div class="table_row_input1">
								<div class="table_cell_input1">AVG.Cell Count (x10 ^6/ml):</div>
								<div class="table_cell_input2"><input type="text" id="Avgtxt" name="date" class="date_input"  value=""/></label></div>												
							</div>		
							
							<div class="table_row_input1">
								<div class="table_cell_input1">TNC(x10^8):</div>
								<div class="table_cell_input2"><input type="text" id="Tntxt" name="date" class="date_input"  value=""/></label></div>												
							</div>
							
							<div class="table_row_input1">
								<div class="table_cell_input1">TNC/kg(x10^8/kg):</div>
								<div class="table_cell_input2"><input type="text" id="Tntxt1" name="date" class="date_input"  value=""/></label></div>												
							</div>
							
							<div class="table_row_input1">
								<div class="table_cell_input1">RBC(x10^6):</div>
								<div class="table_cell_input2"><input type="text" id="Rbc" name="date" class="date_input"  value=""/></label></div>												
							</div>
							
							<div class="table_row_input1">
								<div class="table_cell_input1">RBC/kg(x10^6/kg):</div>
								<div class="table_cell_input2"><input type="text" id="Rbc1" name="date" class="date_input"  value=""/></label></div>
							</div>
							
						</div>
						
					</div>
				</div>

			
			</div>
		</div>
	</div>
</form>		
	
	<div class="cleaner"></div>
	

	
<div class="cleaner"></div>
<div class="column">		
		<div  class="portlet">
		<div class="portlet-header ">Refridgerator</div>
				<div class="portlet-content">
			<table cellpadding="0" cellspacing="0" border="0" id="equipmentsTable" class="display">
					<thead>
						<tr>
							<th>ProductID</th>
							<th>Volume(ml)</th>
							<th>TNC(x10^8)</th>
							<th>TNC/kg(x10^8/kg)</th>				
							<th>RBC(x10^6)</th>
							<th>RBC/kg(x10^6/kg)</th>
						</tr>
					</thead>
					<tbody>
						
						
						<tr>
							<td>BMT123-3</td>
							<td>350</td>
							<td>1140</td>
							<td>15.20</td>
							<td>7.2</td>
							<td>0.09</td>
				    	</tr>	
						
											
					</tbody>
			</table>
	
	    <div class="cleaner"></div>
	    	<div id="table_inner_wrapper">
					<div id="left_table_wrapper">
						<div id="table_container_input">
							<div class="table_row_input1">
							    <form>
								<div class="table_cell_input1">RefrigeratorSelection:<select name="" id="" class="sel_process"><option>selection</option></select></div>
								</form>
								</div>												
							</div>	
							</div>
							</div>
														
		      <form>
		       <div align=right>
				<input type="text" style="width:80px;" size="5" value="" placeholder="e-Sign"/>
				<input type="button" value="Next"/>
				</div>           
				</form>
		</div>
		</div>		
		</div>
<!--   <div class="column">		
		<div  class="abc">
			<div class="abb">Refridgerator</div>
			</div>
</div>-->		

<section>


		
		<div class="cleaner"></div>
</section>
</div>


<script>
$(function() {	
	
	$( ".column" ).sortable({
		connectWith: ".column"
	});
	
	//$( ".abc" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" ).find( ".abb" )
	//.addClass( "ui-widget-header ui-corner-all" );

	$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" ).find( ".portlet-header" )
	.addClass( "ui-widget-header ui-corner-all" ).prepend( "<span class='ui-icon ui-icon-minusthick'></span>");
	
	/**For Notes**/
	$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" ).find( ".notes" )
	.append("<span style=\"float:right;\" class='ui-notes'></span>");

	$( ".portlet-header .ui-notes " ).click(function() {
		showNotes('open');
	});
	/**For Refresh**/
	$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" ).find( ".reset" )
	.append("<span style=\"float:right;\" class='ui-reset'></span>");
	

	$( ".portlet-header .ui-icon" ).click(function() {
		$( this ).toggleClass( "ui-icon-minusthick" ).toggleClass( "ui-icon-plusthick" );
		$( this ).parents( ".portlet:first" ).find( ".portlet-content" ).toggle();
	});

	$('.searchtable').dataTable({"aaSorting": [[ 1, "asc" ]]});	
	//$('.sortable').columnManager({listTargetID:'sortable', onClass: 'advon', offClass: 'advoff', hideInList: [1,3],
     //   saveState: true, colsHidden: [2,4]});
	//$( ".column" ).disableSelection();
});

</script>