<link type="text/css" href="css/floatmenu.css" rel="stylesheet" />
<script>
$(document).ready(function() {
//$('#table111').dataTable({"aaSorting": [[ 1, "desc" ]]});
	oTable = $('#storeProductTable').dataTable({
		"bJQueryUI": true
		//"sPaginationType": "full_numbers"
	});
	$("select").uniform();
	
});

$(document).ready(function() {
	// $('#right_new_wrapper').attr("style", "width: 83%");	
             $('#blind').html("<<");
               var $box = $('#box').wrap('<div id="box-outer"></div>');
               $('#blind').click(function() {
                 $box.blindToggle('fast');
               });
               $("select").uniform();
             });



       jQuery.fn.blindToggle = function(speed, easing, callback) {
               var h = this.width() + parseInt(this.css('paddingLeft')) +  parseInt(this.css('paddingRight'));
               if(parseInt(this.css('marginLeft'))<0){
			   	   $('#forfloat_right').animate( { width: "79%" }, { queue: false, duration: 200 });	
                   $('#blind').html("<<");
                   return this.animate({marginLeft:0},speed, easing, callback);
                   }
               else{
    			  $( "#forfloat_right" ).animate( { width: "95%" }, { queue: false, duration: 250 });
     
                   $('#blind').html(">>");
                   return this.animate({marginLeft:-h},speed, easing, callback);
				   
                     }
				
             };
</script>
<div class="cleaner"></div>
	
<div class="column">		
		<div  class="portlet">
			<div class="portlet-header notes">Selected Products for Transfer</div>
		<div class="portlet-content">
		<form action="#" id="login">
				<div id="table_inner_wrapper">
					<div id="left_table_wrapper">
						<div id="table_container_input">
							<div class="table_row_input1">
								<div class="table_cell_input1">Current Location:</div>
								<div class="table_cell_input2"><div class="mainselection"><select name="" id=""><option>Cryogene Extended</option><option>Freezer F2</option><option>Freezer F3</option><option>Freezer F4</option></select></div>
							</div>					</div>
						</div>
					</div>
					

					
					<div id="right_table_wrapper">
						<div id="table_container_input">
							<div class="table_row_input1">
								<div class="table_cell_input1">Intended Location:</div>
								<div class="table_cell_input2"><div class="mainselection"><select name="" id=""><option>MDACC Temporary</option></select></div>												
							</div></div>
						</div>
					</div>
				</div>
				</form>			

			<table cellpadding="0" cellspacing="0" border="0" id="storeProductTable" class="display">
					<thead>
						<tr>
							<th>Status</th>
							<th>Recipient ID</th>
							<th>Recipient Name</th>
							<th>Product ID</th>				
							<th>Vessel</th>
							<th>Slot Location</th>
							<th>New Slot Location</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="checkbox" checked/></td>
							<td>MDA789564</td>
							<td>John Wilson</td>
							<td>BMT123-3-1</td>
							<td>100 ml Bag</td>
							<td>T15-W1-R4-6c</td>
							<td>T20-W2-R2-7b</td>
						</tr>
						<tr>
							<td><input type="checkbox"/></td>
							<td>MDA789564</td>
							<td>John Wilson</td>
							<td>BMT123-3-R2</td>
							<td>100 ml Bag</td>
							<td>T15-W1-R4-6d</td>
							<td></td>
						</tr>
					</tbody>
			</table>
			<br/>
			<br/>
			<form action="#" id="login">
			<div id="table_inner_wrapper">
					<div id="left_table_wrapper">
						<div id="table_container_input">
							<div class="table_row_input1">
								<div class="table_cell_input1">Slot Location:</div>
								<div class="table_cell_input2">T15-W1-R4-6c</div>												
							</div>		
							
							<div class="table_row_input2">
								<div class="table_cell_input1">Assignment Method:</div>
								<div class="table_cell_input2"><div class="mainselection"><select name="" id=""><option>Manual Assign</option></select></div>
							</div>	</div>
							
							<div class="table_row_input3">
								<div class="table_cell_input1">Slot Arrangement:</div>
								<div class="table_cell_input2"><select name="" id="" class="sel_process"><option>Tank T20</option></select>
								<br/><select name="" id="" class="sel_process"><option>Wedge 2</option></select>
								<br/><select name="" id="" class="sel_process"><option>Rack 2</option></select>
								</div>
							</div>
							
							<div class="table_row_input4">
								<div class="table_cell_input1">New Slot Location:</div>
								<div class="table_cell_input2">T20-W2-R2-7b<br/><br/></div>
							</div>
							<div class="table_row_input4">
								<div class="table_cell_input1"></div>
								<div class="table_cell_input2"><input type="button" value="Save"/>&nbsp;<input type="button" value="Reset"/></div>
							</div>												
						</div>
					</div>	
					</div>
					</form>

					<br/>
					<div id="right_table_wrapper">
						<div id="table_container_input">
							<div class="table_row_input1">
								<div class="table_cell_input1">
										<table border="1" cellpadding="0" cellspacing="0" width="200">
											<tbody>
											<tr>
												<td></td>
												<td>A</td>
												<td>B</td>
												<td>C</td>
												<td>D</td>
											</tr>
											<tr>
												<td>1</td>
												<td class="occupied"></td>
												<td class="occupied"></td>
												<td class="occupied"></td>
												<td class="occupied"></td>
											</tr>
											<tr>
												<td>2</td>
												<td class="selected"></td>
												<td class="selected"></td>
												<td class="occupied"></td>
												<td class="occupied"></td>
											</tr>
											<tr>
												<td>3</td>
												<td class="occupied"></td>
												<td class="occupied"></td>
												<td class="occupied"></td>
												<td class="occupied"></td>
											</tr>
											<tr>
												<td>4</td>
												<td class="occupied"></td>
												<td class="occupied"></td>
												<td></td>
												<td class="occupied"></td>
											</tr>
											<tr>
												<td>5</td>
												<td class="occupied"></td>
												<td class="occupied"></td>
												<td class="occupied"></td>
												<td class="occupied"></td>
											</tr>
											<tr>
												<td>6</td>
												<td class="occupied"></td>
												<td class="occupied"></td>
												<td class="occupied"></td>
												<td class="occupied"></td>
											</tr>
											<tr>
												<td>7</td>
												<td class="occupied"></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td>8</td>
												<td></td>
												<td class="occupied"></td>
												<td class="occupied"></td>
												<td></td>
											</tr>
											<tr>
												<td>9</td>
												<td class="occupied"></td>
												<td class="occupied"></td>
												<td class="occupied"></td>
												<td class="occupied"></td>
											</tr>
											<tr>
												<td>10</td>
												<td class="occupied"></td>
												<td class="occupied"></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td>11</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td>12</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td>13</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td>14</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td>15</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td>16</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td>17</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											</tbody>
										</table>
								</div>
								
								<div class="table_cell_input2" align="right">
										<table border="0" width="200">
											<tbody>
												<tr>
													<td class="oneCellColor">&nbsp;</td>
													<td>-Available</td>
												</tr>
												<tr>
													<td class="oneCellColor occupied">&nbsp;</td>
													<td>-Occupied</td>
												</tr>
												<tr>
													<td class="oneCellColor selected">&nbsp;</td>
													<td>-Selected</td>
												</tr>
											</tbody>
										</table>
								</div>												
							</div>
						</div>
					</div>
	</div>
	</div>	
</div>		

<div class="cleaner"></div>

<div class="column">		
		<div class="portlet">
		<div class="portlet-header notes">Shipping Information: Cryogene Extended to MDACC Temporary</div>
		<div class="portlet-content">
		<form action="#" id="login">
			<div id="table_inner_wrapper">
			<div id="left_inner_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1">Request Date:</div>
						<div class="table_cell_input2"><input type="text" id="requestDate" Value ="Aug 28, 2011" placeholder="Request Date" class="dateEntry"/></div>												
					</div>		
					
					<div class="table_row_input1">
						<div class="table_cell_input1">Shipment Date:</div>
						<div class="table_cell_input2"><input type="text" id="shipmentDate" Value ="Aug 29, 2011" placeholder="Shipment Date" class="dateEntry"/></div>												
					</div>	
					
					<div class="table_row_input3">
						<div class="table_cell_input1">Pick Up Location:</div>
						<div class="table_cell_input2"><input type="text" id="pickUpLocation" name="pickUpLocation" class="date_input"  value="N/A" placeholder="Pick Up Location"/></div>
					</div>
					
					<div class="table_row_input3">
						<div class="table_cell_input1">Courier Name:</div>
						<div class="table_cell_input2"><div class="mainselection"><select ><option>FedEx</option></select></div></div>
					</div>
																	
					<div class="table_row_input3">
						<div class="table_cell_input1">Shipment Method:</div>
						<div class="table_cell_input2"><div class="mainselection"><select ><option>Dry Ice</option></select></div></div>
					</div>
				</div>	
			</div>
			
			<div id="middle_line_2"></div>
			
			<div id="middle_inner_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1">Institution:</div>
						<div class="table_cell_input2"><input type="text" id="institute" value="MD Anderson"/></div>												
					</div>		
					
					<div class="table_row_input1">
						<div class="table_cell_input1">Department:</div>
						<div class="table_cell_input2"><input type="text" id="dept" value="SCTCT"/></div>												
					</div>	
					
					<div class="table_row_input3">
						<div class="table_cell_input1">Contact Name:</div>
						<div class="table_cell_input2"><input type="text" id="contactName" value="Mary King"/></div>
					</div>
					
					<div class="table_row_input3">
						<div class="table_cell_input1">Contact Phone:</div>
						<div class="table_cell_input2"><input type="text" id="contactPhone" value="723-897-0123"/></div>
					</div>
																	
					<div class="table_row_input3">
						<div class="table_cell_input1">Emergency Contact:</div>
						<div class="table_cell_input2"><input type="text" id="emergencyContact" value="Jo Lauppe"/></div>
					</div>					
				</div>
			</div>
			
			<div id="middle_line_2"></div>
			
			<div id="right_inner_wrapper">
				<div id="table_container_input">
					<div class="table_row_input1">
						<div class="table_cell_input1">Type of Storage:</div>
						<div class="table_cell_input2"><div class="mainselection"><select id="typeOfStorage"><option>Dry Ice</option></select></div></div>												
					</div>		
					
					<div class="table_row_input1">
						<div class="table_cell_input1">Sample Container:</div>
						<div class="table_cell_input2"><div class="mainselection"><select id="sampleContainer"><option>500 ml Box</option></select></div></div>												
					</div>	
					
					<div class="table_row_input3">
						<div class="table_cell_input1"><u>Number of Box:</u></div>
						<div class="table_cell_input2"><input type="text" id="numberOfBox" value="20"/></div>
					</div>
					
					<div class="table_row_input3">
						<div class="table_cell_input1">Biohazard Materials:</div>
						<div class="table_cell_input2"><div class="mainselection"><select id="biohazardMaterials"><option>Yes</option><option>No</option></select></div></div>
					</div>
																	
					<div class="table_row_input3">
						<div class="table_cell_input1">Authorized By:</div>
						<div class="table_cell_input2"><div class="mainselection"><select id="autherized"><option>Mary King</option></select></div></div>
					</div>								
				</div>
			</div>
		</div>
			</form>
			</div>
		</div>
	</div>
	

<div class="cleaner"></div>

		<div align="right" style="float:right;">
		<form>
				<input type="text" style="width:80px;" size="5" value="" placeholder="e-Sign"/>
				<input type="button" value="Save"/>
				</form>
		</div>
		<div class="cleaner"></div>
		
			
<script>
$(function() {	
	
	$( ".column" ).sortable({
		connectWith: ".column"
	});

	/*$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" )
		.find( ".portlet-header" )
			.addClass( "ui-widget-header ui-corner-all" )
			.prepend( "<span class='ui-icon ui-icon-minusthick'></span>")
			.end()
		.find( ".portlet-content" );*/

		/*$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" ).find( ".portlet-header" )
		.addClass( "ui-widget-header ui-corner-all" )
		.prepend( "<span class='ui-icon ui-icon-minusthick'></span>")
		.prepend("<span style=\"float:right;\" class='ui-notes'></span>");*/
		
		
		$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix Rui-corner-all" ).find( ".portlet-header" )
		.addClass( "ui-widget-header ui-corner-all" ).prepend( "<span class='ui-icon ui-icon-minusthick'></span>");
		

		$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" ).find( ".notes" )
		.append("<span style=\"float:right;\" class='ui-notes'></span>");

		$( ".portlet-header .ui-notes " ).click(function() {
			showNotes('open');
		});


	$( ".portlet-header .ui-icon" ).click(function() {
		$( this ).toggleClass( "ui-icon-minusthick" ).toggleClass( "ui-icon-plusthick" );
		$( this ).parents( ".portlet:first" ).find( ".portlet-content" ).toggle();
	});
	
	

	$('.searchtable').dataTable({"aaSorting": [[ 1, "asc" ]]});	
	//$('.sortable').columnManager({listTargetID:'sortable', onClass: 'advon', offClass: 'advoff', hideInList: [1,3],
     //   saveState: true, colsHidden: [2,4]});
	//$( ".column" ).disableSelection();
});

</script>