/*
 * GLOBAL AJAX CSS
 */


/* --- SITEWIDE CSS --- */

body {
  margin: 0;
  font: normal 11pt Verdana, Arial;
}

a, a:visited {
  color: #00f;
}

a:hover {
  color: #f00;
}

#header {
  background-color: #333333;
  padding: 5px;
  color:#FFFFFF;
  font-weight: bold;
} 

#header a, #header a:visited {
  text-decoration: underline;
  color: #FFFFFF;
  font-size:10px;
}

#subheader {
  font-weight: normal;
  font-size: 8pt;
  color: #900;
  border-bottom: 1px solid #ccc;
  padding: 1px 5px 2px 5px;
}

#subheader a, #subheader a:visited {
  text-decoration: none;
  color: #900;
}

#subheader a:hover {
  text-decoration: underline;
  color: #000;
}

#buildVersion {
  font-weight: normal;
  font-size: 8pt;
  color: #999;
  padding: 1px 5px 1px 5px;
}

#content { padding: 10px; }

h1 { font-size: 1.2em }
h2 { font-size: 1.1em }
h3 { font-size: 1.0em }
h4 { font-size: 0.9em }

label {
  font: bold 1em Verdana;
  display: block;
  margin-top: 1em;
  margin-bottom: 0.25em;
}

fieldset {
  width: 500px;
  border: 1px solid #999;
  padding: 10px;
}

legend {
  padding: 1px 4px;
  border-color: #999 #ccc #ccc #999;
  border-style: solid;
  border-width: 1px;
  background: #eee;
}

label { font-size: 0.8em; }

input [type="text"] {
  background-color: #ffd;
  border-width: 1px;
}

input [type="button"] {
  border: 1px solid #999;
  background-color: #eee;
  cursor: pointer;
  color: #000;
}


#homepageTable {
  border: 1px solid #ccc;
  width: 650px;
}

#homepageTable THEAD TR TH {
  border-bottom: 2px solid #999;
  background-color: #eee;
}

#homepageTable TBODY TR TD:first-child {
  font-weight: bold;
}

#homepageTable TBODY TR.description TD {
  font-size: 90%;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}



FORM.basicForm FIELDSET {
  width: 80%;
  border: 1px solid #ccc;
  padding: 1em;
}

FORM.basicForm LEGEND {
  font-size: 0.8em;
  color: #999;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 4px 2px;
}

FORM.basicForm LABEL {
  display: block;
  margin-top: 1em;
  margin-bottom: 0.25em;
}

FORM.basicForm INPUT {
  font: normal 12px Verdana, Arial;
  padding: 3px;
}

FORM.basicForm INPUT[type="text"] {
  border: 1px solid #ccc;
}

FORM.basicForm INPUT[type="text"]:focus {
  border-color: #000;
}


/* --- AUTOCOMPLETE CSS --- */

.autocomplete {
  position: absolute;
  color: #333;
  background-color: #fff;
  border: 1px solid #666;
  font-family: Arial;
  overflow: hidden;
}

.autocomplete ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: auto;
}

.autocomplete li {
  display: block;
  white-space: nowrap;
  cursor: pointer;
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #fff;
}

.autocomplete li.selected {
  background-color: #cef;
  border-top: 1px solid #9bc;
  border-bottom: 1px solid #9bc;
}

/* --- HTML CONTENT CSS --- */

#modelDescription {
  position: absolute;
  left: 10px;
  width: 800px;
  min-height: 100px;
  background: #ffe;
  border-style: solid;
  border-width: 1px;
  border-color: #666 #ccc #ccc #666;
  padding: 5px;
}

#htmlContentForm {
  width: 350px;
}


/* --- TAB PANEL CSS --- */

#tabPanelWrapper {
  width: 600px;
}

.tabContent {
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  clear: both;
  margin: 0px;
  padding: 15px;
}

.tabPanel {
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding-bottom: 19px;
  padding-left: 10px;
}

.tabPanel ul, .tabPanel li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tabPanel a:link, .tabPanel a:visited {
  background: #E8EBF0;
  border: 1px solid #ccc;
  color: #666;
  float: left;
  font-size: small;
  font-weight: normal;
  line-height: 14px;
  margin-right: 8px;
  padding: 2px 10px 2px 10px;
  text-decoration: none;
}

.tabPanel a:link.ajaxCurrentTab, .tabPanel a:visited.ajaxCurrentTab {
  background: #fff;
  border-bottom: 1px solid #fff;
  color: #000;
}

.tabPanel a:hover {
  color: #f00;
}


/* --- PORTLET CSS --- */

.portletBox {
	width: 100%;
	 border: 1px ;border-color:#CCCCCC;
	 background-color: #333333;
}

.portletTitle {
  background-color: #333333;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ccc;
   padding: 2px 4px;
  color: #FFFFFF;
  font: bold 10pt Arial;
}

.portletTools {
  float: right;
  padding: 2px 4px;
  margin-top: 1px;
  color: #666;
  font: bold 8pt Arial;
  cursor: pointer;
}

.portletTools img {
  border-left: 1px solid #666;
  padding: 0px 3px;
  cursor: pointer;
}

.portletTools img:first-child {
  border: none;
}

.portletContent {
  min-height: 100px;
  overflow: auto;
  padding: 4px;
}


/* --- TOGGLE CSS --- */

div.star-rating {
  width: 140px;
  float: left;
  clear: both;
}
div.star-rating a {
  cursor: pointer;
  margin: 0px;
  float: left;
  display: block;
  width: 18px;
  height: 16px;
  padding: 0 1px;
  background-image: url(../img/stars.gif);
  background-repeat: no-repeat;
  background-position: 1px 0;
}
div.star-rating a.over {
  background-position: 1px -32px;
}
div.star-rating a.selected {
  background-position: 1px -64px;
}
div.star-rating a.selectedover {
  background-position: 1px -48px;
}
div.star-rating a.selectedless {
  background-position: 1px -16px;
}
div.star-rating-message {
  display: block;
  height: 12px;
  font: 10px Verdana;
}


/* --- CALLOUT CSS --- */

.olbg {background-color:#999;
}
.olcg {background-color:#000;}
.olfg {background-color:#ddd;}
.olcap {font-family:Arial; font-size:12px; font-weight:bold; color:#fff;}
a.olclo {font-family:Arial; font-size:10px; font-weight:bold; color:#ddd;}
a.olclo:hover {color:#fff;}
.oltxt {font-family:Arial; font-size:12px; color:#000;}

/** ------Notification CSS--*/
#notification {
	position: fixed;
	bottom: 0;
	padding: 0;
	height: 20px;
	margin: 0;
	width: 100%;
	background-color: #FFFF99;
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-top: 5px;
}
html,body {
	height: 100%;
}

html {
	padding: 0 0 25px 0;  /* create area for notification area */
}

/*div.console{
		padding: 0%;
		text-align: justify;
		background-color: #333333;
		color: #000000;
		position: absolute;
		overflow: auto;
	    width:100%;
	   font-family:arial; 
	   font-size:8;
	   height:190px;
	   border-color:#FFFFFF;
	   border: 5px ;
	   border-style:outset;
}

div.console table#consoletab {color: #FFFFFF; width=100% }
div.console tr#info {color:#FFCC00;background-color:#666666;border-style:none}
div.console tr#header {color: #FFFFFF;}*/
P#processmessage {text-align:center;color:#FFCC00;background-color:#666666;height:30px;font:1em;}
TABLE.console {
	padding: 0;
	margin: 1px;
	border: 1px solid #ccc;
	width: 99%;
}

TABLE.console TH {
	background: #333333;
	font: bold 0.9em Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-align: center;
	padding: 3px;
	border-bottom: 2px solid #ccc;
}

TABLE.console TD {
	font: normal 1.0em Verdana, Arial, Helvetica, sans-serif;
	color:#FFCC00;
	padding: 2px 3px 2px 3px;
	margin: 1px;
}

TABLE.console TD.tableCellError {
	background-color: blue;
	color: red;
	font: bold 0.7em Verdana, Arial, Helvetica, sans-serif;
}

TABLE.console TD img {
	border: 0;
}

TABLE.console TD.rightalign {
	text-align: right;
}

TABLE.console TD.centeralign {
	text-align: center;
}

TABLE.console TR.odd TD {
	background-color: #666666;
}

TABLE.console TR.even TD {
	background-color: #eee;
}

TABLE.console TH.sorted {
	background-color: #f9e375;
}

TABLE.console TH.sorted a,
TABLE.console TH.sortable a {
	display: block;
	background: url(../img/console/arrow_off.png) no-repeat right;
	color: #000;
	text-decoration: none;
}

TABLE.console TH.sorted a:hover,
TABLE.console TH.sortable a:hover {
	color: #f00;
}

TABLE.console TH.order1 a {
	background-image: url(../img/displaytag/arrow_down.png);
}

TABLE.console TH.order2 a {
	background-image: url(../img/displaytag/arrow_up.png);
}
TABLE.console tr.good td {
	color: black;
}

TABLE.console tr.bad td {
	color: #FF6633;
	font-weight: bold;
}
TABLE.console tr.bad A {
	color: #FF6633;
	font-weight: bold;
}
TABLE.console tr.reject A {
	color: red;
	font-weight: bold;
}
TABLE.console tr.reject td {
	color: red;
	font-weight: bold;
}

TABLE.message tr.msg td {
	color: green;
	font-weight: bold;
}