@charset "iso-8859-1";
/* COMMON.CSS */

/*************************/

Img#hometop {align:absbottom; border-style:none;width:830px;height:5;}
Img#homeright {border-style:none;width:2 px;height:550;}
/**************************/

body {  font-family:Verdana, Arial, Helvetica,  sans-serif; margin-left:0px;margin-top:0px; background-color: #FFFFFF;position:absolute;overflow:auto}
/******* BODY FOR HOME ****/
body#home {  font-family:Verdana, Arial, Helvetica,  sans-serif; margin-left:0px;margin-top:0px; background-color: #FFFFFF;position:absolute;overflow:auto}
Table#tableForLogin TD { font-family:Verdana, Arial, Helvetica,  sans-serif; color:#CFC8FF; padding:0px 5px 0px 5px; cursor:default; font-size:1pt;font-weight:bold;}
/************ PANEL : Right Panel **********/
DIV.topRightPanel {visibility:visible;margin-left:853px;position:absolute; margin-top:-635;width:250 px;}
DIV.topRightPanel A {font-family:Verdana, Arial, Helvetica,  sans-serif; text-decoration:underline; color:black; font-weight:bold;font-size:9 ;}
DIV.topRightPanel  A:hover { color:red; }
DIV.topRightPanel Img {align:absbottom; border-style:none;}
DIV.topRightPanel TR{background-color:#CFC8FF;}
/*****************************************/

/************ HOMEPAGE CENTER LOGO **********/
DIV.homeCenter {visibility:visible;margin-left:300 px;position:absolute; margin-top:-525;width:616;height:560;}
DIV.homeCenter H1 {font-family:Verdana, Arial, Helvetica,  sans-serif; text-decoration:none; color:black; font-weight:bold;font-size:18 ;}
DIV.homeCenter H2 {font-family:Verdana, Arial, Helvetica,  sans-serif; text-decoration:none; color:black; font-size:11;font-style:italic ;}
/*****************************************/

/************ eRes Login Page**********/
DIV.eresLogin {visibility:visible;margin-left: 150px;position:absolute; margin-top:-400;width:616;height:560;}
DIV.eresLogin  Table {}
TD#trcolor {font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:11; font-weight:bold;background-color:#CFC8FF;}
TD#tddefinition {font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:12}
TD#remarks {font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:11}
DIV.eresLogin  A {font-family:Verdana, Arial, Helvetica,  sans-serif; text-decoration:underline; color:blue; font-weight:bold;font-size:11; }
DIV.eresLogin  A:hover { color:red; }

/*****************************************/

/************ HOMEPAGE LOGIN BAR **********/
DIV.login {visibility:visible;margin-left:18px;position:absolute; margin-top:-482;}
DIV.login Table {background-color:#6F67FF;} 
DIV.login TR {background-color:#CFC8FF;}
DIV.login TD {font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:11; font-weight:bold; }
DIV.login A {font-family:Verdana, Arial, Helvetica,  sans-serif; text-decoration:underline; color:blue; font-weight:bold;font-size:12; }
DIV.login  A:hover { color:red; }
/*****************************************/


/************ HOMEPAGE LOGIN BAR **********/
DIV.homelogin {visibility:visible;margin-left:-50px;position:absolute; margin-top:-482;}
DIV.homelogin A {font-family:Verdana, Arial, Helvetica,  sans-serif; text-decoration:underline; color:blue; font-weight:bold;font-size:12; }
DIV.homelogin  A:hover { color:red; }
DIV.homelogin td{width:150;}
/*****************************************/

/************ HOMEPAGE RIGHT SECTIONS **********/
DIV.section {visibility:visible;margin-left:818 px;position:absolute; margin-top:-534;width:173 px;overflow:none;height:528;}
DIV.section TR {}
DIV.section Table {}
DIV.section TD {font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:10; }
DIV.section LI {font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:10; }
DIV.section A {font-family:Verdana, Arial, Helvetica,  sans-serif; text-decoration:underline; color:blue;font-size:10 ;}
DIV.section  A:hover { color:red; }
/*****************************************/

BUTTON { font-family:Verdana, Arial, Helvetica,  sans-serif; font-size:10pt; }

/* PANEL : LOGO */
DIV.logo{visibility:visible;margin-left:24 px;position:absolute;margin-top:-613;width:800 px;}    
DIV.logo img {border-style:none;color:none;text-decoration:none; }
DIV.loginTable {visibility:visible;left:18px;position:absolute;top:-275 px;}
IMG.pict { visibility:visible;  position:relative; cursor:hand; }


DIV.tableDefault {visibility:visible;margin-left:10px;position:absolute;height:300;margin-top:10;width:800;}
DIV.tableDefault Table {border-style: none;}
DIV.tableDefault TH {background-color:#9A99FF;font-family: Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:12;}
DIV.tableDefault TD {font-family: Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:11; align:left;}
DIV.tableDefault A {font-family: Verdana, Arial, Helvetica,sans-serif;text-decoration:underline; color:blue; font-weight:bold;font-size:9; }
DIV.tableDefault A:hover { color:red; }
DIV.tableDefault BUTTON { font-family:Verdana, Arial, Helvetica,  sans-serif; font-size:10pt; }
DIV.tableDefault HR { height=2; color=#9A99FF;}



table.leftPanelVLine {background-color:#6F67FF;}
td.tdDefault { font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:11;}
td#tdComments{font-family:Verdana, Arial, Helvetica, sans-serif;color:blue;font-size:12;font-style:italics;}
TD.leftpanel  {background-color:#6F67FF;}

/************ P tag for comments  **********/
P.defComments { font-family:Verdana, Arial, Helvetica,  sans-serif;color:blue;font-size:12; }
.comments { font-family:Verdana, Arial, Helvetica,  sans-serif;color:blue;font-size:11; }
/****************************************/

/************ P tag for Section Headings **********/
P.sectionHeadings { font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size: 10pt; font-weight:bold;
background-color: #e1dce0;}
/****************************************/

/************ P tag for Italics comments**********/
P.italicsComments { font-family:Verdana, Arial, Helvetica,  sans-serif;color:blue;font-size:12; font-weight:bold;font-style:italics;}
/****************************************/

/************ P tag for comments  **********/
P.blackComments { font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:12; }
/****************************************/

/************ P tag for comments  **********/
P.bigNumbers{ font-family:Verdana, Arial, Helvetica,  sans-serif;color:red;font-size:18;font-weight:bold }
/****************************************/

/************ P tag for USer Name**********/
P.userName { font-family:Verdana, Arial, Helvetica,  sans-serif;color:blue;font-size:1; font-weight:bold;text-align:right;visibility:hidden; }
P.userNameNew { font-family:Verdana, Arial, Helvetica,  sans-serif;color:blue;font-size:15; font-weight:bold;text-align:right; }
P.plwait { font-family:Verdana, Arial, Helvetica,  sans-serif;color:red;font-size:15; font-weight:bold;text-align:left; }
DIV.plwt {visibility:visible;margin-left:0px;position:relative;margin-top:0;}
/****************************************/

/************ P tag for logout comments**********/
P.logoutComments { font-family:Verdana, Arial, Helvetica,  sans-serif;color:blue;font-size:13; font-weight:bold;font-style:italics;}
/****************************************/

/************ P tag for Msg Center Heading**********/
P.msgHead { font-family:Verdana, Arial, Helvetica,  sans-serif;color:blue;font-size:15; font-weight:bold;background-color:#CFC8FF;text-align:center;border:solid;width:550;}
/****************************************/

/************ APPLICATION FORMS **********/
DIV.formDefault {padding: 0%;
text-align: justify;
margin-right: 15%;
margin-left:  136px;
background-color: #ffffff;
color: #000000;
position: absolute;
left: 2%;
width:83%;
height:500px;
top: 92px;
overflow: auto;
}
DIV.formDefault Table {border-style: none;}
DIV.formDefault TR {background-color:#FFFFFF;}
DIV.formDefault TH {background-color:#CFC8FF;font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:13;}
DIV.formDefault TD {font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:13; align:left;}
DIV.formDefault A {font-family:Verdana, Arial, Helvetica,sans-serif;text-decoration:underline; color:blue; font-weight:bold;font-size:9; }
DIV.formDefault  A:hover { color:red; }
DIV.formDefault  BUTTON { font-family:Verdana, Arial, Helvetica,  sans-serif; font-size:10pt; }
/*****************************************/

FONT.Mandatory {font-family:Verdana, Arial, Helvetica,  sans-serif; color:red;}
FONT.Red {font-family:Verdana, Arial, Helvetica,  sans-serif; color:red; font-size:8pt; font-weight:bold;}
FONT.Green {font-family:Verdana, Arial, Helvetica,  sans-serif; color:green; font-size:7pt; font-weight:bold;}
FONT.Grey {font-family:Verdana, Arial, Helvetica,sans-serif; color:#A4A4A4;}
FONT.Black {font-family:Verdana, Arial, Helvetica,sans-serif; color:black;}

INPUT.inpDefault {background-color:white;}
INPUT.inpGrey {background-color:lightgrey;}
TEXTAREA.textDefault {background-color:white;}
TEXTAREA.textGrey {background-color:lightgrey;}

/************ APPLICATION BROWSERS **********/
DIV.browserDefault {padding: 0%;
text-align: justify;
margin-right: 15%;
margin-left:  136px;
background-color: #ffffff;
color: #000000;
position: absolute;
left: 2%;
width:83%;
height:500px;
top: 92px;
overflow: auto;
}
DIV.browserDefault Table {border-style:none;}
DIV.browserDefault A {font-family:Verdana, Arial, Helvetica,sans-serif;text-decoration:underline; color:blue; font-weight:bold;font-size:7pt; }
DIV.browserDefault  A:hover { color:red; }
DIV.browserDefault  BUTTON { font-family:Verdana, Arial, Helvetica,  sans-serif; font-size:10pt;} 
DIV.browserDefault TD {font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:8pt;}
DIV.browserDefault TH {background-color:#9A99FF;font-family:Verdana, Arial, Helvetica,  sans-serif;color:white;font-size:9pt;height:25}


tr.browserOddRow {background-color:#ffffff;height:20;}
tr.browserOddRow TD {font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:8pt; align:left;}
tr.browserEvenRow {background-color:#e1dce0;}
tr.browserEvenRow TD {font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:8pt; align:left;}
tr.pastSchRow {background-color:#FFCC99; height:20;}
tr.pastSchRow TD {font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:10pt; align:left;}

tr#browserOddRow {background-color:#FFFFFF;height:20;}
tr#browserOddRow TD {font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:10pt; align:left;}
tr#browserEvenRow {background-color:#e1dce0; height:20}
tr#browserEvenRow TD {font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:10pt; align:left;}
tr#browserBoldRow TD {font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:9pt; align:left;font-weight:bold;}
/*****************************************/

/***********Page with Form as well as browser*************/
DIV.formBrwDefault {visibility:visible;margin-left:190px;position:absolute; margin-top:-547;overflow:auto;height:630;width:956;}
DIV.formBrwDefault Table {border-style:none;}
DIV.formBrwDefault A {font-family:Verdana, Arial, Helvetica,sans-serif;text-decoration:underline; color:blue; font-weight:bold;font-size:10; }
DIV.formBrwDefault  A:hover { color:red; }
DIV.formBrwDefault  BUTTON { font-family:Verdana, Arial, Helvetica,  sans-serif; font-size:10pt;} 
DIV.formBrwDefault TD {font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:13; align:left;}
DIV.formBrwDefault TH {background-color:#9A99FF;font-family: Verdana, Arial, Helvetica,  sans-serif;color:white;font-size:13;height:25}
/***********************************************************/

/************ APPLICATION POPUP PAGES **********/
DIV.popDefault {visibility:visible;margin-left:10px;position:absolute;height:300;margin-top:10;width:800;}
DIV.popDefault Table {border-style: none;}
DIV.popDefault TH {background-color:#9A99FF;font-family: Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:12;}
DIV.popDefault TD {font-family: Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:8pt;}
DIV.popDefault A {font-family: Verdana, Arial, Helvetica,sans-serif;text-decoration:underline; color:blue; font-weight:bold;font-size:9; }
DIV.popDefault A:hover { color:red; }
DIV.popDefault BUTTON { font-family:Verdana, Arial, Helvetica,  sans-serif; font-size:10pt; }
DIV.popDefault HR { height=2; color=#9A99FF;}
/*****************************************/

/***************Rows for Message Center***********/
tr#msgcenterOddRow TD{background-color:#E5D1FD;height:20;font-family: Verdana, Arial,Helvetica,  sans-serif;font-size:10;align:left;}
tr#msgcenterEvenRow TD{background-color:#FDF8DF; height:20;font-family: Verdana, Arial,Helvetica,  sans-serif;font-size:10; align:left;}
/**************************************************/

/*****************Heading for a section****************/
tr#headSection TD{background-color:#9A99FF;font-family: Verdana, Arial, Helvetica,  sans-serif;color:white;font-size:13;height:25;font-weight:bold;}
tr#tableheading TH {background-color:#FDF8DF;font-family: Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:13;height:25}
/**************************************************/

/********MENU DIV****/
DIV.mainMenu{margin-top:-482; ;margin-left:-3;width:132 px;position:absolute;}
/*****************************************/

/************ MY LINKS ********** *****/
/************ MY LINKS ********** *****/
DIV.myLinks {visibility:visible;
margin-left:73%;
position:absolute;
margin-top:-375px;
z-index:2;
width:150 px;
background-color:#FFFFFF;
}
DIV.myLinks TR {background-color:#e1dce0;}
DIV.myLinks TD {font-family: Verdana, Arial, Helvetica,sans-serif;color:black;font-size:12px; border:none;}
DIV.myLinks TH {font-family: Verdana, Arial, Helvetica,sans-serif;color:black;font-size: 10px;background-color: #b4b4b4;}
DIV.myLinks A {font-family: Verdana, Arial, Helvetica,sans-serif;text-decoration:underline; color:blue; font-weight:none;font-size:11;}
DIV.myLinks A:hover { color:red; }
table#linktab {}
table#linktab TD{background-color:#FFFFFF;border:none;};
table#linktab A {font-family: Verdana, Arial, Helvetica,sans-serif;text-decoration:underline; color:blue; font-weight:none;font-size:9;font-style:italic;}
table#linktab A:hover{font-family: Verdana, Arial, Helvetica,sans-serif;text-decoration:underline; color:red; font-weight:none;font-size:9;}
/*****************************************/

/************ Account LINKS ********** *****/

DIV.accLinks {visibility:visible;position:absolute;margin-top:5;z-index:2;width:190;background-color:#FFFFFF;}
DIV.accLinks TR {background-color:#e1dce0;}
DIV.accLinks TD {font-family: Verdana, Arial, Helvetica,sans-serif;color:black;font-size: 10px}
DIV.accLinks TH {font-family: Verdana, Arial, Helvetica,sans-serif;font-size: 10px;
background-color: #b4b4b4;}
DIV.accLinks A {font-family: Verdana, Arial, Helvetica,sans-serif;text-decoration:underline; color:blue; font-weight:none;font-size:11;}
DIV.accLinks A:hover { color:red; }
/*****************************************/

/************ MY STUDIES ON HOMEPAGE*************/
DIV#myStudies {visibility:visible;position:absolute;margin-top:-15px;
z-index:1;
overflow: auto;width:99%;background-color:#FFFFFF;height:89%;}
/*DIV#myStudies TR {background-color:#FFFFFF;}*/
/*DIV#myStudies TD {font-family: Verdana, Arial, Helvetica,sans-serif;color:black;font-size:11;}*/
DIV#myStudies A {font-family: Verdana,Arial,Helvetica,sans-serif;text-decoration:underline; color:black; font-size:7pt;}
DIV#myStudies A:hover { color:red; }
DIV#myStudies TH {background-color:#9A99FF;font-family: Verdana, Arial, Helvetica,sans-serif;color:white;font-size:9pt;}
/*****************************************/

/************ User NAme on HomePage**********/
DIV#myName {visibility:visible;margin-left:390px;position:absolute;margin-top:20;}
DIV#myName P { font-family:Verdana, Arial, Helvetica,  sans-serif;color:red;font-size:15; font-weight:bold; }
/****************************************************

/************ Search Browser **********/
DIV.searchDefault {visibility:visible;margin-left:195px;position:absolute; margin-top:-320;overflow:auto;height:360;width:600;}
DIV.searchDefault Table {border-style:none;}
TR.searchDefault {background-color:WHITE;}
TD.searchNumber {font-family:Verdana, Arial, Helvetica,  sans-serif;color:red;font-size:13; align:left;}
TD.searchTitle {font-family: Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:12; align:left;}
/*****************************************/

/************ Reports (new) **********/
TD.reportPanel {font-family:Verdana, Arial, Helvetica,  sans-serif;color: black;font-size:13; }
TD.reportName { font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:16; font-weight:bold; }
TD.reportHeading { font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:13; font-weight:bold; }
TH.reportHeading { font-family:Verdana, Arial, Helvetica,  sans-serif;color:#FFFFFF;font-size:11; font-weight:bold; background-color:#9999ff ;}
TD.reportSubHeading { font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:12; font-weight:bold; }
TD.reportLabel { font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:13; font-weight:bold; }
TD.reportGrouping { font-family:Verdana, Arial, Helvetica,  sans-serif;color:blue;font-size:13; font-weight:bold; }
TD.reportData { font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:8pt;  }
TD.reportFooter { font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:11; font-weight:normal; }
TH.reportClrHead { font-family:Verdana, Arial, Helvetica,  sans-serif;color:#FFFFFF;font-size:13; font-weight:bold;background-color:#009933 ;}
TH.reportLightClrHead { font-family:Verdana, Arial, Helvetica,  sans-serif;color:#FFFFFF;font-size:10; font-weight:normal;background-color:#999999 ;}
TH.reportLightClrHead2 { font-family:Verdana, Arial, Helvetica,  sans-serif;color:#FFFFFF;font-size:13; font-weight:bold;background-color:#999999 ;}


TR.reportEvenRow { font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:9pt; background-color:#FFFFFF; height:20; }
TR.reportOddRow { font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:9pt; background-color:#e1dce0; height:20; }
TR.reportGreyRow { background-color:lightgrey; height:20; }
TR.reportWhiteRow { background-color:white; height:20; }
HR.thickLine { height=3; color=blue; }
HR.thinLine { height=2; color=blue;}
/*****************************************/



/************ PANEL : Bottom Panel **********/
DIV.bottomPanel {visibility:hidden;margin-left:30 px;position:relative;align:center;margin-top:50;}
DIV.bottomPanel A {font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:10 ;}
DIV.bottomPanel A:hover { color:red; }
/*****************************************/

/************ PANEL : Bottom Panel for my Home**********/
DIV.myHomebottomPanel {visibility:visible;margin-left:30 px;position:relative;align:center;margin-top:15}
DIV.myHomebottomPanel A {font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:10 ;}
DIV.myHomebottomPanel  A:hover { color:red; }
/*****************************************/

/************ STATIC PAGES **********/
DIV.staticDefault {visibility:visible;margin-left:20px;margin-right:15px}
DIV.staticDefault P {visibility:visible;margin-left:100px;position:relative;font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:10; ALIGN=JUSTIFY;}
DIV.staticDefault OL {visibility:visible;margin-left:100px;position:relative;font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:11;}
DIV.staticDefault UL {visibility:visible;margin-left:100px;position:relative;font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:11;}
P#paraHeadings {visibility:visible;position:relative;font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:16;font-weight:bold;}
DIV.staticDefault A {font-family: Verdana, Arial, Helvetica,sans-serif;color:blue;font-size:10 ;}
DIV.staticDefault A:hover { color:red; } 
DIV.staticDefault TD{font-family: Verdana, Arial, Helvetica, sans-serif;color:black;font-size:12;align:center;line-height:1.5;}
TD#aboutHeadings {font-family: Arial, Verdana, Helvetica, sans-serif;color:black;font-size:26;font-weight:bold;}
TD#researchHeadings {font-family: Arial, Verdana,Helvetica, sans-serif;color:black;font-size:20;font-weight:bold;}
/*****************************************/

Table.selectedTab{font-family:Verdana, Arial, Helvetica,  sans-serif;background-color:#575757;font-size:10; align:left;font-weight:bold;}
Table.selectedTab TR{font-family:Verdana, Arial, Helvetica,  sans-serif;background-color:#CFC8FF;font-size:10; align:left;font-weight:bold;}
Table.selectedTab TD{font-family: Verdana,arial;background-color:#575757;font-size:10; align:left;font-weight:bold;}
Table.unselectedTab{font-family:Verdana, Arial, Helvetica,  sans-serif;background-color:#9A99FF;font-size:10; align:left;font-weight:bold;}
Table.unselectedTab TR{font-family:Verdana, Arial, Helvetica,  sans-serif;background-color:#9A99FF;font-size:10; align:left;font-weight:bold;}
Table.unselectedTab TD{font-family: Verdana,arial;background-color:#e1dce0;font-size:10; align:left;font-weight:bold;}
Table.selectedTab A {font-family: Verdana, Arial, Helvetica,sans-serif;color:#ffffff;font-size:11 ;text-decoration:none}
Table.unselectedTab A {font-family: Verdana, Arial, Helvetica,sans-serif;color: #7a7a7a;font-size:11 ;text-decoration:none}
	
Table.unselectedTab  A:hover { color:red; }

/************ Center watch**********/
IFrame.cw {visibility:visible;margin-left:-30px;position:absolute;margin-top:0;overflow:auto;height:350;width:420;border-style:none;}
/**************** REPORTS*******************/

HR.blue {color:#330099;}
P.reportHeadings { font-family:Verdana, Arial, Helvetica,  sans-serif;color:blue;font-size:12; font-weight:bold; }
.numberFonts {font-family:Verdana, Arial, Helvetica,  sans-serif;font-size:15; font-weight:bold;}
.reportText {font-family:Verdana, Arial, Helvetica,  sans-serif;font-size:12; font-weight:bold;font-style:italics;}
/****************************************/

/*************** PATIENT SEARCH IN POPUP MODE*********************//
DIV.browserDefaultPat {visibility:visible;margin-left:195px;position:absolute; margin-top:-150;overflow:auto;height:360;width:600;}
DIV.browserDefaultPat Table {border-style:none;}
DIV.browserDefaultPat A {font-family: Verdana, Arial, Helvetica,sans-serif;text-decoration:underline; color:blue; font-weight:bold;font-size:10; }
DIV.browserDefaultPat  A:hover { color:red; }
DIV.browserDefaultPat TD {font-family: Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:9; align:left;font-weight:bold;}
DIV.browserDefaultPat TH {background-color:#9A99FF;font-family: Verdana, Arial, Helvetica,  sans-serif;color:white;font-size:13;height:25}
/****************************************/

TR.popupHeader TH {background-color:#9A99FF;font-family: Verdana, Arial, Helvetica,  sans-serif;color:white;font-size:13;height:25}

/************ FORM WITH LINKS USED IN ADVERSE EVENTS*************/
DIV.formWithLinks {visibility:visible;margin-left:0;position:absolute;margin-top:-20;z-index:1;overflow:hidden;width:700;background-color:#FFFFFF;}
DIV.formWithLinks A {font-family: Verdana, Arial, Helvetica,sans-serif;text-decoration:underline; color:blue; font-weight:none;font-size:10;}
DIV.formWithLinks A:hover { color:red; }
DIV.formWithLinks TH {background-color:#9A99FF;font-family: Verdana, Arial, Helvetica,  sans-serif;color:white;font-size:11;height:25}
/*****************************************/


/************ Account LINKS for Adverse Event ********** *****/

DIV.accLinksmgpat {visibility:visible;position:relative;margin-top:-600;z-index:2;width:190;background-color:#FFFFFF;}
DIV.accLinksmgpat TR {background-color:#CFC8FF;}
DIV.accLinksmgpat TD {font-family: Verdana, Arial, Helvetica,sans-serif;color:black;font-size:13;}
DIV.accLinksmgpat A {font-family: Verdana, Arial, Helvetica,sans-serif;text-decoration:underline; color:blue; font-weight:none;font-size:11;font-style:italic;}
DIV.accLinksmgpat A:hover { color:red; }
/*****************************************/

/************ MY LINKS for adverse event********** *****/
DIV.myLinksmgpat {visibility:visible;margin-left:680px;position:absolute;margin-top:-400;z-index:2;width:220;background-color:#FFFFFF;}
DIV.myLinksmgpat TR {background-color:#CFC8FF;}
DIV.myLinksmgpat TD {font-family: Verdana, Arial, Helvetica,sans-serif;color:black;font-size:13; border:none;}
DIV.myLinksmgpat A {font-family: Verdana, Arial, Helvetica,sans-serif;text-decoration:underline; color:blue; font-weight:none;font-size:11;font-style:italic;}
DIV.myLinksmgpat A:hover { color:red; }

/************ Right align Input text ***************/
INPUT.rightAlign {text-align:right;}


/**************** showing Page numbers in paginated browsers*********/ 
FONT.pageNumber {font-family:Verdana, Arial, Helvetica,  sans-serif; color:red;font-size:14;font-weight:bold; }

/*****************showing Record numbers in paginated browsers**************/

FONT.recNumber {font-family:Verdana, Arial, Helvetica,  sans-serif; color:#cc6633;font-size:12;font-weight:none;  }


/***********Dynamic Forms*************/
Table.dynFormTable {border-style:none;}
Table.dynFormTable A {font-family: Verdana, Arial, Helvetica,sans-serif;text-decoration:underline; color:blue; font-weight:bold;font-size:10; }
Table.dynFormTable  A:hover { color:red; }
Table.dynFormTable  BUTTON { font-family:Verdana, Arial, Helvetica,  sans-serif; font-size:10pt;} 
Table.dynFormTable label {font-family: Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:13; align:left;}
Table.dynFormTable TD {font-family: Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:13; align:left;}
Table.dynFormTable TH {background-color:#9A99FF;font-family: Verdana, Arial, Helvetica,  sans-serif;color:white;font-size:13;height:25} 
/*Table.dynFormTable P { font-family:Verdana, Arial, Helvetica,  sans-serif;color:green;font-size:12; font-weight:bold; }*/

P.dynSection { font-family:Verdana, Arial, Helvetica,  sans-serif;color:blue;font-size:12; font-weight:bold; }
/********************************/

/******************Patient Tabs Header info****************/
Table.patHeader {border-style:none;}
Table.patHeader A {font-family: Verdana, Arial, Helvetica,sans-serif;text-decoration:underline; color:blue; font-weight:bold;font-size:10; }
Table.patHeader A:hover { color:red; }
Table.patHeader TD {font-family: Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:7pt;font-weight:bold;}


TH.headernoColor {font-family: Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:12;}

/************ P tag for RedMessage **********/
P.redMessage { font-family:Verdana, Arial, Helvetica,  sans-serif;color:red;font-size:12; font-weight:bold; }
/****************************************/

/************<PRE> for forms********************/
PRE.dynFormPRE {font-family: Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:13;}

/*<body> tag for forms*/
body#forms {overflow:scroll}

/*for dynamic form reports - plain look*/
tr.plainRow {background-color:#FFFFFF;height:20;}
tr.plainRow TD {font-family: Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:10; align:left;}
TH.whiteBack { font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:13; font-weight:bold;background-color:#FFFFFF ;}

div#header {padding: 0%;
background-color: #FFFFFF;
color: #ffffff;
border-bottom: solid #eb0000 1px;
height: 90px;
}
div#footer {padding: 0%;
text-align: center;
clear: both;
background-color: #908e84;
color: #ffffff;
border-top: solid #0b0feb 1px;
position: absolute;
top: 91%;
width:100%;
left:0;
border: solid;}
div#page {padding: 0%;
background-color: #FFFFFF;
color: #ffffff;
border-bottom: solid #eb0000 1px;
width:80%;
height:595px;border:solid;
}

div#maincontent {padding: 0%;
text-align: justify;
margin-right: 15%;
margin-left:  136px;
background-color: #ffffff;
color: #000000;
position: absolute;
left: 2%;
width:85%;
height:700px;
top: 75px;
border:solid;
overflow: auto;
}
div#leftcolumn {padding: 0%;
text-align: right;
background-color: #e1dce0;
color: #000000;
width: 150px;
height: 500px;
border-right: 1px #000000 dashed;
position: absolute;
top: 92px;
}



div#rightcolumn {padding: 0%;
float: right;
background-color: #e1dce0;
color: #000000;
width: 1%;
height: 79%;
border-left: 1px #000000 dashed;
position: absolute;
left: 78%;
border:solid;
top: 75px}


/* ************************************************* APPLICATION TABS ********* */

TD.grayComments { font-family:Verdana, Arial, Helvetica,  sans-serif;color:gray;font-size:9pt;font-weight:bold; }


DIV.tabDefTop {visibility:visible;left:12em;position:absolute;overflow:auto;top:92px;height:92px;width:83%;left:157px;}
DIV.tabDefTop Table {border-style: none;}
DIV.tabDefTop TH {background-color:#CFC8FF;font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:10pt;}
DIV.tabDefTop TD {font-family: Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:10pt;}
DIV.tabDefTop  A:hover {color:red;}
DIV.tabDefTop  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif; font-size:10pt;}


DIV.tabDefBot {padding: 0%;
text-align: justify;
margin-right: 15%;
margin-left:  157px;
background-color: #ffffff;
color: #000000;
position: absolute;
width:83%;
height:405px;
top: 186px;
overflow: auto;
border-top: groove;
border-bottom: groove;
}
DIV.tabDefBot Table {border-style:none;}
DIV.tabDefBot A {font-family: Verdana, Arial, Helvetica,sans-serif;text-decoration:underline; color:blue; font-weight:bold;font-size:7pt; }
DIV.tabDefBot  A:hover { color:red; }
DIV.tabDefBot  BUTTON { font-family:Verdana, Arial, Helvetica,  sans-serif; font-size:10pt;} 
DIV.tabDefBot TD {font-family:verdana,arial;color:black;font-size:8pt;}
DIV.tabDefBot TH {background-color:#9A99FF;font-family: Verdana, Arial, Helvetica,  sans-serif;color:white;font-size:10pt;}

DIV.tabFormTop {visibility:visible;left:12em;position:absolute;overflow:auto;top:187px;height:104px;width:83%;left:157px;}
DIV.tabFormTop A {font-family: Verdana, Arial, Helvetica,sans-serif;text-decoration:underline; color:blue; font-weight:bold;font-size:7pt; }
DIV.tabFormTop Table {border-style: none;}
DIV.tabFormTop TH {background-color:#CFC8FF;font-family:Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:10pt;}
DIV.tabFormTop  A:hover {color:red;}
DIV.tabFormTop TD {font-family: Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:8pt;}
DIV.tabFormTop  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif; font-size:10pt;}


DIV.tabFormBot {padding: 0%;
text-align: justify;
margin-right: 15%;
margin-left:  157px;
background-color: #ffffff;
color: #000000;
position: absolute;
width:83%;
height:322px;
top: 270px;
overflow: auto;
border-top: groove;
border-bottom: groove;
}
DIV.tabFormBot Table {border-style:none;}
DIV.tabFormBot A {font-family: Verdana, Arial, Helvetica,sans-serif;text-decoration:underline; color:blue; font-weight:bold;font-size:7pt; }
DIV.tabFormBot  A:hover { color:red; }
DIV.tabFormBot  BUTTON { font-family:Verdana, Arial, Helvetica,  sans-serif; font-size:10pt;} 
DIV.tabFormBot TD {font-family: Verdana, Arial, Helvetica,  sans-serif;color:black;font-size:8pt;}
DIV.tabFormBot TH {background-color:#9A99FF;font-family: Verdana, Arial, Helvetica,  sans-serif;color:white;font-size:10pt;}



