	<link REL="stylesheet" TYPE="text/css" HREF="menusNS.css" />
	<script LANGUAGE="JavaScript" SRC="menusNS.js">
	</script>
<div Class="backgrnd" id="bakgrd">
 	<table width="100%">
		<tr>
			<td width="100%" height="400">&nbsp;
			</td>
		</tr>
	</table> 
</div>

<div Class="backgrnd1" id="bakgrd1">
 	<table width="100%">
		<tr>
			<td width="100%" height="100">&nbsp;
			</td>
		</tr>
	</table> 
</div>

<div Class="clsMenuBarItem" id="tdMenuBarItemPict1">
	<img SRC="../images/jpg/left_menu_pict.jpg" height=25 width=17><sup><a href="myHome.jsp?srcmenu=tdMenuBarItem1">My Homepage</a></sup>
</div>
<div Class="clsMenuBarItem" id="tdMenuBarItemPict2">
	<img SRC="../images/jpg/left_menu_pict.jpg" height=25 width=17> <sup><a href="#" onClick="return click('2')">Manage Account</a></sup>
</div>
<div Class="clsMenu" id="submenuItem1">
	<img SRC="../images/jpg/submenu_pict.jpg" ><sup><a href="sitebrowser.jsp?srcmenu=tdMenuBarItem2">Organizations</a></sup>
</div>
<div Class="clsMenu" id="submenuItem2">
	<img SRC="../images/jpg/submenu_pict.jpg" ><sup><a href="groupbrowser.jsp?srcmenu=tdMenuBarItem2">Groups</a></sup>
</div>

<div Class="clsMenu" id="submenuItem3">
	<img SRC="../images/jpg/submenu_pict.jpg" ><sup><a href="accountbrowser.jsp?srcmenu=tdMenuBarItem2">Users</a></sup>
</div>

<div Class="clsMenu" id="submenuItem4">
	<img SRC="../images/jpg/submenu_pict.jpg" ><sup><a href="ulinkBrowser.jsp?srcmenu=tdMenuBarItem2&selectedTab=2">Personalize Account</a></sup>
</div>

<div Class="clsMenuBarItem" id="tdMenuBarItemPict3">
	<img SRC="../images/jpg/left_menu_pict.jpg" height=25 width=17><sup><a href="#" onClick="return click('3')">Manage Protocols</a></sup>
</div>

<DIV  Class="clsMenu" id="submenuItem5">
	<img src = "../images/jpg/submenu_pict.jpg"><sup><A HREF="studywizard.jsp?srcmenu=tdMenuBarItem3">New</A></sup>
</DIV>
<DIV  Class="clsMenu" id="submenuItem6">
	<img src = "../images/jpg/submenu_pict.jpg"><sup><A HREF="userStudies.jsp?srcmenu=tdMenuBarItem3">Open</A></sup>
</DIV>

<div Class="clsMenuBarItem" id="tdMenuBarItemPict4">
		<img src = "../images/jpg/left_menu_pict.jpg" width="17" height="25"><sup><a href="#" onClick="return click('4')">Library</a></sup>
</div>

<DIV  Class="clsMenu" id="submenuItem7">
	<img src = "../images/jpg/submenu_pict.jpg"><sup><A HREF="protocollist.jsp?mode=N&srcmenu=tdmenubaritem4&selectedTab=1&calledFrom=L">Protocol Calendar</A></sup>
</DIV>
<DIV  Class="clsMenu" id="submenuItem8">
	<img src = "../images/jpg/submenu_pict.jpg"><sup><A HREF="eventlibrary.jsp?srcmenu=tdmenubaritem4&selectedTab=2&calledFrom=L&duration=&protocolId=&mode=M&calStatus=W">Event Library</A></sup>
</DIV>
 

<div Class="clsMenuBarItem" id="tdMenuBarItemPict5">
	<img SRC="../images/jpg/left_menu_pict.jpg" height=25 width=17><sup><a href="#" onClick="return click('5')">Manage Patients</a></sup>
</div>
<div Class="clsMenu" id="submenuItem9">
	<img SRC="../images/jpg/submenu_pict.jpg" ><sup><A href="patientdetails.jsp?srcmenu=tdmenubaritem5&mode=N&selectedTab=1&pkey=&page=patient">New</A></sup>
</div>
<div Class="clsMenu" id="submenuItem10">
	<img SRC="../images/jpg/submenu_pict.jpg" ><sup><A href="studypatients.jsp?srcmenu=tdmenubaritem5&studyId=&patid=&patstatus=&openMode=F">Open</A></sup>
</div>

<div Class="clsMenuBarItem" id="tdMenuBarItemPict6">
	<img SRC="../images/jpg/left_menu_pict.jpg" height=25 width=17><sup><a href="accountreports.jsp?selectedTab=1&srcmenu=tdmenubaritem4">Reports</a></sup>
</div>

<div Class="clsMenuBarItem" id="tdMenuBarItemPict7">
	<img SRC="../images/jpg/left_menu_pict.jpg" height=25 width=17><sup><a href="#" onClick="return click('6')">Help</a></sup>
</div>

<div Class="clsMenu" id="submenuItem11">
	<img SRC="../images/jpg/submenu_pict.jpg" ><sup><A href="ereshelp.jsp" target="Information" onclick="openwin()">Online Help</A></sup>
</div>
<div Class="clsMenu" id="submenuItem12">
	<img SRC="../images/jpg/submenu_pict.jpg" ><sup><A href="contactus.html" target="Information" onclick="openwin()">Contact Us</A></sup>
</div>

<div Class="clsMenu" id="submenuItem13">
	<img SRC="../images/jpg/submenu_pict.jpg" ><sup><A href="termsofservice.html" target="Information" onclick="openwin()">Terms of Service</A></sup>
</div>

<div Class="clsMenu" id="submenuItem14">
	<img SRC="../images/jpg/submenu_pict.jpg" ><sup><A href="privacypolicy.html" target="Information" onclick="openwin()">Privacy Policy</A></sup>
</div>

<div Class="clsMenuBarItem" id="tdMenuBarItemPict8">
	<img SRC="../images/jpg/left_menu_pict.jpg" height=25 width=17><sup><a href="logout.jsp">Logout</a></sup>
</div>
