<Link Rel=STYLESHEET HREF="common.css" type=text/css>
<SCRIPT LANGUAGE="JavaScript" SRC="validations.js"></SCRIPT>

<SCRIPT LANGUAGE="JScript" SRC="resolution.js"></SCRIPT>
<table class=tableDefault width="546" cellspacing=0 cellpadding=0>
  <tr> 
    <td id=topleftCurve class=tdDefault width="52"><img src="../images/jpg/top_left_curve.jpg" width="52" 	height="32"></td>
    <td class=tdDefault valign=TOP><img id=topline src="../images/jpg/topline.jpg" width="494" 	height="5" align="top"></td>
  </tr>
</table>
<table class=leftPanelVLine width="22" cellpadding="0" cellspacing="0">
  <tr> 
    <td width="21">&nbsp;</td>
    <td width="1" ><img id=vertline src="../images/jpg/vline.jpg" width="2" height="350"></td>
  </tr>
</table>
<table class=tableDefault width="75%" cellpadding="0" cellspacing="0">
  <tr> 
    <td class=tDDefault > 
      <p align="left"><img id=bottomcurve src="../images/jpg/test.jpg"></p>
    </td>
  </tr>
</table>
<DIV CLASS=topRightPanel id=topRightDiv> 
  <form name="form1" >
    <table width="245" cellpadding="0" cellspacing="0" border=0>
      <tr> 
        <td class=tdDefault width="49" ROWSPAN = 4><img src="../images/jpg/top_right_curve.jpg" 							width="49" height="85"></td>
        <td width="203" VALIGN = TOP><A href="http://www.velos.com"> About us 
          </a> &nbsp; <A href="http://www.velosinc.com/cenpresrel.html"> Press </a> &nbsp; <A href="contactus.jsp"> 
          Contact us </a> &nbsp; <A href="faqs.jsp"> FAQs </a> </td>
      </tr>
      <tr> 
        <td class=tdDefault width=200> <b>Search</b> </td>
      </tr>
      <tr> 
        <td class=tdDefault width="200" height="30"> 
          <input type="text" name="search" size = 10 MAXLENGTH = 20>
          &nbsp;&nbsp;
          <input type="submit" name="Submit" value="Go">
        </td>
      </tr>
      <tr > 
        <td  width="200"> 
          <p><img src="../images/jpg/topline.jpg" width="245" height="7" align="absbottom"></p>
        </td>
      </tr>
    </table>
  </form>
</DIV>
<DIV class="logo" ID=vlogo> 
  <table width="200" border="0">
    <tr> 
      <td><A href="http://www.velos.com"> <img src="../images/jpg/vlogo.jpg" width="189" height="78"></A></td>
    </tr>
  </table>
</DIV>
