<LINK REL="stylesheet" TYPE="text/css" HREF="menusie.css" />
<SCRIPT LANGUAGE="JavaScript" SRC="menusie.js"></SCRIPT>

<SCRIPT>

function openwin() {

      window.open("#","Information","toolbar=no,scrollbars=yes,resizable=yes,menubar=no,width=500,height=400")

;}
</Script>

<script language="JavaScript" src="whichcss.js"></script>

   <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<DIV ID="header"></div>
<DIV ID="leftColumn">
	<table>
	<tr><td><A HREF="velosmsgs.jsp">Message Center</A></td></tr>
	<tr><td><A HREF="changepwd.jsp?srcmenu=tdMenuBarItem2&selectedTab=0">Change Password</A></td></tr>
	<tr><td><A HREF="adminreports.jsp?srcmenu=tdMenuBarItem3&selectedTab=1">Reports</A></td></tr>
	<!--Added by Manimaran on 15,May06 for the default role based access rights-->
	<tr><td><A HREF="velosutilities.jsp?srcmenu=tdMenuBarItem4&selectedTab=2">Velos Utilities Suite</A></td></tr>
	<tr><td><A HREF="veloslogout.jsp" >Logout</A></td></tr>
</DIV>
