/**
*Author : Yogesh Kumar
* CSS used for Mega Menu Panel for Internet browsers for screen width *800*
* Created on		: 27July2011
* Last Modified on	: 
* Modified on		: 
*/

/* Nicholas: Start */
#nav-one{
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc;
	margin-top:2px;
	margin-left:2px;
	width: 100%;
	height:10px;	
}
/* Nicholas: End */

UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;
}
/* Nicholas: Start */
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;
	/*background:#FFFFFF url(../../images/mgPanelimages/gradient.png) repeat-x scroll 0 0;*/
}
ul.dropmenu{
	position: relative;
	margin: 0px;
	z-index:9999;
	padding: 1px 0px 0px 0px;
	/*background:#FFFFFF url(../../images/mgPanelimages/gradient.png) repeat-x scroll 0 0;*/
	display:block;
	height:20px;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size: 8px;
}
/* Nicholas: End */
.dropmenu li{
	position: relative;
	list-style: none;
	float: left;
	margin: 0px;
	padding: 0px;
}
/* Nicholas: Start */
.dropmenu li a{
	height:20px;
	z-index:9999;
	padding: 9px 20px 0px 5px;
	display: inline;
	cursor:pointer;
	border-right: solid 1px #CCC;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size: 8px;
}
.dropmenu li span{
	display: block;
	float: right;
	height: 20px;
	width: 10px;
	/*background:#FFFFFF url(../../images/mgPanelimages/arrow_up.png) repeat-x scroll 0 0;*/
	position: absolute;
	top: 12px;
	right: 10px;
}
/* Nicholas: End */
.dropmenu li a:hover {
    color: #F67A00;
}
/* Nicholas: Start */
.dropmenu li  a:hover span{
	/*background:#FFFFFF url(../../images/mgPanelimages/arrow_hover.png) repeat-x scroll 0 0;*/
}
/* Nicholas: End */
.dropmenu li:hover ul, .dropmenu li:hover div{
	display: block;
}
/* Nicholas: Start */
.dropmenu ul{
	position: absolute;
	display: none;
	width: 120px;
	padding: 0px;
	margin: 0px;
	border-bottom: 1px solid #ccc;
	/*background: #FFFFFF url(../../images/mgPanelimages/gradient.png) repeat-x scroll 0 0;*/
}
/* Nicholas: End */
.dropmenu ul li{
	border: 0;
	float: none;
}
/* Nicholas: Start */
.dropmenu ul a {
  border: 1px solid #ccc;
  border-bottom: 0;
  white-space: nowrap;
  display:block;
  color: #0657AD;
  text-decoration: underline;
  text-transform: none;
  /*background: #FFFFFF url(../../images/mgPanelimages/gradient.png) repeat-x scroll 0 0;*/
}

a.selected span{
	/*background:#FFFFFF url(../../images/mgPanelimages/arrow_hover.png) repeat-x scroll 0 0;*/
}
/* Nicholas: End */
.dropmenu ul a:hover {
	color:#F67A00 !important;
	text-decoration: none;
	background-color: #F0F0F0;
	background-image: none;
}
.dropmenu div ul{
	position: relative;
	display: block;
}
/* Nicholas: Start */
.dropmenu li div{
	/*background: #FFFFFF url(../../images/mgPanelimages/gradient.png) repeat-x scroll 0 0;*/
	border: 1px solid #ccc;
	padding: 5px;
	display: none;
	position: absolute;
}
/* Nicholas: End */
.dropmenu li div ul{
	border: none;
	background: none;
	position: relative !important;
}
/* Nicholas: Start */
.dropmenu li div ul li h2{
	margin:0px 0px 3px 0px;
	padding:0px;
		
}
/* Nicholas: End */
.dropmenu li div a{
	border: none;
	border-bottom: 1px solid #ccc;
}
.dropmenu li div div{
	display: block;
	position: relative;
	background: none;
	border: none;
}
.dropmenu li div div a{
	display: block;
	border: none;
	color: #666;
	text-decoration: underline;
	padding: 0px;
	margin: 0px;
	text-transform: none;

}
.dropmenu li div div a:hover{
	color: #000;
	text-decoration: none;

}
ul.left{
	float: left;
	width: 145px;
}
ul.right{
	float: right;
	width: 145px;
}
li.left{
	float: left;
	width: 145px;
}
li.right{
	float: right;
	width: 145px;
}
/* Nicholas: Start */
.subheading h2{
	font-size: 9px;
	padding: 4px 0px 0px 0px;
	color: #666;
	display:block;
	height: 20px;
    text-decoration: none; /*YK 24Aug11: Fix for Bug #6811 */
    text-transform: none;
	border-bottom: 1px solid #ccc;
	/*background:  url(../../images/mgPanelimages/gradient.png) repeat-x scroll 0 0;*/

}
/* Nicholas: End */
.personalize{
	width: 150px; margin-top:25px; left:0px; position:absolute;
}
.manage{
	width: 310px; margin-top:25px; left:0px; position:absolute;
}
.research{
	width: 150px; margin-top:25px; left:0px; position:absolute;
}
.library{
	width: 310px; margin-top:25px; left:0px; position:absolute;
}
.inventory{
	width: 150px; margin-top:25px; left:0px; position:absolute;
}
.reports{
	width: 150px; margin-top:25px; left:0px; position:absolute;
}
