@charset "utf-8";
/* CSS Document */

#wrapper {
	width:100%;
	min-width:960px;
	/*height:100%; */
	margin: 0px auto;
	/*font-size: 0.9em;*/
	}


/* ------------------------ Header Starts ------------------------------------ */	
.headerStyle{
	width:100%;
	height:100px;
	background-color:#ffffff;
	border-top: 2px solid #494437;	
	}
	.headerleft{
		float:left;
		width:10%;
		min-width:100px;
		height:100px;
		text-align:left;
		}
		.headerleft img{
			padding: 10px 0px 0px 0px;
			}
	.headermiddle{
		float:left;
		width:80%;
		min-width:760px;
		height:100px;
		text-align:center;
		/*background-color: #eaf4fd;*/
		background: -moz-linear-gradient(left, #ffffff, #817865 25%,  #817865 75%, #ffffff);
		background: -webkit-gradient(linear, left center, right center, from(#ffffff), color-stop(25%, #817865), color-stop(75%, #817865), to(#ffffff));
	
		}
		.headermiddle h4{
	/*font-size: 0.8em;*/
			font-weight:bold;
			
			margin-top:40px;
			}
		.headermiddle p{
			/*font-size:0.8em;*/
			
			}
	.headerright{
		float:right;
		width:10%;
		min-width:100px;
		height:100px;
		text-align:right;
		}
		.headerright img{
			padding:15px 10px 0px 0px;
			}
	
.blankheader{
	text-align:right;
	height:30px;
	width:100%;
	max-height:30px;
	background-color: #817865;
/*	background-image:url(../images/headerbg.jpg); background-repeat:repeat-x;
	background: -moz-linear-gradient(left, #ffffff, #71a9d2 25%,  #71a9d2 75%, #ffffff);
		background: -webkit-gradient(linear, left center, right center, from(#ffffff), color-stop(25%, #71a9d2), color-stop(75%, #71a9d2), to(#ffffff));*/
	/*font-size:0.8em;*/
}
.loginInfo{
	margin: 10px 0px 0px 10px;
	text-align: left;
	}
.header_left{ float:left; width:55%;}
.header_middle{ float:left; margin: 0px auto; width:12%;}
.header_right{ float:right; width:33%; margin:10px 10px 0px 0px; }
/* ------------------------ Header Ends ------------------------------------ */


/* ------------------------ Navigation Starts ------------------------------------ */
nav {
	width:100%;
	height:5px;
	background-color:#494437;
/*	background-color:#9cbc2c;*/
	position:relative;
	}

.navleft{ width:70%; float:left; text-align:left;}
.navright{ margin:6px 10px 0px 0px;}

/* ------------------------ Navigation Ends ------------------------------------ */


/* ------------------------ Breadcrumb Starts ------------------------------------ */
.breadcrumbStyle{
	width:100%;
	height:30px;
	margin: 0px auto;
	position:relative;
	clear:both;
	/*font-size:0.8em;*/
	/*padding-top: 10px;*/
	}

.breadcrumb{
	width:50%;
	/*padding:10px 0px 0px 20px;*/
	
	}

/* ------------------------ Breadcrumb Ends ------------------------------------ */


/* ------------------------ Main Starts ------------------------------------ */
.mainStyle{
	width:95%;
	/*height:70%;*/
	margin: 20px auto;
	margin-top:5px;
	overflow:none;
	clear:both;
	/*float:right;*/
	/*font-size:0.9em;*/
	
	}
	
.maincontainer{
	/*height:100%;*/
	/*background: #f4f4f4;*/
	background: #feeebd;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	overflow-x:hidden;
	overflow-y: hidden;
	padding-bottom:20px;
	
	}

.maincontainer article{ width:98%; margin: 0px auto; }
.maincontainer section{ width:98%; margin-left:20px; }

/* ------------------------ Main Ends ------------------------------------ */


/* ------------------------ Footer Starts ------------------------------------ */
.footerStyle {
	position:fixed;
	height:50px;
	clear:both;
	width:100%;
	bottom:0px;
	background:#494437;
/*	background: #384313;*/
	text-align: center;
	/*font-size:0.7em;*/
	}



.footer{
	clear:both;
	color: #ffffff;
	
	}

.footer a{
	color: #ffffff;
	}

/* ------------------------ Footer Ends ------------------------------------ */

/* ------------------------ highlight row ------------------------------------ */
.high {
color: #d19405;
/*text-shadow:0px 0px 1px #fff;*/
}