<div ui-grid="row.entity.subGridOptions"
     ui-grid-auto-resize
     ui-grid-pinning
     ui-grid-grouping
     ui-grid-edit
     ui-grid-row-edit
     ui-grid-cellNav

     class="grid"
     style="height:300px;"></div>
<pre>row.entity.rowCount</pre>