@charset "utf-8";
/* CSS Document */

header .logo {/*font-size:2.5em;*/ height:52px; padding-top:28px; font-weight:700; text-shadow:1px 1px 2px #000; color:#fff; filter: Shadow(Color=#666666, Direction=135, Strength=3);}
header .statement {padding-top:1px; padding-right:10px;}



nav ul {list-style:none;/*font-size:0.8em;*/ color:#fff;}
nav ul li {float:left; margin-left:5px;}
nav ul li a {display:block; color:#fff; text-decoration:none; padding:2px 8px; margin-top:3px;  
				 -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
				 -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px;
				 }
nav ul li a:hover {background-color:#fff; color:#000;}

.nav {clear:both; float:left; width:100%; overflow:hidden;}

#menu {
  padding:0; 
  list-style-type:none;
  float:left;
  position:relative; 
  /*left:50%;*/
  }
#menu li {
  float:left; position:relative; /*right:50%;*/
  }
#menu a {
  width:auto;
  display:block;
  padding:4px 16px;
  color:#fff; 
  background: #333333 url(ui-bg_dots-small_20_333333_2x2.png) repeat scroll 50% 50%;
  border: #333333; 
  color: #ffffff;
  text-decoration:none;
  }
#menu a:hover {
    background: #00498F url(ui-bg_dots-small_40_00498f_2x2.png) repeat scroll 50% 50%;
	border:solid 2px #222222;
	color: solid 1px #ffffff; 
  }  

  ul#menu li.active a{ color:solid 2px #ffffff; font-weight:bold;}
  
  
  ul#accordion, ul#accordion ul {

  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 15em;
}

ul#accordion a {
  display: block;
  text-decoration: none;	
}

ul#accordion li {
  margin-top: 1px;
}

ul#accordion li a {
  border: 1px solid #222222; background: #00498f url(ui-bg_dots-small_40_00498f_2x2.png) 50% 50% repeat; font-weight: bold; color: #ffffff;
 
  padding: 0.5em;
}

ul#accordion li a:hover {
border: 1px solid #333333; background: #333333 url(ui-bg_dots-small_20_333333_2x2.png) 50% 50% repeat; font-weight: bold; color: #ffffff;
}

ul#accordion li ul li a {
  background: #ffffff;
  color: #00498f;
  /*padding-left: 20px;*/
  margin-left:-3px;
  width:170px;
}

ul#accordion li ul li a:hover {
 
  background: #fff;
  color:#333333;
  /*padding-left: 15px;*/
}  
  
.box.style{
	display: block; margin:0px 0 0 -19px; width:258px;
	}