/* At-Rules */
@charset "iso-8859-1";


/* COMMON.CSS 
body {  font-family: arial; margin-left:0em;margin-top:0em; background-color: "#FFFFFF";position:absolute;overflow:hidden}
/*************************/

Img#hometop { border-style:none;width:674 px;height:5;}
Img#homeright {border-style:none;width:2 px;height:550;}
/**************************/

/****** BODY FOR HOME *** */
body#home {font-family: arial; margin-left:0px;margin-top:0px; background-color: "#FFFFFF";position:absolute;}
Table#tableForLogin TD {font-family: arial; color:"#CFC8FF"; padding:0px 5px 0px 5px; cursor:default; font-size:1pt;font-weight:bold;}

/* *********** PANEL : Right Panel *********/
DIV.topRightPanel {visibility:visible;left:705px;position:absolute; top:0em;width:250px;}
DIV.topRightPanel A {font-family: "arial"; text-decoration:underline; color:black; font-weight:normal;font-size:8pt ;}
/*DIV.topRightPanel Img {align:absbottom;}*/
DIV.topRightPanel TR {background-color: #CFC8FF;}

/* ***************************************
*********** HOMEPAGE CENTER LOGO *********/
DIV.homeCenter {position:absolute;visibility:visible;left:15em ; top:6em;width:616;}
DIV.homeCenter TD {font-family: "Verdana, Arial, Helvetica,  sans-serif";font-size:12pt; }
/* ***************************************/
/************ eRes Login Page**********/
DIV.eresLogin {visibility:visible;left: 10em;position:absolute;top:10em;width:616;height:560;}
DIV.eresLogin  Table {}
TD#trcolor {font-family: "Verdana, Arial, Helvetica,  sans-serif";color:black;font-size:10pt; font-weight:bold; background-color: #CFC8FF;}
TD#tddefinition {font-family: "Verdana, Arial, Helvetica,  sans-serif";color:black;font-size:12pt}
TD#remarks {font-family: "Verdana, Arial, Helvetica,  sans-serif";color:black;font-size:11pt}
DIV.eresLogin  TD {font-family: "Verdana, Arial, Helvetica,  sans-serif";color:black;font-size:12pt; font-weight:normal; }
DIV.eresLogin  A {font-family: "arial"; text-decoration:underline; color:red; font-weight:bold;font-size:9pt; }
DIV.eresLogin  A:hover { color:blue; }

/*****************************************/
/*********** HOMEPAGE LOGIN BAR *********/
DIV.login {visibility:visible;left:1em;position:absolute; top:10em;background-color: #CFC8FF;}
table.login tr{background-color: #CFC8FF;}
table#login {visibility:visible;background-color:#CFC8FF; left:1em; top:10em;}
table.login TD {font-family: Verdana, Arial, Helvetica,  Sans-serif;background-color: #CFC8FF;color:black;font-size:9pt; font-weight:bold;}
table.login A {font-family: Arial; text-decoration:underline; color:red; font-weight:bold;font-size:8pt;}
/* ***************************************

/************ HOMEPAGE LOGIN BAR **********/
DIV.homelogin {position:absolute;visibility:visible;left:2em; top:10em;width:180;}
DIV.homelogin A {font-family: "arial";color:blue; font-weight:bold;font-size:9pt; }
/*****************************************/


/*********** HOMEPAGE RIGHT SECTIONS *********/
DIV.section {position:absolute; left:50em; top:5em; visibility: visible;width:11em;}
DIV.section A {font-family: arial; text-decoration:underline; color:blue;font-size:10pt ;}
/* *************************************** */
BUTTON {font-family:arial; font-size:10pt;}

/* PANEL : LOGO*/ 
DIV.logo {left:2em;position:absolute;top:0.5em;width:650;border:none;}
DIV.logo img {border-style:none;color:none;text-decoration:none;border:none;}
DIV.loginTable {visibility:visible;left:18px;position:absolute;top:75 px;}
IMG.pict {visibility:visible;  position:relative; cursor:hand;}
table.tableDefault {border-style: none;}
table.leftPanelVLine {background-color:#6F67FF;}
td.tdDefault {font-family: arial;color:black;font-size:9pt;}
td#tdComments {font-family: "Verdana, Arial, Helvetica, sans-serif";color:blue;font-size:12pt;font-style:italics;}
TD.leftpanel {background-color:#6F67FF;}
/* *********** P tag for comments  ********* */
P.defComments {font-family: arial;color:blue;font-size:9pt;}
FONT.comments { font-family: "arial";color:blue;font-size:9pt; }
/* **************************************
*********** P tag for Section Headings ********* */
P.sectionHeadings {font-family: arial;color:blue;font-size:12pt; font-weight:bold;}
P.mylinkhead table{font-family: arial;color:blue;font-size:9pt; font-weight:bold;text-align:right;position:absolute;left:15em;top:5em;}

/* **************************************
*********** P tag for Italics comments********* */
P.italicsComments {font-family: arial;color:blue;font-size:11pt; font-weight:bold;font-style:italics;}

/* **************************************
*********** P tag for comments  ********* */
P.blackComments {font-family: arial;color:black;font-size:11pt;}

/* **************************************
*********** P tag for comments  ********* */
P.bigNumbers {font-family: arial;color:red;font-size:18pt;font-weight:bold}

/* **************************************
*********** P tag for USer Name********* */
P.userName {font-family: arial;color:white;font-size:1pt; font-weight:normal;text-align:right;height:0em;}
P.userNameNew {font-family: arial;color:red;font-size:15pt; font-weight:bold;text-align:right;}
P.plwait {font-family: arial;color:red;font-size:12pt; font-weight:bold;text-align:left;visibility:visible;}
DIV.plwt {left:0em;position:relative;top:0em;width:450;border:none;}

/* **************************************
*********** P tag for logout comments********* */
P.logoutComments {font-family: arial;color:blue;font-size:13pt; font-weight:bold;font-style:italics;}

/* **************************************
*********** P tag for Msg Center Heading*********
NS P.msgHead { font-family: arial;color:blue;font-size:15; font-weight:bold;background-color: "#CFC8FF";text-align:center;border:solid;width:550;} */
P.msgHead {font-family: arial;color:blue;font-size:15pt; font-weight:bold;background-color: #CFC8FF;text-align:center;border:solid;width:550;}

/* **************************************
*********** APPLICATION FORMS ********* */
DIV.formDefault {visibility:visible;left:12em;position:absolute;top:5em;height:100em;width:750;}

DIV.formDefault Table {border-style: none;}

/* NS DIV.formDefault TR {background-color:"#FFFFFF";} */
/*DIV.formDefault TR {background-color:#FFFFFF;}

/* NS DIV.formDefault TH {background-color:"#CFC8FF";font-family: "Verdana, Arial, Helvetica,  sans-serif";color:black;font-size:13;} */
DIV.formDefault TH {background-color:#CFC8FF;font-family: Arial;color:black;font-size:10pt;}

/*DIV.formDefault TD {font-family:Arial;color:black;font-size:9pt; vertical-align:left;}

/*DIV.formDefault A {font-family: Arial;text-decoration:underline; color:blue; font-weight:bold;font-size:9pt;}*/

DIV.formDefault  A:hover {color:red;}

DIV.formDefault  BUTTON {font-family:arial; font-size:10pt;}

/* *************************************** */
FONT.Mandatory {font-family:arial; color:red;}

/* *********** APPLICATION BROWSERS ********* */
DIV.browserDefault {visibility:visible;left:12em;position:absolute; top:5em;height:100em;width:750;}
DIV.browserDefault Table {border-style:"none";width:600}
/*DIV.browserDefault A {font-family: "Verdana, Arial, Helvetica,sans-serif";text-decoration:underline; color:blue; font-weight:bold;font-size:10pt;}*/
DIV.browserDefault  A:hover {color:red;}

/*DIV.browserDefault TD {font-family:Arial;color:black;font-size:9pt; vertical-align:left;}

/* NS DIV.browserDefault TH {background-color:"#9A99FF";font-family: "Verdana, Arial, Helvetica,  sans-serif";color:white;font-size:13;height:"25"} */
DIV.browserDefault TH {background-color: #9A99FF;font-family: Arial;color:white;font-size:10pt;}

/* NS tr.browserOddRow {background-color:"#E5D1FD";height:"20";} */
tr.browserOddRow {background-color:#E5D1FD;height:20;}

tr.browserOddRow TD {font-family: "Verdana, Arial, Helvetica,  sans-serif";color:black;font-size:8pt; text-align:left;}

/* NS tr.browserEvenRow {background-color:"#FDF8DF"; height:"20"} */
tr.browserEvenRow {background-color:#FDF8DF; height:20}

tr.browserEvenRow TD {font-family: "Verdana, Arial, Helvetica,  sans-serif";color:black;font-size:8pt; text-align:left;}

/***********Page with Form as well as browser*************/
DIV.formBrwDefault {visibility:visible;left:12em;position:absolute; top:5em;height:100em;width:750;}
DIV.formBrwDefault Table {border-style:"none";width:600}
DIV.formBrwDefault  A:hover {color:red;}
DIV.formBrwDefault TH {background-color: #9A99FF;font-family: Arial;color:white;font-size:13pt;}
/*************************************************/

/************ APPLICATION POPUP PAGES **********/
DIV.popDefault {visibility:visible;margin-left:10px;position:absolute;height:300;margin-top:10;width:660;}
DIV.popDefault Table {border-style: none;}
DIV.popDefault TR {background-color:"#FFFFFF";}
DIV.popDefault TH {background-color:"";font-family: "Verdana, Arial, Helvetica,  sans-serif";color:black;font-size:12;}
DIV.popDefault TD {font-family: "Verdana, Arial, Helvetica,  sans-serif";color:black;font-size:11; align:left;}
DIV.popDefault A {font-family: "Verdana, Arial, Helvetica,sans-serif";text-decoration:underline; color:blue; font-weight:bold;font-size:9; }
DIV.popDefault A:hover { color:red; }
DIV.popDefault BUTTON { font-family:"arial"; font-size:10pt; }
DIV.popDefault HR { height="2"; color="#9A99FF";}
/*****************************************/

/* NS tr#browserOddRow {background-color:"#E5D1FD";height:"20";} */
table#browserOddRow {background-color:#E5D1FD;height:20;}

tr#browserOddRow td{font-family: "Arial";color:black;font-size:14pt;}

/* NS tr#browserEvenRow {background-color:"#FDF8DF"; height:"20"} */
table#browserEvenRow {background-color:#FDF8DF; height:20}

tr#browserEvenRow td{font-family: "Arial";color:black;font-size:14pt;}

tr#browserBoldRow TD {font-family: "Verdana, Arial, Helvetica,  sans-serif";color:black;font-size:8pt; text-align:left;font-weight:bold;}

/* ***************************************
**************Rows for Message Center**********
NS tr#msgcenterOddRow TD{background-color:"#E5D1FD";height:"20";font-family: "Verdana, Arial, */
tr#msgcenterOddRow TD {background-color:#E5D1FD;height:"20";font-family: "Verdana, Arial,   Helvetica,  sans-serif";font-size:10pt;align:left;}

/* NS tr#msgcenterEvenRow TD{background-color:"#FDF8DF"; height:"20";font-family: "Verdana, Arial, 
Helvetica,  sans-serif";font-size:10; align:left;} */
tr#msgcenterEvenRow TD {background-color:#FDF8DF; height:"20";font-family: "Verdana, Arial,   Helvetica,  sans-serif";font-size:10pt; align:left;}

/* ************************************************
****************Heading for a section***************
NS tr#headSection TD{background-color:"#9A99FF";font-family: "Verdana, Arial, Helvetica,  sans-serif";color:white;font-size:13;height:"25";font-weight:bold;}

tr#tableheading TH {background-color:"#FDF8DF";font-family: "Verdana, Arial, Helvetica,  sans-serif";color:black;font-size:13;height:"25"} */
tr#headSection TD {background-color:#9A99FF;font-family: "Verdana, Arial, Helvetica,  sans-serif";color:white;font-size:13pt;height:"25";font-weight:bold;}

tr#tableheading TH {background-color:#FDF8DF;font-family: "Verdana, Arial, Helvetica,  sans-serif";color:blue;font-size:13pt;height:"25"}

/* ************************************************
*******MENU DIV*** */
DIV.mainMenu {visibility:visible;background-color: #CFC8FF; position:absolute; left:1em; top:10em;height:400}

/* ***************************************
*********** MY LINKS ********** ****
NS DIV#myLinks {visibility:visible;margin-left:450px;position:absolute;margin-top:-10;z-index:2;
width:190;background-color:"#FFFFFF";}

DIV#myLinks TR {background-color:"#CFC8FF";} */
DIV.myLinks {visibility:visible;left:45em;position:absolute;top:8em; width:190;background-color:#FFFFFF;}

DIV.myLinks TR {background-color:#CFC8FF;}

DIV.myLinks TD {background-color:#CFC8FF;font-family:"Verdana, Arial, Helvetica,sans-serif";color:black;font-size:9pt;}

DIV.myLinks A {font-family: Verdana, Arial, Helvetica,sans-serif;text-decoration:underline; color:blue; font-weight:bold;font-size:8pt;font-style:italic;}

DIV.myLinks A:hover {color:red;}


P.myLinknew TR {background-color:#FFFFFF};
P.myLinknew TD {background-color:#FFFFFF};
P.myLinknew A {font-family: "Verdana, Arial, Helvetica,sans-serif";text-decoration:underline; color:blue; font-weight:none;font-size:9pt;font-style:"italic";}

/* ***************************************
*********** Account LINKS ********** ****
NS DIV#accLinks {visibility:visible;position:absolute;margin-top:5;z-index:2
width:190;background-color:"#FFFFFF";}

DIV#accLinks TR {background-color:"#CFC8FF";} */
DIV.accLinks {visibility:visible;position:relative;left:0em;top:0em;width:190;background-color:#FFFFFF;}

DIV.accLinks TR {background-color:#CFC8FF;}

DIV.accLinks TD {background-color:#CFC8FF;font-family: "Verdana, Arial, Helvetica,sans-serif";color:black;font-size:13pt;}

DIV.accLinks A {font-family: "Verdana, Arial, Helvetica,sans-serif";text-decoration:underline; color:blue; font-weight:none;font-size:11pt;font-style:"italic";}

DIV.accLinks A:hover {color:red;}

/* ***************************************
*********** MY STUDIES ON HOMEPAGE************
NS DIV#myStudies {visibility:visible;margin-left:0px;position:absolute;margin-top:-20;z-index:1;
overflow:hidden;width:390;background-color:"#FFFFFF";} */
DIV#myStudies {visibility:visible;left:0em;position:absolute;top:5em;width:600;background-color:#FFFFFF;}

DIV#myStudies A {font-family: "Verdana, Arial, Helvetica,sans-serif";text-decoration:underline; color:black; font-weight:bold;font-size:8pt;}

DIV#myStudies A:hover {color:red;}

/* NS DIV#myStudies TH {background-color:"#9A99FF";font-family: "Verdana, Arial, Helvetica,  sans-serif";color:white;font-size:11;height:"25"} */
DIV#myStudies TH {background-color:#9A99FF;font-family: Arial;color:white;font-size:10pt;height:20}

/* ***************************************
*********** User NAme on HomePage********* */
DIV#myName {visibility:visible;marginleft:50em;position:absolute;top:20em;}

DIV#myName P {font-family: arial;color:red;font-size:15pt; font-weight:bold;}

/* ***************************************************


/************ Search Browser ********* */
DIV.searchDefault {visibility:visible;left:25em;position:absolute; top:30;;height:360;width:600;}

DIV.searchDefault Table {border-style:"none";}

TR.searchDefault {background-color:"WHITE";}

TD.searchNumber {font-family: arial;color:red;font-size:13pt; align:left;}

TD.searchTitle {font-family: "Verdana, Arial, Helvetica,  sans-serif";color:black;font-size:12pt; align:left;}

/* ***************************************
*********** PANEL : Bottom Panel *********
NS DIV.bottomPanel {visibility:visible;margin-left:100px;position:relative;align:center} */
DIV.bottomPanel {visibility:visible;position:relative;align:center}

DIV.bottomPanel A {font-family: arial;color:black;font-size:8pt ;}

DIV.bottomPanel A:hover {color:red;}

/* ***************************************
*********** PANEL : Bottom Panel for my Home********* */
DIV.myHomebottomPanel {visibility:visible;left:10em;position:absolute;align:left}

DIV.myHomebottomPanel A {font-family: arial;color:black;font-size:10pt ;}

DIV.myHomebottomPanel  A:hover {color:red;}

/* ***************************************
*********** STATIC PAGES ********* */
DIV.staticDefault {visibility:visible;margin-left:20px;margin-right:15px}

DIV.staticDefault P {visibility:visible;margin-left:100px;position:relative;font-family: arial;color:black;font-size:10pt; ALIGN="JUSTIFY";}

DIV.staticDefault OL {visibility:visible;margin-left:100px;position:relative;font-family: arial;color:black;font-size:11pt;}

DIV.staticDefault UL {visibility:visible;margin-left:100px;position:relative;font-family: arial;color:black;font-size:11pt;}

P#paraHeadings {visibility:visible;position:relative;font-family: arial;color:black;font-size:16pt;font-weight:bold;}

DIV.staticDefault A {font-family: "Verdana, Arial, Helvetica,sans-serif";color:blue;font-size:10pt ;}

DIV.staticDefault A:hover {color:red;}

DIV.staticDefault TD {font-family: "Verdana, Arial, Helvetica, sans-serif";color:black;font-size:12pt;align:center;line-height:1.5;}

TD#aboutHeadings {font-family: "Arial Black, Verdana, Helvetica, sans-serif";color:black;font-size:26pt;font-weight:bold;}

TD#researchHeadings {font-family: "Arial Black, Verdana,Helvetica, sans-serif";color:black;font-size:20pt;font-weight:bold;}

/* *************************************** */
Table.selectedTab {font-family: arial;background-color:#CFC8FF;font-size:8pt; align:left;}

Table.selectedTab TR {font-family: arial;background-color:#CFC8FF;font-size:8pt; align:left;}

Table.selectedTab TD {font-family: arial;background-color:#CFC8FF;font-size:8pt; align:left;}

Table.unselectedTab {font-family: arial;background-color:#9A99FF;font-size:8pt; align:left;}

Table.unselectedTab TR {font-family: arial;background-color:#9A99FF;font-size:8pt; align:left;}

Table.unselectedTab TD {font-family: arial;background-color:#9A99FF;font-size:8pt; align:left;}

Table.selectedTab A {font-family: arial;color:black;font-size:8pt ;text-decoration:none}

Table.unselectedTab A {font-family: arial;color:black;font-size:8pt ;text-decoration:none}

Table.selectedTab  A:hover {color:red;}

Table.unselectedTab  A:hover {color:red;}

/* *********** Center watch********* */
IFrame.cw {visibility:visible;margin-left:-30px;position:absolute;margin-top:0; height:350;width:420;border-style:"none";}

/************ Reports (new) **********/
TD.reportPanel {font-family: "arial";color: black;font-size:11pt; }
TD.reportName { font-family: "arial";color:black;font-size:14pt; font-weight:bold; }
TD.reportHeading { font-family: "arial";color:black;font-size:11pt; font-weight:bold; }
TH.reportHeading { font-family: "arial";color:black;font-size:11pt; font-weight:bold; }
TD.reportSubHeading { font-family: "arial";color:black;font-size:10pt; font-weight:bold; }
TD.reportLabel { font-family: "arial";color:black;font-size:11pt; font-weight:bold; }
TD.reportGrouping { font-family: "arial";color:blue;font-size:11pt; font-weight:bold; }
TD.reportData { font-family: "arial";color:black;font-size:11pt;  }
TD.reportFooter { font-family: "arial";color:black;font-size:9pt; font-weight:normal; }


TR.reportEvenRow { background-color:#FDF8DF; height:20em; }
TR.reportOddRow { background-color:#E5D1FD; height:20em; }
TR.reportGreyRow { background-color:lightgrey; height:20em; }
TR.reportWhiteRow { background-color:white; height:20em; }

HR.thickLine  {color:"#330099";}

HR.thinLine { height:10em; color:blue;}
/*****************************************/

/* *************** REPORTS******************
HR.blue {color:"#330099";} */
HR#blue {color:blue;}
P.reportHeadings {font-family: arial;color:blue;font-size:10pt; font-weight:bold;}
FONT.numberFonts {font-family: "arial";font-size:13pt; font-weight:bold;}
FONT.reportText {font-family: "arial";font-size:10pt; font-weight:bold;font-style:italics;}

/* **************************************
************** PATIENT SEARCH IN POPUP MODE******************** */
/    DIV.browserDefaultPat {visibility:visible;margin-left:195px;position:absolute; margin-top:-150;height:360;width:600;}

DIV.browserDefaultPat Table {border-style:"none";}

DIV.browserDefaultPat A {font-family: "Verdana, Arial, Helvetica,sans-serif";text-decoration:underline; color:blue; font-weight:bold;font-size:10pt;}

DIV.browserDefaultPat  A:hover {color:red;}

DIV.browserDefaultPat TD {font-family: "Verdana, Arial, Helvetica,  sans-serif";color:black;font-size:9pt; align:left;font-weight:bold;}

/* DIV.browserDefaultPat TH {background-color:"#9A99FF";font-family: "Verdana, Arial, Helvetica,  sans-serif";color:white;font-size:13;height:"25"} */
DIV.browserDefaultPat TH {background-color:#9A99FF;font-family: "Verdana, Arial, Helvetica,  sans-serif";color:white;font-size:13pt;height:"25"}

/*   **************************************   */

/************ FORM WITH LINKS USED IN ADVERSE EVENTS*************/
DIV#formWithLinks {visibility:visible;left:0em;position:absolute;top:5em;width:600;background-color:#FFFFFF;}
DIV#formWithLinks A {font-family: "Verdana, Arial, Helvetica,sans-serif";text-decoration:underline; color:blue; font-weight:bold;font-size:8pt;}
DIV#formWithLinks A:hover {color:red;}
DIV#formWithLinks TH {background-color:#9A99FF;font-family: Arial;color:white;font-size:10pt;height:20}
/* *************************************** */

/************ Right align Input text ***************/
INPUT.rightAlign {}


/**************** showing Page numbers in paginated browsers*********/ 
FONT.pageNumber {font-family:"arial"; color:red;font-size:14pt;font-weight:bold; }

/*****************showing Record numbers in paginated browsers**************/

FONT.recNumber {font-family:"arial"; color:#CC6633;font-size:12pt;font-weight:none;  }

/***********Dynamic Forms*************/
Table.dynFormTable {border-style:"none";}
Table.dynFormTable A {font-family: "Verdana, Arial, Helvetica,sans-serif";text-decoration:underline; color:blue; font-weight:bold;font-size:10pt; }
Table.dynFormTable  A:hover { color:red; }
Table.dynFormTable  BUTTON { font-family:"arial"; font-size:10pt;} 
Table.dynFormTable label {font-family: "Verdana, Arial, Helvetica,  sans-serif";color:black;font-size:13pt; align:left;}
Table.dynFormTable TD {font-family: "Verdana, Arial, Helvetica,  sans-serif";color:black;font-size:13pt; align:left;}
Table.dynFormTable TH {background-color:"#9A99FF";font-family: "Verdana, Arial, Helvetica,  sans-serif";color:white;font-size:13pt;height:"25"} 
/*Table.dynFormTable P { font-family: "arial";color:green;font-size:12pt; font-weight:bold; }*/

P.dynSection { font-family: "arial";color:blue;font-size:12pt; font-weight:bold; }
/********************************/

/******************Patient Tabs Header info****************/
Table.patHeader {border-style:"none";}
Table.patHeader A {font-family: "Verdana, Arial, Helvetica,sans-serif";text-decoration:underline; color:blue; font-weight:bold;font-size:10pt; }
Table.patHeader A:hover { color:red; }
Table.patHeader TD {font-family: "Verdana, Arial, Helvetica,  sans-serif";color:black;font-size:9pt; align:left;}

TH.headernoColor {font-family: "Verdana, Arial, Helvetica,  sans-serif";color:black;font-size:12pt;}

/************ P tag for Red Message **********/
P.redMessage { font-family: "arial";color:red;font-size:12pt; font-weight:bold; }
/****************************************/

/************<PRE> for forms********************/
PRE.dynFormPRE {font-family: "Verdana, Arial, Helvetica,  sans-serif";color:black;font-size:13pt;}

/*<body> tag for forms*/
body#forms {}
