<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Velos eResearch : User login</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<link rel="stylesheet" href="styles/velos_style.css" type="text/css">
<script>
function openwin1() {
      window.open("loggingin.htm","Information","toolbar=no,scrollbars=yes,resizable=yes,menubar=no,width=600,height=500")
;}
</script>
<jsp:param name="scHeight" value="<%=scHeight%>"/>
<jsp:param name="scWidth" value="<%=scWidth%>"/>
   


<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">

<!--  LIBRARY JAVASCRIPT START -->
<script language="JavaScript">
<!--
function fwLoadMenus() {
  if (window.fw_menu_0) return;
  window.fw_menu_0 = new Menu("root",92,19,"Arial, Helvetica, sans-serif",12,"#ffffff","#ffffff","#9999ff","#000084");
  fw_menu_0.addMenuItem("at a glance","location='ataglance.html'");
  fw_menu_0.addMenuItem("in the news","location='news.html'");
  fw_menu_0.addMenuItem("partners","location='partners.html'");
  fw_menu_0.addMenuItem("FAQs","location='faqs.html'");
   fw_menu_0.hideOnMouseOut=true;
  window.fw_menu_1 = new Menu("root",137,19,"Arial, Helvetica, sans-serif",12,"#ffffff","#ffffff","#9999ff","#000084");
  fw_menu_1.addMenuItem("products &amp; services","location='products.html'");
  fw_menu_1.addMenuItem("accounts &amp; pricing","location='pricing.html'");
  fw_menu_1.addMenuItem("security &amp; HIPAA","location='security.html'");
   fw_menu_1.hideOnMouseOut=true;
  window.fw_menu_2 = new Menu("root",82,19,"Arial, Helvetica, sans-serif",12,"#ffffff","#ffffff","#9999ff","#000084");
  fw_menu_2.addMenuItem("demo","location='demo.html'");
   fw_menu_2.hideOnMouseOut=true;
  window.fw_menu_3 = new Menu("root",82,19,"Arial, Helvetica, sans-serif",12,"#ffffff","#ffffff","#9999ff","#000084");
  fw_menu_3.addMenuItem("contact","location='contact.html'");
   fw_menu_3.hideOnMouseOut=true;
  window.fw_menu_4 = new Menu("root",82,19,"Arial, Helvetica, sans-serif",12,"#ffffff","#ffffff","#9999ff","#000084");
  fw_menu_4.addMenuItem("register","location='register.jsp'");
   fw_menu_4.hideOnMouseOut=true;
  window.fw_menu_5 = new Menu("root",82,19,"Arial, Helvetica, sans-serif",12,"#ffffff","#ffffff","#9999ff","#000084");
  fw_menu_5.addMenuItem("home","location='index.html'");
   fw_menu_5.hideOnMouseOut=true;


  fw_menu_3.writeMenus();
} // fwLoadMenus()


function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}


//-->
</script>
<SCRIPT LANGUAGE="JavaScript">
function Openflashtour()
	{
	thewindow = window.open("http://www.veloseresearch.com/eres/jsp/producttour.html", "anew", config="height=430,width=570,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,directories=no,status=no");
	}
</SCRIPT>


<script language="JavaScript1.2" src="fw_menu.js"></script>

<script language="JavaScript1.2">fwLoadMenus();</script>

<!--  LIBRARY JAVASCRIPT END -->


<SCRIPT LANGUAGE="JavaScript">
<!--
function OpenCertDetails()
	{
	thewindow = window.open("https://www.thawte.com/cgi/server/certdetails.exe?code=USVELO5", "anew", config="height=400,width=450,toolbar=no,menubar=no,scrollbars=yes,resizable=no,location=no,directories=no,status=yes");
	}
// -->
</SCRIPT>

   <table border="0" cellspacing="0" cellpadding="0" width="770">
	<!-- HEADER OBJECT START-->
	  <tr>
	  <td colspan="14"><a href="http://www.velos.com"><img src="./images/toplogo.jpg" width="770" height="60" alt="Velos eResearch" border="0"></a></td>
	  </tr>
 	  <tr>
	  	  <td align="right"><img src="./images/toplefcurve.gif" width="18" height="16"></td> 
          <td><img src="./images/vspacer.gif" width="201" height="16" border="0"></td> 
          <td><img src="./images/topmidcurve.gif" width="30" height="16" border="0"></td>
<!--          <td width="85" align="center" bgcolor="9999FF"><a href="index.html" onMouseOut="FW_startTimeout();"  onMouseOver="window.FW_showMenu(window.fw_menu_5,250,77);" ><img name="Home" src="./images/home.gif" height="16" border="0" alt="Home"></a></td> -->
          <td><img src="./images/sspacer.gif" width="521" height="16" border="0"></td>
<!--          <td><img src="./images/mspacer.gif" width="2" height="16" border="0"></td>
          <td width="85" align="center" bgcolor="9999FF"><a href="ataglance.html" onMouseOut="FW_startTimeout();"  onMouseOver="window.FW_showMenu(window.fw_menu_0,335,77);" ><img name="About" src="./images/about.gif" height="16" border="0" alt="About"></a></td>
          <td><img src="./images/mspacer.gif" width="2" height="16" border="0"></td>
          <td width="85" align="center" bgcolor="9999FF"><a href="products.html" onMouseOut="FW_startTimeout();"  onMouseOver="window.FW_showMenu(window.fw_menu_1,420,77);" ><img name="vpopmenu_r2_c3" src="./images/solutions.gif" height="16" border="0" alt="Solutions"></a></td>
          <td><img src="./images/mspacer.gif" width="2" height="16" border="0"></td>
          <td width="85" align="center" bgcolor="9999FF"><a href="demo.html" onMouseOut="FW_startTimeout();"  onMouseOver="window.FW_showMenu(window.fw_menu_2,515,77);" ><img name="vpopmenu_r2_c4" src="./images/demo.gif" height="16" border="0" alt="Demo"></a></td>
          <td><img src="./images/mspacer.gif" width="2" height="16" border="0"></td>
          <td width="85" align="center" bgcolor="9999FF"><a href="contact.html" onMouseOut="FW_startTimeout();"  onMouseOver="window.FW_showMenu(window.fw_menu_3,597,77);" ><img name="vpopmenu_r2_c6" src="./images/contact.gif" height="16" border="0" alt="Contact"></a></td>
          <td><img src="./images/mspacer.gif" width="2" height="16" border="0"></td>
          <td width="85" align="center" bgcolor="9999FF"><a href="register.jsp" onMouseOut="FW_startTimeout();"  onMouseOver="window.FW_showMenu(window.fw_menu_4,683,77);" ><img name="vpopmenu_r2_c7" src="./images/register.gif" height="16" border="0" alt="Register"></td>
-->
      </tr>
	 </table>
	 <!-- HEADER OBJECT END -->
	 <tr>
		<table width="770" height="400" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
	   		<tr>
		   	<!-- LIBRARY OBJECT START-->
	  	    <td width="1" bgcolor="9999ff"><img src="./images/sspacer.gif" width="1"></td>
		   	<!-- LIBRARY OBJECT END-->
			<td width="125" valign="top" background="./images/leftsidebg.gif">
				  <BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR>
				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="./images/loginsm.gif" width="68" height="45" border="0" alt="register">
			</td>
			<td valign="top">
              <FORM action=http://zframe.zeroton.com/servlet/LoginServlet method=post name=logon username="a" autocomplete="off">
			  <table width="650" cellpadding="0" cellspacing="10"  border="0">
		        <tr>
		   	 	  <td colspan="3"><img src="images/titlelogin.gif" width="92" height="20" border="0" alt="login"></td>
		  	    </tr>
				<tr>
					<td rowspan="6" width="50"></td>
				</tr>
				<tr>
					 <td colspan="2" align="center"><font size="3"><BR><b>Welcome to Velos eResearch Forms</b><BR><BR></font></td>
				</tr>
			    <tr>
			 	  <td>
				 	 <table width="550" border="0" cellspacing="0" cellpadding="0">
		  	 		 <tr><td valign="top" colspan="4" width="500" height="2" bgcolor="9999ff"><img src="./images/sspacer.gif"></tr></td>
		  	 		 <tr>
					 	 <td width="1" rowspan="5" bgcolor="9999ff"><img src="./images/sspacer.gif" width="1"></td>
				 		 <td></td>
				 		 <td></td>
						 <td width="1" rowspan="5" bgcolor="9999ff"><img src="./images/sspacer.gif" width="1"></td>
					 </tr>
			         <tr>
    	     	 	   <td><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User Name</td>
<!--                       <TD><INPUT maxLength=55 name="username" size=25> </TD> -->
          		 	   <td><BR><input type="text" name="username" size = 13 MAXLENGTH = 20></td>
					   <td width="275">
					   <i>&nbsp;&nbsp;&nbsp;Why am I being asked to relogin?</i>
					   <BR>&nbsp;&nbsp;&nbsp;To ensure the security and privacy of <br>&nbsp;&nbsp;&nbsp;your account we might require you to <br>&nbsp;&nbsp;&nbsp;relogin at certain points in the application.
					   </td>
      	  	 		 <tr> 
          	    	   <td><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Password</td>
          	    	   <td><BR><input type="password" name="password" size = 13 MAXLENGTH = 20></td> 
<!--                              	  <TD align=middle height=55 vAlign=bottom width=194><INPUT maxLength=55 name=password size=25 type=password> </TD> -->
      	  	 		 </tr>
      	  	 		 <tr>  
<!--          			 	<td align="center" colspan="2"> --> 
<!--	  	  			    <BR><input name=do.login type="submit" value=Login src="./images/loginbutton.gif" align="absmiddle"  border="0"><BR><BR> -->	
                              	  <TD colspan="2" align="middle"><BR><INPUT name=do.login type="image" src="./images/loginbutton.gif" onClick = "form.submit()"><BR><BR></TD> 
<!--          			 	</td> -->
      	  	 		 </tr>
		  	 		 <tr><td colspan="3" height="2" bgcolor="9999ff"><img src="./images/sspacer.gif"></td></tr> 
			 		 <tr>
			 	 	   <td colspan="3"><i>User name and password is case sensitive.</i></td>
			 		 </tr>
					 <tr>
			 	 	   <td colspan="3" valign="top">
					   <br><a href="http://zframe.zeroton.com/ForgetPassword.jsp"><font size="2">Forgot password?</font></a>
					   </td>
					 </tr>
			   		 </table>
				   </td>
			 </tr>
			 <tr>
				 <td align="right"><a href="http://www.zeroton.com"><img src="./images/szeroton.gif" width="95" height="30" border="0" alt="Zeroton"></a></td>
			 </tr>
	  </td>
	  </tr>
	  </table>
	  </form>
	  		   	   <!-- LIBRARY OBJECT START-->
	  	      <td width="1" bgcolor="9999ff"><img src="./images/sspacer.gif" width="1">				  
		      </td>
		   	   <!-- LIBRARY OBJECT END-->

	</tr>	 
    </table>
	  <!-- FOOTER OBJECT START-->
	   <table width="770" cellspacing="0" cellpadding="0" border="0">
	   		  <tr>
			  	  <td rowspan="2"><img src="images/copyright.gif" width="307" height="32" border="0" alt="Velos copyright"></td>
          		  <td bgcolor="#FFFFFF"><img src="./images/spacer.gif" width="308" height="16" border="0"></td>
	  	  		  <td align="right"><img src="./images/botrigcurve.gif" width="18" height="16"></td> 
			  </tr>

		<tr>
          <td colspan="2" bgcolor="9999ff"><img src="./images/sspacer.gif" width="462" height="16" border="0"></td>
<!--		  <td><a href="termsofservice.html"><img name="Terms of service" src="./images/termsofservice.gif" width="150" height="16" border="0" alt="Terms of Service"></a></td>
          <td bgcolor="9999ff"><img src="./images/sspacer.gif" width="1" height="16" border="0"></td>
          <td><img src="./images/mspacer.gif" width="2" height="16" border="0"></td>
          <td><a href="privacypolicy.html"><img name="Privacy policy" src="./images/privacypolicy.gif" width="150" height="16" border="0" alt="Privacy policy"></a></td>
          <td><img src="./images/mspacer.gif" width="2" height="16" border="0"></td>
          <td><a href="sitemap.html"><img name="Site map" src="./images/sitemap.gif" width="150" height="16" border="0" alt="Sitemap"></a></td>
-->		  
		</tr>
	   </table>
	   <table width="770" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td colspan="7"><img src="./images/botbar.gif" width="770" height="8" border="0"></td>
        </tr>
	   </table>
	 <!-- FOOTER OBJECT END-->

	

</body>
</html>

