/*body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
	font-family: Arial,Helvetica,sans-serif;
}*/
#dnrsrnpopup ul,#dnrsrnpopup ol,#dnrsrnpopup h1,#dnrsrnpopup h2,#dnrsrnpopup h3,#dnrsrnpopup h4,#dnrsrnpopup h5,#dnrsrnpopup h6,#dnrsrnpopup pre,#dnrsrnpopup form,#dnrsrnpopup fieldset,#dnrsrnpopup input,#dnrsrnpopup textarea,#dnrsrnpopup p,#dnrsrnpopup blockquote,#dnrsrnpopup th,#dnrsrnpopup td{
	margin: 0;
	padding: 0;
}

#dnrsrnpopup table {
	border-collapse: collapse;
	border-spacing: 0;
}

#dnrsrnpopup fieldset,img {
	border: 0;
}

#dnrsrnpopup address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

#dnrsrnpopup ol,#dnrsrnpopup ul {
	list-style: none;
}

/*caption,th {
	text-align: left;
}
*/
#dnrsrnpopup h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,q:after {
	content: '';
}

abbr,acronym {
	border: 0;
}

/*CSS Added For Cross index Search*/
#dnrsrnpopup #facetUL li ul {
	position: absolute;
	left: 100%;
	display: inline;
	background-color: #FFFFFF;
	border: 1px solid #F6F6F6;
	text-align: left;
	line-height: 1.4em;
	top: 0px;
	z-index: 1;
}

#dnrsrnpopup #facetUL,#dnrsrnpopup #indexUL{
	min-width: 12em;
	width: 96%;
	position: relative;
}

#dnrsrnpopup #facetUL > li {
	display: block;
	padding: 0px 5px;
	border: 1px solid #CCCCCC;
	color: #222222;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	background: #F6F6F6 url(../images/right_arrow.png) no-repeat right;
	line-height: 28px;
	text-align: left;
	position: relative;
	font-size: 12px;
}

#dnrsrnpopup .facetContent {
	vertical-align: top;
}

#dnrsrnpopup #indexUL li {
	background-color: #F6F6F6;
	line-height: 28px;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	display: block;
	padding-left: 5px;
	border: 1px solid #CCCCCC;
	color: #222222;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}

#dnrsrnpopup #indexUL li span {
	font-weight: normal;
}

#dnrsrnpopup .facetfilter {
	border-bottom: 1px solid #5690B6;
}

#dnrsrnpopup #resultTable tr:nth-child(even) {
	background-color: #EEEEEE;
}

#dnrsrnpopup #resultTable tr:nth-child(odd) {
	background-color: #FFFFFF;
}

#dnrsrnpopup #resultTable tr {
	height: 60px;
}

#dnrsrnpopup .viewRecbutton {
	border: 1px solid #5690B6;
	height: 30px;
	cursor: pointer;
	white-space: nowrap;
	background-color: #5690B6;
	color: #FFFFFF;
}

#dnrsrnpopup #resultTable tr td {
	padding-left: 5px;
}

#dnrsrnpopup #displayRecHeader {
	border: 1px solid #CCCCCC;
	background-color: #CCCCCC;
	padding: 5px;
}

#dnrsrnpopup #paginator {
	text-align: left;
	width: 450px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#dnrsrnpopup #pagerLayout {
	text-align: center;
	border: 1px solid #CCCCCC;
	background-color: #CCCCCC;
	padding: 5px;
	margin-bottom: 5px;
}

#dnrsrnpopup #pagerLayout select{
	float: left;	
}

#dnrsrnpopup #resultContentDiv {
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	font-size: 12px;
}

#dnrsrnpopup #currentSelc {
	border: 1px solid #CCCCCC;
	background-color: #EEEEEE;
	border-bottom: none;
	padding: 8px;
}

#dnrsrnpopup #currSelcUL li a {
	background-color: #A1D0EF;
	border: 2px solid #5690B6;
	color: #000000;
	cursor: pointer;
	display: inline-block;
	margin: 4px;
	padding: 4px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
}

#dnrsrnpopup #currSelcUL li {
	display: inline-block;
}

#dnrsrnpopup #crossIndexDiv div#search-box {
	background-color: #F2F9FF;
	border: 1px solid #A6C9E2;
}

#dnrsrnpopup div#search-box #query {
	background-color: #F2F9FF;
}

#dnrsrnpopup #currentSelc span#selcHeader {
	float: left;
	padding-top: 8px;
}

#dnrsrnpopup #crossIndexDiv #topsearchResult {
	border: 1px solid #A6C9E2;
}

#dnrsrnpopup #facetUL li ul li {
	padding: 5px;
}

#dnrsrnpopup #facetUL li ul li:hover {
	background-color: #a1d0ef;
}

#dnrsrnpopup #facetUL li ul.alphabetFilterUL {
	width: 460px;
}

#dnrsrnpopup .freeSearchScroll {
	background-color: #FFFFFF;
	max-height: 300px;
	min-width: 409px;
	overflow-x: hidden;
	overflow-y: auto;
}

/*CSS Added For Cross Index Pagination*/
#dnrsrnpopup .light-theme {
	display: block;
	overflow: hidden;
	padding: 2px 5px 5px 0;
}

#dnrsrnpopup .light-theme a,#dnrsrnpopup .light-theme span {
	text-decoration: none;
	float: left;
	color: #666;
	font-size: 12px;
	line-height: 24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #BBB;
	min-width: 14px;
	padding: 0 7px;
	margin: 0 5px 0 0;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #efefef) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #efefef 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #efefef 100%);
	/* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #efefef 100%);
	/* IE10+ */
	background: linear-gradient(top, #ffffff 0%, #efefef 100%); /* W3C */
}

#dnrsrnpopup .light-theme a:hover {
	text-decoration: none;
	background: #FCFCFC;
}

#dnrsrnpopup .light-theme .current {
	background: #666;
	color: #FFF;
	border-color: #444;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 1), 0 0 2px rgba(0, 0, 0, 0.3)
		inset;
	cursor: default;
}

#dnrsrnpopup .light-theme .ellipse {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	font-weight: bold;
	cursor: default;
}

#dnrsrnpopup .facet_paginator a,.facet_paginator span {
	float: none;
	padding-bottom: 4px;
	padding-top: 4px;
}

#dnrsrnpopup #crossIndexDiv div#filterDateDiv table tr,#dnrsrnpopup #crossIndexDiv div#filterNumberDiv table tr{
	line-height: 30px;
}

#dnrsrnpopup #crossIndexDiv div#filterNumberDiv {
	background: #FFFFFF;
	min-width: 355px;
	height: 160px;
	padding-top: 5px;
}

#dnrsrnpopup #crossIndexDiv div#filterDateDiv {
	background: #FFFFFF;
	height: 110px;
    min-width: 200px;
    padding-left: 8px;
    padding-top: 8px;
}

#dnrsrnpopup #crossIndexDiv div#filterNumberDiv div {
	padding-left: 75px;
	padding-top: 5px;
}

#dnrsrnpopup #crossIndexDiv div#filterDateDiv div {
	padding-left: 10px;
	padding-top: 10px;
}


#dnrsrnpopup #crossIndexOptions a{
	text-decoration: underline;
	color: #222222;
}

#dnrsrnpopup .pageSelcTable{
	line-height: 1.8em;
}

#dnrsrnpopup #tableErrorMsg{
	color: red;
    font-size: 12px;
    font-weight: bold;
    padding-right: 83%;
}

#dnrsrnpopup #errorMsgDiv{
	border: 1px solid #A6D5FF;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-top: 30px;
}

#dnrsrnpopup .searchValues{
	vertical-align: top;	
}

#dnrsrnpopup #facetUL li ul label{
	font-weight: normal;
}

#dnrsrnpopup .lineClear{
    height: 0px;
}

#dnrsrnpopup .menuFilterContentSettings{
	background-color: #FFFFFF;
}

#dnrsrnpopup .alpha-nav{
	border: 1px solid #CCCCCC;
    height: 25px;
    padding-top: 5px;
}

#dnrsrnpopup .rangeTxtbox{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	height: 25px;
	width: 100px;
	font-size: 1em;
	background-color: #FFFFFF;
	border: 1px solid #333333;
}

#dnrsrnpopup #radioButtDiv{
	border-bottom: 1px solid #333333;
    padding-bottom: 2px;
}

#dnrsrnpopup #radioButtDiv #resultcount{
	float: right;
}

#dnrsrnpopup #resultcount{
	font-weight: normal;
}
/*CSS Added For Single Index view*/
/*#dnrsrnpopup #selctedIndexbutton {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background-color: #5B99C2;
	border: 1px solid #4297D7;
	color: #FFFFFF;
	display: inline-block;
	font-size: 14px;
	padding: 4px;
	cursor: pointer;
}*/

#dnrsrnpopup #menuFilterData{
	background-color: #FFFFFF;
}

#dnrsrnpopup #dropFieldForChart{
    margin-left: 30px;
}

#dnrsrnpopup #chartFacetnameDiv{
	height: 518px;
	overflow-y: auto;
	width: 300px;
}

#dnrsrnpopup #chartUL > li{
 float: left;
 list-style: none;
 cursor: pointer;
}

#dnrsrnpopup #chartUL{
	float: right;
}
 
#dnrsrnpopup #chartUL .chartli{
	background-color: #DBEEFF;
	border: 1px solid #A6C9E2;
	padding: 5px;
	cursor: pointer;
}

#dnrsrnpopup #chartUL .chartliLeft{
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	
	-moz-border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-khtml-border-bottom-left-radius: 5px;
}

#dnrsrnpopup #chartUL .chartliRight{
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-khtml-border-top-right-radius: 5px;
	
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-khtml-border-bottom-right-radius: 5px;
}