/* for clickMenu style*/


.clickMenu
{
	margin: 0;
	padding: 0;
	cursor: default;
}
.clickMenu, .clickMenu ul
{
	list-style: none;
}
.clickMenu ul
{
	margin: 0;
	padding: 2px;
	border: 1px solid #A6C9E2;
	height:200px;
	overflow-y:auto;
	background-color: #EEEEEE;
	min-width: 200px; /* ie doesnt know this :/ */
	/*float: left;/*ie again*/
	/*width: 100%;/*and again*/
}
.clickMenu div.outerbox
{
	display: none;
	min-width: 106px; /* firefox produces animation-flickering when the box is bigger than this :/ */
}
.clickMenu div.inner
{
	/*top: 20px; /* for ie */
	left: 0;
	margin: 0;
}
.clickMenu div.inner div.outerbox
{
	margin: 0;
	left: 98px;
	/*left: 90px; /* for ie */
	top: -3px;
}
.clickMenu li
{
	position: relative;
	padding: 0 20px 0 20px;
	text-align: left;
	/*white-space: nowrap; does not really work in ie */
}
.clickMenu li.main
{
	float: left;
	padding: 0 4px;
}
.clickMenu li.main li
{
	z-index: 2;
	min-width: 78px;
}
.clickMenu li.hover
{
	z-index: 1 ; /* the hover z-index has to be below the normal one the hovering items may be drawn over a submenu */
	background-color: #a1d0ef;
}
.clickMenu img.liArrow
{
	position: absolute;
	right: 5px;
	top: 0.41em;
}
.clickMenu a
{
	text-decoration: none;
	color: black;
	cursor: default;
}
/* thats for the shadowbox */
div.outerbox
{
	padding: 0 5px 5px 0;
}
div.shadowbox1
{
	position: absolute;
	right: 0;
	bottom: 5px;
	width: 5px;
	height: 100%;
	background:  no-repeat right top;
}
div.shadowbox2
{
	position: absolute;
	bottom: 0;
	right: 5px;
	height: 5px;
	width: 100%;
	background:  left bottom;
}
div.shadowbox3
{
	position: absolute;
	bottom: 0;
	right: 0;
	height: 5px;
	width: 5px;
	background:  no-repeat right bottom;
}
.innerbox
{
	margin: 0;
	display: inherit;
}
 
 
 
 
 
 
 
 /* Including the style.css  starts here*/
 .minwidth110 {
	min-width: 100%;
}

#dnrsrnpopup #nav,#dnrsrnpopup #nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-position: outside;
	position: relative;
	line-height: 1.5em;
	width: 14%;
	/* top: 57px; */
	/*font-size:0.95em;
font-family:Verdana, Arial, Helvetica, sans-serif;*/
}

#dnrsrnpopup #nav a {
	display: block;
	padding: 0px 5px;
	border: 1px solid #dfdfdf;
	color: #333;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	background: #F5F5F5 url(../images/right_arrow.png) no-repeat right;
	min-height: 26px;
	text-align: justify;
}

#dnrsrnpopup #menuScrollup {
	display: block;
	padding: 0px 5px;
	border: 1px solid #dfdfdf;
	color: #333;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	background: #F5F5F5 url(../images/menuScroll_Uparrow.png) no-repeat
		center;
	min-height: 26px;
	text-align: justify;
	width: 12em;
	height: 16px;
}

#dnrsrnpopup #menuScrolldown {
	display: block;
	padding: 0px 5px;
	border: 1px solid #dfdfdf;
	color: #333;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	background: #F5F5F5 url(../images/menuScroll_Downarrow.png) no-repeat
		center;
	min-height: 26px;
	text-align: justify;
	width: 12em;
	height: 16px;
}

#dnrsrnpopup .menushrink {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 105px;
	background-image: url('../images/menu_minus.png');
	filter: alpha(opacity = 30);
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity = 30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}

#dnrsrnpopup .menuexpand {
	width: 16px;
	height: 16px;
	top: 105px;
	position: absolute;
	background-image: url('../images/menu_plus.png');
	filter: alpha(opacity = 30);
	cursor: pointer;
	cursor: hand;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity = 30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}

#dnrsrnpopup #menuShrinkButton:hover { /* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	/* IE 5-7 */
	filter: alpha(opacity = 100);
	/* Netscape */
	-moz-opacity: 1.0;
	/* Safari 1.x */
	-khtml-opacity: 1.0;
	/* Good browsers */
	opacity: 1.0;
}

#dnrsrnpopup .menuInfo {
	height: auto;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #5690b6;
	font-weight: bold;
	font-size: 14px;
	padding: 20px;
	text-align: center;
	width: 200px;
}

#dnrsrnpopup #tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #4297D7;
	background-color: #FFFFFF;
	padding: 2px;
}

#dnrsrnpopup #tooltip h3,#tooltip div {
	color: #222222;
	font-size: 18px;
	margin: 0;
}

#dnrsrnpopup #nav a:hover {
	background-color: #a1d0ef;
	color: #333;
}

#dnrsrnpopup #nav li {
	float: left;
	position: relative;
}

#dnrsrnpopup #nav ul {
	position: absolute;
	display: none;
	width: 12em;
	top: 1.5em;
}

#dnrsrnpopup #nav li ul a {
	width: 12em;
	height: auto;
	float: left;
}

#dnrsrnpopup #nav ul ul {
	width: 12em;
	top: auto;
}

#dnrsrnpopup #nav li ul ul {
	left: 12em;
	margin: 0px 0 0 10px;
	z-index: 1;
}

#dnrsrnpopup #nav li:hover ul ul,#nav li:hover ul ul ul,#nav li:hover ul ul ul ul {
	display: none;
}

#dnrsrnpopup #nav li:hover ul,#nav li li:hover ul,#nav li li li:hover ul,#nav li li li li:hover ul
	{
	display: block;
}

#dnrsrnpopup #nav li ul li ul div li a {
	background-image: none;
	background-color: #FFFFFF;
	border: none;
	width: 400px;
}

#dnrsrnpopup #nav li ul {
	position: absolute;
	left: 100%;
	top: 0px;
}

#dnrsrnpopup #nav li ul li ul div {
	
}

#dnrsrnpopup #List {
	cursor: pointer
}

#dnrsrnpopup .ulContentDiv {
	border-top: 1px solid #5690b6;
	border-right: 1px solid #5690b6;
	border-bottom: 1px solid #5690b6;
	border-left: 1px solid #5690b6;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	min-width: 424px;
	background-color: #FFFFFF;
}

#dnrsrnpopup .menuFilterulContentDiv {
	border: 1px solid #CCCCCC;
	max-height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
	min-width: 470px;
	background-color: #FFFFFF;
}

#dnrsrnpopup .menufacet li {
	min-width: 12em;
}

#dnrsrnpopup li.advon {
	background: url(../images/tick.png) 0 50%;
}

#dnrsrnpopup li.advoff {
	background: url(../images/cross.png) 0 50%;
}

#dnrsrnpopup #docs {
	list-style: none;
	background-color: #eee;
}

#dnrsrnpopup #docs li {
	background-repeat: no-repeat;
}

#thSelectColumn {
	background-color: #5690B6;
	font-weight: bold;
	padding-right: 2px;
	width: 10px;
/*	border-right-color: #FFFFFF;*/
}

#dnrsrnpopup #ulSelectColumn {
	vertical-align: middle;
}

#dnrsrnpopup .filterText {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	height: 25px;
	padding: 4px 0 1px 5px;
	width: 203px;
	font-size: 1.2em;
	background-color: #FFFFFF;
	border: 1px solid #A6C9E2;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}

#dnrsrnpopup .filterSpan {
	border: 2px solid #d1d1d1;
	height: 22px;
	padding-top: 5px;
}

#dnrsrnpopup .filterSpan img {
	cursor: pointer;
}

#dnrsrnpopup #nav li ul li ul div#filterDiv {
	background: #FFFFFF;
	height: 74px;
	border: none;
}

#dnrsrnpopup #singleIndexDiv ul.groupUL li ul div#filterDateDiv {
	background: #FFFFFF;
	width: 200px;
	height: 100px;
	border-top: 1px solid #5690B6;
	border-right: 1px solid #5690B6;
	border-bottom: 1px solid #5690B6;
	border-left: 1px solid #5690B6;
	padding: 5px;
}

#dnrsrnpopup #singleIndexDiv ul.groupUL li ul div#filterDateDiv div {
	padding-top: 8px;
	padding-left: 26px;
}

#dnrsrnpopup #singleIndexDiv ul.groupUL li ul div#filterDateDiv table tr,#singleIndexDiv ul.groupUL li ul div#filterNumberDiv table tr
	{
	line-height: 30px;
}

#dnrsrnpopup .filterSection {
	border: 1px solid #5690B6;
	border-bottom: none;
	max-height: 400px;
	min-width: 424px;
}

#dnrsrnpopup .ulDateContentDiv {
	min-width: 200px;
}

#dnrsrnpopup button{
	padding:5px 8px;
	margin-right:4px;
	list-style:none;	
	text-align:center;
	border-radius:4px;
	background:#2787c5;
	border:1px solid #1973ad;
	color:#fff;
	text-decoration:none;
}

/*Added For Dialog Window*/
#dnrsrnpopup #loginDiv {
	width: 100%;
	height: 100%;
}

#dnrsrnpopup #loginDiv img {
	margin-left: 10px;
	margin-top: 10px;
}

#dnrsrnpopup #loginDiv #popUpDiv {
	padding-top: 7%;
	padding-left: 10%;
	padding-right: 10%;
}

#dnrsrnpopup #loginDiv #dialogContent {
	border: 1px solid;
}

#dnrsrnpopup #loginDiv #loginTable {
	width: 100%;
}

#dnrsrnpopup #loginDiv span {
	font-size: 30px;
}

#dnrsrnpopup #loginDiv #loginTabl td {
	width: 50%;
}

#dnrsrnpopup #loginTable {
	background-color: #DCDCDC;
}

#dnrsrnpopup #loginTable input {
	height: 20px;
	border: 2px solid #5690B6;
}

#dnrsrnpopup #loginButton {
	border: 1px solid #A9A9A9;
	cursor: pointer;
}

#dnrsrnpopup .ui-dialog-title {
	float: none !important;
	display: block;
	text-align: center;
}

#dnrsrnpopup #printDialog button#print {
	background: #F5F5F5 url(../images/print.png) no-repeat right;
	border: 2px solid #D1D1D1;
	cursor: pointer;
}

#dnrsrnpopup #exportDialog button#print {
	background: #F5F5F5 url(../images/export.png) no-repeat right;
	border: 2px solid #D1D1D1;
	cursor: pointer;
}

#dnrsrnpopup #printDialog button#cancel,#exportDialog button#cancel {
	background: #F5F5F5 url(../images/fclose.png) no-repeat right;
	border: 2px solid #D1D1D1;
	cursor: pointer;
}

#dnrsrnpopup #loginTable th {
	background-color: #A9A9A9;
	font-size: 25px;
	height: 40px;
}

#dnrsrnpopup .divMessages {
	text-align: center;
}

#dnrsrnpopup #List {
	cursor: pointer
}

#dnrsrnpopup #menu a {
	cursor: pointer;
	text-decoration: underline;
}

#dnrsrnpopup #singleIndexDiv ul.groupUL li ul div#filterNumberDiv {
	background: #FFFFFF;
	min-width: 355px;
	height: 160px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	padding-top: 5px;
	border: 1px solid #5690B6;
}

#dnrsrnpopup #singleIndexDiv ul.groupUL li ul div#filterNumberDiv div {
	padding-left: 75px;
	padding-top: 5px;
}

#dnrsrnpopup .ulContentDiv label,.ulDateContentDiv label {
	cursor: pointer;
}

#dnrsrnpopup #nav li ul li ul div#filterAgeDiv {
	background: #FFFFFF;
	height: 110px;
	border: none;
	padding-top: 5px;
}

#dnrsrnpopup #nav li ul li ul div#filterAgeDiv div {
	padding-left: 38px;
	padding-top: 8px;
}

#dnrsrnpopup img #go,#search,#close,#print,#cancel {
	cursor: pointer;
}

#dnrsrnpopup #welcome_div a {
	font-size: 16px;
	color: black;
	text-decoration: none;
}

#dnrsrnpopup #welcome_div a:hover {
	text-decoration: underline;
}

#dnrsrnpopup table.printTable {
	font-size: 14px;
	background-color: #f8f8f8;
}

#dnrsrnpopup table.printTable tr.odd {
	background-color: #efefef;
}

#dnrsrnpopup table.printTable td {
	text-align: right;
}

#dnrsrnpopup table.printTable td {
	padding: 5px;
}

#dnrsrnpopup #printDialog label,input[type=radio],#exportDialog label {
	cursor: pointer;
}

#dnrsrnpopup #menuFilterContent {
	background-color: #F0F0F0;
	margin-bottom: 20px;
}

#dnrsrnpopup #nav li ul div.alpha-nav>a {
	background: none;
	float: left;
	height: auto;
	width: auto;
	font-weight: normal;
	padding: 0px;
	text-decoration: underline;
	border: none;
	padding-left: 5px;
	font-size: 14px;
}

#dnrsrnpopup #menuFilterContent div.pagination .clickedbtn {
	background-color: #5690B6;
	color: #FFFFFF;
	font-weight: bold;
}

#dnrsrnpopup #menuFilterContent div.pagination span {
	background: none;
	height: auto;
	width: auto;
	font-size: 14px;
}

#dnrsrnpopup #menuFilterContent div.pagination button {
	background: none;
	background-color: #F6F6F6;
	height: auto;
	width: auto;
	padding: 0px 5px 0px 5px;
	border: 1px solid #C8BBBE;
	padding-left: 5px;
	font-size: 14px;
	font-weight: normal;
	margin-right: 4px;
	cursor: pointer;
	/*     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
 */
}

#dnrsrnpopup #menuFilterContent div.pagination button:hover {
	background-color: #a1d0ef;
	color: #333;
}

#dnrsrnpopup .cleaner {
	clear: both;
	width: 100%;
	height: 0px;
	font-size: 0px;
}

#dnrsrnpopup #menuFiltertxt {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	height: 25px;
	margin-bottom: 5px;
	padding: 4px 0 1px 5px;
	width: 203px;
	font-size: 1.2em;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	margin: 10px;
}

#dnrsrnpopup #topsearchResult {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFFFFF;
	border: 1px solid #A6C9E2;
	height: 300px;
	left: 52%;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 110px;
	width: 48%;
	z-index: 1000;
}

#dnrsrnpopup #topsearchResult li {
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
}

#dnrsrnpopup #topsearchResult ul {
	margin: 5px;
}

#dnrsrnpopup #topsearchResult li:hover {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background-color: #a1d0ef;
}

#dnrsrnpopup .topsearchResultkb {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background-color: #a1d0ef;
}

#dnrsrnpopup .menuhighlight {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background-color: #5690B6;
}

#dnrsrnpopup #listPopUp {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFFFFF;
	border: 1px solid #AAAAAA;
	position: absolute;
	z-index: 1;
	background-color: #FFFFFF;
	min-width: 200px;
	text-align: left;
	padding: 2px;
	right: 0px;
}

#dnrsrnpopup #listPopUp li {
	padding: 10px;
	font-size: 16px;
}

#dnrsrnpopup #listPopUp li img {
	float: right;
	cursor: pointer;
}

#dnrsrnpopup #listPopUp li a {
	text-decoration: none;
	font-size: 18px;
	cursor: pointer;
	color: #333333;
}

#dnrsrnpopup #listPopUp li a:hover {
	text-decoration: underline;
}

#dnrsrnpopup #result_status {
	font-size: 14px;
	font-weight: bold;
	color: red;
}

#dnrsrnpopup .ui-datepicker {
	z-index: 1;
}

#dnrsrnpopup #docs a {
	text-decoration: none;
	color: blue;
	cursor: pointer;
}

#dnrsrnpopup #docs a:hover {
	text-decoration: underline;
}

#dnrsrnpopup button.selection {
	border: none;
	background: transparent;
	font-size: 16px;
	font-weight: bold;
	font-family: Arial,Helvetica,sans-serif;
	padding: 0px;
}

#dnrsrnpopup .ulContentDiv li,.menuFilterulContentDiv li {
	padding: 5px;
}

#dnrsrnpopup .ulContentDiv li:hover {
	background-color: #a1d0ef;
	color: #333333;
}

#dnrsrnpopup #nav li .ulContentDiv li {
	float: none;
}

#dnrsrnpopup li.filterSection:hover {
	background-color: #FFFFFF;
}

#dnrsrnpopup .alpha-nav button {
	border: none;
	background: transparent;
	float: left;
	margin-left: -6px;
	margin-right: -5px;
	cursor: pointer;
	padding: 6px 6px;
}

#dnrsrnpopup .linklikeDiv {
	text-decoration: underline;
	font-size: 14px;
	color: #000000;
	cursor: pointer;
	font-family: Arial,Helvetica,sans-serif;
}

#dnrsrnpopup #nav li .menuFilterulContentDiv li {
	float: none;
}

#dnrsrnpopup #nav li ol li:hover {
	background: none;
}

#dnrsrnpopup .menuFilterulContentDiv li:hover {
	background-color: #a1d0ef;
	color: #333333;
}

#dnrsrnpopup .showallORreset {
	background-color: #FDEBAC;
	border: 1px solid #DB9A44;
	cursor: pointer;
}

#dnrsrnpopup img#search,img#close {
	padding-bottom: 8px;
	vertical-align: middle;
}

#dnrsrnpopup table#docs td:first-child {
	text-align: right;
}

#dnrsrnpopup .savedSearchTable {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	line-height: 2em;
	font-size: 14px;
}

#dnrsrnpopup .savedSearchTable th {
	font-weight: bold;
	border: 1px solid #A6C9E2;
	padding-left: 4px;
}

#dnrsrnpopup .savedSearchTable td {
	border: 1px solid #A6C9E2;
	padding-left: 4px;
}

#dnrsrnpopup .ui-dialog .ui-dialog-buttonpane button {
	background: none repeat-x scroll 50% 50% #5690B6;
	color: #FFFFFF;
	border: 1px solid #5690B6;
}

#dnrsrnpopup .centerAlign {
	padding-left: 0px;
	text-align: center;
}

#dnrsrnpopup #suggDiv span {
	font-size: 20px;
	font-weight: bold;
}

#dnrsrnpopup #suggDiv .NoRecordMsg {
	font-size: 20px;
	font-weight: bold;
	color: red;
}

#dnrsrnpopup #suggLinks a {
	font-size: 20px;
	font-style: italic;
}

#dnrsrnpopup #suggLinks {
	float: right;
}

#dnrsrnpopup .questionMark {
	font-size: 20px;
	color: blue;
	float: right;
}

#dnrsrnpopup .verticalPosition {
	vertical-align: middle;
}

#dnrsrnpopup #compareDocTableDialog table tr td:first-child {
	font-weight: bold;
}

#dnrsrnpopup #compareDocTableDialog table {
	border-collapse: collapse;
	line-height: 2em;
	width: 100%;
}

#dnrsrnpopup #compareDocTableDialog table tr:nth-child(odd) {
	background-color: #E6F3FF;
}

#dnrsrnpopup #compareDocTableDialog table tr:nth-child(even) {
	background-color: #FFFFFF;
}

#dnrsrnpopup #compareDocTableDialog table td,#compareDocTableDialog table th {
	padding-left: 5px;
	border: 1px solid #A6C9E2;
}

#dnrsrnpopup #compareDocTableDialog table tr:first-child td {
	font-weight: bold;
	text-align: center;
	padding-left: 0px;
}

#dnrsrnpopup #compareDocTableDialog button {
	background-color: #5B99C2;
	border: 1px solid #4297D7;
	display: inline-block;
	padding: 4px;
	margin: 4px;
	text-align: center;
	vertical-align: middle;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	color: #FFFFFF;
	white-space: nowrap;
}

#dnrsrnpopup#compareDocTableDialog button:hover {
	color: #333333;
}

#dnrsrnpopup #saveSearchName {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	height: 25px;
	padding: 4px 0 1px 5px;
	width: 300px;
	font-size: 1.2em;
	background-color: #FFFFFF;
	border: 1px solid #D1D1D1;
}

#dnrsrnpopup .saveNameTable textarea {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	width: 300px;
	font-size: 1.2em;
	background-color: #FFFFFF;
	border: 1px solid #D1D1D1;
}

#dnrsrnpopup .saveNameTable tr {
	line-height: 4em;
}

#dnrsrnpopup .saveNameTable {
	width: 100%;
	font-size: 14px;
}

#dnrsrnpopup .saveNameTable tr td:first-child {
	text-align: right;
	font-weight: bold;
	padding-right: 2px;
}
/*CSS for pivot table Start*/
#dnrsrnpopup .pivotmenuTable {
	width: 100%;
}

#dnrsrnpopup .pivotmenuTable tr td {
	padding-left: 5px;
}

#dnrsrnpopup .pivotmenuTable label {
	cursor: pointer;
}

#dnrsrnpopup #pivotFacetnameDiv{
	height: 300px;
	overflow-y: auto;
	width: 300px;
}

#dnrsrnpopup .pivotTable {
	width: 100%;
}

#dnrsrnpopup .pivotTable tr td {
	padding-left: 5px;
	border: 1px solid #A6C9E2;
	font-weight: bold;
}

#dnrsrnpopup #pivotFacetnameDiv,#dnrsrnpopup  #chartFacetnameDiv {
	border: 1px solid #A6C9E2;
}

#dnrsrnpopup table.pivot {
	border-collapse: collapse;
	border: solid 1px #A6C9E2;
	text-align: right;
	width: 100%;
}

#dnrsrnpopup table.pivot th,table.pivot td {
	padding: 5px;
}

#dnrsrnpopup table.pivot tr.head {
	font-weight: bold;
	text-align: center;
}

#dnrsrnpopup table.pivot .total {
	background-color: #DBEEFF;
	white-space: nowrap;
}

#dnrsrnpopup table.pivot tr.total th {
	text-align: left;
}

#dnrsrnpopup table.pivot tr.total td,table.pivot tr.total th {
	border-top: solid 1px #A6C9E2;
}

#dnrsrnpopup table.pivot td.total {
	border-left: solid 1px black;
}

#dnrsrnpopup table.pivot tr.head th.groupby {
	background-color: #DBEEFF;
	font-weight: bold;
}

#dnrsrnpopup table.pivot tr.head th.pivotcol {
	background-color: #DBEEFF;
	border: 1px solid #A6C9E2;
}

#dnrsrnpopup table.pivot th.groupby {
	text-align: left;
	font-weight: normal;
	border: 1px solid #A6C9E2;
}

#dnrsrnpopup table.pivot tr.head th.total {
	border: 1px solid #A6C9E2;
}

#dnrsrnpopup table.pivot td {
	border: 1px solid #A6C9E2;
}

#dnrsrnpopup table.pivot .pivotFirstrow {
	background-color: #DBEEFF;
	text-align: left;
	font-weight: bold;
}

#dnrsrnpopup .pivotmenuli, .chartmenuli {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-khtml-border-radius: 5px;
	background-color: #DBEEFF;
	border: 1px solid #A6C9E2;
	line-height: 1.2em;
	margin: 5px;
	padding: 5px;
	cursor: pointer;
}

#dnrsrnpopup .pivotdropmenu, .chartdropmenu {
	border: 1px solid #4297D7;
	width: 300px;
	min-height: 50px;
	margin-top: 5px;
	height: auto;
}

#dnrsrnpopup .pivotmenuliSelected, .chartmenuliSelected {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-khtml-border-radius: 5px;
	background-color: #5B99C2;
	border: 1px solid #4297D7;
	line-height: 1.2em;
	margin: 5px;
	padding: 5px;
}

#dnrsrnpopup #solrpivotDiv {
	max-width: 1200px;
	text-align: center;
	/*max-width: 630px;*/
	overflow: auto;
	max-height: 450px;
	overflow: auto
}

#dnrsrnpopup .solrpivotDiv {
	width: 100%;
}

#dnrsrnpopup .draganddropText {
	margin-left: 50px;
	margin-top: 15px;
}

#dnrsrnpopup .pivotPrintTable th,.pivotPrintTable .total {
	font-weight: bold;
}

#dnrsrnpopup  .pivotPrintTable .resultcell {
	text-align: right;
	padding: 5px;
}

#dnrsrnpopup .pivotPrintTable .pivotFirstrow {
	font-weight: bold;
	text-align: left;
}
/*CSS for pivot table End*/
#dnrsrnpopup #singleIndexDiv {
	width: 22%;
}

#dnrsrnpopup #singleIndexDiv ul.groupUL {
	width: 100%;
	font-size: 16px;
}

#dnrsrnpopup #singleIndexDiv ul.groupUL li ul {
	left: 100%;
	position: absolute;
	line-height: 1.4em;
	text-align: left;
}

#dnrsrnpopup #singleIndexDiv  ul.groupUL>li {
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topright: 5px;
	background: url("../images/right_arrow.png") no-repeat scroll right
		center #F0F0F0;
	border: 1px solid #EEEEEE;
	color: #222222;
	cursor: pointer;
	display: block;
	line-height: 28px;
	padding-left: 5px;
	text-align: left;
	text-decoration: none;
	position: relative;
}

#dnrsrnpopup #singleIndexDiv  ul.groupUL>li a {
	font-weight: bold;
}

#dnrsrnpopup #singleIndexDiv ul.groupUL li ul {
	background-color: #FFFFFF;
}

#dnrsrnpopup #singleIndexDiv ul.groupUL li a {
	text-decoration: none;
}

#dnrsrnpopup #singleIndexDiv .ui-accordion-content,#indexAccordionDiv .ui-accordion-content
	{
	overflow: visible;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	height: auto;
}

#dnrsrnpopup .ui-accordion .ui-accordion-header .ui-icon {
	left: 0px;
}

#dnrsrnpopup #singleIndexDiv h3.ui-accordion-header,#indexAccordionDiv h3.ui-accordion-header
	{
	padding: 5px;
	color: #222222;
}

#dnrsrnpopup #singleIndexDiv h3.ui-state-default,#indexAccordionDiv h3.ui-state-default
	{
	background-color: #EEEEEE;
}

#dnrsrnpopup #singleIndexDiv h3:hover,#indexAccordionDiv h3:hover {
	background-image: none;
	background-color: #DBEEFF;
	font-weight: bold;
}

#dnrsrnpopup #singleIndexDiv h3.ui-state-focus,#indexAccordionDiv h3.ui-state-focus {
	background-image: none;
}

#dnrsrnpopup #singleIndexDiv h3.ui-state-active,#indexAccordionDiv h3.ui-state-active{
	color: #333333;
	border: 1px solid #CCCCCC;
}

#dnrsrnpopup .tableHeaderText {
	float: left;
}

#dnrsrnpopup .tableHeaderText img {
	vertical-align: middle;
}

#dnrsrnpopup table#docs tr td:first-child {
	text-align: center;
}

#dnrsrnpopup .filterBoxText {
	float: left;
	margin-top: 5px;
}

#dnrsrnpopup #chartUL .activeChartli{
	color: #E17009;
	background-color: #F5F8F9;
	border: 1px solid #79B7E7;
}
/* style.css ends here */



/* tagsearch.css starts here */
/* @override search/css/tagsearch.css */

#dnrsrnpopup div#wrap { /*background: url(../images/bg_main.jpg) repeat-x ;*/
	background-position: 10px 10px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	border: 0px;
	height: 100%;
	/*overflow: auto;
	overflow-x:hidden;*/
}

#dnrsrnpopup div#menu {
	background-color: #CCCCCC;
	padding: 5px;
	color: #222222;
	border: 1px solid #CCCCCC;
	font-size: 15px;
	text-align: right;
}



#dnrsrnpopup div#small-box {
	float: left;
}

#dnrsrnpopup div.tabsWindow {
	position: relative;
}

#dnrsrnpopup div.left {
	width: 240px;
	height: 0px;
	font-size: 12px;
	padding: 0px;
	background-color: #ffffff;
	/*border: 1px solid #bcbcbc;*/
	display: block;
	overflow: hidden;
}

#dnrsrnpopup div.right {
	float: right;
	position: relative;
	width: 78%;
	height: 100%;
}

#dnrsrnpopup h2.left {
	color: #b87503;
	font-size: 19px;
	margin-bottom: 4px;
	border-bottom: 1px solid #eeeef0;
}

#dnrsrnpopup .left input#query {
	border: 1px solid #dbdbdb;
	font-size: 11px;
	padding: 3px;
	margin-top: 4px;
	margin-bottom: 5px;
	width: 232px;
}

#dnrsrnpopup div#pager-header {
	color: #222222;
	float: left;
	font-size: 15px;
}

#dnrsrnpopup ul#pager {
	text-align: center;
	background-color: #CCCCCC;
	padding: 15px;
	/*border: 1px solid #A6D5FF;*/
	margin-bottom: 2px;
	font-size: 15px;
}

#dnrsrnpopup ul#pager li {
	display: inline-block;
	margin-left: 4px;
	margin-right: 4px;
	vertical-align: middle;
}

#dnrsrnpopup ul#pager a {
	text-decoration: none;
	color: #616161;
	display: block;
	background-color: #f6f6f6;
	padding: 1px 3px 0;
	border: 1px solid #d5d5d5;
	vertical-align: middle;
}

#dnrsrnpopup ul#pager a:hover {
	background-color: #5690b6;
	color: #fefffe;
}

/*#dnrsrnpopup ul#pager span {
	display: block;
	padding: 1px 3px 0;
}*/

#dnrsrnpopup ul#pager span.pager-current {
	background-color: #5690b6;
	color: #fefffe;
	/*font-weight: bold;*/
	font-weight: bold;
	border: 1px solid #d5d5d5;
}

#dnrsrnpopup div#search-box {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 95%;
	float: right;
	border: 1px solid #A6C9E2;
	background-color: #F2F9FF;
	padding: 3px;
}

#dnrsrnpopup div#search-box img {
	float: right;
	height: 30px;
	width: 30px;
	padding: 10px 0px 0px 1px;
	cursor: pointer;
}

#dnrsrnpopup div#search-box input {
	width: 90%;
	font-size: 20px;
	padding: 10px 0px 10px 10px;
	border: none;
	background-color: #FBFBFB;
	height: 30px;
	outline: none;
}

/*div#search-box input:focus, div#search-box input:hover {
	background-position: 0 -42px;
	border-style: none;
}
/* @group Selection */
#dnrsrnpopup div#filter-box {
	font-size: 15px;
	padding: 4px;
	background-color: #F0F0F0;
	border: 1px solid #CCCCCC;
}

#dnrsrnpopup ul#selection {
	margin-bottom: 2px;
	margin-top: 2px;
}

#dnrsrnpopup ul#selection li {
	display: inline-block;
	margin-right: 7px;
}

#dnrsrnpopup ul#selection a {
	text-decoration: none;
	background-color: #a1d0ef;
	display: inline-block;
	padding: 4px;
	font-size: 14px;
	border: 2px solid #5690b6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	color: #000000;
}

#dnrsrnpopup ul#selection a:hover {
	color: #000000;
	background-color: #9AC7E6;
}
/* @end */
/* @group Docs */
#dnrsrnpopup span.table_wrapper {
	display: block;
	border: 1px solid #faa004;
	overflow: auto;
	overflow-x: hidden;
}

#dnrsrnpopup table#docs {
	font-size: 15px;
	background-color: #FFFFFF;
	/*width: 100%;*/
	overflow: auto;
	/* overflow-y:hidden;*/
	/*border: 1px solid #A6C9E2;*/
	line-height: 1.5em;
	color: #222222;
}

#dnrsrnpopup div.result_table {
	font-size: 11px;
	overflow-y: auto;
	min-height: 235px;
	/*max-height: 550px;*/
}

#dnrsrnpopup div#result {
	height: 100%;
}

#dnrsrnpopup table #docs th {
	background-color: #EEEEEE;
	font-weight: bold;
	text-align: center;
	padding: 4px 5px;
	font-family: Arial;
	font-size: 15px;
	/*border: 1px solid #A6C9E2;*/
	color: #222222;
}

/*#dnrsrnpopup table#docs td {
	border-color: #5690B6;
}*/

#dnrsrnpopup table #docs tr td span {
	background-color: #ff6;
}

#dnrsrnpopup .divWithBorderNScroll {
	overflow: auto;
	overflow-y: hidden;
	border: thin solid black;
	border-width: 1px
}

#dnrsrnpopup .tableth { /*background-color: #fdebac;*/
	background-color: #EEEEEE;
	/*font-weight: bold;*/
	/*text-align: right;*/
	text-align: left;
	padding: 4px 5px;
	/*border-bottom: 1px solid #db9a44;*/
	font-family: Arial;
	font-size: 0.9em;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;
}

#dnrsrnpopup table#docs tr.even {
	background-color: #EEEEEE;
}

#dnrsrnpopup table#docs tr.odd {
	background-color: #FFFFFF;
}

#dnrsrnpopup table#docs tr:hover {
	background-color: #95d0fc;
}

#dnrsrnpopup .test { /*font-weight: bold;*/
	text-align: right;
	vertical-align: top;
}

#dnrsrnpopup table#docs td {
	padding: 5px;
	vertical-align: top;
	text-align: left;
}

#dnrsrnpopup table#docs tr.col_divider {
	border-bottom: 1px solid #e7e7e7;
	border-color: #c5c5c6;
}

#dnrsrnpopup table#docs tr.col_divider:hover {
	background-color: #b4d5ff;
	color: black;
}
/*COLUMNS*/
#dnrsrnpopup table#docs #col4 {
	width: 14%;
}
/* @end */
/*
 ListFacetWidget
*/
#dnrsrnpopup div.listfacet {
	margin-top: 11px;
}

#dnrsrnpopup a.listfacet_item {
	color: #3875d7;
	text-decoration: none;
	display: block;
	margin-bottom: 6px;
	font-size: 12px;
	border-bottom: 1px dashed #d7d7d7;
	padding-bottom: 2px;
}

#dnrsrnpopup a.listfacet_item:hover {
	color: #9b6102;
	text-decoration: none;
}
/* @group TagCloud */
#dnrsrnpopup div.tagcloud {
	margin-top: 11px;
}

#dnrsrnpopupa.tagcloud_item {
	color: #3875d7;
	text-decoration: none;
	display: block;
	margin-bottom: 6px;
	font-size: 12px;
	border-bottom: 1px dashed #d7d7d7;
	padding-bottom: 2px;
}

#dnrsrnpopup a.tagcloud_item:hover {
	color: #9b6102;
	text-decoration: none;
}

#dnrsrnpopup ul#displayValues {
	background-color: #FBFBFB;
	float: right;
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	right: 0;
}

#dnrsrnpopup ul#displayValues li {
	border: 1px solid #D1D1D1;
	display: block;
	margin-left: 0;
	margin-right: 0;
}
/* tagsearch.css ends here */

/* reset.css starts here */
/*body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
	font-family: Arial,Helvetica,sans-serif;
}*/
#dnrsrnpopup ul,#dnrsrnpopup ol,#dnrsrnpopup h1,#dnrsrnpopup h2,#dnrsrnpopup h3,#dnrsrnpopup h4,#dnrsrnpopup h5,#dnrsrnpopup h6,#dnrsrnpopup pre,#dnrsrnpopup form,#dnrsrnpopup fieldset,#dnrsrnpopup input,#dnrsrnpopup textarea,#dnrsrnpopup p,#dnrsrnpopup blockquote,#dnrsrnpopup th,#dnrsrnpopup td{
	margin: 0;
	padding: 0;
}

#dnrsrnpopup table {
	border-collapse: collapse;
	border-spacing: 0;
}

#dnrsrnpopup fieldset,img {
	border: 0;
}

#dnrsrnpopup address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

#dnrsrnpopup ol,#dnrsrnpopup ul {
	list-style: none;
}

/*caption,th {
	text-align: left;
}
*/
#dnrsrnpopup h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,q:after {
	content: '';
}

abbr,acronym {
	border: 0;
}

/*CSS Added For Cross index Search*/
#dnrsrnpopup #facetUL li ul {
	position: absolute;
	left: 100%;
	display: inline;
	background-color: #FFFFFF;
	border: 1px solid #F6F6F6;
	text-align: left;
	line-height: 1.4em;
	top: 0px;
	z-index: 1;
}

#dnrsrnpopup #facetUL,#dnrsrnpopup #indexUL{
	min-width: 12em;
	width: 96%;
	position: relative;
}

#dnrsrnpopup #facetUL > li {
	display: block;
	padding: 0px 5px;
	border: 1px solid #CCCCCC;
	color: #222222;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	background: #F6F6F6 url(../images/right_arrow.png) no-repeat right;
	line-height: 28px;
	text-align: left;
	position: relative;
	font-size: 12px;
}

#dnrsrnpopup .facetContent {
	vertical-align: top;
}

#dnrsrnpopup #indexUL li {
	background-color: #F6F6F6;
	line-height: 28px;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	display: block;
	padding-left: 5px;
	border: 1px solid #CCCCCC;
	color: #222222;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}

#dnrsrnpopup #indexUL li span {
	font-weight: normal;
}

#dnrsrnpopup .facetfilter {
	border-bottom: 1px solid #5690B6;
}

#dnrsrnpopup #resultTable tr:nth-child(even) {
	background-color: #EEEEEE;
}

#dnrsrnpopup #resultTable tr:nth-child(odd) {
	background-color: #FFFFFF;
}

#dnrsrnpopup #resultTable tr {
	height: 60px;
}

#dnrsrnpopup .viewRecbutton {
	border: 1px solid #5690B6;
	height: 30px;
	cursor: pointer;
	white-space: nowrap;
	background-color: #5690B6;
	color: #FFFFFF;
}

#dnrsrnpopup #resultTable tr td {
	padding-left: 5px;
}

#dnrsrnpopup #displayRecHeader {
	border: 1px solid #CCCCCC;
	background-color: #CCCCCC;
	padding: 5px;
}

#dnrsrnpopup #paginator {
	text-align: left;
	width: 450px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#dnrsrnpopup #pagerLayout {
	text-align: center;
	border: 1px solid #CCCCCC;
	background-color: #CCCCCC;
	padding: 5px;
	margin-bottom: 5px;
}

#dnrsrnpopup #pagerLayout select{
	float: left;	
}

#dnrsrnpopup #resultContentDiv {
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	font-size: 12px;
}

#dnrsrnpopup #currentSelc {
	border: 1px solid #CCCCCC;
	background-color: #EEEEEE;
	border-bottom: none;
	padding: 8px;
}

#dnrsrnpopup #currSelcUL li a {
	background-color: #A1D0EF;
	border: 2px solid #5690B6;
	color: #000000;
	cursor: pointer;
	display: inline-block;
	margin: 4px;
	padding: 4px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
}

#dnrsrnpopup #currSelcUL li {
	display: inline-block;
}

#dnrsrnpopup #crossIndexDiv div#search-box {
	background-color: #F2F9FF;
	border: 1px solid #A6C9E2;
}

#dnrsrnpopup div#search-box #query {
	background-color: #F2F9FF;
}

#dnrsrnpopup #currentSelc span#selcHeader {
	float: left;
	padding-top: 8px;
}

#dnrsrnpopup #crossIndexDiv #topsearchResult {
	border: 1px solid #A6C9E2;
}

#dnrsrnpopup #facetUL li ul li {
	padding: 5px;
}

#dnrsrnpopup #facetUL li ul li:hover {
	background-color: #a1d0ef;
}

#dnrsrnpopup #facetUL li ul.alphabetFilterUL {
	width: 460px;
}

#dnrsrnpopup .freeSearchScroll {
	background-color: #FFFFFF;
	max-height: 300px;
	min-width: 409px;
	overflow-x: hidden;
	overflow-y: auto;
}

/*CSS Added For Cross Index Pagination*/
#dnrsrnpopup .light-theme {
	display: block;
	overflow: hidden;
	padding: 2px 5px 5px 0;
}

#dnrsrnpopup .light-theme a,#dnrsrnpopup .light-theme span {
	text-decoration: none;
	float: left;
	color: #666;
	font-size: 12px;
	line-height: 24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #BBB;
	min-width: 14px;
	padding: 0 7px;
	margin: 0 5px 0 0;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #efefef) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #efefef 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #efefef 100%);
	/* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #efefef 100%);
	/* IE10+ */
	background: linear-gradient(top, #ffffff 0%, #efefef 100%); /* W3C */
}

#dnrsrnpopup .light-theme a:hover {
	text-decoration: none;
	background: #FCFCFC;
}

#dnrsrnpopup .light-theme .current {
	background: #666;
	color: #FFF;
	border-color: #444;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 1), 0 0 2px rgba(0, 0, 0, 0.3)
		inset;
	cursor: default;
}

#dnrsrnpopup .light-theme .ellipse {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	font-weight: bold;
	cursor: default;
}

#dnrsrnpopup .facet_paginator a,.facet_paginator span {
	float: none;
	padding-bottom: 4px;
	padding-top: 4px;
}

#dnrsrnpopup #crossIndexDiv div#filterDateDiv table tr,#dnrsrnpopup #crossIndexDiv div#filterNumberDiv table tr{
	line-height: 30px;
}

#dnrsrnpopup #crossIndexDiv div#filterNumberDiv {
	background: #FFFFFF;
	min-width: 355px;
	height: 160px;
	padding-top: 5px;
}

#dnrsrnpopup #crossIndexDiv div#filterDateDiv {
	background: #FFFFFF;
	height: 110px;
    min-width: 200px;
    padding-left: 8px;
    padding-top: 8px;
}

#dnrsrnpopup #crossIndexDiv div#filterNumberDiv div {
	padding-left: 75px;
	padding-top: 5px;
}

#dnrsrnpopup #crossIndexDiv div#filterDateDiv div {
	padding-left: 10px;
	padding-top: 10px;
}


#dnrsrnpopup #crossIndexOptions a{
	text-decoration: underline;
	color: #222222;
}

#dnrsrnpopup .pageSelcTable{
	line-height: 1.8em;
}

#dnrsrnpopup #tableErrorMsg{
	color: red;
    font-size: 12px;
    font-weight: bold;
    padding-right: 83%;
}

#dnrsrnpopup #errorMsgDiv{
	border: 1px solid #A6D5FF;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-top: 30px;
}

#dnrsrnpopup .searchValues{
	vertical-align: top;	
}

#dnrsrnpopup #facetUL li ul label{
	font-weight: normal;
}

#dnrsrnpopup .lineClear{
    height: 0px;
}

#dnrsrnpopup .menuFilterContentSettings{
	background-color: #FFFFFF;
}

#dnrsrnpopup .alpha-nav{
	border: 1px solid #CCCCCC;
    height: 25px;
    padding-top: 5px;
}

#dnrsrnpopup .rangeTxtbox{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	height: 25px;
	width: 100px;
	font-size: 1em;
	background-color: #FFFFFF;
	border: 1px solid #333333;
}

#dnrsrnpopup #radioButtDiv{
	border-bottom: 1px solid #333333;
    padding-bottom: 2px;
}

#dnrsrnpopup #radioButtDiv #resultcount{
	float: right;
}

#dnrsrnpopup #resultcount{
	font-weight: normal;
}
/*CSS Added For Single Index view*/
/*#dnrsrnpopup #selctedIndexbutton {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background-color: #5B99C2;
	border: 1px solid #4297D7;
	color: #FFFFFF;
	display: inline-block;
	font-size: 14px;
	padding: 4px;
	cursor: pointer;
}*/

#dnrsrnpopup #menuFilterData{
	background-color: #FFFFFF;
}

#dnrsrnpopup #dropFieldForChart{
    margin-left: 30px;
}

#dnrsrnpopup #chartFacetnameDiv{
	height: 518px;
	overflow-y: auto;
	width: 300px;
}

#dnrsrnpopup #chartUL > li{
 float: left;
 list-style: none;
 cursor: pointer;
}

#dnrsrnpopup #chartUL{
	float: right;
}
 
#dnrsrnpopup #chartUL .chartli{
	background-color: #DBEEFF;
	border: 1px solid #A6C9E2;
	padding: 5px;
	cursor: pointer;
}

#dnrsrnpopup #chartUL .chartliLeft{
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	
	-moz-border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-khtml-border-bottom-left-radius: 5px;
}

#dnrsrnpopup #chartUL .chartliRight{
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-khtml-border-top-right-radius: 5px;
	
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-khtml-border-bottom-right-radius: 5px;
}
/* reset.css ends here */