@charset "utf-8";
/* CSS Document */

header .logo {font-size:2.5em; height:52px; padding-top:28px; font-weight:700; text-shadow:1px 1px 2px #000; color:#fff; filter: Shadow(Color=#666666, Direction=135, Strength=3);}
header .statement {padding-top:1px; padding-right:10px;}



nav ul {list-style:none;
	/*font-size:0.8em;*/ 
	color:#fff;}
nav ul li {float:left; margin-left:5px;}
nav ul li a {display:block; color:#fff; text-decoration:none; padding:2px 8px; margin-top:3px;  
				 -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
				 -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px;
				 }
nav ul li a:hover {background-color:#fff; color:#000;}

.nav {clear:both; float:left; width:100%; overflow:hidden;}

#menu {
  padding:0; 
  list-style-type:none;
  float:left;
  position:relative; 
  /*left:50%;*/
  }
#menu li {
  float:left; position:relative; /*right:50%;*/
  }
#menu a {
  width:auto;
  display:block;
  padding:4px 16px;
  color:#1c94c4; 
  background-color:#f6f6f6;
  /*background:#6e8e02; */
  border:1px solid #cccccc; 
  text-decoration:none;
  }
#menu a:hover {
  color:#c77405; 
/*  background:#e3f7d4;*/
background-color:#fdf5ce;
  border-color:#fbcb09;
  }  

  ul#menu li.active a{ border:1px solid #fbd850; background-color:#ffffff;color:#eb8f00; font-weight:bold;}
  
  
ul#accordion, ul#accordion ul {
  
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 15em;
}

ul#accordion a {
  display: block;
  text-decoration: none;	
}

ul#accordion li {
  margin-top: 1px;
}

ul#accordion li a {
  background: #f6a828;
  color: #000;	
  padding: 0.5em;
}

ul#accordion li a:hover {
  background: #fdf5ce;
  
}

ul#accordion li ul li a {
  background: #fdf5ce;
  color: #000;
  /*padding-left: 20px;*/
  margin-left:-3px;
  width:170px;
}

ul#accordion li ul li a:hover {
  background: #fdf5ce;
  /*background: #4297d7;*/
  /*padding-left: 15px;*/
}  
  
.box.style{
	display: block; margin:0px 0 0 -19px; width:258px;
	}