<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <title th:remove="all">Template for HTML email (simple)</title> -->
<title>Hello World Thymeleaf!!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table {
	border-collapse: collapse;
	border: 1px solid black;
}

th, td {
	border: 1px solid black;
}

table.table1 {
	table-layout: auto;
	width: 100%;
}

table.a {
	table-layout: auto;
	width: 180px;
}

table.b {
	table-layout: fixed;
	width: 180px;
}

table.c {
	table-layout: auto;
	width: 100%;
}

table.d {
	table-layout: fixed;
	width: 100%;
}
</style>
</head>
<body>

	<P>
	Study with the below details sent to the IRB system : 
	</P>

	<p>
        <div>
  			<p>Study Number : <span th:text="${StudyNumber}">Study Number</span></p>
  			<p>Principal Investigator : <span th:text="${PI}">PI</span></p>
  			<p>Primary Study Contact : <span th:text="${StudyContact}">StudyContact</span></p>
  			<p>Title : <span th:text="${Title}">Title</span></p>
  			<p>Phase : <span th:text="${Phase}">Phase</span></p>
  			<p>Study Scope : <span th:text="${Scope}">Scope</span></p>
  			<p>StudyStatus : <span th:text="${StudyStatus}">StudyStatus</span></p>
  			<p>StatusValidFrom : <span th:text="${StatusValidFrom}">StatusValidFrom</span></p>
		</div>
    </p>
</body>
</html>