<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <title th:remove="all">Template for HTML email (simple)</title> -->
<title>Hello World Thymeleaf!!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table {
	border-collapse: collapse;
	border: 1px solid black;
}

th, td {
	border: 1px solid black;
}

table.table1 {
	table-layout: auto;
	width: 100%;
}

table.a {
	table-layout: auto;
	width: 180px;
}

table.b {
	table-layout: fixed;
	width: 180px;
}

table.c {
	table-layout: auto;
	width: 100%;
}

table.d {
	table-layout: fixed;
	width: 100%;
}
</style>
</head>
<body>

	
	<P>
	Unable to connect with the IRB System to initiate the new IRB Protocol application.
	The record not interfaced is:
	</P>

	<p>
	<!-- <div th:object="${StudyUpdates}"> -->
        <div>
  			<p>Study Number : <span th:text="${StudyUpdates.studyNumber}">Study Number</span></p>
  			<p>IRB Protocol Number : <span th:text="${StudyUpdates.irbProtocolNumber}">IRB Protocol Number</span></p>
  			<p>Title : <span th:text="${StudyUpdates.title}">Title</span></p>
  			<p>Short Title : <span th:text="${StudyUpdates.shortTitle}">Short Title</span></p>
		</div>
    </p>
	 
</body>
</html>