<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <title th:remove="all">Template for HTML email (simple)</title> -->
<title>Hello World Thymeleaf!!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table {
	border-collapse: collapse;
	border: 1px solid black;
}

th, td {
	border: 1px solid black;
}

table.table1 {
	table-layout: auto;
	width: 100%;
}

table.a {
	table-layout: auto;
	width: 180px;
}

table.b {
	table-layout: fixed;
	width: 180px;
}

table.c {
	table-layout: auto;
	width: 100%;
}

table.d {
	table-layout: fixed;
	width: 100%;
}
</style>
</head>
<body>

	
	<P>Unable to update documents to Velos eResearch for the <span th:text="${IRBNumber}"/>
	</P>

	<p>
	 If this study has a corresponding Velos eResearch record, 
	 <b>please update the document(s) in Velos eResearch with 
	 (<span th:text="${VersionType}"/>,<span th:text="${VersionNumber}"/>) for synchronization of data and compliance.</b>
	</p>

 
</body>
</html>