@charset "utf-8";
/* CSS Document */

/* ** ** forms ** ** */
form fieldset {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	padding:5px;
	border:1px solid #bbbbbb;
	color: #333333;
	/*font-size:1.0em;*/
	
	}

form fieldset legend {
	color: #333333;
	/*font-size:1.0em;*/
	font-weight: bold;
	text-shadow: 0 1px 1px #aaaaaa;
	padding:0 5px;
	}
	
form input[type=text], form input[type=email], form input[type=url], form input[type=password] {
		-moz-border-radius: 4px; 
		-webkit-border-radius: 4px; 
		border-radius:4px; 
		height:30px; 
		margin-bottom:5px; 
		border:1px solid #fff;
		padding:4px 0 1px 5px;
		background-color:#dfdfdf;
		width:95%;
		/*font-size: 1.0em;*/
		
		}
form input[type=file] {
		-moz-border-radius: 4px; 
		-webkit-border-radius: 4px; 
		border-radius:4px; 
		height:30px; 
		margin-bottom:5px; 
		border:1px solid #fff;
		padding:4px 0 1px 5px;
		background-color:#dfdfdf;
		width:95%;
		/*font-size: 1.0em;*/
		
		}

#datepicker input {
		-moz-border-radius: 4px; 
		-webkit-border-radius: 4px; 
		border-radius:4px; 
		height:30px; 
		margin-bottom:5px; 
		border:1px solid #fff;
		padding:4px 0 1px 5px;
		background-color:#dfdfdf;
		width:150px;
		/*font-size: 1.0em;*/
		
		}

form select{
		-moz-border-radius: 4px; 
		-webkit-border-radius: 4px; 
		border-radius:4px; 
		height:40px; 
		margin-bottom:5px; 
		border:1px solid #fff;
		padding:4px 0 1px 5px;
		background-color:#dfdfdf;
		width:100%;
		/*font-size: 1.0em;*/
		
		}

/*form input:focus, form textarea:focus{*/
form input:focus{
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius:4px; 
	/*height:30px;*/ 
	margin-bottom:5px; 
	border:1px solid #ccc;
	padding:4px 0 1px 5px;
	background-color: #fff;
	font-weight:bold;
	/*font-size: 1.2em*/
}


	form label {
	/*display:block;*/
	height:20px;
	/*font-size:1.2em;*/
	padding-top:10px;
	width: 200px;
	}


form button, form input[type=button] {
	background-color:#eeeeee;
/*	background: #9cbc2c;*/
	border: 1px solid #cccccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	color: #3383bb;
	/*font-size:1.1em;*/
	font-weight:bold;
	margin: auto;
	padding: 3px 10px;
	/*text-shadow: 0 1px 1px #000000;
	text-transform:capitalize;*/
}
.button{
	background-color:#eeeeee;
/*background: #9cbc2c;*/
	border: 1px solid #cccccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	color: #3383bb;
	font-weight:bold;
	margin: auto;
	padding: 3px 10px;
	/*text-shadow: 0 1px 1px #000000;
	text-transform:capitalize;*/
}

form button:hover, form input[type=button]:hover {
/*	background: #384313;*/
	background-color:#f8f8f8;
	color: #599fcf;
	border: 1px solid #bbbbbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}

form ol li {
  list-style:none;
  line-height: 24px;
  }

#tdshowid fieldset ol li {
  list-style:none;
  line-height: 24px;
  }


#prescreenbuttons button, #prescreenbuttons input[type=button] {
	background-color:#eeeeee;
/*	background: #9cbc2c;*/
	border: 1px solid #cccccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	color: #3383bb;
	/*font-size:1.1em;*/
	font-weight:bold;
	margin: auto;
	padding: 3px 10px;
	text-transform:capitalize;
}

#prescreenbuttons button:hover, #prescreenbuttons input[type=button]:hover {
	background-color:#f8f8f8;
	color: #599fcf;
	border: 1px solid #bbbbbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}


table{ width:100%;  border-top:0px; border-right:0px; border-bottom:0px; border-left:0px; border-spacing:0px; /*font-size:1.0em; */}
table thead th{ height:30px; border:1px solid #bbbbbb; background-color:#dddddd; text-align:centerleft; vertical-align:middle; padding:5px;}
th{ height:30px; border:0px; background-color:#dddddd; text-align:left; vertical-align:middle; padding:5px; color: #333333;}

td{ height:20px; border-top:0px; border-left:0px; border-bottom:0px; border-right:0px;padding:5px;
	/*font-size: 1.0em;*/
	}


.tabledispnormal { width:100%; }
.tabledispnormal table{border-top:1px #bcdb52 solid; border-right:0px #bcdb52 solid; border-bottom:0px; border-left:0px; border-spacing:0px;
	/*font-size:1.0em;*/
	}
.tabledispnormal th{ height:30px; border:1px solid #fad42e; background-color:#fbec88; text-align:center; vertical-align:middle; padding:5px;}
.tabledispnormal td{ height:20px; border-top:0px; border-left:1px solid #bcdb52; border-bottom:1px solid #bcdb52; border-right:0px; background:#FFFFFF; padding:5px;}

.followup label { display:inline;}

.tabledisplay table{ border:none; width:100%;}
.tabledisplay td{ background-color:transparent; border:none;}
.titles{color: #2e85cf;  font-weight: bold; text-shadow: 0 1px 1px #c0d576; padding:0 5px;}

.tableborder{ border:none; width:100%;}
.tabletdtrans{ background-color:transparent; border:none;}
.tabletdbrdr{border-bottom:0px;}

.tabledisplayauto table{ border:none; width:auto;}
.tabledisplayauto td{ background-color:transparent; border:none;}

.tabledisp div{ border:1px solid #819d20; background:#FFFFFF;}
.tabledisp ol li{ list-style:none; padding:10px 10px 10px 0px; float:left; /*font-size:1.0em; */}
.tabledisp ol li a{ text-decoration:none;}
.tabledisp ol li a:hover{text-decoration:underline;}


.tabledisplay1 table{ border:none; }
.tabledisplay1 td{ background-color:transparent; border:none;}

.sample1{border:1px solid #819d20;}

/* TABS - NEED TO CHANGE FONT SIZES */

#studyEditTabs{ width:95%; clear:both; margin:0px; padding:10px 0px 0px 15px; border:0;}

#tabs{ border:none; background:#bace74;}

#tabs div{ border:1px solid #819d20; background:#FFFFFF;}
.sEtab{ width:100%;}
.sEtab ul{ border:none; background:none; }
.sEtab ul li{ height:28px;}
.sEtab ul li a{ padding:0px; margin:0px; /*font-size:1.0em; */font-weight:bold;}

#tabs-1 div{ border:none; /*font-size:1.0em;*/ padding:0px 0px 10px 0px;}
#tabs-1 div a{ font-weight:bold; text-decoration:none;}
#tabs-1 div a:hover{ text-decoration:underline;}
#tabs-1 ol li{ list-style:none; padding:10px 10px 10px 0px; float:left; }
#tabs-1 ol li a{ text-decoration:none;}
#tabs-1 ol li a:hover{text-decoration:underline;}

#tabs-1 table{ width:100%;  border-top:1px #bcdb52 solid; border-right:1px #bcdb52 solid; border-bottom:0px; border-left:0px; border-spacing:0px; /*font-size:1.0em; */}
#tabs-1 th{ height:30px; border-spacing:0px; border-color:#bcdb52; border-top:0px; border-left:0px; border-right:0px; border-bottom:0px; background-color:#d2e494; text-align:left;}
#tabs-1 tr{ height:20px; border-spacing:0px; border-top:0px; border-left:1px solid #bcdb52; border-bottom:1px solid #bcdb52; border-right:0px;  }
#tabs-1 td{ height:20px; border-spacing:0px; border-top:0px; border-left:1px solid #bcdb52; border-bottom:1px solid #bcdb52; border-right:0px; background:#FFFFFF;} 
#tabs-1.th2{ width:30%;}
#tabs-1.th3{ width:10%;}
#tabs-1.th4{ width:15%;}
#tabs-1.th5{ width:20%;}
#tabs-1.th1{width:10px;}

#tabs-2 div{ border:none; /*font-size:1.0em; */ padding:0px 0px 10px 0px;}
#tabs-2 div a{ font-weight:bold; text-decoration:none;}
#tabs-2 div a:hover{ text-decoration:underline;}
#tabs-2 ol li{ list-style:none; padding:10px 10px 10px 0px; float:left; }
#tabs-2 ol li a{ text-decoration:none;}
#tabs-2 ol li a:hover{text-decoration:underline;}

#tabs-2 table{ width:100%;  border-top:1px #bcdb52 solid; border-right:1px #bcdb52 solid; border-bottom:0px; border-left:0px; border-spacing:0px; /*font-size:1.0em; */}
#tabs-2 th{ height:30px; border-spacing:0px; border-color:#bcdb52; border-top:0px; border-left:0px; border-right:0px; border-bottom:0px; background-color:#d2e494; text-align:left;}
#tabs-2 tr{ height:20px; border-spacing:0px; border-top:0px; border-left:1px solid #bcdb52; border-bottom:1px solid #bcdb52; border-right:0px;  }
#tabs-2 td{ height:20px; border-spacing:0px; border-top:0px; border-left:1px solid #bcdb52; border-bottom:1px solid #bcdb52; border-right:0px; background:#FFFFFF;} 
#tabs-2.th1{width:2%;}
#tabs-2.th2{ width:30%;}
#tabs-2.th3{ width:10%;}
#tabs-2.th4{ width:15%;}
#tabs-2.th5{ width:20%;}
#tabs-2.th6{ width:13%;}
#tabs-2.th7{ width:10%;}
#tabs-2 input[type=radio] {width:5px;}


#tabs-3 div{ border:none; /*font-size:1.0em;*/  padding:0px 0px 10px 0px;}
#tabs-3 div a{ font-weight:bold; text-decoration:none;}
#tabs-3 div a:hover{ text-decoration:underline;}
#tabs-3 ol li{ list-style:none; padding:10px 10px 10px 0px; float:left; }
#tabs-3 ol li a{ text-decoration:none;}
#tabs-3 ol li a:hover{text-decoration:underline;}

#tabs-3 table{ width:100%;  border-top:1px #bcdb52 solid; border-right:1px #bcdb52 solid; border-bottom:0px; border-left:0px; border-spacing:0px; /*font-size:1.0em;*/ }
#tabs-3 th{ height:30px; border-spacing:0px; border-color:#bcdb52; border-top:0px; border-left:0px; border-right:0px; border-bottom:0px; background-color:#d2e494; text-align:left;}
#tabs-3 tr{ height:20px; border-spacing:0px; border-top:0px; border-left:1px solid #bcdb52; border-bottom:1px solid #bcdb52; border-right:0px;  }
#tabs-3 td{ height:20px; border-spacing:0px; border-top:0px; border-left:1px solid #bcdb52; border-bottom:1px solid #bcdb52; border-right:0px; background:#FFFFFF;} 
#tabs-3.th1{width:2%;}
#tabs-3.th2{ width:30%;}
#tabs-3.th3{ width:10%;}
#tabs-3.th4{ width:15%;}
#tabs-3.th5{ width:20%;}
#tabs-3.th6{ width:13%;}
#tabs-3.th7{ width:10%;}
#tabs-3 input[type=radio] {width:5px;}



#tabs-4 div{ border:none; /*font-size:1.0em;*/  padding:0px 0px 10px 0px;}
#tabs-4 div a{ font-weight:bold; text-decoration:none;}
#tabs-4 div a:hover{ text-decoration:underline;}
#tabs-4 ol li{ list-style:none; padding:10px 10px 10px 0px; float:left; }
#tabs-4 ol li a{ text-decoration:none;}
#tabs-4 ol li a:hover{text-decoration:underline;}

#tabs-4 table{ width:100%;  border-top:1px #bcdb52 solid; border-right:1px #bcdb52 solid; border-bottom:0px; border-left:0px; border-spacing:0px; /*font-size:1.0em; */}
#tabs-4 th{ height:30px; border-spacing:0px; border-color:#bcdb52; border-top:0px; border-left:0px; border-right:0px; border-bottom:0px; background-color:#d2e494; text-align:left;}
#tabs-4 tr{ height:20px; border-spacing:0px; border-top:0px; border-left:1px solid #bcdb52; border-bottom:1px solid #bcdb52; border-right:0px;  }
#tabs-4 td{ height:20px; border-spacing:0px; border-top:0px; border-left:1px solid #bcdb52; border-bottom:1px solid #bcdb52; border-right:0px; background:#FFFFFF;} 
#tabs-4.th1{width:2%;}
#tabs-4.th2{ width:30%;}
#tabs-4.th3{ width:10%;}
#tabs-4.th4{ width:15%;}
#tabs-4.th5{ width:20%;}
#tabs-4.th6{ width:13%;}
#tabs-4.th7{ width:10%;}
#tabs-4 input[type=radio] {width:5px;}

#edit-tabs-container{ border:none;}
#edit-tabs-container div{ border:0px solid #819d20;}

#edit-tabs div{ border:none;  padding:0px 0px 10px 0px;}
#edit-tabs table{ width:100%;  border:none; background-color:transparent; }
#edit-tabs th{ height:30px; border:none; background-color:transparent; text-align:left;}
#edit-tabs tr{ height:20px;  border:none; background-color:transparent; text-align:left;}
#edit-tabs td{ height:20px; border:none; background-color:transparent; text-align:left;}

#edit-tabs1 div{ border:none;  padding:0px 0px 10px 0px;}
#edit-tabs1 table{ width:100%;  border:none; background-color:transparent; }
#edit-tabs1 th{ height:30px; border:none; background-color:transparent; text-align:left;}
#edit-tabs1 tr{ height:20px;  border:none; background-color:transparent; text-align:left;}
#edit-tabs1 td{ height:20px; border:none; background-color:transparent; text-align:left;}

.loginform{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #dddddd;
	border: 1px solid #bbbbbb;
	width:350px;
	height:230px;
	margin: 0 auto;
	padding:5px;
}


#listMedications{ display:none;}

.divborder{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	padding:10px;
	border:1px solid #fff;
/*	font-size:1.0em;*/
	background-color: #f7f7f7;
	}
	
.dynFormTable{
	/*font-size:1.0em;*/
	border-top:0px;
	border-right:0px;
	border-left:0px;
	border-bottom:0px;

	}
.dynFormTable, .dynFormTable table, .dynFormTable table tr, .dynFormTable table tr td, {
	border-top:0px;
	border-right:0px;
	border-left:0px;
	border-bottom:0px;
	
	}
	.dynFormTable table {
	border-top:0px;
	border-right:0px;
	border-left:0px;
	border-bottom:0px;
	
	}

.dynFormTable tbody {
	border-top:0px;
	border-right:0px;
	border-left:0px;
	border-bottom:0px;
	
	}
.dynFormTable tr {
	border-top:0px;
	border-right:0px;
	border-left:0px;
	border-bottom:0px;
	
	}
	.dynFormTable td {
	border-top:0px;
	border-right:0px;
	border-left:0px;
	border-bottom:0px;
	
	}
	
.mandatory {
	color:red;
/*	font-size:1.0em;*/
}

.Mandatory {
	color:red;
/*	font-size:1.0em;*/
}
#tabs .divtable, #tabs-1 .divtable, #tabs-2 .divtable, #tabs-3 .divtable, #tabs-4 .divtable{
	clear:both;
	height:150px;
	overflow:auto;
	
	}
	
#qnaire button, #qnaire input[type=button], #qnaire input[type=image] {
	background: #9cbc2c;
	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	color: #ffffff;
/*	font-size:1.0em;*/
	font-weight:bold;
	margin: auto;
	padding: 3px 10px;
	text-shadow: 0 1px 1px #000000;
	/*text-transform:capitalize;*/
}


#qnaire button:hover, #qnaire input[type=button]:hover, #qnaire input[type=image]:hover {
	background: #384313;
	cursor: pointer;
}

#qnaire label {
	display:block;
	height:100px;
/*	font-size:1.0em;*/
	padding-top:10px;	
}
	