/* @override search/css/tagsearch.css */

html{height:100%;}

body {
	width: 98%;

	/*background: url(../images/bg_main.jpg) repeat-x ;*/
	background-position:1% 1%;
	/*font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;*/
	font:Arial, Helvetica, sans-serif;
	/*border: 1px solid #000000;*/
	top: 10px;
	left: 10px;
	vertical-align: middle;
	position: absolute;
	/*overflow: auto;
	overflow-y:scroll;*/
}

div#wrap {
	/*background: url(../images/bg_main.jpg) repeat-x ;*/
	background-position:10px 10px;
	width: 98%;
	margin-right: auto;
	margin-left: auto;
	border: 0px;
	height:100%;
	/*overflow: auto;
	overflow-x:hidden;*/


}

div#menu{
	background-color: #A4A6A5;
	padding: 4px;
	color: #FFFFFF;
	/*border: 1px solid #c9c9c9;*/
	margin-bottom: 2px;
	font-size: 15px;
	text-align:right;
}


#header {
	/*height: 115px;
	*/
	margin-bottom: 10px;
	margin-left: auto;
	outline: none;
	/*border-bottom: 1px solid #0000ff;
	width: 250px;
	position: relative;
	top: 56px;
	float: left;
	left: 150px;*/
}



#logo{
	font: normal normal 37px "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	color: #686868;
	display: block;
	/*border-bottom: 1px solid #eaeaea;*/
	margin-top: 6px;
	/*margin-left: 10px;*/
	position: relative;
	float: left;

}

h1.header {
	font: normal normal 37px "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	color: #686868;
	/*display: block;
	border-bottom: 1px solid #eaeaea; 
	margin-top: 20px;
	margin-left: 10px;
	position: relative;
	float: left;
	text-shadow: #fefdff 2px 2px 2px;*/
}

h2.header  {
	color: #898989;
	/*text-shadow: #fefdff 2px 2px 2px;*/
}
h3.header {
	font: normal normal 10px "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	color: #686868;
	display: block;
	/*border-bottom: 1px solid #eaeaea;
	margin-top: 150px;
	margin-left: 10px;
	position: absolute;
	float: left;*/
	/*width: 200px;*/
	/*text-shadow: #fefdff 2px 2px 2px;*/
}

div#small-box {
	float: left;
}

div.tabsWindow {
	position:relative;
}

div.left {
	width: 240px;
	height:0px;
	font-size: 12px;
	padding: 0px;
	background-color: #ffffff;
	/*border: 1px solid #bcbcbc;*/
	display: block;
	overflow: hidden;
}

div.right {
	float: right;
	position: relative;
	width: 85%;
	height:100%;
}

h2.left  {
	color: #b87503;
	font-size: 19px;
	margin-bottom: 4px;
	border-bottom: 1px solid #eeeef0;
}
.left input#query {
	border: 1px solid #dbdbdb;
	font-size: 11px;
	padding: 3px;
	margin-top: 4px;
	margin-bottom: 5px;
	width: 232px;
}

div#pager-header {
	text-align: right;
	background-color: #f3f3f3;
	padding: 4px;
	border: 1px solid #c9c9c9;
	margin-bottom: 9px;
	font-size: 15px;
	color: #323232;
	text-shadow: #f4f4f4 2px 2px 0;
}

ul#pager {
	text-align: center;
	background-color: #e3e3e3;
	padding: 4px;
	border: 1px solid #c9c9c9;
	margin-bottom: 2px;
	font-size: 15px;
}

ul#pager li {
	display: inline-block;
	margin-left: 4px;
	margin-right: 4px;
	vertical-align: middle;
}

ul#pager a {
	text-decoration: none;
	color: #616161;
	display: block;
	background-color: #f6f6f6;
	padding: 1px 3px 0;
	border: 1px solid #d5d5d5;
	vertical-align: middle;
}
ul#pager a:hover {
	background-color: #5690b6;
	color: #fefffe;
}
ul#pager span {
	display: block;
	padding: 1px 3px 0;
}
ul#pager span.pager-current {
	background-color: #5690b6;
	color: #fefffe;
	/*font-weight: bold;*/
	font-weight: bold;
	border: 1px solid #d5d5d5;
}

div#search-box {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 95%;
	float: right;
	border: 1px solid #d1d1d1;
	background-color: #FBFBFB;
	padding: 3px;
}

div#search-box img{
	float: right;
	height: 30px;
	width: 30px;
	padding: 10px 0px 0px 1px;
	cursor: pointer;
}


div#search-box input {
	width: 90%;
	font-size: 20px;
	padding: 10px 0px 10px 10px;
	border:none;
	background-color: #FBFBFB;
	height: 30px;
	outline: none;
}

/*div#search-box input:focus, div#search-box input:hover {
	background-position: 0 -42px;
	border-style: none;
}
/* @group Selection */

div#filter-box {
	font-size: 15px;
	padding: 4px;
	margin-bottom: 7px;
	background-color: #fbfbfb;
	border: 1px solid #d1d1d1;
}

ul#selection {
	margin-bottom: 12px;
	margin-top: 10px;
}
ul#selection li {
	display: inline-block;
	margin-right: 7px;
}
ul#selection a {
	text-decoration: none;
	background-color: #a1d0ef;
	display: inline-block;
	padding: 4px;
	font-size: 12px;
	border: 2px solid #5690b6;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
    border-radius: 5px;
	color: #000000;
}
ul#selection a:hover {
	color: #000000;
	background-color: #9AC7E6;
}
/* @end */
/* @group Docs */


span.table_wrapper {
	display: block;
	border: 1px solid #faa004;
	overflow: auto;
	overflow-x:hidden;
}

table#docs {
	font-size: 14px;
	background-color: #f8f8f8;
	/*width: 100%;*/
	overflow: auto;
	/* overflow-y:hidden;*/
	border:1px solid #5690B6;
}

div.result_table {
	font-size: 11px;
	background-color: #f8f8f8;
	/* height:50%; */
	overflow-y : auto;
	min-height:235px;
	max-height:450px;
}
div#result{
	height:100%;
}
table #docs th {
	background-color: #A4A6A5;
	font-weight: bold;
	text-align: left;
	padding: 4px 5px;
	font-family:Arial;
	font-size:0.9em;
	border: 1px solid #5690B6;
	/* border-color: #5690B6; */
}
table#docs td {
	border-color: #5690B6;
}
.divWithBorderNScroll {
	overflow: auto;
	overflow-y:hidden;
	border: thin solid black;
	border-width:1px
}
.tableth {
	/*background-color: #fdebac;*/
	background-color:#5690B6;
	/*font-weight: bold;*/
	/*text-align: right;*/
	text-align: left;
	padding: 4px 5px;
	/*border-bottom: 1px solid #db9a44;*/
	font-family:Arial;
	font-size:0.9em;
	color:#FFFFFF;
	cursor: pointer;
	cursor: hand;
}

table#docs tr.even {
	background-color: #f4f3f3;
}
table#docs tr.odd {
	background-color: #E0E0E0;
}

table#docs tr:hover{
	background-color: #F5F6CE;

}

.test{
	/*font-weight: bold;*/
	text-align: right;
	vertical-align: top;
}

table#docs td {
	padding: 5px;
	vertical-align: top;
	text-align: left;
}
table#docs tr.col_divider {
	border-bottom: 1px solid #e7e7e7;
	border-color: #c5c5c6;
}
table#docs tr.col_divider:hover {
	background-color: #b4d5ff;
	color: black;
}
/*COLUMNS*/
table#docs #col4 {
	width: 14%;
}
/* @end */
/*
 ListFacetWidget
*/
div.listfacet {
	margin-top: 11px;
}

a.listfacet_item {
	color: #3875d7;
	text-decoration: none;
	display: block;
	margin-bottom: 6px;
	font-size: 12px;
	border-bottom: 1px dashed #d7d7d7;
	padding-bottom: 2px;
}
a.listfacet_item:hover {
	color: #9b6102;
	text-decoration: none;

}
/* @group TagCloud */
div.tagcloud {
	margin-top: 11px;
}

a.tagcloud_item {
	color: #3875d7;
	text-decoration: none;
	display: block;
	margin-bottom: 6px;
	font-size: 12px;
	border-bottom: 1px dashed #d7d7d7;
	padding-bottom: 2px;
}
a.tagcloud_item:hover {
	color: #9b6102;
	text-decoration: none;

}
ul#displayValues{
    background-color: #FBFBFB;
    float: right;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    right: 0;
}
ul#displayValues li {
    border: 1px solid #D1D1D1;
    display: block;
    margin-left: 0;
    margin-right: 0;
}
 