.name-project, .name-release, .name-version {
}

/* Front page H1 */
#page-main h1 {
	font-size: 1.35em;
}

#page-main h1.center {
	text-align: center;
}

h1, h2, h3, h4 {
	/*
	font-style: italic;
	*/
	font-family: luxi sans,sans-serif;
}
h1 {
	font-size: 1.75em;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1.1em;
}

hr {
	border: 0;
	border-bottom: 1px solid #ccc;
}

.fedora-side-right-content {
	padding: 0 5px 1.5em;
}
#fedora-side-right h1, #fedora-side-right h2, #fedora-side-right h3 {
	margin: 0;
	padding: 0 4pt 0;
	font-size: 1em;
	letter-spacing: 2pt;
	border-bottom: 1px solid #bbb;
}
#fedora-side-right hr {
	border-bottom: 1px solid #aaa;
	margin: 0.5em 0;
}

table tr {
	font-size: 0.9em; 
}


#link-offsite {
}
.link-offsite-notation {
	font-size: 0.9em;
	color: #777;
	padding-left: 1pt;
	text-decoration: none !important;
}
#fedora-content .link-offsite-notation {
	color: #999;
}
#link-redhat {
}
#fedora-content #link-redhat {
}
#link-internal {
}

#fedora-content li {
	padding: 1pt;
}

#fedora-content td {
	font-size: .8em;
}

#fedora-content th {
	font-size: .8em;
}

#fedora-content h1 {
	margin-top: 0;
}

#fedora-content a img {
	margin: 1px;
	border: 0;
}
#fedora-content a:hover img {
	margin: 0;
	border: 1px solid #f00;
}
#fedora-content a img.noborder {
	margin: 0;
	border: 0;
}
#fedora-content a:hover img .noborder {
	margin: 0;
	border: 0;
}

#fedora-project-maintainers p, #fedora-project-contributors p, #fedora-project-bugs p {
	margin-left: 5pt;
}

#fedora-project-download dt {
	font-weight: bold;
	margin-top: 8pt;
	margin-left: 5pt;
}
#fedora-project-download dd {
	padding: 0;
	margin: 10px 20px 0;
}
#fedora-project-screenshots a img {
	margin: 5px;
}
#fedora-project-screenshots a:hover img {
	margin: 4px;
}
#fedora-project-todo ul {
	border: 1px solid #cad4e9;
	margin: 0 1em;
	padding: 0;
	list-style: none;
}
#fedora-project-todo li {
	margin: 0;
	padding: 6px 8px;
}
#fedora-project-todo li.odd {
	background-color: #ecf0f7;
}
#fedora-project-todo li.even {
	background-color: #f7f9fc;
}

#fedora-list-packages {
	border-collapse: collapse;
	border: 1px solid #cad4e9;
}
#fedora-list-packages tr.odd td {
	background-color: #ecf0f7;
}
#fedora-list-packages tr.even td {
	background-color: #f7f9fc;
}
#fedora-list-packages th,
#fedora-list-packages td {
	margin: 0;
	padding: 6px 8px;
}
#fedora-list-packages td.column-2 {
	text-align: center;
}
#fedora-list-packages th {
	background-color: #cad4e9;
	color: #000;
	font-weight: bold;
	text-align: center;

}

/* pre.screen is for DocBook HTML output */
code.screen, pre.screen {
	font-family: monospace;
	font-size: 1em;
	display: block;
	padding: 10px;
	border: 1px solid #bbb;
	background-color: #eee;
	color: #000;
	overflow: auto;
	margin: 0.5em 2em;
}
#fedora-project code.screen {
	margin: 0;
}

code.command, code.filename {
	font-family: monospace;
}

code.citetitle {
	font-family: sans-serif;
	font-style: italic;
}

strong.application {
	font-weight: bold;
}
.indent {
	margin: 0 2em;
}
.fedora-docs-nav {
	text-align: center;
	position: relative;
	padding: 1em;
	margin-top: 2em;
	border-top: 1px solid #ccc;
}
.fedora-docs-nav a {
	padding: 0 1em;
}
.fedora-docs-nav-left {
	position: absolute;
	left: 0;
}
.fedora-docs-nav-right {
	position: absolute;
	right: 0;
}