#fade { /*--Transparent background layer--*/
	display: none; /*--hidden by default--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none; /*--hidden by default--*/
	background: #fff;
	padding: 10px 10px 10px 20px;
	border: 10px solid #ddd;
	float: left;
/*	font-size: 1.2em; */
	font-size:12px;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 10px #000;
	-moz-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
	/*--CSS3 Rounded Corners--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
img.btn_close {
	float: right;
	margin: -55px -55px 0 0;
}
/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
	position: absolute;
}
*html .popup_block {
	position: absolute;
}
.caption{
	width:500px;
}
.control{
	width:500px;
} 



/* implemnted style 30-08-2010 */

/* ----- text control diable --------- */
.textdisblae { background-color:#FFFFFF; border:none; color:#FF0000; font-size:14px; font-style:italic; }
.textdisblae span{color:#FF0000; font-size:14px; font-style:italic;}

/* --- header ds name style --- */
.dsname {padding:0px 0px 0px 40px;)