body {
	font-size: 0.9em;
	font-family: bitstream vera sans,sans-serif;
	margin: 0;
	padding: 0;
	/* (The background color is specified elsewhere, so do a global replacement if it ever changes) */
	background-color: #d9d9d9;

}

a:link {
color: #009900;
text-decoration: none;

}

a:visited {
color: #009900;
text-decoration: none
}

a:hover {
color: #009900;
text-decoration: underline;
}

a[name] {
	color: inherit;
	text-decoration: inherit;
}

#fedora-header {
	background-color: #fff;
	height: 72px;
}
#fedora-header img {
	border: 0;
	vertical-align: middle;
}
#fedora-header-logo {
	/* position is offset by the header padding amount */
	position: absolute;
	left: 15px;
	top: 1px;
	z-index: 3;
}

/* ----------- version and build no --------------- */
#fedora-header-logo span{
	float:left;
	width:160px;
	color:#000000;
	margin-left:75px;
	font-size:12px;
	font-weight:normal;
	text-align:left;
}
#fedora-header-logo img {
	width: 250px;
	height: 50;
}
#fedora-header-items {
	/* position is offset by the header padding amount */
	position: absolute;
	right: 10px;
	top: 15px;
	text-align: right;
	display: inline;
}
#fedora-header-items a {
	color: #000;
	text-decoration: none;
	padding: 7pt;
	font-size: 0.8em;
}
#fedora-header-items a:hover, #fedora-header-search-button:hover {
	color: #f20;
	cursor: pointer;
}
#fedora-header-items img {
	margin-right: 1px;
	width: 36px;
	height: 36px;
}
#fedora-header-search {
	height: 25px;
}
#fedora-header-search-entry {
	vertical-align: top;
	margin: 0.65em 4px 0 10px;
	padding: 2px 4px;
	background-color: #f5f5f5;
	border: 1px solid #999;
	font-size: 0.8em !important;
}
#fedora-header-search-entry:focus {
	background-color: #fff;
	border: 1px solid #555;
}
#fedora-header-search-button {
	font-size: 0.8em !important;
	vertical-align: top;
	margin-top: 0.2em;
	border: 0;
	padding: 7px;
	background: #fff url('../img/header-search.png') no-repeat left;
	padding-left: 21px;
}
#fedora-header-items form {
	float: right;
}
#fedora-header-items input {
	font-size: 0.85em;
}
#fedora-nav {
	margin: 0;
	padding: 0;
	background-color: #22437f;
	font-size: 0;
	height: 5px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #f5f5f5;
}
#fedora-nav ul {
	margin: 0;
	padding: 0;
}
#fedora-nav li {
	display: inline;
	list-style: none;
	padding: 0 5pt;
}
#fedora-nav li + li {
	padding-left: 8pt;
	border-left: 1px solid #99a5bf;
}
#fedora-nav a {
	color: #c5ccdb;
	text-decoration: none;
}
#fedora-nav a:hover {
	color: #fff;
}

#fedora-side-left {
	position: absolute;
	z-index: 2;
	width: 11em;
	/* Space down for the approx line height (fonts) */
	left: 12px;
}
#fedora-side-right {
	position: absolute;
	z-index: 1;
	width: 13em;
	right: 12px;
	padding-top: 3px;
	}
#fedora-side-left, #fedora-side-right {
	top: 2px;
	/* add to the top margin to compensate for the fixed sizes */
	margin-top: 75px;
	color: #555;
	font-size: 0.9em;
}
#fedora-side-right ul {
	list-style: square inside;
	padding: 0;
	margin: 0;
}

/* Left-side naviagation */
#fedora-side-nav-label {
	display: none;
}
#fedora-side-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid #5976b2;
	border-top: 0;
	background-color: #22437f;
}
#fedora-side-nav li {
	margin: 0;
	padding: 0;
	border-top: 1px solid #5976b2;
	/* IE/Win gets upset if there is no bottom border... Go figure. */
	border-bottom: 1px solid #22437f;
}
#fedora-side-nav a {
	margin: 0;
	color: #c5ccdb;
	display: block;
	text-decoration: none;
	padding: 4px 6px;
}
#fedora-side-nav a:hover {
	background-color: #34548f;
	color: #fff;
}
#fedora-side-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#fedora-side-nav ul li {
	border-top: 1px solid #34548e;
	background-color: #34548e;
	/* IE/Win gets upset if there is no bottom border... Go figure. */
	border-bottom: 1px solid #34548e;
}
#fedora-side-nav ul li:hover {
	border-bottom: 1px solid #34548f;
}
#fedora-side-nav ul li a {
	padding-left: 12px;
	color: #a7b2c9;
}
#fedora-side-nav ul li a:hover {
	background-color: #46659e;
}
#fedora-side-nav ul ul li a {
	padding-left: 18px;
}
#fedora-side-nav strong a {
	font-weight: normal;
	color: #fff !important;
	background-color: #10203b;
}
#fedora-side-nav strong a:hover {
	background-color: #172e56 !important;
}

/* content containers */
#fedora-middle-one, #fedora-middle-two, #fedora-middle-three {
	font-size: 0.9em;
	/* position: relative; */ /* relative to utilize z-index */
	width: auto;
	min-width: 120px;
	margin: 10px;
	z-index: 3; /* content can overlap when the browser is narrow */
}
#fedora-middle-two, #fedora-middle-three {
	margin-left: 11em;
	padding-left: 24px;
}
#fedora-middle-three {
	margin-right: 13em;
	padding-right: 24px;
}

#fedora-content {
	padding: 24px;
	border: 1px solid #aaa;
	background-color:#FFFFFF;
	width:95%;
}

#fedora-content > .fedora-corner-bottom { top: 0 }

.fedora-corner-tl, .fedora-corner-tr, .fedora-corner-bl, .fedora-corner-br {
	background-color: #ffffff;
	position: relative;
	width: 0px;
	height: 0px;
	/* The following line is to render PNGs with alpha transparency within IE/Win, using DirectX */
	/* Work-around for IE6/Mac borkage (Part 1) */
	display: none;
}

.fedora-corner-tl, .fedora-corner-bl { float: left; left: 0px; }
.fedora-corner-tr, .fedora-corner-br { float: right; right: 0px; }
.fedora-corner-tl, .fedora-corner-tr { top: 0px; }
.fedora-corner-bl, .fedora-corner-br { bottom: 0px; margin-top: -19px; /* Opera fix (part 1) */ top: -18px;}

html>body .fedora-corner-tl { background: #d9d9d9 url("../img/corner-tl.png") no-repeat left top; }
html>body .fedora-corner-tr { background: #d9d9d9 url("../img/corner-tr.png") no-repeat right top; }
html>body .fedora-corner-bl { background: #d9d9d9 url("../img/corner-bl.png") no-repeat left bottom; }
html>body .fedora-corner-br { background: #d9d9d9 url("../img/corner-br.png") no-repeat right bottom; }

/* .fedora-corner-tl { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/corner-tl.png',sizingMethod='scale'); }
.fedora-corner-tr { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/corner-tr.png',sizingMethod='scale'); }
.fedora-corner-br { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/corner-br.png',sizingMethod='scale'); }
.fedora-corner-bl { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/corner-bl.png',sizingMethod='scale'); }
*/

/* \*/
.fedora-corner-tl, .fedora-corner-tr, .fedora-corner-bl, .fedora-corner-br {
	/* Restore the view for everything but IE6/Mac (part 2 of the "IE/Mac fix") */
	display: block;
}
/* */

.fedora-corner-bl, .fedora-corner-br {
	top: 0px;
}

.content { margin: 0 1em }

#fedora-sidelist {
	position: relative;
	bottom: 3px;
	margin: 0;
	padding: 3px !important;
	border: 1px solid #bbb;
	background-color: #ccc;
}
#fedora-sidelist strong a {
	font-weight: normal;
	background-color: #555;
	color: #fff;
}
#fedora-sidelist strong a:hover {
	background-color: #333;
	color: #fff;
}
#fedora-sidelist li {
	list-style-position: outside;
	font-size: 0.9em;
	list-style: none;
	border: 1px solid #ccc;
	border-width: 1px 0;
	padding: 0;
	list-style: none;
}
#fedora-sidelist li a {
	text-decoration: none;
	display: block;
	padding: 6px 8px;
}
#fedora-sidelist li a:hover {
	background-color: #999;
	color: #eee;
}

#fedora-footer {
	font-size: 0.75em;
	text-align: center;
	color: #777;
	margin-bottom: 2em;
}
#fedora-printable {
	text-align: center;
	margin: 1em 0;
	font-size: 0.85em;
}
#fedora-printable a {
	text-decoration: none;
	padding: 5px 0;
	padding-left: 18px;
	background: transparent url("../img/printable.png") no-repeat left;
}
#fedora-printable a:hover {
	text-decoration: underline;
}

table {padding:0;font-family:arial;border-collapse:collapse;border-spacing:0;}

input.button {background-color: #7d97c8; color: #ffffff;}

a.tip{
    position:relative; 
    z-index:24;
	text-decoration:none
}

a.tip:hover{z-index:25;}

a.tip span{display: none}

a.tip:hover span{ 
    display:block;
    position:absolute;
    top:2em; left:2em; width:30em;
    border:1px solid #FFFFFF;
    background-color:#FFECEC; color:#000;
    text-align: center}

table.ttip {
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: rgb(202, 225, 255);
}
table.ttip th {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
	background-color: #2d62b6;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.ttip td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
	background-color: #e7f0fe;
	-moz-border-radius: 0px 0px 0px 0px;
}

input.required1 {
background-color: #ffffff;
border-style: solid solid solid solid;
border-color: #cc3300 #cc3300 #cc3300 #cc3300 ;
border-width: 1px 1px 1px 1px;
}

select.required {
	border: 1px solid #7f9db9;
	background-color: #CEE2F5;
	color: #1f2e6b;	
}

input.required {
	border: 1px solid #7f9db9;
	background-color: #CEE2F5;
	color: #1f2e6b;	
}

input {
	color: #1f2e6b;	
}


select {
	color: #1f2e6b;	
}