body { position:absolute; margin-left:0px; margin-top:0px;overflow:auto;}

.topRightPanel {visibility:visible;margin-left:503px;position:absolute; margin-top:-415;width:250 px;}
.topRightPanel A {font-family: "Verdana, Arial, Helvetica, sans-serif"; text-decoration:underline; color:black; font-weight:bold;font-size:8 ;}
.topRightPanel  A:hover { color:red; }
.topRightPanel Img {align:absbottom border-style:solid ;}
.topRightPanel TR{background-color: #CFC8FF;}
.tableDefault { border-style: none;}
.leftPanelVLine {background-color:#6F67FF;}
.tdDefault { font-family: "Verdana, Arial, Helvetica, sans-serif";color:black;font-size:11;}
td#tdComments{font-family: "Verdana, Arial, Helvetica, sans-serif";color:blue;font-size:12;font-style:italics;}
.leftpanel  {background-color:#6F67FF;position:absolute; margin-top:-438;}

.logo{visibility:visible;margin-left:250px;position:absolute;margin-top:-410;width:250 px;}    
.logo img {border-style:none;color:none;text-decoration:none; }

