<div id='complianceDIV'>
<!-- searchPanelDIV Start -->
<div id='searchPanelDIV'>

  <h3>
    {{L_DB_search_filters}}
  </h3>

  <!-- searchPanelContentDIV Start -->
  <div id='searchPanelContentDIV'>
  <form name="statusForm" id = "statusForm">

    <!-- statusFiltersDIV Start -->
    <div id='statusFiltersDIV'>
      <h3>
        {{L_DB_select_statues}}
      </h3>

      <!-- statusFiltersContentDIV Start -->
      <div id='statusFiltersContentDIV'>
      </div>
      <!-- statusFiltersContentDIV End -->

    </div>
    <!-- statusFiltersDIV End -->

    <!-- searchFiltersDIV Start -->
    <!-- <div id='searchFiltersDIV'>
      <h3>
        {{L_DB_search_filters}}
      </h3>

      searchFiltersContentDIV Start
      <div id='statusFilterContentDIV'>
        <input id='selectedStudies'>
      </input>
      
      <div id='reviewTypeDIV'></div>
      <div id='submissionTypeDIV'></div>
      
        <input id='selectedOrgs'> </input>
     
    </div> -->
    <!-- searchFiltersContentDIV End -->
  </form>
  </div>
  <!-- searchFiltersDIV End -->

</div>
<!-- searchPanelContentDIV End -->
</div>
<!-- searchPanelDIV End -->

<!-- dashBoardContentDIV Start -->
<div id='dashBoardContentDIV'>
  <div>
    <h3>
      {{L_DB_search_results}} 
    </h3>
  </div>
  <script>
  function addnodes(){
	  $('#dashboardDataTableDIV').html("<table id=\"complianceTable\" class=\"stripe compact\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">" +
			  "<thead>" + 
	        "<tr>" + 
	          "<th>" + 
	            "{{L_DB_comp_status}}" + 
	          "</th>" + 
	          "<th>" + 
	           " {{L_DB_color_code}}" + 
	         " </th>" + 
	         " <th>" + 
	         "   {{L_DB_status_date}}" + 
	         " </th>" + 
	         "  <th>" + 
		        "    {{L_DB_submission_since}}" + 
		       "   </th>" + 
		       " <th>" + 
		       "     {{L_DB_study_title}}" + 
		       "   </th>" + 
	          "<th>" + 
	          "  {{L_DB_study_number}}" + 
	        "  </th>" + 
	        "   <th>" + 
		       "     {{L_DB_current_version}}" + 
		      "    </th>" + 
	       "   <th>" + 
	      "      {{L_DB_submission_type}}" + 
	      "    </th>" + 
	      "    <th>" + 
	       "     {{L_DB_submission_board}}" + 
	       "   </th>" + 
	       
	       
	      "    <th>" + 
	       "     {{L_DB_created_on}}" + 
	       "   </th>" + 
	         " <th>" + 
	        "    {{L_DB_submitted_date}}" + 
	        "  </th>" + 
	      "    <th>" + 
	       "     {{L_DB_approved_date}}" + 
	       "   </th>" + 
	        "  <th>" + 
	         "   {{L_DB_total_elapsed_days}}" + 
	         " </th>" + 
	       "   <th style=\"text-align:center\"><input type=\"checkbox\" id=\"selectAllQueries\" /></th>" +      
	     "   </tr>" + 
	    "  </thead>" + 
	  "  </table>");
  }
  addnodes();
  </script>
  
  <!-- dashboardDataTableDIV Start -->
  <div id='dashboardDataTableDIV'>
    
  </div>
  <!-- dashboardDataTableDIV END -->
</div>
<!-- dashBoardContentDIV End -->
</div>