<!doctype html>
<html lang="en">
<head>
<link href="./dashboard/css/jquery-ui.css" rel="stylesheet">
  <link rel="stylesheet" href="/js/jquery/themes/base/jquery.ui.all.css">	
  <link rel="stylesheet" href="/js/jquery/demos/demos.css">
   <script src="./dashboard/js/jquery-ui-1.11.0.js"></script>
   <script language="JavaScript" src="overlib.js"><!-- overLIB (c) Erik Bosrup --></script> 
</head>

<div id="spinner" class="spinner" align="center" style="display:none; z-index: 999;">
<table>
    <tr><td><img id="img-spinner" alt="Loading" style="width:200px; height:20px" src="./images/loader1.gif" /></td></tr>
    <tr><td align="center">Processing...</td></tr></table>
</div>
<!-- searchPanelDIV Start -->
<div id='searchPanelDIV'>

  <h3>
    {{L_Srch_Filtrs}}
  </h3>

  <!-- searchPanelContentDIV Start -->
  <form name="QueryFiltersForm" id = "QueryFiltersForm">
  <div id='searchPanelContentDIV'>
    <!-- statusFiltersDIV Start -->
    <div id='statusFiltersDIV' >
      <h3 >
        <a href="#">Query Alert</a>
      </h3>

      <!-- statusFiltersContentDIV Start -->
      <div id='statusFiltersContentDIV'>
      </div>
      <!-- statusFiltersContentDIV End -->

    </div>
    <!-- statusFiltersDIV End -->
    
    
    	    <!-- saveSearchDIV Start -->
	
	     <!--<div>
	    <input type='button' id='deleteSaveSearch' value='Delete Save Search'>
	    </div>-->
	    <div id='savedSearchDIV' >
	      <table border="0">
	    <tr align="left">
	    <td>
			<a href="#">{{L_Saved_Searches}} </a>
	       </td>
	       <td>
	       <a href="#"><img src="./images/delete.gif" id="deleteSaveSearch" border="0" title="Delete Save Search" style="height:20px;width:15px"/></a>
	       </td>
	      </tr>
		</table>
	
	      <!-- statusFiltersContentDIV Start -->
	      <div id='savedSearchContentDIV'>
	      </div>
	      <!-- savedSearchContentDIV End -->
	
	    </div>
    
  
    
    
    <!-- saveSearchDIV Start -->
<!--<div id='savedSearchDIV' >
      <h3>
       <a href="#">{{L_Saved_Search}}</a>
      </h3>

       statusFiltersContentDIV Start 
      <div id='savedSearchContentDIV'>
      </div>
       savedSearchContentDIV End 

    </div>
    --><!-- saveSearchDIV End -->

    <!-- searchFiltersDIV Start -->
    <div id='searchFiltersDIV' style="height: 480px; max-height: 490px; border:#aaaaaa 1px solid; border-radius: 5px;">
      <h3 id="studyTab1content" class="SearchFilterHeader" style="" >
      			<span class="searchFilterDispVal">{{L_New_srch}}</span>
			
			<!-- <a href="javascript:void(0);" id="refreshSearch" onclick="" title="Refresh Search" >
			<img src="./images/Refresh.gif" border="0">
			</a> -->
			<a href="javascript:void(0);" id="resetSearch" onclick="resetFilter()" title="Reset Search" >
			<img src="./images/reset.gif" border="0">
			</a>
			<!-- @Hemant and Fix for bug #20900<a href="javascript:void(0);" id="resetSearch" onclick="resetFilter()" title="Reset Search" >
			<img src="./images/reset.gif" border="0">
			</a>-->			
			<a href="javascript:void(0);" id="saveSearch" onclick="#" title="Save Search" >
			<img src="./images/save.gif" border="0">
			</a>
     </h3>

      <!-- searchFiltersContentDIV Start -->
      <div id='statusFilterContentDIV' style="width: 97%; height: 91%; overflow: auto; float: right;">
        <div> {{L_Study}}        
        <input type="text" id='selectedStudies' name='selectedStudies'/> </div>        
        <div> {{L_Pat_Enrolling_Site}}
        <input type="text" id='selectedOrgs' name='selectedOrgs'/> </div>
        <div id="formid" style="display:block"> {{L_Form_Dta_Scrn}}
        <input type="text" id='selectedForms' name='selectedForms'/></div>
        
       <div id="advFormid" style="display:none"> {{L_Form_Dta_Scrn}}
        <input type="text" id='selectedAdvForms' name='selectedAdvForms' readonly='readonly'/></div>
        
        <div id="patStudyFormid" style="display:none"> {{L_Form_Dta_Scrn}}
        <input type="text" id='selectedPatStudyForms' name='selectedPatStudyForms' readonly='readonly'/></div>
        
        <div id="formstatus" style="display:block"> {{L_Form_Status}}
        <input type="text" id='selectedFormStatues' name='selectedFormStatues'/> </div>
        
        
          <div id="advevntstatus" style="display:none"> {{L_Advrs_Evnt_Stats}}
        <input type="text" id='selectedAdvEveStatus' name='selectedAdvEveStatus'/> </div>  
        
        <div> {{L_Dta_Entry_Dt_Frm}}
        <input type="text" id='selectedDataEntryDateFrom' value='' class="datefield" onchange="changeDate()" name='selectedDataEntryDateFrom'/> </div>
        
        <div> {{L_Dta_Entry_Dt_to}}
        <input type="text" id='selectedDataEntryDateTo' value='' class="datefield" onchange="changeDate()" name='selectedDataEntryDateTo'/> </div>
        
          <div id="patid" style="display:block"> {{L_Patient_Id}}
        <input type="text" id='selectedPatientId' name='selectedPatientId'/> </div>  
        <!--   @Hemant fixed for bug #21078 start -->
          <div id="patstdid" style="display:block"> {{L_Patient_StudyId}}
          <!--   @Hemant fixed for bug #21078 end -->
        <input type="text" id='selectedPatientStudyId' name='selectedPatientStudyId'/> </div>  
        
          <div id="calid" style="display:none"> {{L_Calndr_Nm}}
        <input type="text" id='selectedCalName' name='selectedCalName'/> </div>  
        
          <div id="visitid" style="display:none"> {{L_Visit_Name}}
        <input type="text" id='selectedVisitName' name='selectedVisitName'/> </div>  
        
          <div id="eventid" style="display:none"> {{L_Event_Name}}
        <input type="text" id='selectedEventName' name='selectedEventName'/> </div>  
        
          <div id="evntdt" style="display:none"> {{L_Event_Date}}
        <input type="text" id='selectedEventDate' value='' class="datefield" onchange="changeDate()" name='selectedEventDate'/> </div>  
        
        <div style="display:none"> {{L_Qry_Cratr}} <!-- This field hide for the bug id #23323 -->
        <input type="text" id='selectedQueryCreator' name='selectedQueryCreator'/> </div>
        
        <div> {{L_Aged_Query_Status}}
        <input type="text" id='selectedQueryStatues' name='selectedQueryStatues'/> </div>
        
        <div> {{L_Qry_Stats_Gt}}
        <input type="text" id='selectedqueryStatuess' value="" name='selectedqueryStatuess' onkeypress="fnOnceEnterKeyPressForQuery(event)"/> </div>
        
        <div> {{L_Totl_Resp_Of1_Qry}}
        <input type="text" id='selectedTotalRespQuery' value="" name='selectedTotalRespQuery' onkeypress="fnOnceEnterKeyPress(event)"/> </div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div align="right" style="display:none"><a href="#" > {{L_Sow_Al_Fltr}} </a></div>
        
      
    </div>
    <!-- searchFiltersContentDIV End -->

 
  </div>
  <!-- searchFiltersDIV End -->

</div>
 </form>
<!-- searchPanelContentDIV End -->
</div>
<!-- searchPanelDIV End -->

<!-- dashBoardContentDIV Start -->
<div id='dashBoardContentDIV'>
  <div>
    <h3>
      {{L_DB_search_results}}
    </h3>
  </div>
 <script>
  function addformQueryTablenodes(){
	  $('#formQueriesTab').html("<table id=\"formQueriesTable\" class=\"stripe compact\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">" +
			  "<thead>" + 
	        "<tr>" + 
	        "   <th style=\"text-align:center\"></th>" +
	         "<th style=\"text-align:center\"></th>" +
	           "<th>" + 
	            "{{L_Totl_Queries}}" + 
	          "</th>" + 
	          "<th>" + 
	           "{{L_Agd_Stat}}" + 
	         " </th>" + 
	         " <th>" + 
	         "{{L_The_Max_Age}}" + 
	         " </th>" + 
	         "  <th>" + 
		"{{L_Trgt_Dys}}" + 
		"   </th>" + 
		" <th>" + 
		"{{L_DB_study_number}}" + 
		"   </th>" + 
	          "<th>" + 
	          "{{L_Enrolling_Site}}" + 
	        "  </th>" + 
	        "   <th>" + 
		"{{L_Patient_StudyId}}" + 
		"    </th>" + 
	       "   <th>" + 
	      "{{L_Form_Name}}" + 
	      "    </th>" + 
	      "    <th>" + 
	       "{{L_Form_Status}}" + 
	       "   </th>" + 
	       "   <th>" + 
	       "{{L_Frm_Trgt_Dys}}" + 
	      "    </th>" + 
	      "    <th>" + 
	       "{{L_Data_EntryDate}}" + 
	       "   </th>" +
	       "   <th>" + 
	      "{{L_Lst_Mdfd_Dt}}" + 
	      "    </th>" + 
	      "    <th>" + 
	       "{{L_Dta_Entrd_By}}" + 
	       "   </th>" +
	       "   <th>" + 
	      "{{L_Calendar}}" + 
	      "    </th>" + 
	      "    <th>" + 
	       "{{L_Visit}}" + 
	       "   </th>" +
	       "   <th>" + 
	      "{{L_Event}}" + 
	      "    </th>" + 
	      "    <th>" + 
	       "{{L_Event_Date}}" + 
	       "   </th>" +
	       "   <th>" + 
	      "{{L_Response_Id}}" + 
	      "    </th>" +     	      
	      "   <th style=\"text-align:center\"></th>" +
	     // "   <th style=\"text-align:center\"></th>" +
	       "   <th style=\"text-align:center\"><input type=\"checkbox\" id=\"selectAllFormResp\" class=\"selectAllFormResp\"/></th>" +      
	     "   </tr>" + 
	    "  </thead>" + 
	  "  </table>");
  }
  addformQueryTablenodes();

  function adverseEventsTablenodes(){  
	  $('#adverseEventsTab').html("<table id=\"adverseEventsTable\" class=\"stripe compact\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">" +
			  "<thead>" + 
	        "<tr>" + 
	        " <th style=\"text-align:center\"></th>" +
	         "<th style=\"text-align:center\"></th>" +
	          "<th>" + 
	            "{{L_Totl_Queries}}" + 
	          "</th>" + 
	          "<th>" + 
	            "{{L_Agd_Stat}}" + 
	          "</th>" + 
	          "<th>" + 
	            "{{L_The_Max_Age}}" + 
	          "</th>" + 
             "  <th>" + 
		"{{L_Trgt_Dys}}" + 
		"   </th>" +  
		"<th>"+
		"{{L_Treat_Crse}}"+
		"</th>"+    
	          "<th>" + 
	            "{{L_DB_study_number}}" + 
	          "</th>" + 
	          "<th>" + 
	            "{{L_Enrolling_Site}}" + 
	          "</th>" + 
	          "<th>" + 
	            "{{L_Patient_StudyId}}" + 
	          "</th>" +
	          "<th>" + 
	            "{{L_Type}}" + 
	          "</th>" + 
	          "<th>" + 
	            "{{L_Category}}" + 
	          "</th>" + 
	          "<th>" + 
	            "{{L_Toxicity}}" + 
	          "</th>" + 
	          "<th>" + 
	            "{{L_Adv_EvtGrade}}" + 
	          "</th>" + 
	          "<th>" + 
	            "{{L_Meddra_Cod}}" + 
	          "</th>" + 
	          "<th>" + 
	            "{{L_Dictionary}}" + 
	          "</th>" + 
	          "<th>" + 
	          "{{L_Attribution}}" + 
	          "  </th>" + 
	          "<th>" + 
	          "{{L_Created_On}}" + 
	          "  </th>" + 
	          "   <th>" + 
	          "{{L_Start_Date}}" + 
	          "    </th>" + 
	          "    <th>" + 
	          "{{L_Stop_Date}}" + 
	          "   </th>" +
	          "<th>" + 
	          "{{L_Lst_Mdfd_Dt}}" + 
	          "  </th>" +       
	          "<th>" + 
	          "{{L_Ae_DiscoveryDate}}" + 
	          "</th>" + 
	          " <th>" + 
	          "{{L_Ae_Log_Dt}}" + 
	          " </th>" +
	          " <th>" + 
	          "{{L_Entered_By}}" + 
	          " </th>" + 
	          "  <th>" + 
			  "{{L_Rpted_By}}" + 
			  "   </th>" + 
			  " <th>" + 
			  "{{L_Outcome_Type}}" + 
			  "   </th>" + 
	          "   <th>" + 
		      "{{L_Action}}" + 
			  "    </th>" + 
	          "   <th>" + 
		      "{{L_Outcome_Notes}}" + 
			  "    </th>" + 
	          "   <th>" + 
			  "{{L_Recvr_Desc}}" + 
		      "    </th>" +
		      "   <th>" + 
	      "{{L_Ae_Status}}" + 
	      "    </th>" +
		       "   <th>" + 
	      "{{L_Response_Id}}" + 
	      "    </th>" +      		      
		       "   <th style=\"text-align:center\"><input type=\"checkbox\" id=\"selectAllAdvEvent\" class=\"selectAllAdvEvent\"/></th>" +  
	     	  "   </tr>" + 
	    	  "  </thead>" + 
	  		  "  </table>");
  }
  
  function patStdStatTablenodes(){  
	  $('#patStdStatTab').html("<table id=\"patStdStatTable\" class=\"stripe compact\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">" +
			  "<thead>" + 
	        "<tr>" + 
	        "<th style=\"text-align:center\"></th>" +
	        "<th style=\"text-align:center\"></th>" +
	          "<th>" + 
	            "{{L_Totl_Queries}}" + 
	          "</th>" + 
	          "<th>" + 
	            "{{L_Agd_Stat}}" + 
	          "</th>" + 
	          "<th>" + 
	            "{{L_The_Max_Age}}" + 
	          "</th>" + 
	          
	         "  <th>" + 
		"{{L_Trgt_Dys}}" + 
		"   </th>" +     
	          "<th>" + 
	            "{{L_Study_Number}}" + 
	          "</th>" + 
	          "<th>" + 
	            "{{L_Enrolling_Site}}" + 
	          "</th>" + 
	          "<th>" + 
	            "{{L_Patient_StudyId}}" + 
	          "</th>" +      
	          "<th>" + 
	            "{{L_Pat_StdStatus}}" + 
	          "</th>" +      
	          "<th>" + 
	            "{{L_Stats_Reson}}" + 
	          "</th>" +      
	          "<th>" + 
	            "{{L_Status_Date}}" + 
	          "</th>" +      
	          "<th>" + 
	            "{{L_Curnt_Stats_Y_N}}" + 
	          "</th>" +      
	          "<th>" + 
	            "{{L_Created_On}}" + 
	          "</th>" +      
	          "<th>" + 
	            "{{L_Entered_By}}" + 
	          "</th>" +      
	          "<th>" + 
	            "{{L_Lst_Mdfd_Dt}}" + 
	          "</th>" +      
	          "<th>" + 
	            "{{L_Last_ModifiedBy}}" + 
	          "</th>" +     		     
		"   </tr>" + 
	    "  </thead>" + 
	  "  </table>");
  }   

  function patDemographicsTablenodes(){  
	  $('#patDemographicsTab').html("<table id=\"patDemographicsTable\" class=\"stripe compact\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">" +
			  "<thead>" + 
	        "<tr>" + 
	          "<th>" + 
	            "{{L_Query_Status}}" + 
	          "</th>" + 
	          "<th>" + 
	            "{{L_Stats_Dys}}" + 
	          "</th>" + 
	          "<th>" + 
	            "{{L_Totl_Queries}}" + 
	          "</th>" + 
	          "<th>" + 
	            "{{L_Study_Number}}" + 
	          "</th>" + 
	          "<th>" + 
	            "{{L_Regst_Org}}" + 
	          "</th>" + 
	          "<th>" + 
	            "{{L_Reg_Date}}" + 
	          "</th>" +      
	          "<th>" + 
	            "{{CTRP_ACCR_Patient_Id}}" + 
	          "</th>" +      
	          "<th>" + 
	            "{{L_Facility_Id}}" + 
	          "</th>" +      
	          "<th>" + 
	            "{{L_First_Name}}" + 
	          "</th>" +      
	          "<th>" + 
	            "{{L_Last_Name}}" + 
	          "</th>" +      
	          "<th>" + 
	            "{{L_Dob}}" + 
	          "</th>" + 
	          "<th>" + 
	            "{{L_Gender}}" + 
	          "</th>" +   
	          "<th>" + 
	            "{{L_Created_On}}" + 
	          "</th>" +      
	          "<th>" + 
	            "{{L_Entered_By}}" + 
	          "</th>" +      
	          "<th>" + 
	            "{{L_Lst_Mdfd_Dt}}" + 
	          "</th>" +      
	          "<th>" + 
	            "{{L_Last_ModifiedBy}}" + 
	          "</th>" +     
		      "   <th style=\"text-align:center\"></th>" +
		"   </tr>" + 
	    "  </thead>" + 
	  "  </table>");
  } 

  /*Start Bugs #21114 and #21074 by Shoaib and Rashi*/
  $("#selectedStudies").click(function(){
	  	var selectedstdy=$("#selectedStudies").val();
	  	var modulename=$("#modulename").val();
	  	var selectedorgs=$("#selectedOrgs").val();
	  	if(selectedstdy=='' && modulename=="formresponse")
	  	{
	  	//searchSaveFilter();
	  	queryManagement.pageLoaderShow();
		queryManagement.clearFilters(0);
		$("#adverseEventsTable").dataTable().fnDestroy();
		$("#formQueriesTable").dataTable().fnDestroy();    
		$("#formQueriesTable").empty();
		addformQueryTablenodes();
		$('#formRespTabHeader').html('');
		$('#advEveTabHeader').html('');
      	$('#patStdStatTabHeader').html('');
		$('#formQueriesTab').html("<p>"+"\""+"Please select a saved search or one or more studies from the left hand panel to begin your search. Use other filters as needed."+"\""+"</p>");
		queryManagement.renderUpdateDiv('#formQueriesTable_filter');
		queryManagement.pageLoaderHide();
		queryManagement.renderSearchTab(0);
		$('[href="#adverseEventsTab"]').closest('li').show();
		$('[href="#patStdStatTab"]').closest('li').show();
		
			//$('[href="#adverseEventsTab"]').closest('li').hide();
			//$('[href="#patStdStatTab"]').closest('li').hide();
			
	  	}	
	  	else if(selectedstdy=='' && modulename=="adverseevent")
	  	{
	  		 queryManagement.pageLoaderShow();
	  	     queryManagement.clearFilters(1);
	  	     $("#formQueriesTable").dataTable().fnDestroy();
	  	     $("#adverseEventsTable").dataTable().fnDestroy();    
	  	 	 $("#adverseEventsTable").empty();
	  	 	 adverseEventsTablenodes();
	  	 	 $("#selectedAdvForms").val('');
	  	 	 $('#formRespTabHeader').html('');
			 $('#advEveTabHeader').html('');
	      	 $('#patStdStatTabHeader').html('');
	  	 	 $('#adverseEventsTab').html("<p>"+"\""+"Please select a saved search or one or more studies from the left hand panel to begin your search. Use other filters as needed."+"\""+"</p>");
	  	 	 
	  	 	 queryManagement.renderUpdateDiv('#adverseEventsTable_filter');
	  	 	 queryManagement.pageLoaderHide();
	  		 queryManagement.renderSearchTab(1);
	  	 }
	  	else if(selectedstdy=='' && modulename=="patientstdstat")
	  	{
	  		queryManagement.pageLoaderShow();
	  	    queryManagement.clearFilters(2);
	  	    $("#patStdStatTable").dataTable().fnDestroy();    
	  		$("#patStdStatTable").empty();
	  		patStdStatTablenodes();
	  		$("#selectedPatStudyForms").val('');
	  		$('#formRespTabHeader').html('');
			$('#advEveTabHeader').html('');
	      	$('#patStdStatTabHeader').html('');
	  		$('#patStdStatTab').html("<p>"+"\""+"Please select a saved search or one or more studies from the left hand panel to begin your search. Use other filters as needed."+"\""+"</p>");
	  		
	  		queryManagement.pageLoaderHide();
	  		queryManagement.renderSearchTab(2);
	  	}
	 });

   /*End Bug #21114 and #21074*/
  
  </script>

  <!-- dashboardDataTableDIV Start -->
  <div id='dashboardDataTableDIV'>
    <div id="queryTabs"  style="overflow: auto;">
      <ul>
        <li id='formRespTabHeaderReload'>
        <a href="#formQueriesTab">
          Form Responses<span id='formRespTabHeader'></span>
        </a>
      </li>
      <li id='advEveTabHeaderReload'>
      <a href="#adverseEventsTab">
         Adverse Events<span id='advEveTabHeader'></span>
      </a>
    </li>
    <li id='patStdStatTabHeaderReload'>
    <a href="#patStdStatTab">
      Patient Study Status<span id='patStdStatTabHeader'></span>
    </a>
  </li>
  <li id='patDemographicsTabHeaderReload' style="display:none;"><!-- Hide the PatDemoGraphicsTab -->
  <a href="#patDemographicsTab">
    Patient Demographics <span id='patDemographicsTabHeader'></span>
  </a>
</li>
</ul>

<div id="formQueriesTab" style="overflow: auto;">
  </div>

<div id="adverseEventsTab" style="overflow: auto;">
</div>

<div id="patStdStatTab" style="overflow: auto;">
</div>

<div id="patDemographicsTab" style="overflow: auto;">
</div>

</div>
</div>
<!-- dashboardDataTableDIV END -->
</div>
<div id="dialogDelete" title="Save Filter(s)" style="display:none; background-color:#f2f2f2; width:400px;">
<div id="formdiv" style="display:block; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:8pt;">
<p style="font-family:Verdana,Arial,Helvetica,sans-serif; font-size:8pt;">SAVE AS*</FONT>&nbsp
	<input type="text" name="saveAS" id="saveAS" 
	   />&nbsp;</p>
<p align="right"><button id="submit_btn">SAVE</button>&nbsp;&nbsp<button id="closeBttn" onclick="$('#dialogDelete').dialog('close');return false;">CANCEL</button></p>
</div>
<div id='progressMsg' style="display:none;"><p class="sectionHeadings" align="center">  </p></div>
<div id='successMsg' style="display:none;"><p class="sectionHeadings" align="center">  </p></div>
</div>
<!-- dashBoardContentDIV End -->



<div id="responseView" title="Response View" style="display:none; background-color:#f2f2f2; width:900px;">
<table width="100%" height="100%" cellpadding="3px" cellspacing="3px">
	<div id="ddOpt" style="font-family:Arial,Helvetica,sans-serif;font-size:12">
	<tr height="7%">
	<td>
	<table width="100%" height="5%">
		<tr >
	    	<td id="backwardId" width="10%"><a href="javascript:void(0);" id="bwdId"  name="bwdTab" data-index="0"  title="Backward" onclick="backwardMove();"><img src="../images/jpg/imagesBackward.jpg" alt="Backward" title="Backward" border="0"></a></td>
	    	<td id="studyId"></td>
	    	
	 		<td id=formNameId></td>  
		</tr>	
		<tr >
			<td id="new1icon"></td>
			<td id=frmStatus></td>
		 	<td id=organization></td>
		</tr>
	</table>
	</td>
	<td></td>
	<td>
	<table width="100%" height="5%">
	<tr>
    
    	<td id=entryDate></td>
    	<td id=PatientStudyID></td>
    	<td id=responseId></td>
    	
    	<td id="forwardId" align="right"><a href="javascript:void(0);" id="frdId"  name="frdTab" data-index="0"  title="Forward" onclick="forwardMove();"><img src="../images/jpg/imagesForward.jpg" alt="Forward" title="Forward" border="0"></a></td>
	</tr>
	<tr>
   		<td id=calender></td>
    	<td id=visit></td>
    	<td id=event></td>
    	<td></td>
	</tr>
	</table>
	</td>
	</tr>
	<tr height="7%">	
	<td></td>
	<td>
	
	</td>
     </tr>
	</div>
	<tr>
	<td id="previewTDLeft" valign="top" width="49%" height="100%">				
			<iframe name="preview" id="preview" src="about:blank" width="100%" height="100%" frameborder="1" scrolling="yes" allowautotransparency=true></iframe>
	</td> 
	<td id = "toggleTD" valign="center" width="1%">
	<a id = "toggleFormResponseDIV" style="padding-left: 10px;" href="#"><img id="toggleFormResponses" title="Show Form Responses" src="../images/jpg/ListCollapse.jpg" style="border:none;"></a>
	</td>
	<td id="previewTDRight" valign="top" width="50%" height="100%">				
			<iframe name="preview1" id="preview1" src="about:blank" width="100%" height="100%" frameborder="1" scrolling="yes" allowautotransparency=true></iframe>
	</td> 	
	</tr>
</table>
</div>

<script>
    $("#formRespTabHeaderReload").click(function() {
     filterEmtyFlag=1;
   /* *******************Check StudyTeamRole after switch Tab************************** */
    if(clearStudyRoleForTab==1){
    filterStudyTRole='';
    studyTeamrole='';
    
    }
   /* *******************Check StudyTeamRole after switch Tab************************** */
        queryManagement.pageLoaderShow();
       // queryManagement.clearFilters(0);
        queryManagement.commonFiltersSetting(0);
        $("#adverseEventsTable").dataTable().fnDestroy();
        $("#formQueriesTable").dataTable().fnDestroy();    
    	$("#formQueriesTable").empty();
    	addformQueryTablenodes();

         /*do not render the data in table if search study is null and will be msg display ---vivek*/
        if($('#selectedStudies').val()==null ||$('#selectedStudies').val()==''){
          $('#formRespTabHeader').html('');
          $('#formQueriesTab').html("<p>"+"\""+"Please select a saved search or one or more studies from the left hand panel to begin your search. Use other filters as needed."+"\""+"</p>");
        }else{
        queryManagement.latestTeamroleForMultipleStudy('tabChanged');
           queryManagement.renderFormQueryDataTable();
            queryManagement.renderUpdateDiv('#formQueriesTable_filter');
    	   
	        queryManagement.renderSearchTab(0);
             }
        /*Start Bug #21074 by Shoaib and Rashi*/     
           /*++++++++++++++++++++++++hide due to common filter implementation.+++++++++++++++++++++++++ 
           $('#formRespTabHeader').html('');   
         	$('#formQueriesTab').html("<p>"+"\""+"Please select a saved search or one or more studies from the left hand panel to begin your search. Use other filters as needed."+"\""+"</p>");
         	++++++++++++++++++++++++hide due to common filter implementation.+++++++++++++++++++++++++*/
        

	/*var selectedorgs=$("#selectedOrgs").val();
	var selectedstdy=$("#selectedStudies").val();
	if(selectedstdy=='' || selectedorgs!='')
	{
		if(selectedorgs==0)
		{
			$('[href="#adverseEventsTab"]').closest('li').hide();
			$('[href="#patStdStatTab"]').closest('li').hide();
		}
	}*/
	/*End Bug #21074 by Shoaib*/
	 queryManagement.renderSearchTab(0);
	 queryManagement.pageLoaderHide();
	queryManagement.defaultElemt(0);
	
});
    
    $("#advEveTabHeaderReload").click(function() {
     filterEmtyFlag=1;
    if(clearStudyRoleForTab==1){
     filterStudyTRole='';
     studyTeamrole='';
    
    }
    
        queryManagement.pageLoaderShow();
       // queryManagement.clearFilters(1);
        queryManagement.commonFiltersSetting(1);
        $("#formQueriesTable").dataTable().fnDestroy();
        $("#adverseEventsTable").dataTable().fnDestroy();    
    	$("#adverseEventsTable").empty();
    	
    	if($('#selectedStudies').val()==null ||$('#selectedStudies').val()==''){
          $('#advEveTabHeader').html('');
          $('#adverseEventsTab').html("<p>"+"\""+"Please select a saved search or one or more studies from the left hand panel to begin your search. Use other filters as needed."+"\""+"</p>");
        }else{
         queryManagement.latestTeamroleForMultipleStudy('tabChanged');
        adverseEventsTablenodes();
           queryManagement.renderAdvEventQueriesDataTable(); 
           queryManagement.renderUpdateDiv('#adverseEventsTable_filter');	        
             }
              queryManagement.renderSearchTab(1);
              queryManagement.pageLoaderHide();
              queryManagement.defaultElemt(1);
    /*++++++++++++++++++++++++hide due to common filter implementation.+++++++++++++++++++++++++
            	$('#advEveTabHeader').html('');
            	$('#adverseEventsTab').html("<p>"+"\""+"Please select a saved search or one or more studies from the left hand panel to begin your search. Use other filters as needed."+"\""+"</p>");
    ++++++++++++++++++++++++hide due to common filter implementation.+++++++++++++++++++++++++*/
            	
         
    	
	 
    });
    
    $("#patStdStatTabHeaderReload").click(function() {
     filterEmtyFlag=1;
    if(clearStudyRoleForTab==1){
     filterStudyTRole='';
     studyTeamrole='';
    
    }
         queryManagement.pageLoaderShow();
         //queryManagement.clearFilters(2);
         queryManagement.commonFiltersSetting(2);
         $("#patStdStatTable").dataTable().fnDestroy();    
    	$("#patStdStatTable").empty();
    	
    	if($('#selectedStudies').val()==null ||$('#selectedStudies').val()==''){
          $('#patStdStatTabHeader').html('');
          $('#patStdStatTab').html("<p>"+"\""+"Please select a saved search or one or more studies from the left hand panel to begin your search. Use other filters as needed."+"\""+"</p>");
        }else{
           patStdStatTablenodes();
            queryManagement.latestTeamroleForMultipleStudy('tabChanged');
           queryManagement.renderPatStdStatDataTable();
             }
    	/*++++++++++++++++++++++++hide due to common filter implementation.+++++++++++++++++++++++++
    	$('#patStdStatTabHeader').html('');
            	$('#patStdStatTab').html("<p>"+"\""+"Please select a saved search or one or more studies from the left hand panel to begin your search. Use other filters as needed."+"\""+"</p>");
            ++++++++++++++++++++++++hide due to common filter implementation.+++++++++++++++++++++++++*/
             queryManagement.renderSearchTab(2);
    	queryManagement.pageLoaderHide();
	  
	    queryManagement.defaultElemt(2);
    });
    $("#patDemographicsTabHeaderReload").click(function() {
     filterEmtyFlag=1;
    if(clearStudyRoleForTab==1){
     filterStudyTRole='';
     studyTeamrole='';
    
    }
         queryManagement.pageLoaderShow();
         queryManagement.clearFilters(3);
         $("#patDemographicsTable").dataTable().fnDestroy();    
    	$("#patDemographicsTable").empty();
    	patDemographicsTablenodes();
    	queryManagement.renderpatDemographicsDataTable();
    	queryManagement.renderSearchTab(3);
    	queryManagement.pageLoaderHide();
	
    });
    $("#saveSearch").click(function() { 
     
        $("#saveAS").val('');
    		$("#dialogDelete").dialog({
    			modal:true,
    			width: '27%' ,
    			close: function(ev, ui) {$(this).dialog('destroy');  }
    		});
    });
     $("#submit_btn").click(function() {  /***** @Hemant fixed for bug #21105 start *****/
    var saveAs=$('#saveAS').val();    
    var countsaved = document.getElementById("savedsrchcnt").value;
     var savedsrchcnt1_="savedsrchcnt1_";
     for(var i=0;i<countsaved;i++){
     savedsrchcnt1_ = savedsrchcnt1_+i;
     if(queryManagement.encodeUrlParam(saveAs) == document.getElementById(savedsrchcnt1_).value )
     {
       alert("Duplicate name to save search are not allowed.");
       document.getElementById("saveAS").value="";
       document.getElementById("saveAS").focus();
       return false;
     }
     savedsrchcnt1_ = "savedsrchcnt1_";
   }
   /***** @Hemant fixed for bug #21105 end *****/
      queryManagement.saveSearchFilter("saveSearch"); 
       $( "#dialogDelete" ).dialog("close");
    });
/*$( "#selectedAdvForms" ).focus(function() {
          document.getElementById('formid').style.display ='block';
		  document.getElementById('advFormid').style.display ='none';
		  document.getElementById('patStudyFormid').style.display ='none';
		  
});
$( "#selectedPatStudyForms" ).focus(function() {
          document.getElementById('formid').style.display ='block';
		  document.getElementById('advFormid').style.display ='none';
		  document.getElementById('patStudyFormid').style.display ='none';
		  
});*/
function searchSaveFilter(){
var searchData=jQuery("input:radio[name=savedSearch]:checked").val();

/*Start Bug #21114 by Shoaib and Rashi*/
var modulename=jQuery("#modulename").val();
var tabSelected =  $("#queryTabs").tabs('option', 'active');
if(searchData=="none" && modulename=="formresponse")
{
	queryManagement.pageLoaderShow();
	queryManagement.clearFilters(0);
	$("#adverseEventsTable").dataTable().fnDestroy();
	$("#formQueriesTable").dataTable().fnDestroy();    
	$("#formQueriesTable").empty();
	addformQueryTablenodes();
	$('#formRespTabHeader').html('');
	$('#formQueriesTab').html("<p>"+"\""+"Please select a saved search or one or more studies from the left hand panel to begin your search. Use other filters as needed."+"\""+"</p>");
	queryManagement.renderUpdateDiv('#formQueriesTable_filter');
	queryManagement.pageLoaderHide();
	queryManagement.renderSearchTab(0);
	$('[href="#adverseEventsTab"]').closest('li').show();
	$('[href="#patStdStatTab"]').closest('li').show(); 
	/*Start Bug #21074 by Rashi and Shoaib*/
	//$('[href="#adverseEventsTab"]').closest('li').hide();
	//$('[href="#patStdStatTab"]').closest('li').hide(); 
	/*End Bug #21074*/
}
else if(searchData=="none" && modulename=="adverseevent")
{

	 queryManagement.pageLoaderShow();
     queryManagement.clearFilters(1);
     $("#formQueriesTable").dataTable().fnDestroy();
     $("#adverseEventsTable").dataTable().fnDestroy();    
 	 $("#adverseEventsTable").empty();
 	 adverseEventsTablenodes();
 	 $('#advEveTabHeader').html('');
            	$('#adverseEventsTab').html("<p>"+"\""+"Please select a saved search or one or more studies from the left hand panel to begin your search. Use other filters as needed."+"\""+"</p>");
 	 queryManagement.renderUpdateDiv('#adverseEventsTable_filter');
 	 queryManagement.pageLoaderHide();
	 queryManagement.renderSearchTab(1);
	 queryManagement.defaultElemt(1);
}
else if(searchData=="none" && modulename=="patientstdstat")
{
	queryManagement.pageLoaderShow();
    queryManagement.clearFilters(2);
    $("#patStdStatTable").dataTable().fnDestroy();    
	$("#patStdStatTable").empty();
	patStdStatTablenodes();
	$('#patStdStatTabHeader').html('');
            	$('#patStdStatTab').html("<p>"+"\""+"Please select a saved search or one or more studies from the left hand panel to begin your search. Use other filters as needed."+"\""+"</p>");

	queryManagement.pageLoaderHide();
	queryManagement.renderSearchTab(2);
	queryManagement.defaultElemt(2);
}
else
{
	queryManagement.renderFromSelected(searchData);
	/*Start Bug #21074 by Rashi and Shoaib*/
	if(tabSelected==0)
	{
		var selectedorgs=$("#selectedOrgs").val();
		var selectedstdy=$("#selectedStudies").val();
		if(selectedstdy!='' && selectedorgs!='')
		{
			if(selectedorgs==0)
			{
				$('[href="#adverseEventsTab"]').closest('li').hide();
			  	$('[href="#patStdStatTab"]').closest('li').hide();
			}
			else
			{
				$('[href="#adverseEventsTab"]').closest('li').show();
				$('[href="#patStdStatTab"]').closest('li').show();  
			}	
		}
	  else
	  {
		 	$('[href="#adverseEventsTab"]').closest('li').show();
			$('[href="#patStdStatTab"]').closest('li').show();  
	  }
		$('#advEveTabHeader').html('');
      	$('#patStdStatTabHeader').html('');
	}
		else if(tabSelected==1)
			{
				$('#formRespTabHeader').html('');
				$('#patStdStatTabHeader').html('');
			}
		else if(tabSelected==2)
			{
				$('#formRespTabHeader').html('');
				$('#advEveTabHeader').html('');
			}
	/*End Bug #21074*/
}
/*End Bug #21114*/
}

function forwardMove(){

var indexNum = $('#frdId').data("index");
     queryManagement.moveFormRes(indexNum,'forward');
}
function backwardMove(){

var indexNum = $('#bwdId').data("index");
     queryManagement.moveFormRes(indexNum,'backward');
}


/* NEW ENHANCEMENT    */

$('#deleteSaveSearch').click(function(){
	queryManagement.deleteSaveSearch();
	$("#savedSearchDIV").accordion({active:1});
});
  /*Start Bug #22524 by Amit Chaudhary*/
   
   $(document).on('click', "button.ColVis_Button", function() {
    $(".ColVis_collection").css('height','300px');
		 $(".ColVis_collection").css('overflow','auto');
	setTimeout(function(){
   queryManagement.showHideButtonClick();
   }, 1000);     
});
   
   /*End Bug #22524 by Amit Chaudhary*/
</script>
<!-- @Hemant line#(258-260,267-269)fixe for bug#21123,21122 -->
</html>