@charset "iso-8859-1";
/* ns_1024.CSS.CSS */


/************ APPLICATION FORMS **********/ 
DIV.formDefault {padding: 0%;
text-align: justify;
/*margin-right: 15%;
margin-left:  136px;*/
background-color: #f7f7f7;
color: #000000;
position: absolute;
left: 2px;
width:99%;
height:500px;
top: 92px;
overflow: auto;
}

/************ APPLICATION BROWSERS **********/
DIV.browserDefault {padding: 0%;
text-align: justify;
/*margin-right: 15%;
margin-left:  136px;*/
background-color: #f7f7f7;
color: #000000;
position: absolute;
left: 2px;
width:99%;
height:500px;
top: 92px;
overflow: auto;
border: 1px solid #008080;
}
/************ NEW PAGINATED BROWSERS **********/
DIV.pgbrowse {padding: 0%;
text-align: justify;
/*margin-right: 15%;
margin-left:  136px;*/
background-color: #f7f7f7;
color: #000000;
position: absolute;
left: 2px;
width:99%;
height:475px;
top: 92px;
overflow: auto;
}

/***********Page with Form as well as browser*************/
DIV.formBrwDefault {visibility:visible;position:absolute; margin-top:-547px;overflow:auto;height:630px;width:956px;}

/************ APPLICATION POPUP PAGES **********/
DIV.popDefault {visibility:visible;margin-left:0px;position:absolute;height:300px;margin-top:10px;width:800px;}


/********MENU DIV****/
DIV.mainMenu{margin-top:-482px; ;margin-left:-3px;width:132 px;position:absolute;}
/*****************************************/

/************ MY LINKS ********** *****/
DIV.myLinks {visibility:visible;
margin-left:73%;
position:absolute;
margin-top:0px;
z-index:2;
width:150 px;
background-color:#f7f7f7;
}

/************ Account LINKS ********** *****/

DIV.accLinks {visibility:visible;position:absolute;margin-top:5px;z-index:2;width:190px;background-color:#f7f7f7;}

/************ MY STUDIES ON HOMEPAGE*************/
DIV#myStudies {visibility:visible;position:absolute;margin-top:-15px;
z-index:1;
overflow: auto;width:99%;background-color:#f7f7f7;height:89%;}


/************ Center watch**********/
IFrame.cw {visibility:visible;margin-left:-30px;position:absolute;margin-top:0;overflow:auto;height:350px;width:420px;border-style:none;}
/**************** REPORTS*******************/

/*************** PATIENT SEARCH IN POPUP MODE*********************//
DIV.browserDefaultPat {visibility:visible;margin-left:0;position:absolute; margin-top:-150px;overflow:auto;height:360px;width:600px;}
/****************************************/

/************ FORM WITH LINKS USED IN ADVERSE EVENTS*************/
DIV.formWithLinks {visibility:visible;margin-left:0;position:absolute;margin-top:-20px;z-index:1;overflow:hidden;width:700px;background-color:#FFFFFF;}
/*****************************************/


/************ Account LINKS for Adverse Event ********** *****/
DIV.accLinksmgpat {visibility:visible;position:relative;margin-top:-600px;z-index:2;width:190px;background-color:#f7f7f7;margin-left:-50px;BORDER:DASHED;BORDER-WIDTH:1PX;}
/*****************************************/

/************ MY LINKS for adverse event********** *****/
DIV.myLinksmgpat {visibility:visible;margin-left:680px;position:absolute;margin-top:-400px;z-index:2;width:220px;background-color:#f7f7f7;}



div#page {
width:100%;
height:100%;
}



DIV.tabDefTop {visibility:visible;
position:absolute;
overflow:auto;
top:92px;
height:92px;
width:99%;
left:2px;}


DIV.tabDefBot {padding: 0%;
text-align: justify;
/*margin-right: 15%;
margin-left:  157px;*/
background-color: #f7f7f7;
color: #000000;
position: absolute;
left: 2px;
width:99%;
height:405px;
top: 186px;
overflow: auto;
border-top: groove;
border-bottom: groove;
}



DIV.eSig {padding: 1%;
text-align: justify;
margin-right: 15%;
margin-left:  2px;
background-color: #f7f7f7;
color: #000000;
position: fixed;
width:80%;
height:38px;
top: 560px;
overflow: auto;
}


DIV.tabFormTop {visibility:visible;
left:12em;
position:absolute;
overflow:auto;
top:170px;
height:84px;
width:80%;
left:157px;}


DIV.tabFormBot {padding: 0%;
text-align: justify;
/*margin-right: 15%;
margin-left:  157px;*/
background-color: #f7f7f7;
color: #000000;
position: absolute;
left: 2px;
width:99%;
height:322px;
top: 270px;
overflow: auto;
border-top: groove;
border-bottom: groove;
}


/************ Vs 8 *****/
DIV.tabDefTopN {visibility:visible;
position:absolute;
overflow:auto;
top:96px;
height:92px;
width:99%;
left:2px;}


DIV.tabDefBotN {padding: 0%;
text-align: justify;
/*margin-right: 15%;
margin-left:  145px;*/
background-color: #f7f7f7;
color: #000000;
position: absolute;
left: 2px;
width:99%;
height:75%;
top: 125px;
overflow: auto;
border: 1px solid #008080;
}

div#logo {padding: 0%;
background-color: #dcdcdc;
color: #ffffff;
position: absolute;
left: 2px;
top: 0px;}

div#logo img {
width: 50px;
height: 40px;
}

div#header {padding: 0%;
background-color: #dcdcdc;
color: #ffffff;
border-bottom: solid 1px #cccccc;
height: 90px;
}


div#leftcolumn {padding: 0%;
text-align: right;
background-color: #dcdcdc;
color: #000000;
width: 150px;
height: 100%;
position: absolute;
top: 92px;
border-right: solid 1px #cccccc;
}

/*Defined for individual browser*/
div.TableContainer {
 overflow-x:auto;
 overflow-y:hidden;
 width: 96%;
 border: solid 1px;
}

DIV.BgtDivBottom {padding: 0%;
text-align: justify;
/*margin-right: 15%;
margin-left:  145px;*/
background-color: #f7f7f7;
color: #000000;
position: absolute;
left: 2px;
width:99%;
height:75%;
top: 155px;
overflow: none;
}

DIV.BgtTabFormBotN {padding: 0%;
text-align: justify;
/*margin-left:  145px;
background-color: #f7f7f7;*/
color: #000000;
position: absolute;
left: 2px;
width:99%;
height:57%;
top: 235px;
overflow:hidden;
border-top: solid 2px #A9A9A9;
border-bottom: none;
border-left: none;
border-right: none;
border-collapse: separate;
}

DIV.BgtTabFormN {padding: 0%;
text-align: justify;
/*margin-right: 5%;
margin-left: 145px;*/
background-color: #f7f7f7;
color: #000000;
position: absolute;
left: 2px;
width:99%;
height:75%;
top: 145px;
overflow:hidden;
border-top: solid 2px #A9A9A9;
border-bottom: none;
border-left: none;
border-right: none;
border-collapse: separate;
}

DIV.BgtComb {visibility:visible;margin-left:0px;position:absolute;height:70%;top:75px;margin-top:10px;width:100%;overflow-x:auto; overflow-y:hidden;}

DIV.BgtTopGrey {visibility:visible;
position:absolute;
background-color: #f7f7f7;
overflow:auto;
top:5px;
height:130px;
width:98%;}

DIV.BrowserTopN {visibility:visible;
position:absolute;
overflow:auto;
top:96px;
height:92px;
width:99%;
left:2px;}


DIV.BrowserBotN {padding: 0%;
text-align: justify;
/*margin-right: 15%;
margin-left:  145px;*/
background-color: #f7f7f7;
color: #000000;
position: absolute;
left: 2px;
width:99%;
height:75%;
top: 150px;
overflow: auto;
border: 1px solid #008080;
}



DIV.tabFormTopN {visibility:visible;
position:absolute;
overflow:auto;
top:130px;
height:130px;
width:99%;
left:2px;}


DIV.tabFormBotN {padding: 0%;
text-align: justify;
/*margin-right: 15%;
margin-left:  145px;*/
background-color: #f7f7f7;
color: #000000;
position: absolute;
left: 2px;
width:99%;
height:55%;
top: 245px;
overflow: auto;
border-top: solid 2px #A9A9A9;
border-bottom: none;
border-left: none;
border-right: none;
}

DIV.tabFormBotNInv {padding: 0%;
text-align: justify;
/*margin-right: 15%;
margin-left:  145px;*/
background-color: #f7f7f7;
color: #000000;
position: absolute;
left: 2px;
width:99%;
height:55%;
top: 260px;
overflow: auto;
border-top: solid 2px #A9A9A9;
border-bottom: none;
border-left: none;
border-right: none;
}
