li.haschildren:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: -7px;
    top: 13px;
    height: 0px;
    width: 0px;
    border: none;
    border-top: 5px solid #ffffff;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
}
#nav-one>LI {
    margin-right: 14px;
}
.dropmenu li a {
    font-family: 'Open Sans', sans-serif;
}
form#searchstudyform input {
    background: #fdfdfd !important;
    border: 0px;
    padding-left: 13px;
}
li.haschildren:hover .submenu {
    display: block !important;
}
li.haschildren>a:hover {
    background: transparent !important;
}
form#searchstudyform input::placeholder { /* Firefox, Chrome, Opera */ 
    color:#106CB7; 
} 
  
form#searchstudyform input:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
   color:#106CB7;  
} 
  
form#searchstudyform input::-ms-input-placeholder { /* Microsoft Edge */ 
    color:#106CB7; 
} 
span.custom-search {
    position: absolute;
    top: 7px;
    right: 47px;
    font-size: 15px;
}
form#searchstudyform {
    position: relative;
}
.hide-this {
    display: none;
}
ul.custom-right-details li {
    display: inline-block;
    font-size: 13px;
    margin-left: 0px;
    margin-right: 11px;
}
ul.custom-right-details li a {
    color: #fff;
    font-size: 16px;
}
table.outline th {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding-left: 10px;
}
table.custom-table-heading td {
    padding: 3px 18px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
table.custom-table-heading {
    background: #1ab7ea;
    padding: 10px !important;
}
tr.browserEvenRow td {
    vertical-align: middle;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 0px;
    padding-right: 0px;
}
.custom-outline tr td:last-child div {
    text-align: left;
}
.custom-my-link a i,.custom-quick-link a i {
    color: #fff;
}
ul.custom-msg li {
    display: inline-block;
    margin-right: 12px;
    font-family: 'Open Sans', sans-serif;
}
.custom-advanceSearch{color: #1ab7ea;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;}
ul.custom-msg a {
    color: #000000;
}
ul.custom-msg li:first-child {
    background: #106cb7;
    color: #fff;
    padding: 2px 8px;
    font-size: 11px;
}
a.account-from {
    background: #106cb7;
    padding: 5px 7px !important;
    color: #fff;
    border-radius: 5px;
}
.custom-what i {
    color: #106cb7;
    font-size: 14px;
}
.reports {
    width: 155px;
    z-index:90;
}
.border {
    margin-top: 20px;
}
.copyright,.suggestion {
    color: #565656;
     position: relative;
}
body, html {
    height: 100%;
}
body, html {
    height: 100%;
}
.custom-login{
	background: url(https://image.freepik.com/free-vector/medical-symbol-seamless-pattern-dental-drill-syringe-pill-flask-dna_81522-2691.jpg);
}
body.custom-login:after {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #ffffffc2;
    z-index: 91;
}
.border {
    z-index: 99;
    position: relative;
    box-shadow: 0px 1px 15px #ccc;
}
.header {
    z-index: 99;
    position: relative;
}
.footer {
    height: 31px;
}