@charset "iso-8859-1";

DIV.BrowserBotN_top1 {
	padding:0px;
	text-align: justify;
	color: #000000;
	position: absolute;
	left: 5px;
	width: 99%;
	height: 67%;
	top: 115px;
	overflow: auto;
}

DIV.formDefault_event {
	padding:0px 0px 0px 5px;
	text-align: justify;
	color: #000000;
	position: absolute;
	left: 2px;
	width: 99%;
	height: 760px;
	top: 66px;
	overflow: auto;
}
.sectionHeadings {
	font-family: Arial, Helvetica,  sans-serif;
	color:#A7001B;
	font-size: 16px;
	font-weight:normal;	
	padding:2px 0px 5px 0px;	
	background-color: #FFFFFF;
}
DIV.formDefault {
	padding:0px 0px 0px 10px;
	text-align: justify;
	color: #000000;
	position: absolute;
	left: 2px;
	width:99%;
	height:90%;
	top: 73px;
	overflow: auto;
}

DIV.formDefault_labmodify{ top:53px; }

td.tdDefault {height:20px;}
DIV.browserDefault .littlelower{
	top:20px;	
}

DIV.browserDefault {
	padding: 0px 0px 0px 10px;
	text-align: justify;
	color: #000000;
	position: absolute;
	left: 2px;
	width:99%;
	height:85%;
	top: 60px;
	overflow: auto;
}
DIV.browserDefault_studySearch{
	height:88%;
}
DIV.browserDefault_veloshome{
	padding: 0px 0px 0px 5px;
	text-align: justify;
	background-color:#ffffff;
	position: absolute;
	height: 500px;
	top: 123px;
	overflow: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#A7001B;	
	left:150px; 
	width:84%;
}
DIV.browserDefault TD button{margin:3px;}
DIV.formBrwDefault {visibility:visible;position:absolute; margin-top:-547px;overflow:auto;height:630px;width:956px;}
DIV.popDefault {visibility:visible;margin-left:-8px;position:absolute;height:300px;margin-top:-8px;width:100%;}
DIV.mainMenu{margin-top:-482px;margin-left:-3px;width:132 px;position:absolute;}
DIV.myLinks {visibility:visible;
	margin-left:73%;
	position:absolute;
	margin-top:0px;
	z-index:2;
	width:150 px;
	background-color:#f7f7f7;
}

DIV.accLinks {visibility:visible;position:absolute;margin-top:5px;z-index:2;width:190px;background-color:#f7f7f7;}
DIV#myStudies {visibility:visible;position:absolute;margin-top:-35px;
	z-index:1;overflow: auto;width:100%;background-color:#f7f7f7;height:95%;}


DIV.browserDefaultPat {visibility:visible;margin-left:0;position:absolute; margin-top:-150px;overflow:auto;height:360px;width:600px;}
DIV.formWithLinks {visibility:visible;margin-left:0;position:absolute;margin-top:-20px;z-index:1;overflow:hidden;width:700px;background-color:#FFFFFF;}
DIV.accLinksmgpat {visibility:visible;position:relative;margin-top:-600px;z-index:2;width:190px;background-color:#FFFFFF;margin-left:-50px;BORDER:DASHED;BORDER-WIDTH:1PX;}
DIV.myLinksmgpat {visibility:visible;margin-left:680px;position:absolute;margin-top:-400px;z-index:2;width:220px;background-color:#FFFFFF;}
div#page {
	width:100%;
	height:100%;
}

DIV.tabDefTop {visibility:visible;position:absolute;overflow:auto;top:88px;height:92px;width:85%;}

DIV.tabDefBot {
	padding: 0%;
	text-align: justify;
	color: #000000;
	position: absolute;
	left: 2px;
	width:99%;
	height:72%;
	top: 178px;
	overflow: auto;
	border-bottom: groove;
	border-top: groove;
}
DIV.tabDefBot_spApndx{top:120px;}
DIV.tabFormTop {
	visibility:visible;
	left:2px;
	position:absolute;
	overflow:auto;
	top:160px;
	height:95px;
	width:85%;
}
DIV.tabFormTop_top1 {
	visibility: visible;
	left: 2px;
	position: absolute;
	overflow: auto;
	top: 120px;
	height: 104px;
	width: 83%;
}


DIV.tabFormBot {
	padding: 0%;
	text-align: justify;	
	left: 2px;
	color: #000000;
	position: absolute;
	width:99%;
	height:57%;
	top: 270px;
	overflow: auto;
	border-top: groove;
	border-bottom: groove;
}

DIV.tabDefTopN {
	visibility:visible;
	position:absolute;
	overflow:auto;
	top:60px;
	height:92px;
	width:99%;
	left: 4px;
}

DIV.tabDefBotN {
	padding: 0%;
	text-align: justify;
	color: #000000;
	position: absolute;
	left: 7px;
	width:99%;
	height:85%;
	top: 105px;
	overflow: auto;
}

DIV.tabDefBotN_vhome { left: 157px;}

DIV.tabDefBotN TD input, DIV.tabDefBotN TD SELECT{ height:25px;}
div#logo { padding: 0%;color: #ffffff;}
div#logo img {	width: 150px;	height: 29px;}

div#header {
	padding: 0%;
	background-color: #dcdcdc;
	color: #ffffff;
	height: 90px;
	width:98%;
}

div#leftcolumn {
	padding: 0%;
	text-align: right;
	background-color: #dcdcdc;
	color: #000000;
	width: 140px;
	height: 100%;
	position: absolute;
	top: 88px;
}

div.TableContainer {
	 overflow:auto;
	 width:100%;
	 border: solid 1px;
}

div.TableContainer#INDIDE{
	width: 85%;
	height: 120px; 
}
	
.scrollTable {
	width:100%;
}

DIV.BgtDivBottom {
	padding: 0%;
	text-align: justify;
	color: #000000;
	position: absolute;
	left: 2px;
	width:99%;
	height:75%;
	top: 132px;
	overflow-y: none;
	overflow-x: auto;	
	border-bottom: none;
	border-left: none;
	border-right: none;
	left: 2px;
}

DIV.BgtTabFormBotN {
	padding: 0%;
	text-align: justify;
	left: 5px;
	color: #000000;
	position: absolute;
	width:99%;
	top: 175px;
	overflow:hidden;
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-collapse: separate;
}
DIV.BgtTabFormBotN_bgt {
	top: 175px;
}

DIV.BgtTabFormN {
	padding: 0%;
	text-align: justify;
	color: #000000;
	position: absolute;
	left: 2px;
	width:99%;
	height:75%;
	top: 140px;
	overflow:hidden;
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-collapse: separate;
}

DIV.BgtTabFormN_Managebudgets{top:125px;}

DIV.BgtComb {
	visibility:visible;
	margin-left:0px;
	position:absolute;
	top:55px;
	margin-top:-8px;
	width:100%;
	height:80%;
	overflow-x:auto;
	overflow-y:hidden;
}

DIV.BgtComb_CombinedBgt {
	top:95px
}

DIV.BgtTopGrey {
	visibility:visible;
	border-collapse:collapse;
	padding: 0%;
	position:absolute;
	overflow:auto;
	top:5px;
	height:130px;
	width:100%;
}

DIV.BgtTopGrey table {
    border: 1px solid #9D9D9D;
}

DIV.BrowserTopN {
	visibility:visible;
	position:absolute;
	overflow:auto;
	top:60px;
	height:103px;
	width:99%;
	left: 7px;
}

DIV.BrowserTopN_RR_1 { top:70px; }

DIV.BrowserBotN {
	padding: 0%;
	text-align: justify;
	color: #000000;
	position: absolute;
	left: 7px;
	width:99%;
	height:82%;
	overflow: auto;
}
DIV.BrowserBotN_MI_4{top: 125px;}
DIV.BrowserBotN_FLaddfield_1{top:133px; height:15%;}
DIV.BrowserBotN_FLsetting_1{top:133px;}
DIV.BrowserBotN_BGT_1{top:133px;}
DIV.BrowserBotN_FL_1{top:133px;}
DIV.BrowserBotN_RC_1{top:101px;}
DIV.BrowserBotN_RC_2{top:105px;}
DIV.BrowserBotN_S_1{top:122px; height:82%;}
DIV.BrowserBotN_S_2{top:225px;}
DIV.BrowserBotN_S_3{top:122px; height:82%;}
DIV.BrowserBotN_M_1{top:130px;}
DIV.BrowserBotN_M_2{top:130px; height:80%;}
DIV.BrowserBotN_AdQ_1{top:120px;}
DIV.BrowserBotN_S_4{top:110px;}
DIV.BrowserBotN_RR_1{top:115px;}
DIV.BrowserBotN_SiH_1{top:120px;}
DIV.BrowserBotN_Managemilestone{top:200px;}
DIV.BrowserBotN_CL_1{top:125px; height:82%;}
DIV.BrowserBotN_CL_2{top:125px; height:78%;}
DIV.BrowserBotN_D_1{top:120px; height:82%;}

DIV.tabFormTopN {
	visibility:visible;
	position:absolute;
	overflow:auto;
	top:101px;
	height:180px;
	width:99%;
	left: 5px;
	color:#A7001B;
}

DIV.tabFormTopN_PA_sub{top:153px;}
DIV.tabFormTopN_PAS{top:99px;}
DIV.tabFormTopN_PS{top: 105px;}
DIV.tabFormBotN_FRB_1{top:121px;}
DIV.tabFormBotN_PA_1{top:270px;}
DIV.tabFormBotN_PF_1{top:190px;}
DIV.tabFormBotN_PF_2{top:130px;}
DIV.tabFormBotN_FLaddfield_1{top:200px;}
DIV.tabFormBotN_SB_1{top: 265px;}
DIV.tabFormBotN_MI_1{top: 210px;}
DIV.tabFormBotN_MI_2{top: 210px; height:72%;}
DIV.tabFormBotN_MI_3{top: 220px;}

DIV.tabFormBotN {
	padding: 0%;
	text-align: justify;
	left: 5px;
	color: #000000;
	position: relative;
	width:99%;
	height:65%;
	overflow: auto;
	border-bottom: none;
	border-left: none;
	border-right: none;
	
}

DIV.tabFormBotN_2 {
	padding: 0%;
	text-align: justify;
	left: 5px;	
	color: #000000;
	position: absolute;
	width:99%;
	height:45%;
	overflow: auto;
	border-bottom: none;
	border-left: none;
	border-right: none;
	
}

DIV.tabFormBotN_SB_2{top: 225px; height:67%;}
DIV.tabFormBotN_P_1{top: 225px; height:71%;}
DIV.tabFormBotN_P_2{top: 145px; height:73%;}
DIV.tabFormBotN_P_3{top: 105px; height:80%;}
DIV.tabFormBotN_PSc_1{top: 110px; height: 80%;}

DIV.tabFormBotN_add {
	padding: 0%;
	text-align: justify;
	left: 2px;
	color: #000000;
	position: absolute;
	width:99%;
	height:80%;
	overflow: auto;
	border-bottom: none;
	border-left: none;
	border-right: none;
	
}

DIV.tabFormBotNInv {
	padding: 0%;
	text-align: justify;
	left: 5px;
	color:#A7001B;
	position: absolute;
	width:99%;
	height:63%;
	top: 280px;
	overflow: auto;
}

DIV.tabFormBotN_adventnew_1{top:110px; height:78%;}


DIV.tableDefault TH {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
}

DIV.tableDefault {
	padding: 0%;
	text-align: justify;
	position: absolute;
	overflow: auto;
	border-style: none; 
}

DIV.tableDefault A {
	font-family: Arial, Helvetica,sans-serif;
	text-decoration:underline;
	font-weight:bold;
	font-size:12px;
}

DIV.tableDefault  BUTTON {font-family:Arial, Helvetica,  sans-serif;font-size:9pt;}
DIV.tableDefault TD {font-family: Arial, Helvetica,  sans-serif; color:black;font-size:12px; background-color:#f7f7f7;}
DIV.tableDefault TH {font-family: Arial, Helvetica,  sans-serif;font-size:12px;}
