@font-face {
    font-family: 'HelveticaNeueLTStd53Extended';
    src: url('helveticaneueltstd-ex-webfont.eot');
    src: url('helveticaneueltstd-ex-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-ex-webfont.woff') format('woff'),
         url('helveticaneueltstd-ex-webfont.ttf') format('truetype'),
         url('helveticaneueltstd-ex-webfont.svg#HelveticaNeueLTStd53Extended') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'HelveticaNeueLTStd43LtEx';
    src: url('helveticaneueltstd-ltex-webfont.eot');
    src: url('helveticaneueltstd-ltex-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-ltex-webfont.woff') format('woff'),
         url('helveticaneueltstd-ltex-webfont.ttf') format('truetype'),
         url('helveticaneueltstd-ltex-webfont.svg#HelveticaNeueLTStd43LtEx') format('svg');
    font-weight: normal;
    font-style: normal;

}
form {
min-height: 75%;
}
html {
	height: 75%;
    

}
body{min-height: 75%; margin:0; padding:0; height: 100%; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000;}
img{height: 77px; width: 85px; border:none; vertical-align:middle; outline:none; padding-top: 4px;}
p,h1,h2,h3,h4,h5,h6{margin:0; padding:0; font-weight:normal;}
.header{width: 100%; height: 88px; border-bottom: 2px solid #2F7E9E; box-shadow: 10px 10px 100px #2F7E9E}
.logo{ width:128px;  height:116px; float:left; margin-left: 50px; margin-right: auto;}
.welcome{width:300px; float: none; height:37px; margin-left: auto; margin-right: auto; font-family:'HelveticaNeueLTStd43LtEx'; color:#60604b; font-size:24px; text-align: center;}
.welcome strong{font-family:'HelveticaNeueLTStd53Extended'; color:#60604b;}
.welcome strong font{font-family:'HelveticaNeueLTStd53Extended'; color:#fe000b;}

.nav-border{background:url(../images/bg-top-nav.jpg) repeat-x; height:21px; width:760px;float:left; border-right:1px solid #b1afa3;}
.footer-nav-border{width:100%; margin:auto;}
.footer {background:#2F7E9E; width:100%; height:70px; position:absolute;	bottom:0; left:0;}

.container{width:325px; margin:auto; }
.left-container{ width:950px; margin:auto;}
.clr{clear:both;}
.lt-btm-border{width:50%; overflow:hidden;}
.bottom-panel{ width:100%;}
.lt-btm-panel{width:325px; margin-left: auto; margin-right: auto; position: relative; overflow:hidden;}


.rt-btm-panel{width:271px; float:left; background:#fff;}
.bg-white{background:#fff;}



.single-prod{width:600px; float:left; margin:15px 0 15px 0;}
.single-prod ul{margin:0; padding:0px 0 10px 206px; list-style:none;}
.single-prod ul li{margin:0; padding:0 0 0 15px; background:url(../images/bullets.jpg) no-repeat left 8px;font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; line-height:24px;}
.single-prod p{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; padding:0 0px 10px 0; line-height:18px;}



a:link{color: #ACAA9E; font-weight: bold; text-decoration: none;}
a:hover{color:#2F7E9E;}
.tbbg{margin:auto;}
.ques{.margin:17px auto; padding-left:22px; font-size:13px; color:#000; text-align: left; width:80px; float: left;}
.input1{width:80%; height: 35px; padding:4px; padding-left: 50px; border-radius:5px; border:1px solid #ACAA9E; background: #fff url(../images/ic_person_outline_gray_24dp.png) no-repeat; background-position: 20px 10px,
 center; background-size: 20px 20px; font-size: 16px;}
.input2{width:80%; height: 35px; padding:4px; padding-left: 50px; border-radius:5px; border:1px solid #ACAA9E; background: #fff url(../images/ic_lock_outline_gray_24dp.png) no-repeat; background-position: 20px 10px,
center; background-size: 20px 20px; font-size: 16px;}
.copyright{width:33%; position:absolute; top:10px; float:left; left:24px; font-size:13px; color:#BDDAE6; z-index:999 !important;}
.version{font-size:13px; color:#ACAA9E; width:100px; float:right; text-align:right; padding-right:15px;}
.suggestion{ width:98%; text-align:right; color:#BDDAE6; font-size:13px; padding:10px 10px 3px 3px; z-index:999 !important;}
.border{border-radius: 25px; border: 2px solid #F0EFEA; margin-left: auto; margin-right: auto; padding: 20px; width: 325px; height: 200px; margin-top: 100px; box-shadow: 10px 10px 5px #888888}

@-moz-document url-prefix() {
    .ques {
	     margin: auto;
    }
	.copyright{width:33%; position:absolute; top:10px; float:left; left:24px; font-size:13px; color:#BDDAE6; z-index:999 !important;}
}

.lt-btm-grey-border{width:50%;background:url(../images/bg-bottom-grey.jpg) repeat-x #adaca0; overflow:hidden;}
.lt-btm-grey-panel{width:560px; float:left;  background:url(../images/bg-bottom-grey.jpg) repeat-x #adaca0; overflow:hidden;}


input{border:none;}
.ui-button{background:#2F7E9E; width: 100%; cursor:pointer; margin-top:11px; font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:16px; color:#fff; padding:3px 10px; border-radius:8px;}
.ui-button:hover{background:#3B9EC6; width: 100%; cursor:pointer; margin-top:11px; font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:16px; color:#fff; padding:3px 10px; border-radius:8px;}


.input1:focus{width:80%; height: 35px; padding:4px; padding-left: 50px; border-radius:5px; border: 2px solid #ff8080; background: #fff url(../images/ic_person_outline_pink_24dp.png)  no-repeat; background-position: 20px 12px,
center; background-size: 20px 20px; font-size: 16px;}
.input2:focus{width:80%; height: 35px; padding:4px; padding-left: 50px; border-radius:5px; border: 2px solid #ff8080; background: #fff url(../images/ic_lock_outline_pink_24dp.png) no-repeat; background-position: 20px 12px,
center; background-size: 20px 20px; font-size: 16px;}

