/* CSS Document */

@charset iso-8859-1;
/* COMMON.CSS */

body{ background-color:#FAFAFA;	font-family:Calibri,sans-serif;}

/* DIV.tableDefault {
	padding: 0%;
	text-align: justify;
	background-color:#f7f7f7;
	color: #696969;
	position: absolute;
	overflow: auto;
}

DIV.tableDefault {border-style: none; background-color:#f7f7f7;}

DIV.tableDefault A {font-family: Arial, Helvetica,sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.tableDefault  A:hover {color:red;}

DIV.tableDefault  BUTTON {font-family:Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tableDefault TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
 background-color:#f7f7f7;}

/* VELOS SKIN */
/* DIV.tableDefault TH {
font-family: Arial, Helvetica,  sans-serif;
font-size:9pt;} */

table.leftPanelVLine {background-color:#6F67FF;}



/* td#tdComments {
	font-family: Arial, Helvetica,  sans-serif;
	color:blue;
	font-size:9pt;
	font-style:italic;
}*/

TD.leftpanel {background-color:#6F67FF;}

/************ P tag for comments  **********/

/* P.defComments {
	font-family: Arial, Helvetica,  sans-serif;
	color:blue;
	font-size:8pt;} 

.comments {font-family: Arial, Helvetica,  sans-serif;
color:blue;
font-size:8pt;}

/****************************************/

/************ P tag for Italics comments**********/

P.italicsComments {font-family: Arial, Helvetica,  sans-serif;
color:blue;
font-size:9pt;
font-weight:bold;
font-style:italic;}

/****************************************/

/************ P tag for comments  **********/

P.blackComments {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;}

/****************************************/

/************ P tag for comments  **********/

P.bigNumbers {font-family: Arial, Helvetica,  sans-serif;
color:red;
font-size:9pt;
font-weight:bold}

/****************************************/

/************ P tag for USer Name**********/

P.userName {font-family: Arial, Helvetica,  sans-serif;
color:blue;
font-size:1pt;
font-weight:bold;
text-align:right;
visibility:hidden;}

P.userNameNew {font-family: Arial, Helvetica,  sans-serif;
color:blue;
font-size:8pt;
font-weight:bold;
text-align:right;}

P.plwait {font-family: Arial, Helvetica,  sans-serif;
color:red;
font-size:8pt;
font-weight:bold;
text-align:left;}

DIV.plwt {visibility:visible;
margin-left:0px;
position:relative;
margin-top:0;}

/****************************************/

/************ P tag for logout comments**********/

P.logoutComments {font-family: Arial, Helvetica,  sans-serif;
color:blue;
font-size:8pt;
font-weight:bold;
font-style:italic;}

/****************************************/

/************ P tag for Msg Center Heading**********/

P.msgHead {font-family: Arial, Helvetica,  sans-serif;
color:blue;
font-size:8pt;
font-weight:bold;
background-color: #CFC8FF;
text-align:center;
border:solid;
width:550px;}

/****************************************/
/* form {background-color:#FAFAFA;} 

DIV.formDefault TH{
font-family: Arial,Helvetica,sans-serif;
font-size: 9pt; }

DIV.formDefault Table {background-color:#f6f6f6}
DIV.formDefault TR { background-color:#f7f7f7;}

DIV.formDefault TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
}

DIV.formDefault A {font-family: Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.formDefault  A:hover {color:red;}

DIV.formDefault  BUTTON {font-family:Arial, Helvetica,  sans-serif;
font-size:9pt;} */

/*****************************************/

/* FONT.Mandatory {font-family:Arial, Helvetica,  sans-serif;
color:red;} */

FONT.Red {font-family:Arial, Helvetica,  sans-serif;
color:red;
font-size:8pt;
font-weight:bold;}

/* FONT.Green {font-family:Arial, Helvetica,  sans-serif;
color:green;
font-size:7pt;
font-weight:bold;} */

FONT.Grey {font-family:Arial, Helvetica,  sans-serif;
color:#A4A4A4;}

FONT.Black {font-family:Arial, Helvetica,  sans-serif;
color:#696969;}

INPUT.inpDefault {background-color:white;}

INPUT.inpGrey {background-color:#d1d1d1;}

TEXTAREA.textDefault {background-color:white;}

TEXTAREA.textGrey {background-color:#d1d1d1;}

/* DIV.browserDefault Table, DIV.pgbrowse Table {border-style:none;  border-collapse: collapse;   background-color:#f7f7f7;}

/* DIV.browserDefault A, DIV.pgbrowse A {
	font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	color:blue;
	font-weight:bold;
	font-size:7pt;
}*/

/* DIV.browserDefault A:hover, DIV.pgbrowse  A:hover {color:red;} */

/* DIV.browserDefault  BUTTON {font-family:Arial, Helvetica,  sans-serif; font-size:9pt;} */

/* DIV.browserDefault TD, DIV.pgbrowse TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
}*/
 
/* VELOS SKIN START */
/* DIV.browserDefault TH, DIV.pgbrowse TH {
font-family: Arial, Helvetica,  sans-serif;
font-size:9pt;
} */

/* tr.browserOddRow {background-color:#f7f7f7;} */

/* tr.browserOddRow TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
border-style:groove;
border-bottom-width:thin;
border-top-width:thin;
border-left-width:thin;
border-right-width:thin;
}*/

/* tr.browserEvenRow {background-color:#d7d7d7;}*/

/* tr.browserEvenRow TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
border-style:groove;
border-bottom-width:thin;
border-top-width:thin;
border-left-width:thin;
border-right-width:thin;
}*/

/*tr.subCostRow {background-color:#81BEF7;
}

tr.subCostRow TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
}

tr.pastSchRow {background-color:#FFCC99;
}

tr#browserOddRow {background-color:#f7f7f7;
}

tr#browserOddRow TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
}

tr#browserEvenRow {background-color:#d7d7d7;
}

tr#browserEvenRow TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
}

tr#browserBoldRow TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
font-weight:bold;}*/

/* VELOS SKIN END */


/*****************************************/

DIV.formBrwDefault Table {border-style:none;  background-color:#f7f7f7;}

DIV.formBrwDefault A {font-family: Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.formBrwDefault  A:hover {color:red;}

DIV.formBrwDefault  BUTTON {font-family:Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.formBrwDefault TD {font-family: Arial, Helvetica,  sans-serif
color:#696969;
font-size:8pt;
}

/* VELOS SKIN */
DIV.formBrwDefault TH {
font-family: Arial, Helvetica,  sans-serif;
font-size:9pt;
}

/***********************************************************/

/* DIV.popDefault Table {border-style: none;} */

/* VELOS SKIN */
/* DIV.popDefault TH {
font-family: Arial, Helvetica,  sans-serif;
font-size:9pt;} 

DIV.popDefault TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
}

DIV.popDefault A {font-family: Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.popDefault A:hover {color:red;}

DIV.popDefault BUTTON {font-family:Arial, Helvetica,  sans-serif;
font-size:9pt;} */

/* VELOS SKIN START */


/*****************************************/

/***************Rows for Message Center***********/

tr#msgcenterOddRow TD {background-color:#f7f7f7;
font-family: Arial, Helvetica,  sans-serif;
font-size:8pt;
}

tr#msgcenterEvenRow TD {background-color:#d7d7d7;
font-family: Arial, Helvetica,  sans-serif;
font-size:8pt;
}
/* VELOS SKIN END */

/**************************************************/

/*****************Heading for a section****************/

/* VELOS SKIN */
tr#headSection TD {
font-family: Arial, Helvetica,  sans-serif;
font-size:8pt;
font-weight:bold;}

tr#tableheading TH {background-color:#FDF8DF;
font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:9pt;
}

/**************************************************/

DIV.myLinks TR {background-color:#e1dce0;}

DIV.myLinks TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
border:none;}

DIV.myLinks TH {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size: 9pt;
background-color: #b4b4b4;}

DIV.myLinks A {font-family: Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:7pt;}

DIV.myLinks A:hover {color:red;}

table#linktab {}

table#linktab TD {background-color:#FAFAFA;
border:none;}

;
table#linktab A {font-family: Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:7pt;
font-style:italic;}

table#linktab A:hover {font-family: Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:red;
font-size:7pt;}

/*****************************************/

DIV.accLinks TR {background-color:#e1dce0;}

DIV.accLinks TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size: 8pt}

DIV.accLinks TH {font-family: Arial, Helvetica,  sans-serif;
font-size: 9pt;
background-color: #b4b4b4;}

DIV.accLinks A {font-family: Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:7pt;}

DIV.accLinks A:hover {color:red;}

/*****************************************/

DIV#myStudies A {font-family: Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:#696969;
font-size:7pt;
}

DIV#myStudies A:hover {color:red;}

/* VELOS SKIN */
DIV#myStudies TH {
	font-size:9pt;
}

/*
Table.selectedTab {font-family: Arial, Helvetica,  sans-serif;font-size:8pt;}


Table.selectedTab TR {font-family: Arial, Helvetica,  sans-serif; font-size:8pt;font-weight:bold;}


Table.selectedTab TD {font-family: Arial, Helvetica,  sans-serif;font-size:8pt;font-weight:bold;}

Table.unselectedTab {font-family: Arial, Helvetica,  sans-serif;background-color:#000033;font-size:8pt;font-weight:bold;} 


Table.unselectedTab TR {
	font-family: Arial, Helvetica,  sans-serif;	font-size:8pt;}

Table.unselectedTab TD {
	font-family: Arial, Helvetica,  sans-serif;
	background-color:#e1dce0;
	font-size:8pt;
	font-weight:bold;
}

Table.selectedTab A {
	font-family: Arial, Helvetica,  sans-serif;
	color: red;
	font-size:8pt ;
	text-decoration:none
}

Table.unselectedTab A {
	font-family:Arial, Helvetica,  sans-serif;
	color: #7a7a7a;
	font-size:8pt ;
	text-decoration:none
}

Table.unselectedTab  A:hover {color:red;} */

HR.blue {color:#330099;}

/* P.reportHeadings {font-family: Arial, Helvetica,  sans-serif;
color:blue;
font-size:9pt;
font-weight:bold;} */

.numberFonts {font-family: Arial, Helvetica,  sans-serif;
font-size:8pt;
font-weight:bold;}

.reportText {font-family:Arial, Helvetica,  sans-serif;
font-size:8pt;
font-weight:bold;
font-style:italic;}

DIV.browserDefaultPat Table {border-style:none;}

DIV.browserDefaultPat A {font-family: Arial, Helvetica,sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.browserDefaultPat  A:hover {color:red;}

DIV.browserDefaultPat TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
font-weight:bold;}

/* VELOS SKIN */
DIV.browserDefaultPat TH {
font-family: Arial, Helvetica,  sans-serif;
font-size:9pt;
}

/* VELOS SKIN */
TR.popupHeader TH {
font-family: Arial, Helvetica,  sans-serif;
font-size:9pt;
}

DIV.formWithLinks A {font-family: Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:7pt;}

DIV.formWithLinks A:hover {color:red;}

/* VELOS SKIN */
DIV.formWithLinks TH {
font-family: Arial, Helvetica,  sans-serif;
font-size:9pt;
}

DIV.accLinksmgpat TABLE {
	border : solid;
}

/* VELOS SKIN */
DIV.accLinksmgpat TH {
font-family: Arial, Helvetica,  sans-serif;
font-size:9pt;
}

/* VELOS SKIN */


DIV.accLinksmgpat TD {background-color:#f7f7f7;
font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;}

DIV.accLinksmgpat A {font-family: Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:7pt;
font-style:italic;}

DIV.accLinksmgpat A:hover {color:red;}

DIV.myLinksmgpat TR {background-color:#CFC8FF;}

DIV.myLinksmgpat TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
border:none;}

DIV.myLinksmgpat A {font-family: Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:7pt;
font-style:italic;}

DIV.myLinksmgpat A:hover {color:red;}

/************ Right align Input text ***************/

INPUT.rightAlign {text-align:right;}

/**************** showing Page numbers in paginated browsers*********/

FONT.pageNumber {font-family:Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
font-weight:bold;}

/*****************showing Record numbers in paginated browsers**************/

FONT.recNumber {font-family:Arial, Helvetica,  sans-serif;
color:#cc6633;
font-size:8pt;
}

/***********Dynamic Forms*************

Table.dynFormTable {border-style:none;}

Table.dynFormTable A {font-family: Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

Table.dynFormTable  A:hover {color:red;}

Table.dynFormTable  BUTTON {font-family:Arial, Helvetica,  sans-serif;
font-size:9pt;}

Table.dynFormTable label {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
}

Table.dynFormTable TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
}

/* VELOS SKIN 
Table.dynFormTable TH {
font-family: Arial, Helvetica,  sans-serif;
font-size:9pt;
}

/*Table.dynFormTable P { font-family: arial;color:green;font-size:12; font-weight:bold; }

P.dynSection {font-family: Arial, Helvetica,  sans-serif;
color:blue;
font-size:9pt;
font-weight:bold;}

/********************************/

/******************Patient Tabs Header info****************/

/* Table.patHeader {border-style:none; top:0px;}

Table.patHeader A {font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	color:blue;
	font-weight:bold;
	font-size:7pt;
}

Table.patHeader A:hover {color:red;}

Table.patHeader TD {font-family: Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:8pt;
	font-weight:bold;
}

TH.headernoColor {font-family: Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:9pt;
} */

/************ P tag for RedMessage **********/

P.redMessage {font-family: Arial, Helvetica,  sans-serif;
color:red;
font-size:9pt;
font-weight:bold;}

/****************************************/

/************<PRE> for forms********************/

PRE.dynFormPRE {font-family:Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;}

/*<body> tag for forms*/

body#forms {
overflow:inherit;
}

/*for dynamic form reports - plain look*/

tr.plainRow {background-color:#FAFAFA;}

/*tr.plainRow TD {
	font-family: Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:8pt;
	border-bottom:1px solid red;	
	border-left:1px solid red;
	border-right:1px solid red;
}*/

/* TH.whiteBack {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:9pt;
font-weight:bold;
background-color:#FAFAFA ;} */

/* ************************************************* APPLICATION TABS ********* */
/* TD.grayComments {font-family: Arial, Helvetica,  sans-serif;
font-size:8pt;
font-weight:bold;} */

DIV.tabDefTop Table {border-style: none;  background-color:#f7f7f7;}

DIV.tabDefTop TH {background-color:#CFC8FF;
font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:9pt;}

DIV.tabDefTop TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;}

DIV.tabDefTop  A:hover {color:red;}

DIV.tabDefTop  BUTTON {font-family:Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabDefBot Table {  border-collapse: collapse; background-color:#f7f7f7;}

DIV.tabDefBot A {font-family: Arial, Helvetica,  sans-serif;
text-decoration:underline;
font-weight:bold;
font-size:12px;
}

DIV.tabDefBot  A:hover {color:red;}

DIV.tabDefBot  BUTTON {font-family:Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabDefBot TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;}

/* VELOS SKIN */
/* DIV.tabDefBot TH {
font-family: Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabFormTop A {
	font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	color:blue;
	font-weight:bold;
	font-size:7pt;
}

DIV.tabFormTop Table {border-style: none;}

DIV.tabFormTop TH {background-color:#CFC8FF;
font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:9pt;}

DIV.tabFormTop  A:hover {color:red;}

DIV.tabFormTop TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;}

DIV.tabFormTop  BUTTON {font-family:Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabFormBot Table {border-style:none;  border-collapse: collapse;}

DIV.tabFormBot A {font-family: Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.tabFormBot  A:hover {color:red;}

DIV.tabFormBot  BUTTON {font-family:Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabFormBot TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;}

/* VELOS SKIN */
/* DIV.tabFormBot TH {
font-family: Arial, Helvetica,  sans-serif;
font-size:9pt;} */

/************ Reports (new) **********/

TD.reportPanel {font-family: Arial, Helvetica,  sans-serif;
color: #696969;
font-size:8pt;}

TD.reportName {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:9pt;
font-weight:bold;}

TD.reportHeading {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:9pt;
font-weight:bold;}

/* VELOS SKIN */
/* TH.reportHeading {font-family: Arial, Helvetica,  sans-serif;
font-size:9pt;
font-weight:bold;
}*/

TD.reportSubHeading {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
font-weight:bold;}

TD.reportLabel {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
font-weight:bold;}

/*TD.reportGrouping {font-family: Arial, Helvetica,  sans-serif;
color:blue;
font-size:9pt;
font-weight:bold;} */

TD.reportData {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;}

TD.reportFooter {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:7pt;
font-weight:normal;}

/* TH.reportClrHead {font-family: Arial, Helvetica,  sans-serif;
color:#FAFAFA;
font-size:9pt;
font-weight:bold;
background-color:#009933 ;} */

TH.reportLightClrHead {font-family: Arial, Helvetica,  sans-serif;
color:#FAFAFA;
font-size:9pt;
font-weight:normal;
background-color:#999999 ;}

TH.reportLightClrHead2 {font-family: Arial, Helvetica,  sans-serif;
color:#FAFAFA;
font-size:9pt;
font-weight:bold;
background-color:#999999 ;}

/* VELOS SKIN START */
TR.reportEvenRow {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
background-color:#f7f7f7;
}

TR.reportOddRow {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
background-color:#d7d7d7;
}
/* VELOS SKIN END */

TR.reportGreyRow {background-color:#d1d1d1;
}

TR.reportWhiteRow {background-color:white;
}

/*Added for variable width fixed header table START*/

.scrollContent tr {
 height: auto;
}

/* Prevent Mozilla scrollbar from hiding right-most cell content */
/*.scrollContent tr td:last-child {
 padding-right: 20px;
}*/

/* Fixed Header Height */
.fixedHeader tr {
 position: relative;
 height: auto;
 /* this fixes IE header jumping bug when mousing over rows in the tbody */
 top: expression((this.parentNode.parentNode.parentNode.scrollTop-3) + 'px' );
}

/* Prevent Mozilla scrollbar from hiding right-most cell content */
/*.fixedHeader tr th:last-child {
 padding-right: 20px;
}*/

/* Moved div.TableContainer CSS to individual Browser CSS */

/* Entire Table formatting */
.scrollTable {
 color: #696969;
 font-family: Arial, Helvetica,  sans-serif;
 text-decoration: none;
 border-spacing: 0px;
}

/* Table Header formatting */
.headerFormat {
 background-color: white;
 color: #FAFAFA;
 font-family: Arial, Helvetica,  sans-serif;
 font-size: 16px;
 text-decoration: none;
 font-weight: normal;
 display:block;
}
/*.headerFormat tr th {
 font-size:9pt;
 font-weight:bold;
 background-image: url("../images/skin_default/bg-tbheading.jpg");
 background-size:auto 100%;
/* padding: 0 0 0 5px;
}*/

/* Table Body (Scrollable Content) formatting */
.bodyFormat tr {
 font-family: Arial, Helvetica,  sans-serif;
 color:#696969;
 font-size:8pt;
}

.bodyFormat tr td {
 font-family: Arial, Helvetica,  sans-serif;
 color:#696969;
 font-size:8pt;
 margin: 1px;
 padding:0px 0px 0px 5px;
}

.bodyFormat tr td table tr td {
 border-style: none;	
}
/*variable width fixed header table END*/

HR.thickLine {height:3px;
/* color:blue; */}

HR.thinLine {height:1px;
/* color:gray; */}
	
 .validation-fail {
	margin: 5px 0;
	padding: 5px;
	background-color: red;
	color : #FFF;
	font-weight: bold;
}
 .validation-pass {
	margin: 5px 0;
	padding: 5px;
	background-color: green;
	color : #FFF;
	font-weight: bold;
}
.noticeMessage {
		display: block;
		float: right;
		font-weight: normal;
		font-family:Arial, sans-serif;
		color:#663;
		font-size:0.9em;
	}
input.validation-failed, textarea.validation-failed {
	border: 1px solid #FF3300;
	
}
	
.pageSubContentTitle {
			color:#8e8e8e;
			font-size:1em;
			font-family:Arial, sans-serif;
			margin-bottom:0.75em;
	}
	.small {
		width: 2.5em;
	}
	.medium {
		width: 10em;
	}
	.long {
		width: 20em;
	}

	span.invalid, span.missing {
		display: inline;
		margin-left: 1em;
		font-weight: bold;
		font-style: italic;
		font-family: Arial, sans-serif;
		color: #f66;
		font-size: 0.9em;
	}
	.alert {font-family: Arial, Helvetica,  sans-serif;
	color:red;
	font-size:8pt;}

#notification {
	position: fixed;
	bottom: 0;
	padding: 0;
	height: 30px;
	margin: 0;
	width: 100%;
	background-color: #d7d7d7;
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 0.85em;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 5px;
	z-index:1000px;
}
html,body {
	height: 100%;
	overflow: hidden;
}

html {
	padding: 0 0 20px 0;  /* create area for notification area */
}	

/*****************************************/

table.reportborder {
border-width: 2px 2px 2px 2px;
border-style: groove groove groove groove;
border-color: #ccccff #ccccff #ccccff #ccccff;}

/*
TR.reportGraphRow {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;
background-color:#cccccc;
}

TR.reportGraphBar {font-family: Arial, Helvetica,  sans-serif;
font-size:8pt;

}

TD.reportGraphRow {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:7pt;
font-weight:normal;} */

/*****************************************/

div.clSlideMenu{ /* All slideMenu2 DIV elements */
	position:absolute;
	font-family:arial,helvetica;
	font-size:10px;
	overflow:hidden;
	width:150;
	height:22;
}
a.clA0{ /* All top level links */
	color:#FAFAFA;
	font-size:10px;
	text-decoration:none;
	font-weight:bold;
}
 
/* A:hover {color: red; } */ /* fixed this for the bug 7329 second part 1 point */ 

a.clA1{ /* All sub level links */
	color:#696969;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
}
a.clA2{ /* All sub2 level links */
	color:navy;
	text-decoration:none;
}
a.clA3{ /* All sub3 level links */
	color:#696969;
	text-decoration:none;
}
a.clA4{ /* All sub4 level links */
	color:green;
	text-decoration:none;
}

/* NEEDED STYLES */
div.slideMenuBG{position:absolute; left:0; top:0; z-index:1}
div.slideMenuText{position:absolute; left:6; top:2; z-index:200;}
/* NEEDED ----- This class should be named like this:
	#NAME_OF_YOUR_MENUcont
*/
#slideMenucont{position:absolute;	height:500; width:200; visibility:hidden;}


/************ Vs 8 **********/


/*DIV.tabDefTopN Table {border-style: none;  background-color:#f7f7f7;}

DIV.tabDefTopn TH {
font-family: Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabDefTopN TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;}

DIV.tabDefTopn  A:hover {color:red;}

DIV.tabDefTopN  BUTTON {font-family:Arial, Helvetica,  sans-serif;
font-size:9pt;} */

/*DIV.tabDefBotN Table {border-style:none;  border-collapse: collapse; background-color:#FAFAFA;}

DIV.tabDefBotN A {font-family: Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;
}

DIV.tabDefBotN  A:hover {color:red;}

DIV.tabDefBotN  BUTTON {font-family:Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabDefBotN TD {
	font-family: Arial, Helvetica,  sans-serif;
	color:#696969;
	font-size:8pt;
	border-color:#cccccc;
	background-color:#FAFAFA;
}

DIV.tabDefBotN TH {
font-family: Arial, Helvetica,  sans-serif;
font-size:9pt;} */


/*
DIV.BrowserTopn TH {
font-family: Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.BrowserTopn TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;}

DIV.BrowserTopn A:hover {color:red;}

DIV.BrowserTopn BUTTON {font-family:Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.BrowserBotN Table {border-style:none;  border-collapse: collapse; background-color:#f7f7f7;}

DIV.BrowserBotN A {font-family: Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;
}

DIV.BrowserBotN A:hover {color:red;}

DIV.BrowserBotN BUTTON {font-family:Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.BrowserBotN TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;}

DIV.BrowserBotN TH {
font-family: Arial, Helvetica,  sans-serif;
font-size:9pt;} */


DIV.tabFormTopN A {
	font-family: Arial, Helvetica,  sans-serif;
	text-decoration:underline;
	color:blue;
	font-weight:bold;
	font-size:7pt;
}

DIV.tabFormTopN Table {border-style: none;}

/* DIV.tabFormTopN TH {
font-family: Arial, Helvetica,  sans-serif;
font-size:9pt;} */

DIV.tabFormTopN  A:hover {color:red;}

/* DIV.tabFormTopN TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;} */

DIV.tabFormTopN  BUTTON {font-family:Arial, Helvetica,  sans-serif;
font-size:9pt;}

/* DIV.tabFormBotN Table {border-style:none;  border-collapse: collapse;}

DIV.tabFormBotN A {font-family: Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.tabFormBotN  A:hover {color:red;}

DIV.tabFormBotN  BUTTON {font-family:Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabFormBotN TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;}
*/

DIV.tabFormBotNInv Table {border-style:none;  border-collapse: collapse;}

DIV.tabFormBotNInv A {font-family: Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.tabFormBotNInv  A:hover {color:red;}

DIV.tabFormBotNInv  BUTTON {font-family:Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabFormBotNInv TD {font-family: Arial, Helvetica,  sans-serif;
color:#696969;
font-size:8pt;}

/* DIV.tabFormBotNInv TH {
font-family: Arial, Helvetica,  sans-serif;
font-size:9pt;} */


/*****************************************************************************
Widget UI starts
******************************************************************************/
.maincontainer table{ 
	width:100%;
	border-top:0px;
	border-right:0px;
	border-bottom:0px;
	border-left:0px;
	border-spacing:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
}

.maincontainer {
	font-family:Arial, Helvetica, sans-serif;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	overflow-x:hidden;
	overflow-y: hidden;
	padding-bottom:20px;
}



.printer-font-size {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
}

.printer-font-size textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
}

.readonly-input {
	background-color:lightgray;
	border:1px solid #9D9D9D;
	color:#505050;
}


.readonly-input:focus{
	background-color:lightgray;
}

.ui-widget-border { border: 1px solid #aaaaaa; }
.ui-widget { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; }
DIV.ui-widget-header {font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size:9pt; padding:4px 0 0 0; height:15pt; }
DIV.ui-progressbar .ui-progressbar-value {padding:0px}
/* DIV.ui-widget {font-family: Arial, Helvetica, sans-serif;font-size: 8pt;} */
DIV.portlet { margin:0pt 3pt -1pt 7pt; }
/*****************************************************************************
Widget UI ends
******************************************************************************/

img {
	width: 19px;
	height: 19px;
}

img.asIsImage {
       width: auto;
       height: auto;
}
img.asIsImage_progbar {
       width: 220px;
       height: auto;
}
img.headerImage {
	width: 16px;
	height: 16px;
}
table.workflowTasks {
	font-size: 0.95em;
}
div.workflowDivBig {
	left: 14% !important;
	width: 85% !important;
}
div.workflowDivSmall {
	left: 14% !important;
	width: 85% !important;
	top: 150px !important;
}
table#progressIconsTbl {
	font-size: 0.95em;
}
.only-wcg-icon {
    display: none;
}