@charset iso-8859-1;
/* COMMON.CSS */

body { background-color:#f7f7f7;}

DIV.tableDefault {padding: 0%;
text-align: justify;
background-color:#f7f7f7;
color: #000000;
position: absolute;
overflow: auto;}

DIV.tableDefault {border-style: none; background-color:#f7f7f7;}

DIV.tableDefault A {font-family: Verdana, Arial, Helvetica,sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.tableDefault  A:hover {color:red;}

DIV.tableDefault  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tableDefault TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
 background-color:#f7f7f7;}

/* VELOS SKIN */
DIV.tableDefault TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;}

table.leftPanelVLine {background-color:#6F67FF;}

td.tdDefault {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

td#tdComments {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:9pt;
font-style:italic;}

TD.leftpanel {background-color:#6F67FF;}

/************ P tag for comments  **********/

P.defComments {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:8pt;}

.comments {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:8pt;}

/****************************************/

/************ P tag for Section Headings **********/

P.sectionHeadings {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size: 9pt;
font-weight:bold;
background-color: #e1dce0;}

/****************************************/

/************ P tag for Italics comments**********/

P.italicsComments {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:9pt;
font-weight:bold;
font-style:italic;}

/****************************************/

/************ P tag for comments  **********/

P.blackComments {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

/****************************************/

/************ P tag for comments  **********/

P.bigNumbers {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:red;
font-size:9pt;
font-weight:bold}

/****************************************/

/************ P tag for USer Name**********/

P.userName {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:1pt;
font-weight:bold;
text-align:right;
visibility:hidden;}

P.userNameNew {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:8pt;
font-weight:bold;
text-align:right;}

P.plwait {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:red;
font-size:8pt;
font-weight:bold;
text-align:left;}

DIV.plwt {visibility:visible;
margin-left:0px;
position:relative;
margin-top:0;}

/****************************************/

/************ P tag for logout comments**********/

P.logoutComments {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:8pt;
font-weight:bold;
font-style:italic;}

/****************************************/

/************ P tag for Msg Center Heading**********/

P.msgHead {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:8pt;
font-weight:bold;
background-color: #CFC8FF;
text-align:center;
border:solid;
width:550px;}

/****************************************/
form {background-color:#f7f7f7;}

DIV.formDefault Table {border-style: none; background-color:#f7f7f7}

DIV.formDefault TR { background-color:#f7f7f7;}

DIV.formDefault TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;}

DIV.formDefault TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;

font-size:8pt;
}

DIV.formDefault A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.formDefault  A:hover {color:red;}

DIV.formDefault  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

/*****************************************/

FONT.Mandatory {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:red;}

FONT.Red {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:red;
font-size:8pt;
font-weight:bold;}

FONT.Green {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:green;
font-size:7pt;
font-weight:bold;}

FONT.Grey {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:#A4A4A4;}

FONT.Black {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:black;}

INPUT.inpDefault {background-color:white;}

INPUT.inpGrey {background-color:#d1d1d1;}

TEXTAREA.textDefault {background-color:white;}

TEXTAREA.textGrey {background-color:#d1d1d1;}

DIV.browserDefault Table, DIV.pgbrowse Table {border-style:none;  border-collapse: collapse;   background-color:#f7f7f7;}

DIV.browserDefault A, DIV.pgbrowse A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.browserDefault A:hover, DIV.pgbrowse  A:hover {color:red;}

DIV.browserDefault  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.browserDefault TD, DIV.pgbrowse TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
}
 
/* VELOS SKIN START */
DIV.browserDefault TH, DIV.pgbrowse TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;
}

tr.browserOddRow {border-bottom:1px solid #CBCBCB; border-left:1px solid #CBCBCB; border-top:1px solid #CBCBCB; text-align:left;  background-color: #FFFFFF; border-right:1px solid #CBCBCB; font:10px verdana; color:#000; margin: 0; padding: 4px 10px;}

tr.browserOddRow TD {border-bottom:1px solid #CBCBCB; border-left:1px solid #CBCBCB; border-top:1px solid #CBCBCB; text-align:left;  background-color: #FFFFFF; border-right:1px solid #CBCBCB; font:10px verdana; color:#000; margin: 0; padding: 4px 10px;
}

tr.browserEvenRow {border-bottom:1px solid #CBCBCB; border-left:1px solid #CBCBCB; border-top:1px solid #CBCBCB; text-align:left;  background-color:#EDF5FF; border-right:1px solid #CBCBCB; font:10px verdana; color:#000; margin: 0; padding: 4px 10px; 
}

tr.browserEvenRow TD {border-bottom:1px solid #CBCBCB; border-left:1px solid #CBCBCB; border-top:1px solid #CBCBCB; text-align:left;  background-color:#EDF5FF; border-right:1px solid #CBCBCB; font:10px verdana; color:#000; margin: 0; padding: 4px 10px;
}

tr.subCostRow {background-color:#81BEF7;
}

tr.subCostRow TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
}

tr.pastSchRow {background-color:#FFCC99;
}

tr.pastSchRow TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
}

tr#browserOddRow {background-color:#f7f7f7;
}

tr#browserOddRow TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
}

tr#browserEvenRow {background-color:#d7d7d7;
}

tr#browserEvenRow TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
}

tr#browserBoldRow TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
font-weight:bold;}

/* VELOS SKIN END */


/*****************************************/

DIV.formBrwDefault Table {border-style:none;  background-color:#f7f7f7;}

DIV.formBrwDefault A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.formBrwDefault  A:hover {color:red;}

DIV.formBrwDefault  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.formBrwDefault TD {font-family: Verdana, Arial, Helvetica,  sans-serif
color:black;
font-size:8pt;
}

/* VELOS SKIN */
DIV.formBrwDefault TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;
}

/***********************************************************/

DIV.popDefault Table {border-style: none;}

/* VELOS SKIN */
DIV.popDefault TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;}

DIV.popDefault TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
}

DIV.popDefault A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.popDefault A:hover {color:red;}

DIV.popDefault BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

/* VELOS SKIN START */
DIV.popDefault HR {color:#003366;}

/*****************************************/

/***************Rows for Message Center***********/

tr#msgcenterOddRow TD {background-color:#f7f7f7;
font-family: Verdana, Arial, Helvetica,  sans-serif;
font-size:8pt;
}

tr#msgcenterEvenRow TD {background-color:#d7d7d7;
font-family: Verdana, Arial, Helvetica,  sans-serif;
font-size:8pt;
}
/* VELOS SKIN END */

/**************************************************/

/*****************Heading for a section****************/

/* VELOS SKIN */
tr#headSection TD {background-color:#003366;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:8pt;
font-weight:bold;}

tr#tableheading TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;
}

/**************************************************/

DIV.myLinks TR {background-color:#e1dce0;}

DIV.myLinks TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
border:none;}

DIV.myLinks TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;}

DIV.myLinks A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:7pt;}

DIV.myLinks A:hover {color:red;}

table#linktab {}

table#linktab TD {background-color:#FFFFFF;
border:none;}

;
table#linktab A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:7pt;
font-style:italic;}

table#linktab A:hover {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:red;
font-size:7pt;}

/*****************************************/

DIV.accLinks TR {background-color:#e1dce0;}

DIV.accLinks TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size: 8pt}

DIV.accLinks TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;}

DIV.accLinks A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:7pt;}

DIV.accLinks A:hover {color:red;}

/*****************************************/

DIV#myStudies A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:black;
font-size:7pt;
}

DIV#myStudies A:hover {color:red;}

/* VELOS SKIN */
DIV#myStudies TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;
}

/* VELOS SKIN */
Table.selectedTab {font-family: Verdana, Arial, Helvetica,  sans-serif;
background-color:#003366;
font-size:8pt;
font-weight:bold;}

/* VELOS SKIN */
Table.selectedTab TR {font-family: Verdana, Arial, Helvetica,  sans-serif;
background-color:#003366;
font-size:8pt;
font-weight:bold;}

/* VELOS SKIN */
Table.selectedTab TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
background-color:#003366;
font-size:8pt;
font-weight:bold;}

Table.unselectedTab {font-family: Verdana, Arial, Helvetica,  sans-serif;
background-color:#000033;
font-size:8pt;
font-weight:bold;}

/* VELOS SKIN */
Table.unselectedTab TR {font-family: Verdana, Arial, Helvetica,  sans-serif;
background-color:#003366;
font-size:8pt;
font-weight:bold;}

Table.unselectedTab TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
background-color:#e1dce0;
font-size:8pt;
font-weight:bold;}

Table.selectedTab A {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:#ffffff;
font-size:8pt ;
text-decoration:none}

Table.unselectedTab A {font-family:Verdana, Arial, Helvetica,  sans-serif;
color: #7a7a7a;
font-size:8pt ;
text-decoration:none}

Table.unselectedTab  A:hover {color:red;}

HR.blue {color:#330099;}

P.reportHeadings {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;}

.numberFonts {font-family: Verdana, Arial, Helvetica,  sans-serif;
font-size:8pt;
font-weight:bold;}

.reportText {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:8pt;
font-weight:bold;
font-style:italic;}

DIV.browserDefaultPat Table {border-style:none;}

DIV.browserDefaultPat A {font-family: Verdana, Arial, Helvetica,sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.browserDefaultPat  A:hover {color:red;}

DIV.browserDefaultPat TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
font-weight:bold;}

/* VELOS SKIN */
DIV.browserDefaultPat TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;
}

/* VELOS SKIN */
TR.popupHeader TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;
}

DIV.formWithLinks A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:7pt;}

DIV.formWithLinks A:hover {color:red;}

/* VELOS SKIN */
DIV.formWithLinks TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;
}

DIV.accLinksmgpat TABLE {
	border : solid;
}

/* VELOS SKIN */
DIV.accLinksmgpat TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;
}

/* VELOS SKIN */
DIV.accLinksmgpat TR {background-color:#003366;}

DIV.accLinksmgpat TD {background-color:#f7f7f7;
font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

DIV.accLinksmgpat A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:7pt;
font-style:italic;}

DIV.accLinksmgpat A:hover {color:red;}

DIV.myLinksmgpat TR {background-color:#CFC8FF;}

DIV.myLinksmgpat TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
border:none;}

DIV.myLinksmgpat A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-size:7pt;
font-style:italic;}

DIV.myLinksmgpat A:hover {color:red;}

/************ Right align Input text ***************/

INPUT.rightAlign {text-align:right;}

/**************** showing Page numbers in paginated browsers*********/

FONT.pageNumber {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:red;
font-size:8pt;
font-weight:bold;}

/*****************showing Record numbers in paginated browsers**************/

FONT.recNumber {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:#cc6633;
font-size:8pt;
}

/***********Dynamic Forms*************/

Table.dynFormTable {border-style:none;}

Table.dynFormTable A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

Table.dynFormTable  A:hover {color:red;}

Table.dynFormTable  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

Table.dynFormTable label {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
}

Table.dynFormTable TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
}

/* VELOS SKIN */
Table.dynFormTable TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;
}

/*Table.dynFormTable P { font-family: arial;color:green;font-size:12; font-weight:bold; }*/

P.dynSection {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:9pt;
font-weight:bold;}

/********************************/

/******************Patient Tabs Header info****************/

Table.patHeader {border-style:none;}

Table.patHeader A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

Table.patHeader A:hover {color:red;}

Table.patHeader TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
font-weight:bold;}

TH.headernoColor {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:9pt;}

/************ P tag for RedMessage **********/

P.redMessage {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:red;
font-size:9pt;
font-weight:bold;}

/****************************************/

/************<PRE> for forms********************/

PRE.dynFormPRE {font-family:Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

/*<body> tag for forms*/

body#forms {
overflow:inherit;
}

/*for dynamic form reports - plain look*/

tr.plainRow {background-color:#FFFFFF;
}

tr.plainRow TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
}

TH.whiteBack {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:9pt;
font-weight:bold;
background-color:#FFFFFF ;}

/* ************************************************* APPLICATION TABS ********* */

TD.grayComments {
color:black;
}

DIV.tabDefTop Table {border-style: none;  background-color:#f7f7f7;}

DIV.tabDefTop TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;}

DIV.tabDefTop TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

DIV.tabDefTop  A:hover {color:red;}

DIV.tabDefTop  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabDefBot Table {border-style:none;  border-collapse: collapse; background-color:#f7f7f7;}

DIV.tabDefBot A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;
}

DIV.tabDefBot  A:hover {color:red;}

DIV.tabDefBot  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabDefBot TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

/* VELOS SKIN */
DIV.tabDefBot TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;}

DIV.tabFormTop A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.tabFormTop Table {border-style: none;}

DIV.tabFormTop TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;}

DIV.tabFormTop  A:hover {color:red;}

DIV.tabFormTop TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

DIV.tabFormTop  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabFormBot Table {border-style:none;  border-collapse: collapse;}

DIV.tabFormBot A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.tabFormBot  A:hover {color:red;}

DIV.tabFormBot  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabFormBot TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

/* VELOS SKIN */
DIV.tabFormBot TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;}

/************ Reports (new) **********/

TD.reportPanel {font-family: Verdana, Arial, Helvetica,  sans-serif;
color: black;
font-size:8pt;}

TD.reportName {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:9pt;
font-weight:bold;}

TD.reportHeading {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;}

/* VELOS SKIN */
TH.reportHeading {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:#FFFFFF;
font-size:9pt;
font-weight:bold;
background-color:#003366;
}



TD.reportSubHeading {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
font-weight:bold;}

TD.reportLabel {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
font-weight:bold;}

TD.reportGrouping {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:blue;
font-size:9pt;
font-weight:bold;}

TD.reportData {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

TD.reportFooter {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:7pt;
font-weight:normal;}

TH.reportClrHead {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:#FFFFFF;
font-size:9pt;
font-weight:bold;
background-color:#009933 ;}

TH.reportLightClrHead {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:#FFFFFF;
font-size:9pt;
font-weight:normal;
background-color:#999999 ;}

TH.reportLightClrHead2 {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:#FFFFFF;
font-size:9pt;
font-weight:bold;
background-color:#999999 ;}

/* VELOS SKIN START */
TR.reportEvenRow {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
background-color:#f7f7f7;
}

TR.reportOddRow {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
background-color:#d7d7d7;
}
/* VELOS SKIN END */

TR.reportGreyRow {background-color:#d1d1d1;
}

TR.reportWhiteRow {background-color:white;
}

/*Added for variable width fixed header table START*/
.scrollContent {
 overflow-x:hidden;
 overflow-y:none;
}

.scrollContent tr {
 height: auto;
}

/* Prevent Mozilla scrollbar from hiding right-most cell content */
/*.scrollContent tr td:last-child {
 padding-right: 20px;
}*/

/* Fixed Header Height */
.fixedHeader tr {
 position: relative;
 height: auto;
 /* this fixes IE header jumping bug when mousing over rows in the tbody */
 top: expression((this.parentNode.parentNode.parentNode.scrollTop-3) + 'px' );
}

/* Moved div.TableContainer CSS to individual Browser CSS */

/* Entire Table formatting */
.scrollTable {
 color: #000000;
 font-family: Verdana, Arial, Helvetica,  sans-serif;
 text-decoration: none;
 border-spacing: 1px;
}

/* Table Header formatting */
.headerFormat {
 background-color: white;
 color: #FFFFFF;
 margin: 3px;
 padding: 1px;
 font-family: Verdana, Arial, Helvetica,  sans-serif;
 font-size: 16px;
 text-decoration: none;
 font-weight: bold;
}
.headerFormat tr th {
 color:#FFFFFF;
 font-size:9pt;
 font-weight:bold;
 background-color:#003366;
}

/* Table Body (Scrollable Content) formatting */
.bodyFormat tr {
 font-family: Verdana, Arial, Helvetica,  sans-serif;
 color:black;
 font-size:8pt;
}

.bodyFormat tr td {
 font-family: Verdana, Arial, Helvetica,  sans-serif;
 color:black;
 font-size:8pt;
 padding:0px 0px 0px 5px;
 border-style: none;
}

/*variable width fixed header table END*/

HR.thickLine {height:3px;
color:blue;}

HR.thinLine {height:1px;color:gray;}
body { }
	
 .validation-fail {
	margin: 5px 0;
	padding: 5px;
	background-color: red;
	color : #FFF;
	font-weight: bold;
}
 .validation-pass {
	margin: 5px 0;
	padding: 5px;
	background-color: green;
	color : #FFF;
	font-weight: bold;
}
.noticeMessage {
		display: block;
		float: right;
		font-weight: normal;
		font-family:Arial, Verdana, sans-serif;
		color:#663;
		font-size:0.9em;
	}
input.validation-failed, textarea.validation-failed {
	border: 1px solid #FF3300;
	
}
	
.pageSubContentTitle {
			color:#8e8e8e;
			font-size:1em;
			font-family:Verdana, Arial, sans-serif;
			margin-bottom:0.75em;
	}
	.small {
		width: 2.5em;
	}
	.medium {
		width: 10em;
	}
	.long {
		width: 20em;
	}

	span.invalid, span.missing {
		display: inline;
		margin-left: 1em;
		font-weight: bold;
		font-style: italic;
		font-family: Arial, Verdana, sans-serif;
		color: #f66;
		font-size: 0.9em;
	}
	.alert {font-family: Verdana, Arial, Helvetica,  sans-serif;
	color:red;
	font-size:8pt;}

#notification {
	position: fixed;
	bottom: 0;
	padding: 0;
	height: 30px;
	margin: 0;
	width: 100%;
	background-color: #d7d7d7;
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 0.85em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-top: 5px;
}
html,body {
	height: 100%;
}

html {
	padding: 0 0 20px 0;  /* create area for notification area */
}	

/*****************************************/

table.reportborder {
border-width: 2px 2px 2px 2px;
border-style: groove groove groove groove;
border-color: #ccccff #ccccff #ccccff #ccccff;}


TR.reportGraphRow {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
background-color:#cccccc;
}

TR.reportGraphBar {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:white;
font-size:8pt;
background-color:#990000;
}

TD.reportGraphRow {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:7pt;
font-weight:normal;}

/*****************************************/

div.clSlideMenu{ /* All slideMenu2 DIV elements */
	position:absolute;
	font-family:verdana,arial,helvetica;
	font-size:10px;
	overflow:hidden;
	width:150;
	height:22;
}
a.clA0{ /* All top level links */
	color:#ffffff;
	font-size:10px;
	text-decoration:none;
	font-weight:bold;
}
 
A:hover {color: red; }

a.clA1{ /* All sub level links */
	color:black;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
}
a.clA2{ /* All sub2 level links */
	color:navy;
	text-decoration:none;
}
a.clA3{ /* All sub3 level links */
	color:black;
	text-decoration:none;
}
a.clA4{ /* All sub4 level links */
	color:green;
	text-decoration:none;
}

/* NEEDED STYLES */
div.slideMenuBG{position:absolute; left:0; top:0; z-index:1}
div.slideMenuText{position:absolute; left:6; top:2; z-index:200;}
/* NEEDED ----- This class should be named like this:
	#NAME_OF_YOUR_MENUcont
*/
#slideMenucont{position:absolute;	height:500; width:200; visibility:hidden;}


/************ Vs 8 **********/


DIV.tabDefTopN Table {border-style: none;  background-color:#f7f7f7;}

DIV.tabDefTopn TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;}

DIV.tabDefTopN TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

DIV.tabDefTopn  A:hover {color:red;}

DIV.tabDefTopN  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabDefBotN Table {border-style:none;  border-collapse: collapse; background-color:#f7f7f7;}

DIV.tabDefBotN A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;
}

DIV.tabDefBotN  A:hover {color:red;}

DIV.tabDefBotN  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabDefBotN TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;
border-color:#cccccc;}

DIV.tabDefBotN TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;}



DIV.BrowserTopn TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;}

DIV.BrowserTopn TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

DIV.BrowserTopn A:hover {color:red;}

DIV.BrowserTopn BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.BrowserBotN Table {border-style:none;  border-collapse: collapse; background-color:#f7f7f7;}

DIV.BrowserBotN A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;
}

DIV.BrowserBotN A:hover {color:red;}

DIV.BrowserBotN BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.BrowserBotN TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

DIV.BrowserBotN TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;}


DIV.tabFormTopN A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.tabFormTopN Table {border-style: none;}

DIV.tabFormTopN TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;}

DIV.tabFormTopN  A:hover {color:red;}

DIV.tabFormTopN TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

DIV.tabFormTopN  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabFormBotN Table {border-style:none;  border-collapse: collapse;}

DIV.tabFormBotN A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.tabFormBotN  A:hover {color:red;}

DIV.tabFormBotN  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabFormBotN TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

DIV.tabFormBotN TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;}

DIV.tabFormBotNInv Table {border-style:none;  border-collapse: collapse;}

DIV.tabFormBotNInv A {font-family: Verdana, Arial, Helvetica,  sans-serif;
text-decoration:underline;
color:blue;
font-weight:bold;
font-size:7pt;}

DIV.tabFormBotNInv  A:hover {color:red;}

DIV.tabFormBotNInv  BUTTON {font-family:Verdana, Arial, Helvetica,  sans-serif;
font-size:9pt;}

DIV.tabFormBotNInv TD {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size:8pt;}

DIV.tabFormBotNInv TH {padding: 4px 10px; background:#D8D8DA url(../../images/yuilookandfeel/normalgred.gif) repeat-x ; font:10px verdana; color:#000; border-bottom:1px solid #7F7F7F; border-right:1px solid #CBCBCB;border-top:1px solid #7F7F7F; border-left:1px solid #CBCBCB;}

/*new styles*/

DIV.tableDefault INPUT {
        border:1px solid #CBCBCB;
        -moz-border-radius:8px; -webkit-border-radius: 8px;
}

DIV.tableDefault SELECT {
        border:2px solid #CBCBCB;
        -moz-border-radius:5px; -webkit-border-radius: 5px;
}		 

DIV.tableDefault TEXTAREA {
        border:1px solid #CBCBCB;
        -moz-border-radius:8px; -webkit-border-radius: 8px;
}

/************ P tag for Section Headings **********/
P.sectionHeadings {font-family: Verdana, Arial, Helvetica,  sans-serif;
color:black;
font-size: 9pt;
font-weight:bold;
background-color: #e1dce0;
background-image: url(../../images/mgPanelimages/gradients_default.png)
}
/****************************************/