/******************************************************************************************
*******************************************************************************************
GARUDA STYLES STARTS
*******************************************************************************************
******************************************************************************************/

table.displaycdr thead th {
	 border:1px solid #cdcccb; background-color:#bee5e8;
	 color:#333333;
}
table.display thead th {
	 border:1px solid #cdcccb; background-color:#bee5e8;
	 color:#333333;
}
form fieldset {
	border:1px solid #d2d2d2;
}

form fieldset legend {
	color: #124f7f;
}

form button, form input[type=button],form input[type=submit] {
	background:#f59421;
	border:1px solid #dbdad9;
	color: #ffffff;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background:#f59421;
	border:1px solid #dbdad9;
	color: #ffffff;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	background-color:#f59421;
}
.ui-datepicker-calendar .ui-state-active,.ui-datepicker-calendar .ui-widget-content .ui-state-active,.ui-datepicker-calendar .ui-widget-header .ui-state-active{
	background: #F8DA4E;
    border: 1px solid #FCD113;
    color: #915608;
    font-weight: bold;
}
.ui-datepicker-calendar .ui-state-hover,.ui-datepicker-calendar .ui-widget-content .ui-state-hover,.ui-datepicker-calendar .ui-widget-header .ui-state-hover,.ui-datepicker-calendar .ui-state-focus,.ui-datepicker-calendar .ui-widget-content .ui-state-focus,.ui-datepicker-calendar .ui-widget-header .ui-state-focus {
    background: #ffffff;
    color: #aaaaaa;
    border:1px solid #aaaaaa;
}
.ui-datepicker-calendar .ui-state-highlight,.ui-datepicker-calendar .ui-widget-content .ui-state-highlight,.ui-datepicker-calendar .ui-widget-header .ui-state-highlight {
    background: #EDE0AB;
    border: 1px solid #F54921;
    color: #CC7C1B;
    font-weight: bold; 
}
.button{
	background:#f59421;
	border:1px solid #dbdad9;
	color: #ffffff;
}
form button:hover,form input[type=button]:hover {
	background-color:#f59421;
}
tr.odd {
	background-color: #ececec;
}
tr.even {
	background-color: white;
}
table tbody tr.odd td{
	background-color: #ececec;
}

table tbody tr.even td{
	background-color: white;
}
tr.odd td.sorting_1 {
	background-color: #dbdbdb;
}
tr.even td.sorting_1 {
	background-color: #ececec;
}

.maincontainer{
	background: #f7f7f7;
	color:black;
}
/* Component containers
----------------------------------*/
DIV.ui-widget-content { border: 1px solid #0073ae; background: #ffffff; color: #333333; }
DIV.ui-widget-content a { color: #0000ff;   }
DIV.ui-widget-header { border: 1px solid #0073ae; background: #0073ae; color: #ffffff;text-align: center;}
DIV.ui-widget-header .ui-icon {background-image: url(../../images/ui-icons_d8e7f3_256x240.png); }
DIV.ui-datepicker th{border:1px solid #f54921; background-color:#ede0ab;color:#cc7c1b;}
.ui-icon-report{background-image: url(../../images/file.gif) !important;cursor: pointer;}
.ui-progressbar-value.ui-widget-header{color:#F59421;}
/*Static Panel*/
.viewcbutoppanel{
		background: #bee5e8;
		border: 1px solid #dbdad9;
	}
.innerDiv{
		background: #ffffff;
	}
.outterDiv{
		background: #bee5e8;
		padding: 5px;
	}
	
/* Action Buttons*/
a.actionbutton {
background: transparent url(../../images/actionbuttons/button_right.jpg) no-repeat scroll top right;
color: #333333;
}
a.actionbutton span {
background: transparent url(../../images/actionbuttons/button_left.jpg) no-repeat;
color: #333333;
}

/*Static Panel Quick link Panel*/

DIV.quicklinkpanel{
	background:#cdcccb;
	border:1px solid #dbdad9;
	color:#333333;
}

img {
	width: auto;
	height: auto;
}

.ui-icon {
    height: 16px;
    width: 16px;
}
.posrel{
	background: #ffffff;
	border: 1px solid #0073AE;
}
.portlet .portlet-content .portlet-header{
	background: #ede0ab;
	font-size: 14px;
	color: #333333;
	border: 1px solid #ede0ab;
}
td.ui-progressbar.ui-widget-content{
	background: none;
	border: none;
}
td.ui-progressbar DIV.ui-widget-header{
	background: #dbdad9;
	border: 1px solid #dbdad9;
}
td.ui-progressbar.progressbarselected DIV.ui-widget-header{
	background: url("../../images/pfprogressbar.jpg") repeat scroll  transparent;
	border: none;
}
td.ui-progressbar.UnCompleTask DIV.ui-widget-header{
	background: #A1A09F;
	border: 1px solid #A1A09F;
}