DIV.scroll {visibility:visible;position:absolute; width:616;height:560;}
p {  font-size: 9pt; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #000066; text-decoration: none}
h1 {   font-size: 20px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #000066; text-decoration: none}
h2 {   font-size: 16px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #000066; text-decoration: none}
h3 {   font-size: 14px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #330099; text-decoration: none}
h4 {   font-size: 14px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #000066; text-decoration: none}
h5 {   font-size: 12px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #0000AA; text-decoration: none}
h6 {   font-size: 12px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #FFFFFF; text-decoration: none}
a:active {  color: #3300FF; text-decoration: none}
a:hover {  color: #CC0000; text-decoration: none}
a:link {  color: #3300FF; text-decoration: none}
a:visited {  color: #3300FF; text-decoration: none}
em {  font-weight: bolder; font-style: italic; font-size: larger}
small {font-family: Verdana, Helvetica, sans-serif; font-size: 8pt; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #0033CC; text-decoration: none}
blockquote {   font-size: 10pt; font-weight: normal; color: #000066}
ul {   font-size: 10pt; font-weight: normal}
br {   font-size: 10pt; font-weight: normal}
td {   font-size: 10pt; color: #000066}
div {   font-size: 10pt; font-style: normal; font-weight: normal; text-decoration: none; color: #000066}
tr {   font-size: 10pt; font-style: normal; font-weight: normal; color: #000066}
b {   font-weight: bold}