<LINK REL="stylesheet" TYPE="text/css" HREF="menusie.css" />
<SCRIPT LANGUAGE="JScript" SRC="menusie.js"></SCRIPT>
<SCRIPT>

	function openwin() {

      window.open("#","Information","toolbar=no,scrollbars=yes,resizable=yes,menubar=no,width=500,height=400")

;}
</Script>

   <DIV ID="divMenuBar" CLASS="clsMenuBarItem">
	  <DIV Class="clsMenuBarItemPict" id="tdMenuBarItemPict1">
			<img src = "../images/jpg/left_menu_pict.jpg" width="17" height="25">   
	  </DIV>
        <DIV CLASS="clsMenuBarItem" Id="tdMenuBarItem1" MAX = 8 >  
    	         <!-- <div Class="clsMenuBarItemRightPict" > -->	
				<A HREF="myHome.jsp?srcmenu=tdMenuBarItem1">My Homepage</A>
		   <!-- </div> -->
	  </DIV> 	
	<DIV Class="clsMenuBarItemPict" id="tdMenuBarItemPict2">
		<img src = "../images/jpg/left_menu_pict.jpg" width="17" height="25">  
	</DIV>
    	<DIV CLASS="clsMenuBarItem" Id="tdMenuBarItem2" MAX =8>Manage Account</DIV>
	<DIV Class="clsMenuBarItemPict" id="tdMenuBarItemPict3">
		<img src = "../images/jpg/left_menu_pict.jpg" width="17" height="25">
	 </DIV>
    	<DIV CLASS="clsMenuBarItem" Id="tdMenuBarItem3" MAX =8>Manage Protocols</DIV>
			
	<DIV Class="clsMenuBarItemPict" id="tdMenuBarItemPict4">
		<img src = "../images/jpg/left_menu_pict.jpg" width="17" height="25">
	 </DIV>
   	<DIV CLASS="clsMenuBarItem" Id="tdMenuBarItem4" MAX =8>Library</DIV>
	
	<DIV Class="clsMenuBarItemPict" id="tdMenuBarItemPict5">	
		<img src = "../images/jpg/left_menu_pict.jpg" width="17" height= "25">
	</DIV>
		<DIV CLASS="clsMenuBarItem" Id="tdMenuBarItem5" MAX =8>	Manage Patients</DIV>
	<DIV Class="clsMenuBarItemPict" id="tdMenuBarItemPict6">
		<img src = "../images/jpg/left_menu_pict.jpg" width="17" height= "25">
	 </DIV>
	    <DIV CLASS="clsMenuBarItem" Id="tdMenuBarItem6" MAX =8>
			<A HREF="accountreports.jsp?selectedTab=1&srcmenu=tdmenubaritem6" >Reports</A></DIV>
	
	<DIV Class="clsMenuBarItemPict" id="tdMenuBarItemPict7">
		<img src = "../images/jpg/left_menu_pict.jpg" width="17" height= "25">
	 </DIV>
	 
    	<DIV CLASS="clsMenuBarItem" Id="tdMenuBarItem7" MAX =8>Help</DIV>

	<DIV Class="clsMenuBarItemPict" id="tdMenuBarItemPict8">
		<img src = "../images/jpg/left_menu_pict.jpg" width="17" height= "25">  </DIV>
    
		<DIV  CLASS="clsMenuBarItem" Id="tdMenuBarItem8" MAX =8>
		<A HREF="logout.jsp" >Logout</A> 
      </DIV>

	<!-- BUILD INDIVIDUAL MENUS 	-->
	<!--<DIV CLASS="clsMenu" ID="divMenu1">
			<DIV CLASS="clsMenuSpacer"></DIV>
	<DIV><img src = "../images/jpg/submenu_pict.jpg"></DIV>
	<DIV id="submenuItem">
			<A HREF="#">Overview</A>
	</DIV>
	<DIV><img src = "../images/jpg/submenu_pict.jpg"></DIV>
	<DIV id="submenuItem"><A HREF="myHome.jsp?srcmenu=tdMenuBarItem1">My Homepage</A>
	</DIV>	
	</DIV>
	-->
	
	<DIV CLASS="clsMenu" ID="divMenu2">	
		<DIV CLASS="clsMenuSpacer" ></DIV>
	<DIV><img src = "../images/jpg/submenu_pict.jpg"></DIV>
			<DIV id="submenuItem">
                  <A HREF="sitebrowser.jsp?srcmenu=tdMenuBarItem2">Organizations</A>
	</DIV>
	<DIV><img src = "../images/jpg/submenu_pict.jpg"></DIV>
			<DIV id="submenuItem"><A HREF="groupbrowser.jsp?srcmenu=tdMenuBarItem2">Groups</A>
	</DIV>
	<DIV><img src = "../images/jpg/submenu_pict.jpg"></DIV>
			<DIV id="submenuItem"><A HREF="accountbrowser.jsp?srcmenu=tdMenuBarItem2">Users</A>
	</DIV>
	<DIV><img src = "../images/jpg/submenu_pict.jpg"></DIV>
 		<DIV id="submenuItem"><A HREF="ulinkBrowser.jsp?srcmenu=tdMenuBarItem2&selectedTab=2">Personalize Account</A>
	</DIV>
	</DIV>
	<DIV CLASS="clsMenu" ID="divMenu3">
		<DIV CLASS="clsMenuSpacer" ></DIV>
		<DIV><img src = "../images/jpg/submenu_pict.jpg"></DIV>
		<DIV id="submenuItem"><A HREF="studywizard.jsp?srcmenu=tdMenuBarItem3">New</A>
		</DIV>
		<DIV><img src = "../images/jpg/submenu_pict.jpg"></DIV>
		<DIV id="submenuItem"><A HREF="userStudies.jsp?srcmenu=tdMenuBarItem3">Open</A>
		</DIV>
	</DIV>
	<DIV CLASS="clsMenu" ID="divMenu4">
		<DIV CLASS="clsMenuSpacer" ></DIV>
		<DIV><img src = "../images/jpg/submenu_pict.jpg"></DIV>
		<DIV id="submenuItem"><A HREF="protocollist.jsp?mode=N&srcmenu=tdmenubaritem4&selectedTab=1&calledFrom=L">Protocol Calendar</A>
		</DIV>
		<DIV><img src = "../images/jpg/submenu_pict.jpg"></DIV>
		<DIV id="submenuItem"><A HREF="#">Event Library</A>
		</DIV>
	</DIV>

	<DIV CLASS="clsMenu" ID="divMenu5">
		<DIV CLASS="clsMenuSpacer" ></DIV>
		<DIV><img src = "../images/jpg/submenu_pict.jpg"></DIV>
		<DIV id="submenuItem"><A HREF="patientdetails.jsp?srcmenu=tdmenubaritem5&mode=N&selectedTab=1&pkey=&page=patient">New</A>
		</DIV>
		<DIV><img src = "../images/jpg/submenu_pict.jpg"></DIV>
		<DIV id="submenuItem"><A HREF="studypatients.jsp?srcmenu=tdmenubaritem5&studyId=&patid=&patstatus=&openMode=F">Open</A>
		</DIV>
	</DIV>

<DIV CLASS="clsMenu" ID="divMenu7">
		<DIV CLASS="clsMenuSpacer" ></DIV>
		<DIV><img src = "../images/jpg/submenu_pict.jpg"></DIV>
		<DIV id="submenuItem"><A href="ereshelp.jsp" target="Information" onclick="openwin()">Online Help</A>
		</DIV>
		<DIV><img src = "../images/jpg/submenu_pict.jpg"></DIV>
		<DIV id="submenuItem"><A  href="contactus.html" target="Information" onclick="openwin()">Contact Us</A>
		</DIV>
		<DIV><img src = "../images/jpg/submenu_pict.jpg"></DIV>
		<DIV id="submenuItem"><A href="termsofservice.html" target="Information" onclick="openwin()">Terms of 		Service</A>
		</DIV>
		<DIV><img src = "../images/jpg/submenu_pict.jpg"></DIV>
		<DIV id="submenuItem"><A  href="privacypolicy.html" target="Information" onclick="openwin()">Privacy 		Policy</A>
		</DIV>
	</DIV>


</div>
	<DIV  Class="clsMenuBarItemLastPict" Id="tdMenuBarItemLastPict">
		<img src = 	"../images/jpg/left_menu_pic_line.jpg" width="17" >  
	</DIV>
