<script>
$(function() {
	$('#previouse').attr("disabled", true);
	$('#next').attr("disabled", false);	
	$('#currentPage').val("s1");
	$( ".column" ).sortable({
		connectWith: ".column"
	});

	$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" ).find( ".portlet-header" )
	.addClass( "ui-widget-header ui-corner-all" ).prepend( "<span class='ui-icon ui-icon-minusthick'></span>");
	

	$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" ).find( ".notes" )
	.append("<span style=\"float:right;\" class='ui-notes'></span>");

	/**for Next Button Start**/
	$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" ).find( ".next" )
	.append("<span style=\"float:right;\" class='ui-next'></span>");
	
	$( ".portlet-header .ui-next " ).click(function() {
		loadPage('html/physician/s2.html');	
	});
	/**for Next Button End**/
	
	$( ".portlet-header .ui-notes " ).click(function() {
		showNotes('open');
	});

	

	$( ".portlet-header .ui-icon" ).click(function() {
		$( this ).toggleClass( "ui-icon-minusthick" ).toggleClass( "ui-icon-plusthick" );
		$( this ).parents( ".portlet:first" ).find( ".portlet-content" ).toggle();
	});

	$('.searchtable').dataTable({"aaSorting": [[ 1, "asc" ]]});	
});



$(document).ready(function() {
	oTable = $('#pendingRecipientTable').dataTable({
		"bJQueryUI": true
	});
	oTable.thDatasorting('pendingRecipientTable');
	$("select").uniform();
	$.ui.dialog.defaults.bgiframe = true;
	
});

</script>

<div class="cleaner"></div>

<!-- section ends here-->

<section>

 <div class="cleaner"></div>
	
	
<div class="column">		
		<div  class="portlet">
			<div class="portlet-header notes next">Pending Recipient List</div><br>
		<div class="portlet-content">
		<div id="button_wrapper" align="center"><input class="scanboxSearch" type="text" size="25" placeholder="" value="John Wilson" name="search" /></div>
		<table cellpadding="0" cellspacing="0" border="0" id="pendingRecipientTable" class="display">
		<thead>
			<tr>
				<th colspan="1">Recipient Id</th>
				<th colspan="1">Recipient Name</th>
				<th colspan="1">Diagnosis</th>
				<th colspan="1">Planned Protocol</th>
				<th colspan="1">Planned Infusion Date</th>
				
			</tr>
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>MDA789565</td>
				<td>Mary White</td>
				<td>Lymphoma</td>
				<td>N/A</td>
				<td>Sep 2,2011</td>				
			</tr>
			<tr>
				<td>MDA789566</td>
				<td>Lary Smith</td>
				<td>Leukemia</td>
				<td>N/A</td>
				<td>Sep 2,2011</td>				
			</tr>
			<tr>
				<td>MDA789567</td>
				<td>Tony Lee</td>
				<td>Leukemia</td>
				<td>N/A</td>
				<td>Sep 2,2011</td>				
			</tr>
		</tbody>
		</table>			
			</div>
		</div>
	</div>
	
 