<script>
$(function() {
	$('#previouse').attr("disabled", true);
	$('#next').attr("disabled", false);	
	$('#currentPage').val("home");
	$( ".column" ).sortable({
		connectWith: ".column"
	});

	$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" ).find( ".portlet-header" )
	.addClass( "ui-widget-header ui-corner-all" ).prepend( "<span class='ui-icon ui-icon-minusthick'></span>");
	

	$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" ).find( ".notes" )
	.append("<span style=\"float:right;\" class='ui-notes'></span>");

	$( ".portlet-header .ui-notes " ).click(function() {
		showNotes('open');
	});


	$( ".portlet-header .ui-icon" ).click(function() {
		$( this ).toggleClass( "ui-icon-minusthick" ).toggleClass( "ui-icon-plusthick" );
		$( this ).parents( ".portlet:first" ).find( ".portlet-content" ).toggle();
	});

	$('.searchtable').dataTable({"aaSorting": [[ 1, "asc" ]]});	
});

$(document).ready(function() {
//$('#table111').dataTable({"aaSorting": [[ 1, "desc" ]]});
	oTable = $('#availableProducts').dataTable({
		"bJQueryUI": true
	});
	oTable.thDatasorting('availableProducts');
	$.ui.dialog.defaults.bgiframe = true;
});

</script>

<div class="cleaner"></div>

<!-- section ends here-->

<section>

 <div class="cleaner"></div>
	
	
<div class="column">		
		<div  class="portlet">
			<div class="portlet-header notes">Available Products</div><br>
		<div class="portlet-content">
		<div id="button_wrapper" align="center"><input class="scanboxSearch" type="text" size="25" placeholder="" value="John Wilson" name="search" /></div>
		<table cellpadding="0" cellspacing="0" border="0" id="availableProducts" class="display">
		<thead>
			<tr>
				<th colspan="1">Donor Type</th>
				<th colspan="1">Donor Name</th>
				<th colspan="1">Donor ID</th>
				<th colspan="1">Protocol Type</th>				
			</tr>
			<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>ALLO-related</td>
				<td>Mary Wilson</td>
				<td>MDA789569</td>
				<td>HPC-A</td>
			</tr>
			<tr>
				<td>ALLO-related</td>
				<td>Mary Wilson</td>
				<td>MDA789569</td>
				<td>HPC-A</td>
			</tr>
			<tr>
				<td>ALLO-unrelated</td>
				<td>Lisa White</td>
				<td>MDA987421</td>
				<td>HPC-M</td>
			</tr>
			<tr>
				<td>ALLO-unrelated</td>
				<td>Lisa White</td>
				<td>MDA987421</td>
				<td>HPC-M</td>
			</tr>
		</tbody>
		</table>			
			</div>
		</div>
	</div>
	
 